<div class="row" data-ng-controller="GnOpenwisProductMetadataController">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">productMetadata</div>
      <div class="panel-body">
        <table datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="row-border hover" style="width: 1800px">
          <thead>
          <tr>
            <th>Metadata Id</th>
            <th>Metadata Identifier</th>
            <th>Metadata Title</th>
            <th>Metadata Category</th>
            <th>Originator</th>
            <th>Process</th>
            <th>GTS Category</th>
            <th>FNC Pattern</th>
            <th>Priority</th>
            <th>Data Policy</th>
            <th>Local Data Resource</th>
            <th>Ingested</th>
            <th>Fed</th>
            <th>File Extension</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="m in data">
            <td>{{ m.metadataId }}</td>
            <td>{{ m.metadataUrn }}</td>
            <td>{{ m.metadataTitle }}</td>
            <td>{{ m.metadataCategory }}</td>
            <td>{{ m.originator }}</td>
            <td>{{ m.process }}</td>
            <td>{{ m.gtsCategory }}</td>
            <td>{{ m.fncPattern }}</td>
            <td>{{ m.priority }}</td>
            <td>{{ m.dataPolicy }}</td>
            <td>{{ m.localDataResource }}</td>
            <td>{{ m.isIngested }}</td>
            <td>{{ m.isFed }}</td>
            <td>{{ m.fileExtension }}</td>
            <td ></td>
          </tr>
          </tbody>

          <tfoot>
          <tr>
            <th>Metadata Id</th>
          <th>Metadata Identifier</th>
          <th>Metadata Title</th>
          <th>Metadata Category</th>
          <th>Originator</th>
          <th>Process</th>
          <th>GTS Category</th>
          <th>FNC Pattern</th>
          <th>Priority</th>
          <th>Data Policy</th>
          <th>Local Data Resource</th>
          <th>Ingested</th>
          <th>Fed</th>
          <th>File Extension</th>
          <th>Actions</th>
          </tr>
          </tfoot>
        </table>

        <div id="deleteMetadata" class="modal fade" tabindex="-1"
             role="dialog" style="display: none"
             data-ng-controller="GnOpenwisMetadataDeleteModalController">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Delete Metadata</h3>
              </div>
              <div class="modal-body">
                <p>Do you want to delete the metadata?</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="button"
                        data-ng-click="ok()" data-translate="">Yes</button>
                <button class="btn btn-warning" type="button"
                        data-ng-click="cancel()" data-translate="">No</button>
              </div>
            </div>
          </div>
        </div>


        <div id="addToIngestionFilter" class="modal fade modal-stack" tabindex="-1"
             role="dialog" style="display: none"
             data-ng-controller="GnOpenwisProductMetadataModalFilterController">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Add To Ingestion Filter</h3>
              </div>
              <div class="modal-body">
                <form role="form">
                  <div class="row">
                    <div class="form-group">
                      <label class="control-label">Description:</label>
                      <input type="text" class="form-control" name="description" data-ng-model="filter.description" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group">
                      <label class="control-label">Regex:</label>
                      <input type="text" class="form-control" name="regex" data-ng-model="filter.regex" />
                    </div>
                  </div>

                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="button"
                        data-ng-click="saveToIngestionFilter()" data-translate="">Save</button>
                <button class="btn btn-warning" type="button"
                        data-ng-click="cancelToIngestionFilter()" data-translate="">Cancel</button>
              </div>
            </div>
          </div>
        </div>

        <div id="addToFeedingFilter" class="modal fade modal-stack" tabindex="-1"
             role="dialog" style="display: none"
             data-ng-controller="GnOpenwisProductMetadataModalFilterController" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Add To Feeding Filter</h3>
              </div>
              <div class="modal-body">
                <form role="form">
                  <div class="row">
                    <div class="form-group">
                      <label class="control-label">Description:</label>
                      <input type="text" class="form-control" name="description" data-ng-model="filter.description" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group">
                      <label class="control-label">Regex:</label>
                      <input type="text" class="form-control" name="regex" data-ng-model="filter.regex" />
                    </div>
                  </div>

                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="button"
                        data-ng-click="saveToFeedingFilter()" data-translate="">Save</button>
                <button class="btn btn-warning" type="button"
                        data-ng-click="cancelToFeedingFilter()" data-translate="">Cancel</button>
              </div>
            </div>
          </div>
        </div>

        <div id="editProductMetadata" class="modal fade" tabindex="-1"
             role="dialog" style="display: none"
             data-ng-controller="GnOpenwisProductMetadataModalController">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Edit Product Metadata</h3>
              </div>
              <div class="modal-body">
                <form role="form">
                  <div class="row">
                    <div class="col-sm-4">
                      <strong>Metadata URN:</strong>
                    </div>
                    <div class="col-sm-8">
                      {{product.urn}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong>Metadata Title:</strong>
                    </div>
                    <div class="col-sm-8">
                      {{product.title}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong>Originator:</strong>
                    </div>
                    <div class="col-sm-8">
                      {{product.originator}}
                    </div>
                  </div>

                  <hr/>

                  <div class="row">
                    <div class="col-sm-6">
                        <strong>GTS Category:</strong>{{product.gtsCategory}}
                    </div>

                    <div class="col-sm-6 form-group">
                      <label class="control-label" for="overridenGtsCategory"> Overriden GTS Category:</label> <input type="text" class="form-control" id="overridenGtsCategory" name="overridenGtsCategory" data-ng-model="product.overridenGtsCategory" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <strong>Data Policy:</strong>{{product.dataPolicy}}
                    </div>

                    <div class="col-sm-6 form-group">
                      <label class="control-label" for="overridenDataPolicy" >Overriden Data Policy:</label>
                      <select class="form-control" id="overridenDataPolicy" name="overridenDataPolicy" data-ng-model="product.overridenDataPolicy">
                        <option value="additional-default">Additional Default</option>
                        <option value="public">Public</option>
                        <option value="unknown">Unknown</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <strong>FNC Pattern:</strong>{{product.fncPattern}}
                    </div>
                    <div class="col-sm-6 form-group">
                      <label for="overridenFncPattern">Overriden FNC Pattern:</label> <input type="text" id="overridenFncPattern" name="overridenFncPattern" class="form-control" data-ng-model="product.overridenFncPattern" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <strong>GTS Priority:</strong>{{element.priority}}
                    </div>
                    <div class="col-sm-6 form-group">
                      <label for="overridenPriority">Overriden GTS Priority:</label> <input type="number" id="overridenPriority" name="overridenPriority" class="form-control" data-ng-model="product.overridenPriority" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <strong>File Extension:</strong>{{element.fileExtension}}
                    </div>
                    <div class="col-sm-6 form-group">
                      <label for="overridenFileExtension">Overriden File Extension:</label> <input type="text" id="overridenFileExtension" name="overridenFileExtension" class="form-control" data-ng-model="product.overridenFileExtension" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <strong>Ingested:</strong><br/>
                      <button class="btn btn-default" data-ng-click="addIngestFilter()">Add Ingestion Filter</button>
                    </div>
                    <div class="col-sm-6 form-group">
                      <strong>Fed:</strong><br/>
                      <button class="btn btn-default" data-ng-click="addFeedingFilter()">Add Feeding Filter</button>
                    </div>
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="button"
                        data-ng-click="ok()" data-translate="">Save</button>
                <button class="btn btn-warning" type="button"
                        data-ng-click="cancel()" data-translate="">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>