<div class="btn-group gn-select">
  <button type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">
    <i class="fa"
       data-ng-click="select()"
       data-ng-class="getIcon()"></i>&nbsp;
    <span data-ng-show="searchResults.selectedCount > 0"
          class="badge">{{searchResults.selectedCount}}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href=""
           data-ng-click="selectAllInPage(true)"
           data-translate="">allInPage</a></li>
    <li><a href=""
           data-ng-click="selectAll()"
           data-translate="">all</a></li>
    <li><a href=""
           data-ng-click="unSelectAll()"
           data-translate="">none</a></li>
  </ul>
</div>
<div class="btn-group gn-selection-actions" ng-if="searchResults.selectedCount > 0 && !withoutActionMenu">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span translate>selected</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="" ng-click="mdService.metadataMEF()">
      <i class="fa fa-file-zip-o"></i>&nbsp;<span translate>exportMEF</span></a></li>
    <li><a href="" ng-click="mdService.metadataPrint(searchObj.params)">
      <i class="fa fa-file-pdf-o"></i>&nbsp;<span translate>exportPDF</span></a></li>
    <li><a href="" ng-click="mdService.exportCSV()">
      <i class="fa fa-file-excel-o"></i>&nbsp;<span translate>exportCSV</span></a></li>
    <li ng-if="authenticated" class="disabled"><a href="" ng-click="" >
      <i class="fa fa-send-o"></i>&nbsp;<span translate>sendMail</span></a></li>
    <li ng-if="authenticated" class="disabgit led"><a ng-click="mdService.publish(undefined, 'on')" >
      <i class="fa fa-unlock"></i>&nbsp;<span translate>publish</span></a></li>
    <li ng-if="authenticated" class="disabgit led"><a ng-click="mdService.publish(undefined, 'off')" >
      <i class="fa fa-lock"></i>&nbsp;<span translate>unpublish</span></a></li>
    <li ng-if="authenticated" class="disabled"><a href="" ng-click="" >
      <i class="fa fa-user"></i>&nbsp;<span translate>newOwner</span></a></li>
    <li ng-if="authenticated" class="disabled"><a href="" ng-click="" >
      <i class="fa fa-folder-o"></i>&nbsp;<span translate>updateCategories</span></a></li>
    <li ng-if="authenticated"><a href="" ng-click="mdService.openPrivilegesBatchPanel(getCatScope())" >
      <i class="fa fa-key"></i>&nbsp;<span translate>updatePrivileges</span></a></li>
    <li ng-if="authenticated"><a href="" ng-click="mdService.deleteMd()" >
      <i class="fa fa-trash-o"></i>&nbsp;<span translate>delete</span></a></li>
    <li ng-if="authenticated" class="disabled"><a href="" ng-click="" >
      <i class="fa fa-table"></i>&nbsp;<span translate>index</span></a></li>
    <li ng-if="authenticated" class="disabled"><a href="" ng-click="" >
      <i class="fa fa-share-square-o"></i>&nbsp;<span translate>exportSummary</span></a></li>
  </ul>
</div>
