<fieldset>
    <legend data-translate="">harvestedRecordPrivileges</legend>

    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" data-ng-click="visibleTo('all')" id="gn-harvester-visible-all">
            <input type="radio" name="options">
                <span data-translate="">visibleToAll</span>
        </label>
        <label class="btn btn-primary" data-ng-click="visibleTo('none')" id="gn-harvester-visible-none">
            <input type="radio" name="options"/>
            <span data-translate="">visibleToNobody</span>
        </label>
        <!--<label class="btn btn-primary" data-ng-click="visibleTo('custom')" id="gn-harvester-visible-custom">
            <input type="radio" name="options"/>
            <span data-translate="">customConfiguration</span>
        </label>-->
    </div>
    <p>
        <!-- TODO: Add the more advanced by group mode -->
        
    </p>
</fieldset>
