<fieldset>
  <legend data-translate="">harvestedRecordPrivileges</legend>
  <span class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary" data-ng-click="visibleTo('all')" id="gn-harvester-visible-all">
        <input type="radio" name="options"/>
        <i class="fa fa-unlock"></i>
        {{"visibleToAll"|translate}}
      </label>
      <label class="btn btn-primary" data-ng-click="visibleTo('none')" id="gn-harvester-visible-none">
        <input type="radio" name="options"/>
        <i class="fa fa-lock"></i>
        {{"visibleToNobody"|translate}}
      </label>
  </span>
  <ul class="list-group">
    <li class="list-group-item"><div class="input-group">
	  <div class="input-group-btn"> 
	  <button class="btn btn-default" title="{{'SelectAllorNone'|translate}}">
      <i class="fa"
        data-ng-class="allGroup == true ? 'fa-check-square-o' : 'fa-square-o'"
        data-ng-click="visibleTo('allGroup');">
      </i>
	  </button>
	</div>	  
       <input class="form-control" data-ng-model="groupSearch.$"
           placeholder="{{'filter' | translate}}"/>
	</div>
    </li>
    <li data-ng-repeat="g in groups | filter:groupSearch | orderBy:'name'" class="list-group-item">
      <input type="checkbox" id="group-{{g['@id']}}" data-ng-model="selectedPrivileges[g['@id']]"/>
      <label for="group-{{g['@id']}}">{{g.label[lang]}}</label>
    </li>
  </ul>
</fieldset>
