<fieldset>
    <legend data-translate="">harvesterSchedule</legend>
    
    <div>
        <label class="control-label" data-translate="">every</label>
        <input type="text" class="form-control" 
            data-ng-model="harvester.options.every"/>
    </div>
    
    <div>
        <label class="control-label">
            <input type="checkbox"
                data-ng-model="harvester.options.oneRunOnly"/>
            <span data-translate="">oneRunOnly</label>
        <p class="help-block" data-translate="">oneRunOnlyHelp</p>
    </div>
    
</fieldset>