<div data-ng-show="translationProviderConfigured">
  <div id="gn-harvest-settings-csw-advanced-translate-row">
    <label class="control-label">
      <input
        id="gn-harvest-settings-csw-advanced-translate-checkbox"
        type="checkbox"
        data-ng-model="content.translateContent"
      />

      <span id="gn-harvest-settings-csw-advanced-translate-label" data-translate=""
        >harvesterTranslateContent</span
      >
    </label>

    <p class="help-block" data-translate="">harvesterTranslateContentHelp</p>
  </div>

  <div
    id="gn-harvest-settings-csw-advanced-translatelangs-row"
    data-ng-show="content.translateContent"
  >
    <label
      id="gn-harvest-settings-csw-advanced-translatelangs-label"
      class="control-label"
      data-translate=""
      >harvesterTranslateContentLangs</label
    >
    <div
      data-gn-data-picker=""
      data-source="languageSource"
      data-value="content.translateContentLangs"
      data-element-id="csw-languagepicker"
    ></div>

    <p class="help-block" data-translate="">harvesterTranslateContentLangsHelp</p>
  </div>

  <div
    id="gn-harvest-settings-csw-advanced-translatefields-row"
    data-ng-show="content.translateContent"
  >
    <label
      id="gn-harvest-settings-csw-advanced-translatefields-label"
      class="control-label"
      data-translate=""
      >harvesterTranslateContentFields</label
    >

    <div class="input-group-btn" data-ng-show="xpathExamples.length > 0">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-link btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Examples
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li data-ng-repeat="e in xpathExamples">
            <a href="" data-ng-click="addXpath(e)"> {{e.xpath}} ({{e.schema}}) </a>
          </li>
        </ul>
      </div>
    </div>

    <div
      id="gn-harvest-settings-csw-advanced-translatefields-list"
      style="height: 300px"
      ui-ace="{useWrapMode:true, showGutter:true, mode:'text'}"
      data-ng-model="content.translateContentFields"
    ></div>

    <p class="help-block" data-translate="">harvesterTranslateContentFieldsHelp</p>
  </div>
</div>
