<div class="row">
<div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span data-translate="">harvester</span>
      <i data-ng-show="isLoadingHarvester" class="fa fa-spinner fa-spin"></i>
    </div>

    <div class="panel-body">
      <input class="form-control"
             data-ng-show="harvesters.length > 1"
             data-ng-model="harvesterSearch.$"
             data-ng-change="firstPage()"
             autofocus=""
             placeholder="{{'filter' | translate}}"/>

      <div class="list-group" data-ng-hide="isLoadingHarvester">
        <a href="" class="list-group-item"
           data-ng-repeat="h in pageItems()"
           data-ng-class="[h['@id'] === harvesterSelected['@id'] ? 'active' : '', h.error ? 'list-group-item-danger' : '']"
           data-ng-click="selectHarvester(h)"
           title="{{h.error ? ('selectForError' | translate) : (h.info.lastRun.length === 0 ? '' : ('lastRun' | translate) + (h.info.lastRun | gnFromNow))}}">
          <!-- TODO : Add a tooltip with last run info -->

          <i data-ng-show="h.options.status === 'active'" class="fa fa-play"/>
          <i data-ng-show="h.options.status === 'inactive'" class="fa fa-pause"/> {{h.site.name}}
          ({{('harvester-' + h['@type']) | translate}}) <span class="badge"
            >{{h.info.result.total}}</span>
          <i data-ng-show="h.info.running" class="fa fa-spinner fa-spin"/>
        </a>
        <span data-gn-pagination-list=""
              data-items="harvesters | filter:harvesterSearch | orderBy:'name'"
              data-cache="harvesters"/>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown">
          <i class="fa fa-plus"> </i>
          <span data-translate="">newHarvester</span>
          <span class="caret"/>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li data-ng-repeat="h in getHarvesterTypes() | orderBy:'text'"
              data-ng-class="h.loaded ? '' : 'disabled'">
            <a href="" data-ng-click="addHarvester(h.label)"
               title="{{'harvester-' + h.label + 'Help' | translate}}">{{h.text}}
              <span data-ng-hide="h.loaded" data-translate="">notYetSupported</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="btn-group" data-ng-show="harvesters.length > 0">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		  <span class="fa fa-copy"></span>
          <span data-translate="">cloneHarvester</span>
          <span class="caret"/>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li data-ng-repeat="h in harvesters | orderBy:'site.name'">
            <a href="" data-ng-click="cloneHarvester(h['@id'])"
               title="{{'cloneHarvester' | translate}} {{h.site.name}}"> {{h.site.name}}
              ({{('harvester-' + h['@type']) | translate}}) </a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn" data-ng-show="harvesters.length > 0"
              data-ng-click="refreshHarvester()" title="{{'refreshHarvester' | translate}}">
			  <span class="fa fa-refresh"></span></button>
    </div>
  </div>
</div>


<div class="col-lg-8" data-ng-hide="harvesterSelected['@id'] == null">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span data-ng-hide="harvesterSelected['@id'] == ''" data-translate="">updateHarvester</span>
      <strong data-ng-hide="harvesterSelected['@id'] == ''">{{harvesterSelected.site.name}}</strong>

      <span data-ng-hide="harvesterSelected['@id'] != ''" data-translate="">newHarvester</span>
      <strong data-ng-hide="harvesterSelected['@id'] != ''">{{'harvester-' + harvesterSelected['@type'] | translate}}</strong>


      <div class="btn-toolbar">
        <button type="button" class="btn btn-primary pull-right"
                data-ng-hide="harvesterSelected['@id'] == '' || harvesterSelected.info.running === true"
                data-ng-click="runHarvester(harvesterSelected['@id'])">
		  <span class="fa fa-play"></span>
          <span data-translate="">runHarvester</span>
        </button>
        <button type="button" class="btn btn-primary pull-right"
                data-ng-hide="harvesterSelected['@id'] == '' || harvesterSelected.info.running === false"
                data-ng-click="stopHarvester(harvesterSelected['@id'])"
                data-ng-disabled="stopping">
			<span class="fa fa-stop"></span>
            <span data-translate="">stop</span>
            <i data-ng-show="stopping" class="fa fa-spinner fa-spin"></i>
        </button>
        <button type="button" class="btn btn-primary pull-right"
                data-ng-click="saveHarvester('#gn-harvester-edit')">
          <i class="fa fa-save"></i> <span data-translate="">saveHarvester</span></button>
        <button type="button" class="btn btn-warning pull-right"
                data-ng-hide="harvesterSelected['@id'] == ''"
                data-ng-click="deleteHarvesterRecord(harvesterSelected['@id'])"
                data-ng-disabled="harvesterSelected.info.running === true"
                title="{{'deleteHarvesterRecordsHelp' | translate}}">
		  <span class="fa fa-trash-o"></span>
          <span data-translate=""
                  data-translate-values="{records: '{{harvesterSelected.info.result.total}}'}">
            deleteHarvesterRecords</span>
        </button>
        <button type="button" class="btn btn-danger pull-right"
                data-ng-hide="harvesterSelected['@id'] == ''"
                data-ng-click="deleteHarvester(harvesterSelected['@id'])"
                data-ng-disabled="harvesterSelected.info.running === true"
                title="{{'deleteHarvesterHelp' | translate}}">
		  <span class="fa fa-trash-o"></span>
          <span data-translate="">deleteHarvester</span>
        </button>
      </div>
    </div>
    <div class="panel-body">
      <div class="alert alert-info" data-ng-show="harvesterSelected.info.running === true">
        <strong data-translate="">harvesterIsRunning</strong>
      </div>
      <div class="alert alert-danger" data-ng-show="harvesterSelected.error">
        <strong data-translate="">harvesterError</strong>
        {{harvesterSelected.error['@id']}}
          <pre>
          {{harvesterSelected.error.message}}
          </pre>
      </div>

      <div data-ng-include="getTplForHarvester()"> </div>
    </div>
  </div>

  <div class="panel panel-default" data-ng-hide="harvesterSelected['@id'] == ''">
    <div class="panel-heading">
      <span data-translate="">harvesterHistory</span>
      <i data-ng-show="isLoadingHarvesterHistory" class="fa fa-spinner fa-spin"></i>
      <div class="btn-toolbar">
        <button type="button" class="btn btn-primary pull-right btn-danger"
                data-ng-hide="harvesterHistory.length === 0"
                data-ng-click="deleteHarvesterHistory()">
		  <span class="fa fa-trash-o"></span>
          <span data-translate="">deleteHarvesterHistory</span>
        </button>
      </div>
    </div>
    <div class="panel-body">
      <div class="alert alert-info" data-ng-show="harvesterHistory.length === 0">
        <strong data-translate="">noHarvesterHistory</strong>
      </div>
      <ul class="timeline timeline-1-col" data-ng-show="harvesterHistory.length !== 0">
        <li class="timeline-inverted"
            data-ng-repeat="h in harvesterHistory">
          <div class="timeline-badge"
               data-ng-class="h.deleted == 'true' ? 'warning' : (h.info[0]['stack'] ? 'danger' : 'success')">
            <i class="fa"
               data-ng-class="h.deleted == 'true' ? 'fa-trash-o' : 'fa-chevron-right'"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading" data-ng-if="h.info[0]['stack'] !== undefined">
              <h4 class="timeline-title">
                {{h.info[0]['@id']}}
              </h4>
              <p>
                <small class="text-muted">
                  <i class="fa fa-clock-o"></i>
                  {{ h.harvestdate | gnFromNow }}
                </small>
              </p>
              <div class="timeline-body">
                {{h.info[0]['message']}}

                  <pre><span data-ng-repeat="line in h.info[0]['stack']">{{line['@class']}} {{line['@file']}} ({{line['@line']}}) #{{line['@method']}}
</span></pre>
              </div>
            </div>

            <div class="timeline-heading" data-ng-if="h.info[0]['stack'] === undefined">
              <h4 data-ng-show="h.deleted == 'true'">
                <strong>{{h.info[0][0]['@recordsRemoved']}}</strong>
                <span data-translate="">recordsRemoved</span></h4>
              <h4 data-ng-show="h.deleted == 'false'" class="timeline-title" >
                <strong>{{h.info[0].total}}</strong>
                <span data-translate="">recordsHarvestedIn</span>
                <strong>{{h.elapsedtime}}</strong>
                <span data-translate="">seconds</span>
              </h4>
              <p>
                <small class="text-muted">
                  <i class="fa fa-clock-o"></i>
                  {{ h.harvestdate | gnFromNow }}
                </small>
              </p>
            </div>
            <div class="timeline-body">
              <p>
              <ul>
                <li data-ng-repeat="(k, v) in h.info[0]"
                    data-ng-show="v > 0">
                  {{k}}: {{v}}
                </li>
              </ul>

              <a data-ng-show="h.info[0].logfile"
                 href="admin.harvester.log?file={{h.info[0].logfile}}" target="_blank"
                 data-translate="">logFile</a>
              </p>
            </div>
          </div>
        </li>
      </ul>
      <ul class="pager" data-ng-show="harvesterHistory.length !== 0">
        <li data-ng-class="harvesterHistoryPaging.page == 1 ? 'disabled' : ''" data-ng-show="harvesterHistoryPaging.pages > 0"><a href="" data-ng-click="historyFirstPage()" class="ng-scope">«</a></li>
        <li data-ng-class="harvesterHistoryPaging.page == 1 ? 'disabled' : ''" data-ng-show="harvesterHistoryPaging.pages > 0"><a href="" data-ng-click="historyPreviousPage()" class="ng-scope">‹</a></li>
        <li class="ng-binding">
          {{harvesterHistoryPaging.page}} / {{harvesterHistoryPaging.pages}} <em data-translate="" class="ng-scope">of </em>
          <ng-pluralize count="harvesterHistoryPaging.total" when="{'0 ': ('noRecordFound' | translate), 'one': '1 ' + ('record' | translate), 'other': '{} ' + ('records' | translate)}"></ng-pluralize>
        </li>
        <li data-ng-class="harvesterHistoryPaging.page == harvesterHistoryPaging.pages ? 'disabled' : ''" data-ng-show="harvesterHistoryPaging.pages > 0"><a href="" data-ng-click="historyNextPage()" class="ng-scope">›</a></li>
        <li data-ng-class="harvesterHistoryPaging.page == harvesterHistoryPaging.pages ? 'disabled' : ''" data-ng-show="harvesterHistoryPaging.pages > 0"><a href="" data-ng-click="historyLastPage()" class="ng-scope">»</a></li>
      </ul>
    </div>
  </div>


  <div class="panel panel-default" data-ng-hide="harvesterSelected['@id'] == ''"
       data-ng-search-form=""
       data-ng-show="searchResults.count != 0">
    <div class="panel-heading" data-translate="">harvesterRecords</div>

    <div class="panel-body">
      <!-- This information is not relevant for GeoNetwork protocol
          which attach records to the source catalogs which has different
          UUIDs. TODO -->

      <div data-gn-search-form-results=""
           data-gn-search-form-results-mode="title"
           data-search-results="searchResults"
           data-pagination-info="paginationInfo">
      </div>
    </div>
  </div>
</div>
</div>