<div class="dropdown-header"
    title="{{'exactMatch-help' | translate}}">
  <label>
    <input type="checkbox"
           data-ng-model="searchObj.state.exactMatch"
           aria-label="{{'exactMatch' | translate}}">
    <span data-translate="">exactMatch</span>
  </label>
</div>
<div class="dropdown-header"
    title="{{'titleOnly-help' | translate}}">
  <label>
    <input type="checkbox"
           data-ng-model="searchObj.state.titleOnly"
           aria-label="{{'titleOnly' | translate}}">
    <span data-translate="">titleOnly</span>
  </label>
</div>
