/* @override http://localhost:8080/intermap/intermap-embedded.css? */

/*******************************************************************************
general
*******************************************************************************/


* {
	font-size: 100%; /* without this font sizes are not inherited correctly */
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	margin: 0pt;
	color: #064377;
	background-color: #fff
}

body.darkbg {
	background-color: #266397;
}

body.addmargin {
	margin: 5pt;
}

table, tr, td {
	border-width: 0px;
	border-spacing: 0px;
	border-collapse: collapse; /* border-spacing should be enough, but added for IE compatibility */
	padding: 0px;
}

th {
	text-align: left;
	border-width: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	font-weight: normal;
	font-style: normal;
}

img {
	border-width: 0px;
}

.centered {
	text-align: center;
}

.emphasize {
	font-size: 10pt;
	color: #008080;
	color: teal;
	font-style: italic;
	font-weight: bolder;
}

/*******************************************************************************
*** minimap
*******************************************************************************/

#im_mm_map  {
	border: 1px #b0b0c0 solid;
    	overflow:hidden;
    	z-index: 20;
}

img#im_mm_image  {
	background-color:#efefef;
    	z-index: 10;	
}

.pan #im_mm_image 
{    cursor: move; }

.zoomin #im_mm_image, 
.zoomout #im_mm_image,
.aoi #im_mm_image 
{    cursor: crosshair; }

td.im_mmtool  {
    width:18px;
    height:18px;
}

.im_mmtool, .im_tool  {
	padding: 0px 0px 0px 0px;	
	color: white;
	vertical-align: middle;
	border: 1px black hidden;	
}

.aoi           #im_mmtool_aoi img,
.zoomin     #im_mmtool_zoomin img,
.zoomout   #im_mmtool_zoomout img,
.pan          #im_mmtool_pan img 
{
	background: yellow;
	color: #266397;
}

.im_mmtool img:hover {
	border: 1px blue solid;
	cursor: pointer;
}

.im_tool img, 
.im_mmtool img {
	padding: 2px 2px 2px 2px;
	border: 1px transparent solid;
	width: 16px;
	height: 16px;
	background-color: transparent; /*NEW*/
}

/*******************************************************************************
toolbar
*******************************************************************************/

/*#im_toolbar {
	padding: 0;
	border-bottom: 1px solid #ffffff;
    text-align: left;
	padding: 0;
	margin: 0;		
}

#im_toolbar ul {
    padding:1px 0px 2px;        
    margin: 0px;
    border-bottom: 1px solid gray;        
}

#im_toolbar td {
    border-left: 1px solid #fff;
    text-align: center;
	padding-left: 2px;
	padding-right: 2px;
	border-top: 1px solid white;
}*/

/*.im_tool  {
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
}

.im_tool img {
	padding: 2px 2px 2px 2px;
}*/

#im_toolbar #im_tool_reset  {
	border-right: 1px solid #fff;
/*	padding: 0 2px 0 2px; */
}

/* hilite when selected*/
.aoi           #im_tool_aoi ,
.zoomin     #im_tool_zoomin,
.zoomout   #im_tool_zoomout,
.pan          #im_tool_pan,
.mark        #im_tool_mark ,
.identify     #im_tool_identify 
{
	background: yellow;
	color: #266397;
}

/***********
hovering
************/

/* These buttons are one-shot actions */
#im_tool_fullextent :hover, 
#im_tool_zoomsel :hover,
#im_tool_mark :hover, 
#im_tool_refresh :hover,
#im_tool_reset :hover, 

#im_tool_fullextent img:hover, 
#im_tool_zoomsel img:hover,
#im_tool_mark img:hover, 
#im_tool_refresh img:hover,
#im_tool_reset img:hover
{
	border: 1px blue solid;
	cursor: pointer;
}

/* These buttons are persistent tools */
#im_tool_aoi :hover,
#im_tool_zoomin :hover,
#im_tool_zoomout :hover,
#im_tool_pan :hover, 
#im_tool_identify :hover, 

#im_tool_aoi img:hover,
#im_tool_zoomin img:hover,
#im_tool_zoomout img:hover,
#im_tool_pan img:hover, 
#im_tool_identify img:hover 
{
	border: 1px blue solid;
	cursor: pointer;
}

/*******************************************************************************
*** SUBTOOLBAR
*******************************************************************************/

/*im_subtoolbar*/
#im_subtoolbar img {
    cursor: pointer;
}

/*******************************************************************************
layers frame
*******************************************************************************/

td.even {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #266397;
	background-color: #fff;
	padding: 3px;
}

td.odd {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #266397;
	background-color: #e7edf5;
	padding: 3px;
}

.im_map_name {
	font-size: 10pt;
	color: #008080;
}

.error_link {
	color: #f00;
	font-size: 8pt;
}

.im_layer_tool {
	font-size: 8pt;
}

.im_transp_menu {
	font-size: 8pt;
}

.im_layer_name {
	font-size: 8pt;
}


#im_refresh {
	width: 176px;
}

#im_refresh tr td {
	text-align: center;
	padding-top: 20px;
}

#im_refresh button {
	font-family: Verdana;
	font-size: 9pt;
	color: #000;
	max-width: 400px;
	cursor: pointer;
	border: 1px solid #266397;
	background: #fff;
}

#im_refresh button.im_refresh {
	color: #fff;
	border: 1px solid #266397;
	background: #f00;
}

#im_refresh button.im_disabled {
	color: #fff;
	border: 1px solid #266397;
	background: #ccc;
	cursor: default;
}

/*******************************************************************************
service list
*******************************************************************************/

li.layer_group {
	color: #555;
}

li.layer_item {
	list-style-image: none;
	list-style-type: none;
}


td.featuresCount {
	background-color: #fff;
	padding: 6px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
}

td.identify_first {
	background-color: #eee;
	border-style: solid;
	border-color: #666;
	border-top-width: 2px;
	border-bottom-width: 1px;
	padding: 4px;
}

table.im_identify {
	border-width: 0;
	margin: 7px;
	border-collapse: collapse;
	width: 400px;
}

td.im_identify_1 {
	background-color: #c0d2f5;
	border-style: solid;
	border-color: #666;
	border-bottom-width: 1px;
	padding: 4px;
}

td.im_identify_2 {
	background-color: #eee;
	border-style: solid;
	border-color: #666;
	border-bottom-width: 1px;
	padding: 4px;
}

td.im_identify_1_last {
	background-color: #c0d2f5;
	border-style: solid;
	border-color: #666666;
	border-bottom-width: 2px;
	padding: 4px;
}

td.im_identify_2_last {
	background-color: #eee;
	border-style: solid;
	border-color: #666666;
	border-bottom-width: 2px;
	padding: 4px;
}

ul {
	list-style-image: url(images/list_arrow.gif);
	list-style-type: circle;
}

table.im_identify a {
	font-weight: bold;
	color: #ec6600;
}

#im_info {
	vertical-align: middle;
	border-width: 0;
}


/*******************************************************************************
banner
*******************************************************************************/

td.im_padded-content {
	background: #e7edf5;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

td.im_dots {
	height: 4px;
	width: 4px;
	background-image: url('images/dot.gif');
}

th.im_padded, td.im_padded {
	padding: 2px;
}

input.content, select.content, textarea.content {
	font-family: Verdana;
	font-size: 9pt;
	color: #064377;
	max-width: 400px;
	border: 1px solid #266397; /* moved here from tr since IE accepts it only here */
}

button.content {
	font-family: Verdana;
	font-size: 9pt;
	color: #064377;
	max-width: 400px;
/*	cursor: hand; */
	cursor: pointer;
	border: 1px solid #266397; /* moved here from tr since IE accepts it only here */
}


div#im_map {
	/*position: absolute;
	left: 240px;
	top: 93px;*/
	z-index: 100;
	overflow: hidden;
	cursor: crosshair;
	border-style: solid;
	border-width: 1px;
	/*width: 300px;*/
}


#im_resizeBar {
	/*position: absolute;*/
	left: 176px;
	top: 88px;
	background-color: #888;
	width: 5px;
	cursor: e-resize; /* etj: was "move" */
	z-index: 2000;
}


/*******************************************************************************
*** LAYER LIST
*******************************************************************************/

#im_layers {
	/*position: absolute;*/
	/*left: 0;*/
	/*top: 88px;*/
	background-color: #eee;
	width: 176px;
	padding-left:6px;
}

#im_layerList table{
    width: 100%;
}

#im_layersHeader {
	/*width: 223px;*/
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #266397
}

#im_layersHeader h3 {
	text-align: center;
	color: #fff;
	background-color: #266397;
	margin: 0px;
	padding: 5px;
	font-weight: normal;
	font-style: normal;
}


div#im_layers ul{
	list-style-image: none;
	list-style-type: none;
	background-color: #fff;
	padding: 0px;
	margin: 0px;
}

div#im_layers li
{
	border-style: solid;
	border-width: 1px 0 1px 0;
}

div#im_layers li.im_activeLayer{
	background-color: #ccf;
}

div#im_layers li.im_newLayer{
	background-color: #8ae38a;
}

div#im_layers li td {
	padding: 3px;
/*	border-style: solid;*/
	border-color: #aaa;
	border-width: 1px 0 1px 0;
	cursor: move;
}

div#im_layers select,
img.im_layerButton {
	margin-right: 5px;
	cursor: default;
	float: right;
}

img.im_layerControl, img.im_layerButton {	
	cursor: pointer;
}

img#im_layerControlUp {	
	position:absolute;
	bottom: 4px;
	left:4px;
}
	
img#im_layerControlDown {	
	position:absolute;
	bottom: 4px;
	left:14px;	
}


td.im_layerControl {	
	width: 20px;
}

div#im_inspector {
	z-index: 1000;
	position: absolute;
	width: 176px;
	height: 150px;
	bottom: 21px;
	left: 0;
	background: #ddf;
	border-style: solid;
	border-width: 2px 0 0 0;
	border-color: #888;
}

div#im_addLayers {
	z-index: 1001;
	background: #bbf;
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	visibility: hidden;
	position: absolute;
}

div#im_addLayers.im_visible {
	visibility: visible;
}

div#im_mm_image_zoombox,
div#im_zoombox,
div#im_bm_image_zoombox
{
	position: absolute;
	border-style: dashed;
	border-color: red;
	border-width: 1px;
	z-index: 3000;
	cursor: crosshair;
	padding: 0px;
	margin: 0px;
	font-size: 0px;

           background-color: white;
	filter:alpha (opacity=30); /* MS Internet Explorer */ 
	filter:progid:DXImageTransform.Microsoft.Alpha (style=0, opacity=30); /* MS IE proprietory */ 
	-moz-opacity: 0.3; /* Mozilla v1.6 and below */ 
	opacity: 0.3; /* CSS-3 Standards */ 
	-khtml-opacity:.3; /* Safari */	
}

/*#im_mm_aoibox {
	position: absolute;
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	z-index: 3000;
	cursor: crosshair;
	padding: 0px;
	margin: 0px;
	font-size: 0px;
}
*/
div#im_bm_resizebox {
	position: absolute;
	border-style: dotted;
	border-color: black;
	border-width: 1px;
	z-index: 3000;
	cursor: se-resize;
	padding: 0px;
	margin: 0px;
	font-size: 0px;
}

img#im_bm_resizeGhost {
	position: absolute;
	z-index: 3000;
	
	filter:alpha (opacity=50); /* MS Internet Explorer */ 
	filter:progid:DXImageTransform.Microsoft.Alpha (style=0, opacity=50); /* MS IE proprietory */ 
	-moz-opacity: 0.5; /* Mozilla v1.6 and below */ 
	opacity: 0.5; /* CSS-3 Standards */ 
	-khtml-opacity:.5; /* Safari */
}

div#im_layersToolbar {
	/*position: absolute;*/
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #888;
	background-color: #ccc;
	bottom: 0;
	left: 0;
	width: 176px;
	height: 20px;
}

div#im_bm_image_waitdiv
{
	width: 100%;
/*	height: 400px;*/
	border-style: none;
	color: #555;
	font-size: 15pt;
	text-align: center;
/*	position:  absolute;
	visibility: hidden; */
	top: 50px;
	z-index: 33000;
	background-color: #E7EDF5;
}

/*
img#mapImg
{
	z-index: 5000;
	position: absolute;
}

div#scale
{
	z-index: 5001;
}
*/

#im_mm_image,
#im_bm_image {
/*	position: absolute;*/
	left: 0;
	top: 0px; 
	z-index: 1;
	visibility: visible;
}

/* set the cursor on the bigmap according to the tool*/
.pan #im_bm_image 
{    cursor: move; }

.zoomin #im_bm_image,
.zoomout #im_bm_image
{   cursor: crosshair; }

.identify #im_bm_image
{    cursor: help; }



#im_scale {
	position: absolute;
/*	left: 5px;*/
/*	bottom: 0;*/
/*	right: 5px;*/

	z-index: 1000;
	visibility: visible;
	opacity: 1;
	text-shadow: white 2px 2px 3px;
	font: 11px mono, "Andale Mono", Monaco, "Courier New", Courier;
	padding: 5px;
}

div#im_mm_aoi,
div#im_aoi {
	position: absolute;
	z-index: 21000;
	cursor: crosshair;
	padding: 0px;
	margin: 0px;
	font-size: 0px;
	overflow: hidden;
	cursor: move;
	font-size: 0px;
}

div#im_mm_hideMask,
div#im_hideMask {
	background: #000;
	position: absolute;
	z-index: 20000;
	border-width: 0;
	opacity: .5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
}

img#im_mm_ghost,
img#im_ghostImg {
	position: absolute;
	background: #fff;
}


img.im_resizeDot {
	top: -20px;
	left: -20px;
	position: absolute;
	cursor: default;
	z-index: 22000;
	padding: 0px;
	margin: 0px;
	font-size: 0px;
}


div.im_transparentDrag {
	padding: 0px;
	margin: 0px;
	font-size: 0px;
	top: -20px;
	left: -20px;
	width: 7px; /* same as dot img */
	height: 7px; /* same as dot img */
	position: absolute;
	cursor: default;
	border-width: 0;
	/*
	border-color: #666;
	border-style: dashed;
	*/
	z-index: 22001;
	background-image: url('images/transparent-dot.gif');
}

/*******************************************************************************
*** WHITEBOARD
*******************************************************************************/

div#im_wbtitle {
    background-color: #064377;
    color: white;
/*    position: absolute;
    top:0px;
    left:0px;
    right:0px;
*/
    z-index: 10;
}

#im_wbtitle > h1 {
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding-bottom: 2px;
    padding-top: 3px;
}

#im_wbcloser {
    position: absolute;
    top:1px;
    right:3px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    
    z-index: 20;    
}


div.im_wbcontent {
    padding: 3px;
    border: 1px #266397 solid;    
    background-color: #e0e0ff;
    
/*    width: 100%;*/

}

#im_serverList a {
    cursor: pointer;
   text-decoration: none;

}

#im_serverList ul {
     padding-left: 20px;
}

#im_serverList ul ul{
     padding-left: 10px;
}

#im_serverList ul li input {
     margin-left: 0px;
}


/*#im_serverList ul ul li {
     padding-left: 20px;

}
*/

#im_serverList ul img {
     margin-left: 5px;

}

#im_wmcmenu a {
    cursor: pointer;
   text-decoration: none;
}

#im_wmcmenu li {
    border-top: 1px solid #a0b0e0;
}

#im_showstyles table.style
{
    border: 1px solid #a0b0e0; 
    margin-top: 5px; 
    padding-left:5px;
}

#im_showstyles table.style td
{
    padding-right:5px;
    padding-left:5px;
}

#im_whiteboard button {
    border:1px solid #266397;
    color:#064377;
    cursor:pointer;
    font-family:Verdana;
    font-size:7pt;
    margin-left: 5px;
}

.im_wbcloser {
    position: absolute;
    top:1px;
    right:3px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    
    z-index: 20;    
}

.im_marker
{
           position: absolute;
           z-index: 100;
}

.im_markerbox
{
           position: absolute;
           z-index: 100;
           border: 1px solid #555555;
           background-color: white;
           
	filter:alpha (opacity=70); /* MS Internet Explorer */ 
	filter:progid:DXImageTransform.Microsoft.Alpha (style=0, opacity=70); /* MS IE proprietory */ 
	-moz-opacity: 0.7; /* Mozilla v1.6 and below */ 
	opacity: 0.7; /* CSS-3 Standards */ 
	-khtml-opacity:.7; /* Safari */
           
}

.im_markerEntry
{
           /*border: 1px none;*/
           padding: 1px;
           background-color: #e7edf5;
           width: 100%;
}

.im_markerEntrySel
{
           border: 1px solid #555555;
           background-color: #CCCCFF;    
	cursor: pointer;
           width: 100%;
}

.upperright {
    position: absolute;
    top:1px;
    right:3px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    
    z-index: 20;    
}

.lowerright {
    position: absolute;
    bottom:1px;
    right:3px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    
    z-index: 20;    
}
