<li>
    <label ng-if="isParentNode()">
      <span ng-click="toggleNode($event)" class="fa" data-ng-class="selectedOnInit ? 'fa-minus-square-o' : 'fa-plus-square-o'" ></span>
      <span data-ng-click="onClick()">
        <input type="checkbox" ng-click="" ng-model="member.selected" ng-change="selectChildren(member, member.selected)">{{member.name}}
      </span>
    </label>
  <label ng-if="!isParentNode()" data-ng-click="onClick()">
    <input type="checkbox" class="sxt-categorytree-leaf" ng-model="member.selected" />
      {{member.name}}&nbsp;({{member.count}})
  </label>
 </li>