<li class="list-group-item">
  <label ng-if="isParentNode()">
      <span ng-click="toggleNode($event)" class="fa" data-ng-class="selectedOnInit ? 'fa-minus-square' : 'fa-plus-square'" ></span>
      <span data-ng-click="onClick()">
        <input type="checkbox" ng-click="" ng-model="member.selected" ng-change="selectChildren(member, member.selected)" class="hidden">
        <i class="fa" data-ng-class="member.selected ? 'fa-check-square' : 'fa-square-o'"></i>
        {{member.name}}
      </span>
    </label>
  <label ng-if="!isParentNode()" class="sxt-categorytree-leaf" data-ng-click="onClick()">
    <input class="hidden" type="checkbox"  ng-model="member.selected" />
    <i class="fa" data-ng-class="member.selected ? 'fa-check-square' : 'fa-square-o'"></i>
    {{member.name}}&nbsp;({{member.count}})
  </label>
 </li>