<div class="dist-table mod-highlight" ng-if="doi">
  <div class="deco-highlight cell">
    <span class="fa fa-quote-left pull-right"></span>
  </div>
  <article class="cell">
    <h2><span translate>citationProposition</span><a class="main_link" href="#" id="pop" rel="nofollow" data-toggle="popover" data-placement="right" data-trigger="hover" title="" data-content="Cette proposition de citation a été générée automatiquement selon le format suggéré par DataCite. Nous vous invitons à vérifier dans les métadonnées si les auteurs n'ont pas imposé un format de citation spécifique." data-original-title="Attention"><span class="glyphicon glyphicon-info-sign"></span></a></h2>
    <p>{{doi.name}}<a class="main_link" href="{{doi.url}}">{{doi.url}}</a></p>
  </article>
</div>
