<div class="dist-table mod-highlight" ng-if="doi">
  <div class="deco-highlight cell">
    <span class="fa fa-quote-left pull-right"></span>
  </div>
  <article class="cell">
    <h2>
      <span translate>citationProposition</span>
      <a class="main_link" href="" id="pop"
         data-toggle="popover"
         data-placement="right"
         data-trigger="hover"
         data-content=""
         data-original-title="{{'citationTitle'}}">
        <span class="fa fa-info-circle"></span>
      </a></h2>
    <p>{{doi.name}}<a class="main_link" href="{{doi.url}}">{{doi.url}}</a></p>
  </article>
</div>
