<li class=""
  ng-class="{'active': member.showInfo, 'sxt-outofrange': isOutOfRange()}">

  <!-- Group heading (parent node) -->
  <div ng-if="::isParentNode()">
    <div class="list-group-heading">
      <i class="sxt-layer-visibility fa"
        ng-class="{'fa-minus-square': !isFolded(), 'fa-plus-square': isFolded()}"
        ng-click="toggleNode($event)">
      </i>&nbsp;
      <i ng-if="!groupCombo" class="fa fa-fw sxt-layer-visibility"
         ng-class="{
         'inactiveLayerNode': hasOnlyComboLayers(member),
         'fa-check-square-o': hasCheckedChildren(member),
         'fa-square-o': !hasCheckedChildren(member)}"
         ng-click="toggleChildrenNodes($event, member)"
         title="{{(hasOnlyComboLayers(member) ? 'nodeDesactivated' : 'groupVisible')|translate}}">
      </i>
      <span>{{member.name || member.get('label')}}</span>
    </div>

    <sxt-layertree-col class='list-group' collection='member.nodes' map='map'
      ng-show='!isFolded()'></sxt-layertree-col>
  </div>

  <!-- Layer (child node) -->
  <div ng-if="::!isParentNode()" ng-class="::{sublayer: member.get('fromWps')}">

    <div ng-if="!member.get('loading')" class="flex-row">
      <!-- Visibility check box & Layer title-->
      <label class="flex-row layer-label">
        <i ng-if="!groupCombo" class="fa fa-fw sxt-layer-visibility"
          ng-class="(member.visible) ? 'fa-check-square-o' : 'fa-square-o'"
          title="{{'layerVisible'|translate}}"></i>
        <i ng-if="groupCombo" class="fa fa-fw sxt-layer-visibility"
          ng-class="(member.visible) ? 'fa-check-circle-o' : 'fa-circle-o'"
          title="{{'layerVisible'|translate}}"></i>

        &nbsp;

        <input ng-if="::!groupCombo" type="checkbox" ng-model="member.visible" class="hidden"/>
        <input ng-if="::groupCombo" ng-value="member" name="{{groupCombo}}" class="hidden"
                type="radio" ng-model="comboGroups[groupCombo]" title="{{'layerVisible'|translate}}"
                data-ng-change="switchGroupCombo(groupCombo)" data-ng-click="setComboLayerVisibility(groupCombo, member)"/>

        <span title="{{::member.get('label')}}">
          {{::member.get('label')}}</span>
      </label>
      <div class="flex-spacer flex-grow"></div>

      <a role="button"
         tabindex="0"
         class="btn btn-link btn-xs layer-menu flex-no-shrink"
         ng-click="setActiveLayer()"
         ng-class="{ 'layer-active': isActiveLayer() }">
        <span class="fa fa-cog"></span>
      </a>
    </div>
    <div ng-if="member.get('loading')" class="flex-row">
      <i class="fa fa-spin fa-spinner"/>
      &nbsp;
      <span class="layer-label">{{::member.get('label')}}</span>
    </div>
  </div>
</li>
