<div class="btn-group md-actions gn-md-actions-btn">
  <button type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-expanded="false">
    <span class="fa fa-eye"></span>&nbsp;
    <span translate>viewRecord</span>&nbsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation" class="dropdown-header" data-translate>chooseAView</li>
    <!--<li>
      <a data-ng-href="" data-ng-click="mdService.getPermalink(md)">
        <i class="fa fa-link"/>&nbsp;
        <span data-translate="">sxtPermalink</span>
      </a>
    </li>-->
    <li>
      <a data-ng-href="{{location.origin}}{{location.pathname}}#/metadata/{{md.getUuid() | encodeURIComponent}}">
        <i class="fa fa-file-o"/>&nbsp;
        <span data-translate="">default</span>
      </a>
    </li>
    <li>
      <a data-ng-href="{{location.origin}}{{location.pathname}}#/metadata/{{md.getUuid() | encodeURIComponent}}/formatters/xsl-view?root=div&view=advanced&header=false&related=">
        <i class="fa fa-file-text-o"/>&nbsp;
        <span data-translate="">full</span>
      </a>
    </li>
    <li role="separator" class="divider"></li>
    <li role="presentation" class="dropdown-header" data-translate>export</li>
    <li>
      <a data-ng-href="{{gnUrl}}../api/records/{{md.getUuid() | encodeURIComponent}}/formatters/xml" target="_blank">
        <i class="fa fa-file-code-o"></i>&nbsp;
        <span data-translate="">sxtExportXML</span>
      </a>
    </li>
    <li>
      <a data-ng-href="{{gnUrl}}../api/records/{{md.getUuid() | encodeURIComponent}}/formatters/xsl-view?view=advanced&output=pdf" target="_blank">
        <i class="fa fa-file-pdf-o"></i>&nbsp;
        <span data-translate="">sxtExportPDF</span>
      </a>
    </li>
  </ul>
</div>
