<?xml version="1.0" encoding="UTF-8"?>

<strings>
	<site>Página Web</site>
	<name>Nome</name>
	<organ>Organização</organ>
	
	<server>Servidor</server>
	<host>Host</host>
	<port>Port</port>
	<securePort>Secure Port</securePort>
  <protocol>Preferred Protocol</protocol>

	<intranet>Intranet</intranet>
	<network>Rede</network>
	<netmask>Máscara de rede</netmask>
	
	<searchStats>Search Statistics</searchStats>

	<threadedindexing>Multi-threaded Indexing</threadedindexing>
	<maxthreads>Number of processing threads</maxthreads>
	<recommendedThreads>Recommended</recommendedThreads>
	<reasonForOne>Database not tested or doesn't support</reasonForOne>
	<reasonForMore>From number of processors</reasonForMore>

    <multilingual>configurações multilingues</multilingual>
    <autoDetectEnable>Ativar auto-detecção de linguagem pedido da busca</autoDetectEnable>
    <requestedlanguageonly>Search only in requested language</requestedlanguageonly>
    <requestedlanguage_offonly>All documents in all languages (No preferences)</requestedlanguage_offonly>
    <requestedlanguageprefer_locale>Prefer documents with translations requested language</requestedlanguageprefer_locale>
    <requestedlanguageprefer_docLocale>Prefer documents whose language is the requested language</requestedlanguageprefer_docLocale>
    <requestedlanguage_localeonly>Translations in requested language</requestedlanguage_localeonly>
    <requestedlanguage_docLocaleonly>Document language is the requested language</requestedlanguage_docLocaleonly>
    <requestedlanguagesorted>Resultados da busca em idioma solicitado classificados no topo</requestedlanguagesorted>

	<z3950>Servidor Z39.50</z3950>
	<enable>Activar</enable>
		
	<oai>OAI Provider</oai>
		<datesearch>Datesearch</datesearch>
		<datesearchopt>
			<dsopt label="temporal extent">1</dsopt>
			<dsopt label="modification date">2</dsopt>
		</datesearchopt>
	
		<tokentimeout>ResumptionToken Timeout </tokentimeout>
		<cachesize>Cachesize</cachesize>

	<xlinkResolver>XLink Resolver</xlinkResolver>

    <inspire>INSPIRE</inspire>
	
	<harvester>Harvesting</harvester>
	<enableEditing>Allow editing on harvested records</enableEditing>
	
	<downloadservice>Data-For-Download Service</downloadservice>
	<leave>Use metadata linkage as is - no changes to linkage</leave>
	<simple>Use GeoNetwork simple file download service (resources.get)</simple>
	<withdisclaimer>Use GeoNetwork disclaimer and constraints service (file.disclaimer)</withdisclaimer>

	<selectionmanager>Metadata Search Results</selectionmanager>
	<maxrecords>Maximum selected records</maxrecords>

	<indexoptimizer>Lucene Index Optimizer</indexoptimizer>
		<at>Run at</at>
		<atSpec>( hour of day : minute eg. 23:15 )</atSpec>
		<interval>Will run again every</interval>
		<hourintervals>
			<hour label="1 hour (not recommended)">1</hour>
			<hour label="3 hours">3</hour>
			<hour label="6 hours">6</hour>
			<hour label="12 hours">12</hour>
			<hour label="1 day">24</hour>
			<hour label="2 days">48</hour>
			<hour label="3 days">72</hour>
			<hour label="4 days">96</hour>
		</hourintervals>
		<hours>
			<hour label="0">0</hour>
			<hour label="1">1</hour>
			<hour label="2">2</hour>
			<hour label="3">3</hour>
			<hour label="4">4</hour>
			<hour label="5">5</hour>
			<hour label="6">6</hour>
			<hour label="7">7</hour>
			<hour label="8">8</hour>
			<hour label="9">9</hour>
			<hour label="10">10</hour>
			<hour label="11">11</hour>
			<hour label="12">12</hour>
			<hour label="13">13</hour>
			<hour label="14">14</hour>
			<hour label="15">15</hour>
			<hour label="16">16</hour>
			<hour label="17">17</hour>
			<hour label="18">18</hour>
			<hour label="19">19</hour>
			<hour label="20">20</hour>
			<hour label="21">21</hour>
			<hour label="22">22</hour>
			<hour label="23">23</hour>
		</hours>
		<minutes>
			<minute label="0">0</minute>
			<minute label="15">15</minute>
			<minute label="30">30</minute>
			<minute label="45">45</minute>
		</minutes>

	<csw>CSW Perfil ISO</csw>
	<contactId>Contacto</contactId>
	<title>Título</title>
	<abstract>Resumo</abstract>
	<fees>Taxas</fees>
	<accessConstraints>Restrições de acesso</accessConstraints>
    <cswMetadataPublic>Os metadata introduzidos são públicos</cswMetadataPublic>

	<clickablehyperlinks>Clickable hyperlinks</clickablehyperlinks>

	<localrating>Local Rating</localrating>
    <autofixing>Correções automáticas</autofixing>
	
	<proxy>Proxy</proxy>
	<use>Usar</use>
	<username>Nome de utilizador</username>
	
	<feedback>Feedback</feedback>
	<email>Email</email>
	<smtpHost>SMTP Host</smtpHost>
	<smtpPort>SMTP Port</smtpPort>
		
	<userSelfRegistration>Registo próprio de utilizador</userSelfRegistration>
	
	<removedMetadata>Metadados apagados</removedMetadata>
	<dir>Directório</dir>

	<authentication>Autenticação</authentication>
	
	<otherlogins>Permitir outros utilizadores de iniciar uma sessão de</otherlogins>

	<shib>Autenticação Shibboleth</shib>
	<path>Caminho</path>
	<attributes>Shibboleth alocação de atributos</attributes>
	<surname>Apelido</surname>
	<firstname>Nome próprio</firstname>

    <metadataEnableInspireSearch>Enable search panel</metadataEnableInspireSearch>

    <metadataViews>Metadata views</metadataViews>
    <metadataEnableSimpleView>Enable simple view</metadataEnableSimpleView>
    <metadataEnableIsoView>Enable ISO view</metadataEnableIsoView>
    <metadataEnableInspireView>Enable INSPIRE view</metadataEnableInspireView>
    <metadataEnableXmlView>Enable XML view</metadataEnableXmlView>
    <metadataDefaultView>Default view</metadataDefaultView>
    <metadataSimpleView>Simple view</metadataSimpleView>
    <metadataIsoView>ISO view</metadataIsoView>
    <metadataInspireView>INSPIRE view</metadataInspireView>
    <metadataXmlView>XML view</metadataXmlView>
    <metadataAdvancedView>Advanced view</metadataAdvancedView>
	
	<metadataPrivs>Metadata privileges</metadataPrivs>
	<md.usergrouponly>Only set privileges to user's groups</md.usergrouponly>
	<!-- Buttons -->
	
	<save>Gravar</save>
	<refresh>Refrescar</refresh>
	
	<!-- validator messages -->
	
	<validator>
		<length>
			<cannotBeEmpty>O campo '{NAME}' não pode ficar vázio</cannotBeEmpty>
			<invalidMinSize>O campo '{NAME}' tem que ter pelo menos {VALUE} carácter(es)</invalidMinSize>
			<invalidMaxSize>O campo '{NAME}' deve ter no máximo {VALUE} carácter(es)</invalidMaxSize>
		</length>
		
		<integer>
			<notInt>O campo '{NAME}' tem que ser um número inteiro</notInt>
			<invalidMinValue>O campo '{NAME}' tem que ser &gt;= {VALUE}</invalidMinValue>
			<invalidMaxValue>O campo '{NAME}' tem que ser &lt;= {VALUE}</invalidMaxValue>
		</integer>		
		
		<alphanum>
			<notAlphaNumeric>O campo '{NAME}' tem que ser alfanumérico (e deve começar com uma letra)</notAlphaNumeric>
		</alphanum>
		
		<hostname>
			<notHostName>O campo '{NAME}' não é um nome válido dum host</notHostName>
		</hostname>
		
		<url>
			<notURL>O campo '{NAME}' não é um URL válido</notURL>
		</url>
		
		<ipaddress>
			<notIP>O campo '{NAME}' não é um endereço de IP válido</notIP>
		</ipaddress>
	</validator>
	
	<!-- display messages -->
	
	<cannotGet>Não consegue abrir a configuração de sistema</cannotGet>
	<cannotSave>Não consegue gravar a configuração de sistema</cannotSave>
	<saveOk>Configuração de sistema gravada.</saveOk>
	
	<!-- tooltips -->
	
	<tips>
		<tip id="site.name">
			Usado para identificar a instalação.
		</tip>
		
		<!-- server -->
		
		<tip id="server.host">
			O <b>host</b> e o <b>port</b> do servidor são usado para criar os URLs ao
			servidor de GeoNetwork. Por exemplo, são usados durante uma edição
			dos metadados para criar ligações a recursos e quando retornam
			as capacidades do servidor durante um pedido de CS/W.
			<br/>
			<b>Por favor note:</b> deva usar a ferramenta 'GAST' para reflectir esta
			alteração nos metadados.
		</tip>
		
		<!-- intranet -->
		
		<tip id="intranet.network">
			Os parâmetros da <b>rede</b> e da <b>máscara de rede</b> são usados para identificar
			conexões internas à GeoNetwork, isso é, identificar o grupo de intranet.
		</tip>
		
		<!-- Z39.50 -->
		
		<tip id="z3950.enable">
			Se definido, a GeoNetwork iniciaria o componente Z39.50 de servidor durante a inicialização.
			Este componente usa o protocol ISO23950.
			<br/>
			<b>Por favor note:</b> reinicie a GeoNetwork para activar esta alteração.
		</tip>
		
		<tip id="z3950.port">
			Altere o port Z39.50 (listening).
			<br/>
			<b>Por favor note:</b> reinicie a GeoNetwork para activar esta alteração.
		</tip>
	
		<!-- oai  -->
		
		<tip id="oai.mdmode">
			Influences the behaviour of OAI when parameters from or until are supplied.
			If set to temporal extent, the temporal extent of the date described by the metadata is searched.
			If set to modification date, the date at which the metadata was last modified is searched
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		
		<tip id="oai.tokentimeout">
			The number of seconds a OAI resultset stays in the cache and can be scrolled using the OAI resumptionToken
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		
		<tip id="oai.cachesize">
			The number of OAI resultSets that can be stored in the Cache.
		</tip>
		
		<!-- CSW ISO Profile -->
		<tip id="csw.enable">
			Se definido, activaria-se o servidor de Perfil ISO CSW. Assim, outros catálogos poderiam harvest metadados (públicos).
			<br/>
			<b>Por favor note:</b> reinicie a GeoNetwork para activar esta alteração.
		</tip>
		<tip id="csw.contactId">
			Configure contacto de Perfil ISO CSW para a operação de GetCapabilities.
		</tip>
		<tip id="csw.title">Título</tip>
		<tip id="csw.abstract">Resumo</tip>
		<tip id="csw.fees">Taxas</tip>
		<tip id="csw.accessConstraints">Restrições de acesso</tip>
		
		<!-- clickable hyperlinks -->
		
		<tip id="clickablehyperlinks.enable">
			If set, GeoNetwork will display clickable hyperlinks in the metadata.
		</tip>

		<!-- local rating -->
		<tip id="localrating.enable">
			If set, GeoNetwork will calculate user ratings for metadata from this node only (not distributed among other GeoNetwork nodes).
		</tip>
		
		<!-- automatic fixes -->
		<tip id="autofixing.enable">
            Quando ativado, GeoNetwork aplica automaticamente corrige certas quando você salvar metadados.
        </tip>

		<!-- proxy -->
		
		<tip id="proxy.use">
			Se definido, a GeoNetwork usaria os parâmetros de proxy disponíveis para entrar
			em nós remotos. Por exemplo, é usado para a harvesting de metadados.
		</tip>
		
		<!-- feedback -->
		
		<tip id="feedback.email">
			Este é o endereço de email do administrador e usa-se para enviar feedback.
		</tip>
		
		<tip id="feedback.mail.host">
			Os parâmetros SMTP de <b>host</b> e <b>port</b> são usados para enviar emails
			para utilizadores da GeoNetwork quando um recurso seja downloaded.
		</tip>
		
		<!-- removed metadata -->
		
		<tip id="removedMd.dir">
			Este directório é usado para armazenar metadados (no formato MEF) quando eles são apagados.
		</tip>

		<!-- userSelfRegistration -->
		
		<tip id="userSelfRegistration.enable">
			Se definido, utilizadores poderiam registar-se propriamente. Aqueles são
			atribuídos ao grupo 'GUEST'. Um email é enviado para o utilizador
			com o seu nome de utilizador e a sua palavra-passe,
			pela conta de email de feedback.
			<br/>
		</tip>
		
		<tip id="downloadservice.simple">
				If metadata protocol is 'Data for download' then this service lets the user download the resource from GeoNetwork with no further user input - it is the simplest download interface
		</tip>
		<tip id="downloadservice.withdisclaimer">
				If metadata protocol is 'Data for download' then this service lets the user download the resource from GeoNetwork after they have agreed to accept any metadata constraints/generic disclaimer. The resource is bundled into a zip archive with an html description of the metadata constraints and a snapshot of the metadata record (as a MEF).
		</tip>
		<tip id="downloadservice.leave">
				Selecting this option means that GeoNetwork will not handle file downloads.
		</tip>

		<!-- xlinkResolver -->

		<tip id="xlinkResolver.enable">
			If set, XLinks to metadata fragments in records will be resolved.
		</tip>

		<!-- searchStats -->

		<tip id="searchStats.enable">
			If set, Statistics on searches will be collected and stored in the database.
		</tip>

        <!-- multilingual settings -->
        <tip id="autodetect.enable">
            Se for definido, a pesquisa de linguagem é automaticamente detectado. Note que isso não funciona muito bem para pesquisas curtas.
        </tip>
        <tip id="requestedlanguage.only">
            Apenas retornar resultados de pesquisa na língua solicitada.
        </tip>
        <tip id="requestedlanguage.sorted">
            Retornar resultados de busca na língua solicitada por cima.
        </tip>
        <tip id="requestedlanguage.ignored">
            Ignorar idioma solicitado para resultados de busca.
        </tip>

    </tips>
	<data.dataDir>Data directory:</data.dataDir>
	<data.resources>Resources directory:</data.resources>
	<data.configDir>Configuration directory:</data.configDir>
	<data.schemaPluginsDir>Schema plugin directory:</data.schemaPluginsDir>
	<data.subversionPath>Subversion directory:</data.subversionPath>
	<data.codeListDir>Thesaurus directory:</data.codeListDir>
	<xslt.factory>XSLT factory:</xslt.factory>
	<java.vm.name>JVM name:</java.vm.name>
	<java.vm.vendor>JVM vendor:</java.vm.vendor>
	<java.version>JVM version:</java.version>
	<os.arch>System architecture:</os.arch>
	<os.name>System name:</os.name>
	<mem.total>Total memory:</mem.total>
	<mem.free>Total free memory:</mem.free>
	<index.size.lucene>Lucene index size (ko):</index.size.lucene>
	<index.size>Total index size (ko):</index.size>
	<index.path>Index directory:</index.path>
	<index>Lucene index information</index>
	<main>System information</main>
	<catalogue>Catalogue information</catalogue>
	<database>Database information</database>
	<system>Catalogue configuration</system>
	<siteId>Catalogue identifier:</siteId>
	<version>Version:</version>
	<subVersion>Sub-version:</subVersion>
	<index.lucene.config>Lucene configuration:</index.lucene.config>
	<db.url>Database URL:</db.url>	
	<db.openattempt>Database Status:</db.openattempt>	
	<db.numactive>Database connections in use:</db.numactive>	
	<db.numidle>Database connections available:</db.numidle>	
	<db.maxactive>Maximum number of database connections:</db.maxactive>	
	<db.statserror>Database statistics:</db.statserror>
    <sequentialExecution>ThreadPool Sequential Execution Mode: </sequentialExecution>
    <hidewithheldelements>Hide Withheld Elements</hidewithheldelements>
    <keepMarkedElement>Keep Marked Element</keepMarkedElement>
</strings>
