<div class="row">
    <div class="col-lg-2">
        <div class="gn-sidebar affix">
            <ul class="nav nav-pills nav-stacked">
                <li data-ng-class="type === 'thesaurus' && 'active'">
                  <a href="#/classification/thesaurus">
                    <i class="icon-archive"/>
                    <span data-translate="">manageThesaurus</span>
                  </a>
                </li>
              <li data-ng-class="type === 'categories' && 'active'">
                <a href="#/classification/categories">
                  <i class="icon-tags"/>
                  <span data-translate="">manageCategory</span>
                </a>
              </li>
              <li data-ng-class="type === 'directory' && 'active'">
                <a href="subtemplate.admin">
                  <i class="icon-list-ul"/>
                  <span data-translate="">manageDirectory</span>
                </a>
              </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-10" data-ng-include="getTemplate()">
    </div>
</div>