<div class="row" data-ng-controller="GnDashboardController" >
    <div class="col-lg-2">
        <div class="gn-sidebar affix">
            <ul class="nav nav-pills nav-stacked">
                <li data-ng-class="type === 'status' && 'active'">
                  <a href="#/dashboard/status">
                    <i class="icon-dashboard"/>
                    <span data-translate="">status</span>
                  </a>
                </li>
                <li data-ng-class="type === 'information' && 'active'">
                  <a href="#/dashboard/information">
                    <i class="icon-list-ul"/>
                    <span data-translate="">information</span>
                  </a>
                </li>
                <li data-ng-class="type === 'statistics-search' && 'active'">
                  <a href="#/dashboard/statistics-search">
                    <i class="icon-search"/>
                    <span data-translate="">searchStatistics</span>
                  </a>
                </li>
                <li data-ng-class="type === 'statistics-content' && 'active'">
                  <a href="#/dashboard/statistics-content">
                    <i class="icon-bar-chart"/>
                    <span data-translate="">contentStatistics</span>
                  </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-10" ng-include="getTemplate()">
    </div>
</div>