<div class="row">
    <div class="col-lg-2">
        <div class="gn-sidebar affix">
            <ul class="nav nav-pills nav-stacked">
                <li data-ng-class="type === 'metadata-and-template' && 'active'">
                  <a href="#/metadata/metadata-and-template">
                    <i class="icon-archive"/>
                    <span data-translate="">metadataAndTemplates</span>
                  </a>
                </li>
              <li data-ng-class="type === 'sort-template' && 'active'">
                <a href="metadata.templates.list">
                  <i class="icon-fixed-width"/>
                  <span data-translate="">sortTemplate</span>
                </a>
              </li>
            </ul>
        </div>
    </div>
  
  
    <div class="col-lg-10" ng-include="getTemplate()">
    </div>
</div>