<div class="row" data-ng-controller="GnUserGroupController" >
    <div class="col-lg-2">
        <div class="gn-sidebar affix">
            <ul class="nav nav-pills nav-stacked">
                <li data-ng-class="type === 'groups' && 'active'"><a href="#/organization/groups" data-translate>manageGroups</a></li>
                <li data-ng-class="type === 'users' && 'active'"><a href="#/organization/users" data-translate>manageUsers</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-10" data-ng-include="getTemplate()">
    </div>
</div>