<div data-ng-controller="GnAdminController">
  <div class="column col-sm-2 col-xs-1 sidebar-offcanvas">
  <div class="dashboardMenu-left dashboardMenu-lg hidden-xs">
    <button type="button" class="btn btn-warning hidden-xs"><i class="fa fa-th fa-1x"/>&nbsp;<span data-translate="">Admin links</span></button>
    <ul class="nav hidden-xs menu" id="lg-menu">
      <li data-ng-repeat="m in getMenu()">
        <a href="{{getMenuUrl(m)}}" ng-class="{active: isActive('{{getMenuUrl(m)}}')}" >
          <p><i class="fa {{m.icon}} fa-1x"/>&nbsp;<span data-translate="">{{m.name}}</span></p>
        </a>
      </li>
    </ul>
  </div>
  <div class="dashboardMenu-left dashboardMenu-xs visible-xs">
    <button type="button" class="btn btn-warning visible-xs"><i class="fa fa-th fa-1x"/></button>
    <div class="visible-xs">
    <ul class="nav menu-xs" id="xs-menu">
      <li data-ng-repeat="m in getMenu()"> 
        <a href="{{getMenuUrl(m)}}" ng-class="{active: isActive('{{getMenuUrl(m)}}')}" title="{{m.name | translate}}">
          <i class="fa {{m.icon}} fa-1x"/>
        </a>
      </li>
    </ul>
    </div>
  </div>
  </div>    
  <div class="col-lg-10 col-sm-10 col-xs-11">
    <ul class="nav nav-pills">
      <li data-ng-repeat="t in pageMenu.tabs"
          data-ng-class="type === t.type && 'active'">
        <a href="{{t.href}}">
          <i class="fa {{t.icon || 'fa-fw'}}"/>
          <span data-translate="">{{t.label}}</span>
        </a>
      </li>
    </ul>
    <br/>
    <div class="col-lg-12" data-ng-include="getTpl(pageMenu)"></div> 
  </div>
</div>