<div class="row" data-ng-controller="GnSettingsController" >
    <div class="col-lg-2">
      <div class="gn-sidebar affix">
          <ul class="nav nav-pills nav-stacked">
            <li data-ng-class="type === 'system' && 'active'">
              <a href="#/settings/system">
                <i class="icon-cogs"/>
                <span data-translate="">settings</span>
              </a>
            </li>
            <li data-ng-class="type === 'logo' && 'active'">
              <a href="#/settings/logo">
                <i class="icon-picture"/>
                <span data-translate="">manageLogo</span>
              </a>
            </li>
            <li data-ng-class="type === 'csw' && 'active'">
              <a href="#/settings/csw">
                <i class="icon-fixed-width"/>
                <span data-translate="">manageCSW</span>
              </a>
            </li>
            <li data-ng-class="type === 'csw-virtual' && 'active'">
              <a href="#/settings/csw-virtual">
                <i class="icon-fixed-width"/>
                <span data-translate="">manageVirtualCSW</span>
              </a>
            </li>
          </ul>
      </div>
    </div>
  
  <div class="col-lg-10" ng-include="getTemplate()">
  </div>
</div>