<ul class="list-group gn-resultview gn-resultview-sumup">
  <li
    class="list-group-item gn-grid sxt-col-md-6 sxt-col-lg-4"
    data-ng-repeat="md in searchResults.records"
    data-sxt-fix-mdlinks=""
    data-gn-displayextent-onhover=""
    data-gn-zoomto-onclick=""
  >
    <div class="gn-grid-item">
      <!--Edit button-->
      <!-- <a class="gn-md-edit-btn" data-ng-show="user.canEditRecord(md)" data-ng-href="catalog.edit#/metadata/{{md['geonet:info'].id}}" title="{{'edit' | translate}}"> -->
      <!--   <i class="fa fa-pencil"></i> -->
      <!-- </a> -->

      <div class="row gn-md-title">
        <span
          class="fa gn-icon-{{md.resourceType[0]}}"
          title="{{md.resourceType[0] | translate}}"
        ></span>

        <h4 title="{{::md.resourceTitle}}" class="gn-break">
          <a gn-metadata-open="::md" sxt-truncate> {{::(md.resourceTitle)}}</a>
        </h4>
      </div>

      <div class="gn-md-details" title="{{::md.resourceAbstract | striptags}}">
        <!-- Thumbnail -->
        <div class="gn-md-thumbnail" ng-class="::{'gn-md-emptythumbnail': !md.thumbnail}">
          <img
            gn-img-modal="md"
            class="gn-img-thumbnail"
            data-ng-src="{{::md.overview[0].data || (md.overview[0].url | thumbnailUrlSize)}}"
            data-ng-if="::md.overview[0]"
          />
        </div>

        <div class="text-justify md-abstract ellipsis">
          <div>
            <p>{{::md.resourceAbstract | striptags}}</p>
          </div>
        </div>

        <p
          data-ng-if="::md.resourceCredit[0]"
          class="gn-md-source"
          title="{{::md.resourceCredit[0]}}"
        >
          <!--<h5 data-translate="">contacts</h5>-->
          Source: {{::md.resourceCredit[0] | characters : 50}}
        </p>
      </div>

      <div class="sx-md-footer">
        <div
          class="btn-group pull-left md-admin"
          ng-if="::user.canManagePrivileges(md)"
          sxt-popover-dropdown
          placement="bottom"
          container=".gn-grid-item"
          className="sxt-popover-grid"
        >
          <div sxt-md-manage-actions-menu="md"></div>
        </div>

        <sxt-links-btn></sxt-links-btn>
        <div
          gn-grid-related
          gn-grid-related-uuid="::md.uuid"
          class="gn-md-relations pull-right"
          template="../../sextant/views/sextant/templates/grid-related.html"
        ></div>
      </div>
      <!-- .sx-md-footer -->
    </div>
  </li>
</ul>
