<div ng-include src="'partials/menubar.html'"></div>
<table class="table table-condensed">
    <thead>
        <tr>
            <td>#</td>
            <td>{{translate('description')}}</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-if="data.length == 0" >
            <td></td><td colspan="2"><div class="alert alert-info">{{translate('noRecords')}}</div></td>
        </tr>
        <tr data-ng-repeat="row in data | filter:search:strict" class="highlight-on-hover" data-ng-mouseover="select(row)" >
            <td style="width: 5%">
                <div class="data-id panel-group" id="Div1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                {{row.id}}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td style="width: 85%">
                <div class="data-description panel-group" id="{{data.id}}-accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a id="load-metadata-link-{{row.id}}" class="accordion-toggle " data-toggle="collapse" data-parent="#accordion"
                                    data-ng-click="loadReferencedMetadata(row.id, 'collapse-'+row.id, 'collapse-body-'+row.id)">{{row.desc}}</a>
                            </div>
                        </div>
                    </div>
                    <div id="collapse-{{row.id}}" class="panel-collapse collapse">
                        <table class="table table-condensed">
                            <tr class="metadata-list" data-ng-repeat="md in metadata[row.id]" >
                                <td class="id" style="width: 5%">{{md.id}}</td>
                                <td class="title" style="width: 60%">{{md.title}}</td>
                                <td class="name" style="width: 10%">{{md.name}}</td>
                                <td class="email" style="width: 20%">{{md.email}}</td>
                                <td style="width: 5%"><button class="show-md" type="button" class="btn btn-primary" data-ng-click="open('metadata.show?currTab=xml&id=' + md.id)">Show</button></td>
                            </tr>
                        </table>
                   <!--     <div class="panel-title">
                            <a style="text-align: left; font-size: .8em;" data-ng-repeat="md in metadata[row.id]">{{md.title}} ({{md.name}} <{{md.email}}>)</a>
                        </div>-->
                    </div>
                </div>
            </td>
            <td class="data-actions" style="width: 10%">
                <button ng-if="isDeletePage" class="action-delete btn btn-default" data-toggle="modal" ng-href="#confirmDeleteModal" >{{translate('delete')}}</button>
                <div ng-if="!isDeletePage" class="dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-href="#" >{{translate('actions')}} <span class="caret"></span></button>

                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <!--<li><a data-ng-click="open('geocat', {s_search:'', customFilter: luceneIndexField + '=' + row.xlink}, '_sharedObject')">{{translate('search')}}</a></li>-->
                        <li><a class="action-edit" data-ng-click="edit(row)">{{translate('edit')}}</a></li>
                        <li ng-if="!isValidated"><a class="action-validate" data-toggle="modal" data-target="#confirmValidateModal" >{{translate('validate')}}</a></li>
                        <li ng-if="!isValidated"><a class="action-non-valid-reject" data-toggle="modal" data-target="#rejectModal" >{{translate('reject')}}</a></li>
                        <li ng-if="isValidated"><a class="action-valid-reject" data-toggle="modal" data-target="#rejectModal" >{{translate('delete')}}</a></li>
                        <li ng-if="isDeletePage"><a class="action-delete" data-toggle="modal" data-target="#confirmDeleteModal" >{{translate('delete')}}</a></li>
                    </ul>

                </div>
            </td>
        </tr>
    </tbody>
</table>
<div ng-include src="'partials/modal-confirm-delete.html'"></div>
<div ng-include src="'partials/modal-confirm-validate.html'"></div>
<div ng-include src="'partials/modal-reject.html'"></div>
<div ng-include src="'partials/modal-executing-operation.html'"></div>
<div ng-include src="'partials/modal-edit-common.html'"></div>

