/* inspired from http://www.emodnet-hydrography.eu/cdi_v2/style.css */

.tpl-emodnet .ui-layout-content { 	
    background-color: #e4eef7 !important;
    background-image: url("../../images/schema/emodnet/background.gif") !important;
    background-repeat: repeat-x !important;
    background-attachment: fixed !important;
	
}

.tpl-emodnet td {
	font-family: verdana,arial,helvetica;
	font-size: 1em;
	color: #000;
}

.tpl-emodnet h1 {
	font-size: 2em;
	color: #fff;
	padding: 10px 0px 20px;
}

.tpl-emodnet .result-photo {
    	max-width: 400px;
  	max-height: 180px;
	padding: 20px 0% 20px 100%;
}

.tpl-emodnet .print_table {
	width: 98%;
	margin: auto;
}

.tpl-emodnet .print_ttl {
	font-weight: bold;
	font-size: 17.6px;
	color: #1b75bc;
	text-transform: uppercase;
	width: 33%;
	padding-top: 8px;
	padding-left: 4px;
	padding-bottom: 4px;

}

.tpl-emodnet .print_ttl_h1 {
	font-weight: bold;
	font-size: 16px;
	color: #1b75bc;
	width: 33%;
	padding: 6px 0px 4px 4px;
}

.tpl-emodnet .print_ttl_h2 {
	font-weight: bold;
	font-size: 14.4px;
	color: #000;
	width: 33%;
	padding: 4px 0px 4px 4px;
}

.tpl-emodnet .print_ttl_desc {
	border: 0px;
	font-size: 0.9em;
	padding: 0px 6px 4px 4px;
}

.tpl-emodnet .print_desc {
	border: 0px;
	border-right: 1px solid #1b75bc;
	font-size: 0.9em;
	width: 33%;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	font-size: 14.4px;
}

.tpl-emodnet .print_data {
	font-size: 14.4px;
	color: #000;
	padding-left: 8px;
	padding-bottom: 4px;
}

.tpl-emodnet #print_btn {
	padding: 5px 10px 0 0;
	float: right;
	cursor: pointer;
}
