.viewmd-panel div, .viewmd-panel span, .viewmd-panel applet, .viewmd-panel object, .viewmd-panel iframe,
.viewmd-panel h1, .viewmd-panel h2, .viewmd-panel h3, .viewmd-panel h4, 
.viewmd-panel h5, .viewmd-panel h6, .viewmd-panel p, .viewmd-panel blockquote, .viewmd-panel pre,
.viewmd-panel a, .viewmd-panel abbr, .viewmd-panel acronym, .viewmd-panel address, 
.viewmd-panel big, .viewmd-panel cite, .viewmd-panel code,
.viewmd-panel del, .viewmd-panel dfn, .viewmd-panel em, .viewmd-panel font, .viewmd-panel img, .viewmd-panel ins, .viewmd-panel kbd, .viewmd-panel q, .viewmd-panel s, .viewmd-panel samp,
.viewmd-panel small, .viewmd-panel strike, strong, sub, sup, tt, var,
.viewmd-panel b,.viewmd-panel  u, .viewmd-panel i, .viewmd-panel center,
.viewmd-panel dl, .viewmd-panel dt, .viewmd-panel dd, .viewmd-panel ol,.viewmd-panel ul, .viewmd-panel li,
.viewmd-panel fieldset, .viewmd-panel form, .viewmd-panel label, .viewmd-panel legend,
.viewmd-panel table, .viewmd-panel caption, .viewmd-panel tbody, .viewmd-panel tfoot, .viewmd-panel thead, .viewmd-panel tr, .viewmd-panel th, .viewmd-panel td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	text-decoration: none;
}

.viewmd-panel * div#tabs {
    display: none;
}
body {
	height : 100%;
	
}
.viewmd-panel ol, .viewmd-panel ul {
	list-style: none;
}
.viewmd-panel blockquote, .viewmd-panel q {
	quotes: none;
}
.viewmd-panel blockquote:before, .viewmd-panel blockquote:after,
.viewmd-panel q:before, .viewmd-panel q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
.viewmd-panel :focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
.viewmd-panel ins {
	text-decoration: none;
}
.viewmd-panel del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
.viewmd-panel table {
	border-collapse: collapse;
	border-spacing: 0;
}