<?xml version="1.0" encoding="UTF-8"?><strings>
<setting label="System configuration" name="system"/>
<setting label="Language detection" name="autodetect"/>
<setting label="Ota automaattinen havaita etsittäväks kieltä" name="system/autodetect/enable">
			Jos asetettu, haku kieli tunnistetaan automaattisesti. Huomaa, että tämä ei toimi kovin hyvin lyhyiden hakutermejä.
		</setting>
<setting label="Automatic Fixes" name="autofixing"/>
<setting label="Ota käyttöön" name="system/autofixing/enable"/>
<setting label="Linkkejä voi klikata" name="clickablehyperlinks"/>
<setting label="Ota käyttöön" name="system/clickablehyperlinks/enable">
			Jos otettu käyttöön, Paikkatietohakemiston metatietoihin tallennetut www-osoitteet näytetään linkkeinä.
		</setting>
<setting label="CSW ISO -profiili" name="csw"/>
<setting label="Yhteystaho" name="system/csw/contactId"/>
<setting label="Ota käyttöön" name="system/csw/enable"/>
<setting label="Lisättävä metatieto on julkinen." name="system/csw/metadataPublic"/>
<setting label="Latauspalvelu" name="downloadservice"/>
<setting label="Latauspalvelu" name="system/downloadservice"/>
<setting label="Käytä metatiedoissa olevaa linkkiä" name="system/downloadservice/leave">
				Jos metatietojen protokollaksi on valittu "Käytä metatiedoissa olevaa linkkiä",  Paikkatietohakemistossa ei ole latauspalvelua, mutta käyttäjä voi käyttää metatietojen tuottajan tarjoamaa linkkiä.
		</setting>
<setting label="Käytä Geonetworkin latauspalvelua (resources.get)" name="system/downloadservice/simple">
				Jos metatietojen protokollaksi on valittu "Käytä Geonetworkin latauspalvelua (resources.get)",  käyttäjä voi ladata aineiston Paikkatietohakemistosta. 
		</setting>
<setting label="Käytä GeoNetworkin palvelua, jossa voidaan määrittää käyttöehdot(file.disclaimer)" name="system/downloadservice/withdisclaimer">
				Jos metatietojen protokollaksi on valittu "Käytä GeoNetworkin palvelua, jossa voidaan määrittää käyttöehdot(file.disclaimer)",  käyttäjä voi ladata aineiston Paikkatietohakemistosta hyväksyttyään käyttöehdot. 
		</setting>
<setting label="Palaute" name="feedback"/>
<setting label="Sähköpostiosoite" name="system/feedback/email">
			Ylläpitäjän sähköpostiosoite.
		</setting>
<setting label="Sähköpostipalvelin (SMTP)" name="system/feedback/mailServer/host">
			Palvelussa käytetyt sähköpostipalvelin ja sen käyttämä portti.
		</setting>
<setting label="Sähköpostipalvelimen portti (SMTP)" name="system/feedback/mailServer/port"/>
<setting name="system/feedback/mailServer/ssl" label="Use SSL"/>
<setting name="system/feedback/mailServer/username" label="User name"/>
<setting name="system/feedback/mailServer/password" label="Password"/>
<setting label="Harvesting" name="harvester"/>
<setting label="Allow editing on harvested records" name="system/harvester/enableEditing"/>
<setting label="Metadata / ISO19139 / Nil reason attribute with held" name="hidewithheldelements"/>
<setting label="Hide Withheld Elements" name="system/hidewithheldelements/enable"/>
<setting label="Keep Marked Element" name="system/hidewithheldelements/keepMarkedElement"/>
<indexoptimizer>Lucene-indeksin optimointi</indexoptimizer>
<at>Suorita</at>
<atSpec>(kellonaika muodossa hh:mm esim. 23:15)</atSpec>
<interval>Optimointi suoritetaan:</interval>
<hourintervals>
<hour label="1 hour (not recommended)">1</hour>
<hour label="3 hours">3</hour>
<hour label="6 hours">6</hour>
<hour label="12 hours">12</hour>
<hour label="1 day">24</hour>
<hour label="2 days">48</hour>
<hour label="3 days">72</hour>
<hour label="4 days">96</hour>
</hourintervals>
<hours>
<hour label="0">0</hour>
<hour label="1">1</hour>
<hour label="2">2</hour>
<hour label="3">3</hour>
<hour label="4">4</hour>
<hour label="5">5</hour>
<hour label="6">6</hour>
<hour label="7">7</hour>
<hour label="8">8</hour>
<hour label="9">9</hour>
<hour label="10">10</hour>
<hour label="11">11</hour>
<hour label="12">12</hour>
<hour label="13">13</hour>
<hour label="14">14</hour>
<hour label="15">15</hour>
<hour label="16">16</hour>
<hour label="17">17</hour>
<hour label="18">18</hour>
<hour label="19">19</hour>
<hour label="20">20</hour>
<hour label="21">21</hour>
<hour label="22">22</hour>
<hour label="23">23</hour>
</hours>
<minutes>
<minute label="0">0</minute>
<minute label="15">15</minute>
<minute label="30">30</minute>
<minute label="45">45</minute>
</minutes>
<setting label="Lucene-indeksin optimointi" name="indexoptimizer"/>
<setting label="Hour" name="system/indexoptimizer/at/hour"/>
<setting label="Sec" name="system/indexoptimizer/at/sec"/>
<setting label="Minutes" name="system/indexoptimizer/at/min"/>
<setting label="Ota käyttöön" name="system/indexoptimizer/enable"/>
<setting label="Optimointi suoritetaan:" name="system/indexoptimizer/interval"/>
<setting label="Day" name="system/indexoptimizer/interval/day"/>
<setting label="Hour" name="system/indexoptimizer/interval/hour"/>
<setting label="Min" name="system/indexoptimizer/interval/min"/>
<setting label="Inspire" name="inspire"/>
<setting label="Ota käyttöön" name="system/inspire/enable"/>
<setting label="Enable search panel" name="system/inspire/enableSearchPanel"/>
<setting label="Intranet" name="intranet"/>
<setting label="Verkko" name="system/intranet/netmask"/>
<setting label="Verkkomaski" name="system/intranet/network">
			Verkko-osoitetta ja maskia käytetään GeoNetworkin sisäisissä linkityksissä.
		</setting>
<setting label="Arvostelu on mahdollista." name="localrating"/>
<setting label="Ota käyttöön" name="system/localrating/enable">
			Jos otettu käyttöön, Paikkatietohakemiston metatietoja voidaan arvostella.
		</setting>
<setting label="Metadata views" name="metadata"/>
<setting label="Default view" name="system/metadata/defaultView"/>
<setting label="INSPIRE view" name="system/metadata/enableInspireView"/>
<setting label="ISO view" name="system/metadata/enableIsoView"/>
<setting label="Simple view" name="system/metadata/enableSimpleView"/>
<setting label="XML view" name="system/metadata/enableXmlView"/>
<setting label="Metadata privileges" name="metadataprivs"/>
<setting label="Only set privileges to user's groups" name="system/metadataprivs/usergrouponly"/>
<setting label="OAI-palvelun tarjoaja" name="oai"/>
<setting label="Välimuistin koko" name="system/oai/cachesize">
			Välimuistiin tallennettujen tulosten määrä.
		</setting>
<setting label="Päivämäärän haku" name="system/oai/mdmode">
			Jos alku- ja loppupäivää muutetaan, se vaikuttaa OAI:n toimintaan. Jos valitaan ajallinen kattavuus, metatiedoista haetaan ajallisen kattavuuden päiväys. Jos valitaan muokkauspäivä, metatiedoista haetaaan metatietojen viimeisin päivitysajankohta.   Käyttöönotto vaatii GeoNetwork-palvelun uudelleenkäynnistämistä.
		</setting>
<datesearchopt>
<dsopt label="Ajallinen kattavuus">1</dsopt>
<dsopt label="Muokkauspäivä">2</dsopt>
</datesearchopt>
<setting label="Enimmäiskesto" name="system/oai/tokentimeout">
			Sekuntteina aika, jonka OAI-tulokset säilyvät välimuistissa ja niitä voidaan selailla.lease note. Käyttöönotto vaatii GeoNetwork-palvelun uudelleenkäynnistämistä.
		</setting>
<setting label="Proxy" name="proxy"/>
<setting label="Host-palvelin" name="system/proxy/host">
			Jos proxy-palvelin otetaan käyttöön, palvelu käyttää proxy-parametreja ottaessa yhteyden muihin palvelimiin, esim. hakiessaan metatietoja muilta palvelimilta.
		</setting>
<setting label="Password" name="system/proxy/password"/>
<setting label="Portti" name="system/proxy/port"/>
<setting label="Käytä" name="system/proxy/use"/>
<setting label="Käyttäjätunnus" name="system/proxy/username"/>
<setting label="Poistetut metatiedot" name="removedMetadata"/>
<setting label="Hakemisto" name="system/removedMetadata/dir">
			Hakemisto, johon poistetut metatiedot tallennetaan.
		</setting>
    <setting name="system/requestedLanguage/ignorechars" label="Characters to ignore during indexing"/>
<requestedlanguageonly>Search only in requested language</requestedlanguageonly>
<requestedlanguage_offonly>All documents in all languages (No
                preferences)</requestedlanguage_offonly>
<requestedlanguageprefer_locale>Prefer documents with translations requested
                language</requestedlanguageprefer_locale>
<requestedlanguageprefer_docLocale>Prefer documents whose language is the requested
                language</requestedlanguageprefer_docLocale>
<requestedlanguage_localeonly>Translations in requested
                language</requestedlanguage_localeonly>
<requestedlanguage_docLocaleonly>Document language is the requested
                language</requestedlanguage_docLocaleonly>
<requestedlanguage_prefer_ui_locale>Prefer documents having translations in the UI language</requestedlanguage_prefer_ui_locale>
<requestedlanguage_only_ui_locale>Only documents having translations in the UI language</requestedlanguage_only_ui_locale>
<requestedlanguage_prefer_ui_docLocale>Prefer documents having the same language as the UI language</requestedlanguage_prefer_ui_docLocale>
<requestedlanguage_only_ui_docLocale>Only documents having the same language as the UI language</requestedlanguage_only_ui_docLocale>


    <setting label="Search &amp; language" name="requestedLanguage"/>
<setting label="Search only in requested language" name="system/requestedLanguage/only"/>
<setting label="Hakutulokset pyysi kielellä lajiteltu päälle" name="system/requestedLanguage/sorted"/>
<setting label="" name="system/requestedLanguage/ignored"/>
<setting label="Search Statistics" name="searchStats"/>
<setting label="Ota käyttöön" name="system/searchStats/enable"/>
<setting label="Metadata Search Results" name="selectionmanager"/>
<setting label="Tulosten enimmäismäärä" name="system/selectionmanager/maxrecords"/>
<setting label="Catalog server" name="server"/>
<setting label="Palvelin" name="system/server"/>
<setting label="Host-palvelin" name="system/server/host">
			Palvelimen ip-osoite ja porttia käytetään luotaessa www-osoitteita GeoNetowrk-palvelimelle, esimerkiksi luotaessa osoitteita metatietoihin ja vastatessa CSW-rajapintapyyntöön. Metatiedon sisällä tulisi käyttää GAST-työkaulua.
		</setting>
<setting label="Portti" name="system/server/port"/>
<setting label="Preferred Protocol" name="system/server/protocol"/>
<setting label="Secure Portti" name="system/server/securePort"/>
<setting label="Shibboleth" name="shib"/>
<setting label="Shibboleth-attribuuttien tunnistus" name="system/shib/attrib"/>
<setting label="Default group" name="system/shib/defaultGroup"/>
<setting label="Osoite" name="system/shib/path"/>
<setting label="Sähköpostiosoite" name="system/shib/email"/>
<setting label="Käyttäjätunnus" name="system/shib/username"/>
<setting label="Sukunimi" name="system/shib/surname"/>
<setting label="Etunimi" name="system/shib/firstname"/>
<setting label="Profile" name="system/shib/profile"/>
<setting label="Ota käyttöön" name="system/shib/use"/>
<setting label="Sivusto" name="site"/>
<setting label="Nimi" name="system/site/name">
			Sivuston nimi identifioi kyseisen palvelun.
		</setting>
<setting label="Organisaatio" name="system/site/organization"/>
<setting label="Sivusto" name="system/site/siteId"/>
<recommendedThreads>Recommended</recommendedThreads>
<reasonForOne>Database not tested or doesn't support</reasonForOne>
<reasonForMore>From number of processors</reasonForMore>
<setting label="Indexing" name="threadedindexing"/>
<setting label="Number of processing threads" name="system/threadedindexing/maxthreads"/>
<setting label="Käyttäjä voi rekisteröityä itse" name="userSelfRegistration"/>
<setting label="Ota käyttöön" name="system/userSelfRegistration/enable">
			Jos itserekisteröityminen otetaan käyttöön, käyttäjät voivat rekisteröityä itse. Käyttäjälle lähetetään käyttäjätunnus ja salasana sähköpostitse.
		</setting>
<setting label="XLink-elementtien muodostaminen" name="xlinkResolver"/>
<setting label="Ota käyttöön" name="system/xlinkResolver/enable">
			Jos otettu käyttöön, XLink-linkit metatieto-osioihin lasketaan. 
		</setting>
<setting label="Z39.50-palvelin" name="z3950"/>
<setting label="Ota käyttöön" name="system/z3950/enable">
			Jos Z39.50-protokolla otetaan käyttöön, käynnistettäessä GeoNetwork käynnistetään myös ISO Z39.50-palvelinkomponentti. Käyttöönotto vaatii GeoNetwork-palvelun uudelleenkäynnistämistä.
		</setting>
<setting label="Portti" name="system/z3950/port">
			Muuta Z39.50-porttia. Muutoksen voimaantulo vaatii GeoNetwork-palvelun uudelleenkäynnistämistä.
		</setting>
<setting name="system/site/siteId">Sivusto</setting>
<setting name="system/platform/version">Version:</setting>
<setting name="system/platform/subVersion">Sub-version:</setting>
<setting label="Subversion repository identifier" name="system/site/svnUuid"/>
<multilingual>Monikielinen asetukset</multilingual>
<autoDetectEnable>Ota automaattinen havaita etsittäväks kieltä</autoDetectEnable>
<csw>CSW ISO -profiili</csw>
<contactId>Yhteystaho</contactId>
<title>Otsikko</title>
<abstract>Tiivistelmä</abstract>
<fees>Hinnat</fees>
<accessConstraints>Saatavuusrajoitteet</accessConstraints>
<cswMetadataPublic>Lisättävä metatieto on julkinen.</cswMetadataPublic>
<dir>Hakemisto</dir>
<authentication>Autentikointi</authentication>
<otherlogins>Salli muiden käyttäjien kirjautua</otherlogins>
<shib>Shibboleth</shib>
<metadataEnableInspireSearch>Enable search panel</metadataEnableInspireSearch>
<metadataViews>Metadata views</metadataViews>
<metadataEnableSimpleView>Enable simple view</metadataEnableSimpleView>
<metadataEnableIsoView>Enable ISO view</metadataEnableIsoView>
<metadataEnableInspireView>Enable INSPIRE view</metadataEnableInspireView>
<metadataEnableXmlView>Enable XML view</metadataEnableXmlView>
<metadataDefaultView>Default view</metadataDefaultView>
<metadataSimpleView>Simple view</metadataSimpleView>
<metadataIsoView>ISO view</metadataIsoView>
<metadataInspireView>INSPIRE view</metadataInspireView>
<metadataXmlView>XML view</metadataXmlView>
<metadataAdvancedView>Advanced view</metadataAdvancedView>
<save>Tallenna</save>
<refresh>Tyhjennä</refresh>
<tips>
<tip id="csw.enable">
			Jos CSW-protokolla otetaan käyttöön, palvelusta voidaan hakea metatietoja muihin palveluihin. <b>Käyttöönotto vaatii GeoNetwork-palvelun uudelleenkäynnistämistä.</b>
		</tip>
<tip id="csw.contactId">
			Muuta palvelun yhteystietoja CSW-palvelupyyntöjä varten.
		</tip>
<tip id="csw.title">Otsikko</tip>
<tip id="csw.abstract">Tiivistelmä</tip>
<tip id="csw.fees">Hinnat</tip>
<tip id="csw.accessConstraints">Saatavuusrajoitteet</tip>
</tips>
<data.dataDir>Data directory:</data.dataDir>
<data.resources>Resources directory:</data.resources>
<data.configDir>Configuration directory:</data.configDir>
<data.schemaPluginsDir>Schema plugin directory:</data.schemaPluginsDir>
<data.subversionPath>Subversion directory:</data.subversionPath>
<data.codeListDir>Thesaurus directory:</data.codeListDir>
<xslt.factory>XSLT factory:</xslt.factory>
<java.vm.name>JVM name:</java.vm.name>
<java.vm.vendor>JVM vendor:</java.vm.vendor>
<java.version>JVM version:</java.version>
<os.arch>System architecture:</os.arch>
<os.name>System name:</os.name>
<mem.total>Total memory:</mem.total>
<mem.free>Total free memory:</mem.free>
<index.size.lucene>Lucene index size (ko):</index.size.lucene>
<index.size>Total index size (ko):</index.size>
<index.path>Index directory:</index.path>
<index>Lucene index information</index>
<main>System information</main>
<catalogue>Catalogue information</catalogue>
<database>Database information</database>
<index.lucene.config>Lucene configuration:</index.lucene.config>
<db.url>Database URL:</db.url>
<db.openattempt>Database Status:</db.openattempt>
<db.numactive>Database connections in use:</db.numactive>
<db.numidle>Database connections available:</db.numidle>
<db.maxactive>Maximum number of database connections:</db.maxactive>
<db.statserror>Database statistics:</db.statserror>
<sequentialExecution>ThreadPool Sequential Execution Mode: </sequentialExecution>
</strings>
