<div class="geocat-header">
  <img src="/geonetwork/images/geocat_logo_li.gif" alt="geocat.ch logo">
  <img src="/geonetwork/images/bg_kopf_geocat.gif" alt="geocat.ch logo" style="float:right;">
</div>

<nav class="navbar navbar-default" role="navigation"
     data-ng-include="'../../catalog/views/geocat/templates/top-bar.html'">
</nav>

<div data-gn-alert-manager=""></div>

<div class="container-fluid gn-search-page" data-ng-controller="GnSearchController">
  <div class="hfull" data-ng-controller="gnsGeocat">

    <form ng-search-form="" class="hfull" ng-class="{'searchMapExpanded': !collapsed.map}">
      <button ng-class="{'collapsed': !collapsed.facet}" class="btn btn-default btn-sm expander" ng-click="collapsed.facet=!collapsed.facet" type="button">
        <span>«</span>
      </button>
      <div class="row hfull">

        <div class="maincol hfull geocat-leftcol" ng-class="(collapsed.search) ? 'col-md-3' : 'col-md-6'">
          <button class="btn btn-default btn-sm expander" ng-click="toggleSearch()" type="button">
            <span ng-show="collapsed.search">»</span>
            <span ng-show="!collapsed.search">«</span>
          </button>
          <div class="panel panel-default hfull">
            <div class="panel-heading search-top">
              <div class="input-group">
                <input type="text" ng-model="searchObj.params.any" placeholder="{{'anyPlaceHolder' | translate}}"
                       typeahead="address for address in getAnySuggestions($viewValue)" typeahead-loading="anyLoading" class="form-control"
                       typeahead-min-length="1" id="anySearchField">
                <i ng-show="anyLoading" class="fa fa-refresh inner-spinner"></i>
                <span class="input-group-btn">
                  <button type="submit" data-ng-click="triggerSearch()" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="panel-body geocat-search">
              <div data-ng-include="'../../catalog/views/geocat/templates/searchForm.html'"></div>
            </div>
            <!--<div class="panel-footer">
            </div>-->
          </div>
        </div>

        <div ng-class="{ 'col-md-7': collapsed.search && !collapsed.facet , 'col-md-9': collapsed.search && collapsed.facet, 'col-md-6': !collapsed.search && collapsed.facet , 'col-md-4': !collapsed.search && !collapsed.facet}" class="maincol hfull">
          <button ng-show="!collapsed.facet" class="btn btn-default btn-sm expander" ng-click="collapsed.facet=!collapsed.facet" type="button">
            <span>»</span>
          </button>
          <div class="panel panel-default hfull" ng-if="searchObj.homePage" ng-controller="gnsGeocatHome">
            <div class="panel-heading" translate>
              <h3 class="panel-title" translate>homeTitle</h3>
            </div>
            <div class="gc-homepage">
              <div class="panel-body">
                <img src="http://www.geocat.ch/geonetwork/images/geocatII-web.jpg" alt=""></p>
                <h4><span translate>recentChanges</span>  <a href="../../srv/en/rss.latest?georss=simplepoint" class="fa fa-rss-square"></a></h4>
                <ul>
                  <li ng-repeat="md in lastUpdated">
                    <a href="" gn-metadata-open="md" gn-metadata-open-selector=".gc-homepage">{{md.title || md.defaultTitle}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="panel panel-default hfull" ng-show="!searchObj.homePage">
            <div class="panel-heading">
              <div gn-selection-widget results="searchResults"></div>
              <div sortby-combo params="searchObj.params" gn-sortby-values="searchObj.sortbyValues"></div>
            </div>
            <span class="loading fa fa-spinner fa-spin" ng-show="searching"></span>
            <div gn-results-container search-results="searchResults" template-url="resultTemplate" map="searchObj.searchMap">
            </div>
            <div class="alert alert-warning gn-zarroo" ng-show="searchResults.count == 0 && !searching">
              <span translate>zarooResult</span>
            </div>
            <div class="panel-footer dropup">
              <div ng-show="searchResults.count > 0">
                <div data-gn-pagination="paginationInfo"
                  data-hits-values="searchObj.hitsperpageValues" ></div>
              </div>
            </div>
          </div>
        </div>

        <div ng-class="(!collapsed.facet) ? 'col-md-2' : 'whidden'" class="maincol hfull">
          <div class="panel panel-default hfull">
            <div class="panel-heading">
              <span data-translate>refineSearch</span>
            </div>
            <div class="panel-body">
              <div data-gn-facet-breadcrumb="currentFacets"></div>
              <div data-gn-facet-list="searchResults.facet"
                data-facet-config="facetsSummaryType"
                data-current-facets="currentFacets">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
