<?xml version="1.0" encoding="UTF-8"?>

<strings>
	<site>Sitio</site>
	<name>Nombre</name>
	<organ>Organización</organ>

	<server>Servidor</server>
	<host>Servidor</host>
	<port>Puerto</port>

	<intranet>Intranet</intranet>
	<network>Red</network>
	<netmask>Mascara de red</netmask>

	<z3950>Servidor Z39.50</z3950>
	<enable>Activar</enable>

	<csw>CSW</csw>
	<contactId>Contact</contactId>
	<title>Title</title>
	<abstract>Abstract</abstract>
	<fees>Fees</fees>
	<accessConstraints>Access Constraints</accessConstraints>

	<proxy>Proxy</proxy>
	<use>Uso</use>
	<username>Nombre de usuario</username>

	<feedback>Retroalimentación</feedback>
	<email>Correo</email>
	<smtpHost>Servidor SMTP</smtpHost>
	<smtpPort>Puerto SMTP</smtpPort>

	<userSelfRegistration>User Self-Registration</userSelfRegistration>
	
	<removedMetadata>Removed metadata</removedMetadata>
	<dir>Directory</dir>

	<userSelfRegistration>User Self-Registration</userSelfRegistration>

	<authentication>Autenticación</authentication>
	
	<loginuses>Login uses</loginuses>
	<otherlogins>Allow other users to login from</otherlogins>

	<geonetworkdb>GeoNetwork Autenticación</geonetworkdb>
		
	<ldap>LDAP Autenticación</ldap>
	<defProfile>Default profile</defProfile>
	<login>Login</login>
	<userDN>User DN</userDN>
	<distNames>Distinguished names</distNames>
	<baseDN>Base</baseDN>
	<usersDN>Users</usersDN>
	<userAttribs>User's attributes</userAttribs>
	<password>Password</password>
	<profile>Profile</profile>

	<shib>Shibboleth Autenticación</shib>
	<path>Path</path>
	<attributes>Shibboleth attribute mapping</attributes>
	<surname>Nombre de familia</surname>
	<firstname>Nombre</firstname>

	<!-- Buttons -->

	<save>Guardar</save>
	<refresh>Refrescar</refresh>

	<!-- validator messages -->

	<validator>
		<length>
			<cannotBeEmpty>
				El campo '{NAME}' no puede ser vacio
			</cannotBeEmpty>
			<invalidMinSize>
				El campo '{NAME}' debe ser al menos de {VALUE}
				caracter(es) de longitud
			</invalidMinSize>
			<invalidMaxSize>
				El campo '{NAME}' debe de ser de al máximo {VALUE}
				caracter(es) de longitud
			</invalidMaxSize>
		</length>

		<integer>
			<notInt>El campo '{NAME}' debe ser un entero</notInt>
			<invalidMinValue>
				El campo '{NAME}' debe ser &gt;= {VALUE}
			</invalidMinValue>
			<invalidMaxValue>
				El campo '{NAME}' debe ser &lt;= {VALUE}
			</invalidMaxValue>
		</integer>

		<alphanum>
			<notAlphaNumeric>
				El campo '{NAME}' debe ser alfanúmerico (comenzando con
				una letra)
			</notAlphaNumeric>
		</alphanum>

		<hostname>
			<notHostName>
				El campo '{NAME}' no es un nombre de servidor válido
			</notHostName>
		</hostname>

		<url>
			<notURL>El campo '{NAME}' no es una URL válida</notURL>
		</url>

		<ipaddress>
			<notIP>
				El campo '{NAME}' no es un dirección IP válida
			</notIP>
		</ipaddress>
	</validator>

	<!-- display messages -->

	<cannotGet>
		No es posible obtener la configuración del sistema
	</cannotGet>
	<cannotSave>
		No es posible guardar la configuración del sistema
	</cannotSave>
	<saveOk>Configuración del sistema almacenada.</saveOk>

	<!-- tooltips -->

	<tips>
		<tip id="site.name">Usado para identificar la instalación.</tip>

		<!-- server -->

		<tip id="server.host">
			El
			<b>servidor</b>
			y
			<b>puerto</b>
			son usados para crear URLs al servidor GeoNetwork. Por
			ejemplo, son usados durante la edición de metadatos para
			crear ligas a los recursos y para regresar el capabilities
			del servidor durante un requerimiento CS/W.
			<br />
			<b>Por favor note:</b>
			debería utilizar la herramienta GAST para reflejar este
			cambio dentro de los metadatos.
		</tip>

		<!-- intranet -->

		<tip id="intranet.network">
			Los parámetros
			<b>red</b>
			y
			<b>máscara de red</b>
			son usados para identificar conexiones internas a
			GeoNetwork, esto es, para identificar el grupo intranet.
		</tip>

		<!-- Z39.50 -->

		<tip id="z3950.enable">
			Si está establecido, durante la inicialización Geonetwork
			iniciará el componente de servidor Z39.50. Este componente
			usa el protocolo ISO23950.
			<br />
			<b>Por favor note:</b>
			debe reiniciar GeoNetwork para que este cambio tenga efecto.
		</tip>

		<tip id="z3950.port">
			Cambie el puerto de Z39.50.
			<br />
			<b>Por favor note:</b>
			debe reiniciar GeoNetwork para que este cambio tenga efecto.
		</tip>

		<!-- proxy -->

		<tip id="csw.enable">
			If set, this will enable the CSW server functionnality. It will allow other catalogs to harvest it.
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		<tip id="csw.contactId">
			Configure CSW contact for GetCapabilities operation.
		</tip>
		<tip id="csw.title">Title</tip>
		<tip id="csw.abstract">Abstract</tip>
		<tip id="csw.fees">Fees</tip>
		<tip id="csw.accessConstraints">Access constraints</tip>
		
		<!-- proxy -->
		
		<tip id="proxy.use">
			Si está establecido, GeoNetwork usará los parámetros para
			accesar nodos remotos. Por ejemplo, es usado durante el
			harvesting.
		</tip>

		<!-- feedback -->

		<tip id="feedback.email">
			Este es el correo del administrador usado para
			retroalimentación.
		</tip>

		<tip id="feedback.mail.host">
			Los parámetros SMTP
			<b>servidor</b>
			y
			<b>puerto</b>
			son usados para enviar correos a los usuarios de GeoNetwork
			cuando un recurso es bajado.
		</tip>
	<!-- removed metadata -->
		
		<tip id="removedMd.dir">
			Directory used to store metadata (in MEF format) when they are deleted.
		</tip>

		<!-- userSelfRegistration -->
		
		<tip id="userSelfRegistration.enable">
			If set, users will be able to register themselves. Self-registered
			users are assigned to the GUEST group. An email is sent to the
			user with their username and password enclosed using the feedback
			email information.
			<br/>
		</tip>
		
	</tips>

</strings>

