@import '../../../style/gn_viewer.less';

@sxt-orange: #F28033;
@sxt-btn-size: 2.2em;

@tmp-max-height: 350px;

[sxt-main-viewer] {

  .sxt-search-btn {
    left: 0;
  }

  .sxt-panel-button {
    text-align: center;
  }

  .main-tools {
    right: auto;
    left: 1.8em;
    width: auto;
    background: white;
    width: 26em;
    height: 3em;
    line-height: 3em;
    top: @sxt-vieweritem-top;
    padding: 0 10px;
    box-shadow: @sxt-shadow;
    max-height: 90%;
    button:focus [role=tooltip],
    button:hover [role=tooltip] {
      right: auto;
      margin-left: -1.7em;
      top: 2.9em;
      border-radius: .2em;
      &:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: 5px solid transparent;
        border-bottom-color: rgba(0,0,0,.6);
        left: .9em;
        top: -10px;
      }
    }
    &.activeTool {
      height: auto;
      padding-bottom: 1em;
    }
  }

  .sxt-panel-toggle,
  .main-tools button,
  .control-tools button {
    background: @sxt-base-color;
    color: white;
    border: none;
    border-radius: 2px;
    width: @sxt-btn-size;
    padding: 4px;
    box-shadow: @sxt-shadow;
    &.active {
      background: @sxt-base-color-light;
      border-radius: 2px;
      width: @sxt-btn-size;
      margin-left: 0;
    }
  }
  .control-tools button {
    &:focus [role=tooltip],
    &:hover [role=tooltip] {
      right: 2.3em;
    }
  }

  .sxt-main-tabs .sxt-panel-toggle {
    background: @sxt-base-color-dark;
    position: absolute;
    top: 2.7em;
    left: 2.9em;
    z-index: 3;
    padding: 1px 0;
    width: 1.8em;
    .fa {
      color: white;
    }
  }


  .tools:first-of-type {
    top: @viewport-padding + .5em;
  }

  .control-tools {
    top: 7em;
    right: 1.8em;
    left: auto;
    bottom: auto;
    width: 2.25em;
    button {
      margin-bottom: .5em;
    }
    .btn-zoomin {
      border-radius: 2px 2px 0 0;
    }
    .btn-zoomout {
      border-radius: 0 0 2px 2px;
      margin-top: -6px;
    }
    .btn-maxextent {
      border-radius: 0;
      margin-top: -6px;
    }
  }

  [gn-baselayerswitcher] {
    margin: 1em 0;
    .dropdown-toggle {
      margin: 0 -15px;
      background: transparent;
      border: 1px solid #ddd;
      box-shadow: none;
      border-width: 1px 0;
      padding: .5em;
      .baselayer-title {
        color: @sxt-base-color;
      }
    }
    .btn {
      border-radius: 0;
    }
  }

  .panel-tools-container {
    display: none;
    &.open {
      display: block;
    }
  }

  .panel-tools {
    position: static;
    right: auto;
    left: auto;
    top: auto;
    bottom: auto;
    margin: 0;
    border: none;
    border-radius: 0;
    max-height: none;
    max-width: none;
    width: auto;
    display: block;
    line-height: 1.1em;
    &.force-hide {
      display: none;
    }
  }

  [gn-mapprint] button {
    width: 100%;
  }

  .sx-toolbar {
    position: absolute;
    top: @viewport-padding;
    width: auto;
    right: 7em;
    button:focus [role=tooltip],
    button:hover [role=tooltip] {
      right: auto;
      left: 0;
      top: 2.9em;
      border-radius: .2em;
      &:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: 5px solid transparent;
        border-bottom-color: rgba(0,0,0,.6);
        left: .9em;
        top: -10px;
      }
    }
    &[gn-localisation-input] {
      left: auto;
      width: 20em;
    }
    & .btn {
      border-radius: 4px;
    }
  }
  .search-container {
    top: @sxt-vieweritem-top;
    right: 1.8em;
    input {
      height: 3em;
      border-radius: 0;
      border: none;
      box-shadow: @sxt-shadow;
    }
    .clear {
      top: 1.2em;
    }
    .dropdown-menu {
      border-radius: 0;
      li {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        font-size: 12px;
        em {
          font-size: 11px;
        }
      }
    }
  }

  .panel-carousel-container {
    width: 300%;
  }

  [gn-gfi] {
    transition: left @transition-params;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2.3em;
    z-index: 50;
    .results {
      background: white;
      left: .5em;
      right: .5em;
      bottom: .5em;
      box-shadow: @sxt-shadow;
      border-radius: 0;
      width: auto;
      overflow: visible;
      .panel-heading {
        position: absolute;
        box-shadow: inset @sxt-shadow;
        top: -1em;
        right: 1em;
        background: @sxt-base-color;
        width: 15em;
        height: auto;
        border-radius: 0;
        z-index: 0;
        height: 2em;
        padding: 0;
        border-radius: 2px;
        h5 {
          margin: 0 .5em;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 2.3em;
          color: white;
        }
        .btn {
          background: white;
          box-shadow: @sxt-shadow;
          opacity: 1;
          width: 1.2em;
          border-radius: 2px;
          padding: 3px 0 3px;
          color: black;
        }
      }
      .sxt-layer {
        padding: 0 2em;
      }
      .table-scroller {
        overflow-x: auto;
      }
      h5 {
        color: @sxt-base-color;
      }
      table {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid @gray-lighter;
        font-size: 11px;
        margin-bottom: 0;
        th {
          font-weight: bold;
          background: #eee;
          border-right: 1px solid #aaa;
        }
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    background: rgba(255,255,255,.4);
  }

  .ol-scale-line {
    background: none;
    bottom: 0;
    left: auto;
    right: 0;
    .ol-scale-line-inner {
      color: #555;
      border-color: #555;
      height: 22px;
      font-size: 13px;
      text-shadow: 0px 0px 1px white;
    }
  }

  [sxt-mouse-position] {
    .btn-group.bootstrap-select.form-control {
      width: auto;
      float: left;
      margin-right: 1em;
      .btn {
        .btn-link;
      }
    }
    .ol-mouse-position {
      position: static;
      height: 32px;
      line-height: 32px;
      color: #555;
      text-shadow: 0px 0px 1px white;
      font-size: 13px;
    }
  }

  .sxt-layer-separator {
    margin-bottom: -.8em;
  }
  .panel-tools .sxt-layer-tabs {
    display: block;
    margin-left: 2em;
    margin-bottom: 1em;
    button.btn {
      width: auto;
      background: white;
      color: @sxt-base-color;
      text-transform: uppercase;
      flex: 0;
      padding: 2px 6px;
      font-weight: bold;
      &.active {
        box-shadow: inset @sxt-shadow;
        background: @sxt-base-color;
        color: white;
      }
    }
  }
  .tools {
    button[sxt-layer-tools-toggle] {
      background: @sxt-base-color-dark;
      color: #fff;
      padding: 2px 0 1px;
      float: left;
      margin: 0 1em;
      width: 1.7em;
      visibility: hidden;
    }
    .layers-tools-expanded button[sxt-layer-tools-toggle] {
      visibility: visible;
    }
  }

  .sxt-layers-tabset {
    height: @tmp-max-height;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    clear: both;
    & > .nav-tabs {
      display: none;
    }
    .tab-content {
      background: white;
      padding-top: .6em;
      height: ~"calc(100% - .2em)";
      .tab-pane {
        height: 100%;
        .panel-carousel {
          height: 100%;
          overflow-y: scroll;
        }
      }
    }
    .list-group, .list-group-item {
      border: none;
      border-radius: 0;
      h5 {
        font-size: @sxt-fontsize;
      }
      a {
        &:hover, &:focus {
          text-decoration: none;
        }
        &.disabled {
          color: #999999;
          cursor: not-allowed;
        }
      }
    }
    [gn-layerorder-panel] {
      /*.list-group-item:not(:first-child) {
        border-top: 1px solid #d3d3d3;
      }*/
    }
    [gn-layersources-panel] {
      div {
        margin-left: 1em;
        color: #808080;
        font-size: @sxt-fontsize;
      }
    }
  }
  .layers-tools-expanded .sxt-layers-tabset {
    display: block;
  }

  .layers .sxt-layertree {
    height: @tmp-max-height;
    max-height: none;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .sxt-maximize-layer-tools {
    .sxt-layertree {
      display: none;
    }
    .sxt-layers-tabset {
      height: ~"calc(@{tmp-max-height} + @{tmp-max-height})";
    }
  }

  @media (max-height: 866px) {
    @tmp-max-height: 300px;
    .sxt-layers-tabset {
      height: @tmp-max-height;
    }
    .layers .sxt-layertree {
      height: @tmp-max-height;
    }
    .sxt-maximize-layer-tools .sxt-layers-tabset {
      height: ~"calc(@{tmp-max-height} + @{tmp-max-height})";
    }
  }

  @media (max-height: 766px) {
    @tmp-max-height: 250px;
    .sxt-layers-tabset {
      height: @tmp-max-height;
    }
    .layers .sxt-layertree {
      height: @tmp-max-height;
    }
    .sxt-maximize-layer-tools .sxt-layers-tabset {
      height: ~"calc(@{tmp-max-height} + @{tmp-max-height})";
    }
  }

  @media (max-height: 666px) {
    @tmp-max-height: 200px;
    .sxt-layers-tabset {
      height: @tmp-max-height;
    }
    .layers .sxt-layertree {
      height: @tmp-max-height;
    }
    .sxt-maximize-layer-tools .sxt-layers-tabset {
      height: ~"calc(@{tmp-max-height} + @{tmp-max-height})";
    }
  }

  .sxt-hidden {
    visibility: hidden;
  }

  .layers .sxt-ncwms-tabs {
    float: none !important;
    position: absolute;
    right: .9em;
    margin-left: 0px;
    width: auto;
    margin-top: -1px;
    display: block;
    button.btn {
      width: auto;
      padding: 0 .5em;
      line-height: 2em;
    }
    span.btn {
      background: white;
      color: @sxt-base-color;
      margin-top: -2px;
      height: 2.2em;
      width: 2em;
      line-height: 2em;
      margin-right: -.5em;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: .5em;
    }
  }

  [sxt-layertree], .sxtb-speciestree  {
    padding: 3px 15px 0 0;
    font-size: @sxt-fontsize;
    .btn-cog {
      float: right;
      margin-right: -.6em;
      margin-top: -.5em;
      background: inherit;
      padding: 6px 8px;
    }
    label {
      font-weight: normal;
      display: inline;
    }
    .sxt-outofrange > div > label {
      color: #999;
    }
    .list-group {
      margin: .5em 0;
    }
    .sxt-layer-visibility {
      color: @sxt-base-color;
    }
    a.dropdown-toggle {
      border: none;
      background: transparent;
      color: @sxt-base-color;
      height: 1.2em;
      line-height: 1.2em;
      box-shadow: none;
      padding: 0;
    }
    .sxt-layertree-filter {
      &:before {
        font-family: FontAwesome;
        content: "\f0b0";
        float: right;
        margin: 0.5em 0.4em 0 0;
        font-size: 16px;
        color: #d3d3d3;
      }
      .clear {
        right: 2em;
      }
    }

    .layerfilter {
      border: none;
      border-bottom: 1px solid #4BA2D9;
      border-radius: 0;
      box-shadow: none;
      width: 90%;
    }
    ul.sxt-layertree-node, ul.sxt-layertree-node > li {
      list-style-type: none;
      padding-left: 10px;
      min-height: 1.9em;
      .fa-minus-square-o, .fa-plus-square-o {
        font-size: 14px;
      }
    }
    ul .list-group {
      border-left: 1px solid rgba(0,0,0,.2);
      margin-left: 4px;
      padding-left: 6px;
    }
    .dropdown-menu > li {
      font-size: 90%;
      label {
        padding: 3px 20px;
      }
    }
    li {
      display: block;
    }
    .sxt-layertree-filter {
      margin: 0 0 15px 15px;
      position:relative;
    }
  }

  .marker {
    pointer-events: none;
    font-size: 23px;
    text-shadow: 0 0 1px #FFF;
  }

  .layerTree {
    font-size: @sxt-fontsize;
    padding: 5px;
    input[type='text'] {
      border: none;
      border-bottom: 1px solid #4BA2D9;
      border-radius: 0;
      box-shadow: none;
    }
    > ul {
      padding-left: 0;
      margin-left: 0;
      .list-group {
        border: none;
        border-left: 1px dotted rgba(0, 0, 0, 0.2);
        margin-left: .5em;
        padding-left: 1em;
        margin-bottom: 0;
      }
    }
    .list-group-item {
      border: none;
      label {
        padding: 2px 0 2px 12px;
        &:hover {
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    .fa-plus-square-o {
      &:before {
        content: "\f0fe";
      }
      color: @sxt-base-color;
    }
  }
  .panel-ncwms-container {
    border: none;
    font-size: @sxt-fontsize;
    .panel-heading {
      padding: 0 5px;
      height: 2em;
      line-height: 2em;
      font-size: @sxt-fontsize-big;
      background-color: white;
      border-bottom-color: @sxt-base-color;

    }
    label {
      font-weight: 400;
    }
  }

  .panel-carousel-window {
    overflow-x: hidden;
  }
  .panel-carousel-container {
    width: 300%;
    position: relative;
    left: 0;
    transition: left @transition-params;
    display: flex;
  }
  .panel-carousel {
    flex: 1;
  }

  .fu {
    button {
      width: 100%;
    }
    &:hover {
      button {
        background: @sxt-base-color-light;
      }
    }
    input:hover {
      cursor: pointer;
    }
  }
}


.popover {
  height: auto;
  border-radius: 2px;
  font-size: 12px;
  &.popover-dropdown .popover-content {
    padding: 0;
    display: table-cell;
    height: 190px;
    vertical-align: middle;
    li {
      padding: 8px 10px;
      border-left: none;
      border-right: none;
      border-radius: 0;
      &:first-child { border-top: none; }
      &:last-child { border-bottom: none; }
    }
  }
  .dropdown-menu {
    position: static;
    box-shadow: none;
    padding: 0 0 1em;
  }
}
