@import "../../../style/gn_search";
@import "gn_mapviewer_sextant.less";
@import "formatter.less";

.sm-max-and-api(@rules) {
  @media (max-width: @screen-sm-max) {
    @rules();
  }
  .sxt-max-sm {
    @rules();
  }
}


@import (less) "../../../lib/bootstrap-select/bootstrap-select.min.css";
@import (less) "../../../lib/bootstrap-table/dist/bootstrap-table.min.css";
@import (less) "../../../lib/bootstrap.ext/datepicker/datepicker.css";
@import (less) "../../../lib/style/datetimepicker.css";
@import (less) "../../../lib/timeline/timeline.css";
@import (less) "../../../lib/d3_timeseries/nv.d3.min.css";

@import "gn_feedback_default.less";
@import "../../../style/ellipsis.less";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2)
    format('woff2'),
    url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff)
    format('woff');
}

@font-face {
  font-family: 'Sextant';
  src: url('../catalog/views/sextant/less/fonts/sextant-large.ttf') format('truetype'), url('../catalog/views/sextant/less/fonts/sextant-large.eot') format('eot');
}

@import "sextant-variables.less";

// theme import (overrides variables)
@theme-name: "default";
@import "./themes/@{theme-name}.less";

// overrides bootstrap colors to fit our theme
@brand-primary: @sxt-base-color;
@badge-bg: @sxt-base-color;
@btn-default-color: white;
@btn-default-bg: @sxt-button-color;

// this is required for the privilege popup
@modal-md: 700px;


body {
  font-family: @sxt-font-family;
}

html, body,
body > div:not(.gn-alerts):not(.g):not(.datepicker),
.container-fluid,
.hfull, .tab-pane
{
  height: 100%;
}

@media (min-width: @screen-md-min) {
  .sxt-search-main-container {
    height: calc(~"100% - "@sxt-viewer-top);
    .noresult {
      position: absolute;
      top: 30px;
      right: 20px;
      left: 20px;    }
  }
  .sxt-scroll {
    position: relative;
    background: white;
    &,
    .hfull {
      height: auto;
    }
  }
  .tab-content {
    height: 100%;
  }
  .container-fluid {
    height: 100%;
    padding: 0 5px;
  }
  [search-results]
  {
    height: calc(~"100% - "@results-toolbar-height);
    overflow: auto;
    padding-bottom: 14em;
  }
  .gn-searchform
  {
    height: ~"calc(100%)";
    overflow: auto;
    .close {
      font-size: 20px;
    }
  }
  .container .container {
    width: 100%;
  }
  .sxt-left-panel, .sxt-center-panel {
    float: left;
  }
  .sxt-left-panel {
    width: 33.3%;
    &.sxt-collapsed {
      width: 50%;
    }
  }
  .sxt-center-panel {
    width: 66.666%;
    &.sxt-collapsed {
      width: 50%;
    }
  }
}

// custom scrollbars (IE and Chrome)
div.gn, div.g, * {
  scrollbar-face-color: rgba(90, 90, 90, 1);
  scrollbar-track-color: transparent;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(90, 90, 90, 1);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(90, 90, 90, 0.12);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-button {
    background-image: url(../catalog/style/scrollbar-icons.png);
    opacity: 0.7;
    &:hover { opacity: 1; }

    &:vertical {
      width: 8px;
      height: 16px;
      &:start { background-position: -116px -74px; }
      &:end { background-position: -116px -94px; }
    }
    &:horizontal {
      width: 16px;
      height: 8px;
      &:start { background-position: -122px -116px; }
      &:end { background-position: -122px -132px; }
    }
  }
}

@media (min-width: @screen-lg-min) {
  .sxt-left-panel {
    width: 25%;
  }
  .sxt-center-panel {
    width: 75%;
  }
}
.sxt-max-md {
  .sxt-left-panel {
    width: 33.3%;
  }
  .sxt-center-panel {
    width: 66.666%;
  }
}
.sxt-max-sm {
  .sxt-left-panel {
    float: none;
    width: 100%;
  }
  .sxt-center-panel {
    float: none;
    width: 100%;
  }
}

.fsxt {
  font-family: Sextant;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


.btn-default {
  &, &.dropdown-toggle, .open &.dropdown-toggle, &:focus {
    background: @sxt-button-color;
    color: white;
    border: none;
    /* Fix bglayerswitcher focus background
    &:focus {
      background: @sxt-button-color-light;
      color: white;
    }
    */
  }
  border-radius: 2px;
  &.active, &:hover {
    background: @sxt-button-color-light;
    color: white;
  }
  &.disabled, &[disabled] {
    &, &:hover, &:active, &:focus {
      background: @sxt-button-color-disabled;
      color: white;
      opacity: 1;
    }
  }
}
[sxt-main-viewer] .sxt-btn-group {
  box-shadow: @sxt-shadow;
  .btn-default {
    box-shadow: none;
    margin-bottom: 0;
  }
}

.dropdown-menu {
  font-size: @sxt-fontsize;
  border-radius: 0px;
  border: none;
  box-shadow: @sxt-shadow;
  > li > a {
    padding: 1px 10px;
    &.selected {
      color: @sxt-base-color;
    }
  }
}

.sxt-main-tabs {
  background: @sxt-base-color-dark;
  height: @sxt-viewer-top;
  position: relative;
  .sxt-panel-button .btn {
    background: white;
    color: @sxt-base-color-dark;
    border-top-color: white;
    border-bottom-color: white;
    font-size: 12px;
    height: 29px;
    &.active, &:hover, &.opened {
      color: @sxt-base-color;
      background: white;
      box-shadow: none ;
    }
    &[disabled] {
      color: #d3d3d3;
      opacity: 0.65;
    }
  }
  .btn-group {
    margin-top: @sxt-vieweritem-top;
    box-shadow: @sxt-shadow;
    &.sxt-adminbtn {
      border-radius: 4px;
      position: absolute;
      right: 1.8em;
      top: 0;
      .btn {
        height: 29px;
      }
    }

  }
  .btn {
    padding: 6px 10px 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

}

#sxt-tabswitcher {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 29.7em;

  & > *:not(:last-of-type) {
    margin-right: 1.3em;
  }
}

// special margin for tab switch when in search tab
.sxt-search-tab.sxt-main-tabs #sxt-tabswitcher {
  @media (min-width: 992px) { // #screen-sm-max
    left: ~"calc(33% + 2em)";
  }
  @media (min-width: 1200px) {  // #screen-md-max
    left: ~"calc(25% + 1.8em)";
  }
}

.gn-grid,
.sxt-main-tabs {
  .popover:not(.sxt-popover-grid) {
    margin-top: 4px;
    border-radius: 2px;
    .arrow {
      display: none;
    }
    .popover-content {
      padding: 6px 10px 5px;
      text-transform: uppercase;
      font-weight: bold;
      color: red;
      font-size: 11px;
    }
  }
}

.sm-max-and-api({ // CAREFUL: passing rulesets to a mixin
  .gn-resultview {
    clear: both;
  }
  .sxt-main-tabs {
    height: 6em;
    .btn-group.sxt-adminbtn {
      top: -0.8em;
      right: 0.7em;
    }
  }
  [sxt-main-viewer] {
    .main-tools,
    .search-container {
      top: 3.5em;
    }
  }
  [sxt-panier].sxt-panier {
    .sxt-main-tabs .sxt-download-btn {
      top: 3.8em;
    }
  }
  #sxt-tabswitcher {
    top: -0.8em;
    left: 0;
    width: 100%;
    justify-content: center;
  }
  [gn-metadata-display] {
    top: .5em;
  }
  .sxt-searchform-content {
    display: none;
  }
  .row .sxt-left-panel {
    float: none;
    width: 100%;
    .sxt-reset-btn {
      bottom: -2.6em;
    }
  }
  .row .sxt-center-panel {
    margin-top: 3em;
    float: none;
    width: 100%;
  }
  [sxt-main-viewer] .main-tools.activeTool {
    height: ~"calc(100% - 7em)";
  }
});

.sxt-side-btn {
  position: absolute;
  top: -1px;
  bottom: -1px;
  border-radius: 0;
  width: 1em;
  z-index: 100;
  .side-label {
    position: absolute;
    bottom: 50%;
    transform: rotate(-90deg);
    height: 1em;
    text-transform: uppercase;
    transform-origin: top left;
    left: 0;
  }
  i.fa {
    position: absolute;
    bottom: 50%;
    margin-left: -0.4em;
  }
}
.sxt-map-btn {
  right: 0;
  top: 0;
  bottom: 0;
  span {
    bottom: 51%;
    transform-origin: bottom right;
    left: -2.25em;
  }
}

.navbar {
  margin-bottom: 14px;
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 50px;
    font-size: 16px;
  }
}

.container-fluid {
  padding: 0;
}
.hfull {
  form& {
    position: relative;
  }
  .row& {
    height: ~"calc(100% - 2em)";
  }
}

.jumbotron {
  padding: 150px 100px;
}

.gn-search-page {
  .nav-pills {
    display: none;
  }
}

.datepicker {
  height: auto;
}

.sxt-left-panel {
  padding: 0 .5em 0 1.5em;
  margin-top: -2.5em;
  height: calc(~"100% + 2.2em");
  > div {
    border-radius: 0;
    background-color: white;
    box-shadow: @sxt-shadow;
    position: relative;
    height: 100%;
  }
  .sxt-reset-btn {
    position: relative;
    bottom: 1em;
    opacity: 1;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: @sxt-shadow;
    border-radius: 2px;
  }
}

.btn-wps-sort {
  width: 10em;
}

[sxt-main-viewer] .panel-tools label div span {
  line-height:1.95em;
}
gn-wps-process-form label, [sxt-main-viewer] .panel-tools gn-wps-process-form label {
  width: 100%;
}

[sxt-main-viewer] .main-tools .btn-wps-sort-container {
  color: @sxt-base-color;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.sxt-center-panel {
  div.panel-default {
    border: none;
    box-shadow: none;
  }
  > .panel {
    border-top: none;
    border-radius: 0;
  }
  .panel-heading {
    background-color: white;
    .btn-group {
      margin-top: -2px;
    }
    .gn-sort-by {
      float: right;
      .pull-right {
        margin-top: 0.2em;
        height: 1.2em;
        padding-bottom: 0.5em;
        .btn {
          height: 1.2em;
        }
      }
    }
  }
  [gn-results-container] {
    width: 100%;
  }
}

.gn-search-page [class*=col-md] {
  transition: none;
}

[data-ng-search-form] {
  .gn-top-search {
    text-align: center;
    background: @panel-default-heading-bg;
    border: 1px solid @panel-default-border;
    padding: 8px;
    margin: 0 15px;
    margin-bottom: 10px;
    vertical-align: middle;
    border-radius: 3px;
    position: relative;
    [typeahead] {
      width: 300px;
      vertical-align: middle;
      display: inline-block;
    }
    [typeahead-popup] {
      text-align: left;
      width: 300px;
    }
    .inner-spinner {
      position: absolute;
      top: 1.75em;
      left: 50%;
      margin-left: 64px;
    }
  }
  input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 5px;
  }
  .gn-search-input {
    input[type='text'] {
      height: @sxt-searchbtn-height;
      padding: 12px 18px;
      font-size: 14px;
      line-height: 1.5;
      border: none;
      border-radius: 0;
    }
    .search-btn {
      width: @sxt-searchbtn-height;
      height: @sxt-searchbtn-height;
      border-radius: 0;
      background-color: white;
      color: #000;
      border: none;
      box-shadow: none;
      font-size: 18px;
    }

    // typeahead dropdown
    .dropdown-menu {
      border:none;
      border-radius: 0;
      font-size: 12px;
      max-height: 250px;
      overflow-y: auto;
      margin: 0;
      width: 100%;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

      li {
        padding: 0;
        overflow: hidden;
        a {
          padding: 0.2em 1.1em;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      li.search-config > a {
        text-decoration: none;
        padding: 0.6em 0.9em;
        font-size: 12px;
      }
    }
  }

  .sxt-searchform-content {
    padding: 15px;
    height: ~"calc(100% - 200px - 9em)";
    overflow-y: auto;
  }
  .sxt-categorytree {
    ul ul {
      display: none;
      font-size: @sxt-fontsize-small;
    }
    ul {
      li {
        display: block;
        padding: 10px -10px;
        label {
          margin-bottom: 2px;
          margin-left: -6px;
          font-weight: normal;
        }
      }
    }
    .sxt-categorytree-leaf {
      margin-left: 16px;
    }
  }

  .inner-spinner {
    position: absolute;
    top: 1.3em;
    right: 1.6em;
  }
  .panel-heading {
    height: @results-toolbar-height;
    line-height: @results-toolbar-height;
    .sxt-tb-middle {
      height: @results-toolbar-height;
      line-height: @results-toolbar-height;
    }
    [data-gn-pagination] > li > a {
      background-color: transparent;
      border: none;
      padding: 0 5px;
    }
    [data-gn-pagination] .btn-group .btn {
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  .sxt-right-panel {
    .panel-body {
      font-size: .9em;
      padding: 15px .5em;
    }
  }

  .loading {
    position: absolute;
    top: 1.8em;
    font-size: 40px;
    left: 50%;
    margin-left: 20px;
    text-shadow: 0 0 1px white;
    z-index: 200;
    background: rgba(255,255,255,.7);
    border-radius: 1em;
    padding: .2em;
  }
  [gn-map-field] {
    border: none;
  }
}
// deal with sextant like search options
gn-search-options > div > label > span {
  font-weight: 100;
}
gn-search-options > div > label > input {
  margin-right: 3px;
  margin-top: -4px;
  height: 10px;
}

[gn-map-field] {
  border-radius: 0;
  background: #fff;
  border: none;
  background-color: rgba(119, 194, 240, 0.14);
  .btn {
    .btn-sm;
    opacity: .80;
  }
  .dropdown-menu {
    text-transform: uppercase;
  }
  .sxt-draw-btn {
    top: 4px;
    left: 4px;
    position: absolute;
    z-index: 10;
  }
}

.tab-pane .container-fluid {
  overflow-y: auto;
  .gn-md-side {
    .clearfix();
  }
}

// CSSGN
@import "gn_result_default";
//.gn-md-view {
//  padding: 25px;
//  background: white;
//  h2 {
//    font-size: 24px;
//    font-weight: normal;
//  }
//  .gn-md-side {
//    h4 {
//      font-size: 14px;
//    }
//    .well {
//      padding: 0 1em;
//    }
//  }
//  .dl-horizontal {
//    clear: right;
//    margin-top: 2em;
//    font-size: 13px;
//    dt {
//      text-align: left;
//    }
//    dt, dd {
//      margin-bottom: 1em;
//    }
//  }
//  .gn-metadata-display {
//    .nav li {
//    }
//  }
//}

.gn-md-view-header {
  padding: 0px 25px;
}

.metadata .panel-heading {
  padding-top: 7px;
  padding-bottom: 7px;
}

@media (min-width: @screen-md-min) {
  .sxt-col-md-6 {
    width: 50%;
    float: left;
  }
}
@media (min-width: @screen-lg-min) {
  .sxt-col-lg-4 {
    width: 33.333%;
    float: left;
  }
}
.sxt-max-md {
  @media (min-width: @screen-md-min) {
    .list-group-item.sxt-col-lg-4 {
      width: 50%;
    }
  }
  .expander {
    display: none;
  }
}
.sxt-max-sm {
  .list-group-item.sxt-col-md-6 {
    width: 100%;
  }
  .maincol.col-md-9,
  .maincol.col-md-3 {
    width: 100%;
    height: auto;
  }
  .maincol.col-md-9 {
    height: ~"calc(100% - 6.5em)";
  }
  [gn-map-field], .gn-facet, .expander {
    display:none;
  }
  .sxt-center-panel {
    margin-top: 1.25em;
  }
}

ul.gn-resultview {

  width: 100%;
  margin: 0;
  padding-top: 2px;
  @thumbnail-width: 170px;

  .caret {
    color: white;
  }

  .sx-md-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    border-top: 1px dotted #fff;
  }

  .metadata {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2050;
  }

  li.gn-grid {
    @grid-bottom-margin: 2px;
    border-radius: 4px;
    border: none;
    padding: 8px 10px 4px 0;

    &:nth-child(2n+1) {
      padding-left: 10px;
    }
    @media (min-width: @screen-lg-min) {
      &:nth-child(2n+1) {
        padding-left: 0;
      }
      &:nth-child(3n+1) {
        padding-left: 10px;
      }
    }
    .sxt-max-md &:nth-child(3n+1) {
      padding-left: 0;
    }
    .sxt-max-md &:nth-child(2n+1) {
      padding-left: 10px;
    }
    @media (max-width: @screen-md-max) {
      .sxt-max-md &:nth-child(3n+1), .sxt-max-md & {
        padding-left: 10px;
      }
    }
    &:hover {
      background: none;
    }
    .gn-grid-item {
      position: relative;
      height: 18.5em;
      margin: 0;
      box-shadow: @sxt-shadow;

      &:hover {
        background-color: #eee;
        cursor: default;
      }
    }

    .gn-md-title {
      background-color: @sxt-base-color;
      color: white;
      white-space: normal;
      width: 100%;
      display: table;
      height: 3.8em;
      span {
        font-size: 18px;
        display: table-cell;
        padding: 0 .5em;
        vertical-align: middle;
      }
      h4 {
        font-size: @sxt-fontsize-big;
        height: 2.3em;
        overflow: hidden;
        line-height: 1.2em;
        a {
          color: white;
          &:hover {
            text-decoration: none;
          }
        }
        margin-top: 0;
        display: table-cell;
        vertical-align: middle;
        letter-spacing: normal;
        border: none;
        width: 100%;
        text-transform: none;
      }

    }

    .gn-md-details {
      margin: 1em;
    }

    .gn-md-thumbnail {
      width: 180px;
      min-height: 40px;
      max-height: 110px;
      height: auto;
      .img-thumbnail {
        max-width: 180px;
        max-height: 110px;
        min-height: 40px;
        height: auto;
      }
    }
    .gn-md-emptythumbnail {
      min-height: 120px;
    }
    .md-abstract {
      float: left;
      color: #808080;
      width: ~"calc(65% - 1em)";
      margin-bottom: .3em;
      font-size: @sxt-fontsize;
      &.ellipsis:after {
        background: none;
      }
      p {
        margin-bottom: 0;
        color: #808080;
      }
    }
    .gn-md-source {
      clear: left;
      color: #000;
      font-size: @sxt-fontsize-small;
    }

    div.gn-md-links {
      right: auto;
      position: static;
      float: right;
      margin: 7px 4px 0 0;
      .btn-group, button {
        width: 46px;
        margin: 0 3px 0 0;
      }
      .dropdown-menu {
        max-height: 14em;
        overflow-y: auto;
      }
    }
    .gn-md-relations {
      float: right;
      margin: 7px 4px 0 0;
      .btn {
        width: 46px;
      }
      .dropdown-menu {
        max-width: 100%;
      }
    }
    .gn-md-relations, .gn-md-links {
      .dropdown-menu {
        max-width: 250px;
        font-size: 12px;
        li a {
          padding-top: 1px;
          padding-bottom: 1px;
          line-height: normal;
          .text-overflow();
        }
      }
    }
    .md-admin {
      margin: 12px 0 0 7px;
      .btn:first-child {
        border-radius: 2px;
      }
    }
    .md-actions {
      margin-top: -.35em;
      .dropdown-menu {
        .dropdown-menu {
          left: -100%;
          border-radius: 4px 0 4px 4px;
        }
        .fa {
          margin-right: .4em;
        }
      }
    }

    .ellipsis p {
      font-size: 11px;
      line-height: inherit;
      text-align: left;
      padding: 0;
      white-space: pre-line;
    }

    /* Properly align category icons */
    .fa img {
      vertical-align: text-bottom;
    }

    .gn-source-logo {
      float: left;
      margin: @grid-bottom-margin;
      border-radius: 50%;
      max-width: 40px;
      max-height: 40px;
      min-height: 20px;
      height: auto;
    }
    .gn-md-thumbnail {
      float: left;
      max-width: 33%;
      margin: 0 1em 1em 0;
      .gn-img-thumbnail {
        max-width: 100%;
        width: 140px;
      }
    }
    .popover:not(.sxt-popover-grid) {
      top: 10em !important;
    }
    .row {
      margin-left: 0px;
    }
  }
}

/* Pagination */
.gn-pager {

  /*font-size: @sxt-fontsize;*/
  .pagination-info {
    display: inline-block;
    margin-left: 1em;
    em {
      font-style: normal;
      color: #888;
    }
  }
  .btn-group {
    .btn {
      border:none;
      color: @sxt-base-color;
      background-color: white;
      padding: 0;
      &:hover, &:focus {
        text-decoration: underline;
        color: @sxt-base-color-dark;
      }
      &:active {
        box-shadow: none;
      }
      em {
        font-style: normal;
      }

    }

    li {
      a {
        padding: 2px 10px;
      }
      display: inline-block;
    }
  }
}

[sxt-main-viewer] {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  background: white;
  [ngeo-map] {
    height: ~"calc(100% - @{sxt-viewer-top})";
  }

  .panel-tools {
    .nav-justified {
      padding: 0 1em;
      li a {
        border-bottom-width: 0;
      }
      .active a {
        background: transparent;
      }
    }
  }

  .layermanager-carousel {
    .panel-carousel-container {
      width: 200%;
    }
  }

  .layers {
    max-height: none;
    height: ~"calc(100% - .6em)";
  }

  .sxt-layertree {
    overflow-y: auto;
    ul li {
      font-size: 12px;
    }
    label {
      white-space: normal;
    }
  }

  .layers-tools {
    position: absolute;
    bottom: 0px;
    top: ~"calc(100% - 4em)";
    overflow: hidden;
    width: 100%;
    height: 4em;
    padding-top: 1em;
    .btn-group {
      margin-top: 0;
    }
    .panel-carousel-window {
      height: ~"calc(100% - 3.4em)";
    }
    .panel-carousel-container {
      height: 100%;
    }
    .panel-carousel {
      max-width: 100%;
      overflow-x: hidden;
      height: 100%;
      overflow-y: auto;
    }
  }
}

@media (max-width: @screen-md) {
  .expander {
    display:none;
  }
}


/* Formatter display does not have gn-metadata-display
directive, but some styles have to be applied. This
should probably be merged with the next rule at some point
without attaching styles to an angular object but
to a common CSS class?
*/
.gn-metadata-display {
  section.gn-md-side-providedby  {
    display: none;
  }
  section.gn-md-side-social {
    text-align: center;
    h2 > i {
      display: none;
    }
  }
  section.gn-md-side-overview {
    /* Hide section title */
    h2 {
      display: none;
    }
    .gn-img-thumbnail, .gn-img-extent {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }

    min-height: 200px;

    // center thumbnail/extent vertically, ignoring <br> elements
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0;

    & > .extent {
      max-height: 100%;
      max-width: 100%;
    }
  }
  section.gn-md-side-associated {
    h2 > i {
      display: none;
    }
  }

  section.links, section.gn-md-side-access,
  section.gn-md-side-social, section.gn-md-side-providedby,
  section.gn-md-side-permalink, section.gn-md-side-associated {
    margin: 0 0 1.5em;
    padding: 0.4em;
    box-shadow: @sxt-shadow;
    text-align: center;
    position: relative;
    word-break: break-all;
    .gn-md-links {
      display: inline-block;
      width: auto;
      .btn {
        margin-left: 4px;
      }
    }
    [gn-related] {
      display: inline-block;
      .btn-group {
        vertical-align: initial;
      }
    }
    h3 {
      padding-bottom: .5em;
      color: #000;
      font-size: 16px;
    }
    .dropdown-menu {
      text-align: left;
    }
  }
}

[gn-metadata-display] {
  position: absolute;
  left: 1.1em;
  right: 1.1em;
  top: 1.5em;
  bottom: 0;
  z-index: 100;
  .overview .gn-metadata-display {
    margin: 2em 0 0 -2em;
    dt, dd {
      padding-top: .5em;
    }
    dd ul {
      padding-top: 0;
    }
    .gn-related-type {
      min-width: 0px;
      width: auto;
    }
  }
  & > .panel-default {
    border-radius: 0;
  }
  .panel-body {
    padding-top: 0;
    overflow-y: auto;
    height: calc(~"100% - 55px");
  }
  .metadata {
    height: 100%;
    margin-bottom: 0;
  }
  .panel-heading {
    line-height: 2.6em;
    background: white;
    button > .fa, & .gn-title > .fa {
      margin: .8em .6em 0 0;
    }
    .pull-right button > .fa {
      margin: 0;
    }
    ul.dropdown-menu i.fa {
      margin-right: .4em;
    }
    .gn-title {
      color: @sxt-base-color;
      .text-overflow();
    }
  }
  ul {
    padding-top: 1em;
  }
  dl.gn-keyword dd div ul{
    padding-top: 0;
  }
  [sxt-md-actions-menu] {
    .dropdown-menu {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  .gn-links div.btn-group,
  .gn-links button {
    margin-left: 1px;
  }
  section.links {
    margin: 0 0 1.5em;
    padding: 1em;
    box-shadow: @sxt-shadow;
    text-align: center;
    position: relative;
    .gn-md-links {
      display: inline-block;
      width: auto;
      .btn {
        margin-left: 4px;
      }
    }
    [gn-related] {
      display: inline-block;
      .btn-group {
        vertical-align: initial;
      }
    }
    h3 {
      padding-bottom: .5em;
      color: #000;
    }
    .dropdown-menu {
      text-align: left;
    }
  }
  h3 button {
    background: white;
    color: @sxt-base-color;
    box-shadow: none;
    &:hover {
      background: white;
      color: @sxt-base-color-dark;
    }
  }
  .nav-tabs {
    li{
      a {
        border-radius: 0;
        color: black;
      }
      &.active a {
        font-weight: bold;
      }
    }
  }
  .gn-record .dl-horizontal dt {
    font-weight: normal;
  }

  .graphic-overview,
  .img-thumbnail {
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  }
  img.graphic-overview:not(.large):not(.thumbnail) {
    max-height: none;
    max-width: 100%;
  }
}

[gn-metadata-display] ~ [gn-metadata-display] {
  position: absolute;
  top: 1.5em;
}

[gn-metadata-display].sxt-scroll {
  > .panel, .panel-body {
    height: auto;
  }
  position: relative;
  margin-top: -3em;
  top: 0;
  right: 0;
  left: 0;
}

.gn-img-modal .modal-dialog{
  background: white;
  padding-bottom: 3em;
  text-align: center;
  max-width: calc(100% - 10em);
  img {
    max-height: 700px;
  }
  .gn-btn-modal-img {
    position: absolute;
    top: auto;
    bottom: .3em;
    right: .3em;
  }
}

[gn-share] {
  .gn-share-help, [data-gn-need-help] {
    display: none;
  }
}

.sxt-panier {
  .sxt-main-tabs .sxt-download-btn {
    position: absolute;
    right: 1.8em;
    top: 1.8em;
    border: medium none;
    color: white;
    box-shadow: @sxt-shadow;
    border-radius: 2px;
    height: 29px;
  }
  h4 {
    font-size: 14px;
  }
  .bootstrap-select.btn-group {
    width: auto;
    .btn {
      background: white;
      color: @sxt-base-color;
      box-shadow: none;
      &:hover span, &:focus span {
        color: @sxt-base-color-dark;
        text-decoration: underline;
      }
      &:focus {
        outline: none !important;
      }
    }
  }
  .form-group {
    font-size: 14px;
    margin-top: .5em;
    label {
      font-weight: 400;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      margin: 0;
    }
    input {
      border-radius: 2px;
    }
  }
  > ul {
    margin-top: 10px;
  }
  .list-group-item {
    box-shadow: @sxt-shadow;
    border: none;
    border-radius: 0;
    padding: 1em;
  }
  .sxt-panier-remove {
    float: right;
    margin-left: 1em;
  }
  .col-md-5 {
    float: right;
  }
  .clearfix:after {
    display: table !important;
  }
  [gn-map-field] .gn-draw-btn {
    top: 4px;
  }
  em {
    display: block;
    margin-bottom: 40px;
  }
  .panier-element .form-group {
    margin-left: 20px;
    margin-bottom: 0;
    label {
      min-width: 90px;
    }
  }

  .panier-element .sxt-processes-list .sxt-process {
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;

    label {
      flex-grow: 1;

      & > span { margin-left: 4px; }
    }
  }

  .panier-element .sxt-active-filters {
    padding: 6px;
    border-radius: 3px;
    margin-left: 14px;
    margin-bottom: -2px;
    margin-right: -6px;
    margin-top: calc(~".5em - 2px");
    display: flex;
    flex-direction: row;

    label {
      flex-grow: 1;

      & > span { margin-left: 4px; }
    }

    ul.dropdown-menu {
      max-width: 100%;

      li > a {
        white-space: normal;
      }
    }
  }
}

.modal-content {
  border-radius: 2px;
}

.popover {
  height: auto;
}
.popover.sxt-popover-grid {
  width: 100%;
  max-width: none;
  margin-left: 0;
  .popover-content {
    height: auto;
    padding: 0;
    width: 100%;
    display: inline-block;
    ul.dropdown-menu {
      padding-bottom: 0;
      width: 100%;
    }
    li {
      width: 100%;
      padding: 3px 10px;
      &.divider {
        margin: 0;
        padding: 0;
      }
    }
    li a {
      padding-top: 1px;
      padding-bottom: 1px;
      line-height: normal;
      .text-overflow();
      width: 100%;
      position: relative;
      padding-left: 23px;

      & > span:first-child, & > i:first-child {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.g {
  height: auto;
}

input.ng-invalid {
  border-color: #a94442;
}

ul.invalid {
  .list-group-item {
    border-left-color: #a94442;
    border-right-color: #a94442;
  }
  .list-group-item:first-child {
    border-top-color: #a94442;
  }
  .list-group-item:last-child {
    border-bottom-color: #a94442;
  }
}

.modal {
  overflow: auto;
}
[gn-popup] {
  position: fixed !important; // `absolute` is set in element
}

.gn-facet-list.panel {
  border: none;
  margin: 0px;
  padding: 0 0 30 0;
  -webkit-box-shadow: none;
  .panel-heading {
    display:none;
  }
  .panel-body {
    padding: 0px;
  }
}

.gn-facet-root-container {
  border-left: 1px dotted rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  padding-left: 1em;
  margin-bottom: 0;
}

.gn-facet .gn-facet-container a.flex-row.gn-facet-checked * {
  color:  @brand-primary;
}

.input-group.input-group-sm.gn-facet-input-group {
  position: sticky;
  z-index: 150;
  top: 0;
  background-color: white;
  margin-left: 0px;
  width: 100%;
}

span.text-ellipsis {

  font-weight: normal;
  :hover * {
    color: @sxt-base-color;
  }
}
.gn-main-viewer .panel-tools .gn-facet h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.gn-facet {
  h5 .fa {
      color: @sxt-base-color;
      &.gn-field-empty {
        color: #d3d3d3;
    }
  }
  .facet-invert>span.fa {
    display: none;
  }
  .gn-facet-container {
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px;

    a.gn-facet-item {
      color: #444444;
      :hover * {
        color: @sxt-base-color;
      }
    }
    a.gn-facet-checked * {
      color: black;
      .gn-facet-label:hover & {
        color: @sxt-base-color;
      }
    }
    a.gn-facet-item:hover * {
      color: @sxt-base-color;
    }
    a.gn-facet-checked:hover * {
      color: @sxt-base-color;
    }
    span.gn-facet-count {
      color: lighten(@gray-light, 10%);
    }
    span.gn-facet-item:hover {
      color: @sxt-base-color;
    }
    a {
      text-decoration: none;

      .fa {
        margin-right: 3px;
        color: @sxt-base-color;
      }
      &:hover * {
        cursor: pointer;
        color: @sxt-base-color;
      }
    }
  }
  .gn-facet-count {
    margin-left: 3px;
  }
  .fa {
    margin-right: 4px;
    color: #d3d3d3;
  }
  .fa.fa-fw:not(.fa-square-o):not(.fa-arrow-circle-right):not(.fa-arrow-circle-down):not(.fa-check-square) {
    color: white;
  }

  .gn-facet-header {
    color: black !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    &.gn-facet-panel-active .fa {
      color: @brand-primary;
    }
  }
  > div {
    overflow: auto;
    overflow-x: hidden;
    max-height: 9.7em;
    &.is-date {
      overflow: hidden;
      max-height: 13.1em;
    }
  }

  .gn-facet-filter {
    position: relative;
    &:before {
      font-family: FontAwesome;
      background-color: white;
      content: "\f0b0";
      float: right;
      font-size: 16px;
      color: #d3d3d3;

    }
    .clear {
      right: 2em;
      position: absolute;
      top: .75em;
      color: #666;
      &:hover {
        cursor: pointer;
        color: #222;
      }
    }

    input {
      border: none;
      border-bottom: 1px solid @sxt-base-color;
      border-radius: 0;
      box-shadow: none;
      width: 90%;
    }
  }

  .list-group {
    border-left: 1px dotted rgba(0, 0, 0, 0.2);
    margin-left: .5em;
    padding-left: 1em;
    margin-bottom: 0;
    .fa:not(.fa-fw) {
      color: @sxt-base-color;
    }
  }
  .list-group-item {
    padding: 0.15em;
    min-height:20px;
    color: #444;
    border: none;
    display: block;
    .fa {
      font-size: @sxt-fontsize-big;
    }
    .fa-check-square, .fa-minus-square, .fa-plus-square {
      color: @sxt-base-color;
    }

    &:hover {
      cursor: pointer;
      color: @sxt-base-color;
    }
  }
  input[type=checkbox] {
    position: static;
  }
  label {
    padding-left: 0;
  }

  .sxt-layertree-filter {
    margin-left: 20px;
  }

  input[type=checkbox] {
    position: static;
  }
  label {
    padding-left: 0;
  }

  .ui-timeline {
    height: 115px;
    .zoomBtn {
      width: 1.5em;
      height: auto;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .axis {
      font-size: 10px;
    }
  }

}

.alert {
  button.close {
    opacity: 1;
    font-size:14px;

  }
  &.alert-warning .close {
    color: rgb(138, 109, 59);
    background-color: transparent;
    box-shadow: none;
  }
}


.gn-view-emodnetHydrography .gn-md-view, .gn-view-sdn .gn-md-view {
  img.gn-img-thumbnail {
    max-width: 100%;
  }
}
.portlet-layout {
  .gn-view-emodnetHydrography .gn-md-view, .gn-view-sdn .gn-md-view {
    h4, dt {
      font-weight: bold !important;
    }
    dd {
      padding-left: 0px !important;
    }
  }
}
.datepicker table tr td.day:not(.disabled) {
  font-weight: bold;
}

// static button: not interactable
.btn-static {
  pointer-events: none;
}

// center modals vertically
// from: https://stackoverflow.com/questions/18422223/bootstrap-3-modal-vertical-position-center
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

// deal with search input and search only in title checkbox
.type-ahead-dropdown {
  display: block;
}

.dropdown-header {
  pointer-events: none; // remove tooltip
}

.type-ahead-dropdown:focus {
  display: block;
}

.input-group.gn-search-input input:focus + .type-ahead-dropdown {
  display: block;
}

h1.view-header {
  margin-bottom: 20px;
  font-size: 25px;
}

.gn-tab-content > h2 {
  border-bottom: 2px solid #e5e5e5;
  display: table-cell;
  font-size: 20px;
}

.gn-tab-content > h3 {
  font-size: 20px;
}

.gn-img-thumbnail-caption {
  display: none;
}

.gn-metadata-view dl > dt {
  font-weight: normal;
  width: 30%;
  max-width: 30%;;
}

.gn-metadata-view dl > dd {
  width: 70%;
}

.gn-md-view .gn-tab-content dl {
  padding-bottom: 0px;
}

//start https://gitlab.ifremer.fr/sextant/geonetwork/-/issues/157
.panel-body .gn-metadata-view {
  width: 100%;
}

.panel-heading > .container {
  width: 100%;
}

.section.gn-md-side-overview > img {
  border: None;
}

@media (min-width: 992px) {
  .col-md-8.gn-title {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .col-md-4.gn-links {
    width: 25%
  }
}
.gn-md-view .gn-md-side .gn-img-thumbnail,
.gn-md-view .gn-md-side .gn-md-side-extent .thumbnail {
  border: none;
  padding: 0px;
}
//end

.gn-md-side-social span.badge {
  margin-bottom: 6px;
}

.gn-md-side-social {
  word-break: break-word !important;
}

[gn-main-viewer] .panel-tools .panel-carousel .list-group-item,
.gn-main-viewer .panel-tools .panel-carousel .list-group-item {
  padding: 0 0;
}


.gn-nojs {
  .gn-img-thumbnail {
    border: none !important;
  }
}

@import "sextant-cersat.less";
