/* these instructions should help reduce inconsistencies between API integrations of Sextant */

header {
  height: auto;
}
ol, ul {
  list-style: none;
  list-style-image: none;
}
img {
  margin: 0;
  padding: 0;
}
label {
  white-space: normal;
}
button {
  text-shadow: none;
}
p {
  padding: initial;
  font-size: 14px;
}
ul {
  font-size: 14px;
  margin: 0;
  li {
    font-size: 14px;
    padding: initial;
  }
}
label {
  white-space: normal;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: normal;
  text-shadow: none;
}
