.gn {
  display: table;
  width: 100%;
  position: relative;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: normal;
  button {
    text-shadow: none;
  }
  .gn-search-page, .gn-metadata-view {
    p {
      padding: initial;
      font-size: 14px;
    }
    ul, ul li {
      font-size: 14px;
      li {
        padding: initial;
      }
    }
  }
  .gn-metadata-view {
    p {
      font-size: 12px;
    }
    ul, ul li {
      font-size: 12px;
    }
  }
  @import (less) "tmp.css";
  [sxt-main-viewer] .sx-toolbar[gn-localisation-input] {
    width: 15em;
  }
}
@import 'gn_popover.less';
