# Extensions
*.factorypath
*.iml
*.iml
*.launch
*.old
*.bak
.DS_Store
.project
git*.properties

# Directories and paths
*/*/.*
*/*/target/
*/.*
*/target/
.*/
!.github/

/geonetwork*
camel-harvesters/wfsfeature-harvester/logs
changes-*
chromedriver
datadir/
datadir_*
datadir_node1/
docs/*/users/build
docs/schema-loc-*.rst
eclipse/
es/elasticsearch-*
es/es-dashboards/kibana-*
harvesters/harvester_*.log
idea/
jcs_caching/
node_modules
out/
package-lock.json
rebel.xml
release/jetty/*
schemas/*/doc/*/*.rst
schematrons/.build
target/
transifex/transifex-format/
web-itest/jcs_caching
web-ui-docs/node
web-ui-docs/node_modules
web-ui-docs/package-lock.json
web-ui/src/main/resources/catalog/lib/gn*.min.js
web-ui/src/main/resources/catalog/style/gn*.css
web-ui/src/main/resources/catalog/style/gn.css
web-ui/transifex-src
web/*.db
web/.springBeans
web/coverage.ec
web/images/
web/jcs_caching/
web/logs/
web/src/main/webapp/META-INF/MANIFEST.MF
web/src/main/webapp/WEB-INF/data/0*
web/src/main/webapp/WEB-INF/data/config/schema_plugins/*/schematron/schematron*.xsl
web/src/main/webapp/WEB-INF/data/config/schema_plugins/csw-record
web/src/main/webapp/WEB-INF/data/config/schema_plugins/dublin-core
web/src/main/webapp/WEB-INF/data/config/schema_plugins/fgdc-std
web/src/main/webapp/WEB-INF/data/config/schema_plugins/iso19*
web/src/main/webapp/WEB-INF/data/config/schema_plugins/schemaplugin-uri-catalog.xml
web/src/main/webapp/WEB-INF/data/config/schemaplugin-uri-catalog.xml
web/src/main/webapp/WEB-INF/data/data/backup
web/src/main/webapp/WEB-INF/data/data/metadata_data
web/src/main/webapp/WEB-INF/data/data/metadata_subversion
web/src/main/webapp/WEB-INF/data/data/resources/htmlcache
web/src/main/webapp/WEB-INF/data/data/resources/images
web/src/main/webapp/WEB-INF/data/data/resources/xml
web/src/main/webapp/WEB-INF/data/data/upload/
web/src/main/webapp/WEB-INF/data/harvester_*
web/src/main/webapp/WEB-INF/data/index
web/src/main/webapp/WEB-INF/data/node_less_files
web/src/main/webapp/WEB-INF/data/node_less_files/gn_dynamic_style.json
web/src/main/webapp/WEB-INF/data/removed/
web/src/main/webapp/WEB-INF/data/wro4j*.db
web/src/main/webapp/WEB-INF/data/wro4j-cache*
web/src/main/webapp/WEB-INF/data_*
web/src/main/webapp/WEB-INF/lucene/
web/src/main/webapp/WEB-INF/metadata_subversion/
web/src/main/webapp/WEB-INF/server.prop
web/src/main/webapp/data/
web/src/main/webapp/doc/en
web/src/main/webapp/doc/fr
web/src/main/webapp/images/logos/*
web/src/main/webapp/images/statTmp
web/src/main/webapp/scripts/lib/*
