[submodule "installer"]
	path = installer
	url = git://github.com/geonetwork/core-installer.git
[submodule "gast"]
	path = gast
	url = git://github.com/geonetwork/core-gast.git
[submodule "release"]
	path = release
	url = git://github.com/geonetwork/core-release.git
[submodule "docs"]
	path = docs
	url = git://github.com/geonetwork/core-doc-sources.git
[submodule "geoserver"]
	path = geoserver
	url = git://github.com/geonetwork/core-geoserver.git
[submodule "maven_repo"]
	path = maven_repo
	url = git://github.com/geonetwork/core-maven-repo.git
