web/src/main/webapp/WEB-INF/data/config/schema_plugins/*/loc/*/schematron*
web/src/main/webapp/WEB-INF/data/config/schema_plugins/*/schematron*
web/src/main/webapp/scripts/lib/*
web/src/main/webapp/images/logos/*
web/src/main/webapp/WEB-INF/classes/JZKitConfig.xml
web/logs/
web/jcs_caching/
geonetwork*.db
web/coverage.ec
*/target/
web/src/main/webapp/data/
web/src/main/webapp/WEB-INF/lucene/
web/src/main/webapp/WEB-INF/metadata_subversion/
.classpath
.settings
.project
schematrons/.build
docs/*/users/build
.props/
web-client/src/main/resources/apps/js/GeoNetwork-mini*
web-client/src/main/resources/apps/*/js/App-mini.js
