eclipse/
web/src/main/webapp/WEB-INF/data/config/schema_plugins/*/schematron/schematron*.xsl
web/src/main/webapp/WEB-INF/data/config/schemaplugin-uri-catalog.xml
web/src/main/webapp/WEB-INF/classes/JZKitConfig.xml
web/src/main/webapp/scripts/lib/*
web/src/main/webapp/images/logos/*
web/logs/
web/jcs_caching/
geonetwork*.db
web/coverage.ec
*/target/
web/src/main/webapp/data/
web/src/main/webapp/WEB-INF/lucene/
web/src/main/webapp/WEB-INF/metadata_subversion/
.classpath
.settings
.project
schematrons/.build
docs/*/users/build
.props/
web-client/src/main/resources/apps/css/geonetwork.css
web-client/src/main/resources/apps/js/GeoNetwork-mini-nomap.js
web-client/src/main/resources/apps/js/GeoNetwork-mini.js
web-client/src/main/resources/apps/js/ext-ux/css/ext-ux.css
web-client/src/main/resources/apps/search/js/App-mini.js
web-client/src/main/resources/apps/tabsearch/js/App-mini.js
*.iml
.idea/
bin/config_delawen.sh
web-client/src/main/resources/apps/geocatch/js/App-mini.js
web/dev-config/log4j-delawen.cfg

web/geonetwork.log.*
web/src/main/webapp/WEB-INF/data/data/
jcs_caching/
