[submodule "maven_repo"]
	path = maven_repo
	url = git://github.com/geonetwork/core-maven-repo.git
[submodule "docs"]
	path = docs
	url = git://github.com/geonetwork/core-doc-sources.git
[submodule "web-itest/webspecs"]
	path = web-itest/webspecs
	url = git://github.com/camptocamp/webspecs.git
