# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Images
*.png binary
*.gif binary
*.bmp binary
*.tiff binary
*.tif binary
*.jpeg binary
*.jpg binary

# Misc binary
*.zip binary
*.mef binary
*.jks binary
*.db binary

# Related to font files
*.ttf binary
*.eot binary
*.woff binary

