<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-pencil"></i><span data-translate="">drawbbox</span>
  </div>
  <div class="panel-body">
    <div class="container">
      <div class="form-group col-xs-2">
        <label for="drawbbox-top">top</label> <input
          class="form-control" id="drawbbox-top" placeholder="top">
      </div>
      <div class="form-group col-xs-2">
        <label for="drawbbox-left">left</label> <input
          class="form-control" id="drawbbox-left" placeholder="lef">
      </div>
      <div class="form-group col-xs-2">
        <label for="drawbbox-bottom">bottom</label> <input
          class="form-control" id="drawbbox-bottom" placeholder="bottom">
      </div>
      <div class="form-group col-xs-2">
        <label for="drawbbox-right">right</label> <input
          class="form-control" id="drawbbox-right" placeholder="right">
      </div>
    </div>
    <div class="container" id="drawbbox-map">
      <div style="border: 1px black solid; width: 300px; height: 300px">
        <nav class="navbar navbar-default" role="navigation">
          <button type="submit" class="btn btn-warning navbar-btn">
            <i class="fa fa-pencil"></i>draw
          </button>
        </nav>
      </div>
    </div>
  </div>
</div>

