<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-pencil"></i><span data-translate="">drawbbox</span>
  </div>
  <div class="panel-body">
    <div class="container">
    <div class="form-group col-xs-2">
          <button class="btn btn-success" ng-click="renderMap()">
            <i class="fa fa-pencil"></i>render
          </button>
          <button class="btn btn-warning" ng-click="drawMap()">
            <i class="fa fa-pencil"></i>draw
          </button>
      </div>
      <div class="form-group col-xs-2">
        <label for="drawbbox-top">top</label> <input ng-model="top"
          class="form-control" id="drawbbox-top" placeholder="top">
      </div>
      <div class="form-group col-xs-2">
        <label for="drawbbox-left">left</label> <input ng-model="left"
          class="form-control" id="drawbbox-left" placeholder="left">
      </div>
      <div class="form-group col-xs-2">
        <label for="drawbbox-bottom">bottom</label> <input ng-model="bottom"
          class="form-control" id="drawbbox-bottom" placeholder="bottom">
      </div>
      <div class="form-group col-xs-2">
        <label for="drawbbox-right">right</label> <input ng-model="right"
          class="form-control" id="drawbbox-right" placeholder="right">
      </div>
    </div>
    <div class="container" id="drawbbox-map">
      <div >
        <div id="map" style="border: 1px black solid; width: 300px; height: 300px"></div>
      </div>
    </div>
  </div>
</div>

