<div class="gn-drawmap-panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-pencil"></i><span data-translate="">drawbbox</span>
    </div>
    <div class="panel-body">
      <button class="btn btn-warning" data-ng-click="drawMap()">
        <i class="fa fa-pencil"></i>draw
      </button>
      <input data-ng-model="htop" type="hidden" name="{{htopRef}}"/>
      <input data-ng-model="hleft" type="hidden" name="{{hleftRef}}"/>
      <input data-ng-model="hright" type="hidden" name="{{hrightRef}}"/>
      <input data-ng-model="hbottom" type="hidden" name="{{hbottomRef}}"/>
      <table class="text-center">
        <tr align="center">
          <td colspan="3"><div class="form-group">
              <label for="drawbbox-top">top</label> <input
                data-ng-model="top" type="number"
                id="drawbbox-top" placeholder="top" 
                data-ng-change="updateBbox(true)"/>
          </div></td>
        </tr>
        <tr valign="middle" align="center">
          <td class="col-left">
            <div class="form-group">
              <label for="drawbbox-left">left</label>
              <input data-ng-model="left" type="number"
                id="drawbbox-left" placeholder="left"
                data-ng-change="updateBbox(true)" />
            </div>
          </td>
          <td class="col-middle">
            <div id="{{mapId}}" class="map"></div>
          </td>
          <td class="col-right">
            <div class="form-group">
              <label for="drawbbox-right">right</label> <input
                data-ng-model="right"
                type="number" id="drawbbox-right"
                placeholder="right" data-ng-change="updateBbox(true)"/>
            </div>
          </td>
        </tr>
        <tr align="center">
          <td colspan="3">
            <div class="form-group">
            <label for="drawbbox-bottom">bottom</label> <input
              data-ng-model="bottom" type="number"
              id="drawbbox-bottom" placeholder="bottom"
              data-ng-change="updateBbox(true)"/>
          </div></td>
        </tr>
      </table>
    </div>
  </div>
</div>
