<section>
  <h2><i class="fa fa-fw fa-chevron-left"/><span data-translate="">history</span></h2>

  <div class="row">
    <div class="col-xs-4">

      <label class="form-control"
             data-ng-repeat="(k, v) in types">
        <i class="fa fa-fw"
           data-ng-class="{
            'fa-code-fork': k === 'workflow',
            'fa-tasks': k === 'task',
            'fa-edit': k === 'event'}"></i>
        <input type="checkbox" data-ng-model="types[k]"/>
        <span>{{k + 'Type' | translate}}</span>
      </label>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <label data-translate="">filterStatusByAuthor</label>
        <input class="form-control"
               data-ng-model="authorFilter"
               data-gn-user-picker="authorFilter"/>
      </div>
      <div class="form-group">
        <label data-translate="">filterStatusByOwner</label>
        <input class="form-control"
               data-ng-model="ownerFilter"
               data-gn-user-picker="ownerFilter"/>
      </div>
    </div>
    <div class="col-xs-4">

      <div class="form-group">
        <label data-translate="">filterStatusByRecordId</label>
        <input type="text"
               class="form-control"
               data-ng-model="recordFilter"
               data-typeahead="t.id as t.title for t in getSuggestions($viewValue)"
               data-typeahead-loading="anyLoading"
               data-typeahead-min-length="1"
               data-typeahead-focus-first="false"
               data-typeahead-wait-ms="300">

      </div>

      <div class="form-group">
        <label data-translate="">filterStatusFromDate</label>
        <input class="form-control"
               type="date"
               pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
               data-ng-model="dateFromFilter"/>

        <label data-translate="">filterStatusToDate</label>
        <input class="form-control"
               type="date"
               pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
               data-ng-model="dateToFilter"/>
      </div>
    </div>
  </div>

  <ul class="timeline timeline-1-col" >
    <li data-ng-repeat="h in history"
        class="timeline-inverted">
      <div class="timeline-badge timeline-badge-small"
           data-ng-class="{
            'success': h.statusValue.type === 'workflow',
            'primary': h.statusValue.type === 'task',
            'info': h.statusValue.type === 'event'}">
        <i class="fa fa-fw"
           data-ng-class="{
            'fa-code-fork': h.statusValue.type === 'workflow',
            'fa-tasks': h.statusValue.type === 'task',
            'fa-edit': h.statusValue.type === 'event'}"
           title="{{(h.statusValue.type + 'Type') | translate}}"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <a class="btn btn-link pull-right"
             data-ng-show="allowRemoval"
             data-ng-click="removeStep(h)"
             title="{{'removeHistoryStep' | translate}}">
            <i class="fa fa-times text-danger"/>
          </a>
          <a data-ng-href="catalog.search#/metadata/{{h.id.metadataId}}"><i>{{h.title}}</i></a>
          <img class="img-circle"
               data-ng-src="//gravatar.com/avatar/{{h.authorEmail | md5}}?s=18"/>
          {{h.authorName}}<br/>
          <strong>
            {{h.statusValue.type == 'workflow' ?
            ('recordHistory-workflow' | translate:{text: (h.statusValue.label | gnLocalized)}):
            (h.statusValue.label | gnLocalized | translate:{h: h}) }}
          </strong>
          <span class="text-muted"
                data-gn-humanize-time="{{h.id.changeDate.dateAndTime}}"
                data-from-now=""></span>

          <span data-ng-if="h.statusValue.type == 'task'" data-ng-show="h.dueDate != null">,
            <span data-translate="">taskDueDate</span>
            <span class="text-muted"
                  data-gn-humanize-time="{{h.dueDate.dateAndTime}}"
                  data-from-now=""></span>
          </span>
          <span data-ng-if="h.statusValue.type == 'task'" data-ng-show="h.closeDate != null">,
            <span data-translate="">taskCloseDate</span>
            <span class="text-muted"
                  data-gn-humanize-time="{{h.closeDate.dateAndTime}}"
                  data-from-now=""></span>
          </span>
        </div>
        <div class="timeline-body" data-ng-show="h.closeDate == null">

          <div data-ng-show="h.statusValue.name == 'doiCreationTask'"
               data-ng-init="key = h.id.metadataId + '-' + h.id.statusId">
            <h2 data-translate="">createDoiForRecord</h2>
            <div class="text-muted" data-translate="">createDoiForRecord-help</div>

            <a class="btn btn-primary"
               data-translate=""
               data-gn-click-and-spin="doiCreationTask.check(h)">doiCreationTaskCheckAction</a>

            <a class="btn btn-primary"
               data-translate=""
               data-ng-disabled="response.doiCreationTask[key].check.status !== 200"
               data-gn-click-and-spin="doiCreationTask.create(h)">doiCreationTaskCreateAction</a>

            <a class="btn btn-default"
               data-translate=""
               data-ng-show="user.isAdministratorOrMore()"
               data-gn-click-and-spin="closeTask(h)">closeTask</a>

            <div data-ng-if="response.doiCreationTask[key].check"
                 data-ng-class="{'text-danger': response.doiCreationTask[key].check.status === 400}">
            {{response.doiCreationTask[key].check.data.description}}
            </div>
            <div data-ng-if="response.doiCreationTask[key].create"
                 data-ng-class="{'text-danger': response.doiCreationTask[key].create.status === 400}">
              {{response.doiCreationTask[key].create.data.description}}
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted"
        data-ng-show="hasMoreRecords">
      <a data-ng-click="more()">
        <i class="fa fa-fw fa-plus"></i>
        <span data-translate="">more</span>
      </a>
    </li>
  </ul>
</section>
