<section>
  <h2><i class="fa fa-fw fa-chevron-left"/><span data-translate="">history</span></h2>

  <label class="form-control"
         data-ng-repeat="(k, v) in types">
    <i class="fa fa-fw"
       data-ng-class="{
            'fa-code-fork': k === 'workflow',
            'fa-tasks': k === 'task',
            'fa-edit': k === 'event'}"></i>
    <input type="checkbox" data-ng-model="types[k]"/>
    <span>{{k + 'Type' | translate}}</span>
  </label>

  <div class="form-group">
    <label data-translate="">filterByAuthor</label>
    <input class="form-control"
           data-ng-model="authorFilter"
           data-gn-user-picker="authorFilter"/>
  </div>
  <div class="form-group">
    <label data-translate="">filterByOwner</label>
    <input class="form-control"
           data-ng-model="ownerFilter"
           data-gn-user-picker="ownerFilter"/>
  </div>

  <div class="form-group">
    <label data-translate="">filterByRecord</label>
    <input class="form-control"
           data-ng-model="recordFilter"/>
    <!-- TODO : autocomplete -->
  </div>


  <ul class="timeline timeline-1-col" >
    <li data-ng-repeat="h in history"
        class="timeline-inverted">
      <div class="timeline-badge timeline-badge-small"
           data-ng-class="{
            'success': h.statusValue.type === 'workflow',
            'primary': h.statusValue.type === 'task',
            'info': h.statusValue.type === 'event'}">
        <i class="fa fa-fw"
           data-ng-class="{
            'fa-code-fork': h.statusValue.type === 'workflow',
            'fa-tasks': h.statusValue.type === 'task',
            'fa-edit': h.statusValue.type === 'event'}"
           title="{{(h.statusValue.type + 'Type') | translate}}"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <a class="btn btn-link pull-right"
             data-ng-show="allowRemoval"
             data-ng-click="removeStep(h)"
             title="{{'removeHistoryStep' | translate}}">
            <i class="fa fa-times text-danger"/>
          </a>
          <i>{{h.title}}</i>
          <img class="img-circle"
               data-ng-src="//gravatar.com/avatar/{{h.authorEmail | md5}}?s=18"/>
          {{h.authorName}}<br/>
          <strong>{{h.statusValue.label[lang] || h.statusValue.name}}</strong>
          <span class="text-muted"
                data-gn-humanize-time="{{h.id.changeDate.dateAndTime}}"
                data-from-now=""></span>
        </div>
        <div class="timeline-body">

          <div data-ng-show="h.statusValue.name == 'doiCreationTask'"
               data-ng-init="key = h.id.metadataId + '-' + h.id.statusId">
            <h2 data-translate="">createDoiForRecord</h2>
            <div class="text-muted" data-translate="">createDoiForRecord-help</div>

            <a class="btn btn-primary"
               data-translate=""
               data-gn-click-and-spin="doiCreationTask.check(h.id.metadataId, h.id.statusId)">doiCreationTaskCheckAction</a>

            <a class="btn btn-primary"
               data-translate=""
               data-ng-disabled="response.doiCreationTask[key].check.status !== 200"
               data-gn-click-and-spin="doiCreationTask.create(h.id.metadataId, h.id.statusId)">doiCreationTaskCreateAction</a>

            <div data-ng-if="response.doiCreationTask[key].check"
                 data-ng-class="{'text-danger': response.doiCreationTask[key].check.status === 400}">
            {{response.doiCreationTask[key].check.data.description}}
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
