<li class="timeline-inverted">
  <div
    class="timeline-badge timeline-badge-small"
    data-ng-class="{
        'success': h.statusValue.type === 'workflow',
        'primary': h.statusValue.type === 'task',
        'info': h.statusValue.type === 'event'}"
  >
    <i
      class="fa fa-fw"
      data-ng-class="{
        'fa-code-fork': h.statusValue.type === 'workflow',
        'fa-tasks': h.statusValue.type === 'task',
        'fa-edit': h.statusValue.type === 'event'}"
      title="{{(h.statusValue.type + 'Type') | translate}}"
    ></i>
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <a
        class="btn btn-link pull-right"
        data-ng-show="allowRemoval"
        data-ng-click="removeStep(h)"
        title="{{'removeHistoryStep' | translate}}"
      >
        <i class="fa fa-times text-danger"></i>
      </a>
      <a data-ng-href="catalog.search#/metadata/{{h.uuid}}" data-ng-hide="noTitle"
        ><i>{{h.title}}</i></a
      >
      <br data-ng-hide="noTitle" />
      <strong>
        {{h.statusValue.type == 'workflow' ? ('recordHistory-workflow' | translate:{text:
        (h.statusValue.label | gnLocalized)}): (h.statusValue.label | gnLocalized |
        translate:{h: h}) }}
      </strong>
      <span
        class="text-muted"
        data-gn-humanize-time="{{h.dateChange}}"
        data-from-now=""
      ></span>

      <span data-ng-if="h.statusValue.type == 'task'" data-ng-show="h.dateDue != null"
        >,
        <span data-translate="">taskDueDate</span>
        <span
          class="text-muted"
          data-gn-humanize-time="{{h.dateDue}}"
          data-from-now=""
        ></span>
      </span>
      <span data-ng-if="h.statusValue.type == 'task'" data-ng-show="h.dateClose != null"
        >,
        <span data-translate="">taskCloseDate</span>
        <span
          class="text-muted"
          data-gn-humanize-time="{{h.dateClose}}"
          data-from-now=""
        ></span> </span
      ><br />

      <p class="gn-margin-top" data-ng-if="h.changeMessage !== ''">{{h.changeMessage}}</p>

      <img class="img-circle" data-ng-src="../api/users/{{(h.id.userId)}}.png?size=18" />
      {{h.authorName}}

      <div
        class="btn-group btn-group-xs pull-right timeline-btn-group"
        role="group"
        data-ng-if="h.statusValue.type === 'event' &&
          (h.statusValue.id === 51 || h.statusValue.id === 60 || h.statusValue.id === 61 || h.statusValue.id === 63)"
      >
        <a
          class="btn btn-default"
          target="_blank"
          data-ng-href="../api/records/{{h.uuid}}/status/{{h.statusId}}.{{h.userId}}.{{h.dateChange}}/before"
          data-ng-if="!h.previousStateEmpty"
          data-ng-hide="noSourceViewOption"
        >
          <i class="fa fa-fw fa-search" title="{{'View' | translate}}"></i>
          <span data-translate="">viewPreviousVersion</span>
        </a>

        <a
          class="btn btn-default"
          target="_blank"
          data-ng-href="../api/records/{{h.uuid}}/status/{{h.statusId}}.{{h.userId}}.{{h.dateChange}}/after"
          data-ng-if="!h.currentStateEmpty"
          data-ng-hide="noSourceViewOption"
        >
          <i class="fa fa-fw fa-search" title="{{'View' | translate}}"></i>
          <span data-translate="">viewChangedVersion</span>
        </a>

        <span
          class="btn btn-default"
          data-gn-click-and-spin="restoreHistoryElement(h)"
          data-ng-if="!h.previousStateEmpty"
          data-ng-hide="noRecoverOption"
        >
          <i class="fa fa-fw fa-magic" title="{{'restore' | translate}}"></i>
          <span data-translate="">restore</span>
        </span>
      </div>
    </div>
    <div
      class="timeline-body"
      data-ng-show="h.dateClose == null"
      data-ng-init="key = h.metadataId + '-' + h.statusId"
    >
      <div
        data-ng-show="h.statusValue.name == 'doiCreationTask'"
        data-gn-doi-wizard="h.metadataId"
      ></div>

      <a
        class="btn btn-default"
        data-ng-if="h.statusValue.type === 'task'"
        data-ng-show="$parent.$parent.user.isAdministratorOrMore()"
        data-gn-click-and-spin="closeTask(h)"
      >
        <i class="fa fa-fw fa-times"></i>
        <span data-translate="">closeTask</span>
      </a>
    </div>
  </div>
</li>
