<div data-ng-show="history.length > 0" class="panel panel-default">
  <div class="panel-heading" data-gn-slide-toggle="{{collapsed}}">
    <i class="fa fa-fw fa-history"></i>
    <span data-translate="">recordHistory</span>
  </div>
  <div class="panel-body">
    <div class="btn-group" data-ng-if="getNumberOfTypes() > 1">
      <label
        data-ng-repeat="(k, v) in filter.types"
        class="btn btn-default"
        title="{{k + 'Type' | translate}}"
      >
        <input type="checkbox" autocomplete="off" data-ng-model="filter.types[k]" />
        <i
          class="fa fa-fw"
          data-ng-class="{
              'fa-code-fork': k === 'workflow',
              'fa-tasks': k === 'task',
              'fa-edit': k === 'event'}"
        ></i>
        {{k + 'Type' | translate}}
      </label>
    </div>

    <ul class="timeline timeline-1-col" data-ng-show="history.length > 0">
      <li
        data-ng-repeat="h in history"
        data-gn-record-history-step="h"
        data-no-title="true"
      ></li>
      <li class="timeline-inverted" data-ng-show="hasMoreRecords">
        <a data-ng-click="more()">
          <i class="fa fa-fw fa-plus"></i>
          <span data-translate="">more</span>
        </a>
      </li>
    </ul>
  </div>
</div>
