<div
  data-ng-if="mdView.current.record.cat.length > 0 ||
                 mdView.current.record.cl_topic.length > 0"
  class="gn-margin-bottom flex-row"
>
  <span class="badge badge-rounded" title="{{'listOfCategories' | translate}}">
    <i class="fa fa-fw fa-tags"></i>
  </span>
  <div>
    <h3 data-translate="">listOfCategories</h3>

    <div class="gn-label-list">
      <button
        data-ng-repeat="cat in mdView.current.record.cat"
        data-ng-click="filterBy('cat', cat)"
        data-ng-if="!sortKeywordsAlphabetically"
        class="btn btn-xs btn-default"
        title="{{'clickToFilterOn' | translate}} {{('cat-' + cat) | translate}}"
      >
        <span class="fa gn-icon-{{cat}} resource-color"></span>&nbsp; {{('cat-' + cat) |
        translate}}
      </button>

      <button
        data-ng-repeat="cat in mdView.current.record.cat  | orderBy:sortByCategory"
        data-ng-click="filterBy('cat', cat)"
        data-ng-if="sortKeywordsAlphabetically"
        class="btn btn-xs btn-default"
        title="{{'clickToFilterOn' | translate}} {{('cat-' + cat) | translate}}"
      >
        <span class="fa gn-icon-{{cat}} resource-color"></span>&nbsp; {{('cat-' + cat) |
        translate}}
      </button>
    </div>
    <hr
      data-ng-if="mdView.current.record.cat.length > 0 &&
                      mdView.current.record.cl_topic.length > 0"
    />

    <div class="gn-label-list">
      <div
        data-ng-repeat="cat in mdView.current.record.cl_topic track by $index"
        data-ng-if="(cat != '') && !sortKeywordsAlphabetically"
        gn-popover=""
        gn-popover-placement="bottom"
      >
        <button class="btn btn-xs btn-default" gn-popover-anchor="">
          <span class="fa gn-icon-{{cat.key}} topic-color"></span>&nbsp; {{cat.key |
          translate}}
        </button>
        <div gn-popover-content="">
          <div data-gn-search-filter-link="cl_topic.key" data-filter="cat.key">
            {{cat.key | translate}}
          </div>
        </div>
      </div>

      <div
        data-ng-repeat="cat in mdView.current.record.cl_topic | orderBy: 'key | translate'"
        data-ng-if="(cat != '') && sortKeywordsAlphabetically"
        gn-popover=""
        gn-popover-placement="bottom"
      >
        <button class="btn btn-xs btn-default" gn-popover-anchor="">
          <span class="fa gn-icon-{{cat.key}} topic-color"></span>&nbsp; {{cat.key |
          translate}}
        </button>
        <div gn-popover-content="">
          <div data-gn-search-filter-link="cl_topic.key" data-filter="cat.key">
            {{cat.key | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
