<h2 data-translate="">resourceContact</h2>

<div class="row" data-ng-if="mdView.current.record.contactForResource">
  <div
    data-gn-metadata-contacts="mdView.current.record.contactForResource"
    data-gn-mode="role"
    data-layout="icon"
    data-focus-on-field-name="resource"
  ></div>
</div>

<div data-ng-if="mdView.current.record.resourceCredit" class="flex-row gn-margin-bottom">
  <span class="badge badge-rounded" title="{{'credit' | translate}}">
    <i class="fa fa-fw fa-bookmark"></i>
  </span>
  <div>
    <h3 data-translate="">credit</h3>
    <div
      data-ng-repeat="c in mdView.current.record.resourceCredit"
      data-ng-bind-html="c | linky | newlines"
    ></div>
  </div>
</div>
