<div
  data-ng-if="mdView.current.record.related || mdView.current.record.link"
  data-gn-related-container="mdView.current.record"
  data-mode="::viewConfig.distributionConfig.layout || ''"
  data-related-config="::viewConfig.distributionConfig.sections"
></div>

<div data-ng-if="mdView.current.record.orderingInstructions.length > 0">
  <h2 data-translate="">orderingInstructions</h2>
  <p
    data-ng-repeat="o in mdView.current.record.orderingInstructions"
    data-ng-bind-html="o | linky | newlines"
  ></p>
</div>
