<div data-ng-show="isRecordHistoryEnabled
               && user.isEditorOrMore()
               && mdView.current.record.draft != 'y'"
     data-gn-record-history="mdView.current.record"
     data-collapsed="true"></div>

<div
  data-ng-if="mdView.current.record.indexingErrorMsg
              && user.canEditRecord(mdView.current.record)"
  class="panel panel-default">
  <div class="panel-heading"
       data-gn-slide-toggle="true">
    <i class="fa fa-fw fa-cog"/>
    <span data-translate=""
          data-translate-values="{count: mdView.current.record.indexingErrorMsg.length}">indexingErrorMessages</span>
  </div>
  <div class="panel-body">
    <ul>
      <li data-ng-repeat="e in mdView.current.record.indexingErrorMsg track by $index">
        <code>
          {{e}}
        </code>
      </li>
    </ul>
  </div>
</div>
