<h2 data-ng-if="user.isEditorOrMore()" data-translate="">Link analysis</h2>
<table data-ng-if="user.isEditorOrMore()" class="table table-bordered">
  <tbody>
    <tr data-ng-if="mdView.current.record.indicator_INDICATOR_CAPABILITIES_TYPE">
      <th class="width-75">
        {{'facet-indicator_INDICATOR_CAPABILITIES_TYPE' | translate }}
        <span gn-popover gn-popover-placement="top">
          <button
            gn-popover-anchor
            type="button"
            class="btn btn-default btn-xs"
            title="{{'moreInfo' | translate }}"
          >
            <i class="fa fa-fw fa-info-circle text-info"></i>
          </button>
          <div gn-popover-content>
            {{'facet-indicator_INDICATOR_CAPABILITIES_TYPE-help' | translate}}
          </div>
        </span>
      </th>
      <td>{{mdView.current.record.indicator_INDICATOR_CAPABILITIES_TYPE}}</td>
    </tr>
    <!-- viewable -->
    <tr data-ng-if="mdView.current.record.indicator_INDICATOR_LAYER_MATCHES_VIEW">
      <th>{{'facet-indicator_INDICATOR_LAYER_MATCHES_VIEW' | translate }}</th>
      <td>
        <span
          class="indicator-{{mdView.current.record.indicator_INDICATOR_LAYER_MATCHES_VIEW}}"
          >{{mdView.current.record.indicator_INDICATOR_LAYER_MATCHES_VIEW}}</span
        >
      </td>
    </tr>
    <!-- downloadable -->
    <tr data-ng-if="mdView.current.record.indicator_INDICATOR_LAYER_MATCHES_DOWNLOAD">
      <th>{{'facet-indicator_INDICATOR_LAYER_MATCHES_DOWNLOAD' | translate }}</th>
      <td>
        <span
          class="indicator-{{mdView.current.record.indicator_INDICATOR_LAYER_MATCHES_DOWNLOAD}}"
          >{{mdView.current.record.indicator_INDICATOR_LAYER_MATCHES_DOWNLOAD}}</span
        >
      </td>
    </tr>
    <!-- others -->
    <tr data-ng-if="mdView.current.record.indicator_INDICATOR_LAYER_MATCHES">
      <th>
        {{'facet-indicator_INDICATOR_LAYER_MATCHES' | translate }}
        <span gn-popover gn-popover-placement="top">
          <button
            gn-popover-anchor
            type="button"
            class="btn btn-default btn-xs"
            title="{{'moreInfo' | translate }}"
          >
            <i class="fa fa-fw fa-info-circle text-info"></i>
          </button>
          <div gn-popover-content>
            {{'facet-indicator_INDICATOR_LAYER_MATCHES-help' | translate}}
          </div>
        </span>
      </th>
      <td>
        <span
          class="indicator-{{mdView.current.record.indicator_INDICATOR_LAYER_MATCHES}}"
          >{{mdView.current.record.indicator_INDICATOR_LAYER_MATCHES}}</span
        >
      </td>
    </tr>
    <tr
      data-ng-if="mdView.current.record.indicator_INDICATOR_ALL_CAPABILITIES_LAYER_RESOLVE"
    >
      <th>
        {{'facet-indicator_INDICATOR_ALL_CAPABILITIES_LAYER_RESOLVE' | translate }}
        <span gn-popover gn-popover-placement="top">
          <button
            gn-popover-anchor
            type="button"
            class="btn btn-default btn-xs"
            title="{{'moreInfo' | translate }}"
          >
            <i class="fa fa-fw fa-info-circle text-info"></i>
          </button>
          <div gn-popover-content>
            {{'facet-indicator_INDICATOR_ALL_CAPABILITIES_LAYER_RESOLVE-help' |
            translate}}
          </div>
        </span>
      </th>
      <td>
        <span
          class="indicator-{{mdView.current.record.indicator_INDICATOR_ALL_CAPABILITIES_LAYER_RESOLVE}}"
          >{{mdView.current.record.indicator_INDICATOR_ALL_CAPABILITIES_LAYER_RESOLVE}}</span
        >
      </td>
    </tr>
    <tr
      data-ng-if="mdView.current.record.indicator_INDICATOR_ALL_OPERATES_ON_MATCH_CAPABILITIES"
    >
      <th>
        {{'facet-indicator_INDICATOR_ALL_OPERATES_ON_MATCH_CAPABILITIES' | translate }}
        <span gn-popover gn-popover-placement="top">
          <button
            gn-popover-anchor
            type="button"
            class="btn btn-default btn-xs"
            title="{{'moreInfo' | translate }}"
          >
            <i class="fa fa-fw fa-info-circle text-info"></i>
          </button>
          <div gn-popover-content>
            {{'facet-indicator_INDICATOR_ALL_OPERATES_ON_MATCH_CAPABILITIES-help' |
            translate}}
          </div>
        </span>
      </th>
      <td>
        <span
          class="indicator-{{mdView.current.record.indicator_INDICATOR_ALL_OPERATES_ON_MATCH_CAPABILITIES}}"
          >{{mdView.current.record.indicator_INDICATOR_ALL_OPERATES_ON_MATCH_CAPABILITIES}}</span
        >
      </td>
    </tr>
    <tr data-ng-if="mdView.current.record.indicator_INDICATOR_ALL_OPERATES_ON_RESOLVE">
      <th>
        {{'facet-indicator_INDICATOR_ALL_OPERATES_ON_RESOLVE' | translate }}
        <span gn-popover gn-popover-placement="top">
          <button
            gn-popover-anchor
            type="button"
            class="btn btn-default btn-xs"
            title="{{'moreInfo' | translate }}"
          >
            <i class="fa fa-fw fa-info-circle text-info"></i>
          </button>
          <div gn-popover-content>
            {{'facet-indicator_INDICATOR_ALL_OPERATES_ON_RESOLVE-help' | translate}}
          </div>
        </span>
      </th>
      <td>
        <span
          class="indicator-{{mdView.current.record.indicator_INDICATOR_ALL_OPERATES_ON_RESOLVE}}"
          >{{mdView.current.record.indicator_INDICATOR_ALL_OPERATES_ON_RESOLVE}}</span
        >
      </td>
    </tr>
    <tr
      data-ng-if="mdView.current.record.indicator_INDICATOR_CAPABILITIES_RESOLVES_TO_SERVICE"
    >
      <th>
        {{'facet-indicator_INDICATOR_CAPABILITIES_RESOLVES_TO_SERVICE' | translate }}
        <span gn-popover gn-popover-placement="top">
          <button
            gn-popover-anchor
            type="button"
            class="btn btn-default btn-xs"
            title="{{'moreInfo' | translate }}"
          >
            <i class="fa fa-fw fa-info-circle text-info"></i>
          </button>
          <div gn-popover-content>
            {{'facet-indicator_INDICATOR_CAPABILITIES_RESOLVES_TO_SERVICE-help' |
            translate}}
          </div>
        </span>
      </th>
      <td>
        <span
          class="indicator-{{mdView.current.record.indicator_INDICATOR_CAPABILITIES_RESOLVES_TO_SERVICE}}"
          >{{mdView.current.record.indicator_INDICATOR_CAPABILITIES_RESOLVES_TO_SERVICE}}</span
        >
      </td>
    </tr>
    <tr
      data-ng-if="mdView.current.record.indicator_INDICATOR_CAPABILITIES_SERVICE_FILE_ID_MATCHES"
    >
      <th>
        {{'facet-indicator_INDICATOR_CAPABILITIES_SERVICE_FILE_ID_MATCHES' | translate }}
        <span gn-popover gn-popover-placement="top">
          <button
            gn-popover-anchor
            type="button"
            class="btn btn-default btn-xs"
            title="{{'moreInfo' | translate }}"
          >
            <i class="fa fa-fw fa-info-circle text-info"></i>
          </button>
          <div gn-popover-content>
            {{'facet-indicator_INDICATOR_CAPABILITIES_SERVICE_FILE_ID_MATCHES-help' |
            translate}}
          </div>
        </span>
      </th>
      <td>
        <span
          class="indicator-{{mdView.current.record.indicator_INDICATOR_CAPABILITIES_SERVICE_FILE_ID_MATCHES}}"
          >{{mdView.current.record.indicator_INDICATOR_CAPABILITIES_SERVICE_FILE_ID_MATCHES}}</span
        >
      </td>
    </tr>
    <tr
      data-ng-if="mdView.current.record.indicator_INDICATOR_CAPABILITIES_SERVICE_FULLY_MATCHES"
    >
      <th>
        {{'facet-indicator_INDICATOR_CAPABILITIES_SERVICE_FULLY_MATCHES' | translate }}
        <span gn-popover gn-popover-placement="top">
          <button
            gn-popover-anchor
            type="button"
            class="btn btn-default btn-xs"
            title="{{'moreInfo' | translate }}"
          >
            <i class="fa fa-fw fa-info-circle text-info"></i>
          </button>
          <div gn-popover-content>
            {{'facet-indicator_INDICATOR_CAPABILITIES_SERVICE_FULLY_MATCHES-help' |
            translate}}
          </div>
        </span>
      </th>
      <td>
        <span
          class="indicator-{{mdView.current.record.indicator_INDICATOR_CAPABILITIES_SERVICE_FULLY_MATCHES}}"
          >{{mdView.current.record.indicator_INDICATOR_CAPABILITIES_SERVICE_FULLY_MATCHES}}</span
        >
      </td>
    </tr>
    <tr data-ng-if="mdView.current.record.indicator_INDICATOR_RESOLVES_TO_CAPABILITIES">
      <th>
        {{'facet-indicator_INDICATOR_RESOLVES_TO_CAPABILITIES' | translate }}
        <span gn-popover gn-popover-placement="top">
          <button
            gn-popover-anchor
            type="button"
            class="btn btn-default btn-xs"
            title="{{'moreInfo' | translate }}"
          >
            <i class="fa fa-fw fa-info-circle text-info"></i>
          </button>
          <div gn-popover-content>
            {{'facet-indicator_INDICATOR_RESOLVES_TO_CAPABILITIES-help' | translate}}
          </div>
        </span>
      </th>
      <td>
        <span
          class="indicator-{{mdView.current.record.indicator_INDICATOR_RESOLVES_TO_CAPABILITIES}}"
          >{{mdView.current.record.indicator_INDICATOR_RESOLVES_TO_CAPABILITIES}}</span
        >
      </td>
    </tr>
  </tbody>
</table>
