<div data-ng-controller="GnMdViewController">
  <!--<pre>
  {{mdView.current.record}}
  </pre>-->

  <div
    data-ng-if="mdView.current.record.draft == 'e' || mdView.current.record.draft == 'y'"
    data-ng-show="user.canEditRecord(mdView.current.record)"
    class="bg-info see-draft-alert"
  >
    <!-- If draft exists, show a link -->
    <a
      data-ng-if="mdView.current.record.draft == 'e'"
      class="see-draft see-draft-not-approved"
      title=" {{('status-' + mdView.current.record.mdStatus) | translate}}"
      data-ng-href="#/metadraf/{{md.uuid}}"
      data-ng-show="user.canEditRecord(mdView.current.record)"
    >
      {{'seeDraft' | translate}}
    </a>

    <!-- If approved exists, show a link -->
    <a
      data-ng-if="mdView.current.record.draft == 'y'"
      class="see-draft see-draft-approved"
      title=" {{('status-' + mdView.current.record.mdStatus) | translate}}"
      data-ng-href="#/metadata/{{md.uuid}}"
      data-ng-show="user.canEditRecord(mdView.current.record)"
    >
      {{'seeNoDraft' | translate}}
    </a>
  </div>

  <div class="container">
    <div
      class="alert alert-warning"
      data-ng-hide="!mdView.loadDetailsFinished || mdView.current.record"
    >
      <span
        data-translate=""
        data-translate-values="{uuid: '{{recordIdentifierRequested | htmlToPlaintext}}'}"
      >
        recordNotFound
      </span>
      <span
        data-ng-hide="user"
        data-translate=""
        data-translate-values="{signInFormAction: '{{signInFormAction}}', csrf: '{{csrf}}', redirectUrlAfterSign: '{{redirectUrlAfterSign}}'}"
      >
        trySignIn
      </span>
    </div>
    <div class="row" data-ng-show="!mdView.loadDetailsFinished">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>

    <!-- status message on top -->
    <div data-ng-repeat="c in mdView.current.record.cl_status track by $index">
      <div
        data-ng-show="showStatusTopBarFor.indexOf(c.key) !== -1"
        title="{{c.key | translate}}"
        class="gn-status-stamp-top gn-status-bg gn-status-{{c.key}}-bg"
      >
        <span class="gn-status gn-status-mdview">{{c.key | translate}}</span>
      </div>
    </div>
    <!-- status message as watermark -->
    <div data-ng-repeat="c in mdView.current.record.cl_status track by $index">
      <div
        data-ng-show="showStatusWatermarkFor.indexOf(c.key) !== -1"
        title="{{c.key | translate}}"
        class="gn-status-stamp"
      >
        <span class="gn-status gn-status-mdview gn-status-{{c.key}}"
          >{{c.key | translate}}</span
        >
      </div>
    </div>

    <div class="row gn-md-view" data-ng-show="mdView.current.record">
      <div class="btn-toolbar hidden-print" role="toolbar">
        <!-- back -->
        <div class="btn-group" role="group">
          <button
            class="btn btn-default"
            data-ng-click="closeRecord(mdView.current.record)"
          >
            <span class="fa fa-fw fa-search"></span>
            {{'backTo' + (fromView || 'search') | translate}}
          </button>
        </div>

        <div class="pull-right">
          <!-- edit -->
          <div class="btn-group pull-left" role="group">
            <a
              class="btn btn-default gn-md-edit-btn"
              data-ng-show="user.canEditRecord(mdView.current.record) && (user.isReviewerOrMore() || mdView.current.record.mdStatus != 4 || !isMdWorkflowEnable)"
              data-ng-href="catalog.edit#/metadata/{{gnMetadataActions.getMetadataIdToEdit(mdView.current.record)}}?redirectUrl=catalog.search%23%2Fmetadata%2F{{mdView.current.record.uuid}}"
              title="{{'edit' | translate}}"
            >
              <span class="fa fa-fw fa-pencil"></span>
              <span data-translate="" class="hidden-sm hidden-xs">edit</span>
            </a>
          </div>

          <!-- delete -->
          <div class="btn-group pull-left" role="group">
            <a
              class="btn btn-default"
              href
              data-ng-if="mdView.current.record.draft != 'y'"
              data-ng-show="(!mdView.current.record.isPublished() || (mdView.current.record.isPublished() && user.canDeletePublishedMetadata()) ) && user.canEditRecord(mdView.current.record)
                            && (user.isReviewerOrMore() || mdView.current.record.mdStatus != 4 || !isMdWorkflowEnable)"
              data-gn-click-and-spin="deleteRecord(mdView.current.record)"
              data-gn-confirm-click="{{'deleteRecordConfirm' | translate: {resourceTitle: (mdView.current.record.resourceTitle | json)} }}"
              title="{{'delete' | translate}}"
            >
              <span class="fa fa-fw fa-times"></span>
              <span data-translate="" class="hidden-sm hidden-xs">delete</span>
            </a>

            <a
              class="btn btn-default"
              href
              data-ng-if="mdView.current.record.draft == 'y'"
              data-ng-show="(!mdView.current.record.isPublished() || (mdView.current.record.isPublished() && user.canDeletePublishedMetadata()) ) && user.canEditRecord(mdView.current.record)
                            && (user.isReviewerOrMore() || mdView.current.record.mdStatus != 4 || !isMdWorkflowEnable)"
              data-gn-click-and-spin="cancelWorkingCopy(mdView.current.record)"
              data-gn-confirm-click="{{'deleteWorkingCopyRecordConfirm' | translate: {resourceTitle: (mdView.current.record.resourceTitle | json)} }}"
              title="{{'cancelWorkingCopy' | translate}}"
            >
              <span class="fa fa-fw fa-times"></span>
              <span
                data-translate=""
                class="hidden-sm hidden-xs"
                data-ng-if="mdView.current.record.draft == 'y'"
                >cancelWorkingCopy</span
              >
            </a>
          </div>

          <!-- manage -->
          <div
            class="gn-md-actions-btn pull-left"
            data-gn-md-actions-menu="mdView.current.record"
          ></div>

          <!-- display mode -->
          <div class="btn-group gn-view-menu-button pull-left">
            <button
              type="button"
              class="btn btn-default dropdown-toggle"
              data-toggle="dropdown"
              aria-label="{{'chooseAView' | translate}}"
              aria-expanded="false"
            >
              <span class="fa fa-fw fa-eye"></span>
              <span data-translate="" class="hidden-sm hidden-xs">chooseAView</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li
                role="menuitem"
                data-ng-repeat="f in recordFormatterList"
                data-ng-class="currentFormatter === f.url ? 'disabled' : ''"
              >
                <a
                  href=""
                  gn-metadata-open="mdView.current.record"
                  gn-records="mdView.records"
                  gn-formatter="f && f.url"
                >
                  {{f.label | translate}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        data-ng-show="gnMdViewObj.usingFormatter"
        id="gn-metadata-display"
        class="gn-metadata-display"
      ></div>

      <div data-ng-show="!gnMdViewObj.usingFormatter" class="gn-metadata-display">
        <div data-ng-switch on="md.resourceType[0]">
          <div data-ng-switch-when="series">
            <div
              ng-include="'../../catalog/views/default/templates/recordView/type-series.html'"
            ></div>
          </div>
          <div data-ng-switch-when="service">
            <div
              ng-include="'../../catalog/views/default/templates/recordView/type-service.html'"
            ></div>
          </div>
          <div data-ng-switch-default>
            <div
              ng-include="'../../catalog/views/default/templates/recordView/type-dataset.html'"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
