<div data-gn-related-observer>
  <div
    data-ng-if="mdView.current.record.related.datasets"
    data-gn-related-series-by-criteria="mdView.current.record.related.datasets"
    data-agg="mdView.current.record.related.aggregations_datasets"
    data-filters="['spatialRepresentationType', 'creationYearForResource']"
    data-type="'blocks'"
    data-sort-by="resourceTitle"
    data-title="{{'openRecorddatasets' | translate}}"
  ></div>

  <div
    data-ng-if="mdView.current.record.related.uuids"
    data-gn-related="mdView.current.record"
    data-user="user"
    data-layout="card"
    data-types="brothersAndSisters"
    data-title="{{'brothersAndSisters' | translate}}"
  ></div>

  <div
    data-ng-if="mdView.current.record.related.uuids"
    data-gn-related="mdView.current.record"
    data-user="user"
    data-layout="title"
    data-types="siblings|associated"
    data-group-siblings-by-type="true"
    data-title="{{'siblings' | translate}}"
  ></div>
  <div
    data-ng-if="mdView.current.record.related.uuids"
    data-gn-related="mdView.current.record"
    data-user="user"
    data-layout="card"
    data-types="siblings|associated"
    data-group-siblings-by-type="true"
    data-title="{{'siblings' | translate}}"
  ></div>
</div>
