<h2 data-translate="">summary</h2>

<!-- Display the first metadata status (apply to ISO19139 record) -->
<section data-ng-if="mdView.current.record.cl_status.length > 0"
         data-ng-repeat="c in mdView.current.record.cl_status track by $index">
  <div data-ng-if="showStatusWatermarkFor.indexOf(c.key) === -1 && showStatusTopBarFor.indexOf(c.key) === -1"
       class="gn-margin-bottom flex-row">
        <span class="badge badge-rounded gn-status-{{c.key}}"
              title="{{c.key | translate}}">
          <i class="fa fa-fw fa-check"></i>
        </span>
    <div>
      <h3 data-translate="">cl_status</h3>
      {{c.key | translate}}
    </div>
  </div>
</section>

<section class="gn-md-side-dates"
         data-ng-if="mdView.current.record.resourceDate.length > 0">
  <div>
    <h2 data-translate="">resourceEvents</h2>
    <ul>
      <li data-ng-repeat="date in mdView.current.record.resourceDate">
        <div class="badge badge-rounded"
             data-ng-class="{'danger': date.type === 'deprecated'}">
          <i class="fa fa-fw"
             data-ng-class="{'fa-chevron-right': date.type === 'creation', 'fa-code-fork': date.type === 'superseded','fa-ban': date.type === 'deprecated', 'fa-retweet': date.type === 'revision', 'fa-check': date.type === 'publication', 'fa-calendar': date.type === 'nextUpdate'}"/>
        </div>
        <span>
            <h3 data-translate>{{date.type | translate}}</h3>
            <span data-gn-humanize-time="{{date.date}}"/>
          </span>
      </li>
    </ul>
  </div>
</section>
