<ul class="gn-thumbnails" data-ng-if="mdView.current.record.overview.length > 0">
  <li data-ng-repeat="img in mdView.current.record.overview">
    <img
      data-gn-img-modal="img"
      class="img-thumbnail"
      alt="{{'overview' | translate}}"
      title="{{img.name}}"
      data-ng-src="{{mdView.current.record.draft === 'y'? img.url + (img.url.indexOf('?') > 0 ? '&' : '?') + 'approved=false' : img.url}}"
      onerror="this.onerror=null; this.parentElement.style.display='none';"
    />
    <p class="text-center" data-ng-if="img.name != ''">{{img.name}}</p>
  </li>
</ul>
