<div>
  <h1 class="gn-break">
    <i class="fa gn-icon-{{mdView.current.record.resourceType[0]}}" />

    {{mdView.current.record.resourceTitle}}

    <span
      class="text-muted badge"
      data-ng-class="{
              'text-success': md.mdStatus == 2,
              'text-warning': md.mdStatus == 4
              }"
      data-ng-if="user.isEditorOrMore()
                      && md.mdStatus < 50
                      && isMdWorkflowEnable"
      >{{('mdStatus-' + md.mdStatus) | translate}}</span
    >
  </h1>

  <div
    class="gn-alt-title"
    data-ng-if="mdView.current.record.resourceAltTitle.length > 0"
  >
    <span data-translate="">alternateTitle</span>
    {{mdView.current.record.resourceAltTitle.join(', ')}}
  </div>

  <div
    data-ng-if="['series', 'service'].indexOf(mdView.current.record.resourceType[0]) !== -1
                    && mdView.current.record.related"
    data-gn-record-mosaic=""
    records="mdView.current.record.related.all"
    size="8"
  />

  <div
    data-ng-if="mdView.current.record.related.uuids"
    data-gn-related="mdView.current.record"
    data-user="user"
    data-alt-title="{{'memberOf' | translate}}"
    data-layout="title"
    data-types="parent"
  ></div>

  <p data-ng-bind-html="(mdView.current.record.resourceAbstract) | linky | newlines"></p>
</div>
