<div
  class="row gn-card gn-card-{{mdView.current.record.resourceType[0]}} gn-margin-bottom gn-margin-top"
>
  <div class="col-md-8 gn-record gn-{{mdView.current.record.resourceType[0]}}">
    <div class="">
      <div
        class="col-md-12"
        ng-include="'../../catalog/views/default/templates/recordView/title.html'"
      ></div>
    </div>
  </div>
  <div class="col-md-4 gn-md-side">
    <div
      ng-include="'../../catalog/views/default/templates/recordView/status.html'"
    ></div>

    <div gn-record-is-replaced-by="mdView.current.record.uuid"></div>

    <div
      data-ng-if="!(mdView.current.record.related.uuids
                    && mdView.current.record.related.uuids.length > 0)"
      class="gn-margin-top"
      ng-include="'../../catalog/views/default/templates/recordView/thumbnails.html'"
    ></div>

    <div
      class="gn-margin-top"
      ng-include="'../../catalog/views/default/templates/recordView/summary.html'"
    ></div>

    <div data-gn-data-preview="mdView.current.record"></div>
  </div>
</div>

<div class="row">
  <!-- Records filters -->
  <div
    class="col-md-4 col-sm-12 gn-margin-bottom gn-padding-bottom-lg"
    data-ng-if="mdView.current.record.related.uuids"
    data-gn-records-filters
    data-agg="mdView.current.record.related.children.length > 0
        ? mdView.current.record.related.aggregations_children
        :mdView.current.record.related.aggregations_siblings"
    data-title="{{'seriesComposedOf' | translate}}"
  ></div>

  <div class="col-md-8 col-sm-12">
    <div
      class="gn-margin-bottom"
      data-ng-if="mdView.current.record.related.uuids"
      data-gn-related-with-stats="mdView.current.record.related.children.length > 0
                                            ? mdView.current.record.related.children
                                            : mdView.current.record.related.siblings"
      data-agg="mdView.current.record.related.children.length > 0
          ? mdView.current.record.related.aggregations_children
          :mdView.current.record.related.aggregations_siblings"
      data-type="'blocks'"
      data-sort-by="resourceTitle"
      data-title="{{'seriesComposedOf' | translate}}"
    ></div>

    <!-- Related records table -->
    <div
      data-gn-records-table="mdView.current.record.related.children.length > 0
                                ? mdView.current.record.related.children
                                : mdView.current.record.related.siblings"
      data-agg="mdView.current.record.related.children.length > 0
          ? mdView.current.record.related.aggregations_children
          :mdView.current.record.related.aggregations_siblings"
      labels="{{::viewConfig.collectionTableConfig.labels}}"
      columns="{{::viewConfig.collectionTableConfig.columns}}"
    ></div>
  </div>
</div>

<div class="row gn-section gn-section-{{mdView.current.record.resourceType[0]}}">
  <div class="col-md-8 gn-record">
    <div
      ng-include="'../../catalog/views/default/templates/recordView/downloads.html'"
    ></div>
  </div>
  <div class="col-md-4 gn-md-side">
    <div
      class="gn-contact-col-1"
      data-ng-if="mdView.current.record.contactForDistribution"
      data-gn-metadata-contacts="mdView.current.record.contactForDistribution"
      data-gn-mode="default"
      data-layout="icon"
    ></div>

    <div
      data-ng-if="mdView.current.record.related.uuids"
      data-gn-related="mdView.current.record"
      data-user="user"
      data-layout="card"
      data-types="services"
      data-title="{{'<span class=\'badge badge-rounded\'><i class=\'fa fa-fw fa-cloud\'></i></span><strong>' + ('openRecordservices' | translate) + '</strong>'}}"
    ></div>
  </div>
</div>

<div class="row gn-section gn-section-{{mdView.current.record.resourceType[0]}}">
  <div class="col-md-12 gn-record">
    <h2 data-translate="">technicalInformation</h2>
  </div>
  <div class="gn-md-side gn-nopadding-top col-md-8">
    <div
      class="col-3 gn-padding-bottom-lg"
      ng-include="'../../catalog/views/default/templates/recordView/technical.html'"
    ></div>
  </div>
  <div class="col-md-4 gn-md-side gn-nopadding-top">
    <div
      ng-include="'../../catalog/views/default/templates/recordView/spatial.html'"
    ></div>
  </div>
</div>

<div
  class="row gn-section gn-section-{{mdView.current.record.resourceType[0]}}"
  data-ng-if="mdView.current.record.featureTypes.length
                 || mdView.current.record.related.fcats.length > 0"
>
  <div class="col-md-12 gn-record">
    <div
      ng-include="'../../catalog/views/default/templates/recordView/featurecatalogue.html'"
    ></div>
  </div>
</div>

<!-- constraints -->
<div class="row gn-section gn-section-{{mdView.current.record.resourceType[0]}}">
  <div class="col-md-8 gn-record">
    <div
      ng-include="'../../catalog/views/default/templates/recordView/constraints.html'"
    ></div>
  </div>
</div>

<!-- lineage -->
<div
  class="row gn-section gn-section-{{mdView.current.record.resourceType[0]}}"
  data-ng-if="mdView.current.record.lineage
                 || mdView.current.record.sourceDescription
                 || mdView.current.record.supplementalInformation"
>
  <div class="col-md-8 gn-record">
    <div
      ng-include="'../../catalog/views/default/templates/recordView/lineage.html'"
    ></div>
  </div>
  <div class="gn-md-side">
    <div
      ng-include="'../../catalog/views/default/templates/recordView/sources.html'"
    ></div>
  </div>
</div>

<!-- contact -->
<div class="row gn-section">
  <div class="col-md-8 gn-record gn-break">
    <div
      ng-include="'../../catalog/views/default/templates/recordView/contact.html'"
    ></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 gn-record">
    <div
      ng-include="'../../catalog/views/default/templates/recordView/related.html'"
    ></div>
  </div>
</div>

<!-- metadata -->
<div class="gn-section gn-section-{{mdView.current.record.resourceType[0]}} row">
  <h2 class="col-md-12" data-translate="">metadataInformation</h2>
  <div class="col-md-8">
    <div
      ng-include="'../../catalog/views/default/templates/recordView/metadatacontact.html'"
    ></div>
  </div>
  <div class="col-md-4 gn-md-side">
    <div
      ng-include="'../../catalog/views/default/templates/recordView/metadata.html'"
    ></div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div ng-include="'../../catalog/views/default/templates/recordView/share.html'"></div>
  </div>
</div>

<div ng-include="'../../catalog/views/default/templates/recordView/footer.html'"></div>
