<div class="col-md-8 gn-record">
  <div ng-include="'../../catalog/views/default/templates/recordView/title.html'"/>

  <!-- Display the first metadata status (apply to ISO19139 record) -->
<!--  <div class="row">-->
<!--    <div data-ng-if="mdView.current.record.cl_status.length > 0"-->
<!--         data-ng-repeat="c in mdView.current.record.cl_status track by $index">-->
<!--      <div data-ng-if="showStatusWatermarkFor.indexOf(c.key) === -1-->
<!--                               && showStatusTopBarFor.indexOf(c.key) === -1"-->
<!--           title="{{c.key | translate}}"-->
<!--           class="gn-status gn-status-mdview gn-status-{{c.key}}">-->
<!--        {{c.key | translate}}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div ng-include="'../../catalog/views/default/templates/recordView/tabbed.html'"/>

  <div data-ng-if="showCitation"
       data-gn-metadata-citation="mdView.current.record"/>

  <div ng-include="'../../catalog/views/default/templates/recordView/footer.html'"/>
</div>

<div class="col-md-4 gn-md-side">

  <!-- summary -->
  <div ng-include="'../../catalog/views/default/templates/recordView/summary.html'"/>

  <div ng-include="'../../catalog/views/default/templates/recordView/thumbnails.html'"/>

  <section class="gn-md-side-extent" data-ng-if="mdView.current.record.geom || mdView.current.record.hasBoundingPolygon">
    <h2 data-translate="">extent</h2>
    <p data-ng-if="mdView.current.record.extentDescription">
    <ul>
      <li data-ng-repeat="d in mdView.current.record.extentDescription">{{d}}</li>
    </ul>
    </p>
    <!-- TODO: use map config -->
    <p data-ng-if="mdView.current.record.geom || mdView.current.record.hasBoundingPolygon">
      <img class="gn-img-thumbnail img-thumbnail gn-img-extent"
           alt="{{'extent' | translate}}"
           aria-label="{{'extent' | translate}}"
           data-ng-src="../api/records/{{mdView.current.record.uuid}}/extents.png"/>
    </p>
  </section>

  <div data-gn-userfeedback='mdView.current.record'
       data-gn-user={{user.username}}
       data-ng-if="isUserFeedbackEnabled && mdView.current.record.draft != 'y'">
  </div>
  <div data-gn-md-feedback="mdView.current.record"></div>

  <div ng-include="'../../catalog/views/default/templates/recordView/social.html'"/>
</div>
