<div data-ng-if="user.isAdministrator()" class="row" data-ng-controller="GnOpenwisBlacklistController">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading" data-translate="">blacklist</div>
			<div class="panel-body">
				<table data-datatable data-dt-options="dtOptions"
					data-dt-columns="dtColumns" data-dt-instance="dtInstance"
					class="row-border hover">
					<thead>
						<tr>
							<th>User</th>
							<th>Nb Warn</th>
							<th>Vol Warn</th>
							<th>Nb Blacklist</th>
							<th>Vol Blacklist</th>
							<th>Status</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
					<tfoot>
						<tr>
							<th>User</th>
							<th>Nb Warn</th>
							<th>Vol Warn</th>
							<th>Nb Blacklist</th>
							<th>Vol Blacklist</th>
							<th>Status</th>
							<th>&nbsp;</th>
						</tr>
					</tfoot>
				</table>


				<div id="editBlackList" class="modal fade" tabindex="-1"
					role="dialog" style="display: none"
					data-ng-controller="GnOpenwisBlacklistModalController">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">Edit Blacklist</h3>
							</div>
							<div class="modal-body" style="display: inline">
								<div>
									<label class="col-sm-6">Username</label> <input
										class="col-sm-6" disabled="disabled" type="text"
										data-ng-model="element.user" />
								</div>
								<div>
									<label class="col-sm-6">Nb Dissemination Warning
										Threshold</label> <input class="col-sm-6" type="text"
										data-ng-model="element['nbDisseminationWarnThreshold']" />
								</div>
								<div>
									<label class="col-sm-6">Vol Dissemination Warning
										Threshold</label> <input class="col-sm-6" type="text"
										data-ng-model="element['volDisseminationWarnThreshold']" />
								</div>
								<div>
									<label class="col-sm-6">Nb Dissemination Blacklist
										Threshold</label> <input class="col-sm-6" type="text"
										data-ng-model="element['nbDisseminationBlacklistThreshold']" />
								</div>
								<div>
									<label class="col-sm-6">Vol Dissemination Blacklist
										Threshold</label> <input class="col-sm-6" type="text"
										data-ng-model="element['volDisseminationBlacklistThreshold']" />
								</div>
								<div class="col-sm-6">
									<label>Blacklist</label> <input class="col-sm-1"
										type="checkbox" data-ng-model="element['isBlacklisted']"
										data-ng-change="changeBlacklist()" />
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary" type="button"
									data-ng-click="ok()" data-translate="">Save</button>
								<button class="btn btn-warning" type="button"
									data-ng-click="cancel()" data-translate="">Cancel</button>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
