<div class="row" data-ng-controller="GnOpenwisBlacklistController">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading" data-translate="">blacklist</div>
			<div class="panel-body">
				<div>
                    <div style="display: inline">
                        <label for="username" data-translate="">username</label><input
                            data-ng-change="updateData()" data-ng-model="username" type="text">
                    </div>
                    <div style="display: inline">
                        <label for="numResults" data-translate="">"numResults"</label>
                        <input
                            data-ng-change="updateData()" data-ng-model="numResults" type="number">
                    </div>
				</div>
				<table class="table">
					<tr>
						<th>User</th>
						<th>Nb Warn</th>
						<th>Vol Warn</th>
						<th>Nb Blacklist</th>
						<th>Vol Blacklist</th>
						<th>Blacklist</th>
					</tr>
					<tr data-ng-repeat="element in data track by $index">
						<td>{{element.user}}</td>
						<td>{{element['nbDisseminationWarnThreshold']}}</td>
						<td>{{element['volDisseminationWarnThreshold']}}</td>
						<td>{{element['nbDisseminationBlacklistThreshold']}}</td>
						<td>{{element['volDisseminationBlacklistThreshold']}}</td>
						<td>{{element['status']}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
