<div>
  <div class="clearfix">
    <div>
      <ng-pluralize count="searchResults.count"
        when="{'0 ': ('noRecordFound' | translate),
              'one': '1 ' +  ('record' | translate),
              'other': '{} ' +  ('records' | translate)}"
      > </ng-pluralize>
    </div>
    <div data-ng-show="options.selection.mode.indexOf('local') === -1">
      <div class="btn-group pull-right"
        data-ng-show="searchResults.count > 0">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
          {{selection.length}} <span data-translate="">selected</span><span class="caret"/>
        </button>
        <ul class="dropdown-menu">
          <li><a data-ng-click="selectAll(true)" data-translate="">selectAll</a>
          </li>
          <li><a data-ng-click="selectAll(false)" data-translate="">selectNone</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Results List -->
  <div>
    <div class="list-group fixed">
      <li class="list-group-item gn-record" data-ng-repeat="md in searchResults.records"
        id="gn-record-{{md['geonet:info'].uuid}}" href=""
        data-ng-class="isSelected(md) ? 'active' : ''" data-ng-click="onClick(md)">
        <div data-ng-if="options.mode == 'title'">
          {{md.title || md.defaultTitle}}
          <!--<span>{{md.title || md.defaultTitle}}</span>
          <a class="pull-right" data-ng-href="../../?uuid={{md['geonet:info'].uuid}}">
            <i class="fa fa-eye"/>
          </a>-->
        </div>
        <div class="row" data-ng-if="options.mode == 'simple'">
          <div class="col-lg-3">
            <p>{{md.type}}</p>
          </div>
          <div class="col-lg-9">
            <p>
              <strong>{{md.title || md.defaultTitle}}</strong>
            </p>
            <p class="small">{{md.abstract | characters:250}}</p>
          </div>
        </div>
      </li>
    </div>
  </div>
  <div data-gn-pagination="paginationInfo"/>
</div>
