<div ng-if="::!layer.get('loading')" class="flex-col">
  <div
    class="flex-row width-100 flex-align-stretch"
    data-ng-class="{'active': layer.showInfo}"
  >
    <div class="flex-self-center">
      <a
        href=""
        class="btn btn-sm btn-link gn-layer-radio"
        data-ng-click="showInfo(layer)"
        title="{{'settings' | translate}}"
      >
        <i
          class="fa gn-margin-right"
          ng-class="layer.showInfo ? 'fa-caret-down' : 'fa-caret-right'"
        ></i>
      </a>
    </div>
    <div class="flex-self-center">
      <input
        type="checkbox"
        id="layer-{{$index}}"
        ng-model="layer.visible"
        title="{{'layerVisible'|translate}}"
      />
    </div>

    <div class="flex-spacer"></div>

    <div class="flex-self-center flex-grow gn-break-anywhere">
      <label
        class="gn-map-layer"
        for="layer-{{$index}}"
        data-ng-class="{'gn-map-layer-selected': layer.showInfo}"
      >
        <span
          class="clickable"
          data-ng-class="layer.get('errors').length > 0 ? 'text-danger' : ''"
          title="{{layer.get('label')}}"
        >
          {{layer.get('layerTitleFromMetadata') || layer.get('label')}}
          <span
            ><em>
              {{layer.get('currentStyle') ? '(' + (layer.get('currentStyle').Title ||
              layer.get('currentStyle').Name) + ')' : ''}}
            </em>
          </span>
        </span>
      </label>
    </div>

    <div class="flex-self-center gn-padding-vertical-sm">
      <div class="dropdown dropdown-left">
        <button
          class="btn btn-default dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
        >
          <span class="fa fa-fw fa-ellipsis-vertical"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left">
          <li>
            <span class="btn-group btn-group-xs">
              <!-- Layer Up -->
              <a
                href=""
                class="btn btn-default"
                ng-disabled="$first"
                ng-click="moveLayer(layer, 1)"
                title="{{'layerMoveUp'|translate}}"
              >
                <span class="fa fa-arrow-up"></span>
              </a>

              <!-- Layer Down -->
              <a
                href=""
                class="btn btn-default"
                ng-disabled="$last"
                ng-click="moveLayer(layer, -1, $last)"
                title="{{'layerMoveDown'|translate}}"
              >
                <span class="fa fa-arrow-down"></span>
              </a>

              <!-- Remove Layer -->
              <a
                href=""
                class="btn btn-default"
                data-ng-click="removeLayer(layer, map)"
                title="{{'layerDelete'|translate}}"
              >
                <span class="fa fa-times"></span>
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="details width-100" ng-show="layer.showInfo">
    <tabset class="info-tabset">
      <tab heading="{{'Legend' | translate}}">
        <div
          class="list-group-item list-group-item-warning"
          data-ng-show="layer.get('errors').length > 0"
          role="menuitem"
        >
          <p data-ng-repeat="e in layer.get('errors')" data-ng-bind-html="e"></p>
        </div>

        <div data-gn-layer-dimensions="layer"></div>

        <p ng-if="layer.get('legend')">
          <img
            alt="{{layer.get('label')}} {{'mapLegend' | translate}}"
            ng-src="{{layer.get('legend')}}"
          />
        </p>
        <h6 ng-if="layer.get('attribution')" data-translate="">Attribution</h6>
        <p ng-if="layer.get('attribution')"><em>{{layer.get('attribution')}}</em></p>

        <div data-ng-if="::layer.get('style').length > 0">
          <div
            data-gn-layer-styles="layer.get('style')"
            data-gn-layer-styles-dropdown-direction="left"
            data-gn-layer-styles-on-click="setLayerStyle(layer, style)"
            data-gn-layer-styles-current="layer.get('currentStyle')"
          ></div>
        </div>
      </tab>

      <tab heading="{{'layerInfo' | translate}}">
        <br />
        <a
          class="btn btn-default btn-block"
          href=""
          data-ng-click="zoomToExtent(layer, map)"
        >
          <i class="fa fa-fw fa-arrows-alt"></i>
          <span translate="">layerExtentZoom</span>
        </a>
        <br />
        <a
          class="btn btn-default btn-block"
          href=""
          data-ng-if="layer.get('md') || layer.get('metadataUrl')"
          data-ng-click="showMetadata()"
        >
          <i class="fa fa-fw fa-file-text"></i>
          <span translate="">layerMetadata</span>
        </a>
        <br />

        <label data-translate="">ogcServiceUrl</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            disabled="disabled"
            value="{{layer.getSource().getUrl()}}"
          />
          <span
            gn-copy-to-clipboard-button=""
            data-btn-class="input-group-addon"
            data-text="{{layer.getSource().getUrl()}}"
          >
          </span>
        </div>

        <label data-translate="">layerName</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            disabled="disabled"
            value="{{layer.get('name')}}"
          />
          <span
            gn-copy-to-clipboard-button=""
            data-btn-class="input-group-addon"
            data-text="{{layer.getSource().get('name')}}"
          >
          </span>
        </div>

        <br />

        <div
          ng-if="hasDownload"
          data-gn-wfs-download=""
          data-typename="{{layer.getSource().getParams().LAYERS}}"
          data-url="{{layer.get('url')}}"
          data-init-on-demand="true"
          data-mode="select"
          has-download="hasDownload"
          data-map="map"
          role="menuitem"
        ></div>
      </tab>

      <tab heading="{{'layerParameter' | translate}}">
        <label for="opacity" data-translate="">setOpacity</label>
        <input
          id="opacity"
          class=""
          type="range"
          aria-label="{{'setOpacity' | translate}}"
          min="0"
          max="1"
          step="0.05"
          data-gn-string-to-number
          ng-model="layer.opacity"
        />
      </tab>

      <tab heading="{{'filter' | translate}}" data-ng-if="::wfs" role="menuitem">
        <a href="" data-ng-click="showWFSFilter()">
          <span translate="">filter</span>
        </a>
      </tab>

      <tab
        heading="{{'process' | translate}}"
        data-ng-if="process && process.length == 1"
        role="menuitem"
      >
        <div class="btn-link dropdown-toggle" data-toggle="dropdown">
          <span translate="">process</span>&nbsp;
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="p in process" role="menuitem">
            <a href="" data-ng-click="showWPS(p)">{{p.desc || p.name}}</a>
          </li>
        </ul>
      </tab>
    </tabset>
  </div>
</div>
<div ng-if="::layer.get('loading')">
  {{::layer.get('label')}}
  <span class="pull-right fa fa-spin fa-spinner"></span>
</div>
