<ul class="list-group">
  <li gn-layermanager-item="layer" ng-repeat="layer in (layers | gnReverse | filter:layerFilterFn)"
      class="list-group-item"
      data-ng-class="{'gn-layer-outofrange': !((layer.getMaxResolution() >= map.getView().getResolution()) && (layer.getMinResolution() <= map.getView().getResolution()))}">
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item list-group-item-warning"
      data-ng-repeat="l in failedLayers">
    <h4 class="list-group-item-heading">
      <i class="fa fa-warning text-warning"></i>
      &nbsp;
      {{l.name}}

      <a class="pull-right gn-close-btn"
         ng-click="removeFailed(l)">
        <i class="fa fa-times"/>
      </a>
    </h4>
    <p class="list-group-item-text">
      <em ng-bind-html="l.msg"></em>
    </p>
  </li>
</ul>
