<ul class="list-group">
  <li ng-repeat="layer in (layers | gnReverse | filter:layerFilterFn)" class="list-group-item">
    <span class="badge fa fa-cog"></span>

    <label for="checkbox">{{layer.label}}</label>
    <input id="checkbox" type="checkbox" ng-model="layer.visible"  />
    <input id="range" type="range" min="0" max="1" step="0.05" ng-model="layer.opacity" />

    <div>
      <a href="#" class="fa fa-arrow-up" ng-if="!$first" ng-click="moveLayer(layer, 1)"></a>
      <i class="fa fa-arrow-up" ng-if="$first"></i>
      <a href="#" class="fa fa-arrow-down" ng-if="!$last" ng-click="moveLayer(layer, -1)"></a>
      <i class="fa fa-arrow-down" ng-if="$last"></i>
    </div>

    <button type="button" ng-click="removeLayerFromMap(layer)" class="btn btn-primary btn-xs">&times;</button>
  </li>
</ul>
