<?xml version="1.0" encoding="UTF-8"?><strings>
<setting label="System configuration" name="system"/>
<setting label="Language detection" name="autodetect"/>
<setting label="Włącz wykrywanie języka w wyszukiwaniu" name="system/autodetect/enable">
			If set, the search language is automatically detected. Note that this doesn't work very well for short search terms.
		</setting>
<setting label="Automatyczne poprawki" name="autofixing"/>
<setting label="Włącz" name="system/autofixing/enable">
			Jeśli włączone GeoNetwork automatycznie dokonuje korekt przy zapisie metadanych.
		</setting>
<setting label="Aktywne hyperlinki" name="clickablehyperlinks"/>
<setting label="Włącz" name="system/clickablehyperlinks/enable">
			Jeśli ustawione GeoNetwork uaktywni hyperlinki w metadanych.
		</setting>
<setting label="Profil CSW ISO" name="csw"/>
<setting label="Dane kontaktowe" name="system/csw/contactId"/>
<setting label="Włącz" name="system/csw/enable"/>
<setting label="Wprowadzone metadane są dostępne publicznie" name="system/csw/metadataPublic"/>
<setting label="Usługa pobierania" name="downloadservice"/>
<setting label="Usługa pobierania" name="system/downloadservice"/>
<setting label="Linki metadanych bez zmieniania" name="system/downloadservice/leave">
				Wybór tej opcji oznacza, że GeoNetwork obsługiwać będzie pobieranie plików.
		</setting>
<setting label="Użyj GeoNetwork simple file download service (resources.get)" name="system/downloadservice/simple">
				Jeśli protokół jest typu 'Proste pobieranie danych' użytkownik może pobrać dane z Geonetwork bez dodatkowych działań.
		</setting>
<setting label="Użyj GeoNetwork disclaimer and constraints service (file.disclaimer)" name="system/downloadservice/withdisclaimer">
				Jeśli protokół jest typu 'Data for download' użytkownik może pobrać dane z Geonetwork po zaakceptowaniu warunków korzystania z usuługi. Zasób jest spakowany jako paczka zip z opisem ograniczeń i zawartością rekordu metadanych (plik MEF).
		</setting>
<setting label="Zwrotny kontakt" name="feedback"/>
<setting label="EMail" name="system/feedback/email">
			 Adres email  administratora.
		</setting>
<setting label="SMTP Host" name="system/feedback/mailServer/host">
			SMTP host oraz port używany do wysyłania email-i
			do użytkowników GeoNetwork kiedy zasób zostanie pobrany.
		</setting>
<setting label="SMTP Port" name="system/feedback/mailServer/port"/>
<setting name="system/feedback/mailServer/ssl" label="Use SSL"/>
<setting name="system/feedback/mailServer/username" label="User name"/>
<setting name="system/feedback/mailServer/password" label="Password"/>
<setting label="Zbieranie (Harvesting)" name="harvester"/>
<setting label="Pozwól na edycję zebranych danych" name="system/harvester/enableEditing"/>
<setting label="Metadata / ISO19139 / Nil reason attribute with held" name="hidewithheldelements"/>
<setting label="Hide Withheld Elements" name="system/hidewithheldelements/enable"/>
<setting label="Keep Marked Element" name="system/hidewithheldelements/keepMarkedElement"/>
<indexoptimizer>Lucene Index Optimizer</indexoptimizer>
<at>Uruchom o</at>
<atSpec>( godzina : minuta np.: 23:15 )</atSpec>
<interval>Uruchom ponownie co:</interval>
<hourintervals>
<hour label="1 hour (not recommended)">1</hour>
<hour label="3 hours">3</hour>
<hour label="6 hours">6</hour>
<hour label="12 hours">12</hour>
<hour label="1 day">24</hour>
<hour label="2 days">48</hour>
<hour label="3 days">72</hour>
<hour label="4 days">96</hour>
</hourintervals>
<hours>
<hour label="0">0</hour>
<hour label="1">1</hour>
<hour label="2">2</hour>
<hour label="3">3</hour>
<hour label="4">4</hour>
<hour label="5">5</hour>
<hour label="6">6</hour>
<hour label="7">7</hour>
<hour label="8">8</hour>
<hour label="9">9</hour>
<hour label="10">10</hour>
<hour label="11">11</hour>
<hour label="12">12</hour>
<hour label="13">13</hour>
<hour label="14">14</hour>
<hour label="15">15</hour>
<hour label="16">16</hour>
<hour label="17">17</hour>
<hour label="18">18</hour>
<hour label="19">19</hour>
<hour label="20">20</hour>
<hour label="21">21</hour>
<hour label="22">22</hour>
<hour label="23">23</hour>
</hours>
<minutes>
<minute label="0">0</minute>
<minute label="15">15</minute>
<minute label="30">30</minute>
<minute label="45">45</minute>
</minutes>
<setting label="Lucene Index Optimizer" name="indexoptimizer"/>
<setting label="Hour" name="system/indexoptimizer/at/hour"/>
<setting label="Sec" name="system/indexoptimizer/at/sec"/>
<setting label="Minutes" name="system/indexoptimizer/at/min"/>
<setting label="Włącz" name="system/indexoptimizer/enable"/>
<setting label="Uruchom ponownie co:" name="system/indexoptimizer/interval"/>
<setting label="Day" name="system/indexoptimizer/interval/day"/>
<setting label="Hour" name="system/indexoptimizer/interval/hour"/>
<setting label="Min" name="system/indexoptimizer/interval/min"/>
<setting label="INSPIRE" name="inspire"/>
<setting label="Włącz" name="system/inspire/enable"/>
<setting label="Aktywuj panel wyszukiwania" name="system/inspire/enableSearchPanel"/>
<setting label="Intranet" name="intranet"/>
<setting label="Sieć" name="system/intranet/netmask"/>
<setting label="Maska sieci" name="system/intranet/network">
			Sieć oraz Maska sieci są używane do identyfikowania
			wewnętrznych połaczeń do GeoNetwork (grupa intranet).
		</setting>
<setting label="Rating lokalny" name="localrating"/>
<setting label="Włącz" name="system/localrating/enable">
			Jeśli ustawione GeoNetwork określi rating dla metadanych tylko z tego węzła (nie jest dystrybuowane między innymi węzłami GeoNetwork).
		</setting>
<setting label="Widoki metadanych" name="metadata"/>
<setting label="Widok domyślny" name="system/metadata/defaultView"/>
<setting label="Widok INSPIRE" name="system/metadata/enableInspireView"/>
<setting label="Widok ISO" name="system/metadata/enableIsoView"/>
<setting label="Widok podstawowy" name="system/metadata/enableSimpleView"/>
<setting label="Widok XML" name="system/metadata/enableXmlView"/>
<setting label="Uprawnienia do metadanych" name="metadataprivs"/>
<setting label="Określ uprawnienia wyłącznie dla grup" name="system/metadataprivs/usergrouponly"/>
<setting label="OAI Provider" name="oai"/>
<setting label="Rozmiar pamięci podręcznej" name="system/oai/cachesize">
			Liczba OAI resultSets przechowywanych w Cache.
		</setting>
<setting label="Wyszukiwanie danych" name="system/oai/mdmode">
			Wpływa na zachowanie OAI kiedy podano parametery z lub dopóki.
			Jeśli ustawiony zakres czasowy przeszukiwany jest zakres czasowy podany w metadanych.
			Jeśli ustawiona data modyfikacji przeszukiwana jest data mdyfikacji metadanych.
			
			Uwaga: zrestartuj GeoNetwork aby uaktywnić zmiany.
		</setting>
<datesearchopt>
<dsopt label="temporal extent">1</dsopt>
<dsopt label="modification date">2</dsopt>
</datesearchopt>
<setting label="Czas oczekiwania na wznowienie" name="system/oai/tokentimeout">
			Liczba sekund, gdy OAI resultset utrzymuje cache i może być przeszukiwany przy użyciu OAI resumptionToken
			
			Uwaga: zrestartuj GeoNetwork aby uaktywnić zmiany.
		</setting>
<setting label="Proxy" name="proxy"/>
<setting label="Host" name="system/proxy/host">
			Jeśli włączone GeoNetwork używa podanych  parameterów proxy przy dostępie do zdalnych węzłów (np. przy zbieraniu danych -harvesting).
		</setting>
<setting label="Password" name="system/proxy/password"/>
<setting label="Port" name="system/proxy/port"/>
<setting label="Użyj" name="system/proxy/use"/>
<setting label="Nazwa użytkownika" name="system/proxy/username"/>
<setting label="Usunięte metadane" name="removedMetadata"/>
<setting label="Katalog" name="system/removedMetadata/dir">
			Katalog używany do składowania metadanych (w formacie MEF ) kiedy są usuwane.
		</setting>
    <setting name="system/requestedLanguage/ignorechars" label="Characters to ignore during indexing"/>
<requestedlanguageonly>Search only in requested language</requestedlanguageonly>
<requestedlanguage_offonly>All documents in all languages (No
                preferences)</requestedlanguage_offonly>
<requestedlanguageprefer_locale>Prefer documents with translations requested
                language</requestedlanguageprefer_locale>
<requestedlanguageprefer_docLocale>Prefer documents whose language is the requested
                language</requestedlanguageprefer_docLocale>
<requestedlanguage_localeonly>Translations in requested
                language</requestedlanguage_localeonly>
<requestedlanguage_docLocaleonly>Document language is the requested
                language</requestedlanguage_docLocaleonly>
<requestedlanguage_prefer_ui_locale>Prefer documents having translations in the UI language</requestedlanguage_prefer_ui_locale>
<requestedlanguage_only_ui_locale>Only documents having translations in the UI language</requestedlanguage_only_ui_locale>
<requestedlanguage_prefer_ui_docLocale>Prefer documents having the same language as the UI language</requestedlanguage_prefer_ui_docLocale>
<requestedlanguage_only_ui_docLocale>Only documents having the same language as the UI language</requestedlanguage_only_ui_docLocale>


    <setting label="Search &amp; language" name="requestedLanguage"/>
<setting label="Search only in requested language" name="system/requestedLanguage/only"/>
<setting label="Wyniki wyszukiwania w zadanym języku pokaż na wierzchu" name="system/requestedLanguage/sorted"/>
<setting label="" name="system/requestedLanguage/ignored"/>
<setting label="Statystyki wyszukiwania" name="searchStats"/>
<setting label="Włącz" name="system/searchStats/enable">
			Jeśli ustawione będą zbierane i zapisywane statystki wyszukiwania.
		</setting>
<setting label="Metadata Search Results" name="selectionmanager"/>
<setting label="Max.liczba wybranych rekordów" name="system/selectionmanager/maxrecords"/>
<setting label="Catalog server" name="server"/>
<setting label="Serwer" name="system/server"/>
<setting label="Host" name="system/server/host">
			Server host i port są używane do utworzenia URLs do
			serwera GeoNetwork. np. podczas edycji metadanych oraz odpowiedzi na GetCapabilities przy żądaniu CS/W.
			
			Uwaga: użyj narzędzia GAST do wprowadzenia tych informacji w metadanych.
		</setting>
<setting label="Port" name="system/server/port"/>
<setting label="Preferred Protokół" name="system/server/protocol"/>
<setting label="Secure Port" name="system/server/securePort"/>
<setting label="Shibboleth" name="shib"/>
<setting label="Mapowanie atrybutów Shibboleth" name="system/shib/attrib"/>
<setting label="Default group" name="system/shib/defaultGroup"/>
<setting label="Ścieżka" name="system/shib/path"/>
<setting label="EMail" name="system/shib/email"/>
<setting label="Nazwa użytkownika" name="system/shib/username"/>
<setting label="Nazwisko" name="system/shib/surname"/>
<setting label="Imię" name="system/shib/firstname"/>
<setting label="Profile" name="system/shib/profile"/>
<setting label="Włącz" name="system/shib/use"/>
<setting label="Strona" name="site"/>
<setting label="Nazwa" name="system/site/name">
			Używane do identyfikacji instalacji.
		</setting>
<setting label="Organizacja" name="system/site/organization"/>
<setting label="Strona" name="system/site/siteId">
			Unikalny identyfikator katalogu.
			Po zmianie identyfikatora strony, użytkownik powinien zaktualizować indeks i logo
			w panelu administratora.
		</setting>
<recommendedThreads>Zalecane</recommendedThreads>
<reasonForOne>Baza danych nieprzetestowana lub niewspierana</reasonForOne>
<reasonForMore>Na podstawie ilości procesorów</reasonForMore>
<setting label="Indexing" name="threadedindexing"/>
<setting label="Liczba wątków" name="system/threadedindexing/maxthreads"/>
<setting label="automatyczna rejestracja użytkowników" name="userSelfRegistration"/>
<setting label="Włącz" name="system/userSelfRegistration/enable">
			Jeśli ustwiony użytkownicy będą mogli sami się rejestrować (są oni przypisywani do grupy GUEST). Zwrotny email na podstawie podanego kontaktu zwrotnego.
			
		</setting>
<setting label="XLink Resolver" name="xlinkResolver"/>
<setting label="Włącz" name="system/xlinkResolver/enable">
			Jeśli ustawione, będą rozwijane XLink-i do fragmentów rekordów metadanych.
		</setting>
<setting label="Serwer Z39.50" name="z3950"/>
<setting label="Włącz" name="system/z3950/enable">
			Jeśli ustawione to przy starcie GeoNetwork uruchamia komponent Z39.50 .
			(ISO23950).
			
			Uwaga: zrestartuj GeoNetwork aby uaktywnić zmiany.
		</setting>
<setting label="Port" name="system/z3950/port">
			Zmień port nasłuchu Z39.50.
			
			Uwaga: zzrestartujuj GeoNetwork aby uaktywnić zmiany.
		</setting>
<setting name="system/site/siteId">Strona</setting>
<setting name="system/platform/version">Wersja:</setting>
<setting name="system/platform/subVersion">Pod-wersja:</setting>
<setting label="Subversion repository identifier" name="system/site/svnUuid"/>
<multilingual>Ustawienia wielu języków</multilingual>
<autoDetectEnable>Włącz wykrywanie języka w wyszukiwaniu</autoDetectEnable>
<csw>Profil CSW ISO</csw>
<contactId>Dane kontaktowe</contactId>
<title>Tytuł</title>
<abstract>Streszczenie</abstract>
<fees>Opłaty</fees>
<accessConstraints>Ograniczenia dostępu</accessConstraints>
<cswMetadataPublic>Wprowadzone metadane są dostępne publicznie</cswMetadataPublic>
<dir>Katalog</dir>
<authentication>Autentykacja</authentication>
<otherlogins>Zezwól innym użytkownikom na logowanie się z</otherlogins>
<shib>Shibboleth</shib>
<metadataEnableInspireSearch>Aktywuj panel wyszukiwania</metadataEnableInspireSearch>
<metadataViews>Widoki metadanych</metadataViews>
<metadataEnableSimpleView>Aktywuj podstawowy widok</metadataEnableSimpleView>
<metadataEnableIsoView>Aktywuj widok ISO</metadataEnableIsoView>
<metadataEnableInspireView>Aktywuj widok INSPIRE</metadataEnableInspireView>
<metadataEnableXmlView>Aktywuj widok XML</metadataEnableXmlView>
<metadataDefaultView>Widok domyślny</metadataDefaultView>
<metadataSimpleView>Widok podstawowy</metadataSimpleView>
<metadataIsoView>Widok ISO</metadataIsoView>
<metadataInspireView>Widok INSPIRE</metadataInspireView>
<metadataXmlView>Widok XML</metadataXmlView>
<metadataAdvancedView>Widok zaawansowany</metadataAdvancedView>
<save>Zapisz</save>
<refresh>Odśwież</refresh>
<tips>
<tip id="csw.enable">
			Uaktywnia CSW ISO Profil. Pozwala zbierać dane z innyc katalogów (harvesting).
			<br/>
			<b>Uwaga:</b> zrestartuj GeoNetwork aby uaktywnić zmiany.
		</tip>
<tip id="csw.contactId">
			Skonfiguruj CSW ISO Profil kontakt dla operacji for GetCapabilities.
		</tip>
<tip id="csw.title">Tytuł</tip>
<tip id="csw.abstract">Streszczenie</tip>
<tip id="csw.fees">Opłaty</tip>
<tip id="csw.accessConstraints">Ograniczenia dostępu</tip>
</tips>
<data.dataDir>Katalog danych:</data.dataDir>
<data.resources>Resources directory:</data.resources>
<data.configDir>Configuration directory:</data.configDir>
<data.schemaPluginsDir>Schema plugin directory:</data.schemaPluginsDir>
<data.subversionPath>Subversion directory:</data.subversionPath>
<data.codeListDir>Thesaurus directory:</data.codeListDir>
<xslt.factory>XSLT factory:</xslt.factory>
<java.vm.name>JVM:</java.vm.name>
<java.vm.vendor>JVM dostawca:</java.vm.vendor>
<java.version>JVM wersja:</java.version>
<os.arch>System - architektura:</os.arch>
<os.name>System - nazwa:</os.name>
<mem.total>Pamięć całkowita:</mem.total>
<mem.free>Całkowita wolna pamięć:</mem.free>
<index.size.lucene>Lucene index - rozmiar (ko):</index.size.lucene>
<index.size>Całkowity rozmiar indeksu (ko):</index.size>
<index.path>Katalog indeksu:</index.path>
<index>Lucene index</index>
<main>System </main>
<catalogue>Informacje o katalogu</catalogue>
<database>Informacje o bazie danych</database>
<index.lucene.config>Lucene:</index.lucene.config>
<db.url>Baza danych:</db.url>
<db.openattempt>Status bazy danych:</db.openattempt>
<db.numactive>Aktywne połączenia z bazą danych:</db.numactive>
<db.numidle>Dostępne połączenia z bazą danych:</db.numidle>
<db.maxactive>Maksymalna liczba połączeń z bazą danych:</db.maxactive>
<db.statserror>Statystyki bazy danych:</db.statserror>
<sequentialExecution>ThreadPool Sequential Execution Mode: </sequentialExecution>
</strings>
