<div class="col-lg-12" data-ng-hide="!processing && !processReport">
  <div class="panel panel-default"
       data-ng-class="processReportWarning ? 'panel-warning' : 'panel-success'">
    <div class="panel-heading">
      <span data-translate="">processReportFor</span> {{processReport['@process'] | translate}}<br/>
      <p> {{numberOfRecordsProcessed}} <span data-translate="">recordsProcessed</span>
        ({{processReport['@startDate']}} <span data-ng-show="processReport['@running'] == 'true'"
          >...</span>
          <span data-ng-show="processReport['@running'] != 'true'"> -
            {{processReport['@reportDate']}}</span>) </p>
    </div>
    <div class="panel-body">
      <div class="progress progress-striped active"
           data-ng-show="processReport['@running'] == 'true'">
        <div class="progress-bar" style="width: 100%"/>
      </div>

      <table class="table table-striped">
        <tr>
          <td>{{('processReportTotalRecords') | translate}}</td>
          <td class="text-right">{{processReport['@total']}}</td>
        </tr>
        <tr>
          <td>{{('processReportChangedRecords') | translate}}</td>
          <td class="text-right">{{processReport.changed.length}}

            <ul class="text-left" data-ng-show="processReport.changed.length > 0">
              <li class="animate-repeat" ng-repeat="changed in processReport.changed">
                {{changed['@title']}} ({{changed['@uuid']}})<br/>
                Field: {{'batchreplacer-el-'+changed.change.fieldid | translate}}<br/>
                Original value: {{changed.change.originalval}}<br/>
                Changed value: {{changed.change.changedval}}<br/>
              </li>
            </ul>

          </td>
        </tr>
        <tr>
          <td>{{('processReportNotChangedRecords') | translate}}</td>
          <td class="text-right">{{processReport.notChanged.length}}

            <ul class="text-left" data-ng-show="processReport.notChanged.length > 0">
              <li class="animate-repeat" ng-repeat="notchanged in processReport.notChanged">
                {{notchanged['@title']}} ({{notchanged['@uuid']}})

              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>{{('processReportNoProcessFound') | translate}}</td>
          <td class="text-right">{{processReport['noProcessFound'].length}}

            <ul class="text-left" data-ng-show="processReport.noProcessFound.length > 0">
              <li class="animate-repeat" ng-repeat="noProcessFound in processReport.noProcessFound">
                {{noProcessFound['@title']}} ({{noProcessFound['@uuid']}})

              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>{{('processReportNotOwner') | translate}}</td>
          <td class="text-right">{{processReport['notOwner'].length}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>