<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">catalogueAdminTools</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-4">
            <button
              type="button"
              class="btn btn-danger btn-lg btn-block"
              autofocus=""
              data-gn-click-and-spin="rebuildIndex(false)"
              data-translate=""
            >
              rebuildIndex
            </button>

            <button
              type="button"
              class="btn btn-danger btn-lg btn-block"
              data-gn-click-and-spin="rebuildIndex(true)"
              data-translate=""
            >
              dropIndexAndRebuild
            </button>

            <div data-ng-show="isIndexing">
              <h4 class="text-warning" data-translate="">indexingInProgress</h4>

              <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 100%"></div>
              </div>

              <p data-ng-show="numberOfIndexedRecords > 0">
                {{numberOfIndexedRecords}} <span data-translate="">recordsIndexed</span>
              </p>
            </div>
          </div>
          <div class="col-lg-8" data-translate="">rebuildIndexHelp</div>
        </div>

        <hr />

        <div class="row">
          <div class="col-lg-4">
            <button
              type="button"
              class="btn btn-danger btn-lg btn-block"
              data-gn-click-and-spin="rebuildIndex(true, 'features')"
              data-translate=""
            >
              dropFeaturesIndexAndRebuild
            </button>
          </div>
          <div class="col-lg-8" data-translate="">dropFeaturesIndexAndRebuild-help</div>
        </div>

        <hr />
        <div class="row">
          <div class="col-lg-4">
            <button
              type="button"
              class="btn btn-primary btn-lg btn-block"
              data-gn-click-and-spin="clearFormatterCache()"
              data-translate=""
            >
              formatterClearCache
            </button>
          </div>
          <div class="col-lg-8" data-translate="">formatterCacheHelp</div>
        </div>

        <hr />
        <div class="row">
          <div class="col-lg-4">
            <button
              type="button"
              class="btn btn-default btn-lg btn-block"
              data-gn-click-and-spin="clearJsCache()"
              data-translate=""
            >
              clearJsCache
            </button>
          </div>
          <div class="col-lg-8" data-translate="">clearJsCacheHelp</div>
        </div>

        <br />

        <div class="row">
          <div class="col-lg-4">
            <button
              type="button"
              class="btn btn-default btn-lg btn-block"
              data-gn-click-and-spin="translationPackClearCache()"
              data-translate=""
            >
              translationPackClearCache
            </button>
          </div>
          <div class="col-lg-8" data-translate="">translationPackClearCache-help</div>
        </div>

        <hr ng-if="::isBackupArchiveEnabled" />
        <br ng-if="::isBackupArchiveEnabled" />
        <div ng-if="::isBackupArchiveEnabled" class="row">
          <div class="col-lg-4">
            <button
              type="button"
              class="btn btn-success btn-lg btn-block"
              data-gn-click-and-spin="triggerBackupArchive()"
              data-translate=""
            >
              triggerBackupArchive
            </button>
          </div>
          <div class="col-lg-8" data-translate="">triggerBackupArchiveHelp</div>
        </div>
        <br ng-if="::isBackupArchiveEnabled" />
        <div ng-if="::isBackupArchiveEnabled" class="row">
          <div class="col-lg-4">
            <a
              href="../api/records/backups/latest"
              class="btn btn-success btn-lg btn-block"
            >
              <span translate="">downloadBackupArchive</span>
            </a>
          </div>
          <div class="col-lg-8" data-translate="">downloadBackupArchiveHelp</div>
        </div>
        <hr />

        <br />
        <div class="row">
          <div class="col-lg-4">
            <a
              class="btn btn-default btn-lg btn-block"
              href="../../doc/api"
              data-translate=""
              >APITest</a
            >
          </div>
          <div class="col-lg-8" data-translate="">APIHelp</div>
        </div>
      </div>
    </div>
  </div>
</div>
