<!--
  ~ Copyright (C) 2001-2016 Food and Agriculture Organization of the
  ~ United Nations (FAO-UN), United Nations World Food Programme (WFP)
  ~ and United Nations Environment Programme (UNEP)
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or (at
  ~ your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but
  ~ WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
  ~
  ~ Contact: Jeroen Ticheler - FAO - Viale delle Terme di Caracalla 2,
  ~ Rome - Italy. email: geonetwork@osgeo.org
  -->

<beans xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       default-lazy-init="true"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
	    http://www.springframework.org/schema/mvc
	    http://www.springframework.org/schema/mvc/spring-mvc.xsd
	    http://www.springframework.org/schema/security
	    http://www.springframework.org/schema/security/spring-security.xsd">

  <sec:global-method-security pre-post-annotations="enabled"/>

  <context:property-placeholder location="${app.properties},file://#{systemEnvironment['geonetwork_dir']}/config/app.properties"
                                ignore-unresolvable="true"
                                ignore-resource-not-found="true"
                                file-encoding="UTF-8"/>

  <context:component-scan base-package="org.fao.geonet"/>

  <bean id="configPath" class="java.lang.String">
    <constructor-arg index="0" value="/WEB-INF/"/>
  </bean>

  <bean class="org.springframework.web.servlet.view.xslt.XsltViewResolver">
    <property name="prefix" value="/xsl/"/>
    <property name="suffix" value=".xsl"/>
  </bean>

  <bean id="localeResolver"
        class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
    <property name="defaultLocale" value="\${language.default}"/>
  </bean>

  <bean id="localeChangeInterceptor"
        class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
    <property name="paramName" value="\${language.default}"/>
  </bean>
  <bean id="urlLocaleChangeInterceptor" class="org.fao.geonet.i18n.UrlLocaleChangeInterceptor">
    <property name="urlPosition" value="2"/>
  </bean>

  <bean id="readWriteMvcInterceptor" class="jeeves.config.springutil.ReadOnlyMvcInterceptor"/>
  <bean id="apiMvcInterceptor" class="org.fao.geonet.api.AllRequestsInterceptor">
    <property name="botRegexpFilter" value="\${bot.regexpFilter}"/>
  </bean>

  <mvc:interceptors>
    <ref bean="localeChangeInterceptor"/>
    <ref bean="urlLocaleChangeInterceptor"/>
    <ref bean="readWriteMvcInterceptor"/>
    <ref bean="apiMvcInterceptor"/>
  </mvc:interceptors>

  <bean id="cnManager"
        class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
    <property name="favorPathExtension" value="false"/>
    <property name="ignoreAcceptHeader" value="false"/>
    <property name="favorParameter" value="true"/>
    <property name="parameterName" value="_content_type"/>
    <property name="defaultContentType" value="application/xml"/>
    <property name="useJaf" value="false"/>

    <property name="mediaTypes">
      <map>
        <entry key="html" value="text/html"/>
        <entry key="json" value="application/json"/>
        <entry key="xml" value="application/xml"/>
      </map>
    </property>
  </bean>

  <!-- Static resources -->
  <mvc:resources mapping="/catalog/**" location="/catalog/,classpath:/META-INF/catalog/" order="0"/>
  <mvc:resources mapping="/images/**" location="/images/" order="0"/>
  <mvc:resources mapping="/map/**" location="/map/" order="0"/>
  <mvc:resources mapping="/xml/**" location="/xml/" order="0"/>
  <mvc:resources mapping="/doc/**" location="/doc/" order="0"/>

  <mvc:annotation-driven content-negotiation-manager="cnManager">
    <mvc:message-converters>
      <bean class="org.fao.geonet.api.DOMElementMessageConverter"/>
      <bean class = "org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
          <list>
            <value>text/plain</value>
            <value>text/html</value>
            <value>application/json</value>
          </list>
        </property>
      </bean>

      <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="objectMapper">
          <bean class="org.fao.geonet.util.spring.HibernateAwareObjectMapper" />
        </property>
      </bean>
    </mvc:message-converters>
    <mvc:argument-resolvers>
      <bean class="org.springframework.data.web.PageableHandlerMethodArgumentResolver">
        <property name="maxPageSize"
                  value="\${api.params.maxPageSize}"/>
      </bean>
      <bean class="org.springframework.data.web.SortHandlerMethodArgumentResolver"/>
    </mvc:argument-resolvers>
  </mvc:annotation-driven>
</beans>
