<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
		http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
	    http://www.springframework.org/schema/mvc 
	    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">


    <context:component-scan base-package="org.fao.geonet" />

    <bean id="configPath" class="java.lang.String">
        <constructor-arg index="0" value="/WEB-INF/" />
    </bean>

    <bean class="org.springframework.web.servlet.view.xslt.XsltViewResolver">
		<property name="prefix" value="/xsl/" />
		<property name="suffix" value=".xsl" />
	</bean>

	<bean id="localeResolver"
 		class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
 		<property name="defaultLocale" value="eng" />
 	</bean>
 
 	<bean id="localeChangeInterceptor"
 		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
 		<property name="paramName" value="language" />
 	</bean>
 	<bean id="urlLocaleChangeInterceptor" class="org.fao.geonet.i18n.UrlLocaleChangeInterceptor">
 		<property name="urlPosition" value="0" />
 	</bean>

    <bean id="readWriteMvcInterceptor" class="jeeves.config.springutil.ReadOnlyMvcInterceptor" />

 	<mvc:interceptors>
 		<ref bean="localeChangeInterceptor" />
 		<ref bean="urlLocaleChangeInterceptor" />
 		<ref bean="readWriteMvcInterceptor" />
 	</mvc:interceptors>

	  <bean id="cnManager"  
	    class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">  
		  <property name="favorPathExtension" value="false"/>  
		  <property name="ignoreAcceptHeader" value="false" /> 
		  <property name="favorParameter" value="true"/>
		  <property name="parameterName" value="_content_type"/>
		  <property name="defaultContentType" value="application/xml" />  
		  <property name="useJaf" value="false"/>  
		  
		  <property name="mediaTypes">  
		    <map>  
			   <entry key="html" value="text/html" />  
			   <entry key="json" value="application/json" />  
			   <entry key="xml" value="application/xml" />  
		    </map>  
		  </property>  
	 </bean>  
	  
	 <mvc:annotation-driven content-negotiation-manager="cnManager"/>  
</beans>