<!DOCTYPE html>

<html xml:lang="en-EN" xmlns="http://www.w3.org/1999/xhtml" lang="en-EN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="margin: 0">
    <div
      ng-app="gn_search_sextant"
      ng-controller="GnCatController"
      class="gn sxt-max-md"
      sxt-size="auto "
      ng-include="'../../catalog/views/sextant/templates/index.html'"
    ></div>
  </body>

  <script type="text/javascript">
    var sxtSettings = {
      langDetector: {
        fromHtmlTag: true,
        regexp: "^\/([a-z]+)\/",
        lang: "fre"
      },
      allowLogin: true,
      configWhat: "CERSAT",
      tabOverflow: {
        search: true
      },
      layerFilter: true,
      sortBy: ["-title", "changeDate", "relevance"],
      facetConfig: [
        {
          key: "platforms",
          labels: {
            eng: "Platform",
            fre: "Plateforme"
          }
        },
        {
          key: "instruments",
          labels: {
            eng: "Sensor",
            fre: "Instrument"
          }
        },
        {
          key: "cersat-processing-level",
          labels: {
            eng: "Level",
            fre: "Niveau de traitement"
          }
        },
        {
          key: "cersat-latency",
          labels: {
            eng: "Latency",
            fre: "Latence"
          }
        },
        {
          key: "cersat-parameter",
          labels: {
            eng: "Parameter",
            fre: "Paramètre"
          }
        },
        {
          key: "theme-GCMDparameter",
          labels: {
            eng: "GCMD Parameter",
            fre: "Paramètre GCMD"
          }
        },
        {
          key: "geoDescription",
          labels: {
            eng: "geoDescription",
            fre: "geoDescription"
          }
        }
      ]
    };
  </script>

  <script src="http://localhost:8080/geonetwork/static/lib.js"></script>
  <script src="http://localhost:8080/geonetwork/static/gn_search_sextant.js"></script>
  <!--
<script src="https://sextant-val.ifremer.fr/geonetwork/static/lib.js"></script>
<script src="https://sextant-val.ifremer.fr/geonetwork/static/gn_search_sextant.js"></script>
--></html>
