<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <style type="text/css">
      .limitdisplay-user {
        display: none;
      }
      .limitdisplay-user-10 {
        display: inline;
      }
      .limitdisplay-user-block-10 {
        display: block;
      }
    </style>
    <title>Voir / Trouver / Télécharger / DYNALIT - DYNALIT</title>
    <meta content="text/html; charset=utf-8" name="Content-Type" />
    <meta content="fr-FR" name="Content-language" />
    <meta content="Alexandre PERETJATKO(Alex-design.fr)" name="author" />
    <meta content="Dynalit" name="copyright" />
    <meta content="DYNALIT" name="description" />
    <meta
      content="IDG : Infrastructure de donné géraphiques,SDI : Spatial Data infrastructure,INSPIRE,opendata AMHA,SNO,SOERE,DYNALIT,dynamique littoral,trait de côdonné mesures,recherche observation observatoire,suivi géorphologique,national france,SOERE systè,morphodynamique,environnement côr,ILICO,plages cô sableuses falaises,vulnébilitéeine Loire Rhone Gironde,Mesnil-Val Ailly Puys Vaches Noires Socoa,Agon, Pointe de Gatseau, Pointe de La Coubre, Pointe d.Arç, Espiguette, Maguelone-Aresquiers, Merville-Franceville, Porsmilin, Pays de Monts, Bas-Champs, Baie de Somme Hyès, Guissé, Suscinio, Dunkerque Est, Biscarrosse, Truc Vert, Anglet, Ermitage (La Réion) Sillon de talbert "
      name="keywords"
    />
    <!--[if lt IE 9]>
      <meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1" />
    <![endif]-->
    <meta content="TRUE" name="MSSmartTagsPreventParsing" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://www.dynalit.fr/" rel="Home" title="DYNALIT front page" />
    <link href="https://www.dynalit.fr/" rel="Index" />
    <link
      href="https://www.dynalit.fr/"
      rel="Top"
      title="Voir / Trouver / Télécharger / DYNALIT - DYNALIT"
    />
    <link
      href="https://www.dynalit.fr/content/advancedsearch"
      rel="Search"
      title="Search DYNALIT"
    />
    <link
      href="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/images/favicon.ico"
      rel="Shortcut icon"
      type="image/x-icon"
    />
    <link href="https://www.dynalit.fr/ezinfo/copyright" rel="Copyright" />
    <link href="https://www.dynalit.fr/ezinfo/about" rel="Author" />
    <script type="text/javascript">
      (function () {
        var head = document.getElementsByTagName("head")[0];
        var printNode = document.createElement("link");
        printNode.rel = "Alternate";
        printNode.href =
          "/layout/set/print/Voir-Trouver-Telecharger" + document.location.search;
        printNode.media = "print";
        printNode.title = "Printable version";
        head.appendChild(printNode);
      })();
    </script>
    <link
      href="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/stylesheets/core.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.dynalit.fr/design/standard/stylesheets/debug.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.dynalit.fr/extension/ezwt/design/standard/stylesheets/websitetoolbar.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/stylesheets/bootstrap.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/stylesheets/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/stylesheets/camera.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/stylesheets/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/stylesheets/print.css"
      media="print"
      rel="stylesheet"
      type="text/css"
    />
    <!-- IE conditional comments; for bug fixes for different IE versions -->
    <!--[if IE 5]>
      <style type="text/css">
        @import url(/extension/alexdesign/design/alexdesign/stylesheets/browsers/ie5.css);
      </style>
    <![endif]-->
    <!--[if lte IE 7]>
      <style type="text/css">
        @import url(/extension/alexdesign/design/alexdesign/stylesheets/browsers/ie7lte.css);
      </style>
    <![endif]-->
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/jquery-3.1.0.min.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/js/jquery.mobile.customized.min.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/js/jquery.easing.1.3.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/js/camera.min.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/js/jquery.enllax.min.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/js/jquery.keyframes.min.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/js/jquery.slicknav.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/js/masonry.pkgd.min.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/js/jquery.prettyPhoto.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/js/bootstrap.min.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/toc.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/mes_fonctions.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/menu.js"
      type="text/javascript"
    ></script>
    <script
      charset="utf-8"
      src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/API_SEXTANT.js"
      type="text/javascript"
    ></script>
  </head>
  <!--[if lt IE 7]><body class="ie6"><![endif]-->
  <!--[if IE 7]>   <body class="ie7"><![endif]-->
  <!--[if IE 8]>   <body class="ie8"><![endif]-->
  <!--[if (gt IE 8)|!(IE)]><!-->
  <body>
    <!--<![endif]-->
    <div class="container-fluid" id="home" style="overflow: hidden">
      <a id="Top"> </a>
      <div class="ferme" id="c_menu" style="left: 0px">
        <div class="menu-icon" id="menu_button" onclick="openMenu()">
          <span> </span>
        </div>
        <div class="logo">
          <a href="https://www.dynalit.fr/">
            <img
              alt="DYNALIT"
              src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/images/logo-trans.png"
            />
          </a>
        </div>
        <div id="c_logos">
          <ul>
            <li class="">
              <a href="https://www.dynalit.fr/DYNALIT-en-Bref">
                <i class="fa fa-home"> </i>
                <span class="libelle"> DYNALIT en Bref </span>
              </a>
            </li>
            <li class="">
              <a href="https://www.dynalit.fr/La-carte-des-sites">
                <i class="fa fa-globe"> </i>
                <span class="libelle"> La carte des sites </span>
              </a>
            </li>
            <li class="">
              <a href="https://www.dynalit.fr/Mesures">
                <i class="fa fa-bar-chart"> </i>
                <span class="libelle"> Mesures </span>
              </a>
            </li>
            <li class="">
              <a href="https://www.dynalit.fr/Voir-Trouver-Telecharger">
                <i class="fa fa-database"> </i>
                <span class="libelle"> Voir / Trouver / Télécharger </span>
              </a>
            </li>
            <li class="">
              <a href="https://www.dynalit.fr/Publications">
                <i class="fa fa-book"> </i>
                <span class="libelle"> Publications </span>
              </a>
            </li>
            <li class="">
              <a href="https://www.dynalit.fr/Actualites">
                <i class="fa fa-newspaper-o"> </i>
                <span class="libelle"> Actualités </span>
              </a>
            </li>
            <li>
              <a href="https://www.dynalit.fr/Nous-contacter">
                <i class="fa fa-envelope"> </i>
                <span class="libelle"> Nous contacter </span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-search"> </i>
                <span class="libelle">
                  <form action="/content/search" role="search">
                    <input name="SubTreeArray[]" type="hidden" value="2" />
                    <div id="searchbox-inner">
                      <label class="hide" for="searchtext"> Search text: </label>
                      <input id="searchtext" name="SearchText" type="text" value="" />
                      <input
                        class="button"
                        id="searchbutton"
                        title="Recherche"
                        type="submit"
                        value="Recherche"
                      />
                    </div>
                  </form>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="float-break" id="header">
        <div id="usermenu">
          <div id="languages">
            <a
              href="https://www.dynalit.fr/switchlanguage/to/dynalit_uk/Voir-Trouver-Telecharger"
            >
              English
            </a>
          </div>
          <div id="links">
            <ul></ul>
          </div>
        </div>
      </div>
      <div id="toolbar"></div>
      <div class="row HeadPicture">
        <div class="bandeau col-xs-12">
          <div
            class="bandeau-parallax"
            data-enllax-ratio=".5"
            data-enllax-type="background"
            style="
              background: transparent
                url(https://www.dynalit.fr/var/site/storage/images/voir-trouver-telecharger/1220-15-fre-FR/Voir-Trouver-Telecharger_fullrubrique.png)
                no-repeat center center/cover;
            "
          ></div>
          <h1 class="bordures">
            <i class="fa fa-database"> </i>
            Voir / Trouver / Télécharger
          </h1>
          <p class="Credit"></p>
        </div>
      </div>
      <div class="breadcrumb">
        <div id="path">
          <ul id="breadcrumbs-one">
            <li>
              <a href="https://www.dynalit.fr/"> DYNALIT </a>
            </li>
            <li class="current sticky">
              <div class="stickyanime">Voir / Trouver / Télécharger</div>
            </li>
          </ul>
        </div>
      </div>
      <script src="http://localhost:8080/geonetwork/static/lib.js"></script>
      <script src="http://localhost:8080/geonetwork/static/gn_search_sextant.js"></script>
      <section id="Voir-Trouver-Telecharger">
        <div class="row">
          <div class="masonry-container"></div>
        </div>
        <div>
          <div
            class="gn"
            ng-app="gn_search_sextant"
            ng-controller="GnCatController"
            ng-include="'../../sextant/views/sextant/templates/index.html'"
            sxt-size="auto"
          ></div>
        </div>
      </section>
      <div class="row">
        <div class="col-xs-12">
          <div id="footer">
            <address></address>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                  <li id="login">
                    <a href="https://www.dynalit.fr/user/login" title="Authentification">
                      Authentification
                    </a>
                  </li>
                  <li>
                    <div class="sponsor">
                      <a href="http://www.cnrs.fr" target="_blanck">
                        <div class="icone">
                          <img
                            alt="Centre National de la Recherche Scientifique"
                            class="img-responsive"
                            src="https://www.dynalit.fr/var/site/storage/images/cnrs/1303-2-fre-FR/CNRS_icone.png"
                            style="border: 0px"
                            title="Centre National de la Recherche Scientifique"
                          />
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="sponsor">
                      <a href="https://www-iuem.univ-brest.fr" target="_blanck">
                        <div class="icone">
                          <img
                            alt="IUEM"
                            class="img-responsive"
                            src="https://www.dynalit.fr/var/site/storage/images/iuem/1860-3-fre-FR/IUEM_icone.png"
                            style="border: 0px"
                            title="IUEM"
                          />
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="sponsor">
                      <a
                        href="http://www.oasu.u-bordeaux.fr/index.php/present2015.html"
                        target="_blanck"
                      >
                        <div class="icone">
                          <img
                            alt="OASU"
                            class="img-responsive"
                            src="https://www.dynalit.fr/var/site/storage/images/oasu/2824-8-fre-FR/OASU_icone.jpg"
                            style="border: 0px"
                            title="OASU"
                          />
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="sponsor">
                      <a href="http://www.pytheas.univ-amu.fr/" target="_blanck">
                        <div class="icone">
                          <img
                            alt="Institut Pythéas"
                            class="img-responsive"
                            src="https://www.dynalit.fr/var/site/storage/images/institut-pytheas/3518-2-fre-FR/Institut-Pytheas_icone.png"
                            style="border: 0px"
                            title="Institut Pythéas"
                          />
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="sponsor">
                      <a href="http://observatoire.univ-lyon1.fr/" target="_blanck">
                        <div class="icone">
                          <img
                            alt="Observatoire de Lyon"
                            class="img-responsive"
                            src="https://www.dynalit.fr/var/site/storage/images/observatoire-de-lyon/3522-2-fre-FR/Observatoire-de-Lyon_icone.png"
                            style="border: 0px"
                            title="Observatoire de Lyon"
                          />
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="sponsor">
                      <a href="https://oreme.org/" target="_blanck">
                        <div class="icone">
                          <img
                            alt="OREME"
                            class="img-responsive"
                            src="https://www.dynalit.fr/var/site/storage/images/oreme/3526-2-fre-FR/OREME_icone.png"
                            style="border: 0px"
                            title="OREME"
                          />
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="sponsor">
                      <a href="http://www.osuna.univ-nantes.fr/" target="_blanck">
                        <div class="icone">
                          <img
                            alt="OSUNA"
                            class="img-responsive"
                            src="https://www.dynalit.fr/var/site/storage/images/osuna/3530-2-fre-FR/OSUNA_icone.png"
                            style="border: 0px"
                            title="OSUNA"
                          />
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="sponsor">
                      <a href="http://www.obs-mip.fr/" target="_blanck">
                        <div class="icone">
                          <img
                            alt="OMP"
                            class="img-responsive"
                            src="https://www.dynalit.fr/var/site/storage/images/omp/3534-1-fre-FR/OMP_icone.jpg"
                            style="border: 0px"
                            title="OMP"
                          />
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="sponsor">
                      <a
                        href="http://osur.univ-reunion.fr/losu-reunion/"
                        target="_blanck"
                      >
                        <div class="icone">
                          <img
                            alt="OSU-Réunion"
                            class="img-responsive"
                            src="https://www.dynalit.fr/var/site/storage/images/osu-reunion/3538-3-fre-FR/OSU-Reunion_icone.png"
                            style="border: 0px"
                            title="OSU-Réunion"
                          />
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="sponsor">
                      <a
                        href="http://www.ecceterra.upmc.fr/fr/index.html"
                        target="_blanck"
                      >
                        <div class="icone">
                          <img
                            alt="OSU Ecce Terra"
                            class="img-responsive"
                            src="https://www.dynalit.fr/var/site/storage/images/osu-ecce-terra/3582-1-fre-FR/OSU-Ecce-Terra_icone.png"
                            style="border: 0px"
                            title="OSU Ecce Terra"
                          />
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="sponsor">
                      <a href="https://osur.univ-rennes1.fr/" target="_blanck">
                        <div class="icone">
                          <img
                            alt="OSUR"
                            class="img-responsive"
                            src="https://www.dynalit.fr/var/site/storage/images/osur/3910-1-fre-FR/OSUR_icone.jpg"
                            style="border: 0px"
                            title="OSUR"
                          />
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="sponsor">
                      <a href="https://www.ir-ilico.fr/" target="_blanck">
                        <div class="icone">
                          <img
                            alt="IR-ILICO"
                            class="img-responsive"
                            src="https://www.dynalit.fr/var/site/storage/images/ir-ilico/4416-1-fre-FR/IR-ILICO_icone.png"
                            style="border: 0px"
                            title="IR-ILICO"
                          />
                        </div>
                      </a>
                    </div>
                  </li>
                  <li id="Mentions-legales">
                    <a
                      href="https://www.dynalit.fr/Mentions-legales"
                      title="Mentions légales"
                    >
                      Mentions légales
                    </a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <p class="navbar-text Signature">
                    Web site made by
                    <a
                      class="navbar-link"
                      href="http://www.alex-design.fr"
                      target="_blank"
                    >
                      www.alex-design.fr
                    </a>
                  </p>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <script
        charset="utf-8"
        src="https://www.dynalit.fr/extension/alexdesign/design/alexdesign/javascript/masonry.js"
        type="text/javascript"
      ></script>
      <!-- Piwik -->
      <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.www.dynalit.fr"]]);
        _paq.push(["trackPageView"]);
        _paq.push(["enableLinkTracking"]);
        (function () {
          var u = "//www-iuem.univ-brest.fr/piwik/";
          _paq.push(["setTrackerUrl", u + "piwik.php"]);
          _paq.push(["setSiteId", 48]);
          var d = document,
            g = d.createElement("script"),
            s = d.getElementsByTagName("script")[0];
          g.type = "text/javascript";
          g.async = true;
          g.defer = true;
          g.src = u + "piwik.js";
          s.parentNode.insertBefore(g, s);
        })();
      </script>
      <noscript>
        <p>
          <img
            alt=""
            src="//www-iuem.univ-brest.fr/piwik/piwik.php?idsite=48"
            style="border: 0"
          />
        </p>
      </noscript>
      <!-- End Piwik Code -->
    </div>
  </body>
</html>
