<!DOCTYPE html>
<html class="ltr" dir="ltr" lang="fr-FR">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="Language" content="FR" />
    <meta
      name="Publisher"
      content="Sextant - Infrastructure de données géographiques marines et littorales"
    />
    <meta
      name="description"
      content="Sextant - Infrastructure de données géographiques marines et littorales"
    />
    <meta name="keywords" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sextant - sextant6_layout</title>
    <!--
    <title>sextant6_layout - liferay.com
    </title>-->
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link
      href="http://sextant-test.ifremer.fr/sxt-sextant2-theme/images/favicon.ico"
      rel="Shortcut Icon"
    />
    <link
      href="http&#x3a;&#x2f;&#x2f;localhost&#x2f;web&#x2f;sextant&#x2f;geoportail&#x2f;sextant6_layout"
      rel="canonical"
    />
    <link
      href="http&#x3a;&#x2f;&#x2f;localhost&#x2f;en&#x2f;web&#x2f;sextant&#x2f;geoportail&#x2f;sextant6_layout"
      hreflang="en-US"
      rel="alternate"
    />
    <link
      href="http&#x3a;&#x2f;&#x2f;localhost&#x2f;es&#x2f;web&#x2f;sextant&#x2f;geoportail&#x2f;sextant6_layout"
      hreflang="es-ES"
      rel="alternate"
    />
    <link
      href="http&#x3a;&#x2f;&#x2f;localhost&#x2f;it&#x2f;web&#x2f;sextant&#x2f;geoportail&#x2f;sextant6_layout"
      hreflang="it-IT"
      rel="alternate"
    />
    <link
      href="http&#x3a;&#x2f;&#x2f;localhost&#x2f;nl&#x2f;web&#x2f;sextant&#x2f;geoportail&#x2f;sextant6_layout"
      hreflang="nl-NL"
      rel="alternate"
    />
    <link
      href="http&#x3a;&#x2f;&#x2f;localhost&#x2f;pt&#x2f;web&#x2f;sextant&#x2f;geoportail&#x2f;sextant6_layout"
      hreflang="pt-PT"
      rel="alternate"
    />
    <link
      href="&#x2f;html&#x2f;css&#x2f;main&#x2e;css&#x3f;browserId&#x3d;other&#x26;themeId&#x3d;classic_WAR_sxtsextant2theme&#x26;minifierType&#x3d;css&#x26;languageId&#x3d;fr_FR&#x26;b&#x3d;6101&#x26;t&#x3d;1434009879000"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/html/portlet/journal_content/css/main.css?browserId=other&amp;themeId=classic_WAR_sxtsextant2theme&amp;minifierType=css&amp;languageId=fr_FR&amp;b=6101&amp;t=1434011022000"
      rel="stylesheet"
      type="text/css"
    />
    <script type="text/javascript">
      /*
      <![CDATA[*/ var Liferay = {
        Browser: {
          acceptsGzip: function () {
            return true;
          },
          getMajorVersion: function () {
            return 43;
          },
          getRevision: function () {
            return "537.36";
          },
          getVersion: function () {
            return "43.0.2357.124";
          },
          isAir: function () {
            return false;
          },
          isChrome: function () {
            return true;
          },
          isFirefox: function () {
            return false;
          },
          isGecko: function () {
            return true;
          },
          isIe: function () {
            return false;
          },
          isIphone: function () {
            return false;
          },
          isLinux: function () {
            return true;
          },
          isMac: function () {
            return false;
          },
          isMobile: function () {
            return false;
          },
          isMozilla: function () {
            return false;
          },
          isOpera: function () {
            return false;
          },
          isRtf: function () {
            return true;
          },
          isSafari: function () {
            return true;
          },
          isSun: function () {
            return false;
          },
          isWap: function () {
            return false;
          },
          isWapXhtml: function () {
            return false;
          },
          isWebKit: function () {
            return true;
          },
          isWindows: function () {
            return false;
          },
          isWml: function () {
            return false;
          }
        },
        Data: {
          isCustomizationView: function () {
            return false;
          },
          notices: [null]
        },
        ThemeDisplay: {
          getCDNDynamicResourcesHost: function () {
            return "";
          },
          getCDNHost: function () {
            return "";
          },
          getCompanyId: function () {
            return "10131";
          },
          getCompanyGroupId: function () {
            return "10164";
          },
          getUserId: function () {
            return "10134";
          },
          getDoAsUserIdEncoded: function () {
            return "";
          },
          getPlid: function () {
            return "488005";
          },
          getLayoutId: function () {
            return "71";
          },
          getLayoutURL: function () {
            return "/fr/web/sextant/geoportail/sextant6_layout";
          },
          isPrivateLayout: function () {
            return "false";
          },
          getParentLayoutId: function () {
            return "68";
          },
          getScopeGroupId: function () {
            return "177126";
          },
          getScopeGroupIdOrLiveGroupId: function () {
            return "177126";
          },
          getParentGroupId: function () {
            return "177126";
          },
          isImpersonated: function () {
            return false;
          },
          isSignedIn: function () {
            return false;
          },
          getDefaultLanguageId: function () {
            return "fr_FR";
          },
          getLanguageId: function () {
            return "fr_FR";
          },
          isAddSessionIdToURL: function () {
            return false;
          },
          isFreeformLayout: function () {
            return false;
          },
          isStateExclusive: function () {
            return false;
          },
          isStateMaximized: function () {
            return false;
          },
          isStatePopUp: function () {
            return false;
          },
          getPathContext: function () {
            return "";
          },
          getPathImage: function () {
            return "/image";
          },
          getPathJavaScript: function () {
            return "/html/js";
          },
          getPathMain: function () {
            return "/fr/c";
          },
          getPathThemeImages: function () {
            return "http://sextant-test.ifremer.fr/sxt-sextant2-theme/images";
          },
          getPathThemeRoot: function () {
            return "/sxt-sextant2-theme/";
          },
          getURLControlPanel: function () {
            return "/fr/group/control_panel?doAsGroupId=177126&refererPlid=488005";
          },
          getURLHome: function () {
            return "http://sextant-test.ifremer.fr/web/sextant";
          },
          getSessionId: function () {
            return "EF93A70BC1636A5E5C93C2B603081C22";
          },
          getPortletSetupShowBordersDefault: function () {
            return false;
          }
        },
        PropsValues: { NTLM_AUTH_ENABLED: false }
      };
      var themeDisplay = Liferay.ThemeDisplay;
      Liferay.AUI = {
        getBaseURL: function () {
          return "http://sextant-test.ifremer.fr/html/js/aui/";
        },
        getCombine: function () {
          return true;
        },
        getComboPath: function () {
          return "/combo/?browserId=other&minifierType=&languageId=fr_FR&b=6101&t=1435310131000&p=/html/js&";
        },
        getFilter: function () {
          return {
            replaceStr: function (c, b, a) {
              return b + "m=" + (c.split("/html/js")[1] || "");
            },
            searchExp: "(\\?|&)/([^&]+)"
          };
        },
        getJavaScriptRootPath: function () {
          return "/html/js";
        },
        getLangPath: function () {
          return "aui_lang.jsp?browserId=other&themeId=classic_WAR_sxtsextant2theme&colorSchemeId=sextant2&minifierType=js&languageId=fr_FR&b=6101&t=1435310131000";
        },
        getRootPath: function () {
          return "/html/js/aui/";
        }
      };
      window.YUI_config = {
        base: Liferay.AUI.getBaseURL(),
        comboBase: Liferay.AUI.getComboPath(),
        fetchCSS: true,
        filter: Liferay.AUI.getFilter(),
        root: Liferay.AUI.getRootPath(),
        useBrowserConsole: false
      };
      Liferay.authToken = "0YkAL6TN";
      Liferay.currentURL = "\x2ffr\x2fweb\x2fsextant\x2fgeoportail\x2fsextant6_layout";
      Liferay.currentURLEncoded =
        "%2Ffr%2Fweb%2Fsextant%2Fgeoportail%2Fsextant6_layout"; /*]]>*/
    </script>
    <script
      src="/html/js/barebone.jsp?browserId=other&amp;themeId=classic_WAR_sxtsextant2theme&amp;colorSchemeId=sextant2&amp;minifierType=js&amp;minifierBundleId=javascript.barebone.files&amp;languageId=fr_FR&amp;b=6101&amp;t=1435310131000"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      /*
      <![CDATA[*/ Liferay.Portlet.list = [
        "sxthook_WAR_sxthook",
        "56_INSTANCE_56mq8HFOijV0"
      ]; /*]]>*/
    </script>
    <script type="text/javascript">
      /*
      <![CDATA[*/ var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-47380062-1"]);
      _gaq.push(["_trackPageview"]);
      (function () {
        var a = document.createElement("script");
        a.src =
          ("https:" == document.location.protocol ? "https://ssl" : "http://www") +
          ".google-analytics.com/ga.js";
        a.setAttribute("async", "true");
        document.documentElement.firstChild.appendChild(a);
      })(); /*]]>*/
    </script>
    <link
      class="lfr-css-file"
      href="http&#x3a;&#x2f;&#x2f;sextant-test&#x2e;ifremer&#x2e;fr&#x2f;sxt-sextant2-theme&#x2f;css&#x2f;main&#x2e;css&#x3f;browserId&#x3d;other&#x26;themeId&#x3d;classic_WAR_sxtsextant2theme&#x26;minifierType&#x3d;css&#x26;languageId&#x3d;fr_FR&#x26;b&#x3d;6101&#x26;t&#x3d;1434011040000"
      rel="stylesheet"
      type="text/css"
    />
    <style type="text/css"></style>
    <!--[if IE]>
      <style type="text/css">
        .clearfix {
          zoom: 1;
          display: block;
        }
      </style>
    <![endif]-->
    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="http://sextant-test.ifremer.fr/sxt-sextant2-theme/css/structure.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="http://sextant-test.ifremer.fr/sxt-sextant2-theme/css/peau.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="http://sextant-test.ifremer.fr/sxt-sextant2-theme/css/custom_page.css"
    />
    <script type="text/javascript">
      /*
      <![CDATA[*/ var javascript_folder =
        "http://sextant-test.ifremer.fr/sxt-sextant2-theme/js";
      var image_folder =
        "http://sextant-test.ifremer.fr/sxt-sextant2-theme/images/color_schemes/sextant"; /*]]>*/
    </script>
    <!--[if lt IE 9]>
      <script
        type="text/javascript"
        src="http://sextant-test.ifremer.fr/sxt-sextant2-theme/js/ie7/IE9.js"
      >
        /*
              <![CDATA[*/IE7_PNG_SUFFIX=".png";/*]]>*/
      </script>
    <![endif]-->
    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
    ></script>
    <script type="text/javascript">
      /*
      <![CDATA[*/ if (typeof jQuery == "undefined") {
        document.write(
          unescapeJS(
            '%3Cscript src="http://sextant-test.ifremer.fr/sxt-sextant2-theme/js/jquery-min.js" %3E%3C/script%3E'
          )
        );
      } /*]]>*/
    </script>
    <script
      type="text/javascript"
      src="http://sextant-test.ifremer.fr/sxt-sextant2-theme/js/jquery.js"
    ></script>
    <script
      type="text/javascript"
      src="http://sextant-test.ifremer.fr/sxt-sextant2-theme/js/jquery.lightbox-0.5.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="http://sextant-test.ifremer.fr/sxt-sextant2-theme/css/jquery.lightbox-0.5.css"
    />
    <script
      type="text/javascript"
      src="http://sextant-test.ifremer.fr/sxt-sextant2-theme/js/jquery.accordion.js"
    ></script>
    <script
      type="text/javascript"
      src="http://sextant-test.ifremer.fr/sxt-sextant2-theme/js/search.js"
    ></script>
    <!--
    <script type="text/javascript" src="http://sextant-test.ifremer.fr/sxt-sextant2-theme/js/sequence.jquery-min.js">
    </script>
    <script type="text/javascript" src="http://sextant-test.ifremer.fr/sxt-sextant2-theme/js/sequencejs-options.modern-slide-in.js">
    </script>-->
    <script
      type="text/javascript"
      src="http://sextant-test.ifremer.fr/sxt-sextant2-theme/js/main.js"
    ></script>
    <script type="text/javascript">
      /*
      <![CDATA[*/ $(function () {
        $(".asset-full-content.no-title").each(function () {
          var c = $(this).find(".journal-content-article");
          var b = c.html();
          var a = b.replace(/^\s+|\s+$/g, "");
          if (a.length == 0) {
            $(this).hide();
          }
        });
        $(".journal-content-article .readMore")
          .closest(".portlet-body")
          .find(".taglib-page-iterator")
          .hide();
      }); /*]]>*/
    </script>
    <style type="text/css">
      .clearfix:after {
        display: none !important;
      }
      div#header {
        height: 127px !important;
      }
      .outils_site {
        margin-top: 2px !important;
      }
    </style>
  </head>
  <body class="sextant yui3-skin-sam controls-visible signed-out public-page site">
    <a name="haut_page" id="haut_page"> </a>
    <!-- Div bg navigation -->
    <div id="bg_navigation"></div>
    <!-- Div visuel bandeau -->
    <div id="visuel_bandeau"></div>
    <style>
      div#visuel_bandeau {
        background-image: url("http://sextant-test.ifremer.fr/documents/177126/345622/bandeau/59ec7da5-f0f9-4120-b02c-6c3b95478087");
      }
      div#geoservices .teaser.catalogue {
        background-image: url("http://sextant-test.ifremer.fr/documents/177126/345622/catalogue/4c94fe04-ad3b-4366-9cb6-720d1ef8a519");
      }
      div#geoservices .teaser.geoviewer {
        background-image: url("http://sextant-test.ifremer.fr/documents/177126/345622/geoviewer/da8bcea1-a3b5-42d6-85ee-b58ab2c94d37");
      }
    </style>
    <div id="wrapper">
      <!-- Div Flux de la page, "pousse" la hauteur de page a s'adapter a la hauteur de la fenetre au mini -->
      <div id="flux_page" class="clearfix">
        <!-- Div motif Sextant -->
        <div id="motif_logo"></div>
        <!-- Div Titre du site -->
        <div id="header" class="clearfix">
          <!-- Div logo Sextant -->
          <div id="titre_site">
            <a
              href="http://sextant-test.ifremer.fr/fr/web/sextant/accueil"
              class="logo_complet"
            >
              <img
                src="http://sextant-test.ifremer.fr/documents/177126/345622/titre/169122fe-0197-4f9e-bc9d-153795c46edf"
                width="636"
                height="122"
              />
            </a>
          </div>
          <!-- Div Changement langues -->
          <div id="langues">
            <a href="/en/web/sextant/geoportail/sextant6_layout">EN </a>
            <a href="/fr/web/sextant/geoportail/sextant6_layout">FR </a>
          </div>
          <!-- Div Logos Partenaires -->
          <div id="partenaires">
            <img
              class="droite"
              src="http://sextant-test.ifremer.fr/documents/177126/345622/logo/5015eda7-0eee-40c2-8d5f-ddec88b76c57"
              alt=""
              width="141"
              height="37"
              title=""
            />
          </div>
          <!-- Div Outils site -->
          <div class="outils_site">
            <!-- Div Recherche -->
            <div id="recherche" class="clearfix">
              <form
                action="http://sextant-test.ifremer.fr/fr/web/sextant/recherche?p_p_id=3&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;_3_struts_action=%2Fsearch%2Fsearch"
                method="get"
                name="qdvb_3_fm"
                onsubmit="qdvb_3_search(); return false;"
              >
                <input name="p_p_id" type="hidden" value="3" />
                <input name="p_p_lifecycle" type="hidden" value="0" />
                <input name="p_p_state" type="hidden" value="normal" />
                <input name="p_p_mode" type="hidden" value="view" />
                <input name="p_p_col_id" type="hidden" value="column-1" />
                <input name="_3_struts_action" type="hidden" value="/search/search" />
                <input
                  name="_3_redirect"
                  type="hidden"
                  value="http://sextant-test.ifremer.fr/fr/web/sextant/recherche"
                />
                <label for="champ_recherche3">rechercher </label>
                <input
                  name="_3_keywords"
                  id="champ_recherche3"
                  class="champ"
                  size="30"
                  type="text"
                  value="Recherche"
                  onfocus="javascript: if(this.value=='Recherche')this.value='';"
                  onblur="javascript: if(this.value=='')this.value='Recherche';"
                />
                <input name="_3_groupId" type="hidden" value="177126" />
                <button
                  type="submit"
                  value="lancer la recherche"
                  title="Rechercher"
                  name="searchbutton"
                  class="bouton valider"
                >
                  Lancer la recherche
                </button>
              </form>
            </div>

            <div id="membres">
              <button
                type="button"
                class="bouton valider"
                onclick="self.location.href='/fr/c/portal/login?p_l_id=488005';"
              >
                <img
                  src="http://sextant-test.ifremer.fr/sxt-sextant2-theme/images/color_schemes/sextant/bt_membres.gif"
                  width="22"
                  height="12"
                  alt="S'authentifier"
                  title="S'authentifier"
                />
              </button>
            </div>
          </div>
        </div>
        <div id="nav_main">
          <ul>
            <li>
              <a href="http://sextant-test.ifremer.fr/fr/web/sextant/presentation">
                Présentation
              </a>
              <ul>
                <li>
                  <a
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/presentation/missions"
                    >Missions
                  </a>
                </li>
                <li>
                  <a
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/presentation/contact"
                    >Contact
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="http://sextant-test.ifremer.fr/fr/web/sextant/les-catalogues">
                Catalogues thématiques
              </a>
              <ul>
                <li>
                  <a
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/les-catalogues/au-niveau-international"
                    >Au niveau international
                  </a>
                </li>
                <li>
                  <a
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/les-catalogues/au-niveau-national"
                    >Au niveau national
                  </a>
                </li>
                <li>
                  <a
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/les-catalogues/au-niveau-regional"
                    >Au niveau régional
                  </a>
                </li>
                <li>
                  <a
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/les-catalogues/outre-mer"
                    >Outre-mer
                  </a>
                </li>
                <li>
                  <a href="http://sextant-test.ifremer.fr/fr/web/sextant/site-web-associe"
                    >Sites web associés
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="http://sextant-test.ifremer.fr/fr/web/sextant/nos-services">
                Services OGC
              </a>
            </li>
            <li>
              <a
                href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires"
              >
                Ressources documentaires
              </a>
              <ul>
                <li>
                  <a
                    class="asSubMenu"
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-des-administrateurs"
                    >Journées des administrateurs
                  </a>
                  <ul>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-des-administrateurs/jadm2014"
                        >Journée des administrateurs 2014
                      </a>
                    </li>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-des-administrateurs/jadm2013"
                        >Journée des administrateurs 2013
                      </a>
                    </li>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-des-administrateurs/jadm2012"
                        >Journée des administrateurs 2012
                      </a>
                    </li>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-des-administrateurs/jadm2011"
                        >Journée des administrateurs 2011
                      </a>
                    </li>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-des-administrateurs/jadm2010"
                        >Journée des administrateurs 2010
                      </a>
                    </li>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-des-administrateurs/jadm2009"
                        >Journée des administrateurs 2009
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    class="asSubMenu"
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-valor-ig"
                    >Journées Valor-IG
                  </a>
                  <ul>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-valor-ig/valor-ig-2014"
                        >Actes des Journées Valor-IG 2014
                      </a>
                    </li>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-valor-ig/valor-ig-2012"
                        >Actes des Journées Valor-IG 2012
                      </a>
                    </li>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-valor-ig/valor-ig-2011"
                        >Actes des Journées Valor-IG 2011
                      </a>
                    </li>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-valor-ig/valor-ig-2009"
                        >Actes des Journées Valor-IG 2009
                      </a>
                    </li>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-valor-ig/valor-ig-2008"
                        >Actes des Journées Valor-IG 2008
                      </a>
                    </li>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-valor-ig/valor-ig-2007"
                        >Actes des Journées Valor-IG 2007
                      </a>
                    </li>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/journees-valor-ig/valor-ig-2006"
                        >Actes des Journées Valor-IG 2006
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    class="asSubMenu"
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/les-ressources-documentaires/reseau-geomatique"
                    >Réseau Géomatique
                  </a>
                  <ul>
                    <li>
                      <a
                        href="http://sextant-test.ifremer.fr/fr/web/sextant/reseau-geomatique-de-l-ouest-2013"
                        >Réseau Géomatique de l'Ouest 2013
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/accueil/les-ressources-documentaires/aide-sur-les-modules-sextant"
                    >Aide sur les modules Sextant
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="http://sextant-test.ifremer.fr/fr/web/sextant/sextant">
                sextant
              </a>
              <ul>
                <li>
                  <a href="http://sextant-test.ifremer.fr/fr/web/sextant/test">Test </a>
                </li>
                <li>
                  <a
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/geoservices/test2"
                    >Test2
                  </a>
                </li>
                <li>
                  <a
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/geoportail/sextant6_layout"
                    >sextant6_layout
                  </a>
                </li>
                <li>
                  <a
                    href="http://sextant-test.ifremer.fr/fr/web/sextant/geoportail/layout"
                    >layout
                  </a>
                </li>
                <li>
                  <a href="http://sextant-test.ifremer.fr/fr/web/sextant/geomatys"
                    >geomatys
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- Outils du site
        <div class="outils_site">
          <a href="/fr/c/portal/login?p_l_id=488005" class="bouton_image">
            <img src="http://sextant-test.ifremer.fr/sxt-sextant2-theme/images/color_schemes/sextant/bt_connexion.gif" width="28" height="18" alt="S'authentifier" title="S'authentifier" />
          </a>
        </div>-->
        <div id="contenu_page" class="clearfix">
          <div id="content" style="width: 1100px">
            <div class="journal-content-article">
              <div
                class="
                  portlet-boundary portlet-boundary_103_
                  portlet-static portlet-static-end portlet-borderless
                "
                id="p_p_id_103_"
              >
                <span id="p_103"> </span>
                <div class="portlet-body"></div>
              </div>
              <div class="columns-1" id="main-content" role="main">
                <div class="portlet-layout">
                  <div class="portlet-column portlet-column-only" id="column-1">
                    <div
                      class="
                        portlet-dropzone
                        portlet-column-content
                        portlet-column-content-only
                      "
                      id="layout-column_column-1"
                    >
                      <div
                        class="
                          portlet-boundary portlet-boundary_56_
                          portlet-static
                          portlet-static-end
                          portlet-borderless
                          portlet-journal-content
                        "
                        id="p_p_id_56_INSTANCE_56mq8HFOijV0_"
                      >
                        <span id="p_56_INSTANCE_56mq8HFOijV0"> </span>
                        <div class="portlet-body">
                          <div class="portlet-borderless-container" style="">
                            <div class="portlet-body">
                              <div
                                class="journal-content-article"
                                id="article_10131_177126_488017_1.3"
                              >
                                <div>
                                  <h1>Test API Sextant6</h1>
                                </div>
                                <div
                                  class="gn sxt-max-md"
                                  ng-app="gn_search_sextant"
                                  ng-controller="GnCatController"
                                  ng-include="'../../sextant/views/sextant/templates/index.html'"
                                  sxt-size="auto"
                                >
                                  &nbsp;
                                </div>
                                <script type="text/javascript">
                                  var sxtSettings = {
                                    langDetector: {
                                      fromHtmlTag: true
                                    },
                                    allowLogin: true,
                                    tabOverflow: {
                                      search: true,
                                      map: true,
                                      panier: true
                                    },
                                    servicesUrl: {
                                      wms: [
                                        {
                                          name: "Ifremer - Biologie",
                                          url: "ttp://www.ifremer.fr/services/wms/biologie?"
                                        }
                                      ],
                                      wmts: [
                                        {
                                          name: "Ifremer - maps.ngdc.noaa.gov",
                                          url: "http://maps.ngdc.noaa.gov/arcgis/rest/services/web_mercator/etopo1_hillshade/MapServer/WMTS/1.0.0/WMTSCapabilities.xml"
                                        }
                                      ]
                                    },
                                    localisations: false,
                                    panier: {
                                      projs: [
                                        {
                                          value: "4326",
                                          label: "Geographique - Datum WGS84"
                                        }
                                      ],
                                      formats: {
                                        vector: [
                                          {
                                            value: "ESRI Shapefile",
                                            label: "ESRI Shapefile"
                                          },
                                          {
                                            value: "GeoJSON",
                                            label: "GeoJSON"
                                          }
                                        ],
                                        raster: [
                                          {
                                            value: "GeoTiff",
                                            label: "GeoTiff"
                                          }
                                        ]
                                      },
                                      defaults: {
                                        format: "ESRI Shapefile",
                                        proj: "4326"
                                      }
                                    }
                                  }; /*
                                   ]
                                   ]>*/
                                </script>
                                <script>
                                  /*
                                  <![CDATA[*/ var geonet = {
                                    provide: function (a) {},
                                    require: function (a) {}
                                  }; /*]]>*/
                                </script>
                                <script src="http://localhost:8080/geonetwork/static/lib.js"></script>
                                <script src="http://localhost:8080/geonetwork/static/gn_search_sextant.js"></script>
                              </div>
                              <div class="entry-links"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="
                  portlet-boundary portlet-boundary_sxthook_WAR_sxthook_
                  portlet-static portlet-static-end portlet-borderless
                "
                id="p_p_id_sxthook_WAR_sxthook_"
              >
                <span id="p_sxthook_WAR_sxthook"> </span>
                <div class="portlet-body"></div>
              </div>
              <form action="#" id="hrefFm" method="post" name="hrefFm">
                <span> </span>
              </form>
            </div>
          </div>
        </div>
        <div id="pied_page" class="clearfix">
          <ul>
            <li>
              <a
                href="http://sextant-test.ifremer.fr/fr/web/sextant/footernavigation/contacts"
                >Contacts
              </a>
            </li>
            <li>
              <a
                href="http://sextant-test.ifremer.fr/fr/web/sextant/footernavigation/mentions-legales"
                >Mentions Légales
              </a>
            </li>
          </ul>
          <div class="date"></div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      /*
    <![CDATA[*/ $(function () {
        $("#content .journal-content-article div.item_infos")
          .parents(".journal-content-article")
          .addClass("liste");
      }); /*]]>*/
    </script>
    <script type="text/javascript">
      /*
    <![CDATA[*/ Liferay.Util.addInputFocus();
      Liferay.Portlet.runtimePortletIds = ["sxthook_WAR_sxthook", "103"]; /*]]>*/
    </script>
    <script type="text/javascript">
      /*
    <![CDATA[*/ Liferay.Portlet.onLoad({
        canEditTitle: false,
        columnPos: 0,
        isStatic: "end",
        namespacedId: "p_p_id_103_",
        portletId: "103",
        refreshURL:
          "\x2ffr\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d488005\x26p_p_id\x3d103\x26p_p_lifecycle\x3d0\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3d\x26p_p_col_pos\x3d0\x26p_p_col_count\x3d0\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ffr\x252Fweb\x252Fsextant\x252Fgeoportail\x252Fsextant6_layout"
      });
      Liferay.Portlet.onLoad({
        canEditTitle: false,
        columnPos: 0,
        isStatic: "end",
        namespacedId: "p_p_id_56_INSTANCE_56mq8HFOijV0_",
        portletId: "56_INSTANCE_56mq8HFOijV0",
        refreshURL:
          "\x2ffr\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d488005\x26p_p_id\x3d56_INSTANCE_56mq8HFOijV0\x26p_p_lifecycle\x3d0\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3dcolumn-1\x26p_p_col_pos\x3d0\x26p_p_col_count\x3d1\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ffr\x252Fweb\x252Fsextant\x252Fgeoportail\x252Fsextant6_layout"
      });
      Liferay.Portlet.onLoad({
        canEditTitle: false,
        columnPos: 0,
        isStatic: "end",
        namespacedId: "p_p_id_sxthook_WAR_sxthook_",
        portletId: "sxthook_WAR_sxthook",
        refreshURL:
          "\x2ffr\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d488005\x26p_p_id\x3dsxthook_WAR_sxthook\x26p_p_lifecycle\x3d0\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3d\x26p_p_col_pos\x3d0\x26p_p_col_count\x3d0\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ffr\x252Fweb\x252Fsextant\x252Fgeoportail\x252Fsextant6_layout"
      });
      AUI().use(
        "aui-base",
        "liferay-menu",
        "liferay-notice",
        "liferay-poller",
        function (a) {
          (function () {
            Liferay.Util.addInputType();
            Liferay.Portlet.ready(function (b, c) {
              Liferay.Util.addInputType(c);
            });
          })();
          (function () {
            new Liferay.Menu();
            var b = Liferay.Data.notices;
            for (var c = 1; c < b.length; c++) {
              new Liferay.Notice(b[c]);
            }
          })();
        }
      ); /*]]>*/
    </script>
    <script type="text/javascript">
      /*
          <![CDATA[*/function getPanierMenuItem(){var c=document.getElementById("navigation").getElementsByTagName("a");var a=[];for(var d=0;d
          <c.length;d++){var e=c[d];var b;if(e.innerHTML.indexOf("
          <span>")!=-1){b=e.getElementsByTagName("span")[0]}else{b=e}if(b.innerHTML.toUpperCase().indexOf("PANIER")!=-1){a.obj=b;a.key="Panier";return a}else{if(b.innerHTML.toUpperCase().indexOf("BASKET")!=-1){a.obj=b;a.key="Basket";return a}}}return null}function getViewerMenuItem(){var c=document.getElementById("navigation").getElementsByTagName("a");var a=[];for(var d=0;d
          <c.length;d++){var e=c[d];var b;if(e.innerHTML.indexOf("
          <span>")!=-1){b=e.getElementsByTagName("span")[0]}else{b=e}if(b.innerHTML.indexOf(" (")!=-1){b.innerHTML=b.innerHTML.substring(0,b.innerHTML.indexOf(" ("))}if(b.innerHTML.toUpperCase().indexOf("GEOVIEWER")!=-1){a.obj=b;a.key=b.innerHTML;return a}else{if(b.innerHTML.toUpperCase().indexOf("VIEWER")!=-1){a.obj=b;a.key=b.innerHTML;return a}else{if(b.innerHTML.toUpperCase().indexOf("VISUALISEUR")!=-1){a.obj=b;a.key=b.innerHTML;return a}}}}return null};/*]]>*/
    </script>
    <script
      src="http://sextant-test.ifremer.fr/sxt-sextant2-theme/js/main.js?browserId=other&amp;minifierType=js&amp;languageId=fr_FR&amp;b=6101&amp;t=1434011040000"
      type="text/javascript"
    ></script>
  </body>
</html>
