<!DOCTYPE html>
<html class="ltr" dir="ltr" lang="fr-FR">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Sextant - Catalogue</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link
      href="https://sextant.ifremer.fr/sxt-minimaliste-theme/images/favicon.ico"
      rel="Shortcut Icon"
    />
    <link
      href="https&#x3a;&#x2f;&#x2f;localhost&#x2f;web&#x2f;medcheckpoint"
      rel="canonical"
    />
    <link
      href="https&#x3a;&#x2f;&#x2f;localhost&#x2f;en&#x2f;web&#x2f;medcheckpoint"
      hreflang="en-US"
      rel="alternate"
    />
    <link
      href="https&#x3a;&#x2f;&#x2f;localhost&#x2f;es&#x2f;web&#x2f;medcheckpoint"
      hreflang="es-ES"
      rel="alternate"
    />
    <link
      href="https&#x3a;&#x2f;&#x2f;localhost&#x2f;it&#x2f;web&#x2f;medcheckpoint"
      hreflang="it-IT"
      rel="alternate"
    />
    <link
      href="https&#x3a;&#x2f;&#x2f;localhost&#x2f;nl&#x2f;web&#x2f;medcheckpoint"
      hreflang="nl-NL"
      rel="alternate"
    />
    <link
      href="https&#x3a;&#x2f;&#x2f;localhost&#x2f;pt&#x2f;web&#x2f;medcheckpoint"
      hreflang="pt-PT"
      rel="alternate"
    />
    <link
      href="&#x2f;html&#x2f;css&#x2f;main&#x2e;css&#x3f;browserId&#x3d;other&#x26;themeId&#x3d;minimaliste_WAR_sxtminimalistetheme&#x26;minifierType&#x3d;css&#x26;languageId&#x3d;fr_FR&#x26;b&#x3d;6101&#x26;t&#x3d;1446541496000"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/html/portlet/journal_content/css/main.css?browserId=other&amp;themeId=minimaliste_WAR_sxtminimalistetheme&amp;minifierType=css&amp;languageId=fr_FR&amp;b=6101&amp;t=1479379651000"
      rel="stylesheet"
      type="text/css"
    />
    <script type="text/javascript">
      /*<![CDATA[*/
      var Liferay = {
        Browser: {
          acceptsGzip: function () {
            return true;
          },
          getMajorVersion: function () {
            return 61;
          },
          getRevision: function () {
            return "537.36";
          },
          getVersion: function () {
            return "61.0.3163.100";
          },
          isAir: function () {
            return false;
          },
          isChrome: function () {
            return true;
          },
          isFirefox: function () {
            return false;
          },
          isGecko: function () {
            return true;
          },
          isIe: function () {
            return false;
          },
          isIphone: function () {
            return false;
          },
          isLinux: function () {
            return true;
          },
          isMac: function () {
            return false;
          },
          isMobile: function () {
            return false;
          },
          isMozilla: function () {
            return false;
          },
          isOpera: function () {
            return false;
          },
          isRtf: function () {
            return true;
          },
          isSafari: function () {
            return true;
          },
          isSun: function () {
            return false;
          },
          isWap: function () {
            return false;
          },
          isWapXhtml: function () {
            return false;
          },
          isWebKit: function () {
            return true;
          },
          isWindows: function () {
            return false;
          },
          isWml: function () {
            return false;
          }
        },
        Data: {
          isCustomizationView: function () {
            return false;
          },
          notices: [null]
        },
        ThemeDisplay: {
          getCDNDynamicResourcesHost: function () {
            return "";
          },
          getCDNHost: function () {
            return "";
          },
          getCompanyId: function () {
            return "10131";
          },
          getCompanyGroupId: function () {
            return "10164";
          },
          getUserId: function () {
            return "10134";
          },
          getDoAsUserIdEncoded: function () {
            return "";
          },
          getPlid: function () {
            return "889682";
          },
          getLayoutId: function () {
            return "5";
          },
          getLayoutURL: function () {
            return "/fr/web/medcheckpoint/catalogue";
          },
          isPrivateLayout: function () {
            return "false";
          },
          getParentLayoutId: function () {
            return "0";
          },
          getScopeGroupId: function () {
            return "323034";
          },
          getScopeGroupIdOrLiveGroupId: function () {
            return "323034";
          },
          getParentGroupId: function () {
            return "323034";
          },
          isImpersonated: function () {
            return false;
          },
          isSignedIn: function () {
            return false;
          },
          getDefaultLanguageId: function () {
            return "fr_FR";
          },
          getLanguageId: function () {
            return "fr_FR";
          },
          isAddSessionIdToURL: function () {
            return false;
          },
          isFreeformLayout: function () {
            return false;
          },
          isStateExclusive: function () {
            return false;
          },
          isStateMaximized: function () {
            return false;
          },
          isStatePopUp: function () {
            return false;
          },
          getPathContext: function () {
            return "";
          },
          getPathImage: function () {
            return "/image";
          },
          getPathJavaScript: function () {
            return "/html/js";
          },
          getPathMain: function () {
            return "/fr/c";
          },
          getPathThemeImages: function () {
            return "https://sextant.ifremer.fr/sxt-minimaliste-theme/images";
          },
          getPathThemeRoot: function () {
            return "/sxt-minimaliste-theme/";
          },
          getURLControlPanel: function () {
            return "/fr/group/control_panel?doAsGroupId=323034&refererPlid=889682";
          },
          getURLHome: function () {
            return "https://sextant.ifremer.fr/web/sextant";
          },
          getSessionId: function () {
            return "3920E6B8C0F842F22E8F54B61F06A3D4";
          },
          getPortletSetupShowBordersDefault: function () {
            return false;
          }
        },
        PropsValues: {
          NTLM_AUTH_ENABLED: false
        }
      };
      var themeDisplay = Liferay.ThemeDisplay;
      Liferay.AUI = {
        getBaseURL: function () {
          return "https://sextant.ifremer.fr/html/js/aui/";
        },
        getCombine: function () {
          return true;
        },
        getComboPath: function () {
          return "/combo/?browserId=other&minifierType=&languageId=fr_FR&b=6101&t=1485527971000&p=/html/js&";
        },
        getFilter: function () {
          return {
            replaceStr: function (c, b, a) {
              return b + "m=" + (c.split("/html/js")[1] || "");
            },
            searchExp: "(\\?|&)/([^&]+)"
          };
        },
        getJavaScriptRootPath: function () {
          return "/html/js";
        },
        getLangPath: function () {
          return "aui_lang.jsp?browserId=other&themeId=minimaliste_WAR_sxtminimalistetheme&colorSchemeId=01&minifierType=js&languageId=fr_FR&b=6101&t=1485527971000";
        },
        getRootPath: function () {
          return "/html/js/aui/";
        }
      };
      window.YUI_config = {
        base: Liferay.AUI.getBaseURL(),
        comboBase: Liferay.AUI.getComboPath(),
        fetchCSS: true,
        filter: Liferay.AUI.getFilter(),
        root: Liferay.AUI.getRootPath(),
        useBrowserConsole: false
      };
      Liferay.authToken = "c1Te2n2n";
      Liferay.currentURL = "\x2ffr\x2fweb\x2fmedcheckpoint\x2fcatalogue";
      Liferay.currentURLEncoded = "%2Ffr%2Fweb%2Fmedcheckpoint%2Fcatalogue"; /*]]>*/
    </script>
    <script
      src="/html/js/barebone.jsp?browserId=other&amp;themeId=minimaliste_WAR_sxtminimalistetheme&amp;colorSchemeId=01&amp;minifierType=js&amp;minifierBundleId=javascript.barebone.files&amp;languageId=fr_FR&amp;b=6101&amp;t=1485527971000"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      /*<![CDATA[*/
      Liferay.Portlet.list = ["sxthook_WAR_sxthook", "56_INSTANCE_FVWmgSQf2AyN"]; /*]]>*/
    </script>
    <link
      class="lfr-css-file"
      href="https&#x3a;&#x2f;&#x2f;sextant&#x2e;ifremer&#x2e;fr&#x2f;sxt-minimaliste-theme&#x2f;css&#x2f;main&#x2e;css&#x3f;browserId&#x3d;other&#x26;themeId&#x3d;minimaliste_WAR_sxtminimalistetheme&#x26;minifierType&#x3d;css&#x26;languageId&#x3d;fr_FR&#x26;b&#x3d;6101&#x26;t&#x3d;1446542669000"
      rel="stylesheet"
      type="text/css"
    />
    <style type="text/css"></style>
    <script type="text/javascript">
      /*<![CDATA[*/
      function displaySubMenu(b) {
        if (b && jQuery) {
          var a = b;
          var c = 0;
          while (c < 5 && a) {
            if (a.className && a.className.indexOf("sublevel") != -1 && jQuery) {
              a.style.left = jQuery(b).width() + "px";
              break;
            }
            a = a.nextSibling;
            c++;
          }
        }
      } /*]]>*/
    </script>
  </head>

  <body
    class="minimaliste yui3-skin-sam controls-visible signed-out public-page site"
    style="
      font-family: Arial, Helvetica, sans-serif;
      background-color: #d9d9d9;
      background-image: url('/sxt-minimaliste-theme/images/sextant/bg_header.gif');
      background-position: left top;
      background-repeat: repeat-x;
    "
  >
    <div id="wrapper">
      <a href="#main-content" id="skip-to-content">Saut au contenu</a>
      <div
        id="tabs"
        class="
          ui-layout-pane
          ui-layout-pane-center
          ui-tabs
          ui-widget
          ui-widget-content
          ui-corner-all
        "
        style="
          position: absolute;
          margin: 0px;
          left: 0px;
          right: 0px;
          top: 0px;
          bottom: 0px;
          z-index: 1;
          display: block;
        "
      >
        <div id="navigation" class="sort-pages modify-pages">
          <ul
            id="sxt-nav"
            class="
              ui-tabs-nav
              ui-helper-reset
              ui-helper-clearfix
              ui-widget-header
              ui-corner-all
            "
          >
            <li
              class="
                ui-state-default ui-corner-top ui-tabs-selected ui-state-active
                level-1
                customliBtn
              "
            >
              <!--div-->
              <div class="navLinkseparator"></div>
              <a href="https://sextant.ifremer.fr/fr/web/medcheckpoint/catalogue">
                <img
                  src="/sxt-minimaliste-theme/images/sextant/icons/catalog.png"
                  class="catalogviewerpanierImg"
                  style="margin-top: -3px"
                />
                <span>Catalogue</span></a
              >
              <!--/div-->
            </li>
            <li class="ui-state-default ui-corner-top level-1 customliBtn">
              <!--div-->
              <div class="navLinkseparator"></div>
              <a href="https://sextant.ifremer.fr/fr/web/medcheckpoint/map">
                <span>Map</span></a
              >
              <!--/div-->
            </li>
          </ul>
          <div id="mainToolbar" class="toolbar ui-helper-clearfix" style="float: right">
            <div
              class="
                portlet-boundary portlet-boundary_82_
                portlet-static portlet-static-end portlet-borderless portlet-language
              "
              id="p_p_id_82_"
            >
              <span id="p_82"></span>
              <div class="portlet-body">
                <div class="portlet-borderless-container" style="">
                  <div class="portlet-body">
                    <div
                      class="set02 buttonSet ui-helper-clearfix"
                      style="float: right; background: none"
                    >
                      <a
                        href="http://www.emodnet-mediterranean.eu/checkpoint-gis-support"
                        target="_blank"
                        title="aide"
                        class="button button-icon-solo ui-state-default"
                      >
                        <span style="margin-top: 3px" class="controlIcon help"
                          >&nbsp;</span
                        >
                      </a>
                    </div>
                    <div class="set01 buttonSet ui-helper-clearfix" style="float: right">
                      <a
                        href="/fr/c/portal/login?p_l_id=889682"
                        title="connexion"
                        rel="nofollow"
                        class="button button-icon-solo ui-state-default"
                      >
                        <span style="margin-top: 3px" class="controlIcon login"
                          >&nbsp;</span
                        >
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="content">
          <div
            class="
              portlet-boundary portlet-boundary_103_
              portlet-static portlet-static-end portlet-borderless
            "
            id="p_p_id_103_"
          >
            <span id="p_103"></span>
            <div class="portlet-body"></div>
          </div>
          <div class="columns-1" id="main-content" role="main">
            <div class="portlet-layout">
              <div class="portlet-column portlet-column-only" id="column-1">
                <div
                  class="
                    portlet-dropzone portlet-column-content portlet-column-content-only
                  "
                  id="layout-column_column-1"
                >
                  <div
                    class="
                      portlet-boundary portlet-boundary_56_
                      portlet-static
                      portlet-static-end
                      portlet-borderless
                      portlet-journal-content
                    "
                    id="p_p_id_56_INSTANCE_FVWmgSQf2AyN_"
                  >
                    <span id="p_56_INSTANCE_FVWmgSQf2AyN"></span>
                    <div class="portlet-body">
                      <div class="portlet-borderless-container" style="">
                        <div class="portlet-body">
                          <div
                            class="journal-content-article"
                            id="article_10131_323034_889705_1.6"
                          >
                            <div
                              class="gn"
                              ng-app="gn_search_sextant"
                              ng-controller="GnCatController"
                              ng-include="'../../catalog/views/sextant/templates/index.html'"
                              sxt-size="auto"
                              sxt-size-diff="10"
                            >
                              &nbsp;
                            </div>
                            <script type="text/javascript">
                              /*<![CDATA[*/
                              var sxtSettings = {
                                langDetector: {
                                  fromHtmlTag: true,
                                  regexp: "^/([a-z]+)/",
                                  lang: "fre"
                                },
                                configWhat:
                                  "MEDCHECKPOINT,MEDCHECKPOINT_PRODUCT,MEDCHECKPOINT_CH1,MEDCHECKPOINT_CH2,MEDCHECKPOINT_CH3,MEDCHECKPOINT_CH4,MEDCHECKPOINT_CH5,MEDCHECKPOINT_CH6,MEDCHECKPOINT_CH7",
                                tabOverflow: {
                                  search: true,
                                  map: true
                                },
                                servicesUrl: {
                                  wms: [
                                    {
                                      name: "Ifremer - Océanographie physique",
                                      url: "http://www.ifremer.fr/services/wms/oceanographie_physique?"
                                    },
                                    {
                                      name: "Ifremer - Biologie",
                                      url: "http://www.ifremer.fr/services/wms/biologie?"
                                    },
                                    {
                                      name: "Ifremer - Géosciences marines",
                                      url: "http://www.ifremer.fr/services/wms/geosciences?"
                                    },
                                    {
                                      name: "Ifremer - MNT",
                                      url: "http://www.ifremer.fr/ifremerWS/WS/wms/MNT?"
                                    },
                                    {
                                      name: "Ifremer - Granulats marins",
                                      url: "http://www.ifremer.fr/services/wms/granulats_marins?"
                                    },
                                    {
                                      name: "Ifremer - Surveillance littorale",
                                      url: "http://www.ifremer.fr/services/wms/surveillance_littorale?"
                                    },
                                    {
                                      name: "Ifremer - Photos anciennes",
                                      url: "http://www.ifremer.fr/services/photos_anciennes?"
                                    },
                                    {
                                      name: "Ifremer - Scan littoral",
                                      url: "http://www.ifremer.fr/ifremerWS/WS/wms/scan-littoral?"
                                    },
                                    {
                                      name: "Agence des aires marines protégées",
                                      url: "http://cartographie.aires-marines.fr/wms"
                                    },
                                    {
                                      name: "BRGM Géologie",
                                      url: "http://geoservices.brgm.fr/geologie"
                                    },
                                    {
                                      name: "BRGM Risques naturels et industriels",
                                      url: "http://geoservices.brgm.fr/risques"
                                    },
                                    {
                                      name: "BRGM Observatoire des matériaux",
                                      url: "http://geoservices.brgm.fr/odmgm?"
                                    },
                                    {
                                      name: "Cartorisque",
                                      url: "http://cartorisque.prim.net/wms/france?"
                                    },
                                    {
                                      name: "Geolittoral",
                                      url: "http://geolittoral.application.equipement.gouv.fr/wms2/metropole?"
                                    },
                                    {
                                      name: "Geosignal",
                                      url: "http://www.geosignal.org/cgi-bin/wmsmap?"
                                    },
                                    {
                                      name: "MNHN-INPN",
                                      url: "http://ws.carmencarto.fr/WMS/119/fxx_inpn?"
                                    },
                                    {
                                      name: "Marine Regions",
                                      url: "http://geo.vliz.be/geoserver/MarineRegions/wms?Request=getCapabilities"
                                    },
                                    {
                                      name: "SHOM",
                                      url: "http://services.data.shom.fr/INSPIRE/wms/r?version=1.3.0"
                                    }
                                  ],
                                  wmts: [
                                    {
                                      name: "maps.ngdc.noaa.gov",
                                      url: "http://maps.ngdc.noaa.gov/arcgis/rest/services/web_mercator/etopo1_hillshade/MapServer/WMTS/1.0.0/WMTSCapabilities.xml"
                                    }
                                  ]
                                },
                                layerFilter: true,
                                panier: {
                                  projs: [
                                    {
                                      value: "4326",
                                      label: "Geographique - Datum WGS84"
                                    },
                                    {
                                      value: "2154",
                                      label: "Lambert - 93"
                                    },
                                    {
                                      value: "27571",
                                      label: "Lambert Zone I - Datum NTF"
                                    },
                                    {
                                      value: "27572",
                                      label: "Lambert Zone II - Datum NTF"
                                    },
                                    {
                                      value: "27573",
                                      label: "Lambert Zone III - Datum NTF"
                                    },
                                    {
                                      value: "27574",
                                      label: "Lambert Zone IV - Datum NTF"
                                    },
                                    {
                                      value: "27561",
                                      label: "Lambert Nord France - Datum NTF"
                                    },
                                    {
                                      value: "27562",
                                      label: "Lambert Centre France - Datum NTF"
                                    },
                                    {
                                      value: "27563",
                                      label: "Lambert Sud France - Datum NTF"
                                    },
                                    {
                                      value: "27564",
                                      label: "Lambert Corse - Datum NTF"
                                    },
                                    {
                                      value: "32600",
                                      label: "UTM - Datum WGS84"
                                    },
                                    {
                                      value: "4230",
                                      label: "Geographique - Datum ED50"
                                    },
                                    {
                                      value: "4258",
                                      label:
                                        "European Terrestrial Reference System 1989 (ETRS89)"
                                    },
                                    {
                                      value: "3395",
                                      label: "Mercator - Datum WGS84"
                                    }
                                  ],
                                  formats: {
                                    vector: [
                                      {
                                        value: "ESRI Shapefile",
                                        label: "Shapefile"
                                      },
                                      {
                                        value: "MapInfo File",
                                        label: "MapInfo"
                                      },
                                      {
                                        value: "GML",
                                        label: "GML"
                                      },
                                      {
                                        value: "KML",
                                        label: "KML"
                                      },
                                      {
                                        value: "GeoJSON",
                                        label: "GeoJSON"
                                      }
                                    ],
                                    raster: [
                                      {
                                        value: "GTiff",
                                        label: "GeoTiff"
                                      },
                                      {
                                        value: "ECW",
                                        label: "ECW"
                                      },
                                      {
                                        value: "Jpeg2000",
                                        label: "Jpeg2000"
                                      }
                                    ]
                                  },
                                  defaults: {
                                    format: "ESRI Shapefile",
                                    proj: "4326"
                                  }
                                },
                                facetConfig: [
                                  {
                                    key: "publishedForGroup",
                                    index: "_groupPublished",
                                    labels: {
                                      eng: "Catalogue",
                                      fre: "Catalogue"
                                    }
                                  },
                                  {
                                    key: "emodnet-checkpoint.environmental.matrix",
                                    labels: {
                                      eng: "Environmental matrix",
                                      fre: "Environmental matrix"
                                    }
                                  },
                                  {
                                    key: "NVS.P02"
                                  },
                                  {
                                    key: "p03",
                                    labels: {
                                      eng: "Agreed Parameter Groups - P03",
                                      fre: "Agreed Parameter Groups - P03"
                                    }
                                  },
                                  {
                                    key: "p02",
                                    labels: {
                                      eng: "Parameter Discovery Vocabulary - P02",
                                      fre: "Parameter Discovery Vocabulary - P02"
                                    }
                                  },
                                  {
                                    key: "p01",
                                    labels: {
                                      eng: "Parameter Usage Vocabulary - P01",
                                      fre: "Parameter Usage Vocabulary - P01"
                                    }
                                  },
                                  {
                                    key: "resource_responsibleParty_edmo"
                                  },
                                  {
                                    key: "resource_responsibleParty_edmerp"
                                  },
                                  {
                                    key: "resource_responsibleParty_originator"
                                  },
                                  {
                                    key: "checkpointType"
                                  },
                                  {
                                    key: "type"
                                  },
                                  {
                                    key: "emodnet-checkpoint.level.of.characteristics"
                                  },
                                  {
                                    key: "emodnet-checkpoint.production.mode"
                                  }
                                ]
                              }; /*]]>*/
                            </script>
                            <script>
                              /*<![CDATA[*/
                              var geonet = {
                                provide: function (a) {},
                                require: function (a) {}
                              }; /*]]>*/
                            </script>
                            <script src="http://localhost:8080/geonetwork/static/lib.js"></script>
                            <script src="http://localhost:8080/geonetwork/static/gn_search_sextant.js"></script>
                          </div>
                          <div class="entry-links"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="
              portlet-boundary portlet-boundary_sxthook_WAR_sxthook_
              portlet-static portlet-static-end portlet-borderless
            "
            id="p_p_id_sxthook_WAR_sxthook_"
          >
            <span id="p_sxthook_WAR_sxthook"></span>
            <div class="portlet-body"></div>
          </div>
          <form action="#" id="hrefFm" method="post" name="hrefFm"><span></span></form>
        </div>
      </div>
      <!-- FIN tabs -->
    </div>
  </body>
  <script type="text/javascript">
    /*<![CDATA[*/
    Liferay.Util.addInputFocus();
    Liferay.Portlet.runtimePortletIds = ["sxthook_WAR_sxthook", "82", "103"]; /*]]>*/
  </script>
  <script type="text/javascript">
    /*<![CDATA[*/
    Liferay.Portlet.onLoad({
      canEditTitle: false,
      columnPos: 0,
      isStatic: "end",
      namespacedId: "p_p_id_103_",
      portletId: "103",
      refreshURL:
        "\x2ffr\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d889682\x26p_p_id\x3d103\x26p_p_lifecycle\x3d0\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3d\x26p_p_col_pos\x3d0\x26p_p_col_count\x3d0\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ffr\x252Fweb\x252Fmedcheckpoint\x252Fcatalogue"
    });
    Liferay.Portlet.onLoad({
      canEditTitle: false,
      columnPos: 0,
      isStatic: "end",
      namespacedId: "p_p_id_56_INSTANCE_FVWmgSQf2AyN_",
      portletId: "56_INSTANCE_FVWmgSQf2AyN",
      refreshURL:
        "\x2ffr\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d889682\x26p_p_id\x3d56_INSTANCE_FVWmgSQf2AyN\x26p_p_lifecycle\x3d0\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3dcolumn-1\x26p_p_col_pos\x3d0\x26p_p_col_count\x3d1\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ffr\x252Fweb\x252Fmedcheckpoint\x252Fcatalogue"
    });
    Liferay.Portlet.onLoad({
      canEditTitle: false,
      columnPos: 0,
      isStatic: "end",
      namespacedId: "p_p_id_sxthook_WAR_sxthook_",
      portletId: "sxthook_WAR_sxthook",
      refreshURL:
        "\x2ffr\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d889682\x26p_p_id\x3dsxthook_WAR_sxthook\x26p_p_lifecycle\x3d0\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3d\x26p_p_col_pos\x3d0\x26p_p_col_count\x3d0\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ffr\x252Fweb\x252Fmedcheckpoint\x252Fcatalogue"
    });
    Liferay.Portlet.onLoad({
      canEditTitle: false,
      columnPos: 0,
      isStatic: "end",
      namespacedId: "p_p_id_82_",
      portletId: "82",
      refreshURL:
        "\x2ffr\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d889682\x26p_p_id\x3d82\x26p_p_lifecycle\x3d0\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3d\x26p_p_col_pos\x3d0\x26p_p_col_count\x3d0\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ffr\x252Fweb\x252Fmedcheckpoint\x252Fcatalogue"
    });
    AUI().use(
      "aui-base",
      "liferay-menu",
      "liferay-notice",
      "liferay-poller",
      function (a) {
        (function () {
          Liferay.Util.addInputType();
          Liferay.Portlet.ready(function (b, c) {
            Liferay.Util.addInputType(c);
          });
        })();
        (function () {
          new Liferay.Menu();
          var b = Liferay.Data.notices;
          for (var c = 1; c < b.length; c++) {
            new Liferay.Notice(b[c]);
          }
        })();
      }
    ); /*]]>*/
  </script>
  <script type="text/javascript">
    /*<![CDATA[*/
    function getPanierMenuItem() {
      var c = document.getElementById("navigation").getElementsByTagName("a");
      var a = [];
      for (var d = 0; d < c.length; d++) {
        var e = c[d];
        var b;
        if (e.innerHTML.indexOf("<span>") != -1) {
          b = e.getElementsByTagName("span")[0];
        } else {
          b = e;
        }
        if (b.innerHTML.toUpperCase().indexOf("PANIER") != -1) {
          a.obj = b;
          a.key = "Panier";
          return a;
        } else {
          if (b.innerHTML.toUpperCase().indexOf("BASKET") != -1) {
            a.obj = b;
            a.key = "Basket";
            return a;
          }
        }
      }
      return null;
    }

    function getViewerMenuItem() {
      var c = document.getElementById("navigation").getElementsByTagName("a");
      var a = [];
      for (var d = 0; d < c.length; d++) {
        var e = c[d];
        var b;
        if (e.innerHTML.indexOf("<span>") != -1) {
          b = e.getElementsByTagName("span")[0];
        } else {
          b = e;
        }
        if (b.innerHTML.indexOf(" (") != -1) {
          b.innerHTML = b.innerHTML.substring(0, b.innerHTML.indexOf(" ("));
        }
        if (b.innerHTML.toUpperCase().indexOf("GEOVIEWER") != -1) {
          a.obj = b;
          a.key = b.innerHTML;
          return a;
        } else {
          if (b.innerHTML.toUpperCase().indexOf("VIEWER") != -1) {
            a.obj = b;
            a.key = b.innerHTML;
            return a;
          } else {
            if (b.innerHTML.toUpperCase().indexOf("VISUALISEUR") != -1) {
              a.obj = b;
              a.key = b.innerHTML;
              return a;
            }
          }
        }
      }
      return null;
    } /*]]>*/
  </script>
  <script
    src="https://sextant.ifremer.fr/sxt-minimaliste-theme/js/main.js?browserId=other&amp;minifierType=js&amp;languageId=fr_FR&amp;b=6101&amp;t=1446542669000"
    type="text/javascript"
  ></script>
  <script type="text/javascript">
    /*<![CDATA[*/
    link = document.createElement("link");
    link.href = "http://sextant.ifremer.fr/geonetwork/static/api.css";
    link.rel = "stylesheet";
    link.media = "screen";
    document.getElementsByTagName("head")[0].appendChild(link); /*]]>*/
  </script>
</html>
