<ul
  class="dropdown-menu type-ahead-dropdown"
  ng-init=" $parent.setDropDownSelectors()"
  ng-show="isOpen() || $parent.isInputActive()"
  ng-style="{top: position.top+'px', left: position.left+'px'}"
  role="listbox"
  aria-hidden="{{!isOpen()}}"
>
  <li>
    <!-- we need to look up parent level to find the search form scope -->
    <gn-search-options> </gn-search-options>
  </li>
  <li
    ng-repeat="match in matches track by $index"
    ng-class="{active: isActive($index) }"
    ng-mouseenter="selectActive($index)"
    ng-click="selectMatch($index)"
    role="option"
    id="{{match.id}}"
  >
    <div
      typeahead-match
      index="$index"
      match="match"
      query="query"
      template-url="templateUrl"
    ></div>
  </li>
</ul>
