<div
  class="form-group gn-field gn-nopadding-top gn-nopadding-bottom"
  data-ng-class="{'has-error': !isValidDate, 'gn-required': required}"
>
  <label class="control-label col-sm-2" data-ng-if="label">{{label}}</label>
  <div
    data-ng-class="label ? 'col-sm-9' : 'col-sm-12'"
    class="gn-nopadding-left gn-nopadding-right"
  >
    <!-- Hidden field with the actual date value -->
    <input
      type="hidden"
      class="form-control"
      name="{{elementRef}}"
      value="{{xmlSnippet}}"
    />

    <!-- Date type supported: use our own gnDatePicker -->
    <div
      class="input-group gn-date-picker"
      data-ng-class="{'gn-time-with-ind-position': withIndeterminatePosition}"
      data-ng-show="dateTypeSupported === true"
    >
      <div
        class="input-group gn-indeterminate-position"
        data-ng-show="withIndeterminatePosition"
        data-schema-info-combo="codelist"
        data-selected-info="indeterminatePosition"
        data-gn-schema-info="indeterminatePosition"
        data-allow-blank="true"
        data-init-on-load="true"
        lang="lang"
      ></div>
      <!-- Year, month+year or date input -->
      <input
        type="number"
        class="form-control"
        data-ng-model="year"
        data-ng-show="mode === DATE_MODE.YEAR"
      />
      <input
        type="month"
        class="form-control"
        data-ng-model="month"
        data-ng-show="mode === DATE_MODE.MONTH"
      />
      <input
        type="date"
        class="form-control"
        data-ng-model="date"
        data-ng-show="mode === DATE_MODE.DATE || mode === DATE_MODE.DATETIME"
      />
      <!-- Time input -->
      <input
        type="time"
        class="form-control"
        data-ng-model="time"
        data-ng-show="mode === DATE_MODE.DATETIME && !hideTime"
      />
      <!-- Timezone selector (only if time is to be displayed) -->
      <select
        class="form-control gn-timezone"
        data-ng-model="timezoneObj"
        data-ng-show="mode === DATE_MODE.DATETIME && !hideTime"
        data-ng-options="t as (t.name + ' ' + t.offset) for t in timezoneNames"
      ></select>

      <!-- Date mode selector -->
      <div class="input-group-btn" data-ng-show="!hideDateMode">
        <button
          type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
        >
          <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
        </button>
        <ul
          class="dropdown-menu pull-right"
          role="menu"
          aria-labelledby="{{'chooseOtherTypeOfDate' | translate}}"
        >
          <li role="presentation">
            <a role="menuitem" data-translate="" data-ng-click="setMode(DATE_MODE.DATE)"
              >dateOnlyMode</a
            >
          </li>
          <li role="presentation" data-ng-if="!hideTime">
            <!-- Only present this option if hideTimeInCalendar is false -->
            <a
              role="menuitem"
              data-translate=""
              data-ng-click="setMode(DATE_MODE.DATETIME)"
              >dateTimeMode</a
            >
          </li>
          <li role="presentation">
            <a role="menuitem" data-translate="" data-ng-click="setMode(DATE_MODE.MONTH)"
              >yearAndMonthMode</a
            >
          </li>
          <li role="presentation">
            <a role="menuitem" data-translate="" data-ng-click="setMode(DATE_MODE.YEAR)"
              >yearMode</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Date type not supported: use default AngularJS datetimepicker -->
    <div class="input-group gn-date-picker" data-ng-show="dateTypeSupported !== true">
      <div
        class="input-group gn-indeterminate-position"
        data-ng-show="withIndeterminatePosition"
        data-schema-info-combo="codelist"
        data-selected-info="indeterminatePosition"
        data-gn-schema-info="indeterminatePosition"
        data-allow-blank="true"
        lang="lang"
      ></div>
      <input
        type="text"
        placeholder="YYYY-MM-DDTHH:mm:ss"
        class="form-control"
        data-ng-model="dateInput"
      />
      <div class="input-group-btn">
        <button
          type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
        >
          <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <datetimepicker
            data-ng-model="dateDropDownInput"
            data-on-set-time="formatFromDatePicker"
            data-datetimepicker-config="{minView: 'minute', dropdownSelector: '#dropdown2' }"
          ></datetimepicker>
        </ul>
      </div>
    </div>
  </div>
</div>
