/* to keep footer down -- from http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page */
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font: 16px arial, helvetica, sans-serif;
	color: #064377;
	min-width: 900px;
}

#container {
	min-height: 100%;
	position: relative;
}

#main {
	padding: 3px;
	padding-bottom: 40px; /*height of the footer*/
}

#header header {
	background: #E26F02;
	width: 100%;
}

body>.ext-el-mask {
	background-color: white;
	/**	opacity: 1;**/
}

#header {
	background-image: url('../images/header-background.jpg');
	background-color: white;
	box-shadow: none;
}

#results-main {
	padding: 10px;
}

#results-main h2 {
	font-size: 13px !important;
	font-weight: bold;
}

#results-main h3 {
	font-size: 13px !important;
	font-weight: bold;
}

#legend-search {
	display: none;
}

#simple-search-options-content,#search-form-fieldset {
	width: 100%;
}

#latestChanges {
	margin-top: 10px;
}

#mostPopular div,#latestChanges div {
	margin-bottom: 8px;
}

#mostPopular legend,#latestChanges legend {
	font-size: 0.8em;
	font-weight: bold;
}

.arrow {
	background-image: url('../images/arrow.gif');
	background-repeat: no-repeat;
	padding: 0 0 3px 7px;
	margin-left: 10px;
	font-size: 12px !important;
	color: #064377;
}

#bread-crumb-div,#facets-panel-div {
	padding: 5px;
}

/* ==============
 MOBILE: Menu
 ============== */
#nav ul {
	margin: 0;
	padding: 0;
}

#nav a {
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	float: left;
	padding: 4px 2%;
	margin-bottom: 0;
	margin: 0 1px;
	background: #01669E;
}

#nav a.banner-active {
	background: #FFFFFF;
	color: #01669E;
}

#nav a:hover {
	text-decoration: bolder;
}

#navTop ul {
	margin: 0;
	padding: 0;
}

#navTop a {
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	color: #000000;
	float: left;
	padding: 4px;
	margin-bottom: 0;
	margin: 0 1px;
	background: #CCCCCC;
	border-right: 1px solid #FFFFFF;
}

#navTop a:hover {
	text-decoration: bolder;
}

#lang-form {
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
	float: right;
	background-color: #CCCCCC;
}

.langButton {
	border: none;
	background: none;
	background-color: transparent;
	padding-left: 2px;
	padding-right: 2px;
}

#lang-form .x-btn button,#lang-form .x-box-item {
	color: black;
}

#lang-form .x-panel-body,#lang-form .x-btn-ml,#lang-form .x-btn-bl,#lang-form .x-btn-bc,#lang-form .x-btn-br,#lang-form .x-btn-mc,#lang-form .x-btn-tl,#lang-form .x-btn-tc,#lang-form .x-btn-tr,#lang-form .x-btn-mr
	{
	background: none;
	background-color: transparent;
}

/* ==============
 MOBILE: Main
 ============== */
.main {
	padding: 0;
}

#nav {
	margin: 0px;
	xclear: both;
	float: left;
	max-width: 900px;
	min-width: 705px;
	background-color: #CCCCCC;
	font-size: 0.9em;
	background-color: #CCCCCC;
}

.header_middle {
	width: 100%;
	height: 22px;
	margin: 0 auto;
	background-color: #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
	overflow: hidden;
}

.header_bottom {
	width: 100%;
	margin: 0 auto;
	background-color: #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
	height: 26px;
	overflow: hidden;
	overflow-y: auto;
}

#navTop {
	margin: 0px;
	xclear: both;
	float: left;
	min-width: 200px;
	background-color: #CCCCCC;
	font-size: 0.6em;
	overflow: hidden;
	height: 22px;
}

/* Login form
 */
#login-form,#logout-div {
	float: right;
	font-size: 0.8em;
	background-color: #CCCCCC;
	padding-top: 5px;
}

#login_div label,#logout-div label,#login_div input {
	font-size: 0.8em;
	margin: 2px;
	color: white;
}

#login_div input.banner,#logout-div button.banner {
	font-family: Verdana;
	font-size: 7pt;
	color: #064377;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #266397;
	padding: 1px 6px;
	margin-right: 1px;
}

#login_div #username,#login_div #password {
	width: 80px;
}

/* Search form
*/
#search-form {
	width: auto;
}

#search {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#search-form-fieldset {
	border: 0;
}

#search-container .x-superboxselect-input,#search-container input[type="text"]
	{
	margin: 0;
	padding: 0;
}

#search-container .x-superboxselect ul {
	padding: 2;
	margin: 1;
}

#search-container .x-form-field-wrap .x-superboxselect+.x-form-trigger.x-form-arrow-trigger
	{
	display: none;
}

input[type="button"] {
	font: normal 11px tahoma, verdana, helvetica;
	padding-left: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 13px;
	cursor: pointer;
	margin: 0;
	overflow: visible;
	width: auto;
	outline: 0 none;
	padding-right: 13px;
}

#search-submit {
	padding: 5px;
}

#show-advanced,#hide-advanced {
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	display: block;
}

#search-container>div>div.x-panel-body {
	overflow-y: auto;
}

div#search-container>div>div>div.x-panel>div.x-panel-bwrap>div.x-panel-body.x-panel-body-noheader
	{
	border: none;
}

#resultsPanel .md-action-menu a {
	color: transparent;
	background-image: url("../images/metadata-menu.png");
	background-repeat: no-repeat;
	visibility: visible;
	padding-left: 15px;
	background-position-y: 12px;
	padding-top: 13px;
	width: 15px;
}

#drawPolygonSpan {
	font-size: 12px;
}

/* GeoNetwork Message */
.alert {
	position: absolute;
	right: 35%;
	width: 350px;
	z-index: 20000;
	padding: 12px;
	background-color: rgba(223, 232, 246, 0.7);
	box-shadow: 10px 10px 5px #888888;
	color: black;
	border-radius: 5px;
}

.label-warning {
	color: #01669E;
	font-weight: bold;
}

/*******************************
 Loading application panel
 *******************************/
#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	margin-left: -45px;
	padding: 2px;
	z-index: 20001;
	height: auto;
	border: 1px solid #ccc;
}

#loading a {
	color: #225588;
}

#loading .loading-indicator {
	background: white;
	color: #444;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
	height: auto;
}

#loading .loading-indicator img {
	margin-right: 8px;
	float: left;
	vertical-align: top;
}

#loading-msg {
	font: normal 10px arial, tahoma, sans-serif;
}

/*****************************
 Facets
 *****************************/
div.facets ul {
	padding: 0 0 0 2px !important;
}

div.facets * ul,div.facets * li {
	list-style: none;
}

div.facets>ul>li {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 14px
}

div.facets ul ul {
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 85%;
}

div.facets * .facet-more-bt,div.facets * .facet-less-bt {
	color: #E26F02;
	font-size: 12px;
}

.facet-link {
	font-size: 12px;
	background-image: url('../images/arrow.gif');
	background-repeat: no-repeat;
	padding: 0 0 3px 7px;
	margin-left: 5px;
	color: #064377;
}

/* Result View */
#resultsPanel .x-toolbar {
	background: white;
	border-bottom: 1px solid gray;
}

#resultsPanel {
	min-width: 100%;
}

/* Icon based on protocol prefix in related resource table */
.md-links .x-btn.x-btn-icon {
	width: auto;
	display: inline;
}

.WWWLINK {
	background-image: url(../../images/default/link.png);
}

.WWWDOWNLOAD {
	background-image: url(../../images/default/database_yellow.png);
}

.OGCWMS {
	background-image: url(../../images/default/map/server_picture.png);
}

.OGCWFS {
	background-image: url(../../images/default/map/server_vector.png);
}

.removeLayers {
	background-image: url(../../../images/removeLayers.png);
}

/* Other icons */
.md-mn-reset {
	background-image: url(../../images/default/cross.png);
}

.md-mn-kml {
	background-image: url(../../images/default/google-earth-link.png);
}

.md-mn-www {
	background-image: url(../../images/default/link.png);
}

.xmlIcon {
	background-image: url(../../images/default/page_code.png);
}

.rdfIcon {
	background-image: url(../../images/default/sw-cube.png);
}

.addIcon {
	background-image: url(../../images/default/add.png) !important;
}

.privIcon {
	background-image: url(../../images/default/group_key.png) !important;
}

.childIcon {
	background-image: url(../../images/default/chart_organisation.png)
		!important;
}

.statusIcon {
	background-image: url(../../images/default/tag_blue_add.png) !important;
}

.versioningIcon {
	background-image: url(../../images/default/date_go.png) !important;
}

.downloadAllIcon {
	background-image: url(../../images/default/folder_page_white.png)
		!important;
}

.searchIcon {
	background-image: url(../../images/default/find.png) !important;
}

.validationReportIcon {
	background-image: url(../../images/default/schematron.gif) !important;
}

.shortcutHelpIcon {
	background-image: url(../../images/default/schematron.gif) !important;
}

.viewModeIcon {
	background-image: url(../../images/default/application_view_tile.png)
		!important;
}

.linkIcon {
	background-image: url(../../images/default/link.png) !important;
}

.addVector {
	background-image: url(../../images/default/vector_add.png) !important;
}

.delVector {
	background-image: url(../../images/default/vector_delete.png) !important;
}

.connect {
	background-image: url(../../images/default/connect.png) !important;
}

.subtemplateIcon {
	background-image: url(../../images/default/report_magnify.png)
		!important;
}

.processMetadata {
	background-image: url(../../images/default/table_gear.png) !important;
}

.repository {
	background-image: url(../../images/default/database_yellow.png)
		!important;
	background-repeat: no-repeat;
	padding-left: 15px;
}

/* Fix ExtJs menu margin, otherwise the normalize.css adds too much margin to this component */
ul.x-menu-list {
	margin: 0px;
}

#search-container div.x-superboxselect ul {
	margin: 0px
}

#search-reset {
	margin-left: 30px;
	padding: 5px;
}

.metadatatitle:hover .metadatatitletooltip { /* NEW */
    display: block;
}


.metadatatitletooltip {
    display: none;  /* NEW */
    color: #0076a1;
    background: #C8C8C8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    max-width:85%;
}
