<?xml version="1.0" encoding="UTF-8"?>
<strings>
	<site>Сайт</site>
	<name>Имя</name>
	<organ>Организация</organ>

	<server>Сервер</server>
	<host>Хост</host>
	<port>Порт</port>
    <protocol>Protocol</protocol>

	<searchStats>Search Statistics</searchStats>

	<threadedindexing>Multi-threaded Indexing</threadedindexing>
	<maxthreads>Number of processing threads</maxthreads>
	<recommendedThreads>Recommended</recommendedThreads>
	<reasonForOne>Database not tested or doesn't support</reasonForOne>
	<reasonForMore>From number of processors</reasonForMore>

    <multilingual>Многоязычный настройки</multilingual>
    <autoDetectEnable>Включение автоматического обнаружения языка поискового запроса</autoDetectEnable>
    <requestedlanguageonly>Искать только в запрашиваемом языке</requestedlanguageonly>
    <requestedlanguagesorted>Результаты поиска в отсортированных просил язык на вершине</requestedlanguagesorted>
    <requestedlanguageignored>Игнорировать просил язык в поиске</requestedlanguageignored>

	<intranet>Локальная сеть</intranet>
	<network>Адрес</network>
	<netmask>Маска</netmask>

	<selectionmanager>Metadata Search Results</selectionmanager>
	<maxrecords>Maximum selected records</maxrecords>

	<indexoptimizer>Lucene Index Optimizer</indexoptimizer>
		<at>Run at</at>
		<atSpec>( hour of day : minute eg. 23:15 )</atSpec>
		<interval>Will run again every</interval>
		<hourintervals>
			<hour label="1 hour (not recommended)">1</hour>
			<hour label="3 hours">3</hour>
			<hour label="6 hours">6</hour>
			<hour label="12 hours">12</hour>
			<hour label="1 day">24</hour>
			<hour label="2 days">48</hour>
			<hour label="3 days">72</hour>
			<hour label="4 days">96</hour>
		</hourintervals>
		<hours>
			<hour label="0">0</hour>
			<hour label="1">1</hour>
			<hour label="2">2</hour>
			<hour label="3">3</hour>
			<hour label="4">4</hour>
			<hour label="5">5</hour>
			<hour label="6">6</hour>
			<hour label="7">7</hour>
			<hour label="8">8</hour>
			<hour label="9">9</hour>
			<hour label="10">10</hour>
			<hour label="11">11</hour>
			<hour label="12">12</hour>
			<hour label="13">13</hour>
			<hour label="14">14</hour>
			<hour label="15">15</hour>
			<hour label="16">16</hour>
			<hour label="17">17</hour>
			<hour label="18">18</hour>
			<hour label="19">19</hour>
			<hour label="20">20</hour>
			<hour label="21">21</hour>
			<hour label="22">22</hour>
			<hour label="23">23</hour>
		</hours>
		<minutes>
			<minute label="0">0</minute>
			<minute label="15">15</minute>
			<minute label="30">30</minute>
			<minute label="45">45</minute>
		</minutes>

	<z3950>Сервер Z39.50</z3950>
	<enable>Включить</enable>

	<oai>OAI Provider</oai>
		<datesearch>Datesearch</datesearch>
		<datesearchopt>
			<dsopt label="temporal extent">1</dsopt>
			<dsopt label="modification date">2</dsopt>
		</datesearchopt>
	
		<tokentimeout>ResumptionToken Timeout </tokentimeout>
		<cachesize>Cachesize</cachesize>

	<xlinkResolver>XLink Resolver</xlinkResolver>

    <inspire>INSPIRE</inspire>
	
	<harvester>Harvesting</harvester>
	<enableEditing>Allow editing on harvested records</enableEditing>
	
	<downloadservice>Data-For-Download Service</downloadservice>
	<leave>Use metadata linkage as is - no changes to linkage</leave>
	<simple>Use GeoNetwork simple file download service (resources.get)</simple>
	<withdisclaimer>Use GeoNetwork disclaimer and constraints service (file.disclaimer)</withdisclaimer>

	<csw>CSW ISO Profile</csw>
	<contactId>Contact</contactId>
	<title>Title</title>
	<abstract>Abstract</abstract>
	<fees>Fees</fees>
	<accessConstraints>Access Constraints</accessConstraints>
    <cswMetadataPublic>Inserted metadata is public</cswMetadataPublic>
	
	<clickablehyperlinks>Работающую гиперссылку</clickablehyperlinks>
	
	<localrating>Местные Рейтинг</localrating>
    <autofixing>Автоматического исправления</autofixing>

	<proxy>Прокси</proxy>
	<use>Использовать</use>
	<username>Пользователь</username>

	<feedback>Обратная связь</feedback>
	<email>Электронная почта</email>
	<smtpHost>SMTP-хост</smtpHost>
	<smtpPort>SMTP-порт</smtpPort>

	<userSelfRegistration>User Self-Registration</userSelfRegistration>

	<removedMetadata>Удаленные метаданные</removedMetadata>
	<dir>Каталог</dir>

	<authentication>Аутентификация</authentication>
	
	<loginuses>Login uses</loginuses>
	<otherlogins>Allow other users to login from</otherlogins>

	<geonetworkdb>Аутентификация GeoNetwork</geonetworkdb>
		
	<ldap>Аутентификация LDAP</ldap>
	<defProfile>Профиль по умолчанию</defProfile>
    <uidAttr>Uid attribute</uidAttr>
	<login>Логин</login>
	<userDN>Пользовательский DN</userDN>
	<distNames>Distinguished names</distNames>
	<baseDN>Base</baseDN>
	<usersDN>Users</usersDN>
	<userAttribs>Атрибуты пользователя</userAttribs>
	<password>Пароль</password>
	<profile>Profile</profile>
    <group>Group</group>
    <defGroup>Default group</defGroup>
	<subtree>Search Subtree</subtree>
	<bindInfo>LDAP Bind Credentials</bindInfo>
	<anonBind>Anonymous Bind</anonBind>
	<bindDN>Bind DN</bindDN>
	<bindPW>Bind Password</bindPW>
	
	<tip id="ldap.anonBind">
		If set, the server does not need a valid set of credentials to connect to LDAP.
	</tip>
	<tip id="ldap.bindDN">
		A valid user to use on initial connection to LDAP.
	</tip>
	<tip id="ldap.bindPW">
		Password to use for initial connection to LDAP.
	</tip>
	<tip id="ldap.subtree">
		When set, searches for users in the entire subtree rooted at the location specified by the distinguished names.
	</tip>
	
	<shib>Аутентификация Shibboleth</shib>
	<path>Path</path>
	<attributes>Shibboleth attribute mapping</attributes>
	<surname>Фамилия</surname>
	<firstname>Имя</firstname>

    <metadataEnableInspireSearch>Enable search panel</metadataEnableInspireSearch>

    <metadataViews>Metadata views</metadataViews>
    <metadataEnableSimpleView>Enable simple view</metadataEnableSimpleView>
    <metadataEnableIsoView>Enable ISO view</metadataEnableIsoView>
    <metadataEnableInspireView>Enable INSPIRE view</metadataEnableInspireView>
    <metadataEnableXmlView>Enable XML view</metadataEnableXmlView>
    <metadataDefaultView>Default view</metadataDefaultView>
    <metadataSimpleView>Simple view</metadataSimpleView>
    <metadataIsoView>ISO view</metadataIsoView>
    <metadataInspireView>INSPIRE view</metadataInspireView>
    <metadataXmlView>XML view</metadataXmlView>
    <metadataAdvancedView>Advanced view</metadataAdvancedView>
	
	<metadataPrivs>Metadata privileges</metadataPrivs>
	<md.usergrouponly>Only set privileges to user's groups</md.usergrouponly>
	<!-- Buttons -->

	<save>Сохранить</save>
	<refresh>Обновить</refresh>

	<!-- validator messages -->

	<validator>
		<length>
			<cannotBeEmpty>Поле '{NAME}' не может быть пустым</cannotBeEmpty>
			<invalidMinSize>Поле '{NAME}' должно содержать хотя бы {VALUE} символов</invalidMinSize>
			<invalidMaxSize>Поле '{NAME}' должно содержать не более {VALUE} символов</invalidMaxSize>
		</length>

		<integer>
			<notInt>Поле '{NAME}' должно быть числом</notInt>
			<invalidMinValue>Поле '{NAME}' должно быть не меньше {VALUE}</invalidMinValue>
			<invalidMaxValue>Поле '{NAME}' должно быть не больше {VALUE}</invalidMaxValue>
		</integer>

		<alphanum>
			<notAlphaNumeric>Поле '{NAME}' должно содержать только буквы и цифры (и начинаться с буквы)</notAlphaNumeric>
		</alphanum>

		<hostname>
			<notHostName>Поле '{NAME}' не является допустимым именем хоста</notHostName>
		</hostname>

		<url>
			<notURL>Поле '{NAME}' не является допустимым адресом URL</notURL>
		</url>

		<ipaddress>
			<notIP>Поле '{NAME}' не является допустимым IP-адресом</notIP>
		</ipaddress>
	</validator>

	<!-- display messages -->

	<cannotGet>Конфигурация системы не может быть получена</cannotGet>
	<cannotSave>Конфигурация системы не может быть сохранена</cannotSave>
	<saveOk>Конфигурация системы сохранена.</saveOk>

	<!-- tooltips -->

	<tips>
		<tip id="site.name">
			Используется для идентификации установки.
		</tip>

		<!-- server -->

		<tip id="server.host">
			<b>Хост</b> и <b>Порт</b> используются для создания ссылок на сервер
			GeoNetwork. Например, они применяются при редактировании метаданных для
			создания ссылок на ресурсы, возвращаемых при поиске.<br/>
			<b>Примечание:</b> Для изменения данных параметров <i>внутри</i>
			метаданных необходимо использовать GAST.
		</tip>

		<!-- intranet -->

		<tip id="intranet.network">
			Параметры <b>Адрес</b> и <b>Маска</b> используются для идентификации
			внутренних соединений с GeoNetwork из локальной сети.
		</tip>

		<!-- Z39.50 -->

		<tip id="z3950.enable">
			Если установлено, во время запуска GeoNetwork инициализирует
			сервис Z39.50, использующий протокол ISO23950.<br/>
			<b>Примечание:</b> Для вступления изменений в силу необходимо
			перезапустить GeoNetwork.
		</tip>

		<tip id="z3950.port">
			Порт для обмена информацией по протоколу Z39.50.<br/>
			<b>Примечание:</b> Для вступления изменений в силу необходимо
			перезапустить GeoNetwork.
		</tip>
	
		<!-- oai  -->
		
		<tip id="oai.mdmode">
			Influences the behaviour of OAI when parameters from or until are supplied.
			If set to temporal extent, the temporal extent of the date described by the metadata is searched.
			If set to modification date, the date at which the metadata was last modified is searched
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		
		<tip id="oai.tokentimeout">
			The number of seconds a OAI resultset stays in the cache and can be scrolled using the OAI resumptionToken
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		
		<tip id="oai.cachesize">
			The number of OAI resultSets that can be stored in the Cache.
		</tip>

		<!-- CSW ISO Profile -->
		<tip id="csw.enable">
			If set, this will enable the CSW ISO Profile server functionnality. It will allow other catalogs to harvest it.
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		<tip id="csw.contactId">
			Configure CSW ISO Profile contact for GetCapabilities operation.
		</tip>
		<tip id="csw.title">Title</tip>
		<tip id="csw.abstract">Abstract</tip>
		<tip id="csw.fees">Fees</tip>
		<tip id="csw.accessConstraints">Access constraints</tip>
	
		<!-- clickable hyperlinks -->
		
		<tip id="clickablehyperlinks.enable">
			Если установлено, GeoNetwork покажет работающую гиперссылку в метаданных.
		</tip>

		<!-- local rating -->
		<tip id="localrating.enable">
			Если установлено, GeoNetwork будет вычислять пользователей оценки для метаданных из этого узла (хоть и не распределяется между другими узлами GeoNetwork).
		</tip>
		
		<!-- automatic fixes -->
		<tip id="autofixing.enable">
            Когда включен, GeoNetwork автоматически применяет определенные исправления при сохранении метаданных.
        </tip>

		<!-- proxy -->

		<tip id="proxy.use">
			Если установлено, GeoNetwork будет использовать установленные параметры
			прокси-сервера для соединения с удаленными узлами, например, при поиске.
		</tip>

		<!-- feedback -->

		<tip id="feedback.email">
			Адрес электронной почты администратора для обратной связи.
		</tip>

		<tip id="feedback.mail.host">
			<b>SMTP-host</b> и <b>SMTP-порт</b> используются для отправки электронной
			почты с уведомлениями пользователям системы.
		</tip>

		<!-- removed metadata -->

		<tip id="removedMd.dir">
			Каталог для хранения метаданных (в формате MEF) после их удаления.
		</tip>
        <!-- userSelfRegistration -->
		
		<tip id="userSelfRegistration.enable">
			If set, users will be able to register themselves. Self-registered
			users are assigned to the GUEST group. An email is sent to the
			user with their username and password enclosed using the feedback
			email information.
			<br/>
		</tip>


		
		<tip id="downloadservice.simple">
				If metadata protocol is 'Data for download' then this service lets the user download the resource from GeoNetwork with no further user input - it is the simplest download interface
		</tip>
		<tip id="downloadservice.withdisclaimer">
				If metadata protocol is 'Data for download' then this service lets the user download the resource from GeoNetwork after they have agreed to accept any metadata constraints/generic disclaimer. The resource is bundled into a zip archive with an html description of the metadata constraints and a snapshot of the metadata record (as a MEF).
		</tip>
		<tip id="downloadservice.leave">
				Selecting this option means that GeoNetwork will not handle file downloads.
		</tip>

		<!-- xlinkResolver -->

		<tip id="xlinkResolver.enable">
			If set, XLinks to metadata fragments in records will be resolved.
		</tip>

		<!-- searchStats -->

		<tip id="searchStats.enable">
			If set, Statistics on searches will be collected and stored in the database.
		</tip>

        <!-- multilingual settings -->
        <tip id="autodetect.enable">
            Если установлено, поиск языка автоматически. Обратите внимание, что это не очень хорошо работают на короткие сроки поиска.
        </tip>
        <tip id="requestedlanguage.only">
            Только возвращать результаты поиска в требуемом языке.
        </tip>
        <tip id="requestedlanguage.sorted">
            Вернуться в результаты поиска в запрашиваемом языке на вершине.
        </tip>
        <tip id="requestedlanguage.ignored">
            Игнорировать просил язык для результатов поиска.
        </tip>

    </tips>
	<data.dataDir>Data directory:</data.dataDir>
	<data.resources>Resources directory:</data.resources>
	<data.configDir>Configuration directory:</data.configDir>
	<data.schemaPluginsDir>Schema plugin directory:</data.schemaPluginsDir>
	<data.subversionPath>Subversion directory:</data.subversionPath>
	<data.codeListDir>Thesaurus directory:</data.codeListDir>
	<xslt.factory>XSLT factory:</xslt.factory>
	<java.vm.name>JVM name:</java.vm.name>
	<java.vm.vendor>JVM vendor:</java.vm.vendor>
	<java.version>JVM version:</java.version>
	<os.arch>System architecture:</os.arch>
	<os.name>System name:</os.name>
	<mem.total>Total memory:</mem.total>
	<mem.free>Total free memory:</mem.free>
	<index.size.lucene>Lucene index size (ko):</index.size.lucene>
	<index.size>Total index size (ko):</index.size>
	<index.path>Index directory:</index.path>
	<index>Lucene index information</index>
	<main>System information</main>
	<catalogue>Catalogue information</catalogue>
	<database>Database information</database>
	<system>Catalogue configuration</system>
	<siteId>Catalogue identifier:</siteId>
	<version>Version:</version>
	<subVersion>Sub-version:</subVersion>
	<index.lucene.config>Lucene configuration:</index.lucene.config>
	<db.url>Database URL:</db.url>	
	<db.openattempt>Database Status:</db.openattempt>	
	<db.numactive>Database connections in use:</db.numactive>	
	<db.numidle>Database connections available:</db.numidle>	
	<db.maxactive>Maximum number of database connections:</db.maxactive>	
	<db.statserror>Database statistics:</db.statserror>
    <sequentialExecution>ThreadPool Sequential Execution Mode: </sequentialExecution>
</strings>
