<?xml version="1.0" encoding="UTF-8"?><strings>
<setting label="System configuration" name="system"/>
<setting label="Language detection" name="autodetect"/>
<setting label="Enable auto-detecting search request language" name="system/autodetect/enable"/>
<setting label="Otomatik Düzeltmeler" name="autofixing"/>
<setting label="İzin ver" name="system/autofixing/enable">
			Etkinleştirildiği zaman, üstveriler kaydedildiğinde GeoNetwork otomatik olarak verileri üzerindeki belirli düzeltme işlemlerini uygulayacaktır.

		</setting>
<setting label="Tıklanabilir üstbağ" name="clickablehyperlinks"/>
<setting label="İzin ver" name="system/clickablehyperlinks/enable">
			Eğer ayarlanmış ise, GeoNetwork tıklanabilir üstbağları üstveri içerisinde gösterecektir.
		</setting>
<setting label="CSW ISO Profil" name="csw"/>
<setting label="Bağlantı" name="system/csw/contactId"/>
<setting label="İzin ver" name="system/csw/enable"/>
<setting label="Eklenen üstveri genedir." name="system/csw/metadataPublic"/>
<setting label="İndirme Verisi Servisi" name="downloadservice"/>
<setting label="İndirme Verisi Servisi" name="system/downloadservice"/>
<setting label="Üstveri bağlantısını kullanınız - bağlantı için değişiklik yok" name="system/downloadservice/leave">
				Bu opsiyonun seçilmesi, GeoNetwork'ün dosya indirilmesi işlemini yapmayacağı anlamına gelir.
				
		</setting>
<setting label="GeoNetwork basit dosya indirme servisini kullanınız(resources.get)" name="system/downloadservice/simple">
				Eğer üstveri protokolü "İndirmek için uygun veri" ise, bu servis daha fazla kullanıcı girdisine gerek duymadan kullanıcıların GeoNetwork'den kaynak indirmelerine izin verir - bu en basit dosya indirme arayüzüdür.
				
		</setting>
<setting label="GeoNetwork feragat ve kısıt servisini kullanınız(file.disclaimer)" name="system/downloadservice/withdisclaimer">
				Eğer üstveri protokolü "İndirmek için uygun veri" ise, bu servis kullanıcılar üstveri kısıt/genel feragatını kabul etmeyi onayladıktan sonra kullanıcıların GeoNetwork'den kaynak indirmelerine izin verir. Bu kaynaklar bir zip arşivi olarak üstveri kısıtlarının html tanımı ve üstveri kaydının bellek kopyası ile birlikte paketlenmiştir. (MEF olarak)
			
		</setting>
<setting label="Geribildirim" name="feedback"/>
<setting label="EMail" name="system/feedback/email">
			Geribildirim göndermek için kullanılan yönetici email adresidir.

		</setting>
<setting label="SMTP Ana sistem (Host) " name="system/feedback/mailServer/host">
			Bir kaynak indirildiğinde GeoNetwork kullanıcılarına email gönderileceği zaman, SMTP ana sistem(host) ve bağlantı noktası (port) parametreleri kullanılır.
			
		</setting>
<setting label="SMTP Bağlantı noktası (Port)" name="system/feedback/mailServer/port"/>
<setting name="system/feedback/mailServer/ssl" label="Use SSL"/>
<setting name="system/feedback/mailServer/username" label="User name"/>
<setting name="system/feedback/mailServer/password" label="Password"/>
<setting label="Harvesting" name="harvester"/>
<setting label="Allow editing on harvested records" name="system/harvester/enableEditing"/>
<setting label="Metadata / ISO19139 / Nil reason attribute with held" name="hidewithheldelements"/>
<setting label="Hide Withheld Elements" name="system/hidewithheldelements/enable"/>
<setting label="Keep Marked Element" name="system/hidewithheldelements/keepMarkedElement"/>
<indexoptimizer>Lucene*** İçerik İyileyici</indexoptimizer>
<at>Çalıştır</at>
<atSpec>( saat: örneğin 23:15 )</atSpec>
<interval>Aşağıdaki zaman dilimlerinde yeniden çalışacak</interval>
<hourintervals>
<hour label="1 hour (not recommended)">1</hour>
<hour label="3 hours">3</hour>
<hour label="6 hours">6</hour>
<hour label="12 hours">12</hour>
<hour label="1 day">24</hour>
<hour label="2 days">48</hour>
<hour label="3 days">72</hour>
<hour label="4 days">96</hour>
</hourintervals>
<hours>
<hour label="0">0</hour>
<hour label="1">1</hour>
<hour label="2">2</hour>
<hour label="3">3</hour>
<hour label="4">4</hour>
<hour label="5">5</hour>
<hour label="6">6</hour>
<hour label="7">7</hour>
<hour label="8">8</hour>
<hour label="9">9</hour>
<hour label="10">10</hour>
<hour label="11">11</hour>
<hour label="12">12</hour>
<hour label="13">13</hour>
<hour label="14">14</hour>
<hour label="15">15</hour>
<hour label="16">16</hour>
<hour label="17">17</hour>
<hour label="18">18</hour>
<hour label="19">19</hour>
<hour label="20">20</hour>
<hour label="21">21</hour>
<hour label="22">22</hour>
<hour label="23">23</hour>
</hours>
<minutes>
<minute label="0">0</minute>
<minute label="15">15</minute>
<minute label="30">30</minute>
<minute label="45">45</minute>
</minutes>
<setting label="Lucene*** İçerik İyileyici" name="indexoptimizer"/>
<setting label="Hour" name="system/indexoptimizer/at/hour"/>
<setting label="Sec" name="system/indexoptimizer/at/sec"/>
<setting label="Minutes" name="system/indexoptimizer/at/min"/>
<setting label="İzin ver" name="system/indexoptimizer/enable"/>
<setting label="Aşağıdaki zaman dilimlerinde yeniden çalışacak" name="system/indexoptimizer/interval"/>
<setting label="Day" name="system/indexoptimizer/interval/day"/>
<setting label="Hour" name="system/indexoptimizer/interval/hour"/>
<setting label="Min" name="system/indexoptimizer/interval/min"/>
<setting label="INSPIRE***" name="inspire"/>
<setting label="İzin ver" name="system/inspire/enable"/>
<setting label="Enable search panel" name="system/inspire/enableSearchPanel"/>
<setting label="Intranet" name="intranet"/>
<setting label="Ağ (Network)" name="system/intranet/netmask"/>
<setting label="Netmask***" name="system/intranet/network">
			Ağ(network) ve netmask*** parametreleri GeoNetwork'ün dahili bağlantılarını tanımlamak için kullanılmaktadır, bu da intranet grubunun tanımlanabilmesini sağlar.
	
		</setting>
<setting label="Yerel Değerlendirme" name="localrating"/>
<setting label="İzin ver" name="system/localrating/enable">
			Eğer ayarlanmış ise, GeoNetwork kullanıcı değerlendirmelerini bu ağdan elde edilen üstveriler için hesaplayacaktır. (diğer GeoNetwork ağların arasında dağıtılmış olanlar değil)

		</setting>
<setting label="Metadata views" name="metadata"/>
<setting label="Default view" name="system/metadata/defaultView"/>
<setting label="INSPIRE view" name="system/metadata/enableInspireView"/>
<setting label="ISO view" name="system/metadata/enableIsoView"/>
<setting label="Simple view" name="system/metadata/enableSimpleView"/>
<setting label="XML view" name="system/metadata/enableXmlView"/>
<setting label="Metadata privileges" name="metadataprivs"/>
<setting label="Only set privileges to user's groups" name="system/metadataprivs/usergrouponly"/>
<setting label="OAI Sağlayıcı" name="oai"/>
<setting label="Önbellek boyu(Cachesize)" name="system/oai/cachesize">
			Önbellekte saklanabilen OAI sonuç grubu sayısı.
			
		</setting>
<setting label="Veri arama" name="system/oai/mdmode">
			Parametreler elde edildikten itibaren OAI davranışlarını etkiler.
			Eğer geçici alan ayarlanmış ise, üstveri tarafından tarif edilen geçici alan tarihi araştırılır.
			Eğer değiştirme tarihi ayarlanmış ise, üstverinin en son dğiştirildiği tarih araştırılır.

			
			Not: Bu değişikliği aktifleştirmek için GeoNetwork'ü tekrar çalıştırınız.
		</setting>
<datesearchopt>
<dsopt label="geçici alan">1</dsopt>
<dsopt label="değiştirme tarihi">2</dsopt>
</datesearchopt>
<setting label="ResumptionToken*** Zaman Aşımı " name="system/oai/tokentimeout">
			Bir OAI sonuç grubunun önbellekte kaldığı saniye sayısı.
		
			
			Not: Bu değişikliği aktifleştirmek için GeoNetwork'ü tekrar çalıştırınız.
		</setting>
<setting label="Proxy" name="proxy"/>
<setting label="Ana sistem(Host)" name="system/proxy/host">
			Eğer ayarlanmış ise, GeoNetwork uzak ağlara erişirken sağlanmış proxy parametrelerini kullanacaktır. Örneğin, harmanlama boyunca kullanılır.
			
		</setting>
<setting label="Password" name="system/proxy/password"/>
<setting label="Bağlantı Noktası(Port)" name="system/proxy/port"/>
<setting label="Kullan" name="system/proxy/use"/>
<setting label="Kullanıcı adı" name="system/proxy/username"/>
<setting label="Silinmiş üstveri" name="removedMetadata"/>
<setting label="Altdizin" name="system/removedMetadata/dir">
			Üstveriler silindikleri zaman altdizinde saklanırlar (MEF formatında)
			
		</setting>
    <setting name="system/requestedLanguage/ignorechars" label="Characters to ignore during indexing"/>
<requestedlanguageonly>Search only in requested language</requestedlanguageonly>
<requestedlanguage_offonly>All documents in all languages (No
                preferences)</requestedlanguage_offonly>
<requestedlanguageprefer_locale>Prefer documents with translations requested
                language</requestedlanguageprefer_locale>
<requestedlanguageprefer_docLocale>Prefer documents whose language is the requested
                language</requestedlanguageprefer_docLocale>
<requestedlanguage_localeonly>Translations in requested
                language</requestedlanguage_localeonly>
<requestedlanguage_docLocaleonly>Document language is the requested
                language</requestedlanguage_docLocaleonly>
<requestedlanguage_prefer_ui_locale>Prefer documents having translations in the UI language</requestedlanguage_prefer_ui_locale>
<requestedlanguage_only_ui_locale>Only documents having translations in the UI language</requestedlanguage_only_ui_locale>
<requestedlanguage_prefer_ui_docLocale>Prefer documents having the same language as the UI language</requestedlanguage_prefer_ui_docLocale>
<requestedlanguage_only_ui_docLocale>Only documents having the same language as the UI language</requestedlanguage_only_ui_docLocale>


    <setting label="Search &amp; language" name="requestedLanguage"/>
<setting label="Search only in requested language" name="system/requestedLanguage/only"/>
<setting label="Search results in requested language sorted on top" name="system/requestedLanguage/sorted"/>
<setting label="" name="system/requestedLanguage/ignored"/>
<setting label="Search Statistics" name="searchStats"/>
<setting label="İzin ver" name="system/searchStats/enable"/>
<setting label="Metadata Search Results" name="selectionmanager"/>
<setting label="Ençok seçilen kayıtlar" name="system/selectionmanager/maxrecords"/>
<setting label="Catalog server" name="server"/>
<setting label="Sunucu(Server)" name="system/server"/>
<setting label="Ana sistem(Host)" name="system/server/host">
			Sunucunun ana sistem (host) ve bağlantı noktası (port) GeoNetwork sunucusuna URL yaratmak için kullanılmaktadır. Örneğin, üst veri düzenlemesi boyunca kaynak bağlantılarını oluşturmak için ve CS/W talebi süresince sunucunun kapasitesini geri vermek için kullanılır.
			
			
			Not: bu değişikliği üstveriye aktarmak için GAST aracını kullanmalısınız.
		</setting>
<setting label="Bağlantı Noktası(Port)" name="system/server/port"/>
<setting label="Preferred Protocol" name="system/server/protocol"/>
<setting label="Secure Port" name="system/server/securePort"/>
<setting label="Shibboleth***" name="shib"/>
<setting label="Shibboleth*** özellik haritası" name="system/shib/attrib"/>
<setting label="Default group" name="system/shib/defaultGroup"/>
<setting label="Yol" name="system/shib/path"/>
<setting label="EMail" name="system/shib/email"/>
<setting label="Kullanıcı adı" name="system/shib/username"/>
<setting label="Soyadı" name="system/shib/surname"/>
<setting label="Adı" name="system/shib/firstname"/>
<setting label="Profile" name="system/shib/profile"/>
<setting label="İzin ver" name="system/shib/use"/>
<setting label="Site" name="site"/>
<setting label="İsim" name="system/site/name">
			Kurulumun tanımlanması için kullanılmıştır.
		</setting>
<setting label="Organizasyon" name="system/site/organization"/>
<setting label="Site" name="system/site/siteId"/>
<recommendedThreads>Recommended</recommendedThreads>
<reasonForOne>Database not tested or doesn't support</reasonForOne>
<reasonForMore>From number of processors</reasonForMore>
<setting label="Indexing" name="threadedindexing"/>
<setting label="Number of processing threads" name="system/threadedindexing/maxthreads"/>
<setting label="Kullanıcı kaydı" name="userSelfRegistration"/>
<setting label="İzin ver" name="system/userSelfRegistration/enable">
			Eğer ayarlanmış ise, kullanıcılar kendi kendilerine kayıt olabileceklerdir. Kendi kendilerine kayıt olmuş kullanıcılar KONUK (GUEST) grubuna eklenirler. Bu kullanıcılara, geribildirim email bilgileri kullanılarak
			kullanıcı adları ve şifrelerinin bulunduğu bir email gönderilir.
		
			
		</setting>
<setting label="XLink Çözücü" name="xlinkResolver"/>
<setting label="İzin ver" name="system/xlinkResolver/enable">
			Eğer ayarlanmış ise, kayıtlardaki üstveri parçaları XLink çözücü ile çözülür.

		</setting>
<setting label="Z39.50 Sunucu" name="z3950"/>
<setting label="İzin ver" name="system/z3950/enable">
			Başlangıç süresince GeoNetwor Z39.50 sunucu bileşeninde başlayacaktır.
			Bu bileşen ISO23950 protokolünü kullanır.
			
			Not: Bu değişikliği aktifleştirmek için GeoNetwork'ü tekrar çalıştırınız.
		</setting>
<setting label="Bağlantı Noktası(Port)" name="system/z3950/port">
			Z39.50 dinleme bağlantı noktasını (port) değiştiriniz.
			
			
			Not: Bu değişikliği aktifleştirmek için GeoNetwork'ü tekrar çalıştırınız.
		</setting>
<setting name="system/site/siteId">Site</setting>
<setting name="system/platform/version">Version:</setting>
<setting name="system/platform/subVersion">Sub-version:</setting>
<setting label="Subversion repository identifier" name="system/site/svnUuid"/>
<multilingual>Multilingual settings</multilingual>
<autoDetectEnable>Enable auto-detecting search request language</autoDetectEnable>
<csw>CSW ISO Profil</csw>
<contactId>Bağlantı</contactId>
<title>Başlık</title>
<abstract>Özet</abstract>
<fees>Ücret</fees>
<accessConstraints>Erişim Kısıtları</accessConstraints>
<cswMetadataPublic>Eklenen üstveri genedir.</cswMetadataPublic>
<dir>Altdizin</dir>
<authentication>Kimlik denetleme</authentication>
<otherlogins>Diğer kullanıcıların oturum açmasına izin ver</otherlogins>
<shib>Shibboleth***</shib>
<metadataEnableInspireSearch>Enable search panel</metadataEnableInspireSearch>
<metadataViews>Metadata views</metadataViews>
<metadataEnableSimpleView>Enable simple view</metadataEnableSimpleView>
<metadataEnableIsoView>Enable ISO view</metadataEnableIsoView>
<metadataEnableInspireView>Enable INSPIRE view</metadataEnableInspireView>
<metadataEnableXmlView>Enable XML view</metadataEnableXmlView>
<metadataDefaultView>Default view</metadataDefaultView>
<metadataSimpleView>Simple view</metadataSimpleView>
<metadataIsoView>ISO view</metadataIsoView>
<metadataInspireView>INSPIRE view</metadataInspireView>
<metadataXmlView>XML view</metadataXmlView>
<metadataAdvancedView>Advanced view</metadataAdvancedView>
<save>Kaydet</save>
<refresh>Yenile</refresh>
<tips>
<tip id="csw.enable">
			Eğer ayarlanmış ise, bu özellik CSW ISO Profil sunucusunun işlevselliğini sağlar. Diğer katalogların onu harmanlamasına izin verecektir.
			<br/>
			<b>Not:</b> Bu değişikliği aktifleştirmek için GeoNetwork'ü tekrar çalıştırınız.
		</tip>
<tip id="csw.contactId">
			GetCapabilities işlemleri için CSW ISO Profil bağlantısını konfigüre ediniz.
		
		</tip>
<tip id="csw.title">Başlık</tip>
<tip id="csw.abstract">Özet</tip>
<tip id="csw.fees">Ücret</tip>
<tip id="csw.accessConstraints">Erişim Kısıtları</tip>
</tips>
<data.dataDir>Data directory:</data.dataDir>
<data.resources>Resources directory:</data.resources>
<data.configDir>Configuration directory:</data.configDir>
<data.schemaPluginsDir>Schema plugin directory:</data.schemaPluginsDir>
<data.subversionPath>Subversion directory:</data.subversionPath>
<data.codeListDir>Thesaurus directory:</data.codeListDir>
<xslt.factory>XSLT factory:</xslt.factory>
<java.vm.name>JVM name:</java.vm.name>
<java.vm.vendor>JVM vendor:</java.vm.vendor>
<java.version>JVM version:</java.version>
<os.arch>System architecture:</os.arch>
<os.name>System name:</os.name>
<mem.total>Total memory:</mem.total>
<mem.free>Total free memory:</mem.free>
<index.size.lucene>Lucene index size (ko):</index.size.lucene>
<index.size>Total index size (ko):</index.size>
<index.path>Index directory:</index.path>
<index>Lucene index information</index>
<main>System information</main>
<catalogue>Catalogue information</catalogue>
<database>Database information</database>
<index.lucene.config>Lucene configuration:</index.lucene.config>
<db.url>Database URL:</db.url>
<db.openattempt>Database Status:</db.openattempt>
<db.numactive>Database connections in use:</db.numactive>
<db.numidle>Database connections available:</db.numidle>
<db.maxactive>Maximum number of database connections:</db.maxactive>
<db.statserror>Database statistics:</db.statserror>
<sequentialExecution>ThreadPool Sequential Execution Mode: </sequentialExecution>
</strings>
