<li class="clearfix hidden-xs" data-ng-show="gnCfg.mods.home.enabled" role="menuitem">
  <a class="pull-left gn-logo-link" data-gn-active-tb-item="{{gnCfg.mods.home.appUrl}}">
    <img
      class="gn-logo"
      data-ng-hide="{{gnCfg.mods.header.isLogoInHeader}}"
      alt="{{'siteLogo' | translate}}"
      data-ng-src="{{gnUrl}}../images/logos/{{info['node/id'] || info['system/site/siteId']}}.png?random{{info['system/site/lastUpdate']}}"
    />
    <span
      class="gn-name gn-margin-left hidden-sm"
      data-ng-if="gnCfg.mods.header.showGNName"
      data-ng-class="authenticated && user.isEditorOrMore() ? 'gn-truncate' : ''"
      title="{{info['node/name'] || info['system/site/name']}}"
    >
      {{info['node/name'].split('|')[0] || info['system/site/name']}}
    </span>
  </a>
</li>
