<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2001-2016 Food and Agriculture Organization of the
  ~ United Nations (FAO-UN), United Nations World Food Programme (WFP)
  ~ and United Nations Environment Programme (UNEP)
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or (at
  ~ your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but
  ~ WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
  ~
  ~ Contact: Jeroen Ticheler - FAO - Viale delle Terme di Caracalla 2,
  ~ Rome - Italy. email: geonetwork@osgeo.org
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>geonetwork</display-name>

  <!-- H2 DB starter configuration / remove if you don't use H2 -->
  <listener>
    <listener-class>org.h2.server.web.DbStarter</listener-class>
  </listener>

  <!-- shut down java cache used for xlinks and spatial index -->
  <listener>
    <listener-class>
      org.apache.jcs.utils.servlet.JCSServletContextListener
    </listener-class>
  </listener>

  <servlet>
    <servlet-name>gn-servlet</servlet-name>
    <servlet-class>jeeves.server.sources.http.JeevesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>


  <!-- Print servlet -->
  <servlet>
    <servlet-name>mapfish.print</servlet-name>
    <servlet-class>org.mapfish.print.servlet.MapPrinterServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>print-config.yaml</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>mapfish.print</servlet-name>
    <url-pattern>/pdf/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>gn-servlet</servlet-name>
    <url-pattern>/srv/*</url-pattern>
  </servlet-mapping>

  <!-- Web map context servlet -->
  <servlet>
    <servlet-name>wmc</servlet-name>
    <servlet-class>org.geonetwork.map.wmc.WmcServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>wmc</servlet-name>
    <url-pattern>/wmc/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <session-config>
    <!-- 3 hours -->
    <session-timeout>180</session-timeout>
  </session-config>
</web-app>
