/* inspired from http://www.emodnet-hydrography.eu/cdi_v2/style.css */


body { 	
	height: 100% !important;
    background-color: #e4eef7 !important;
    background-image: url("../metadata.formatter.resource?id=sextant&fname=/img/emodnet/background.gif") !important;
    background-repeat: repeat-x !important;
    background-attachment: fixed !important;
	
}

/*
#mdview { 
	height: 100%;
    background-color: #e4eef7;
    background-image: url("../img/emodnet/background.gif");
    background-repeat: repeat-x;
    background-attachment: fixed;
}
*/

body, td {
	font-family: verdana,arial,helvetica;
	font-size: 1em;
	color: #000;
}

h1 {
	font-size: 2em;
	color: #fff;
	padding: 10px 0px 20px;
}
    
.print_table {
	width: 98%;
	margin: auto;
}

.print_ttl {
	font-weight: bold;
	font-size: 1.1em;
	color: #1b75bc;
	text-transform: uppercase;
	width: 33%;
	padding-top: 8px;
	padding-left: 4px;
	padding-bottom: 4px;

}

.print_ttl_h1 {
	font-weight: bold;
	font-size: 1em;
	color: #1b75bc;
	width: 33%;
	padding: 6px 0px 4px 4px;
}

.print_ttl_h2 {
	font-weight: bold;
	font-size: 0.9em;
	color: #000;
	width: 33%;
	padding: 4px 0px 4px 4px;
}

.print_ttl_desc {
	border: 0px;
	font-size: 0.9em;
	padding: 0px 6px 4px 4px;
}

.print_desc {
	border: 0px;
	border-right: 1px solid #1b75bc;
	font-size: 0.9em;
	width: 33%;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
}

.print_data {
	font-size: 0.9em;
	color: #000;
	padding-left: 8px;
	padding-bottom: 4px;
}

#print_btn {
	padding: 5px 10px 0 0;
	float: right;
	cursor: pointer;
}