<div>
  <label class="control-label col-xs-2">{{label}}</label>
  <div class="col-xs-9">
    <!-- The hidden field with the value. -->
    <input
      type="hidden"
      class="form-control"
      name="{{xmlSnippetRef}}"
      value="{{xmlSnippet}}"
    />

    <div data-ng-show="!hasToDisplayFileChooser()">
      <!-- Display the link to the file and a button to remove it -->
      <a target="_blank" href="{{link.url}}">{{link.name | decodeURIComponent}}</a>

      <a href="" class="" data-gn-click-and-spin="removeFile(link)" title="Remove file">
        <i class="btn fa fa-times"></i>
      </a>
    </div>

    <form
      class="form-horizontal"
      role="form"
      method="POST"
      enctype="multipart/form-data"
      data-file-upload="filestoreUploadOptions"
    >
      <!-- The upload zone -->
      <span
        class="btn btn-success btn-block fileinput-button"
        data-ng-class="{disabled: disabled}"
        data-ng-show="hasToDisplayFileChooser()"
      >
        <i class="fa fa-fw fa-plus-circle" data-ng-class="{hidden: active()}"></i>
        <i
          class="fa fa-fw fa-spinner fa-spin"
          data-ng-class="{hidden: !active()}"
          data-file-upload-progress="progress()"
          data-file-upload-done="updateContent()"
        ></i>
        <span data-translate="">chooseOnlinesrc</span>
        <input type="file" name="file" data-ng-disabled="disabled" />
      </span>
    </form>

    <div data-ng-show="!fileAvailable && allowModifyXlink">
      <!-- Link text -->
      <label class="control-label" data-translate="">link</label>

      <input type="text" class="form-control" data-ng-model="linkHref" />
    </div>

    <div>
      <!-- Link text -->
      <label class="control-label" data-translate="">link-text</label>

      <input type="text" class="form-control" data-ng-model="value" />
    </div>
  </div>
</div>
