body {
  background: white;
}

#logo-sextant-big {
  margin-right: auto;
  margin-left: auto;
  margin-top : 20px;
  position: relative;
  width: 184px;
  text-align: center;
  font-size: 0.90em;
}

#logo-sextant-big img {
  margin-top : 20px;
}

.result-metadata-modal-tabs {
	font-family:Arial,​Helvetica,​sans-serif;
	font-size:12px;
	color:#333333;
}
#result-metadata-modal-tab-1, #result-metadata-modal-tab-2 {
	padding: 1em 1.4em;
}

#result-metadata-modal-tab-2-content table, 
#result-metadata-modal-tab-2-content * table, 
#result-metadata-modal-tab-2-content * td, 
#result-metadata-modal-tab-2-content * th {
    border: none !important;
}

#result-metadata-modal-tab-2-content * th {
    text-align: left !important;
    border-right: 1px solid #A0A0A0 !important;
    padding-left: 35px;
}

#result-metadata-modal-tab-2-content * legend {
    width: 100%;
    background-color: #AAA;
    border: 1px solid #999;
    color: white;
    font-weight: bold;
    height: 15px;
    padding-left: 10px;
    padding-top: 5px;
}
 
/* 3 levels of table not used in portlet comming from catalogue HTML */
#result-metadata-modal-tab-2-content > table > tbody > tr > td,
#result-metadata-modal-tab-2-content > table > tbody > tr > td > table > tbody > tr > td,
#result-metadata-modal-tab-2-content > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td {
    padding: 0px !important;
}
/* Padding left a bit to make the tree-like layout */
#result-metadata-modal-tab-2-content > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td * td {
    padding: 4px 0px 0px 12px !important;
}


#result-metadata-modal-tab-2-content fieldset * fieldset legend {
    background-color: #dbdbdb !important;
    border-color: #dbdbdb !important;
    color: #3B3C3C !important;
    padding-left: 23px;
}

#result-metadata-modal-tab-2-content fieldset * fieldset * fieldset legend {
    background-color: #f4f4f4 !important;
    border-color: #f4f4f4 !important;
    color: #3B3C3C !important;
    padding-left: 23px;
}

#result-metadata-modal-tab-2-content * legend a {
    color: #ffffff !important;
}