<div class="gn-multilingual-field">
  <div data-ng-transclude=""></div>
  <ul class="nav nav-pills">
    <li>
      <a
        href=""
        data-ng-click="displayAllLanguages(undefined, true)"
        data-translate=""
        title="{{languageSwitchHelp}}"
        >{{languageSwitchLabel}}</a
      >
    </li>
    <li
      data-ng-repeat="lang in languagesOrdered"
      data-ng-hide="expanded"
      data-ng-class="{'active': lang['value'] === '#' + currentLanguage, 'no-data': lang['value'] !== '#' + currentLanguage && !hasData[lang['value']]}"
    >
      <a href="" data-ng-click="switchToLanguage(lang['value'])"
        >{{lang['key'] | translate}}</a
      >
    </li>
  </ul>
</div>
