body {
  /*font-family : helvetica, tahoma, verdana, sans-serif;*/
  font-family : "Helvetica Neue", sans-serif;
  padding : 20px;
  padding-top : 32px;
  font-size : 12px;
  background-color : #fff !important;
}
a {
  color: #0076A1;
}
p {
  margin-bottom : 15px;
}
h1 {
  font-size : large;
  margin-bottom : 20px;
}
h2 {
  font-size : 14px;
  color : #333;
  font-weight : bold;
  margin : 10px 0;
}
pre.code {
  background : #F8F8F8;
  border : 1px solid #e8e8e8;
  padding : 10px;
  margin : 10px;
  margin-left : 0px;
  border-left : 5px solid #e8e8e8;
  font-size : 12px !important;
  line-height : 14px !important;
}
.msg .x-box-mc {
  font-size : 14px;
}
#msg-div {
  position : absolute;
  width : 350px;
  z-index : 20000;
}
.x-grid3-row-body p {
  margin : 5px 5px 10px 5px !important;
}


/* Overide ext style */
.x-layout-split,
.x-layout-collapsed {
  background-color : #ececec;
}
.x-layout-split {
  width : 3px;
/*  border-right: 1px solid #777777; */
}
.x-layout-collapsed {
  width : 10px !important;
}
.x-layout-split-west {
  box-shadow: 2px 0px 10px 0px #777777
}
.x-layout-split-east {
  box-shadow: -2px 0px 10px 0px #777777
}
/* Disable shadow for layer manager */
#editorPanel .x-layout-split-east, 
#east .x-layout-split-east {
  box-shadow: none;
}
.x-layout-split-west .x-layout-mini {
  left: -10px;
}
.x-layout-split-east .x-layout-mini {
  left: 2px;
}
.x-layout-cmini-west .x-layout-mini,
.x-layout-cmini-east .x-layout-mini {
/*  top: 0px;
  left: -10px;
*/}


.x-layout-mini {
  height: 50px;
  width: 9px;
  opacity: .9;
  background-size: 100% 100%;
}
x-layout-cmini-east {
  border: 0 none;
  width: 25px!important;
}

.md-info {
  background-color : #FFF;
  /*padding: 5px;*/
}

.md-info {
  padding : 20px;
}
#mode-form {
  width : 260px;
}
#search-form, #searchForm {
  position:relative;  /* Required for IE */
}

#infoContent {
  /*padding: 5px;*/
}
.latest {
  clear: both;
  float: right;
  width: 80%;
  height: 250px;
}
.latest * input[type='checkbox'] {
  display: none;
}

.info {
  float : right;
  width : 28%;
  height : 40%;
  -moz-border-radius : 0px 0px 54px 0px;
  -webkit-border-radius : 0px 0px 54px 0px;
  border-radius : 0px 0px 54px 0px;
  background-color : rgba(217, 210, 123, 0.85);
  box-shadow: 2px 0px 10px 0px #777777;
 /* border : 1px solid rgba(0, 51, 102, 0.25);*/
  padding : 3px;
  margin : 13px;
}

.info h3, .latest h3 {
  border-bottom : 2px solid #003366;
}

ul.main {
  list-style-type: circle
}

#shortcut {
  position : absolute;
  top : 14%;
  left : 14%;
  width : 72%;
  height : 72%;
  padding : 1em;
  -moz-border-radius : 0px 34px 34px 34px;
  -webkit-border-radius : 0px 34px 34px 34px;
  border-radius : 0px 34px 34px 34px;
  background-color : rgba(0, 0, 0, 0.85) !important; 
  background-color : #000000;
  border-top : 1px solid rgba(0, 0, 0, 0.85);
  z-index : 999;
  color : #FFF;
}
#shortcut div {
  width : 100%;
  border-bottom : 1px solid #d9d27b;
}
#shortcut a {
  color : #FFF;
}
#shortcut h1,
#shortcut h2 {
  color : #d9d27b;
  font-weight : bold;
}
#shortcut .label {
  color : #d9d27b;
  font-weight : bold;
  background: none;
}

#editor {
  height : 100%;
  width : 100%;
}

.metadata {
  background-color : #fff;
}

/* Center map widget in view and edit mode */
table.map {
    margin: auto;
}
#infoPanel {
  color: #777777;
  overflow: auto;
  height: 100%;
}
#infoPanel h3 {
  color: #000000;
}
#infoPanel ul.main {
    margin-left: 30px;
}

#infoContent {
  vertical-align : bottom;
}
#infoContent div.md-info h2 {
  border-bottom : 2px solid #959532;
}
#infoContent div.md-info {
  width : 15%;
  height : 200px;
  float : left;
  margin : 2px;
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;
  border-radius : 4px;
  background-color : rgba(10, 10, 10, 0.15);
  border-top : 1px solid rgba(0, 0, 0, 0.15);
}
#header {
  /*background-image : url(../images/default/header-bg.png);*/
  height : 33px;
  border-bottom: 1px solid #ececec;
}

#header .catLogo {
  max-height : 33px;
  float : left;
}
#header div {
  width : auto;
  display : inline;
  height: 33px;
  vertical-align: middle;
}

#footer {
  background-image : url(../images/default/header-bg.png);
  height : 20px;
  /* bottom: 0px; */
  text-align : center;
}
.right {
  text-align: right !important;
}

.footer {
  margin : 10px;
  position : absolute;
  bottom : 0;
}

.left {
  left : 0;
}
#logo {
  background-image : url(../images/default/gn-logo.png);
  background-repeat : no-repeat;
  height : 30px;
}
#mn-top {
  position : absolute;
  top : 0px;
  right : 5px;
  height : 33px;
}
.pipe {
  float : right;
  width : auto;
  height : inherit;
  display : inline;
  margin : 0;
  padding: 3px;
}
.pipe div {
}
.first {
  border-left : 0;
}

table.related * a,
#mn-top div a,
.mn-main {
  color : #0076A1;
  font-family : "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  text-decoration : none;
}
#mn-top div a,
.mn-main {
  font-size : 1.2em;
  font-weight : bold;
  position : relative;
  top : 2px;
}

table.related * a:hover,
#mn-top div a:hover {
  color : #959532;
}

.mn-main {
  vertical-align: top;
}

/* Icon based on protocol prefix in related resource table */
.WWWLINK {
  background-image : url(../images/default/link.png);
}
.WWWDOWNLOAD {
  background-image : url(../images/default/database_yellow.png);
}
.OGCWMS {
  background-image : url(../images/default/map/server_picture.png);
}
.OGCWFS {
  background-image : url(../images/default/map/server_vector.png);
}


/* Other icons */
.md-mn-reset {
  background-image : url(../images/default/cross.png);
}
.md-mn-kml {
  background-image : url(../images/default/google-earth-link.png);
}
.md-mn-www {
  background-image : url(../images/default/link.png);
}
.xmlIcon {
  background-image : url(../images/default/page_code.png);
}
.rdfIcon {
  background-image : url(../images/default/sw-cube.png);
}
.addIcon {
  background-image : url(../images/default/add.png) !important;
}
.privIcon {
  background-image : url(../images/default/group_key.png) !important;
}
.childIcon {
  background-image : url(../images/default/chart_organisation.png) !important;
}
.statusIcon {
  background-image : url(../images/default/tag_blue_add.png) !important;
}
.versioningIcon {
  background-image : url(../images/default/date_go.png) !important;
}
.downloadAllIcon {
  background-image : url(../images/default/folder_page_white.png) !important;
}
.searchIcon {
  background-image : url(../images/default/find.png) !important;
}
.validationReportIcon {
  background-image : url(../images/default/schematron.gif) !important;
}
.shortcutHelpIcon {
  background-image : url(../images/default/schematron.gif) !important;
}
.viewModeIcon {
  background-image : url(../images/default/application_view_tile.png) !important;
}
.linkIcon {
  background-image : url(../images/default/link.png) !important;
}
.addVector {
  background-image : url(../images/default/vector_add.png) !important;
}
.delVector {
  background-image : url(../images/default/vector_delete.png) !important;
}
.connect {
  background-image : url(../images/default/connect.png) !important;
}
.subtemplateIcon {
  background-image : url(../images/default/report_magnify.png) !important;
}
.processMetadata {
  background-image : url(../images/default/table_gear.png) !important;
}
.repository {
  background-image : url(../images/default/database_yellow.png) !important;
  background-repeat : no-repeat;
  padding-left : 15px;
}
.WFSDownloadIcon {
  background-image : url(../images/default/database_yellow.png) !important;
  background-repeat : no-repeat;
  padding-left : 15px;
}

.logo-wrap div img {
  max-height : 80px;
  max-width : 80px;
}
.logo-wrap {
  height : 90px;
  width : 90px;
  float : left;
  margin : 4px;
  margin-right : 0;
  padding : 5px;
  border : 1px solid #fff;
}
.logo-wrap span {
  display : block;
  overflow : hidden;
  text-align : center;
}
.logo-over {
  border : 1px solid #dddddd;
}
.logo-selected {
  border : 1px solid #99bbe8;
  background-color : #dddddd;
  padding : 4px;
}

#loading-mask {
  position : absolute;
  left : 0;
  top : 0;
  width : 100%;
  height : 100%;
  z-index : 20000;
  background-color : white;
}

#loading {
  position : absolute;
  left : 5px;
  top : 5px;
  padding : 2px;
  z-index : 20001;
  height : auto;
}

#loading .loading-indicator {
  background : url(../images/default/spinner.gif) no-repeat;
  color : #555;
  text-align : center;
  height : 40px;
  width : 100px;
}
span.madeBy {
  color : #555;
  font-size : 85%;
}
span.madeBy img {
  vertical-align : middle;
}
span.madeBy a {
  color : #666
}
.xmltag {
  color : #25b7e6;
}
.xmlatt {
  color : #959532;
}
.xmlattvalue {
  color : #444;
  font-weight : bold;
}
xmltagvalue {
  font-weight : bold;
}
.xmlns {
  color : #959532;
  font-style : italic;
}
dl.xml {
  color : #444;
  padding-left : 2px;
}
dl.xml * dd {
  padding-left : 2px;
}

div.facets {
    padding: 5px;
}

div.facets * ul,
div.facets * li {
    list-style: none;
}
/**
 * Facet category label
 */
div.facets > ul > li {
    margin: 0px 15px 0px 0px;
/*    border-top: 1px solid #CCC;*/
    font-weight: bold;
}
/**
 * Facet sub elements
 */
div.facets ul ul {
    margin-bottom: 5px;
    font-size: 85%;
}
/**
 * Facet count between (number) displayed next to a facet value
 */
.facet-count {
    color: #71C0DD;
    padding-left: 3px;
}
/**
 * Facet clickable link which trigger the filter action
 */
div.facets * a {
    text-decoration: none;
}
div.facets * .facet-more-bt, 
div.facets * .facet-less-bt {
    margin-bottom: 10px;
}
div.facets * .facet-more-bt a, 
div.facets * .facet-less-bt a {
    color: #777777 !important;
}

.breadcrumb * .x-btn-tl, 
.breadcrumb * .x-btn-tr, 
.breadcrumb * .x-btn-tc, 
.breadcrumb * .x-btn-ml, 
.breadcrumb * .x-btn-mr, 
.breadcrumb * .x-btn-mc, 
.breadcrumb * .x-btn-bl, 
.breadcrumb * .x-btn-br, 
.breadcrumb * .x-btn-bc{
    background: none;
}
.breadcrumb * button {
    color: #0076A1;
    font-size: smaller;
    font-weight: bold;
}
.breadcrumb * button:hover {
    color : #959532;
    text-decoration: underline;
}
.breadcrumb-mn {
    background-color: #FFF !important;
    background-image: none;
}
.breadcrumb-mn * .current-mn {
    font-weight: bold;
}
.breadcrumb-mn * a.x-menu-item {
    line-height: 10px;
}
.breadcrumb-mn * .x-menu-item-icon {
    height: 10px;
    width: 10px;
}
.tplTitle {
    font-weight: bold;
}
.tplDesc {
    white-space: normal !important;
}
.gn-bt-main * button ,
.gn-bt-main * span {
    /*font-weight: bold;*/
    text-shadow: 0 0 0.1em grey;
}
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    margin-right: 10px;
    color: #C09853;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert-danger, .alert-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
}
.alert * h2 {
    color: #C09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.label, .badge {
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
}
.label {
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.badge {
    padding: 1px 9px 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.ux-mselect-selected {
    background-color: #767676 !important;
    color: #FFF;
}
.label-success, .badge-success {
    background-color: #468847;
}
.label-warning, .badge-warning {
    background-color: #F89406;
}
.label-important, .badge-important, .label-error, .badge-error {
    background-color: #B94A48;
}
.label-info, .badge-info {
    background-color: #3A87AD;
}
.validation * h2, .validation * div {
    white-space: normal !important;
}
.thesaurusPicker * div.badge {
    margin: 3px;
    white-space: normal;
}
.thesaurusPicker * fieldset {
    border: 1px solid #B3D4E6 !important;
}
.thesaurusPicker * legend {
    color: #777 !important;
}
.thesaurusPicker * .thesaurusInfo span {
    padding-right: 5px;
}
.x-superboxselect-item img {
    max-height: 16px;
    vertical-align: middle;
}
.validatePanel * .x-grid3-cell-inner {
    white-space: normal !important;
}
.relation-type {
    text-transform: uppercase;
    margin-left: 3px;
}

.linkPanel * h2 {
    width: 100%;
    border-bottom: 1px solid #B3D4E6;
}
.linkPanel * ul {
    list-style: circle;
    padding-left: 16px;
}
.linkPanel * h2 span {
    float: right;
}
.linkPanel * .x-btn-tl, .linkPanel * .x-btn-tr, 
.linkPanel * .x-btn-tc, .linkPanel * .x-btn-ml, 
.linkPanel * .x-btn-mr, .linkPanel * .x-btn-mc, 
.linkPanel * .x-btn-bl, .linkPanel * .x-btn-br, 
.linkPanel * .x-btn-bc {
    background: none;
}
.linkPanel * .x-btn-noicon .x-btn-small .x-btn-text {
    border-bottom: 1px black solid;
}

ul.gn-relation-thumbnail {
    overflow: hidden;
}

.gn-relation-thumbnail li {
    list-style-type: none;
    float: left;
    width: 50%;
    max-width: 120px;
    height: 100px;
    text-align: center;
    position: relative;
}
.gn-relation-thumbnail li span {
    position: absolute;
    bottom: 0px;
    right: 2px;
}
.gn-relation-thumbnail li .lightBox {
    position: absolute;
    top: 0px;
    right: 2px;
    height: 18px;
}

.debug {
    display: none;
}

#user-info-tip {
    border-top: 1px solid #b6b6b6;
}

#user-info-tip .x-btn-tl, 
#user-info-tip .x-btn-tr, 
#user-info-tip .x-btn-tc, 
#user-info-tip .x-btn-ml, 
#user-info-tip .x-btn-mr, 
#user-info-tip .x-btn-mc, 
#user-info-tip .x-btn-bl, 
#user-info-tip .x-btn-br, 
#user-info-tip .x-btn-bc {
    background-image: none;
}

#user-info-tip button {
    color: #0076A1;
}
#user-info-tip button:hover {
    color : #959532;
    text-decoration: underline;
}

#user-info-tip .x-panel {
    padding-bottom: 2px;
    color: #777777;
}

#user-info-tip .x-panel-body {
    background-color: #f5f5f5;
    padding: 2px;
}

#user-info-tip .x-panel table {
    width: 100%;
}

#user-info-tip .gn-login {
    font-weight: bold;
}


.loginInfo {
/*  text-align: right;*/
  padding: 1px;
}
.gn-avatar {
    vertical-align: middle;
}
#login-form .gn-login {
    margin-left: 3px
}

.close-button {
	top: 6px;
	right: 6px;
	position: absolute;
}

.close-button.x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
	background:none;
	padding: 2px;
	height: 16px;
	width: 14px;
}