<form role="form">
  <div class="form-group">
    <input
      class="form-control input-sm"
      type="text"
      data-toggle="dropdown"
      data-ng-model="url"
      data-ng-change="ctrl.doRequest()"
      aria-label="{{'processesToolUrlDiscovery' | translate}}"
      data-ng-model-options="{debounce:500}"
      placeholder="{{'serviceUrl' | translate}}"
    />
  </div>

  <p class="text-center" ng-show="loading">
    <i class="fa fa-spinner fa-spin"></i>
  </p>

  <div class="alert alert-danger" role="alert" ng-show="error !== null">
    <strong translate>wpsGetCapError</strong>{{ error }}
  </div>

  <input
    class="form-control"
    data-ng-show="processes.length > 5"
    data-ng-model="processesFilter.$"
    autofocus=""
    placeholder="{{'filter' | translate}}"
  />

  <ul class="list-group processes-list">
    <a
      href
      class="list-group-item list-group-item-action"
      data-ng-repeat="p in processes | filter:processesFilter | orderBy:'title.value'"
      ng-click="ctrl.select(p)"
      ng-class="{active: p.identifier.value == wpsLink.name && url == wpsLink.url}"
    >
      <i class="fa fa-cog"></i>&nbsp;{{ p.title.value }}<br />
      <small class="text-muted">{{ p.identifier.value }}</small>
      <small class="text-muted" ng-show="p.processVersion !== undefined">
        - v. {{ p.processVersion }}</small
      >
    </a>
  </ul>
</form>
