<div class="row" data-ng-controller="GnAdminMetadataController">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">loadSchemaSamplesOrTemplates</div>
      <div class="panel-body">

        <div class="clearfix">
          <div class="btn-group pull-right">
            <button type="button"
                    id="gn-schemas-selector"
                    class="btn dropdown-toggle" data-toggle="dropdown">
              {{selectedSchemas.length}} <span data-translate="">selected</span><span class="caret"
            />
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="" id="gn-selectAllSchemas"
                           data-ng-click="selectAllSchemas(true)" data-translate="">selectAll</a>
              </li>
              <li>
                <a href="" data-ng-click="selectAllSchemas(false)" data-translate="">selectNone</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="list-group">
          <li class="list-group-item"
              data-ng-repeat="s in schemas"
              data-ng-click="selectSchema(s.name)">
            <h4 class="list-group-item-heading">
              <i class="fa"
                 data-ng-class="isSchemaSelected(s.name) ? 'fa-check-square-o' : 'fa-square-o'"/>&nbsp
                 {{s.titles[iso2lang] || s.titles['en'] || s.name}} ({{s.name}})
            </h4>
          </li>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <button type="button"
                    id="gn-btn-loadTemplates"
                    class="btn btn-primary btn-block"
                    data-ng-disabled="!selectedSchemas.length > 0 || sampleLoadRunning === true || tplLoadRunning === true"
                    data-ng-click="loadTemplates()">
              <i class="fa gn-recordtype-y"/>&nbsp;
              <span data-translate="">loadTemplatesForSelectedSchema</span>
            </button>
            <br/>
            <button type="button"
                    id="gn-btn-loadSamples"
                    class="btn btn-primary btn-block"
                    data-ng-disabled="!selectedSchemas.length > 0 || sampleLoadRunning === true || tplLoadRunning === true"
                    data-ng-click="loadSamples()">
              <i class="fa gn-recordtype-n"/>&nbsp;
              <span data-translate="">loadSamplesForSelectedSchema</span>
            </button>
          </div>

          <div data-gn-need-help="annexes/standards/index.html"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="progress progress-striped active"
         data-ng-show="sampleLoadRunning === true || tplLoadRunning === true">
      <div class="progress-bar" style="width: 100%"/>
    </div>

    <div class="panel panel-default"
         id="gn-samples-reportStatus"
         data-ng-show="loadReport"
         data-ng-class="loadReport.errors.length === 0 ?
                        'panel-success' : 'panel-warning'">
      <div class="panel-heading" data-translate="">loadSampleReport</div>
      <div class="panel-body">
        <div data-ng-show="loadReport">
          <ul class="icons-ul">
            <li data-ng-repeat="i in loadReport.errors">
              {{i}}
            </li>
          </ul>

          <ul class="icons-ul">
            <li data-ng-repeat="i in loadReport.infos">
              {{i.message}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default"
         id="gn-templates-reportStatus"
         data-ng-show="loadTplReport"
         data-ng-class="loadTplReport.errors.length === 0?
                        'panel-success' : 'panel-warning'">
      <div class="panel-heading" data-translate="">loadTemplatesReport</div>
      <div class="panel-body">
        <div data-ng-show="loadTplReport">
          <ul class="icons-ul">
            <li data-ng-repeat="i in loadTplReport.errors">
              {{i}}
            </li>
          </ul>

          <ul class="icons-ul">
            <li data-ng-repeat="i in loadTplReport.infos">
              {{i.message}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
