<div class="row" data-ng-controller="GnAdminMetadataController">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span data-translate="">sortTemplate</span>
        <div class="btn-toolbar">
          <button type="button" class="btn btn-primary pull-right"
            data-ng-click="saveOrder('#gn-template-order')"
			><span class="fa fa-save"></span> {{"saveOrder"|translate}}</button>
        </div>
      </div>
      <div class="panel-body">
        <form id="gn-template-order">
          <table>
            <tr data-ng-repeat="t in templates | orderBy:sortOrder">
              <td>
                <input type="number" name="displayorder-{{t.id}}" class="form-control"
                  value="{{t.displayorder}}"/>
              </td>
              <td>{{t.name}}</td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
