<span data-ng-controller="GnSearchFormController">
  <div class="input-group">
    <div class="input-group-btn">
      <button class="btn btn-default" type="button" title="{{'add' | translate}}"
        data-ng-click="add();">
        <i class="fa fa-plus"/>
        <span>&nbsp;</span>
      </button>
    </div>

    <!-- TODO: could be nice to filter by organisation -->
    <input type="text" class="form-control" placeholder="{{'searchAContact' | translate}}"
      data-ng-model="params.any" data-ng-change="triggerSearch('qi@json')"/>

    <div class="list-group gn-autocomplete-list">
      <li href="" class="list-group-item" data-ng-repeat="r in searchResults.records"> {{r.title}}
        <span class="pull-right">
          <div class="btn-group"
               title="{{'addContactAsText-help' | translate}}">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-plus"></i><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li data-ng-repeat="role in roles">
                <a href="" data-ng-click="addContact(r, role.code)" title="{{role.description}}">
                  {{role.label}}
                </a>
              </li>
            </ul>
          </div>
          <div data-ng-show="gnConfig[gnConfig.key.isXLinkEnabled]"
               title="{{'addContactAsLink-help' | translate}}"
               class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-link"></i><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li data-ng-repeat="role in roles">
                <a href="" data-ng-click="addContact(r, role.code, true)" title="{{role.description}}">
                  {{role.label}}
                </a>
              </li>
            </ul>
          </div>
        </span>
        <div class="clearfix"></div>
      </li>
    </div>
    <!-- The contact to insert once received -->
    <div data-ng-if="snippet">
      <input name="{{snippetRef}}" type="hidden" value="{{snippet}}"/>
    </div>
  </div>

  <div data-gn-modal="" class="gn-directory-entry-popup"
    data-gn-popup-options="{title:('addFromDictionnary' | translate)}"
    id="gn-directory-entry-popup-{{elementRef}}">
    <div data-gn-directory-entry-multi-selector=""/>
  </div>

</span>
