<div class="panel panel-default gn-facet-{{key}}">
  <div class="panel-body">
    <a class="clearfix"
       title="{{facet.key}}"
       role="link"
       data-ng-init="field = (aggResponse.meta && aggResponse.meta.field)
                              || key;
                      value = aggResponse.meta && aggResponse.meta.wildcard
                              ? (facet.key + '*') : facet.key"
       data-ng-href='#/search?query_string={"{{field}}": {"{{value === missingValue ? "%23MISSING%23" : value}}": true} }'>
      <!-- TODOES Link label to icons? -->
      <i class="fa fa-2x gn-icon-{{facet.key.replace('/', '').replace(' ', '')}} pull-left"
         data-ng-show="field === 'cl_topic.key'
                       || field === 'resourceType'
                       || field === 'cl_hierarchyLevel.key'">
      </i>
      <h2>
        <span class="clamp-2">{{facet.key | facetTranslator: homeFacet.key | capitalize}}</span>
      </h2>
    </a>
  </div>
  <div class="panel-footer">
    <i class="fa fa-fw fa-file-text-o"></i>{{facet.doc_count}}
  </div>
</div>
