<div
  data-ng-repeat="(k, facet) in aggregations[key].items"
  data-ng-init="facetValue = facet.value;"
  data-ng-show="facetValue"
  data-ng-class="isInspire ? ('bg-iti-' + (facet.key | facetCssClassCode: isInspire)) : ''"
  class="col-xs-6 col-sm-4 col-md-3 col-lg-2 gn-topic"
>
  <div
    class="panel panel-default gn-facet-{{::facetValue}} gn-facet-type-{{::decorator.type}}"
    style="{{::facetValue | facetBgUrlBuilder:decorator}}"
  >
    <div class="panel-body">
      <a
        class="clearfix"
        title="{{::facetValue}}"
        role="link"
        data-ng-init="response = aggregations[key];
                      decorator = (response.meta && response.meta.decorator) || undefined"
        data-ng-href="{{::facetValue | facetSearchUrlBuilder:key:aggregations[key]:homeFacet.config[key]:missingValue}}"
      >
        <span
          data-ng-if="decorator"
          data-es-facet-decorator="decorator"
          data-key="facetValue"
        />
        <h2
          data-ng-show="isInspire"
          class="inspire-{{::(facetValue | facetCssClassCode: isInspire)}}-{{::iso2lang}}"
        >
          <span class="inspire-label clamp-2"></span>
        </h2>
        <h2 data-ng-hide="isInspire">
          <span class="clamp-2"
            >{{::facetValue | facetTranslator: (response.meta && response.meta.field) ||
            key | capitalize}}</span
          >
        </h2>
      </a>
    </div>
    <div class="panel-footer">
      <i class="fa fa-fw fa-file-text-o"></i>{{::facet.count}}
    </div>
  </div>
</div>
