<div class="gn-facet-list">

  <!--Collapse all button for first panel-->
  <div class="btn-group pull-right" ng-hide="isTabMode">
    <button type="button" class="btn btn-link btn-sm gn-facet-toggle-btn"
      ng-click="ctrl.expandAll()" title="{{'expandAllFacet' | translate}}">
      <i class="fa fa-plus-circle"/>
    </button>
    <button type="button" class="btn btn-link btn-sm gn-facet-toggle-btn"
      ng-click="ctrl.collapseAll()" title="{{'collapseAllFacet' | translate}}">
      <i class="fa fa-minus-circle"/>
    </button>
  </div>

  <div ng-if="!isTabMode"
       ng-repeat="facet in ctrl.list track by facet.key"
       ng-show="facet.items.length > 0 || (facet.dates && facet.dates.length >0)"
       class="gn-facet">
    <a href
       title="::{{facet.key | translate}}"
       class="gn-facet-header flex-row width-100"
       ng-class="{'gn-facet-panel-active': ctrl.searchCtrl.isInSearch([facet.key])}"
       gn-collapsible="::ctrl.fLvlCollapse[facet.key]">
      <span class="flex-shrink text-ellipsis">{{('facet-' + facet.key) | translate}}</span>
      <span class="fa fa-fw"
            ng-class="ctrl.fLvlCollapse[facet.key] ? 'fa-caret-right' : 'fa-caret-down'"></span>
    </a>
    <div class="gn-facet-root-container"
         ng-class="{'collapse': ctrl.fLvlCollapse[facet.key]}">
      <div class="gn-facet-container"
           es-facet="::facet"
           es-facet-item="::item"
           ng-repeat="item in facet.items">
      </div>

      <div class="gn-facet-date-histogram"
           ng-if="::facet.type === 'dates'"
           gn-facet-daterange="facet"
           available-dates="facet.dates"
           show-graph="true"
           graph-expanded="true"
           dates-count="facet.datesCount"
           callback="ctrl.onUpdateDateRange(facet, from, to)">
      </div>

      <a href
         class="gn-facet-more"
         ng-if="facet.more"
         ng-click="ctrl.loadMoreTerms(facet)">
        <span translate>more</span>
      </a>
    </div>
  </div>
</div>
