<div data-ng-class="{'is-date': !!ctrl.facet.dates}">
  <ul class="list-group">
    <li class="list-group-item"
         data-ng-repeat="item in ctrl.facet.items"
         data-ng-click="ctrl.filter(ctrl.facet, item)">
      <label data-ng-class="{'gn-facet-active': ctrl.isInSearch(ctrl.facet, item)}">
        <span class="gn-facet-label">{{::item.name}}</span>&nbsp;
        <span class="gn-facet-count">({{::item.count}})</span>

      </label>
    </li>
  </ul>
  <a href class="see-more" data-ng-click="getMore(field)" data-ng-if="field.more && !field.dates && !field.tree">
    <span translate>more</span>...
  </a>
</div>
