/**

This file contains all the color schema of the UI and only colors.

If you want to customize the color schema, just use this file.

**/
html,button,input,select,textarea {
	color: #222;
}

div#resultsPanel .x-panel-bbar table.x-toolbar-ct,.x-panel-header,div#big-map .x-panel-tbar table.x-toolbar-ct,div#resultsPanel table.x-toolbar-ct,.main aside
	{
	background: #47A8DD;
	color: white;
}

nav a {
	background: transparent;
	color: #376690;
}

nav a:hover {
  background: #F1F18A;
}

nav a.selected {
	background: #376690; 
	color: white;
}

#welcome-text {
	color: #393939;
}

div#advSearchTabs .x-panel-header {
	background: #47A8DD;
}

#header {
	border-top-color: #CCC34E;
	border-bottom-color: #376690;
}

.user-button {
	background-color: rgba(118,123,126,0.0);
	outline: none;
}

#lang-form div div form div input {
	color: #898989;
}

/* please use this for headers of facet filters to the left; cf. http://pdok.cdxi.nl/nl/pdok-producten */
.left-column-header {
	background: #fbead9;
}

#bread-crumb-app {
	color: #43788A;
}

#bread-crumb-app a {
	color: #3D4F5E;
}

#bread-crumb-app .current,div#advSearchTabs .x-panel-header,div#resultsPanel .x-panel-bbar table.x-toolbar-ct
	{
	color: black;
}

.main aside,#footer footer,.title,.chromeframe {
	color: white;
}

#footer ul li a {
	color: white;
}

#foot-loads {
	color: #069;
}

#foot-loads h1 {
	color: #012;
}

.grey,#printer-button,#rss-button,#lang-form,#sitemap-button,#feedback-site-button
	{
	color: #767B7E;
}

div#advSearchTabs div.x-panel-bwrap div.x-panel-body.x-panel-body-noheader.x-panel-body-noborder.x-box-layout-ct div.x-box-inner div.x-panel.x-form-label-left.x-box-item div.x-panel-bwrap div.x-panel-body
	{
	background: white;
}

#big-map .x-layout-collapsed {
	background-color: #47A8DD;
}

#big-map .x-layout-split,#big-map .x-layout-collapsed-over {
	background-color: #47A8DD;
}

div#tabs ul.x-tab-strip-top {
	background-color: white;
	border-bottom-color: black;
}

div#tabs .x-tab-strip-top .x-tab-right,div#tabs .x-tab-strip-top .x-tab-left,div#tabs .x-tab-strip-top .x-tab-strip-inner
	{
	background-color: #005BA7;
}

div#tabs .x-tab-strip-active .x-tab-right,div#tabs .x-tab-strip-active .x-tab-left,div#tabs .x-tab-strip-active .x-tab-strip-inner
	{
	background: white;
	color: black;
}

div#tabs .x-tab-strip-active .x-tab-right {
	box-shadow: rgba(0, 0, 0, 0.5);
	border-top: #47A8DD;
}

#legend-search {
	color: #fff;
}

#search-form input {
	border: solid 1px #000;
}

#search-submit {
  background-color: #47a8dd !important;
  color:#fff !important;
}

#show-advanced,#hide-advanced {
	color: white;
	background-color: #47A8DD;
}

/**
 * Facet category label
 */
div.facets>ul>li {
	border-top: #CCC;
	color: #47A8DD;
}

.facet-count {
	color: #71C0DD;
}

div.facets * .facet-more-bt,div.facets * .facet-less-bt {
	color: #47A8DD;
}

.breadcrumb * button {
	color: #47A8DD;
}

.breadcrumb * button:hover {
	color: #959532;
}

.breadcrumb-mn {
	background-color: #FFF !important;
}

.user-button a {
	color: #767B7E;
}

#permalink-div {
	border: black;
	background-color: white;
}

a#custom-tweet-button {
	color: black;
}

#fb-button,a#custom-tweet-button {
	border: #CCC;
}

#fb-button a {
	color: black;
}

.black,.black a {
	color: black;
}

#cookie-warning input {
	background-color: white;
	color: #C09853;
	border-color: #C09853;
}

.label,.badge {
	background-color: #999;
	color: white;
}

.ir {
	background-color: transparent;
}

.alert {
	background-color: #FCF8E3;
	border: #FBEED5;
}

.alert * h2,.alert {
	color: #C09853;
}

.user-button label {
	color: #767B7E;
}

div#resultsPanel .x-btn button {
	background-color: transparent;
	border-color: transparent;
}

/**
tag cloud */
ul li.tag-cloud a {
	color: #565B5E;
	background-color: #FEEDDD;
}

/** Recent viewed **/
#recent-viewed {
	background: white;
}

#secondary-aside {
	background: #47A8DD;
}

#recent-viewed span.x-view-over {
	color: white;
	background: rgba(226, 111, 2, 0.9);
}

#recent-viewed span {
	background: transparent;
	color: transparent;
}

#recent-viewed .thumb-wrap h1 {
	color: #234150;
}

#recent-viewed-div h1 {
	background-color: transparent;
	color: black;
}

#resultsPanel .md-action-menu a {
	color: transparent;
}
/** Syntax highlighting */
.xmltag {
	color: #25b7e6;
}

.xmlatt {
	color: #959532;
}

.xmlattvalue {
	color: #444;
}

.xmlns {
	color: #959532;
}

dl.xml {
	color: #444;
}

#login_div {
	background-color: white;
}

div#tabs .x-tab-strip span.x-tab-strip-text {
	color: black;
	box-shadow: grey;
}


.emptyThumbnail span {
	color: #376690;	
}

#latest-metadata header h1,#popular-metadata header h1,#tags header h1 {
	color: #3B6688;
}

#result-panel div#resultsPanel .md-mn-kml {
	color: #0847a4;
}

#result-panel div#resultsPanel .md-mn-www {
	color: #3184ff;
}

#result-panel div#resultsPanel .md-mn-download {
	color: #ffb977;
}

#result-panel div#resultsPanel .md-mn-bookmark {
	color: #FFCC00;
}

#result-panel div#resultsPanel .md-mn-wms {
	color: #28dc78;
}

