.gn {
	background-color: #FFFFFF;
}

.md-view {
	background-color: #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
}

.md-view ul {
	display: block;
	height: auto;
	position: relative;
	padding: 0 0 0 0;
}
/*.md-view ul li img {
  margin-bottom : 1px;
}
*/
.md-view ul li * h1 {
	color: #0076A1;
	font-size: small;
	margin-bottom: 5px;
}

.md-view div.relation {
	margin-left: 30px !important;
	max-height: 50px !important;
	overflow: hidden;
	display: none;
	position: relative; /* Required for IE */
}

.md-view div.relation ul {
	margin-left: 15px !important;
}

.md-view div.relation span {
	background-image: url(../images/default/chart_organisation.png)
		!important;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
}

.md-view div.more {
	background-image: url(../images/default/three_dots.png) !important;
	background-repeat: no-repeat;
	background-position: 95% 80%;
}

.md-view div.relation.more:hover {
	overflow: auto;
	background-image: none !important;
	max-height: 500px !important;
}

.md-view div.relation ul li,table.related * li {
	float: left;
	width: 200px;
	line-height: initial !important;
}

.md-view * a {
	text-decoration: none;
	color: #0076A1;
}

.md-view * a:hover {
	text-decoration: underline;
	color: #959532
}

.md-view td.left {
	width: 30px;
}

.md-view td.thumb {
	width: 180px;
}

.md-view td.icon {
	width: 16px;
	text-align: left;
}

.md-view ul li * .md-logo img {
	max-width: 30px;
}

.md-view ul li {
	border-top: 1px solid transparent;
	color: #222222;
	cursor: pointer;
	float: left;
	margin: 2px;
	overflow: hidden;
	padding: 2px 2px 2px 2px;
}

/* View mode */
.md-view ul li.md-simple {
	width: 98%;
	/* FIXME : Should be auto */
}

.md-view ul li.md-full {
	width: 98%;
	/* FIXME : Should be auto */
}

.md-view ul li.md-thumbnail {
	height: 280px;
	width: 184px;
}

.md-thumbnail * h1 {
	font-size: smaller !important;
}

.md-view * table {
	width: 100%;
}

.md-view * table tr {
	vertical-align: top;
} /*
.md-view * table tr td.md-full-right {
  width : 180px;
  text-align : right;
}
*/
.md-full-right * img {
	max-width: 180px;
	max-height: 140px;
	min-height: 40px;
}

.md-view * div.md-wrap {
	float: left;
	width: 85%;
}

.md-view * div.rating,.md-view * div.thumbnail {
	clear: both;
	width: 182px;
}

.md-view * div.thumbnail img {
	border: 1px solid #e7e5e5;
	padding: 1px;
	max-width: 180px;
	max-height: 140px;
	min-height: 40px;
	height: auto;
}

.md-view * div.rating {
	padding-bottom: 2px;
}

img.orgLogo {
	max-width: 40px;
	max-height: 40px;
	vertical-align: middle;
}

div.md-contact div {
	font-style: italic !important;
	font-size: 80% !important;
	color: #666;
	padding-right: 4px;
}

div.md-contact {
	text-align: right;
	clear: both;
}

span.md-action-menu {
	visibility: hidden;
}

.md-view ul li.x-view-selected {
	-moz-border-radius: 4px 4px 4px 4px;
	/*
  background-color:rgba(100, 100, 100, 0.15);
  border-top:1px solid rgba(0, 0, 0, 0.15);
 */
	background-color: rgba(217, 210, 123, 0.85);
	border: 1px solid rgba(0, 51, 102, 0.25);
}

.md-view ul li.md-over {
	-moz-border-radius: 4px 4px 4px 4px;
	background-color: rgba(10, 10, 10, 0.15);
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.md-view li strong {
	color: #000000;
	display: block;
} /*
.md-view * .rating,
.md-full * div.rating {
  display : block;
  padding-left : 0px !important;
  text-align : center;
}
.md-view * .rating * {
  padding-left : 0px !important;
}*/
.md-view * p {
	color: #444;
}

.md-view * .md-links {
	margin-top: 6px;
}

/**
 * Format Ext button in the link area
 */
.md-links table {
	float: left;
	margin-right: 5px;
	width: auto;
}

.md-links * .x-btn-tl,.md-links * .x-btn-tr,.md-links * .x-btn-tc,.md-links * .x-btn-ml,.md-links * .x-btn-mr,.md-links * .x-btn-mc,.md-links * .x-btn-bl,.md-links * .x-btn-br,.md-links * .x-btn-bc
	{
	background: none;
}

div#resultspanel button {
	background: none;
	background-repeat: no-repeat;
	color: black;
}

/*
Display hyperlink as text next to element
.md-links a:hover:after {
    content : " " attr(href) " ";
    font-size : 80%;
}*/
.md-view * p.abstract {
	
}

.md-view * p.subject {
	font-size: 80%;
	text-transform: uppercase;
}

.md-view ul li.md-full div,.md-view ul li.md-simple div {
	padding-left: 1px;
}
/* Icons */
.md-mn {
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 3px;
}

.md-mn-view {
	background-image: url(../images/default/page_go.png) !important;
}

.md-mn-edit {
	background-image: url(../images/default/page_edit.png) !important;
}

.md-mn-del {
	background-image: url(../images/default/page_delete.png) !important;
}

.md-mn-copy {
	background-image: url(../images/default/page_copy.png) !important;
}

.md-mn-find {
	background-image: url(../images/default/find.png) !important;
}

.md-mn-go {
	background-image: url(../images/default/bullet_go.png) !important;
}

.md-mn-advanced {
	background-image: url(../images/default/cog.png) !important;
}

.md-mn-user {
	background-image: url(../images/default/user.png) !important;
}

.md-mn-badd {
	background-image: url(../images/default/brick_add.png) !important;
}

/* overriden by main.css
.md-mn-pdf {
	background-image: url(../images/default/page_white_acrobat.png)
		!important;
}

.md-mn-zip {
	background-image: url(../images/default/page_white_zip.png) !important;
}

.md-mn-ftp {
	background-image: url(../images/default/folder.png) !important;
}

.md-mn-ftps {
	background-image: url(../images/default/folder_key.png) !important;
}

.md-mn-download {
	background-image: url(../images/default/download.png) !important;
}
*/

.mn-user-location {
	background-image: url(../images/default/user_location.png) !important;
}

.mn-view-simple {
	background-image: url(../images/default/mv-simple.png) !important;
	background-repeat: no-repeat;
}

.mn-view-full {
	background-image: url(../images/default/mv-full.png) !important;
	background-repeat: no-repeat;
}

.mn-view-thumbnail {
	background-image: url(../images/default/mv-thumbnail.png) !important;
	background-repeat: no-repeat;
}

.mn-login {
	background-image: url(../images/default/user_go.png) !important;
}

.mn-logout {
	background-image: url(../images/default/door_out.png) !important;
}

.mn-clear {
	background-image: url(../images/default/cross.png) !important;
}

.search-item {
	font-weight: normal !important;
	line-height: 1.5em;
}

.search-item span {
	text-decoration: underline;
}
/* TagCloud styles */
ul li.tag-cloud {
	border-top: 1px solid transparent;
	text-align: center;
	padding: 1px;
	margin: 2px;
	display: inline-block;
	/*
  height:200px;
  width:200px;
 */
}

ul li.tag-cloud-hover {
	-moz-border-radius: 4px 4px 4px 4px;
	background-color: rgba(10, 10, 10, 0.15);
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}

li.tag-cloud-0 {
	font-size: xx-small !important
}

li.tag-cloud-1 {
	font-size: x-small !important
}

li.tag-cloud-2 {
	font-size: smaller !important
}

li.tag-cloud-3 {
	font-size: small !important
}

li.tag-cloud-4 {
	font-size: medium !important
}

li.tag-cloud-5 {
	font-size: large !important
}

li.tag-cloud-6 {
	font-size: large !important;
	font-weight: bold !important;
}

li.tag-cloud-7 {
	font-size: large !important;
	font-weight: bold !important;
}
/* Image in combo box */
.x-combo-list-item img {
	max-width: 20px;
	max-height: 20px;
	vertical-align: middle;
	margin-right: 3px;
}

.connectIcon {
	background-image: url(../images/default/connect.png) !important;
}

.zoomin {
	background-image: url(../images/default/icon_zoomin.png) !important;
	height: 20px !important;
	width: 20px !important;
}

.zoomout {
	background-image: url(../images/default/icon_zoomout.png) !important;
	height: 20px !important;
	width: 20px !important;
}

.zoomfull {
	background-image: url(../images/default/icon_zoomfull.png) !important;
	height: 20px !important;
	width: 20px !important;
}

.pan {
	background-image: url(../images/default/icon_pan.png) !important;
	height: 20px !important;
	width: 20px !important;
}

div.help .title {
	font-size: 120%;
	font-weight: bold;
}

div.help div {
	margin-top: 3px;
}

div.help span {
	font-style: italic;
}

div.help ul li {
	list-style-type: circle !important;
	margin-left: 10px !important;
}

.badge {
	padding: 1px 9px 2px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.label-warning,.badge-warning,.badge-error {
	background-color: #F89406;
}

.label-success,.badge-success {
	background-color: #468847;
}

.validation * h2,.validation * div {
	white-space: normal !important;
}

.x-superboxselect-item img {
	max-height: 16px;
	vertical-align: middle;
}

#metadata-info * {
	font-size: 12px;
}

#metadata-info .title {
	color: #069;
}

/* cookie message */
#cookie-warning .label {
	background: none;
	text-shadow: none;
	color: #333;
	font-size: 14px;
}

#cookie-warning  input {
	border: 1px solid #666;
	border-radius: 2px;
	padding: 5px 10px 5px 10px;
	background-color: #ccc;
	color: #333;
}
/* bread crumbs */
#bread-crumb-app {
	margin-left: 20px;
}
/* welcome in left sidebar */
#welcome-text {
	margin: 20px 20px 10px 10px;
}
/* cloud tag */
#cloud-tag ul {
	padding-left: 15px
}

#cloud-tag ul li.tag-cloud {
	border-top: none;
}

#cloud-tag ul li.tag-cloud a {
	background-color: #FEEDDD;
	color: #565B5E;
	padding: 3px;
	text-decoration: none;
}

#cloud-tag ul li.tag-cloud-hover {
	background: none;
}

#cloud-tag ul li.tag-cloud-hover a {
	color: #333;
	background-color: #F6D4B1;
}
/* search form + advanced search */
#advanced-search-options .x-panel-body {
	clear: both;
	background: none;
}

#show-advanced,#hide-advanced {
	margin: 0;
	padding: 5px 30px 5px 10px;
	background-position: right 50%;
	white-space: nowrap;
}

#advanced-search-options #hide-advanced {
	margin: 0;
	padding: 5px 30px 5px 10px;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background-position: right 50%;
}

/* thumbnails */
#latest-metadata .md-view * div.thumbnail img,#popular-metadata .md-view * div.thumbnail img
	{
	border: 1px solid #e5e5e5;
	background: #fff;
	height: auto;
	height: 140px;
	width: 154px;
	min-height: 140px;
	padding: 1px;
	vertical-align: bottom;
}

#latest-metadata header h1,#popular-metadata header h1 {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
	margin-bottom: 0.2em;
	margin-top: 0;
	margin-bottom: 0.2em;
}

/* first thumbnial container */
#latest-metadata {
	margin-top: 20px;
	padding-top: 10px;
}

#latest-metadata ul {
	padding-top: 0px;
}

#latest-metadata .md-thumbnail {
	margin: 0px 10px 10px 0px;
	padding: 5px;
	border: 1px solid #fff;
}

#latest-metadata .md-thumbnail h1 {
	margin: 0;
	height: 70px;
}

#latest-metadata .md-thumbnail h1 a {
	font-size: 13px;
}

#latest-metadata .md-thumbnail.md-over {
	border: 1px solid #e5e5e5;
	background: url(../images/default/bg_stripe.png) !important;
}
/* second thumbnial container */
#popular-metadata .md-thumbnail {
	margin: 0px 10px 10px 0px;
	padding: 5px;
	border: 1px solid #fff;
}

#popular-metadata .md-thumbnail h1 {
	margin: 0;
	height: 70px;
}

#popular-metadata .md-thumbnail h1 a {
	font-size: 13px;
}

#popular-metadata .md-thumbnail.md-over {
	border: 1px solid #e5e5e5;
	background: url(../images/default/bg_stripe.png) !important;
}

/* search result --- right sidebar */
#search-container .secondary-aside header {
	padding: 4px 6px 4px 6px;
	text-transform: uppercase;
	font-size: 14px;
}

/* search result --- left sidebar */
#search-container .main-aside header {
	padding: 4px 6px 4px 6px;
	text-transform: uppercase;
	font-size: 14px;
}

#search-container .main-aside {
	margin: 10px 10px 10px 20px;
}

#search-container .main-aside a {
	color: #0076A1;
}

#search-container .main-aside a:hover {
	text-decoration: underline;
	color: #959532
}

#search-container div.facets>ul>li {
	border-top: none;
}

/* search result --- list + right sidebar */
#resultsPanel {
	
}
/* search result --- list header */
div#resultsPanel .x-toolbar {
	border: none;
	margin: 0;
	padding: 0;
} /*
div#resultsPanel .x-toolbar-ct {
	padding: 0px 6px 1px 6px;
}*/
div#resultsPanel .x-toolbar-left {
	padding-left: 5px;
	padding-bottom: 1px;
}

div#resultsPanel .x-toolbar-right {
	padding-right: 5px;
	padding-bottom: 1px;
}
/* search result --- list items */
#resultsPanel .md-simple,#resultsPanel .md-full,#resultsPanel .md-thumbnail
	{
	border: 1px solid #e5e5e5;
	margin: 0px 0px 3px 0px;
	padding: 5px;
}

#resultsPanel .md-over {
	background: url(../images/default/bg_stripe.png) !important;
}

#resultsPanel .md-simple input[type="checkbox"],#resultsPanel .md-full input[type="checkbox"],#resultsPanel .md-thumbnail input[type="checkbox"]
	{
	margin-right: 5px;
}

#resultsPanel  .abstract {
	margin-top: 10px;
	font-size: 14px;
	line-height: 1.4em;
	color: #3333;
	padding-right: 10px;
}

#resultsPanel  .subject {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 1.4em;
	color: #393939;
	padding-right: 10px;
	text-transform: capitalize;
}
/* search result --- list items --- full */
#resultsPanel .md-full {
	padding: 0;
}

#resultsPanel .md-full table {
	margin-bottom: 5px;
	width: auto;
}

#resultsPanel .md-full td {
	padding: 5px;
}

#resultsPanel .md-full .icon {
	width: 400px;
}

#resultsPanel .md-full .icon div {
	float: left
}

#resultsPanel .md-full .icon .md-links {
	margin: 0px 0px 0px 4px;
}

#resultsPanel .md-full .icon .md-links table {
	float: left;
}

#resultsPanel .md-full .thumb {
	margin-top: 5px;
	padding: 0px;
}

#resultsPanel .md-full .rating {
    padding: 4px;
    border-top: 1px solid #e5e5e5;
    margin-top: 5px;
    background: #fff;
    width: 192px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

#resultsPanel .md-full .thumbnail {
	min-height: 140px;
	width: 192px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background: #fff;
	text-align: right;
	padding: 4px;
	border-top: 1px solid #e5e5e5;
}

#resultsPanel .md-full .md-contact {
	border-right: 1px solid #e5e5e5;
	padding: 5px;
	background: #fff;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	font-size: 12px;
}

#resultsPanel .md-full .md-contact span {
	font-style: normal;
}
/* search result --- list items --- thumb */
#resultsPanel .md-thumbnail {
	margin: 5px;
}

#resultsPanel .md-thumbnail .md-contact {
	width: 100%;
	text-align: left;
}
/* search result --- list items --- simple */
#resultsPanel .md-simple table {
	margin-top: 5px;
	margin-bottom: 5px;
}

#resultsPanel .md-simple .bookmark-icon {
	float: left;
	padding: 4px;
}

#resultsPanel .md-simple .md-links {
	margin: 0px 0px 0px 4px;
	float: left;
}

#search-container #secondary-aside .x-panel-header {
	border: none;
	padding: 7px 6px 7px 6px;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 14px;
}

#recent-viewed-div h1 {
	padding-left: 0px;
	padding: 0;
}

#recent-viewed span { /* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity =           50);
	/* Older than Firefox 0.9 */
	-moz-opacity: 0.5;
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.5;
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.5;
}
/* big map */

/* opener is assuming the minimap is 200px wide */
div.showBigMapItemInactive {
	background: url("../images/sprites/sprite_resize_map.gif") 0px 0px
		no-repeat;
	height: 26px;
	margin-left: 166px;
	margin-top: 5px;
	width: 26px;
	cursor: pointer;
}

div.showBigMapItemInactive:hover {
	background: url("../images/sprites/sprite_resize_map.gif") 0px -26px
		no-repeat;
}

#big-map-container {
	margin: 30px 20px 20px 20px;
}

#big-map-container .x-border-layout-ct {
	background-color: #fff;
	border: none;
}

#big-map-container .x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
	border-color: #E26F02;
	background-color: #E26F02;
	padding: 0;
}

#big-map-container .x-toolbar-left {
	padding: 3px 0px 3px 5px;
	width: 80%;
}

#big-map-container .x-toolbar-right {
	padding: 3px 15px 3px 0px;
	width: 20%;
}

#big-map-container .x-toolbar-right table {
	float: left;
}

/* metadata */
#metadata-info {
	margin: 30px 20px 20px 20px;
}

#metadata-info a {
	color: #0076A1;
}

.metadata * label {
	color: #444444;
}
/* --- metadata toolbar left */
#metadata-info .x-toolbar-left .x-toolbar-cell {
	padding: 4px;
	border-right: 1px solid #e5e5e5;
}
/* --- metadata toolbar right */
#metadata-info .x-toolbar-right .x-toolbar-cell {
	padding: 4px;
}

#metadata-info .x-toolbar-right .x-toolbar-cell:hover {
	background-color: #e5e5e5;
}
/* --- metadata tabs */
#metadata-info #tabs {
	
}

#metadata-info #tabs ul {
	padding-left: 0;
	/*padding-bottom: 25px;*/
	margin: 0;
}

#metadata-info #tabs ul li ul {
	border-bottom: 1px solid #ccc;
}

#metadata-info #tabs ul li ul li {
	border: 1px solid #ccc;
	padding: 3px 5px 3px 5px;
	margin-right: 5px;
	background: #efefef;
}

#metadata-info #tabs ul li ul li.active {
	border-bottom: 1px solid #fff;
	background: #fff;
	padding: 3px 5px 3px 5px;
}

#metadata-info #tabs ul li ul li a {
	background: none;
	padding: 0;
	margin: 0;
}

/* --- metadata table */
#metadata-info legend,#metadata-info .title {
	color: #333;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
}

#metadata-info fieldset .gn { /*border-top: 1px solid #e5e5e5;*/
	clear: both;
}

#metadata-info .gn .main {
	background-color: #fff;
	/* border-right: 1px solid #e5e5e5; */
	color: #333;
}

#metadata-info .gn .el {
	color: #999;
	padding: 0px 0px 4px 0px;
	line-height: 1.4em;
}

#metadata-info .gn th,#metadata-info .gn td {
	border-top: 0;
	/* border-bottom: 1px solid #e5e5e5; */
	padding: 5px 0 5px 5px;
}

#metadata-info .gn td td th,#metadata-info .gn td td td {
	border-bottom: 0;
}

#metadata-info .col {
	padding: 15px;
	background: #F7F7F7;
}

#metadata-info .col .gn th,#metadata-info .col .gn td {
	border-top: 1px solid #e5e5e5;
}
/* map */
#metadata-info .center {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

#metadata-info .map {
	background: #F7F7F7;
	padding: 10px;
	border: 1px solid #e5e5e5;
}

#metadata-info .map th,#metadata-info .map td {
	border-bottom: 0;
}
/* --- metadata table - related */
#metadata-info .related span.icon {
	display: none;
}

#metadata-info .related .main {
	border-right: 0;
	width: 1px;
	padding: 0;
}

#metadata-info .related td {
	border: 0;
}

#metadata-info .related {
	border-bottom: 1px solid #e5e5e5;
}

#metadata-info .related ul {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
}

#metadata-info .related li {
	width: auto;
	margin: 0px 5px 5px 0px;
	padding: 4px;
	background-color: #FEEDDD;
	color: #565B5E;
}

#metadata-info .related li a {
	text-decoration: none;
}

#metadata-info .related li a:hover {
	color: #333;
}
/* --- medtadata edit */
#metadata-info #editorPanel th {
	border-bottom: 0;
	border-top: 0;
	padding: 3px;
}

#metadata-info #editorPanel td {
	border: 0;
	background-color: white !important;
	padding: 3px;
}

#metadata-info #editorPanel .buttons a.del span {
	background-image: url("../../images/default/cross.png");
}

#metadata-info #editorPanel .buttons a.add span {
	background-image: url("../../images/default/add.png");
}

#metadata-info #editorPanel span.buttons a.small span {
	background-repeat: no-repeat;
	height: 16px !important;
	margin: 1px;
	padding: 3px 6px 3px 6px;
	width: 16px !important;
}


.validatePanel * .x-grid3-cell-inner {
    white-space: normal !important;
}


.relation-type {
    text-transform: uppercase;
    margin-left: 3px;
}

.linkPanel * h2 {
    width: 100%;
    border-bottom: 1px solid #B3D4E6;
}
.linkPanel * ul {
    list-style: circle;
    padding-left: 16px;
}
.linkPanel * h2 span {
    float: right;
}
.linkPanel * .x-btn-tl, .linkPanel * .x-btn-tr, 
.linkPanel * .x-btn-tc, .linkPanel * .x-btn-ml, 
.linkPanel * .x-btn-mr, .linkPanel * .x-btn-mc, 
.linkPanel * .x-btn-bl, .linkPanel * .x-btn-br, 
.linkPanel * .x-btn-bc {
    background: none;
}
.linkPanel * .x-btn-noicon .x-btn-small .x-btn-text {
    border-bottom: 1px black solid;
}

ul.gn-relation-thumbnail {
    overflow: hidden;
}

.gn-relation-thumbnail li {
    list-style-type: none;
    float: left;
    width: 50%;
    max-width: 120px;
    height: 100px;
    text-align: center;
    position: relative;
}
.gn-relation-thumbnail li span {
    position: absolute;
    bottom: 0px;
    right: 2px;
}
.gn-relation-thumbnail li .lightBox {
    position: absolute;
    top: 0px;
    right: 2px;
    height: 18px;
}
.suggestionPanel ul {
    padding: 0px;
}




/* admin */
.user-button a {
	padding-top: 0px;
	padding-left: 25px;
}

a#administration_button {
	background-position: 0 -17px
}

#metadata-panel .x-btn-over .book,#metadata-panel .x-btn-pressed .book {
	background-position: 0px 0px;
}

/** What search */
#what_adv_search .x-form-item {
	margin-bottom: 7px;
	margin-top: 9px;
}

#what_adv_search .x-fieldset {
	margin-bottom: 7px;
	margin-top: 43px;
}

/* mozilla, make text selectable in grids */
.x-grid3-row td,.x-grid3-summary-row td,.x-grid3-cell-text,.x-grid3-hd-text,.x-grid3-hd,.x-grid3-row
	{
	-moz-user-select: true;
	-khtml-user-select: text;
}

/* white text on orange toolbars */
#resultsPanel div.x-panel-tbar td,#resultsPanel div.x-panel-tbar button
	{
	color: white;
}
