
/** Fonts **/
@font-face {
  font-family:'OpenSans';
  src: url('fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype'),
       url('fonts/Open_Sans/OpenSans-Regular.eot') format('embedded-opentype');
}

/* to keep footer down -- from http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page */
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: OpenSans; 
}

/** Overriding fonts from gnmetadataview.css **/
div#page-container #metadata-info * , div#page-container div#latest-metadata header h1, div#page-container div#popular-metadata header h1 {
	font-family: OpenSans;
}

/** General settings **/

#container {
	min-height: 100%;
	position: relative;
}

#main {
	padding: 3px;
	padding-bottom: 150px; /* height of the footer */
	margin-left: 15%;
	margin-right: 15%;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px; /* height of the footer */
	background-image: url('../images/map_header.png');
	background-color: #636363;
}

/* Footer Links */
#footer ul {
	margin: 0.25em 0;
	padding: 0 1em;
	list-style: none;
}

#footer li {
	display: inline;
	padding: 0 0.2em 0 0.5em;
}

#footer ul li a {
	text-decoration: none;
	font-weight: bold;
}

/* end of stuff to keep the footer down */
html,body,button,input,select,textarea {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	padding: 0.2em 0;
}

body {
	min-width: 900px;
}

#map {
	width: 100%;
	height: 100%;
}

.metadata_map {
	margin: 1%;
	float: left;
	width: 22%;
	height: 400px;
}

.metadata_data {
	float: left;
	width: 75%;
}

#big-map  .hideBigMapPanel {
	background: url("../images/sprites/sprite_resize_map.gif") -30px -5px
		no-repeat;
}

#big-map .hideBigMapPanel:hover {
	background: url("../images/sprites/sprite_resize_map.gif") -31px -30px
		no-repeat;
}

#big-map .x-layout-mini,#editorPanel .x-layout-mini {
	height: 50px;
	width: 9px;
	background-size: 100% 100%;
}

#header header {
	width: 100%;
}

#header {
	border-bottom: 10px solid;
	background-image: url('../images/map_header.png');
	box-shadow: none;
	border-top: 6px solid;
}

#logo {
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url('../images/banner_logo.png');
	width: 100%;
	height: 55px;
	margin-top: 20px;
}

.main-aside {
	margin: 10px;
	float: left;
	width: 18%;
}

#welcome-text {
	font-weight: bold;
	margin: 13px;
	margin-left: 30px;
	font: Serif;
	font-size: 16px;
	text-align: center;
}

#secondary-aside {
	float: right;
	width: 200px;
	padding: 2px;
	position: relative;
}

#lang-form div {
	display: inline;
	padding-right: 7px;
}

#lang-form div div form {
	background: transparent;
	border: none;
}

#lang-form div div form div input {
	background: transparent;
	border: none;
	text-align: right;
}

#lang-form div div form div img {
	text-align: right;
}

#bread-crumb-app {
	font-weight: bolder;
	font-size: smaller;
	margin-left: 40px;
	margin-top: 8px;
}

/* ==============
 MOBILE: Menu
 ============== */
nav ul {
	margin: 0;
	padding: 0;
	margin-left: 50px;
}

nav a {
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	float: left;
	padding: 4px 2%;
	margin-bottom: 0;
	margin: 0 3px;
}

nav a:hover {
	text-decoration: bolder;
}

/* ==============
 MOBILE: Main
 ============== */
.main {
	padding: 0;
}

.main article h1 {
	font-size: 2em;
}

#foot-loads {
	padding: 50px;
	width: 650px;
}

#page-container {
	width: 100%;
}

.grey {
	margin-top: 5px;
	margin-bottom: 5px;
}

.black,.black a {
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: none;
}

form {
	display: inline;
}

#search-form {
	background-color: #F3F4EF;
	border: 5px solid #F3F4EF;
	border-radius: 3px;
}

#search-form .form-dummy * {
	float: none;
	padding: 4px;
	display: inline;
}

#search-form .form-dummy span {
	padding-right: 25px;
}

#search-form .form-dummy div {
	margin: 0px;
	padding: 0px;
}

#search-form .form-dummy div input {
	border: none;
}

input#search-submit.hover {
	background-position-y: -35px;
	background-position: 0px -35px;
}

.form-dummy {
	display: inline;
}

nav {
	display: block;
}

#printer-button,#rss-button,#lang-form,#sitemap-button,#feedback-site-button
	{
	display: inline;
	padding-right: 5px;
	text-decoration: none;
	background-position: 3 3;
	background-position-x: 3px;
	background-position-y: 3px;
	background-repeat: no-repeat;
	padding-left: 15px;
}

#printer-button {
	background-image: url('../images/default/print_top.gif');
}

#rss-button {
	background-image: url('../images/default/rss_top.gif');
}

#feedback-site-button {
	background-image: url('../images/default/comment_top.gif');
}

#lang-form,#sitemap-button,#contact-button {
	float: left;
}

#cloud-tag {
	width: 550px;
	min-height: 150px;
	position: absolute;
	z-index: 4000;
	background-color: #EDEDEB;
	border-bottom: 1px solid #A6A6A5;
	border-right: 1px solid #A6A6A5;
	border-left: 1px solid #F6F6F4;
	border-top: 1px solid #F6F6F4;
}

#tag-cloud-button {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	background-image: url('../images/sprites/spritetags.png');
	width: 75px;
	height: 31px;
	display: inline-block;
	background-position-y: -31px;
	background-position: 0px -31px;
	font-weight: bold;
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 5px;
}

#tag-cloud-button:hover {
	background-position-y: 5px;
	background-position: 0px 5px;
	color: #3794DA;
}

#browser #cloud-tag .tag-cloud a {
	background-color: transparent;
	color: #3794DA;
	padding: 3px;
	text-decoration: none;
	font-weight: bold;
}

#browser #cloud-tag .tag-cloud {
	background-color: transparent;
	padding: 3px;
	color: #565B5E;
	width: 47%;
	display: inline-block;
}

/* ===============
 Left aside sidebar
 =============== */
aside#main-aside header {
	padding-top: 6px;
	font-weight: bolder;
	font-size: larger;
}

aside#main-aside ul {
	list-style-type: none;
}
/* ==============
 MENU: Icons for the menu
 ============== */
ul#main-buttons {
	float: right;
	margin: 0px;
}

ul#main-buttons li {
	list-style-type: none;
	margin: 0px;
	float: left;
}

img.menu_icon {
	width: 40px;
}

/* ===============
 ALL: IE Fixes
 =============== */
.ie7 .title {
	padding-top: 20px;
}

/*=====================
 Override ExtJS
 =======================*/
.x-panel-header {
	background-image: none;
}

div#tabs .x-tab-panel-body {
	border: none;
}

div#resultsPanel * div.x-panel-tbar {
	padding-top: 0px;
	height: 29px;
	border: none !important;
}

div#resultsPanel * div.x-panel-tbar>div {
	border: none !important;
}

#layerManager-accordion .x-panel-btns {
	padding: 5px;
	overflow: initial;
}

div#resultsPanel .x-panel-bbar div {
	border: none !important;
	background: none;
}

div#resultsPanel table.x-toolbar-ct {
	height: 29px !important;
}

div#advSearchTabs div.x-panel.x-form-label-left.x-box-item {
	width: 32%;
}

div#advSearchTabs ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

div#advSearchTabs input {
	border: none;
}

div#tabs ul.x-tab-strip-top {
	background-image: none;
	margin: 0 0 0 0;
	border: none;
}

div#tabs .x-tab-strip-top .x-tab-right,div#tabs .x-tab-strip-top .x-tab-left,div#tabs .x-tab-strip-top .x-tab-strip-inner
	{
	background-image: none;
}

div#tabs .x-tab-strip-active .x-tab-right,div#tabs .x-tab-strip-active .x-tab-left,div#tabs .x-tab-strip-active .x-tab-strip-inner
	{
	margin-top: 1px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding-top: 1px;
}

div#tabs {
	margin-top: 11px;
}

div#tabs .x-tab-strip-active .x-tab-right {
	box-shadow: 1px 1px 10px 1px;
	border-top: solid 3px;
}

div#tabs .x-tab-strip span.x-tab-strip-text {
	font-size: 16px;
}

div#tabs ul.x-tab-strip-top {
	padding: 0 0 0 40px;
}

div#tabs .x-tab-panel-header {
	padding: 0;
	border: none;
}

div#tabs ul.x-tab-strip li {
	margin-left: 12px;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */

/* ==========================================================================
 Media Queries
 ========================================================================== */
nav li a {
	margin-right: 20px;
	padding-left: 17px;
	padding-right: 17px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

nav li:first-child a {
	margin-left: 0;
}

nav li:last-child a {
	margin-right: 0;
}

#footer {
	text-align: right;
}

#footer ul li {
	padding: 0px 20px;
}

#search-form {
	clear: both;
	float: none;
	margin: 5px 20px 0px;
}

#legend-search {
	display: none;
	padding: 0px 20px;
}

#search-form input {
	float: left;
	margin: 0;
	border: solid 1px;
	font-weight: bolder;
}

#search-form input#E_any {
	height: 35px;
}

#search-submit {
	left: 0;
	margin: 0 0 0 -1px;
	font-size: 1em;
	padding: 1px;
	position: relative;
	border: 1px solid;
	xfont-weight: bold;
	width: 35px;
	height: 35px;
	background: url('../images/ico_find.png') no-repeat;
	cursor: pointer;
}

#search-form-fieldset #show-advanced,#search-form-fieldset #hide-advanced
	{
	cursor: pointer;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	float: right;
}

#search-form-fieldset span.button {
	background-image:
		url('../images/sprites/asprite_dvanced_search_arrows.png');
	background-repeat: no-repeat;
	background-position-y: 0px;
	background-position-x: 0px;
	background-position: 0px 0px; width : 18px;
	height: 20px;
	display: inline-block;
	width: 18px;
}

#search-form-fieldset #hide-advanced span.button {
	background-position-y: -20px;
	background-position: 0px -20px;
}

#advanced-search-options {
	min-height: 200px;
	width: 100%;
	float: none;
	clear: both;
}

/* ========================
     INTERMEDIATE: IE Fixes
     ======================== */
nav ul li,#footer ul li {
	display: inline;
}

.oldie nav a {
	margin: 0 0.7%;
}
/* ============
WIDE: CSS3 Effects
                                         ==================== * /
	/* ============
     WIDE: Menu
     ============ */
.title {
	float: left;
}

nav {
	margin-left: 15%;
	margin-right: 15%;
	font-size: 14px;
	font-weight: bold;
	xclear: both;
	float: left;
}

/* ============
     WIDE: Main
     ============ */
.main article {
	width: 100%;
	margin: 9px;
}

.main article#map {
	float: left;
	width: 100%;
	height: 800px;
	margin: 9px;
}

/* ==========================================================================
 Helper classes
 ========================================================================== */
.ir {
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
 Print styles
 ========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links for images, or javascript/internal links
     */
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content: "";
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group; /* h5bp.com/t */
	}
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}

#toctree ul.x-tree-root-ct.x-tree-no-lines {
	overflow: scroll;
	height: inherit;
}

/* Icon based on protocol prefix in related resource table */
#result-panel div#resultsPanel .WWWLINK {
	background-image: url(../../images/default/link.png);
}

#result-panel div#resultsPanel .WWWDOWNLOAD {
	background-image: url(../../images/default/database_yellow.png);
}

#result-panel div#resultsPanel .OGCWMS {
	background-image: url(../../images/default/map/server_picture.png);
}

#result-panel div#resultsPanel .OGCWFS {
	background-image: url(../../images/default/map/server_vector.png);
}

/* Other icons */
.md-mn-reset {
	background-image: url(../../images/default/cross.png);
}

#result-panel div#resultsPanel .md-mn-kml {
	background-image: url(../../images/default/google-earth-link.png);
}

#result-panel div#resultsPanel .md-mn-www {
	background-image: url(../../images/default/link.png);
}

#result-panel div#resultsPanel .xmlIcon {
	background-image: url(../../images/default/page_code.png);
}

#result-panel div#resultsPanel .addIcon {
	background-image: url(../../images/default/add.png) !important;
}

.privIcon {
	background-image: url(../../images/default/group_key.png) !important;
}

#result-panel div#resultsPanel .downloadAllIcon {
	background-image: url(../../images/default/folder_page_white.png)
		!important;
}

.searchIcon {
	background-image: url(../../images/default/find.png) !important;
}

.shortcutHelpIcon {
	background-image: url(../../images/default/schematron.gif) !important;
}

.viewModeIcon {
	background-image: url(../../images/default/application_view_tile.png)
		!important;
}

.linkIcon {
	background-image: url(../../images/default/link.png) !important;
}

.addVector {
	background-image: url(../../images/default/vector_add.png) !important;
}

.delVector {
	background-image: url(../../images/default/vector_delete.png) !important;
}

.connect {
	background-image: url(../../images/default/connect.png) !important;
}

.subtemplateIcon {
	background-image: url(../../images/default/report_magnify.png)
		!important;
}

.processMetadata {
	background-image: url(../../images/default/table_gear.png) !important;
}

.repository {
	background-image: url(../../images/default/database_yellow.png)
		!important;
	background-repeat: no-repeat;
	padding-left: 15px;
}

.addLayerIcon,.addLayer {
	background-image: url(../../html5ui/img/icon_show_map.png) !important;
}

.bookmark-icon,.checkWMS,.checkWFS {
	padding: 0px;
	border: none;
	margin-top: 3px;
}

.validStatus {
	float: left;
}

.otherLicenses,.validStatus {
	margin-top: 3px;
}

span.license {
	background-image: url(../../html5ui/img/icon_gebruiksvoorwaarden.png)
		!important;
	background-repeat: no-repeat;
	padding-left: 20px;
	height: 28px;
}

.deleteLayer {
	background-image: url(../../images/default/map/delete_layer.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.measure {
	background-image: url(../../images/default/map/icon_measure.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.zoomin {
	background-image: url(../../images/default/map/icon_zoomin.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.zoomout {
	background-image: url(../../images/default/map/icon_zoomout.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.zoomfull {
	background-image: url(../../images/default/map/icon_zoomfull.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.zoomlayer {
	background-image: url(../../images/default/map/icon_zoomlayer.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.pan {
	background-image: url(../../images/default/map/icon_pan.png) !important;
	height: 20px !important;
	width: 20px !important;
}

.selextent {
	background-image: url(../../images/default/map/icon_selextent.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.query {
	background-image: url(../../images/default/map/icon_featureinfo.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.next {
	background-image: url(../../images/default/map/resultset_next.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.back {
	background-image: url(../../images/default/map/resultset_previous.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.savewmc {
	background-image: url(../../images/default/map/icon_savewmc.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.wmsTime {
	background-image: url(../../images/default/map/wmstime.gif) !important;
	height: 20px !important;
	width: 20px !important;
}

.layerStyles {
	background-image: url(../../images/default/map/layerstyles.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.layerOpacity {
	background-image: url(../../images/default/map/opacity.png) !important;
	height: 20px !important;
	width: 20px !important;
}

.wmsInfo {
	background-image: url(../../images/default/map/wmsinfo.png) !important;
	height: 20px !important;
	width: 20px !important;
}

.olControlLoadingPanel {
	background-image: url(../../images/default/map/indicator_medium.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.loadwmc {
	background-image: url(../../images/default/map/icon_loadwmc.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.selectfile {
	background: url(../../images/default/map/icon_selectfile.png) no-repeat
		0 0 !important;
}

.styler {
	background-image: url(../../images/default/map/layerstyles.png)
		!important;
}

.drawPolygon {
	background-image: url(../../images/default/map/draw_polygon_off.png)
		!important;
}

.drawCircle {
	background-image: url(../../images/default/map/draw_circle_off.png)
		!important;
}

.drawRectangle {
	background-image: url(../../images/default/map/draw_rectangle_off.png)
		!important;
}

.clearPolygon {
	background-image:
		url(../../images/default/map/draw_polygon_clear_off.png) !important;
}

.md-mn-view {
	background-image: url(../images/default/page_go.png) !important;
}

.md-mn-edit {
	background-image: url(../images/default/page_edit.png) !important;
}

.md-mn-del {
	background-image: url(../images/default/page_delete.png) !important;
}

.md-mn-copy {
	background-image: url(../images/default/page_copy.png) !important;
}

.md-mn-find {
	background-image: url(../images/default/find.png) !important;
}

.md-mn-go {
	background-image: url(../images/default/bullet_go.png) !important;
}

.md-mn-advanced {
	background-image: url(../images/default/cog.png) !important;
}

.md-mn-user {
	background-image: url(../images/default/user.png) !important;
}

.md-mn-pdf {
	background-image: url(../images/default/page_white_acrobat.png)
		!important;
}

.md-mn-badd {
	background-image: url(../images/default/brick_add.png) !important;
}

.md-mn-zip {
	background-image: url(../images/default/page_white_zip.png) !important;
}

.md-mn-ftp {
	background-image: url(../images/default/folder.png) !important;
}

.md-mn-ftps {
	background-image: url(../images/default/folder_key.png) !important;
}

.md-mn-download,.download {
	background-image: url(../../html5ui/img/icon_download_dataset.png)
		!important;
	width: 24px !important;
	height: 24px !important;
}

.mn-user-location {
	background-image: url(../images/default/user_location.png) !important;
}

.mn-view-simple {
	background-image: url(../images/default/mv-simple.png) !important;
	background-repeat: no-repeat;
}

.mn-view-full {
	background-image: url(../images/default/mv-full.png) !important;
	background-repeat: no-repeat;
}

.mn-view-thumbnail {
	background-image: url(../images/default/mv-thumbnail.png) !important;
	background-repeat: no-repeat;
}

.mn-login {
	background-image: url(../images/default/user_go.png) !important;
}

.mn-logout {
	background-image: url(../images/default/door_out.png) !important;
}

.mn-clear {
	background-image: url(../images/default/cross.png) !important;
}

div.facets ul {
	padding: 0 0 0 2px !important;
}

div.facets * ul,div.facets * li {
	list-style: none;
}
/**
 * Facet category label
 */
div.facets>ul>li {
	margin: 0px;
	padding: 0px;
	border-top: 1px solid;
	font-weight: bold;
}
/**
 * Facet sub elements
 */
div.facets ul ul {
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 85%;
}
/**
 * Facet count between (number) displayed next to a facet value
 */
.facet-count {
	padding-left: 3px;
}
/**
 * Facet clickable link which trigger the filter action
 */
div.facets * a {
	text-decoration: none;
}

.breadcrumb * .x-btn-tl,.breadcrumb * .x-btn-tr,.breadcrumb * .x-btn-tc,.breadcrumb * .x-btn-ml,.breadcrumb * .x-btn-mr,.breadcrumb * .x-btn-mc,.breadcrumb * .x-btn-bl,.breadcrumb * .x-btn-br,.breadcrumb * .x-btn-bc
	{
	background: none;
}

.breadcrumb * button {
	font-weight: bold;
}

.breadcrumb * button:hover {
	text-decoration: underline;
}

.breadcrumb-mn {
	background-image: none;
}

.breadcrumb-mn * .current-mn {
	font-weight: bold;
}

.breadcrumb-mn * a.x-menu-item {
	line-height: 10px;
}

.breadcrumb-mn * .x-menu-item-icon {
	height: 10px;
	width: 10px;
}

.breadcrumb-mn * .x-menu-list {
	padding: 0 0 0 0px !important;
	margin: 0 0 !important;
}

/* Login form
 */
#login-form {
	position: absolute;
	right: 15%;
	top: 40px;
	background: none;
    z-index: 999;
}

#login_div {
	width: 200px;
	padding: 5px;
	padding-bottom: 35px;
	box-shadow: 3px 3px 12px 3px grey;
}



#login_div input {
	max-width: 180px;
}

#login_div #login_button {
	float: right;
	margin-top: 7px;
	border: black 1px solid;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	background: white;
}

#login-form .x-panel-body {
	background: none !important;
}

/** Interactive link/buttons
*/

#metadata-panel table.x-toolbar-ct tr.x-toolbar-right-row td.x-toolbar-cell table.x-btn{
	background-image: url('../images/sprites/sprite_icons_metadadato.png');
}

#metadata-panel .book {
	background:none;
}

#viewpanel-feedback {
	background-position: -101px 0px;
	background-position-x: -101px;
	background-position-y: 0px;
}

#viewpanel-print {
	background-position: -404px 0px;
	background-position-x: -404px;
	background-position-y: 0px;
}

#permalink-button {
	background-position: -202px 0px;
	background-position-x: -202px;
	background-position-y: 0px;
}

#share-button {
	background-position: -303px 0px;
	background-position-x: -303px;
	background-position-y: 0px;
}

.insert-missing-elements {
	background-image: url('../images/add-missing-elements.png');
}

#metadata-panel tr td em button.print {
	padding-left: 14px;
	background-position: 0 0;
	background-position-x: 0px;
	background-position-y: 0px;
	background-repeat: repeat;
}

.user-button a {
	padding-left: 20px;
	padding-top: 2px;
	background-image: url('../images/icon_user.png');
	background-repeat: no-repeat;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 11px;
	margin-right: 3px;
}

.user-button {
	float: right;
	padding: 3px;
	margin-right: 10%;
}

a#administration_button {
	margin-left: 2px;
	/* 	background-image: url('../images/sprites/sprite_admin.gif');
	background-repeat: no-repeat;
	background-position-y: -17px; */
}

a#administration_button:hover {
	background-position-y: 1px;
}

#viewpanel-feedback:hover, #viewpanel-feedback.x-btn-pressed {
	background-position: -101px -39px;
	background-position-y: -39px;
}

#viewpanel-print:hover, #viewpanel-print.x-btn-pressed {
	background-position: -404px -39px;
	background-position-y: -39px;
}

#viewpanel-tooltip:hover, #viewpanel-tooltip.x-btn-pressed {
	background-position: 0px -39px;
	background-position-y: -39px;
}

#permalink-button:hover,#permalink-button.x-btn-pressed {
	background-position: -202px -39px;
	background-position-y: -39px;
}

#share-button:hover,#share-button.x-btn-pressed {
	background-position: -303px -39px;
	background-position-y: -39px;
}

#metadata-panel .x-btn-over tr td em button.print {
	background-position: -404px -39px;
	background-position-y: -39px;
}

#metadata-info .title {
	font-size: 20px;
}

#metadata-panel td {
	background: transparent;
	height: auto;
}

#metadata-panel .metadata.view-simple > div > table.gn > tbody > tr > td {
	background-image: url('../images/pattern_hr.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	border: none;
}
/**Metadata view */
#metadata-panel form {
	display: inline-block;
}
/**
Share social
*/
#share-capabilities {
	float: right;
}

#permalink-div {
	border: 1px solid;
	border-radius: 3px;
	margin: 3px;
	padding: 3px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 280px;
	z-index: 2000;
	right: 10px;
}

a#custom-tweet-button {
	padding: 2px 5px 2px 20px;
	background: url('https://twitter.com/favicons/favicon.ico') 1px center
		no-repeat;
	border: 1px solid;
	padding: 2px 5px 2px 20px;
	text-decoration: none;
}

#fb-button {
	margin-top: 1px;
	background-image:
		url('https://s-static.ak.fbcdn.net/rsrc.php/v2/yI/x/1dQf_ATK831.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 2px 4px;
	border: 1px solid;
}

#fb-button a {
	text-decoration: none;
}

body * ul.x-menu-list {
	margin: 0 0;
}

.x-superboxselect-item img {
	max-height: 16px;
	vertical-align: middle;
}

.validatePanel * .x-grid3-cell-inner {
	white-space: normal !important;
}

#advSearchTabs .x-box-inner {
	overflow: auto;
}

#advSearchTabs {
	width: 100%;
}

#msg-div {
	position: absolute;
	width: 350px;
	z-index: 20000;
}

#cookie-warning {
	position: absolute;
	z-index: 10000;
	width: 80%;
}

.label,.badge {
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	margin-right: 10px;
	font-weight: normal;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

legend[id*="MD_Metadata"][id*="root"] span span div.alert {
	display: none;
}

.alert * h2 {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/**
tag cloud */
ul li.tag-cloud a {
	text-decoration: none;
	padding: 2px;
}

#recent-viewed .thumb-wrap {
	display: inline-block;
}

#recent-viewed span {
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 9px;
	padding: 4px;
	margin: 0px;
}

#recent-viewed .thumb-wrap h1 {
	font-size: 10px;
}

#recent-viewed a {
	text-decoration: none;
}

#recent-viewed .thumb {
	position: relative;
}

#recent-viewed-div h1 {
	font-size: 16px;
	font-weight: bolder;
	padding-left: 8px;
}

#recent-viewed .thumb img {
	vertical-align: middle;
	margin: 1px;
	width: 200px;
	height: 200px;
}

/** Startup page */
#popular-metadata input {
	display: none;
}

#popular-metadata {
	padding-left: 25px;
}

#latest-metadata .md-thumbnail, #popular-metadata .md-thumbnail {
	width: 30%;
}

#latest-metadata .md-thumbnail .thumbnail, #popular-metadata .md-thumbnail .thumbnail {
	width: 100%;
}

#latest-metadata .thumbnail img, #popular-metadata .thumbnail img {
	display:block;
	margin: auto;
}

#latest-metadata header h1,#popular-metadata header h1 {
	background-image: url('../images/pattern_hr.png');
	background-repeat: repeat-x;
}

#latest-metadata header h1 span,#popular-metadata header h1 span{
	padding:12px;
	background: white;
}

#latest-metadata input {
	display: none;
}

/** Syntax highlighting */
.xmlattvalue {
	font-weight: bold;
}

.xmltagvalue {
	font-weight: bold;
}

.xmlns {
	font-style: italic;
}

dl.xml {
	padding-left: 2px;
}

dl.xml * dd {
	padding-left: 2px;
}

/** Metadata Menu **/
#resultsPanel .md-action-menu a {
	background-image: url("../images/metadata-menu.png");
	background-repeat: no-repeat;
	visibility: visible;
	padding-left: 15px;
	background-position-y: 12px;
	padding-top: 13px;
	width: 15px;
}

#big-map div.x-layout-cmini-east,#editorPanel div.x-layout-cmini-east {
	border: 0 none;
	width: 25px !important;
}

/** Keyword window **/
.ux-mselect-item {
	font-size: 11px;
}

/** IE specific **/ 
.ext-ie #search-form .x-form-check-wrap input {
	height: 22px;
	width: 22px;
}

/** What if we dont have thumbnail **/
.emptyThumbnail {
	min-height: 128px;
	background: url('../images/no_thumbnail.png');
	background-repeat: no-repeat;
	background-position: center;
}

                                                                                                                                                      
.emptyThumbnail span {                                                                                                                                
       font-size: 12px;                                                                                                                               
       text-align: center;                                                                                                                            
       margin: auto;                                                                                                                                  
       display: block;                                                                                                                                
       font-weight: bold;                                                                                                                             
       padding-top: 50px;                                                                                                                             
       text-shadow: 1px 1px grey;                                                                                                                     
}      

.overthumb {
	background-color: rgba(255,255,255,0.5);
	width: inherit;
	height: inherit;
	display: none;
	background-image: url('../images/ico_moreinformation.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.md-over .overthumb {
	display: block;
	position: absolute;
}

#latest-metadata header h1,#popular-metadata header h1 {
	text-transform: uppercase;
	font-size: 26px;
	color: #3B6688;
	text-align: center;
}
