html,button,input,select,textarea {
  color:#222;
}

/* to keep footer down -- from http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page */
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

html,body,button,input,select,textarea {
  color: #000 !important;
  font: 11px verdana, arial,sans-serif !important;
  line-height: 1.4 !important;
}

/** General settings **/

#container {
	min-height: 100%;
	position: relative;
}

#main {
	padding: 3px;
	padding-bottom: 150px; /* height of the footer */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px; /* height of the footer */
  background-image: url('../images/map_header.png');
  background-color: #636363;
  text-align: right;
  font-size: 11px;
}

#pdok-loads {
  padding: 60px;
  margin-left: 200px;
  margin-right: 200px;
}

/* Footer Links */
#footer ul a {
	padding: .3636em .9091em;
  text-decoration: none;
  list-style: none;
}

#footer li {
	display: inline;
	padding: 0 0.2em 0 0.5em;
}

/* end of stuff to keep the footer down */
html,body,button,input,select,textarea {
  font-size: 11px;
  line-height: 1.4;
  font-family: verdana,arial,sans-serif;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
  margin:.2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

body {
  font: 11px/22px Verdana,Helvetica,Arial;
  width: 95%;
  min-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#map {
	width: 100%;
	height: 100%;
}

.olControlMousePosition.olControlNoSelect {
  display:none;
}

.metadata_map {
	margin: 1%;
	float: left;
	width: 22%;
	height: 400px;
}

.metadata_data {
	float: left;
	width: 75%;
}

#big-map  .hideBigMapPanel {
	background: url("../images/sprites/sprite_resize_map.gif") -30px -5px
		no-repeat;
}

#big-map .hideBigMapPanel:hover {
	background: url("../images/sprites/sprite_resize_map.gif") -31px -30px
		no-repeat;
}

#big-map .x-layout-mini,#editorPanel .x-layout-mini {
	height: 50px;
	width: 9px;
	background-size: 100% 100%;
}

#header header {
  width: 100%;
  padding-top: 4px;
}

#header {
  border-bottom:10px solid #F6D4B1;
  padding:17px 0 0;
  background-image:url('../images/map_header.png');
  box-shadow:none;
  height: 90px;
}

#logo {
  background-position: center top;
  background-repeat: no-repeat;
  background-image:url('../images/banner_logo.png');
  width: 100%;
  height: 55px;
  z-index: 1000;
}

.main aside {
  background:#E26F02;
}

.main-aside {
  margin:10px;
  float:left;
  width:18%;
}

.tag-aside {
  margin:10px;
  float:left;
  width:18%;
  min-height: 400px;
}

#welcome-text {
  color:#393939;
  font-size:1.1em;
}

#about-text {
  margin:13px;
  margin-left:30px;
  color:#393939;
  font-size:1.1em;
}

#secondary-aside {
  margin-left:10px;
  float:right;
  width:200px;
}

.left-column-header {
  background:#fbead9;
}

.title {
  color:#fff;
}

#bread-crumb-app {
  font-weight:bolder;
  color:#43788A;
  margin-left:40px;
  margin-top:8px;
}

#bread-crumb-app a {
  color:#3D4F5E;
}

#bread-crumb-app .current {
  color:black;
}

/* ==============
 MOBILE: Menu
 ============== */
nav ul {
	margin: 0;
	padding: 0;
	margin-left: 24px;
}

nav a {
	text-align: center;
	text-decoration: none;
	font-weight: bold;
  color: black;
	float: left;
	padding: 0 24px;
	margin: 0;
}

nav a.selected {
  background:#F6D4B1;
}

/* ==============
 MOBILE: Main
 ============== */
.main {
	padding: 0;
}

.main article h1 {
  font-size:11px;
}

.main aside {
  color:white;
}

#footer footer {
  color:white;
}

#foot-loads {
  padding:50px;
  width:650px;
  color:#069;
}

#foot-loads h1 {
  color:#012;
}

#page-container {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  box-shadow:0 -5px 40px -5px #AAA;
}

.grey {
  color:#767B7E;
  margin-top:5px;
  margin-bottom:5px;
  font-size:10px;
}

.black,.black a {
  color:black;
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:none;
}

form {
	display: inline;
}

#search-form .form-dummy * {
  float:none;
  padding:4px;
  display:inline;
  vertical-align: middle;
}

#search-form .form-dummy span {
	padding-right: 25px;
}

#search-form .form-dummy div {
	margin: 0px;
	padding: 0px;
}

#search-form .form-dummy div input {
	border: none;
}

.form-dummy {
  display: inline;
  padding-left: 25px;
}

nav {
  display: block;
}

#printer-button,#rss-button,#lang-button,#sitemap-button,#feedback-site-button,#help-tab,#contact-tab {
  display: inline;
  padding-right: 5px;
  text-decoration: none;
  color: #767B7E !important;
  background-position: 3 3;
  background-position-x: 3px !important;
  background-position-y: 3px !important;
  background-repeat: no-repeat !important;
  padding-left: 15px;
}

#help-tab,#contact-tab,#lang-button {
  float: right;
}

#printer-button {
  background-image: url('../images/default/print_top.gif');
}

#rss-button {
  background-image: url('../images/default/rss_top.gif');
}

#feedback-site-button {
  background-image: url('../images/default/comment_top.gif');
}

#sitemap-button,#contact-button {
  float: right;
}

#lang-menu {
  height: auto;
}

#lang-menu ul.x-menu-list {
  height: auto !important;
}

#cloud-tag {
  margin-top: 10px;
  min-height: 150px;
}

#tag-cloud-button {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-image: url(../images/sprites/spritetags.png);
  width: 75px;
  height: 31px;
  display: inline-block;
  background-position-y: -31px;
  background-position: 0 -31px;
  font-weight: bold;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-top: 5px;
}

#tag-cloud-button:hover {
  background-position-y: 5px;
  background-position: 0 5px;
  color: #3794DA;
}

#browser #cloud-tag .tag-cloud a {
  background-color: transparent;
  color: #3794DA;
  text-decoration: none;
  font-weight: bold;
  padding: 3px;
}

#browser #cloud-tag .tag-cloud {
  background-color: transparent;
  color: #565B5E;
  width: 47%;
  display: inline-block;
  padding: 3px;
}

#printPanel form,#loadwmc form {
  display: block;
}

/* ===============
 Right aside sidebar
 =============== */
aside#secondary-aside header {
  padding-top: 6px;
  font-weight: bolder;
}

/* ===============
 Left aside sidebar
 =============== */
aside#main-aside header {
	padding-top: 6px;
	font-weight: bolder;
}

aside#main-aside ul {
	list-style-type: none;
}
/* ==============
 MENU: Icons for the menu
 ============== */
ul#main-buttons {
	float: right;
	margin: 0px;
}

ul#main-buttons li {
	list-style-type: none;
	margin: 0px;
	float: left;
}

img.menu_icon {
	width: 40px;
}

/* ===============
 ALL: IE Fixes
 =============== */
.ie7 .title {
	padding-top: 20px;
}

/*=====================
 Override ExtJS
 =======================*/
.x-panel-header {
  background-color: #E26F02;
  background-image: none;
  color: white;
  height: 19px;
}

div#advSearchTabs .x-panel-header {
  background-color: #F6D4B1;
  color: black;
}

div#advSearchTabs div.x-panel-bwrap div.x-panel-body.x-panel-body-noheader.x-panel-body-noborder.x-box-layout-ct div.x-box-inner div.x-panel.x-form-label-left.x-box-item div.x-panel-bwrap div.x-panel-body {
  background: white;
}

div#tabs .x-tab-panel-body {
	border: none;
}

div#resultsPanel * div.x-panel-tbar {
	padding-top: 0px;
	height: 29px;
	border: none !important;
}

div#resultsPanel * div.x-panel-tbar>div {
	border: none !important;
}

div#big-map .x-panel-tbar table.x-toolbar-ct,div#resultsPanel table.x-toolbar-ct {
  background-color: #E26F02;
  color: white;
}

#layerManager-accordion .x-panel-btns {
	padding: 5px;
	overflow: initial;
}

#layerManager-accordion input, #layerManager-accordion textarea {
	min-width: 90px;
}

#printToPdfPanel form {
	overflow-y: scroll;
	display: inline-block;
	max-width: 100%;
}

div#resultsPanel .x-panel-bbar div {
	border: none !important;
	background: none;
}

div#resultsPanel table.x-toolbar-ct {
	height: 29px !important;
}

div#advanced-search-options-content-form {
  margin-top: 10px;
}

div#advSearchTabs div.x-panel.x-form-label-left.x-box-item {
	width: 32%;
}

div#advSearchTabs ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

div#advSearchTabs input {
	border: none;
}

#inspire_adv_search {
  margin-top: 16px;
}

div#tabs ul.x-tab-strip-top {
  background-color: white;
  background-image: none;
  border-bottom-color: black;
  margin: 0;
  border: none;
}

div#tabs .x-tab-strip-top .x-tab-right,div#tabs .x-tab-strip-top .x-tab-left,div#tabs .x-tab-strip-top .x-tab-strip-inner {
  background-image: none;
  background-color: #005BA7;
}

div#tabs .x-tab-strip-active .x-tab-right,div#tabs .x-tab-strip-active .x-tab-left,div#tabs .x-tab-strip-active .x-tab-strip-inner {
  background: white;
  color: black;
  margin-top: 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding-top: 1px;
}

div#tabs {
	margin-top: 11px;
}

div#tabs .x-tab-strip-active .x-tab-right {
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
	border-top: solid 3px #E26F02;
}

div#tabs .x-tab-strip span.x-tab-strip-text {
	color:black;shadow:grey;
}

div#tabs ul.x-tab-strip-top {
	padding: 0 0 0 40px;
}

div#tabs .x-tab-panel-header {
	padding: 0;
	border: none;
}

div#tabs ul.x-tab-strip li {
	margin-left: 12px;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */

/* ==========================================================================
 Media Queries
 ========================================================================== */
nav li a {
	margin-right: 20px;
	padding-left: 17px;
	padding-right: 17px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

nav li:first-child a {
	margin-left: 0;
}

nav li:last-child a {
	margin-right: 0;
}

#footer {
	text-align: right;
}

#footer ul li {
	padding: 0px 20px;
}

#search-form {
	clear: both;
	float: none;
	margin: 5px 20px 0px;
}

#legend-search {
  color: #fff;
	display: none;
	padding: 0px 20px;
}

#search-form input {
	float: left;
	margin: 0;
  max-height: 28px;
}

#search-form input#E_any {
  height: 28px;
  /* box-sizing is for IE which uses this method (which includes border size)
     to calculate height */
  box-sizing: border-box;
}

#search-submit {
	font-size: 18px !important;
	position: relative;
  height: 28px;
	width: 60px;
	cursor: pointer;
  font-family: FontAwesome !important;
}

#show-advanced,#hide-advanced {
  cursor: pointer;
  display: inline;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 12px;
}

.show-advanced-icon,.hide-advanced-icon {
  vertical-align: middle;
}

#advanced-search-options {
	min-height: 200px;
	width: 100%;
	float: left;
	clear: both;
}

/* ========================
     INTERMEDIATE: IE Fixes
     ======================== */
nav ul li,#footer ul li {
	display: inline;
}

.oldie nav a {
	margin: 0 0.7%;
}
/* ============
WIDE: CSS3 Effects
                                         ==================== * /
	/* ============
     WIDE: Menu
     ============ */
.title {
	float: left;
}

nav {
  display: block;
  margin: 12px 0 0;
  font-family: Arial,Verdana,sans-serif;
	font-size: 14px;
	font-weight: bold;
	xclear: both;
	float: left;
  width: 100%;
}

/* ============
     WIDE: Main
     ============ */
.main article {
  float: left;
	width: 78%;
	margin: 9px;
}

.main article#map {
	float: left;
	width: 100%;
	height: 800px;
	margin: 9px;
}

/* ==========================================================================
 Helper classes
 ========================================================================== */
.ir {
  background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
 Print styles
 ========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links for images, or javascript/internal links
     */
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content: "";
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group; /* h5bp.com/t */
	}
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}

#toctree ul.x-tree-root-ct.x-tree-no-lines {
	overflow: scroll;
	height: inherit;
}

.WWWLINK,.website,.UKST {
  background-image: url(../../smart/img/icon_web_link.png) !important;
}

.x-btn-text-icon .x-btn-icon-small-left .x-btn-text .WFSDownloadIcon {
  min-height:24px;
  padding-left:25px;
}

.WWWDOWNLOAD,.WFSDownloadIcon,.OGCWMC,.OGCKML,.OGCGML,.INSPIRE-ATOM {
  background-image: url(../../smart/img/icon_download_dataset.png) !important;
}

.OGCWMS,.OGCWMTS,.OGCWCS {
  background-image: url(../../smart/img/icon_show_map.png) !important;
}

.OGCSOS,.OGCWPS,.OGCCSW,.OGCWCTS,.OGCWFSG,.OGCSPS,.OGCSAS,.OGCWNS,.OGCODS,.OGCOGS,.OGCOUS,.OGCOPS,.OGCORS{
  background-image: url(../../smart/img/icon_service.png) !important;
}

li.services {
  background-image: url(../../smart/img/icon_service.png);
  background-repeat: no-repeat;
}

li.children,li.related,li.parent,li.datasets {
  background-image: url(../../smart/img/icon_dataset.png);
  background-repeat: no-repeat;
}

#metadata-info .related .relatedResource span.desc {
  padding-left:10px;
  font-size:10px;
}

#metadata-info .related li *{display:inline-block;}

#metadata-info .related li a,#metadata-info .related li span{min-width:500px;}

/* Other icons */
.md-mn-reset {
	background-image: url(../../images/default/cross.png);
}

#result-panel div#resultsPanel .md-mn-kml {
	background-image: url(../../images/default/google-earth-link.png);
}

#result-panel div#resultsPanel .md-mn-www {
	background-image: url(../../images/default/link.png);
}

#result-panel div#resultsPanel .xmlIcon {
	background-image: url(../../images/default/page_code.png);
}

#result-panel div#resultsPanel .addIcon {
	background-image: url(../../images/default/add.png) !important;
}

.privIcon {
	background-image: url(../../images/default/group_key.png) !important;
}

#result-panel div#resultsPanel .downloadAllIcon {
	background-image: url(../../images/default/folder_page_white.png)
		!important;
}

.validationReportIcon {
  background-image:url(../../images/default/schematron.gif) !important;
}

.searchIcon {
	background-image: url(../../images/default/find.png) !important;
}

.shortcutHelpIcon {
	background-image: url(../../images/default/schematron.gif) !important;
}

.viewModeIcon {
	background-image: url(../../images/default/application_view_tile.png)
		!important;
}

.linkIcon {
	background-image: url(../../images/default/link.png) !important;
}

.addVector {
	background-image: url(../../images/default/vector_add.png) !important;
}

.delVector {
	background-image: url(../../images/default/vector_delete.png) !important;
}

.connect {
	background-image: url(../../images/default/connect.png) !important;
}

.subtemplateIcon {
	background-image: url(../../images/default/report_magnify.png)
		!important;
}

.processMetadata {
	background-image: url(../../images/default/table_gear.png) !important;
}

.repository {
	background-image: url(../../images/default/database_yellow.png)
		!important;
	background-repeat: no-repeat;
	padding-left: 15px;
}

.addLayerIcon,.addLayer {
	background-image: url(../../smart/img/icon_show_map.png) !important;
  width: 24px !important;
  height: 24px !important;
}

button.addLayerButton {
  background-image:url(../../smart/images/default/picture_add.png);
  background-position:0 center;
}

.bookmark-icon,.checkWMS,.checkWFS {
	padding: 0px;
	border: none;
	margin-top: 3px;
}

.validStatus {
	float: left;
}

.otherLicenses,.validStatus {
	margin-top: 3px;
}

span.license {
	background-image: url(../../html5ui/img/icon_gebruiksvoorwaarden.png)
		!important;
	background-repeat: no-repeat;
	padding-left: 20px;
	height: 28px;
}

.deleteLayer {
	background-image: url(../../images/default/map/delete_layer.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.measure {
	background-image: url(../../images/default/map/icon_measure.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.zoomin {
	background-image: url(../../images/default/map/icon_zoomin.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.zoomout {
	background-image: url(../../images/default/map/icon_zoomout.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.zoomfull {
	background-image: url(../../images/default/map/icon_zoomfull.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.zoomlayer {
	background-image: url(../../images/default/map/icon_zoomlayer.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.pan {
	background-image: url(../../images/default/map/icon_pan.png) !important;
	height: 20px !important;
	width: 20px !important;
}

.selextent {
	background-image: url(../../images/default/map/icon_selextent.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.query {
	background-image: url(../../images/default/map/icon_featureinfo.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.next {
	background-image: url(../../images/default/map/resultset_next.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.back {
	background-image: url(../../images/default/map/resultset_previous.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.savewmc {
	background-image: url(../../images/default/map/icon_savewmc.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.wmsTime {
	background-image: url(../../images/default/map/wmstime.gif) !important;
	height: 20px !important;
	width: 20px !important;
}

.layerStyles {
	background-image: url(../../images/default/map/layerstyles.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.layerOpacity {
	background-image: url(../../images/default/map/opacity.png) !important;
	height: 20px !important;
	width: 20px !important;
}

.wmsInfo {
	background-image: url(../../images/default/map/wmsinfo.png) !important;
	height: 20px !important;
	width: 20px !important;
}

.olControlLoadingPanel {
	background-image: url(../../images/default/map/indicator_medium.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.loadwmc {
	background-image: url(../../images/default/map/icon_loadwmc.png)
		!important;
	height: 20px !important;
	width: 20px !important;
}

.selectfile {
	background: url(../../images/default/map/icon_selectfile.png) no-repeat
		0 0 !important;
}

.styler {
	background-image: url(../../images/default/map/layerstyles.png)
		!important;
}

.drawPolygon {
	background-image: url(../../images/default/map/draw_polygon_off.png)
		!important;
}

.drawCircle {
	background-image: url(../../images/default/map/draw_circle_off.png)
		!important;
}

.drawRectangle {
	background-image: url(../../images/default/map/draw_rectangle_off.png)
		!important;
}

.clearPolygon {
	background-image:
		url(../../images/default/map/draw_polygon_clear_off.png) !important;
}

.md-mn-view {
	background-image: url(../images/default/page_go.png) !important;
}

.md-mn-edit {
	background-image: url(../images/default/page_edit.png) !important;
}

.md-mn-del {
	background-image: url(../images/default/page_delete.png) !important;
}

.md-mn-copy {
	background-image: url(../images/default/page_copy.png) !important;
}

.md-mn-find {
	background-image: url(../images/default/find.png) !important;
}

.md-mn-go {
	background-image: url(../images/default/bullet_go.png) !important;
}

.md-mn-advanced {
	background-image: url(../images/default/cog.png) !important;
}

.md-mn-user {
	background-image: url(../images/default/user.png) !important;
}

.md-mn-pdf {
	background-image: url(../images/default/page_white_acrobat.png)
		!important;
}

.md-mn-badd {
	background-image: url(../images/default/brick_add.png) !important;
}

.md-mn-kml {
  background-image: url(../../smart/img/icon_googleearth.png) !important;
  width: 24px !important;
  height: 24px !important;
}

.md-mn-www {
  background-image: url(../../smart/img/icon_link.png) !important;
  width: 24px !important;
  height: 24px !important;
}

.md-mn-bookmark {
  background-image:url(../img/bookmark-add-icon.png) !important;
  width: 24px !important;
  height: 24px !important;
}

.md-mn-download,.download,.md-mn-ftp,.md-mn-ftps,.md-mn-zip {
  background-image: url(../../smart/img/icon_download_dataset.png) !important;
  width: 24px !important; 
  height:24px !important;
}

li.x-menu-list-item img.md-mn-zip {
  height: 16px !important;
  width:16px !important;
  background-image: url(../../images/default/page_white_compressed.png) !important;
}

li.x-menu-list-item img.md-mn-csv {
  background-image: url(../../images/default/page_white.png) !important;
  width: 16px !important;
  height: 16px !important;
}

li.x-menu-list-item img.md-mn-pdf {
  background-image:url(../../images/default/page_white_acrobat.png) !important;
  width: 16px !important;
  height: 16px !important;
}

.md-mn-service {
  background-image: url(../../smart/img/icon_service.png) !important;
  width: 24px !important;
  height: 24px !important;
}

.mn-user-location {
	background-image: url(../images/default/user_location.png) !important;
}

.mn-view-simple {
	background-image: url(../images/default/mv-simple.png) !important;
	background-repeat: no-repeat;
}

.mn-view-full {
	background-image: url(../images/default/mv-full.png) !important;
	background-repeat: no-repeat;
}

.mn-view-thumbnail {
	background-image: url(../images/default/mv-thumbnail.png) !important;
	background-repeat: no-repeat;
}

.mn-login {
	background-image: url(../images/default/user_go.png) !important;
}

.mn-logout {
	background-image: url(../images/default/door_out.png) !important;
}

.mn-clear {
	background-image: url(../images/default/cross.png) !important;
}

div.facets ul {
	padding: 0 0 0 2px !important;
}

div.facets * ul,div.facets * li {
	list-style: none;
}
/**
 * Facet category label
 */
div.facets>ul>li {
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #CCC;
  color: #E26F02;
	font-weight: bold;
}
/**
 * Facet sub elements
 */
div.facets ul ul {
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: .95em;
}
/**
 * Facet count between (number) displayed next to a facet value
 */
.facet-count {
  color: #71C0DD;
	padding-left: 3px;
}
/**
 * Facet clickable link which trigger the filter action
 */
div.facets * a {
	text-decoration: none;
}

div.facets * .facet-more-bt,div.facets * .facet-less-bt {
  color:#E26F02;
}

.breadcrumb * .x-btn-tl,.breadcrumb * .x-btn-tr,.breadcrumb * .x-btn-tc,.breadcrumb * .x-btn-ml,.breadcrumb * .x-btn-mr,.breadcrumb * .x-btn-mc,.breadcrumb * .x-btn-bl,.breadcrumb * .x-btn-br,.breadcrumb * .x-btn-bc
	{
	background: none;
}

.breadcrumb * button {
  color: #E26F02;
	font-weight: bold;
}

.breadcrumb * button:hover {
  color: #959532;
	text-decoration: underline;
}

.breadcrumb-mn {
  background-color: #FFF !important;
	background-image: none;
}

.breadcrumb-mn * .current-mn {
	font-weight: bold;
}

.breadcrumb-mn * a.x-menu-item {
	line-height: 10px;
}

.breadcrumb-mn * .x-menu-item-icon {
	height: 10px;
	width: 10px;
}

.breadcrumb-mn * .x-menu-list {
	padding: 0 0 0 0px !important;
	margin: 0 0 !important;
}

/* Login form
 */
#login-form {
	position: absolute;
	left: 200px;
	top: 20px;
	background: none;
	z-index: 50;
}

/* Language form
 */
#lang-form {
	position: absolute;
	right: 50px;
	top: 24px;
	z-index: 5000;
}


#login_div {
	width: 210px;
  background-color: white;
	padding: 5px;
	padding-bottom: 35px;
	box-shadow: 3px 3px 12px 3px grey;
}

#login_div #login_button {
	float: right;
	margin-top: 17px;
	border: black 1px solid;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	background: white;
}

#login-form .x-panel-body {
	background: none !important;
}

#login_div label {
  display:block;
}

#login_div input {
  margin-left:50px;
}

/** Interactive link/buttons
*/

/* ??? FIXME: Check following */
#metadata-panel table.x-toolbar-ct tr.x-toolbar-right-row td.x-toolbar-cell table.x-btn{
	background-image: url('../images/sprites/sprite_icons_metadadato.png');
}

#metadata-panel .book {
	background:none;
}

#viewpanel-feedback {
	background-position: -101px 0px;
	background-position-x: -101px;
	background-position-y: 0px;
}

#viewpanel-print {
	background-position: -404px 0px;
	background-position-x: -404px;
	background-position-y: 0px;
}

#permalink-button {
	background-position: -202px 0px;
	background-position-x: -202px;
	background-position-y: 0px;
}

#share-button {
	background-position: -303px 0px;
	background-position-x: -303px;
	background-position-y: 0px;
}

.insert-missing-elements {
	background-image: url('../images/add-missing-elements.png');
}

#metadata-panel tr td em button.print {
	padding-left: 14px;
	background-position: 0 0;
	background-position-x: 0px;
	background-position-y: 0px;
	background-repeat: repeat;
}

#metadata-panel td {
  background: transparent;
  height: auto;
}

.user-button a {
  background-image: url('../images/sprites/sprite_menu_user.gif');
  background-repeat: no-repeat;
  background-position: 0 -10px;
  background-position-x: 0;
  background-position-y: -10px;
  text-decoration: none;
  color: #767B7E;
  margin-left: 3px;
  margin-right: 3px;
}

.user-button a:hover {
  background-position-y: 0;
}

.user-button label {
  color: #767B7E;
}

a#administration_button {
  margin-left: 2px;
  background-image: url('../images/sprites/sprite_admin.gif');
  background-repeat: no-repeat;
  background-position-y: -10px;
}

.user-button a {
  padding-top: 0;
  padding-left: 12px;
}

#viewpanel-feedback:hover, #viewpanel-feedback.x-btn-pressed {
	background-position: -101px -39px;
	background-position-y: -39px;
}

#viewpanel-print:hover, #viewpanel-print.x-btn-pressed {
	background-position: -404px -39px;
	background-position-y: -39px;
}

#viewpanel-tooltip:hover, #viewpanel-tooltip.x-btn-pressed {
	background-position: 0px -39px;
	background-position-y: -39px;
}

#permalink-button:hover,#permalink-button.x-btn-pressed {
	background-position: -202px -39px;
	background-position-y: -39px;
}

#share-button:hover,#share-button.x-btn-pressed {
	background-position: -303px -39px;
	background-position-y: -39px;
}

#metadata-panel .x-btn-over tr td em button.print {
	background-position: -404px -39px;
	background-position-y: -39px;
}

#metadata-info span.title {
	font-size: 20px;
}

#metadata-panel td {
	background: transparent;
	height: auto;
}

#metadata-panel .metadata.view-simple > div > table.gn > tbody > tr > td {
	background-image: url('../images/pattern_hr.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	border: none;
}

/**Metadata view */
#metadata-panel form {
	display: inline-block;
}
/**
Share social
*/
#share-capabilities {
	float: right;
}

#permalink-div {
	border: 1px solid black;
	border-radius: 3px;
	margin: 3px;
	padding: 3px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 280px;
	z-index: 2000;
	right: 10px;
  background-color: white;
}

a#custom-tweet-button {
	padding: 2px 5px 2px 20px;
	background: url('../../smart/images/default/bird_blue_16.png') 1px center
		no-repeat;
	border: 1px solid #ccc;
	text-decoration: none;
  color: black;
}

#fb-button {
	margin-top: 1px;
	background-image:
		url('https://s-static.ak.fbcdn.net/rsrc.php/v2/yI/x/1dQf_ATK831.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 2px 4px;
	border: 1px solid #CCC;
}

#fb-button a {
	text-decoration: none;
  color: black;
}

body * ul.x-menu-list {
	margin: 0 0;
}

.x-superboxselect-item img {
	max-height: 16px;
	vertical-align: middle;
}

.validatePanel * .x-grid3-cell-inner {
	white-space: normal !important;
}

#advSearchTabs .x-box-inner {
	overflow: auto;
}

#advSearchTabs {
	width: 100%;
}

#msg-div {
	position: absolute;
	width: 350px;
	z-index: 20000;
}

#cookie-warning {
	position: absolute;
	z-index: 10000;
	width: 80%;
}

.label,.badge {
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
  background-color: #999;
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	margin-right: 10px;
  color: #C09853;
	font-weight: normal;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alert * h2 {
  color: #C09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/**
tag cloud */
ul li.tag-cloud a {
	text-decoration: none;
  color: #565B5E;
  background-color: #FEEDDD;
	padding: 2px;
}

#recent-viewed .thumb-wrap {
	display: inline-block;
  background: white;
}

#recent-viewed span {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 4px;
	margin: 0px;
  background:transparent;
  color:transparent;
}

#recent-viewed .thumb-wrap h1 {
	color:#234150;
}

#recent-viewed a {
	text-decoration: none;
}

#recent-viewed .thumb {
	position: relative;
}

#recent-viewed span.x-view-over {
  color:white;
  background:rgba(226,111,2,0.9);
}

#recent-viewed-div h1 {
  background-color: transparent;
  color: black;
	font-size: 12px;
	font-weight: bolder;
	padding-left: 8px;
}

#recent-viewed .thumb img {
	vertical-align: middle;
	margin: 1px;
	width: 200px;
	height: 200px;
}

/** Startup page */
#popular-metadata input {
	display: none;
}

#latest-metadata .md-thumbnail, #popular-metadata .md-thumbnail {
  height: 280px;
  width: 180px;
}

#latest-metadata .md-thumbnail .thumbnail, #popular-metadata .md-thumbnail .thumbnail {
	width: 100%;
}

#latest-metadata .thumbnail img, #popular-metadata .thumbnail img {
	display:block;
	margin: auto;
}

#latest-metadata header h1 span,#popular-metadata header h1 span,#tags header h1 span{
	padding:12px;
	background: white;
	min-height: 20px;
}

#latest-metadata, #popular-metadata {
	min-height: 100px;
	padding-left: 25px;
}

#latest-metadata input {
	display: none;
}

/** Syntax highlighting */
.xmltag{color:#25b7e6;}

.xmlatt{color:#959532;}

.xmlattvalue {
  color: #444;
	font-weight: bold;
}

.xmltagvalue {
	font-weight: bold;
}

.xmlns {
  color:#959532;
	font-style: italic;
}

dl.xml {
  color:#444;
	padding-left: 2px;
}

dl.xml * dd {
	padding-left: 2px;
}

/** Metadata Menu **/
#resultsPanel .md-action-menu a {
  color: transparent;
	background-image: url("../images/metadata-menu.png");
	background-repeat: no-repeat;
	visibility: visible;
	padding-left: 15px;
	background-position-y: 12px;
	padding-top: 13px;
	width: 15px;
}

#big-map div.x-layout-cmini-east,#editorPanel div.x-layout-cmini-east {
	border: 0 none;
	width: 25px !important;
}

/** Keyword window **/
.ux-mselect-item {
	font-size: 11px;
}

/** IE specific **/ 
.ext-ie #search-form .x-form-check-wrap input {
	height: 22px;
	width: 22px;
}

/** What if we dont have thumbnail **/
.emptyThumbnail {
	min-height: 128px;
	background: url('../images/no_thumbnail.png');
	background-repeat: no-repeat;
	background-position: center;
}

.emptyThumbnail span {
	font-size: 12px;
	text-align: center;
	margin: auto;
	display: block;
	font-weight: bold;
	padding-top: 50px;
	text-shadow: 1px 1px grey;
}

.overthumb {
	background-color: rgba(255,255,255,0.5);
	width: inherit;
	height: inherit;
	display: none;
	background-image: url('../images/ico_moreinformation.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.md-over .overthumb {
	display: block;
	position: absolute;
}

#when_adv_search,#where_adv_search,#what-inspire{display:inline-block;width:32%;}
#advanced-search-options{width:calc(100% - 200px);}
#advanced-search-options form{display:block;}
#advanced-search-options-content-form .x-panel-fbar{width:auto!important;}
#advanced-search-options-content-form .x-panel-footer{width:auto!important;}
#advSearchBtnBlank{display:none!important;}

#cookie-warning input{background-color:white;color:#C09853;border-color:#C09853;}

legend[id*="MD_Metadata"][id*="root"] span span div.alert{display:none;}

.olMapViewport div.x-mask-loading,.olMap div.x-mask-loading{display:none;wg;}

div.olControlZoom > a.olControlZoomOut{color: white!important; border-radius:0 0 4px 4px;}
div.olControlZoom > a.olControlZoomIn{color: white!important; border-radius:4px 4px 0 0;}

#mini-map{position:fixed;z-index:10000;right:60px;bottom:33px;}

.x-form-trigger.x-form-date-trigger.x-form-trigger-click{float:right;}



/* For small screens */


@media (max-width: 1200px) {
	#main {
		margin-right: 4%;
		margin-left: 4%;
	}
}

@media (max-width: 1100px) {
	#main {
		margin-right: 3%;
		margin-left: 3%;
	}
}

@media (max-width: 1000px) {
	#main {
		margin-right: 2%;
		margin-left: 2%;
	}
}

@media (max-width: 900px) {
	#main {
		margin-right: 1%;
		margin-left: 1%;
	}
}
@media (max-width: 800px) {
	#main {
		margin-right: 0%;
		margin-left: 0%;
	}
}


