<div class="modal fade bs-example-modal-lg" id="{{type}}Modal"
	tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="fa fa-download"></i> <span data-translate="">openwisSendRequest</span>
				</h4>
			</div>
			<div class="modal-body">
				<div>
					<!-- Nav tabs -->
					<ul class="nav nav-pills nav-wizard" role="tablist">
						<li role="presentation" class="active"><a
							data-target="#param2" aria-controls="param2" role="tab"
							data-toggle="tab" data-translate="">openwisSubSelection</a>
							<div class="nav-arrow"></div></li>
						<li role="presentation"><div class="nav-wedge"></div> <a
							data-target="#primary2" aria-controls="primary2" role="tab"
							data-toggle="tab" data-translate="">openwisFirstDissemination</a>
							<div class="nav-arrow"></div></li>
						<li role="presentation"><div class="nav-wedge"></div> <a
							data-target="#secondary2" aria-controls="secondary2" role="tab"
							data-toggle="tab" data-translate="">openwisSecondDissemination</a>
							<div class="nav-arrow"></div></li>
						<li role="presentation"><div class="nav-wedge"></div> <a
							data-target="#summary2" aria-controls="summary2" role="tab"
							data-toggle="tab" data-translate="">openwisSummary</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content" role="tablist"
						aria-multiselectable="false">
						<div role="tabpanel" class="tab-pane active" id="param2">
							<span data-translate="">openwisNotImplemented</span>
						</div>
						<div role="tabpanel" class="tab-pane" id="primary2">
							<div class="panel-group col-xs-12" id="primaryAccordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a>MSS/MFS</a>
										</h4>
									</div>
									<div id="mssmfs" class="panel-collapse collapse">
										<div class="panel-body">???</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#primaryAccordion"
												aria-controls="publicDissemination"
												data-target="#publicDissemination" data-translate="">openwisPublicDissemination</a>
										</h4>
									</div>
									<div id="publicDissemination" class="panel-collapse collapse in">
										<div class="panel-body">
											<div>
												<label class="col-xs-3" data-translate="">openwisCompression</label>
												<select>
													<option data-translate="">openwisNONE</option>
													<option data-translate="">openwisZipped</option>
													<option data-translate="">WMO_FTP</option>
												</select>
											</div>
											<div class="panel-group col-xs-12">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h5 class="panel-title">
															<a data-toggle="collapse" aria-controls="ftp"
																data-target="#ftp" data-translate="">FTP</a>
														</h5>
													</div>
													<div id="ftp" class="panel-collapse">
														<div class="panel-body">
															<div>
																<label class="col-xs-3" data-translate="">openwisHost</label>
																<input type="text" data-ng-required="true"></input>
															</div>
															<div>
																<label class="col-xs-3" data-translate="">openwisPath</label>
																<input type="text" data-ng-required="true"></input>
															</div>
															<div>
																<label class="col-xs-3" data-translate="">openwisUser</label>
																<input type="text" data-ng-required="true"></input>
															</div>
															<div>
																<label class="col-xs-3" data-translate="">openwisPassword</label>
																<input type="password" data-ng-required="true"></input>
															</div>

															<div class="panel panel-default">
																<div class="panel-heading">
																	<h5 class="panel-title">
																		<a data-toggle="collapse" aria-controls="advanced"
																			data-target="#advanced" data-translate="">openwisAdvanced</a>
																	</h5>
																</div>
																<div id="advanced" class="panel-collapse collapse">
																	<div class="panel-body">
																		<div>
																			<label class="col-xs-3" data-translate="">openwisPort</label>
																			<input type="text"></input>
																		</div>
																		<div>
																			<label class="col-xs-3" data-translate="">openwisPassive</label>
																			<input type="text"></input>
																		</div>
																		<div>
																			<label class="col-xs-3" data-translate="">openwisFileName</label> <input type="text"></input>
																		</div>

																		<div>
																			<label class="col-xs-3" data-translate="">openwisFileSize</label> <input type="checkbox"></input>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<h5 class="panel-title">
															<a data-toggle="collapse" aria-controls="mail"
																data-target="#mail" data-translate="">openwisMail</a>
														</h5>
													</div>
													<div id="mail" class="panel-collapse collapse">
														<div class="panel-body">
															<div>
																<label class="col-xs-3" data-ng-required="true"
																	data-translate="">openwisEmail</label> <input
																	type="email"></input>
															</div>
															<div>
																<label class="col-xs-3" data-translate="">openwisHeaderLine</label> <input type="text"></input>
															</div>
															<div>
																<label class="col-xs-3" data-translate="">openwisEmailTo</label> <input type="text"></input>
															</div>
															<div>
																<label class="col-xs-3" data-translate="">openwisSubject</label>
																<input type="text"></input>
															</div>
															<div>
																<label class="col-xs-3" data-translate="">openwisAttachmentMode</label> <input type="text"></input>
															</div>
															<div>
																<label class="col-xs-3" data-translate="">openwisFileName</label> <input type="text"></input>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#primaryAccordion"
												aria-controls="stagingPost" data-target="#stagingPost"
												data-translate="">openwisStagingPost</a>
										</h4>
									</div>
									<div id="stagingPost" class="panel-collapse collapse">
										<div>
											<label class="col-xs-3" data-translate="">openwisCompression</label>
											<select>
												<option data-translate="">openwisNONE</option>
												<option data-translate="">openwisZipped</option>
												<option>WMO_FTP</option>
											</select> <label class="col-xs-12" data-translate="">openwisPurgeWarning</label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="secondary2">//TODO
							copy primary one</div>
						<div role="tabpanel" class="tab-pane" id="summary2">
							<div>
								<label class="col-xs-3" data-translate="">username</label>
								{{user.username}}
							</div>
							<div>
								<label class="col-xs-3" data-translate="">openwisRequestID</label>
								{{requestID}}
							</div>
							<div>
								<label class="col-xs-3" data-translate="">openwisDataSource</label>
								{{dataSource}}
							</div>
							<div>
								<label class="col-xs-3" data-translate="">openwisUrn</label> {{md['geonet:info'].uuid}}
							</div>
							<div>
								<label class="col-xs-3" data-translate="">openwisProductTitle</label> {{md['geonet:info']}}
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					<i class="fa fa-times"></i> <span data-translate="">openwisCancel</span>
				</button>
				<button type="button" class="btn btn-default" data-ng-click="prev()">
					<i class="fa fa-chevron-left"></i> <span data-translate="">openwisPrevious</span>
				</button>
				<button type="button" class="btn btn-default" data-ng-click="next()">
					<i class="fa fa-chevron-right"></i><span data-translate="">openwisNext</span>
				</button>
				<button type="button" class="btn btn-primary" data-ng-click="save()">
					<i class="fa fa-check"></i> <span data-translate="">openwisSave</span>
				</button>
			</div>
		</div>
	</div>
</div>