<div class="clearfix gn-share-help">
  <div data-gn-need-help="editor_sharing" class="pull-right"></div>
  <h5 translate>whoCanAccess</h5>
  <div ng-if="alertMsg" class="alert alert-warning" role="alert" translate>privilegesBatchAlert</div>
</div>

<div class="form-group gn-searchgroup-input">
  <input class="form-control input-sm" data-ng-model="groupSearch.$"
         placeholder="{{'filterGroup' | translate}}"/>

</div>

<!-- TODO: simplify layout if only one group -->
<div class="gn-share-grid">
  <table class="table table-striped">

    <thead>
      <tr>
        <th><a href="" ng-click="setSorter('g')">
            <span translate>groupOwners</span>
            <i data-ng-if="sorter.predicate == 'g'" class="fa" ng-class="sorter.reverse ? 'fa-long-arrow-up' : 'fa-long-arrow-down'"></i>
          </a>
        </th>
        <th data-ng-repeat="o in operations">
          <a href="" ng-click="setSorter(o.id)">
            <span>{{o.label[lang]}}</span>
            <i data-ng-if="sorter.predicate == o.id" class="fa" data-ng-class="sorter.reverse ? 'fa-long-arrow-down' : 'fa-long-arrow-up'"></i>
          </a>
        </th>
        <th><a href="" ng-click="setSorter('p')" data-ng-if="displayProfile">
          <span translate>profile</span>
          <i data-ng-if="sorter.predicate == 'p'" class="fa" ng-class="sorter.reverse ? 'fa-long-arrow-up' : 'fa-long-arrow-down'"></i>
        </a>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="info" data-ng-repeat="g in groups | filter:{reserved: 'true'} | orderBy:'id':true">
        <td title="{{g.description}}"><strong>{{g.label[lang]}}</strong></td>
        <td data-ng-repeat="o in operations" class="text-center">
          <input type="checkbox"
          data-ng-disabled="!isAdminOrReviewer"
          data-ng-class="internalGroups.indexOf(g.id) != -1 && internalOperations.indexOf(o.id) != -1 ? 'hidden' : ''"
          data-ng-model="g.privileges[o.id].value"/>
        </td>
        <td data-ng-if="!disableAllCol">
          <input type="checkbox"
          data-ng-disabled="!isAdminOrReviewer"
          data-ng-click="checkAll(g)"
          data-ng-model="g.isCheckedAll"/>
        </td>
        <td class="text-center" data-ng-if="displayProfile">
          {{g.userProfile}}
        </td>
      </tr>
      <tr data-ng-repeat="g in groups | filter:{reserved: 'false'} | filter:groupSearch | orderBy:sortGroups:sorter.reverse">
        <td title="{{g.description}}">{{g.label[lang]}}</td>
        <td data-ng-repeat="o in operations" class="text-center">
          <input type="checkbox"
          data-ng-disabled="g.privileges[o.id].disabled"
          data-ng-model="g.privileges[o.id].value"/>
        </td>
        <td data-ng-if="!disableAllCol">
          <input type="checkbox"
          data-ng-click="checkAll(g)"
          data-ng-model="g.isCheckedAll"/>
        </td>
        <td class="text-center" data-ng-if="displayProfile">
          {{g.userProfile || (user.isAdministrator() ? 'Administrator' : '')}}
        </td>

      </tr>
    </tbody>

  </table>
</div>

<div class="btn-toolbar">
  <button type="button" class="btn btn-primary pull-right"
          data-gn-click-and-spin="save()">
    <i class="fa fa-save"></i>&nbsp;
    <span data-translate="">save</span>
  </button>
</div>
