<table class="table table-bordered">
  <tr>
    <th data-translate="">attributeName</th>
    <th data-translate="" data-ng-show="showCodeColumn">attributeCode</th>
    <th data-translate="">attributeDefinition</th>
  </tr>
  <tr data-ng-repeat-start="attribute in attributeTable track by $index">
    <td>
      <strong>{{attribute.name}}</strong>
      <span data-ng-show="attribute.type">&nbsp;({{attribute.type}})</span>
    </td>
    <td data-ng-show="showCodeColumn">
      <strong data-ng-show="{{attribute.link == null || attribute.link == ''}}"
        >{{attribute.code}}</strong
      >
      <a
        href="{{attribute.link}}"
        data-ng-show="{{attribute.link != null && attribute.link > ''}}"
        >{{attribute.code}}</a
      >
    </td>
    <td>{{attribute.definition}}</td>
  </tr>
  <tr data-ng-if="attribute.values.length > 0">
    <td colspan="3" class="gn-noborder-top gn-nopadding-top gn-nopadding-bottom" />
  </tr>
  <tr data-ng-repeat-end data-ng-if="attribute.values.length > 0">
    <td colspan="3" class="gn-noborder-top">
      <div data-ng-show="attribute.values.length > 0">
        <h5 data-translate="">attributeValues</h5>

        <table class="table table-bordered">
          <tr>
            <th data-translate="">valueCode</th>
            <th data-translate="">valueName</th>
            <th data-translate="">valueDefinition</th>
          </tr>
          <tr data-ng-repeat="v in attribute.values track by $index">
            <td>{{v.code}}</td>
            <td>{{v.label}}</td>
            <td>{{v.definition}}</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
