<ul class="row gn-info-list">
  <li
    data-ng-repeat="md in searchResults.records"
    data-ng-click="openRecord($index, md, searchResults.records)"
    data-ng-mouseenter="showMore(true)"
    data-ng-mouseleave="showMore(false)"
    id="gn-info-list-mw-{{md.uuid}}">
    <section class="quickresultcard">
      <div class="flip">
        <div class="front">
          <div class="top">
            <div class="gn-md-thumbnail">
              <img class="gn-img-thumbnail"
                   data-ng-src="{{md.overviewUrl[0]}}"
                   data-ng-if="md.overviewUrl[0]"/>
            </div>
          </div>
          <div class="rigth">
            <div class="header-card">
              <div class="title">{{md.resourceTitle}}</div>
              <div class="introduction">
                <span data-ng-repeat="t in md.resourceType">{{t | translate}}
                <span data-ng-if="!$last">, </span>
                </span>
              </div>
            </div>
            <div class="content-card">
              <div class="abstract">
                {{md.resourceAbstract}}
              </div>
            </div>
            <div class="footer-card">
            </div>
          </div>
        </div>
        <div class="back"></div>
      </div>
    </section>
  </li>
</ul>
