<ul class="row list-group gn-info-list">
  <li
    class="list-group-item panel panel-default gn-card"
    data-ng-repeat="md in searchResults.records"
    gn-metadata-open="md"
    gn-records="searchResults.records"
    gn-formatter="formatter.defaultUrl"
    id="gn-info-list-mw-{{md.uuid}}"
    data-ng-class="md.overview.length > 0 ? 'hasThumbnail' : 'noThumbnail'"
  >
    <div class="panel-heading gn-card-heading">
      <div class="gn-md-title">
        <a
          href=""
          title="{{md.resourceTitle}}"
          gn-metadata-open="md"
          gn-records="searchResults.records"
          gn-formatter="formatter.defaultUrl"
        >
          <h1>
            <span class="clamp-2">
              <i data-ng-show="mdResourceTitle.trim()=='' || md.resourceTitle===undefined">{{'missingTitle' | translate}}</i>
              {{md.resourceTitle}}
            </span>
          </h1>
        </a>
      </div>
    </div>
    <!-- /.gn-card-heading -->
    <div class="panel-body gn-card-body">
      <div class="gn-md-contents">
        <div
          class="gn-md-thumbnail"
          data-ng-class="{'gn-md-no-thumbnail': !md.overview[0]}"
        >
          <a
            href=""
            title="{{md.resourceAbstract | striptags}}"
            gn-metadata-open="md"
            gn-records="searchResults.records"
            gn-formatter="formatter.defaultUrl"
          >
            <div
              class="gn-img-thumbnail"
              style="background-image: url('{{md.overview[0].url | thumbnailUrlSize:320}}') !important"
            ></div>
          </a>
        </div>
        <div class="gn-md-details">
          <div class="gn-md-abstract">
            <p>{{md.resourceAbstract}}</p>
            <div class="gn-md-types">
              <span class="badge" data-ng-repeat="t in md.resourceType track by $index"
                >{{t | translate}}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.gn-card-body -->
  </li>
  <!-- /.gn-card -->
</ul>
