<div>
  <div class="btn-group md-actions" data-ng-if="user.isEditorOrMore()">
    <button
      type="button"
      id="gn-button-manage-record"
      title="{{'manageRecord' | translate}}"
      class="btn btn-default dropdown-toggle"
      data-toggle="dropdown"
      aria-label="{{'manageRecord' | translate}}"
      aria-expanded="false"
    >
      <span class="fa fa-fw fa-cog"></span>
      <span data-translate="" class="hidden-xs">manageRecord</span>
      <span class="caret"></span>
    </button>
    <ul
      class="dropdown-menu"
      role="menu"
      data-ng-init="isReviewer = user.isAdmin() || user.isReviewerForGroup(md.groupOwner);"
    >
      <li role="menuitem" data-ng-if="showBatchDropdown">
        <label>
          <input
            class="fa fa-fw"
            data-gn-selection-md="md"
            data-bucket="searchObj.selectionBucket"
            data-results="searchObj"
            type="checkbox"
            data-ng-model="md.selected"
            aria-label="{{'clickToSelect' | translate}}"
          />
          <span data-ng-hide="md.selected" data-translate="">addRecordToSelection</span>
          <span data-ng-show="md.selected" data-translate=""
            >removeRecordFromSelection</span
          >
        </label>
      </li>
      <li class="divider" role="menuitem" data-ng-if="showBatchDropdown"></li>
      <li role="menuitem">
        <a
          href=""
          data-ng-if="user.canManagePrivileges(md) && user.isEditorOrMore() && md.draft != 'y'"
          data-ng-click="mdService.openPrivilegesPanel(md, getCatScope())"
        >
          <span class="fa fa-fw fa-key"></span>&nbsp;
          <span data-translate="">privileges</span>
        </a>
      </li>
      <li role="menuitem" data-ng-if="md.isOwned() && user.isUserAdminOrMore()">
        <a
          href=""
          data-ng-click="mdService.openTransferOwnership(md, null, getCatScope())"
        >
          <span class="fa fa-fw fa-user"></span>&nbsp;
          <span data-translate="">transferOwnership</span>
        </a>
      </li>
      <!-- Retired metadata can't be published -->
      <li
        data-ng-repeat="pubOption in publicationOptions"
        role="menuitem"
        data-ng-if="displayPublicationOption(md, user, pubOption)"
        data-ng-class="getPublicationOptionClass(md, user, isMdWorkflowEnable, pubOption)"
        class="gn-puboption-{{pubOption.name}}-{{md.isPublished(pubOption)?'unpublish':'publish'}}"
        title="{{getPublicationOptionTitle(md, user, isMdWorkflowEnable, pubOption) | translate}}"
      >
        <a
          href=""
          data-ng-click="mdService.publish(md, undefined, undefined, getCatScope(), pubOption)"
        >
          <span
            class="fa fa-fw"
            data-ng-class="md.isPublished(pubOption) ? 'fa-lock' : 'fa-lock-open'"
          ></span
          >&nbsp;
          <span data-ng-if="md.isPublished(pubOption)" data-translate=""
            >{{ 'unpublish' + (pubOption.name === 'default'? '': pubOption.name)}}</span
          >
          <span data-ng-if="!md.isPublished(pubOption)" data-translate=""
            >{{ 'publish' + (pubOption.name === 'default'? '': pubOption.name)}}</span
          >&nbsp;

          <span
            class="fa fa-fw"
            data-ng-if="pubOption.name === 'default' && !md.isPublished(pubOption) && md.hasValidation()"
            data-ng-class="md.isValid() ? 'gn-recordtype-n text-success' : 'gn-recordtype-n text-danger'"
          ></span>
          <span
            class="fa fa-fw gn-recordtype-n text-muted"
            data-ng-if="pubOption.name === 'default' && !md.isPublished(pubOption) && !md.hasValidation()"
          ></span>
        </a>
      </li>

      <!-- Workflow -->
      <li
        role="menuitem"
        class="dropdown-header"
        data-ng-show="anyWorkflowOptionDisplayed(user)"
      >
        <span data-translate="">workflow</span>
      </li>
      <li data-ng-if="displayEnableWorkflowOption(user)">
        <a
          role="menuitem"
          href=""
          data-ng-click="mdService.startWorkflow(md, getCatScope())"
        >
          <span class="fa fa-fw fa-code-fork"></span>&nbsp;
          <span data-translate="">enableWorkflow</span>
        </a>
      </li>
      <li
        data-ng-repeat="step in getStatusEffects(user)"
        data-ng-show="displayWorkflowStepOption(step, user)"
      >
        <a
          href=""
          data-ng-init="stepLabelKey = step.from + '-to-' + step.to + '-' + (isReviewer ? 'reviewer' : 'editor')"
          data-ng-click="mdService.openUpdateStatusPanel(
                          getScope(), 'workflow', null, status[step.to], stepLabelKey)"
        >
          <span class="fa fa-fw gn-status-{{stepLabelKey}}"></span>&nbsp;
          <span>{{('mdStatusTitle-' + stepLabelKey) | translate}}</span>
        </a>
      </li>

      <!--metadata workflow assistance external link(s)-->
      <li
        role="menuitem"
        class="divider"
        data-ng-if="user.isConnected() && user.canEditRecord(md) && isMdWorkflowAssistEnable"
      ></li>
      <li
        role="menuitem"
        data-ng-if="user.isConnected()
          && isMdWorkflowAssistEnable && user.canEditRecord(md)"
        data-ng-repeat="app in workFlowApps"
      >
        <a
          href=""
          data-ng-href="{{app.appUrl.replace('{uuid}', md.getUuid()).replace('{lang}', lang).replace('{isoLang}', iso2Lang)}}"
          target="_blank"
          rel="noopener"
        >
          <span class="fa fa-fw fa-external-link"></span>&nbsp;
          <span data-translate="">{{app.appLabelKey}}&nbsp;</span>
        </a>
      </li>

      <li
        role="menuitem"
        class="divider"
        data-ng-if="user.isConnected() && user.canEditRecord(md) && md.draft != 'y'"
      ></li>

      <li
        data-ng-repeat="t in tasks"
        data-ng-show="taskConfiguration[t.name] && taskConfiguration[t.name].isVisible && taskConfiguration[t.name].isVisible(md)"
        data-ng-class="{'disabled': !taskConfiguration[t.name].isApplicable(md)}"
      >
        <a
          href=""
          data-ng-click="mdService.openUpdateStatusPanel(getScope(), md, 'task', t, null, null, taskConfiguration[t.name].dueDate ? taskConfiguration[t.name].dueDate(md) : null)"
        >
          <span
            class="fa fa-fw"
            data-ng-class="{'fa-clock': t.name === 'scheduledPublicationTask'}"
          ></span
          >&nbsp;
          <span>{{t.label | gnLocalized}}</span>
        </a>
      </li>
      <li
        role="menuitem"
        class="divider"
        data-ng-if="user.isConnected() && tasks.length > 0 && hasVisibletasks"
      >
        &nbsp;
      </li>

      <li role="menuitem">
        <a
          href=""
          data-ng-if="user.isEditorOrMore() && md.draft != 'y'"
          data-ng-click="mdService.duplicate(md)"
        >
          <span class="fa fa-fw fa-copy"></span>&nbsp;
          <span data-translate="">duplicate</span>
        </a>
      </li>
      <li class="divider" data-ng-if="user.isAdministrator()" role="menuitem"></li>
      <li role="menuitem">
        <a
          data-ng-click="mdService.indexMd(md)"
          data-ng-if="user.isAdministrator()"
          href=""
        >
          <span class="fa fa-fw fa-cogs"></span>&nbsp;
          <span data-translate="">indexRecord</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="btn-group md-actions">
    <button
      type="button"
      title="{{'downloadRecord' | translate}}"
      class="btn btn-default dropdown-toggle"
      data-toggle="dropdown"
      aria-label="{{'download' | translate}}"
      aria-expanded="false"
    >
      <span class="fa fa-fw fa-download"></span>
      <span data-translate="" class="hidden-xs">download</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li data-ng-class="{'disabled': md.draft === 'y'}">
        <a href="" data-ng-click="mdService.getPermalink(md)">
          <span class="fa fa-fw fa-link"></span>&nbsp;
          <span data-translate="">permalink</span>
        </a>
      </li>
      <li role="menuitem" data-ng-repeat="f in formatterList">
        <a
          data-ng-if="!!f.url"
          data-ng-href="{{::buildFormatter(f.url, md.uuid, mdView.current.record.draft)}}"
          target="_blank"
        >
          <span class="fa fa-fw {{f.class}}"></span>&nbsp;
          <span>{{f.label | translate}}</span>
        </a>
        <a
          data-ng-if="!!f.url === false && f.label.indexOf('PDF') !== -1"
          href="javascript:print();"
        >
          <span class="fa fa-fw {{f.class}}"></span>&nbsp;
          <span>{{f.label | translate}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
