<div class="gn-sort-by" data-ng-if="values.length > 1">
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-default dropdown-toggle"
      data-toggle="dropdown"
      aria-expanded="false"
    >
      <span
        data-translate=""
        data-translate-values="{field: '{{('sortBy-' + params.sortBy + (params.sortOrder | capitalize)) | translate}}'}"
        class=""
        >sortedBy</span
      >
      <i class="fa fa-sort fa-fw"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li
        data-ng-repeat="v in ::values"
        role="menuitem"
        data-ng-class="v.sortBy === params.sortBy && v.sortOrder === params.sortOrder ? 'disabled' : ''"
      >
        <a href="" data-ng-click="sortBy(v)"
          >{{('sortBy-' + v.sortBy + (v.sortOrder | capitalize)) | translate |
          capitalize}}</a
        >
      </li>
    </ul>
  </div>
</div>
