<div class="gn-wkt-polygon-input">

  <tabset>
    <tab heading="Polygon">
      <div class="form-group">
        <textarea rows="3" class="form-control input-sm"
                  id="polygon" name="polygon"
                  ng-model="options.value"
                  data-ng-change="onValueChange(value)"></textarea>
        <div role="alert">
          <span class="error" ng-show="polygon.$error.required">Required!</span>
          <span class="error" ng-show="wkt_error">{{wkt_error}}</span>
        </div>
      </div>
    </tab>
    <tab heading="Bbox">
      <div class="bbox">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6">
            <div class="form-group">
              <input type="number" step="any"
                     data-ng-model="extent[3]"
                     data-ng-change="onBboxChange()"
                     class="input-sm form-control" value="180">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="number" step="any"
                     data-ng-model="extent[0]"
                     data-ng-change="onBboxChange()"
                     class="input-sm form-control" value="90">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input type="number" step="any"
                     data-ng-model="extent[2]"
                     data-ng-change="onBboxChange()"
                     class="input-sm form-control" value="-90">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6">
            <div class="form-group">
              <input type="number" step="any"
                     data-ng-model="extent[1]"
                     data-ng-change="onBboxChange()"
                     class="input-sm form-control" value="-180">
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>

  <!--Draw buttons-->
  <div ngeo-btn-group>
    <button class="btn btn-default" ng-model="drawInteraction.active"  ngeo-btn>
      <span class="fa fa-pencil"></span>
    </button>
    <button class="btn btn-default" ng-model="dragboxInteraction.active" ngeo-btn>
      <span class="fa fa-pencil-square-o"></span>
    </button>
    <button class="btn btn-default" data-ng-click="clearMap()">
      <span class="fa fa-trash-o"></span>
    </button>
  </div>

</div>