
.inspire-26-en .inspire-label:before {
  content: "Atmospheric conditions";
}

.inspire-5-en .inspire-label:before {
  content: "Addresses";
}

.inspire-22-en .inspire-label:before {
  content: "Agricultural and\A aquaculture facilities";
}

.inspire-24-en .inspire-label:before {
  content: "Area management/restriction/\A regulation zones and reporting units";
}

.inspire-4-en .inspire-label:before {
  content: "Administrative units";
}

.inspire-30-en .inspire-label:before {
  content: "Bio-geographical regions";
}

.inspire-15-en .inspire-label:before {
  content: "Buildings";
}

.inspire-6-en .inspire-label:before {
  content: "Cadastral parcels";
}

.inspire-20-en .inspire-label:before {
  content: "Environmental monitoring facilities";
}

.inspire-10-en .inspire-label:before {
  content: "Elevation";
}

.inspire-33-en .inspire-label:before {
  content: "Energy resources";
}

.inspire-13-en .inspire-label:before {
  content: "Geology";
}

.inspire-2-en .inspire-label:before {
  content: "Geographical grid systems";
}

.inspire-3-en .inspire-label:before {
  content: "Geographical names";
}

.inspire-31-en .inspire-label:before {
  content: "Habitats and biotopes";
}

.inspire-18-en .inspire-label:before {
  content: "Human health and safety";
}

.inspire-8-en .inspire-label:before {
  content: "Hydrography";
}

.inspire-11-en .inspire-label:before {
  content: "Land cover";
}

.inspire-17-en .inspire-label:before {
  content: "Land use";
}

.inspire-27-en .inspire-label:before {
  content: "Meteorological\A geographical features";
}

.inspire-34-en .inspire-label:before {
  content: "Mineral resources";
}

.inspire-25-en .inspire-label:before {
  content: "Natural risk zones";
}

.inspire-28-en .inspire-label:before {
  content: "Oceanographic\A geographical features";
}

.inspire-12-en .inspire-label:before {
  content: "Orthoimagery";
}

.inspire-23-en .inspire-label:before {
  content: "Population distribution –\A demography";
}

.inspire-21-en .inspire-label:before {
  content: "Production and industrial facilities";
}

.inspire-9-en .inspire-label:before {
  content: "Protected sites";
}

.inspire-1-en .inspire-label:before {
  content: "Coordinate reference systems";
}

.inspire-32-en .inspire-label:before {
  content: "Species distribution";
}

.inspire-16-en .inspire-label:before {
  content: "Soil";
}

.inspire-29-en .inspire-label:before {
  content: "Sea regions";
}

.inspire-14-en .inspire-label:before {
  content: "Statistical units";
}

.inspire-7-en .inspire-label:before {
  content: "Transport networks";
}

.inspire-19-en .inspire-label:before {
  content: "Utility and governmental services";
}

.inspire-1-sv .inspire-label:before {
  content: "Referenskoordinatsystem";
}

.inspire-10-sv .inspire-label:before {
  content: "Höjd";
}

.inspire-11-sv .inspire-label:before {
  content: "Landtäcke";
}

.inspire-12-sv .inspire-label:before {
  content: "Ortofoto";
}

.inspire-13-sv .inspire-label:before {
  content: "Geologi";
}

.inspire-14-sv .inspire-label:before {
  content: "Statistiska enheter";
}

.inspire-15-sv .inspire-label:before {
  content: "Byggnader";
}

.inspire-16-sv .inspire-label:before {
  content: "Mark";
}

.inspire-17-sv .inspire-label:before {
  content: "Markanvändning";
}

.inspire-18-sv .inspire-label:before {
  content: "Människors hälsa och säkerhet";
}

.inspire-19-sv .inspire-label:before {
  content: "Allmännyttiga och offentliga tjänster";
}

.inspire-2-sv .inspire-label:before {
  content: "Geografiska rutnätssystem";
}

.inspire-20-sv .inspire-label:before {
  content: "Anläggningar för miljöövervakning";
}

.inspire-21-sv .inspire-label:before {
  content: "Produktions- och industrianläggningar";
}

.inspire-22-sv .inspire-label:before {
  content: "Jordbruks- och vattenbruksanläggningar";
}

.inspire-23-sv .inspire-label:before {
  content: "Befolkningsfördelning – demografi";
}

.inspire-24-sv .inspire-label:before {
  content: "Områden med särskild förvaltning/begränsningar/reglering samt enheter för rapportering";
}

.inspire-25-sv .inspire-label:before {
  content: "Naturliga riskområden";
}

.inspire-26-sv .inspire-label:before {
  content: "Atmosfäriska förhållanden";
}

.inspire-27-sv .inspire-label:before {
  content: "Geografiska meteorologiska förhållanden";
}

.inspire-28-sv .inspire-label:before {
  content: "Geografiska oceanografiska förhållanden";
}

.inspire-29-sv .inspire-label:before {
  content: "Havsområden";
}

.inspire-3-sv .inspire-label:before {
  content: "Geografiska namn";
}

.inspire-30-sv .inspire-label:before {
  content: "Biogeografiska regioner";
}

.inspire-31-sv .inspire-label:before {
  content: "Naturtyper och biotoper";
}

.inspire-32-sv .inspire-label:before {
  content: "Arters utbredning";
}

.inspire-33-sv .inspire-label:before {
  content: "Energiresurser";
}

.inspire-34-sv .inspire-label:before {
  content: "Mineralfyndigheter";
}

.inspire-4-sv .inspire-label:before {
  content: "Administrativa enheter";
}

.inspire-5-sv .inspire-label:before {
  content: "Adresser";
}

.inspire-6-sv .inspire-label:before {
  content: "Fastighetsområden";
}

.inspire-7-sv .inspire-label:before {
  content: "Transportnät";
}

.inspire-8-sv .inspire-label:before {
  content: "Hydrografi";
}

.inspire-9-sv .inspire-label:before {
  content: "Skyddade områden";
}

.inspire-1-sl .inspire-label:before {
  content: "Referenčni koordinatni sistemi";
}

.inspire-10-sl .inspire-label:before {
  content: "Digitalni model višin";
}

.inspire-11-sl .inspire-label:before {
  content: "Pokrovnost tal";
}

.inspire-12-sl .inspire-label:before {
  content: "Ortofoto";
}

.inspire-13-sl .inspire-label:before {
  content: "Geologija";
}

.inspire-14-sl .inspire-label:before {
  content: "Statistični okoliši";
}

.inspire-15-sl .inspire-label:before {
  content: "Stavbe";
}

.inspire-16-sl .inspire-label:before {
  content: "Tla";
}

.inspire-17-sl .inspire-label:before {
  content: "Namenska raba tal";
}

.inspire-18-sl .inspire-label:before {
  content: "Zdravje in varnost prebivalstva";
}

.inspire-19-sl .inspire-label:before {
  content: "Komunalne in javne storitve";
}

.inspire-2-sl .inspire-label:before {
  content: "Geografska koordinatna mreža";
}

.inspire-20-sl .inspire-label:before {
  content: "Naprave in objekti za monitoring okolja";
}

.inspire-21-sl .inspire-label:before {
  content: "Proizvodni in industrijski objekti in naprave";
}

.inspire-22-sl .inspire-label:before {
  content: "Objekti in naprave za kmetijstvo in ribogojstvo";
}

.inspire-23-sl .inspire-label:before {
  content: "Porazdelitev prebivalstva – demografski podatki";
}

.inspire-24-sl .inspire-label:before {
  content: "Območja upravljanja/zaprta območja/regulirana območja in poročevalske enote";
}

.inspire-25-sl .inspire-label:before {
  content: "Območja nevarnosti naravnih nesreč";
}

.inspire-26-sl .inspire-label:before {
  content: "Ozračje";
}

.inspire-27-sl .inspire-label:before {
  content: "Meteorološke značilnosti";
}

.inspire-28-sl .inspire-label:before {
  content: "Oceanogeografske značilnosti";
}

.inspire-29-sl .inspire-label:before {
  content: "Morske regije";
}

.inspire-3-sl .inspire-label:before {
  content: "Zemljepisna imena";
}

.inspire-30-sl .inspire-label:before {
  content: "Biogeografske regije";
}

.inspire-31-sl .inspire-label:before {
  content: "Habitati in biotopi";
}

.inspire-32-sl .inspire-label:before {
  content: "Porazdelitev vrst";
}

.inspire-33-sl .inspire-label:before {
  content: "Energetski viri";
}

.inspire-34-sl .inspire-label:before {
  content: "Mineralni viri";
}

.inspire-4-sl .inspire-label:before {
  content: "Upravne enote";
}

.inspire-5-sl .inspire-label:before {
  content: "Naslovi";
}

.inspire-6-sl .inspire-label:before {
  content: "Katastrske parcele";
}

.inspire-7-sl .inspire-label:before {
  content: "Prometna omrežja";
}

.inspire-8-sl .inspire-label:before {
  content: "Hidrografija";
}

.inspire-9-sl .inspire-label:before {
  content: "Zavarovana območja";
}

.inspire-1-sk .inspire-label:before {
  content: "Súradnicové referenčné systémy";
}

.inspire-10-sk .inspire-label:before {
  content: "Výška";
}

.inspire-11-sk .inspire-label:before {
  content: "Krajinná pokrývka (land cover)";
}

.inspire-12-sk .inspire-label:before {
  content: "Ortometria";
}

.inspire-13-sk .inspire-label:before {
  content: "Geológia";
}

.inspire-14-sk .inspire-label:before {
  content: "Štatistické jednotky";
}

.inspire-15-sk .inspire-label:before {
  content: "Stavby";
}

.inspire-16-sk .inspire-label:before {
  content: "Pôda";
}

.inspire-17-sk .inspire-label:before {
  content: "Využitie územia";
}

.inspire-18-sk .inspire-label:before {
  content: "Ľudské zdravie a bezpečnosť";
}

.inspire-19-sk .inspire-label:before {
  content: "Verejné a štátne služby";
}

.inspire-2-sk .inspire-label:before {
  content: "Geografické systémy sietí";
}

.inspire-20-sk .inspire-label:before {
  content: "Zariadenia na monitorovanie životného prostredia";
}

.inspire-21-sk .inspire-label:before {
  content: "Výrobné a priemyselné zariadenia";
}

.inspire-22-sk .inspire-label:before {
  content: "Poľnohospodárske zariadenia a zariadenia akvakultúry";
}

.inspire-23-sk .inspire-label:before {
  content: "Rozmiestnenie obyvateľstva – demografia";
}

.inspire-24-sk .inspire-label:before {
  content: "Spravované/obmedzené/regulované zóny a jednotky podávajúce správy";
}

.inspire-25-sk .inspire-label:before {
  content: "Zóny prírodného rizika";
}

.inspire-26-sk .inspire-label:before {
  content: "Atmosférické podmienky";
}

.inspire-27-sk .inspire-label:before {
  content: "Meteorologické geografické prvky";
}

.inspire-28-sk .inspire-label:before {
  content: "Oceánografické geografické prvky";
}

.inspire-29-sk .inspire-label:before {
  content: "Morské regióny";
}

.inspire-3-sk .inspire-label:before {
  content: "Zemepisné názvy";
}

.inspire-30-sk .inspire-label:before {
  content: "Biogeografické regióny";
}

.inspire-31-sk .inspire-label:before {
  content: "Habitaty a biotopy";
}

.inspire-32-sk .inspire-label:before {
  content: "Výskyt druhov";
}

.inspire-33-sk .inspire-label:before {
  content: "Zdroje energie";
}

.inspire-34-sk .inspire-label:before {
  content: "Zdroje nerastných surovín";
}

.inspire-4-sk .inspire-label:before {
  content: "Správne jednotky";
}

.inspire-5-sk .inspire-label:before {
  content: "Adresy";
}

.inspire-6-sk .inspire-label:before {
  content: "Katastrálne parcely";
}

.inspire-7-sk .inspire-label:before {
  content: "Dopravné siete";
}

.inspire-8-sk .inspire-label:before {
  content: "Hydrografia";
}

.inspire-9-sk .inspire-label:before {
  content: "Chránené územia";
}

.inspire-1-ro .inspire-label:before {
  content: "Sisteme de coordonate de referinţă";
}

.inspire-10-ro .inspire-label:before {
  content: "Elevaţie";
}

.inspire-11-ro .inspire-label:before {
  content: "Acoperire terestră";
}

.inspire-12-ro .inspire-label:before {
  content: "Ortoimagini";
}

.inspire-13-ro .inspire-label:before {
  content: "Geologie";
}

.inspire-14-ro .inspire-label:before {
  content: "Unităţi statistice";
}

.inspire-15-ro .inspire-label:before {
  content: "Clădiri";
}

.inspire-16-ro .inspire-label:before {
  content: "Soluri";
}

.inspire-17-ro .inspire-label:before {
  content: "Utilizarea terenului";
}

.inspire-18-ro .inspire-label:before {
  content: "Sănătate şi siguranţă umană";
}

.inspire-19-ro .inspire-label:before {
  content: "Servicii de utilitate publică şi servicii publice";
}

.inspire-2-ro .inspire-label:before {
  content: "Sisteme de caroiaj geografic";
}

.inspire-20-ro .inspire-label:before {
  content: "Instalaţii de supraveghere a mediului";
}

.inspire-21-ro .inspire-label:before {
  content: "Instalaţii de producţie şi industriale";
}

.inspire-22-ro .inspire-label:before {
  content: "Instalaţii agricole şi pentru acvacultură";
}

.inspire-23-ro .inspire-label:before {
  content: "Repartizarea populaţiei – demografie";
}

.inspire-24-ro .inspire-label:before {
  content: "Zone de administrare/restricţie/reglementare şi unităţi de raportare";
}

.inspire-25-ro .inspire-label:before {
  content: "Zone de risc natural";
}

.inspire-26-ro .inspire-label:before {
  content: "Condiţii atmosferice";
}

.inspire-27-ro .inspire-label:before {
  content: "Caracteristici geografice meteorologice";
}

.inspire-28-ro .inspire-label:before {
  content: "Caracteristici geografice oceanografice";
}

.inspire-29-ro .inspire-label:before {
  content: "Regiuni maritime";
}

.inspire-3-ro .inspire-label:before {
  content: "Denumiri geografice";
}

.inspire-30-ro .inspire-label:before {
  content: "Regiuni biogeografice";
}

.inspire-31-ro .inspire-label:before {
  content: "Habitate şi biotopuri";
}

.inspire-32-ro .inspire-label:before {
  content: "Repartizarea speciilor";
}

.inspire-33-ro .inspire-label:before {
  content: "Resurse energetice";
}

.inspire-34-ro .inspire-label:before {
  content: "Resurse minerale";
}

.inspire-4-ro .inspire-label:before {
  content: "Unităţi administrative";
}

.inspire-5-ro .inspire-label:before {
  content: "Adrese";
}

.inspire-6-ro .inspire-label:before {
  content: "Parcele cadastrale";
}

.inspire-7-ro .inspire-label:before {
  content: "Reţele de transport";
}

.inspire-8-ro .inspire-label:before {
  content: "Hidrografie";
}

.inspire-9-ro .inspire-label:before {
  content: "Zone protejate";
}

.inspire-1-pl .inspire-label:before {
  content: "Systemy odniesienia za pomocą współrzędnych";
}

.inspire-10-pl .inspire-label:before {
  content: "Ukształtowanie terenu";
}

.inspire-11-pl .inspire-label:before {
  content: "Użytkowanie terenu";
}

.inspire-12-pl .inspire-label:before {
  content: "Sporządzanie ortoobrazów";
}

.inspire-13-pl .inspire-label:before {
  content: "Geologia";
}

.inspire-14-pl .inspire-label:before {
  content: "Jednostki statystyczne";
}

.inspire-15-pl .inspire-label:before {
  content: "Budynki";
}

.inspire-16-pl .inspire-label:before {
  content: "Gleba";
}

.inspire-17-pl .inspire-label:before {
  content: "Zagospodarowanie przestrzenne";
}

.inspire-18-pl .inspire-label:before {
  content: "Zdrowie i bezpieczeństwo ludzi";
}

.inspire-19-pl .inspire-label:before {
  content: "Usługi użyteczności publicznej i służby państwowe";
}

.inspire-2-pl .inspire-label:before {
  content: "Systemy siatek geograficznych";
}

.inspire-20-pl .inspire-label:before {
  content: "Urządzenia do monitorowania środowiska";
}

.inspire-21-pl .inspire-label:before {
  content: "Obiekty produkcyjne i przemysłowe";
}

.inspire-22-pl .inspire-label:before {
  content: "Obiekty rolnicze oraz akwakultury";
}

.inspire-23-pl .inspire-label:before {
  content: "Rozmieszczenie ludności – demografia";
}

.inspire-24-pl .inspire-label:before {
  content: "Gospodarowanie obszarem/strefy ograniczone/regulacyjne oraz jednostki sprawozdawcze";
}

.inspire-25-pl .inspire-label:before {
  content: "Strefy zagrożenia naturalnego";
}

.inspire-26-pl .inspire-label:before {
  content: "Warunki atmosferyczne";
}

.inspire-27-pl .inspire-label:before {
  content: "Warunki meteorologiczno-geograficzne";
}

.inspire-28-pl .inspire-label:before {
  content: "Warunki oceanograficzno-geograficzne";
}

.inspire-29-pl .inspire-label:before {
  content: "Regiony morskie";
}

.inspire-3-pl .inspire-label:before {
  content: "Nazwy geograficzne";
}

.inspire-30-pl .inspire-label:before {
  content: "Regiony biogeograficzne";
}

.inspire-31-pl .inspire-label:before {
  content: "Siedliska i obszary przyrodniczo jednorodne";
}

.inspire-32-pl .inspire-label:before {
  content: "Rozmieszczenie gatunków";
}

.inspire-33-pl .inspire-label:before {
  content: "Zasoby energetyczne";
}

.inspire-34-pl .inspire-label:before {
  content: "Zasoby mineralne";
}

.inspire-4-pl .inspire-label:before {
  content: "Jednostki administracyjne";
}

.inspire-5-pl .inspire-label:before {
  content: "Adresy";
}

.inspire-6-pl .inspire-label:before {
  content: "Działki katastralne";
}

.inspire-7-pl .inspire-label:before {
  content: "Sieci transportowe";
}

.inspire-8-pl .inspire-label:before {
  content: "Hydrografia";
}

.inspire-9-pl .inspire-label:before {
  content: "Obszary chronione";
}

.inspire-1-pt .inspire-label:before {
  content: "Sistemas de referencia";
}

.inspire-10-pt .inspire-label:before {
  content: "Altitude";
}

.inspire-11-pt .inspire-label:before {
  content: "Ocupação do solo";
}

.inspire-12-pt .inspire-label:before {
  content: "Ortoimagens";
}

.inspire-13-pt .inspire-label:before {
  content: "Geologia";
}

.inspire-14-pt .inspire-label:before {
  content: "Unidades estatísticas";
}

.inspire-15-pt .inspire-label:before {
  content: "Edifícios";
}

.inspire-16-pt .inspire-label:before {
  content: "Solo";
}

.inspire-17-pt .inspire-label:before {
  content: "Uso do solo";
}

.inspire-18-pt .inspire-label:before {
  content: "Saúde humana e segurança";
}

.inspire-19-pt .inspire-label:before {
  content: "Serviços de utilidade pública e do Estado";
}

.inspire-2-pt .inspire-label:before {
  content: "Sistemas de quadrículas geográficas";
}

.inspire-20-pt .inspire-label:before {
  content: "Instalações de monitorização do ambiente";
}

.inspire-21-pt .inspire-label:before {
  content: "Instalações industriais e de produção";
}

.inspire-22-pt .inspire-label:before {
  content: "Instalações agrícolas e aquícolas";
}

.inspire-23-pt .inspire-label:before {
  content: "Distribuição da população — demografia";
}

.inspire-24-pt .inspire-label:before {
  content: "Zonas de gestão/restrição/regulamentação e unidades de referência";
}

.inspire-25-pt .inspire-label:before {
  content: "Zonas de risco natural";
}

.inspire-26-pt .inspire-label:before {
  content: "Condições atmosféricas";
}

.inspire-27-pt .inspire-label:before {
  content: "Características geometeorológicas";
}

.inspire-28-pt .inspire-label:before {
  content: "Características oceanográficas";
}

.inspire-29-pt .inspire-label:before {
  content: "Regiões marinhas";
}

.inspire-3-pt .inspire-label:before {
  content: "Toponímia";
}

.inspire-30-pt .inspire-label:before {
  content: "Regiões biogeográficas";
}

.inspire-31-pt .inspire-label:before {
  content: "Habitats e biótopos";
}

.inspire-32-pt .inspire-label:before {
  content: "Distribuição das espécies";
}

.inspire-33-pt .inspire-label:before {
  content: "Recursos energéticos";
}

.inspire-34-pt .inspire-label:before {
  content: "Recursos minerais";
}

.inspire-4-pt .inspire-label:before {
  content: "Unidades administrativas";
}

.inspire-5-pt .inspire-label:before {
  content: "Endereços";
}

.inspire-6-pt .inspire-label:before {
  content: "Parcelas cadastrais";
}

.inspire-7-pt .inspire-label:before {
  content: "Redes de transporte";
}

.inspire-8-pt .inspire-label:before {
  content: "Hidrografia";
}

.inspire-9-pt .inspire-label:before {
  content: "Sítios protegidos";
}

.inspire-1-du .inspire-label:before {
  content: "Systemen voor verwijzing door middel van coördinaten";
}

.inspire-10-du .inspire-label:before {
  content: "Hoogte";
}

.inspire-11-du .inspire-label:before {
  content: "Bodemgebruik";
}

.inspire-12-du .inspire-label:before {
  content: "Orthobeeldvorming";
}

.inspire-13-du .inspire-label:before {
  content: "Geologie";
}

.inspire-14-du .inspire-label:before {
  content: "Statistische eenheden";
}

.inspire-15-du .inspire-label:before {
  content: "Gebouwen";
}

.inspire-16-du .inspire-label:before {
  content: "Bodem";
}

.inspire-17-du .inspire-label:before {
  content: "Landgebruik";
}

.inspire-18-du .inspire-label:before {
  content: "Menselijke gezondheid en veiligheid";
}

.inspire-19-du .inspire-label:before {
  content: "Nutsdiensten en overheidsdiensten";
}

.inspire-2-du .inspire-label:before {
  content: "Geografisch rastersysteem";
}

.inspire-20-du .inspire-label:before {
  content: "Milieubewakingsvoorzieningen";
}

.inspire-21-du .inspire-label:before {
  content: "Faciliteiten voor productie en industrie";
}

.inspire-22-du .inspire-label:before {
  content: "Faciliteiten voor landbouw en aquacultuur";
}

.inspire-23-du .inspire-label:before {
  content: "Spreiding van de bevolking — demografie";
}

.inspire-24-du .inspire-label:before {
  content: "Gebiedsbeheer, gebieden waar beperkingen gelden, gereguleerde gebieden en rapportage-eenheden";
}

.inspire-25-du .inspire-label:before {
  content: "Gebieden met natuurrisico'es";
}

.inspire-26-du .inspire-label:before {
  content: "Atmosferische omstandigheden";
}

.inspire-27-du .inspire-label:before {
  content: "Meteorologische geografische kenmerken";
}

.inspire-28-du .inspire-label:before {
  content: "Oceanografische geografische kenmerken";
}

.inspire-29-du .inspire-label:before {
  content: "Zeegebieden";
}

.inspire-3-du .inspire-label:before {
  content: "Geografische namen";
}

.inspire-30-du .inspire-label:before {
  content: "Biogeografische gebieden";
}

.inspire-31-du .inspire-label:before {
  content: "Habitats en biotopen";
}

.inspire-32-du .inspire-label:before {
  content: "Spreiding van soorten";
}

.inspire-33-du .inspire-label:before {
  content: "Energiebronnen";
}

.inspire-34-du .inspire-label:before {
  content: "Minerale bronnen";
}

.inspire-4-du .inspire-label:before {
  content: "Administratieve eenheden";
}

.inspire-5-du .inspire-label:before {
  content: "Adressen";
}

.inspire-6-du .inspire-label:before {
  content: "Kadastrale percelen";
}

.inspire-7-du .inspire-label:before {
  content: "Vervoersnetwerken";
}

.inspire-8-du .inspire-label:before {
  content: "Hydrografie";
}

.inspire-9-du .inspire-label:before {
  content: "Beschermde gebieden";
}

.inspire-1-mt .inspire-label:before {
  content: "Sistemi ta' referenza ta' koordinati";
}

.inspire-10-mt .inspire-label:before {
  content: "Elevazzjoni";
}

.inspire-11-mt .inspire-label:before {
  content: "Kopertura ta' l-art";
}

.inspire-12-mt .inspire-label:before {
  content: "Orthoimagery";
}

.inspire-13-mt .inspire-label:before {
  content: "Ġeologija";
}

.inspire-14-mt .inspire-label:before {
  content: "Unitajiet statistiċi";
}

.inspire-15-mt .inspire-label:before {
  content: "Bini";
}

.inspire-16-mt .inspire-label:before {
  content: "Ħamrija";
}

.inspire-17-mt .inspire-label:before {
  content: "Użu ta' l-art";
}

.inspire-18-mt .inspire-label:before {
  content: "Is-saħħa u s-siġurtà tal-bniedem";
}

.inspire-19-mt .inspire-label:before {
  content: "Servizzi ta' utilità u tal-gvern";
}

.inspire-2-mt .inspire-label:before {
  content: "Sistemi ta' grilji ġeografiċi";
}

.inspire-20-mt .inspire-label:before {
  content: "Faċilitajiet ta' monitoraġġ ambjentali";
}

.inspire-21-mt .inspire-label:before {
  content: "Faċilitajiet ta' produzzjoni u industrijali";
}

.inspire-22-mt .inspire-label:before {
  content: "Faċilitajiet agrikoli u ta' l-akwakultura";
}

.inspire-23-mt .inspire-label:before {
  content: "Distribuzzjoni tal-popolazzjoni – demografija";
}

.inspire-24-mt .inspire-label:before {
  content: "Amministrazzjoni ta' żoni/restrizzjoni/żoni regolati u unitajiet ta' rapportar";
}

.inspire-25-mt .inspire-label:before {
  content: "Żoni ta' riskju naturali";
}

.inspire-26-mt .inspire-label:before {
  content: "Kondizzjonijiet atmosferiċi";
}

.inspire-27-mt .inspire-label:before {
  content: "Karatteristiċi ġeografiċi meteoroloġiċi";
}

.inspire-28-mt .inspire-label:before {
  content: "Karatteristiċi ġeografiċi oċeanografiċi";
}

.inspire-29-mt .inspire-label:before {
  content: "Reġjuni tal-baħar";
}

.inspire-3-mt .inspire-label:before {
  content: "Ismijiet ġeografiċi";
}

.inspire-30-mt .inspire-label:before {
  content: "Reġjuni bijo-ġeografiċi";
}

.inspire-31-mt .inspire-label:before {
  content: "L-abitati naturali u l-bijotopi";
}

.inspire-32-mt .inspire-label:before {
  content: "Distribuzzjoni ta' l-ispeċi";
}

.inspire-33-mt .inspire-label:before {
  content: "Riżorsi ta' enerġija";
}

.inspire-34-mt .inspire-label:before {
  content: "Riżorsi minerali";
}

.inspire-4-mt .inspire-label:before {
  content: "Unitajiet amministrattivi";
}

.inspire-5-mt .inspire-label:before {
  content: "Indirizzi";
}

.inspire-6-mt .inspire-label:before {
  content: "Pakketti katastali";
}

.inspire-7-mt .inspire-label:before {
  content: "Networks tat-trasport";
}

.inspire-8-mt .inspire-label:before {
  content: "Idrografija";
}

.inspire-9-mt .inspire-label:before {
  content: "Siti protetti";
}

.inspire-1-lv .inspire-label:before {
  content: "Koordinātu atskaites sistēmas";
}

.inspire-10-lv .inspire-label:before {
  content: "Augstums";
}

.inspire-11-lv .inspire-label:before {
  content: "Zemes virsma";
}

.inspire-12-lv .inspire-label:before {
  content: "Ortofotogrāfija";
}

.inspire-13-lv .inspire-label:before {
  content: "Ģeoloģija";
}

.inspire-14-lv .inspire-label:before {
  content: "Statistikas vienības";
}

.inspire-15-lv .inspire-label:before {
  content: "Ēkas";
}

.inspire-16-lv .inspire-label:before {
  content: "Augsne";
}

.inspire-17-lv .inspire-label:before {
  content: "Zemes izmantošana";
}

.inspire-18-lv .inspire-label:before {
  content: "Cilvēku veselība un drošība";
}

.inspire-19-lv .inspire-label:before {
  content: "Komunālie un valsts dienesti";
}

.inspire-2-lv .inspire-label:before {
  content: "Ģeogrāfisko koordinātu tīklu sistēmas";
}

.inspire-20-lv .inspire-label:before {
  content: "Vides monitoringa iekārtas";
}

.inspire-21-lv .inspire-label:before {
  content: "Ražošanas un rūpniecības iekārtas";
}

.inspire-22-lv .inspire-label:before {
  content: "Lauksaimniecības un akvakultūras iekārtas";
}

.inspire-23-lv .inspire-label:before {
  content: "Iedzīvotāju sadalījums – demogrāfija";
}

.inspire-24-lv .inspire-label:before {
  content: "Apgabala pārvaldības/ierobežojumu/reglamentētas zonas un ziņošanas vienības";
}

.inspire-25-lv .inspire-label:before {
  content: "Dabas apdraudējuma zonas";
}

.inspire-26-lv .inspire-label:before {
  content: "Atmosfēras apstākļi";
}

.inspire-27-lv .inspire-label:before {
  content: "Meteoroloģiski ģeogrāfiskie raksturlielumi";
}

.inspire-28-lv .inspire-label:before {
  content: "Okeanogrāfiski ģeogrāfiskie raksturlielumi";
}

.inspire-29-lv .inspire-label:before {
  content: "Jūru reģioni";
}

.inspire-3-lv .inspire-label:before {
  content: "Toponīmi";
}

.inspire-30-lv .inspire-label:before {
  content: "Bioģeogrāfiskie reģioni";
}

.inspire-31-lv .inspire-label:before {
  content: "Dzīvotnes un biotopi";
}

.inspire-32-lv .inspire-label:before {
  content: "Sugu izplatība";
}

.inspire-33-lv .inspire-label:before {
  content: "Enerģijas resursi";
}

.inspire-34-lv .inspire-label:before {
  content: "Derīgo izrakteņu resursi";
}

.inspire-4-lv .inspire-label:before {
  content: "Administratīvas vienības";
}

.inspire-5-lv .inspire-label:before {
  content: "Adreses";
}

.inspire-6-lv .inspire-label:before {
  content: "Kadastrāli zemes gabali";
}

.inspire-7-lv .inspire-label:before {
  content: "Transporta tīkli";
}

.inspire-8-lv .inspire-label:before {
  content: "Hidrogrāfija";
}

.inspire-9-lv .inspire-label:before {
  content: "Aizsargājamas teritorijas";
}

.inspire-1-it .inspire-label:before {
  content: "Sistemi di coordinate";
}

.inspire-10-it .inspire-label:before {
  content: "Elevazione";
}

.inspire-11-it .inspire-label:before {
  content: "Copertura del suolo";
}

.inspire-12-it .inspire-label:before {
  content: "Orto immagini";
}

.inspire-13-it .inspire-label:before {
  content: "Geologia";
}

.inspire-14-it .inspire-label:before {
  content: "Unità statistiche";
}

.inspire-15-it .inspire-label:before {
  content: "Edifici";
}

.inspire-16-it .inspire-label:before {
  content: "Suolo";
}

.inspire-17-it .inspire-label:before {
  content: "Utilizzo del territorio";
}

.inspire-18-it .inspire-label:before {
  content: "Salute umana e sicurezza";
}

.inspire-19-it .inspire-label:before {
  content: "Servizi di pubblica utilità e servizi amministrativi";
}

.inspire-2-it .inspire-label:before {
  content: "Sistemi di griglie geografiche";
}

.inspire-20-it .inspire-label:before {
  content: "Impianti di monitoraggio ambientale";
}

.inspire-21-it .inspire-label:before {
  content: "Produzione e impianti industriali";
}

.inspire-22-it .inspire-label:before {
  content: "Impianti agricoli e di acquacoltura";
}

.inspire-23-it .inspire-label:before {
  content: "Distribuzione della popolazione — demografia";
}

.inspire-24-it .inspire-label:before {
  content: "Zone sottoposte a gestione/limitazioni/regolamentazione e unità con obbligo di comunicare dati";
}

.inspire-25-it .inspire-label:before {
  content: "Zone a rischio naturale";
}

.inspire-26-it .inspire-label:before {
  content: "Condizioni atmosferiche";
}

.inspire-27-it .inspire-label:before {
  content: "Elementi geografici meteorologici";
}

.inspire-28-it .inspire-label:before {
  content: "Elementi geografici oceanografici";
}

.inspire-29-it .inspire-label:before {
  content: "Regioni marine";
}

.inspire-3-it .inspire-label:before {
  content: "Nomi geografici";
}

.inspire-30-it .inspire-label:before {
  content: "Regioni biogeografiche";
}

.inspire-31-it .inspire-label:before {
  content: "Habitat e biotopi";
}

.inspire-32-it .inspire-label:before {
  content: "Distribuzione delle specie";
}

.inspire-33-it .inspire-label:before {
  content: "Risorse energetiche";
}

.inspire-34-it .inspire-label:before {
  content: "Risorse minerarie";
}

.inspire-4-it .inspire-label:before {
  content: "Unità amministrative";
}

.inspire-5-it .inspire-label:before {
  content: "Indirizzi";
}

.inspire-6-it .inspire-label:before {
  content: "Parcelle catastali";
}

.inspire-7-it .inspire-label:before {
  content: "Reti di trasporto";
}

.inspire-8-it .inspire-label:before {
  content: "Idrografia";
}

.inspire-9-it .inspire-label:before {
  content: "Siti protetti";
}

.inspire-1-lt .inspire-label:before {
  content: "Koordinačių atskaitos sistemos";
}

.inspire-10-lt .inspire-label:before {
  content: "Aukštis";
}

.inspire-11-lt .inspire-label:before {
  content: "Žemės danga";
}

.inspire-12-lt .inspire-label:before {
  content: "Ortofotografinis vaizdavimas";
}

.inspire-13-lt .inspire-label:before {
  content: "Geologija";
}

.inspire-14-lt .inspire-label:before {
  content: "Statistiniai vienetai";
}

.inspire-15-lt .inspire-label:before {
  content: "Pastatai";
}

.inspire-16-lt .inspire-label:before {
  content: "Dirvožemis";
}

.inspire-17-lt .inspire-label:before {
  content: "Žemės naudojimas";
}

.inspire-18-lt .inspire-label:before {
  content: "Žmonių sveikata ir sauga";
}

.inspire-19-lt .inspire-label:before {
  content: "Komunalinės įmonės ir valstybės tarnybos";
}

.inspire-2-lt .inspire-label:before {
  content: "Geografinio tinklelio sistemos";
}

.inspire-20-lt .inspire-label:before {
  content: "Aplinkos stebėsenos priemonės";
}

.inspire-21-lt .inspire-label:before {
  content: "Gamybos ir pramonės įrenginiai";
}

.inspire-22-lt .inspire-label:before {
  content: "Žemės ūkio ir akvakultūros infrastruktūra";
}

.inspire-23-lt .inspire-label:before {
  content: "Gyventojų pasiskirstymas – demografija";
}

.inspire-24-lt .inspire-label:before {
  content: "Tvarkomos teritorijos, ribojamos ir reglamentuojamos zonos bei vienetai, už kuriuos atsiskaitoma";
}

.inspire-25-lt .inspire-label:before {
  content: "Gamtinių pavojų zonos";
}

.inspire-26-lt .inspire-label:before {
  content: "Atmosferos sąlygos";
}

.inspire-27-lt .inspire-label:before {
  content: "Meteorologinės geografinės sąlygos";
}

.inspire-28-lt .inspire-label:before {
  content: "Okeanografinės geografinės sąlygos";
}

.inspire-29-lt .inspire-label:before {
  content: "Jūrų regionai";
}

.inspire-3-lt .inspire-label:before {
  content: "Geografiniai pavadinimai";
}

.inspire-30-lt .inspire-label:before {
  content: "Biogeografiniai regionai";
}

.inspire-31-lt .inspire-label:before {
  content: "Buveinės ir biotopai";
}

.inspire-32-lt .inspire-label:before {
  content: "Rūšių pasiskirstymas";
}

.inspire-33-lt .inspire-label:before {
  content: "Energijos ištekliai";
}

.inspire-34-lt .inspire-label:before {
  content: "Naudingosios iškasenos";
}

.inspire-4-lt .inspire-label:before {
  content: "Administraciniai vienetai";
}

.inspire-5-lt .inspire-label:before {
  content: "Adresai";
}

.inspire-6-lt .inspire-label:before {
  content: "Kadastro sklypai";
}

.inspire-7-lt .inspire-label:before {
  content: "Transporto tinklai";
}

.inspire-8-lt .inspire-label:before {
  content: "Hidrografija";
}

.inspire-9-lt .inspire-label:before {
  content: "Saugomos teritorijos";
}

.inspire-1-hu .inspire-label:before {
  content: "Koordinátarendszerek";
}

.inspire-10-hu .inspire-label:before {
  content: "Domborzat";
}

.inspire-11-hu .inspire-label:before {
  content: "A felszín borítása";
}

.inspire-12-hu .inspire-label:before {
  content: "Ortofotók";
}

.inspire-13-hu .inspire-label:before {
  content: "Földtan";
}

.inspire-14-hu .inspire-label:before {
  content: "Statisztikai egységek";
}

.inspire-15-hu .inspire-label:before {
  content: "Épületek";
}

.inspire-16-hu .inspire-label:before {
  content: "Talaj";
}

.inspire-17-hu .inspire-label:before {
  content: "Földhasználat";
}

.inspire-18-hu .inspire-label:before {
  content: "Emberi egészség és biztonság";
}

.inspire-19-hu .inspire-label:before {
  content: "Közüzemi és közszolgáltatások";
}

.inspire-2-hu .inspire-label:before {
  content: "Földrajzi rácsrendszerek";
}

.inspire-20-hu .inspire-label:before {
  content: "Környezetvédelmi monitoringlétesítmények";
}

.inspire-21-hu .inspire-label:before {
  content: "Termelő és ipari létesítmények";
}

.inspire-22-hu .inspire-label:before {
  content: "Mezőgazdasági és akvakultúra-ágazati létesítmények";
}

.inspire-23-hu .inspire-label:before {
  content: "A népesség eloszlása – demográfia";
}

.inspire-24-hu .inspire-label:before {
  content: "Területgazdálkodási/-korlátozási/-szabályozási övezetek és adatszolgáltató egységek";
}

.inspire-25-hu .inspire-label:before {
  content: "Természeti kockázati zónák";
}

.inspire-26-hu .inspire-label:before {
  content: "Légköri viszonyok";
}

.inspire-27-hu .inspire-label:before {
  content: "Meteorológiai földrajzi jellemzők";
}

.inspire-28-hu .inspire-label:before {
  content: "Oceanográfiai földrajzi jellemzők";
}

.inspire-29-hu .inspire-label:before {
  content: "Tengeri régiók";
}

.inspire-3-hu .inspire-label:before {
  content: "Földrajzi nevek";
}

.inspire-30-hu .inspire-label:before {
  content: "Biogeográfiai régiók";
}

.inspire-31-hu .inspire-label:before {
  content: "Élőhelyek és biotópok";
}

.inspire-32-hu .inspire-label:before {
  content: "A fajok megoszlása";
}

.inspire-33-hu .inspire-label:before {
  content: "Energiaforrások";
}

.inspire-34-hu .inspire-label:before {
  content: "Ásványi nyersanyagok";
}

.inspire-4-hu .inspire-label:before {
  content: "Közigazgatási egységek";
}

.inspire-5-hu .inspire-label:before {
  content: "Címek";
}

.inspire-6-hu .inspire-label:before {
  content: "Kataszteri parcellák";
}

.inspire-7-hu .inspire-label:before {
  content: "Közlekedési hálózatok";
}

.inspire-8-hu .inspire-label:before {
  content: "Vízrajz";
}

.inspire-9-hu .inspire-label:before {
  content: "Védett helyek";
}

.inspire-1-fr .inspire-label:before {
  content: "Référentiels de coordonnées";
}

.inspire-10-fr .inspire-label:before {
  content: "Altitude";
}

.inspire-11-fr .inspire-label:before {
  content: "Occupation des terres";
}

.inspire-12-fr .inspire-label:before {
  content: "Ortho-imagerie";
}

.inspire-13-fr .inspire-label:before {
  content: "Géologie";
}

.inspire-14-fr .inspire-label:before {
  content: "Unités statistiques";
}

.inspire-15-fr .inspire-label:before {
  content: "Bâtiments";
}

.inspire-16-fr .inspire-label:before {
  content: "Sols";
}

.inspire-17-fr .inspire-label:before {
  content: "Usage des sols";
}

.inspire-18-fr .inspire-label:before {
  content: "Santé et sécurité des personnes";
}

.inspire-19-fr .inspire-label:before {
  content: "Services d'utilité publique et services publics";
}

.inspire-2-fr .inspire-label:before {
  content: "Systèmes de maillage géographique";
}

.inspire-20-fr .inspire-label:before {
  content: "Installations de suivi environnemental";
}

.inspire-21-fr .inspire-label:before {
  content: "Lieux de production et sites industriels";
}

.inspire-22-fr .inspire-label:before {
  content: "Installations agricoles et aquacoles";
}

.inspire-23-fr .inspire-label:before {
  content: "Répartition de la population — démographie";
}

.inspire-24-fr .inspire-label:before {
  content: "Zones de gestion, de restriction ou\A de réglementation et unités de déclaration";
}

.inspire-25-fr .inspire-label:before {
  content: "Zones à risque naturel";
}

.inspire-26-fr .inspire-label:before {
  content: "Conditions atmosphériques";
}

.inspire-27-fr .inspire-label:before {
  content: "Caractéristiques géographiques météorologiques";
}

.inspire-28-fr .inspire-label:before {
  content: "Caractéristiques géographiques océanographiques";
}

.inspire-29-fr .inspire-label:before {
  content: "Régions maritimes";
}

.inspire-3-fr .inspire-label:before {
  content: "Dénominations géographiques";
}

.inspire-30-fr .inspire-label:before {
  content: "Régions biogéographiques";
}

.inspire-31-fr .inspire-label:before {
  content: "Habitats et biotopes";
}

.inspire-32-fr .inspire-label:before {
  content: "Répartition des espèces";
}

.inspire-33-fr .inspire-label:before {
  content: "Sources d'énergie";
}

.inspire-34-fr .inspire-label:before {
  content: "Ressources minérales";
}

.inspire-4-fr .inspire-label:before {
  content: "Unités administratives";
}

.inspire-5-fr .inspire-label:before {
  content: "Adresses";
}

.inspire-6-fr .inspire-label:before {
  content: "Parcelles cadastrales";
}

.inspire-7-fr .inspire-label:before {
  content: "Réseaux de transport";
}

.inspire-8-fr .inspire-label:before {
  content: "Hydrographie";
}

.inspire-9-fr .inspire-label:before {
  content: "Sites protégés";
}

.inspire-1-fi .inspire-label:before {
  content: "Koordinaattijärjestelmät";
}

.inspire-10-fi .inspire-label:before {
  content: "Korkeus";
}

.inspire-11-fi .inspire-label:before {
  content: "Maanpeite";
}

.inspire-12-fi .inspire-label:before {
  content: "Ortoilmakuvat";
}

.inspire-13-fi .inspire-label:before {
  content: "Geologia";
}

.inspire-14-fi .inspire-label:before {
  content: "Tilastoyksiköt";
}

.inspire-15-fi .inspire-label:before {
  content: "Rakennukset";
}

.inspire-16-fi .inspire-label:before {
  content: "Maaperä";
}

.inspire-17-fi .inspire-label:before {
  content: "Maankäyttö";
}

.inspire-18-fi .inspire-label:before {
  content: "Väestön terveys ja turvallisuus";
}

.inspire-19-fi .inspire-label:before {
  content: "Yleishyödylliset ja muut julkiset palvelut";
}

.inspire-2-fi .inspire-label:before {
  content: "Paikannusruudustot";
}

.inspire-20-fi .inspire-label:before {
  content: "Ympäristön tilan seurantalaitteet";
}

.inspire-21-fi .inspire-label:before {
  content: "Tuotanto- ja teollisuuslaitokset";
}

.inspire-22-fi .inspire-label:before {
  content: "Maatalous- ja vesiviljelylaitokset";
}

.inspire-23-fi .inspire-label:before {
  content: "Väestöjakauma – demografia";
}

.inspire-24-fi .inspire-label:before {
  content: "Aluesuunnittelun, rajoitusten ja sääntelyn piiriin kuuluvat alueet ja raportointiyksiköt";
}

.inspire-25-fi .inspire-label:before {
  content: "Luonnonriskialueet";
}

.inspire-26-fi .inspire-label:before {
  content: "Ilmakehän tila";
}

.inspire-27-fi .inspire-label:before {
  content: "Ilmaston maantieteelliset ominaispiirteet";
}

.inspire-28-fi .inspire-label:before {
  content: "Merentutkimuksen maantieteelliset ominaispiirteet";
}

.inspire-29-fi .inspire-label:before {
  content: "Merialueet";
}

.inspire-3-fi .inspire-label:before {
  content: "Paikannimet";
}

.inspire-30-fi .inspire-label:before {
  content: "Biomaantieteelliset alueet";
}

.inspire-31-fi .inspire-label:before {
  content: "Elinympäristöt ja biotoopit";
}

.inspire-32-fi .inspire-label:before {
  content: "Lajien levinneisyys";
}

.inspire-33-fi .inspire-label:before {
  content: "Energiavarat";
}

.inspire-34-fi .inspire-label:before {
  content: "Mineraalivarat";
}

.inspire-4-fi .inspire-label:before {
  content: "Hallinnolliset yksiköt";
}

.inspire-5-fi .inspire-label:before {
  content: "Osoitteet";
}

.inspire-6-fi .inspire-label:before {
  content: "Kiinteistöt";
}

.inspire-7-fi .inspire-label:before {
  content: "Liikenneverkot";
}

.inspire-8-fi .inspire-label:before {
  content: "Hydrografia";
}

.inspire-9-fi .inspire-label:before {
  content: "Suojellut alueet";
}

.inspire-1-et .inspire-label:before {
  content: "Koordinaatsüsteemid";
}

.inspire-10-et .inspire-label:before {
  content: "Kõrgused";
}

.inspire-11-et .inspire-label:before {
  content: "Maakate";
}

.inspire-12-et .inspire-label:before {
  content: "Ortokujutised";
}

.inspire-13-et .inspire-label:before {
  content: "Geoloogia";
}

.inspire-14-et .inspire-label:before {
  content: "Statistilised üksused";
}

.inspire-15-et .inspire-label:before {
  content: "Ehitised";
}

.inspire-16-et .inspire-label:before {
  content: "Pinnas";
}

.inspire-17-et .inspire-label:before {
  content: "Maakasutus";
}

.inspire-18-et .inspire-label:before {
  content: "Inimeste tervis ja ohutus";
}

.inspire-19-et .inspire-label:before {
  content: "Kommunaal- ja riiklikud teenused";
}

.inspire-2-et .inspire-label:before {
  content: "Geograafilised ruutvõrgud";
}

.inspire-20-et .inspire-label:before {
  content: "Keskkonnaseirerajatised";
}

.inspire-21-et .inspire-label:before {
  content: "Tootmis- ja tööstusrajatised";
}

.inspire-22-et .inspire-label:before {
  content: "Põllumajandus- ja vesiviljelusrajatised";
}

.inspire-23-et .inspire-label:before {
  content: "Elanikkonna jaotumine – demograafia";
}

.inspire-24-et .inspire-label:before {
  content: "Üldplaneering/piirangu-/reguleeritud tsoonid ja aruandlusüksused";
}

.inspire-25-et .inspire-label:before {
  content: "Looduslikud ohutsoonid";
}

.inspire-26-et .inspire-label:before {
  content: "Atmosfääritingimused";
}

.inspire-27-et .inspire-label:before {
  content: "Meteoroloogilis-geograafilised tunnusjooned";
}

.inspire-28-et .inspire-label:before {
  content: "Okeanograafilis-geograafilised tunnusjooned";
}

.inspire-29-et .inspire-label:before {
  content: "Merepiirkonnad";
}

.inspire-3-et .inspire-label:before {
  content: "Geograafilised nimed";
}

.inspire-30-et .inspire-label:before {
  content: "Bio-geograafilised piirkonnad";
}

.inspire-31-et .inspire-label:before {
  content: "Elupaigad ja biotoobid";
}

.inspire-32-et .inspire-label:before {
  content: "Liikide jaotumine";
}

.inspire-33-et .inspire-label:before {
  content: "Energiaressursid";
}

.inspire-34-et .inspire-label:before {
  content: "Maavarad";
}

.inspire-4-et .inspire-label:before {
  content: "Haldusüksused";
}

.inspire-5-et .inspire-label:before {
  content: "Aadressid";
}

.inspire-6-et .inspire-label:before {
  content: "Katastriüksused";
}

.inspire-7-et .inspire-label:before {
  content: "Transpordivõrgud";
}

.inspire-8-et .inspire-label:before {
  content: "Hüdrograafia";
}

.inspire-9-et .inspire-label:before {
  content: "Kaitsealused kohad";
}

.inspire-1-es .inspire-label:before {
  content: "Sistemas de coordenadas de referencia";
}

.inspire-10-es .inspire-label:before {
  content: "Elevaciones";
}

.inspire-11-es .inspire-label:before {
  content: "Cubierta terrestre";
}

.inspire-12-es .inspire-label:before {
  content: "Ortoimágenes";
}

.inspire-13-es .inspire-label:before {
  content: "Geología";
}

.inspire-14-es .inspire-label:before {
  content: "Unidades estadísticas";
}

.inspire-15-es .inspire-label:before {
  content: "Edificios";
}

.inspire-16-es .inspire-label:before {
  content: "Suelo";
}

.inspire-17-es .inspire-label:before {
  content: "Uso del suelo";
}

.inspire-18-es .inspire-label:before {
  content: "Salud y seguridad humanas";
}

.inspire-19-es .inspire-label:before {
  content: "Servicios de utilidad pública y estatales";
}

.inspire-2-es .inspire-label:before {
  content: "Sistema de cuadrículas geográficas";
}

.inspire-20-es .inspire-label:before {
  content: "Instalaciones de observación del medio ambiente";
}

.inspire-21-es .inspire-label:before {
  content: "Instalaciones de producción e industriales";
}

.inspire-22-es .inspire-label:before {
  content: "Instalaciones agrícolas y de acuicultura";
}

.inspire-23-es .inspire-label:before {
  content: "Distribución de la población — demografía";
}

.inspire-24-es .inspire-label:before {
  content: "Zonas sujetas a ordenación, a restricciones o reglamentaciones y unidades de notificación";
}

.inspire-25-es .inspire-label:before {
  content: "Zonas de riesgos naturales";
}

.inspire-26-es .inspire-label:before {
  content: "Condiciones atmosféricas";
}

.inspire-27-es .inspire-label:before {
  content: "Aspectos geográficos de carácter meteorológico";
}

.inspire-28-es .inspire-label:before {
  content: "Rasgos geográficos oceanográficos";
}

.inspire-29-es .inspire-label:before {
  content: "Regiones marinas";
}

.inspire-3-es .inspire-label:before {
  content: "Nombres geográficos";
}

.inspire-30-es .inspire-label:before {
  content: "Regiones biogeográficas";
}

.inspire-31-es .inspire-label:before {
  content: "Hábitats y biotopos";
}

.inspire-32-es .inspire-label:before {
  content: "Distribución de las especies";
}

.inspire-33-es .inspire-label:before {
  content: "Recursos energéticos";
}

.inspire-34-es .inspire-label:before {
  content: "Recursos minerales";
}

.inspire-4-es .inspire-label:before {
  content: "Unidades administrativas";
}

.inspire-5-es .inspire-label:before {
  content: "Direcciones";
}

.inspire-6-es .inspire-label:before {
  content: "Parcelas catastrales";
}

.inspire-7-es .inspire-label:before {
  content: "Redes de transporte";
}

.inspire-8-es .inspire-label:before {
  content: "Hidrografía";
}

.inspire-9-es .inspire-label:before {
  content: "Lugares protegidos";
}

.inspire-1-el .inspire-label:before {
  content: "Συστήματα συντεταγμένων";
}

.inspire-10-el .inspire-label:before {
  content: "Υψομετρία";
}

.inspire-11-el .inspire-label:before {
  content: "Κάλυψη γης";
}

.inspire-12-el .inspire-label:before {
  content: "Ορθοφωτογραφία";
}

.inspire-13-el .inspire-label:before {
  content: "Γεωλογία";
}

.inspire-14-el .inspire-label:before {
  content: "Στατιστικές μονάδες";
}

.inspire-15-el .inspire-label:before {
  content: "Κτίρια";
}

.inspire-16-el .inspire-label:before {
  content: "Έδαφος";
}

.inspire-17-el .inspire-label:before {
  content: "Χρήσεις γης";
}

.inspire-18-el .inspire-label:before {
  content: "Ανθρώπινη υγεία και ασφάλεια";
}

.inspire-19-el .inspire-label:before {
  content: "Επιχειρήσεις κοινής ωφελείας και κρατικές υπηρεσίες";
}

.inspire-2-el .inspire-label:before {
  content: "Συστήματα γεωγραφικού καννάβου";
}

.inspire-20-el .inspire-label:before {
  content: "Εγκαταστάσεις παρακολούθησης του περιβάλλοντος";
}

.inspire-21-el .inspire-label:before {
  content: "Εγκαταστάσεις παραγωγής και βιομηχανικές εγκαταστάσεις";
}

.inspire-22-el .inspire-label:before {
  content: "Γεωργικές εγκαταστάσεις και εγκαταστάσεις υδατοκαλλιέργειας";
}

.inspire-23-el .inspire-label:before {
  content: "Κατανομή πληθυσμού — δημογραφία";
}

.inspire-24-el .inspire-label:before {
  content: "Ζώνες διαχείρισης/περιορισμού/ρύθμισης εκτάσεων και μονάδες αναφοράς";
}

.inspire-25-el .inspire-label:before {
  content: "Ζώνες φυσικών κινδύνων";
}

.inspire-26-el .inspire-label:before {
  content: "Ατμοσφαιρικές συνθήκες";
}

.inspire-27-el .inspire-label:before {
  content: "Μετεωρολογικά γεωγραφικά χαρακτηριστικά";
}

.inspire-28-el .inspire-label:before {
  content: "Ωκεανογραφικά γεωγραφικά χαρακτηριστικά";
}

.inspire-29-el .inspire-label:before {
  content: "Θαλάσσιες περιοχές";
}

.inspire-3-el .inspire-label:before {
  content: "Τοπωνύμια";
}

.inspire-30-el .inspire-label:before {
  content: "Βιογεωγραφικές περιοχές";
}

.inspire-31-el .inspire-label:before {
  content: "Ενδιαιτήματα και βιότοποι";
}

.inspire-32-el .inspire-label:before {
  content: "Κατανομή ειδών";
}

.inspire-33-el .inspire-label:before {
  content: "Ενεργειακοί πόροι";
}

.inspire-34-el .inspire-label:before {
  content: "Ορυκτοί πόροι";
}

.inspire-4-el .inspire-label:before {
  content: "Διοικητικές ενότητες";
}

.inspire-5-el .inspire-label:before {
  content: "Διευθύνσεις";
}

.inspire-6-el .inspire-label:before {
  content: "Γεωτεμάχια κτηματολογίου";
}

.inspire-7-el .inspire-label:before {
  content: "Δίκτυα μεταφορών";
}

.inspire-8-el .inspire-label:before {
  content: "Υδρογραφία";
}

.inspire-9-el .inspire-label:before {
  content: "Προστατευόμενες τοποθεσίες";
}

.inspire-1-de .inspire-label:before {
  content: "Koordinatenreferenzsysteme";
}

.inspire-10-de .inspire-label:before {
  content: "Höhe";
}

.inspire-11-de .inspire-label:before {
  content: "Bodenbedeckung";
}

.inspire-12-de .inspire-label:before {
  content: "Orthofotografie";
}

.inspire-13-de .inspire-label:before {
  content: "Geologie";
}

.inspire-14-de .inspire-label:before {
  content: "Statistische Einheiten";
}

.inspire-15-de .inspire-label:before {
  content: "Gebäude";
}

.inspire-16-de .inspire-label:before {
  content: "Boden";
}

.inspire-17-de .inspire-label:before {
  content: "Bodennutzung";
}

.inspire-18-de .inspire-label:before {
  content: "Gesundheit und Sicherheit";
}

.inspire-19-de .inspire-label:before {
  content: "Versorgungswirtschaft und staatliche Dienste";
}

.inspire-2-de .inspire-label:before {
  content: "Geografische Gittersysteme";
}

.inspire-20-de .inspire-label:before {
  content: "Umweltüberwachung";
}

.inspire-21-de .inspire-label:before {
  content: "Produktions- und Industrieanlagen";
}

.inspire-22-de .inspire-label:before {
  content: "Landwirtschaftliche Anlagen und Aquakulturanlagen";
}

.inspire-23-de .inspire-label:before {
  content: "Verteilung der Bevölkerung — Demografie";
}

.inspire-24-de .inspire-label:before {
  content: "Bewirtschaftungsgebiete/Schutzgebiete/geregelte Gebiete und Berichterstattungseinheiten";
}

.inspire-25-de .inspire-label:before {
  content: "Gebiete mit naturbedingten Risiken";
}

.inspire-26-de .inspire-label:before {
  content: "Atmosphärische Bedingungen";
}

.inspire-27-de .inspire-label:before {
  content: "Meteorologisch-geografische Kennwerte";
}

.inspire-28-de .inspire-label:before {
  content: "Ozeanografisch-geografische Kennwerte";
}

.inspire-29-de .inspire-label:before {
  content: "Meeresregionen";
}

.inspire-3-de .inspire-label:before {
  content: "Geografische Bezeichnungen";
}

.inspire-30-de .inspire-label:before {
  content: "Biogeografische Regionen";
}

.inspire-31-de .inspire-label:before {
  content: "Lebensräume und Biotope";
}

.inspire-32-de .inspire-label:before {
  content: "Verteilung der Arten";
}

.inspire-33-de .inspire-label:before {
  content: "Energiequellen";
}

.inspire-34-de .inspire-label:before {
  content: "Mineralische Bodenschätze";
}

.inspire-4-de .inspire-label:before {
  content: "Verwaltungseinheiten";
}

.inspire-5-de .inspire-label:before {
  content: "Adressen";
}

.inspire-6-de .inspire-label:before {
  content: "Flurstücke/Grundstücke (Katasterparzellen)";
}

.inspire-7-de .inspire-label:before {
  content: "Verkehrsnetze";
}

.inspire-8-de .inspire-label:before {
  content: "Gewässernetz";
}

.inspire-9-de .inspire-label:before {
  content: "Schutzgebiete";
}

.inspire-1-bg .inspire-label:before {
  content: "Координатни справочни системи";
}

.inspire-10-bg .inspire-label:before {
  content: "Релеф";
}

.inspire-11-bg .inspire-label:before {
  content: "Земна покривка";
}

.inspire-12-bg .inspire-label:before {
  content: "Ортоизображение";
}

.inspire-13-bg .inspire-label:before {
  content: "Геология";
}

.inspire-14-bg .inspire-label:before {
  content: "Статистически единици";
}

.inspire-15-bg .inspire-label:before {
  content: "Сгради";
}

.inspire-16-bg .inspire-label:before {
  content: "Почва";
}

.inspire-17-bg .inspire-label:before {
  content: "Ползване на земята";
}

.inspire-18-bg .inspire-label:before {
  content: "Здраве и безопасност на човека";
}

.inspire-19-bg .inspire-label:before {
  content: "Комунално-битови и обществени услуги";
}

.inspire-2-bg .inspire-label:before {
  content: "Географски координатни системи";
}

.inspire-20-bg .inspire-label:before {
  content: "Съоръжения за управление на околната среда";
}

.inspire-21-bg .inspire-label:before {
  content: "Производствени и промишлени съоръжения";
}

.inspire-22-bg .inspire-label:before {
  content: "Селскостопански и водностопански съоръжения";
}

.inspire-23-bg .inspire-label:before {
  content: "Разпределение на населението — демография";
}

.inspire-24-bg .inspire-label:before {
  content: "Управление на територията/ограничени/регулирани зони и отчетни единици";
}

.inspire-25-bg .inspire-label:before {
  content: "Природни рискови зони";
}

.inspire-26-bg .inspire-label:before {
  content: "Атмосферни условия";
}

.inspire-27-bg .inspire-label:before {
  content: "Метеорологични географски характеристики";
}

.inspire-28-bg .inspire-label:before {
  content: "Океанографски географски характеристики";
}

.inspire-29-bg .inspire-label:before {
  content: "Морски региони";
}

.inspire-3-bg .inspire-label:before {
  content: "Географски наименования";
}

.inspire-30-bg .inspire-label:before {
  content: "Биогеографски региони";
}

.inspire-31-bg .inspire-label:before {
  content: "Местообитания и биотопи";
}

.inspire-32-bg .inspire-label:before {
  content: "Разпределение на видовете";
}

.inspire-33-bg .inspire-label:before {
  content: "Енергийни източници";
}

.inspire-34-bg .inspire-label:before {
  content: "Минерални ресурси";
}

.inspire-4-bg .inspire-label:before {
  content: "Административни единици";
}

.inspire-5-bg .inspire-label:before {
  content: "Адреси";
}

.inspire-6-bg .inspire-label:before {
  content: "Кадастрални парцели";
}

.inspire-7-bg .inspire-label:before {
  content: "Транспортни мрежи";
}

.inspire-8-bg .inspire-label:before {
  content: "Хидрография";
}

.inspire-9-bg .inspire-label:before {
  content: "Защитени обекти";
}

.inspire-1-da .inspire-label:before {
  content: "Koordinatsystemer";
}

.inspire-10-da .inspire-label:before {
  content: "Højde";
}

.inspire-11-da .inspire-label:before {
  content: "Arealdække";
}

.inspire-12-da .inspire-label:before {
  content: "Ortofoto";
}

.inspire-13-da .inspire-label:before {
  content: "Geologi";
}

.inspire-14-da .inspire-label:before {
  content: "Statistiske enheder";
}

.inspire-15-da .inspire-label:before {
  content: "Bygninger";
}

.inspire-16-da .inspire-label:before {
  content: "Jord";
}

.inspire-17-da .inspire-label:before {
  content: "Arealanvendelse";
}

.inspire-18-da .inspire-label:before {
  content: "Sikkerhed";
}

.inspire-19-da .inspire-label:before {
  content: "Offentlig forsyningsvirksomhed og offentlige tjenesteydelser";
}

.inspire-2-da .inspire-label:before {
  content: "Geografiske kvadratnetsystemer";
}

.inspire-20-da .inspire-label:before {
  content: "Miljøovervågningsfaciliteter";
}

.inspire-21-da .inspire-label:before {
  content: "Produktions- og industrifaciliteter";
}

.inspire-22-da .inspire-label:before {
  content: "Landbrugs- og akvakulturanlæg";
}

.inspire-23-da .inspire-label:before {
  content: "Befolkningsfordeling — demografi";
}

.inspire-24-da .inspire-label:before {
  content: "Forvaltede og regulerede områder samt områder med brugsbegrænsning og indberetningsenheder";
}

.inspire-25-da .inspire-label:before {
  content: "Områder med naturlige risici";
}

.inspire-26-da .inspire-label:before {
  content: "Atmosfæriske forhold";
}

.inspire-27-da .inspire-label:before {
  content: "Meteorologisk-geografiske forhold";
}

.inspire-28-da .inspire-label:before {
  content: "Oceanografiske/geografiske forhold";
}

.inspire-29-da .inspire-label:before {
  content: "Havområder";
}

.inspire-3-da .inspire-label:before {
  content: "Stednavne";
}

.inspire-30-da .inspire-label:before {
  content: "Biogeografiske regioner";
}

.inspire-31-da .inspire-label:before {
  content: "Levesteder og biotoper";
}

.inspire-32-da .inspire-label:before {
  content: "Artsfordeling";
}

.inspire-33-da .inspire-label:before {
  content: "Energiressourcer";
}

.inspire-34-da .inspire-label:before {
  content: "Mineralressourcer";
}

.inspire-4-da .inspire-label:before {
  content: "Administrative enheder";
}

.inspire-5-da .inspire-label:before {
  content: "Adresser";
}

.inspire-6-da .inspire-label:before {
  content: "Matrikulære parceller";
}

.inspire-7-da .inspire-label:before {
  content: "Transportnet";
}

.inspire-8-da .inspire-label:before {
  content: "Hydrograf";
}

.inspire-9-da .inspire-label:before {
  content: "Beskyttede lokaliteter";
}

.inspire-1-cs .inspire-label:before {
  content: "Souřadnicové referenční systémy";
}

.inspire-10-cs .inspire-label:before {
  content: "Nadmořská výška";
}

.inspire-11-cs .inspire-label:before {
  content: "Krajinný pokryv";
}

.inspire-12-cs .inspire-label:before {
  content: "Ortofotosnímky";
}

.inspire-13-cs .inspire-label:before {
  content: "Geologie";
}

.inspire-14-cs .inspire-label:before {
  content: "Statistické jednotky";
}

.inspire-15-cs .inspire-label:before {
  content: "Budovy";
}

.inspire-16-cs .inspire-label:before {
  content: "Půda";
}

.inspire-17-cs .inspire-label:before {
  content: "Využití území";
}

.inspire-18-cs .inspire-label:before {
  content: "Lidské zdraví a bezpečnost";
}

.inspire-19-cs .inspire-label:before {
  content: "Veřejné služby a služby veřejné správy";
}

.inspire-2-cs .inspire-label:before {
  content: "Zeměpisné soustavy souřadnicových sítí";
}

.inspire-20-cs .inspire-label:before {
  content: "Zařízení pro sledování životního prostředí";
}

.inspire-21-cs .inspire-label:before {
  content: "Výrobní a průmyslová zařízení";
}

.inspire-22-cs .inspire-label:before {
  content: "Zemědělská a akvakulturní zařízení";
}

.inspire-23-cs .inspire-label:before {
  content: "Rozložení obyvatelstva – demografie";
}

.inspire-24-cs .inspire-label:before {
  content: "Správní oblasti/chráněná pásma/regulovaná území a jednotky podávající hlášení";
}

.inspire-25-cs .inspire-label:before {
  content: "Oblasti ohrožené přírodními riziky";
}

.inspire-26-cs .inspire-label:before {
  content: "Stav ovzduší";
}

.inspire-27-cs .inspire-label:before {
  content: "Zeměpisné meteorologické prvky";
}

.inspire-28-cs .inspire-label:before {
  content: "Zeměpisné oceánografické prvky";
}

.inspire-29-cs .inspire-label:before {
  content: "Mořské oblasti";
}

.inspire-3-cs .inspire-label:before {
  content: "Zeměpisné názvy";
}

.inspire-30-cs .inspire-label:before {
  content: "Bioregiony";
}

.inspire-31-cs .inspire-label:before {
  content: "Stanoviště a biotopy";
}

.inspire-32-cs .inspire-label:before {
  content: "Rozložení druhů";
}

.inspire-33-cs .inspire-label:before {
  content: "Energetické zdroje";
}

.inspire-34-cs .inspire-label:before {
  content: "Nerostné suroviny";
}

.inspire-4-cs .inspire-label:before {
  content: "Správní jednotky";
}

.inspire-5-cs .inspire-label:before {
  content: "Adresy";
}

.inspire-6-cs .inspire-label:before {
  content: "Katastrální parcely";
}

.inspire-7-cs .inspire-label:before {
  content: "Dopravní sítě";
}

.inspire-8-cs .inspire-label:before {
  content: "Vodopis";
}

.inspire-9-cs .inspire-label:before {
  content: "Chráněná území";
}
