<ul class="nav navbar-nav" ng-show="::getApplicationInfoVisible()">
  <li class="navbar-text">
    <span
      data-translate=""
      data-translate-values="{platform: '{{info['system/platform/name']}}', version: '{{info['system/platform/version']}}', subversion: '{{info['system/platform/subVersion']}}'}"
    >
      versionDetails</span
    >
  </li>
  <li>
    <a href="http://geonetwork-opensource.org/">
      <span data-translate="">about</span>
    </a>
  </li>
  <li class="hidden-sm">
    <a href="https://github.com/geonetwork/core-geonetwork">
      <span class="fa fa-fw fa-github"></span>
      <span data-translate="">github</span>
    </a>
  </li>
  <li>
    <a href="../../doc/api" title="{{'learnTheApi' | translate}}">API</a>
  </li>
</ul>
<ul class="nav navbar-nav" ng-show="::getContactusVisible()">
  <li>
    <a href="contact.us">
      <span data-translate="">contact</span>
    </a>
  </li>
</ul>
<ul
  class="nav navbar-nav"
  gn-static-pages-list-viewer
  data-section="footer"
  data-language="{{lang}}"
></ul>
<ul class="nav navbar-nav" ng-show="getSocialLinksVisible()">
  <li class="navbar-text">
    <span data-translate="">shareOn</span>
  </li>
  <li>
    <a
      href="https://twitter.com/share?url={{socialMediaLink | encodeURIComponent}}"
      target="_blank"
      title="{{'shareOnTwitter' | translate}}"
      aria-label="{{'shareOnTwitter' | translate}}"
    >
      <span class="fa fa-twitter"></span>
    </a>
  </li>
  <li>
    <a
      href="https://www.facebook.com/sharer.php?u={{socialMediaLink | encodeURIComponent}}"
      target="_blank"
      title="{{'shareOnFacebook' | translate}}"
      aria-label="{{'shareOnFacebook' | translate}}"
    >
      <span class="fa fa-facebook"></span>
    </a>
  </li>
  <li>
    <a
      href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{socialMediaLink | encodeURIComponent}}"
      target="_blank"
      title="{{'shareOnLinkedIn' | translate}}"
      aria-label="{{'shareOnLinkedIn' | translate}}"
    >
      <span class="fa fa-linkedin"></span>
    </a>
  </li>
  <li>
    <a
      href="mailto:?subject={{info.site.name}}&amp;body={{socialMediaLink | encodeURIComponent}}"
      target="_blank"
      title="{{'shareByEmail' | translate}}"
      aria-label="{{'shareByEmail' | translate}}"
    >
      <span class="fa fa-envelope-o"></span>
    </a>
  </li>
  <li>
    <a
      href=""
      data-ng-click="getPermalink('', socialMediaLink)"
      title="{{'permalink' | translate}}"
      aria-label="{{'permalink' | translate}}"
    >
      <span class="fa fa-fw fa-link"></span
    ></a>
  </li>
  <li
    data-ng-if="info['microservices/enabled'] === true"
    data-ng-repeat="rssFeed in rssFeeds"
  >
    <a
      href="../../api/collections/{{nodeId === 'srv' ? 'main' : nodeId}}/items?{{rssFeed.url}}"
      title="{{rssFeed.label | translate}}"
      aria-label="{{rssFeed.label | translate}}"
    >
      <span data-ng-if="rssFeeds.length > 1"> {{rssFeed.label | translate}} </span>
      <span class="fa fa-fw fa-rss"></span>
    </a>
  </li>
</ul>
