<ul class="nav navbar-nav">
  <li class="gn-footer-text">
    <span data-translate=""
          data-translate-values="{platform: '{{info['system/platform/name']}}', version: '{{info['system/platform/version']}}', subversion: '{{info['system/platform/subVersion']}}'}">
      versionDetails</span>
  </li>
  <li>
    <a href="http://geonetwork-opensource.org/">
      <i class="fa fa-fw"></i>
      <span data-translate="">about</span>
    </a>
  </li>
  <li class="hidden-sm">
    <a href="https://github.com/geonetwork/core-geonetwork">
      <i class="fa fa-fw fa-github"></i>
      <span data-translate="">github</span>
    </a>
  </li>
  <li>
    <a href="../../doc/api" title="{{'learnTheApi' | translate}}">API</a>
  </li>
  <li gn-static-pages-list-viewer data-section="footer" data-language="{{lang}}" />
  <li class="gn-footer-text" ng-show="getSocialLinksVisible()">
    <span data-translate="">shareOn</span>
  </li>
  <li class="socialmedia" ng-show="getSocialLinksVisible()">
    <a href="https://twitter.com/share?url={{socialMediaLink | encodeURIComponent}}"
       target="_blank"
       title="{{'shareOnTwitter' | translate}}"
       aria-label="{{'shareOnTwitter' | translate}}">
       <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/sharer.php?u={{socialMediaLink | encodeURIComponent}}"
       target="_blank"
       title="{{'shareOnFacebook' | translate}}"
       aria-label="{{'shareOnFacebook' | translate}}">
       <i class="fa fa-facebook"></i>
    </a>
    <a
      href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{socialMediaLink | encodeURIComponent}}"
      target="_blank"
      title="{{'shareOnLinkedIn' | translate}}"
      aria-label="{{'shareOnLinkedIn' | translate}}">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="mailto:?subject={{info.site.name}}&amp;body={{socialMediaLink | encodeURIComponent}}"
       target="_blank"
       title="{{'shareByEmail' | translate}}"
       aria-label="{{'shareByEmail' | translate}}">
       <i class="fa fa-envelope-o"></i>
    </a>
    <a
      href=""
      data-ng-click="getPermalink('', socialMediaLink)"
      title="{{'permalink' | translate}}"
      aria-label="{{'permalink' | translate}}">
      <i class="fa fa-fw fa-link"></i></a>
  </li>
  <li>
    <a href="rss.search?sortBy=changeDate&georss=simplepoint"
       title="{{'lastRecords' | translate}}"
       aria-label="{{'lastRecords' | translate}}">
      <i class="fa fa-rss"/>
    </a>
  </li>
</ul>
