<div>
  <ul class="gn-related-list">
    <li data-ng-repeat="link in recordLink">
      <a data-ng-href="{{link.url ||
                         (location.origin + location.pathname + '#/metadata/' + link.to) }}"
         title="{{('link-' + link.type) | translate}}">
        <i class="fa fa-fw gn-icon-{{link.type}}"></i>
        {{link.title}}
        <i class="fa fa-fw"
           data-ng-class="{'fa-external-link': link.origin === 'remote'}"></i>
      </a>
    </li>
  </ul>
  <ul class="list-group" ng-if="::relations">
    <ul ng-repeat="type in ::types"
        ng-if="::relations[type]"
        ng-init="displayState[type] = false;"
        class="gn-related-list">
      <!--<li class="gn-related-type">
        {{::relations[type].length}}&nbsp;{{type | translate}}
      </li>-->
      <li ng-repeat="r in ::relations[type]"
          data-ng-init="mainType = config.getType(r, type);">
        <a ng-show="$index < max || displayState[type]"
           data-ng-click="config.doAction(mainType, r, md)"
           title="{{('link-' + type) | translate}} > -{{r.title | gnLocalized: lang}}">
          <i class="fa fa-fw gn-icon-{{type}}"></i>
          {{r.title | gnLocalized: lang | characters:60}}
        </a>
      </li>
      <li ng-if="relations[type].length > max && !display">
        <a ng-click="displayState[type] = !displayState[type]">
          {{relations[type].length - max}}&nbsp;{{(displayState[type] ? 'less' : 'more') | translate}} ...
        </a>
      </li>
    </ul>
  </ul>
</div>
