<div class="container-fluid">
  <div class="row gn-row-main">
    <div class="col-sm-4 col-sm-push-8">
      <div class="well well-md">
        <h1 data-translate=""
            data-translate-values="{orgName: '{{info.site.organization}}'}">welcomeTitle</h1>

        <p data-translate="">welcomeText</p>
      </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <h1 data-translate="">getstarted</h1>
      <p data-translate=""
         data-translate-values="{records: '{{searchInfo.count}}'}">searchOver</p>

      <div class="input-group gn-form-any">
        <input type="text"
               class="form-control input-lg"
               autofocus=""
               data-ng-model="homeAnyField"
               data-ng-model-options="modelOptions"
               placeholder="{{'anyPlaceHolder' | translate}}"
               data-ng-keyup="$event.keyCode == 13 && goToSearch(homeAnyField)"
               data-typeahead="address for address in getAnySuggestions($viewValue)"
               data-typeahead-loading="anyLoading"
               data-typeahead-min-length="1"/>
        <span class="input-group-btn">
          <a class="btn btn-primary btn-lg"
                  type="button"
                  data-ng-href="#/search?any={{homeAnyField}}">
            <i class="fa fa-search"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8" data-ng-show="browse !== ''">
      <span data-translate="">browseBy</span>
      <span data-ng-show="searchInfo.facet['inspireThemes'].length > 0 && searchInfo.facet['topicCats'].length > 0">
        <label data-ng-show="searchInfo.facet['inspireThemes'].length > 0">
          <input type="radio" name="browse" value="inspire" data-ng-model="browse"/>
          <span data-translate="">inspireThemes</span>
        </label>
        <label data-ng-show="searchInfo.facet['topicCats'].length > 0">
          <input type="radio" name="browse" value="topics" data-ng-model="browse"/>
          <span data-translate="">topics</span>
        </label>
      </span>
      <label data-ng-show="searchInfo.facet['inspireThemes'].length > 0 && searchInfo.facet['topicCats'].length == 0"><span data-translate="">inspireThemes</span></label>
      <label data-ng-show="searchInfo.facet['topicCats'].length > 0 && searchInfo.facet['inspireThemes'].length == 0"><span data-translate="">topics</span></label>
      <div class="row">
        <span id="chips-card" data-ng-repeat="(key, facet) in searchInfo.facet['topicCats']"
          class="col-xs-6 col-sm-4 col-lg-3" data-ng-show="browse === 'topics'">
            <div class="badge-icon">
              <a data-ng-href="#/search?facet.q=topicCat%2F{{facet['@name']}}">
                <span class="badge-result badge-result-topic" >
                  <i class="fa fa-3x fa-table gn-icon gn-icon-{{facet['@name']}}"></i>
                </span>
              </a>
            </div>
            <div class="badge-text">
              <a title="{{facet['@label']}}" data-ng-href="#/search?facet.q=topicCat%2F{{facet['@name']}}">
                <span class="gn-icon-label">{{facet['@label']}}</span><br>
                <span class="badge">{{facet['@count']}}</span>
              </a>
            </div>
        </span>
        <span id="chips-card" data-ng-repeat="(key, facet) in searchInfo.facet['inspireThemesWithAc'] track by $index"
          class="col-xs-6 col-sm-6 col-lg-4" data-ng-show="browse === 'inspire'">
            <div class="badge-icon col-xs-3">
              <a data-ng-href="#/search?facet.q=inspiretheme%2F{{facet['@name'].split('|')[1]}}">
                <span class="badge-result badge-result-inspire" >
                   <i class="fa fa-3x gn-icon iti-{{facet['@name'].split('|')[0]}}"></i>
                </span>
              </a>
            </div>
            <div class="badge-text col-xs-9">
              <a title="{{facet['@label']}}" data-ng-href="#/search?facet.q=inspiretheme%2F{{facet['@name'].split('|')[1]}}">
                <span class="gn-icon-label">{{facet['@name'].split('|')[1]}}</span><br>
                <span class="badge">{{facet['@count']}}</span>
              </a>
            </div>
        </span>
      </div>
    </div>
    <div class="col-sm-4" data-ng-show="searchInfo.facet['types'].length > 0">
        <span data-translate="">browseTypes</span>
        <div class="row">
          <span id="chips-card" data-ng-repeat="(key, facet) in searchInfo.facet['types']"
                   data-ng-show="facet['@label']"
                   class="col-xs-6 col-sm-6 col-lg-6">
            <div class="badge-icon">
              <a data-ng-href="#/search?facet.q=type%2F{{facet['@name']}}">
                <span class="badge-result badge-result-type" >
                  <i class="fa fa-3x fa-table gn-icon gn-icon-{{facet['@name']}}"></i>
                </span>
              </a>
            </div>
            <div class="badge-text">
              <a title="{{facet['@label']}}" data-ng-href="#/search?facet.q=type%2F{{facet['@name']}}">
                <span class="gn-icon-label">{{facet['@label']}}</span><br>
                <span class="badge">{{facet['@count']}}</span>
              </a>
            </div>
          </span>
        </div>
    </div>
  </div>
  <div class="row gn-row-info">
      <div class="col-xs-12">
        <tabset id="info-tabset">
          <tab heading="{{'lastRecords' | translate}}"
               active="infoTabs.lastRecords.active">
            <form class="form-horizontal"
                  role="nav"
                  data-ng-controller="gnsSearchLatestController"
                  data-ng-search-form=""
                  data-runSearch="true"
                  data-ng-show="searchResults.records.length > 0">

              <div data-gn-info-list=""></div>
            </form>
          </tab>
          <tab heading="{{'preferredRecords' | translate}}"
               active="infoTabs.preferredRecords.active">
            <form class="form-horizontal"
                  role="nav"
                  data-ng-controller="gnsSearchPopularController"
                  data-ng-search-form=""
                  data-runSearch="true"
                  data-ng-show="searchResults.records.length > 0">
              <div data-gn-info-list=""></div>
            </form>
          </tab>
        </tabset>
      </div>
  </div>
</div>