<div class="container-fluid">
  <div class="row gn-row-main">
    <div class="col-sm-4 col-sm-push-8">
      <div class="well well-md">
        <h1 data-translate=""
            data-translate-values="{orgName: '{{info.site.organization}}'}">welcomeTitle</h1>

        <p data-translate="">welcomeText</p>
      </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <h1 data-translate="">getstarted</h1>
      <p data-translate=""
         data-translate-values="{records: '{{searchInfo.count}}'}">searchOver</p>

      <div class="input-group gn-form-any">
        <input type="text"
               class="form-control input-lg"
               autofocus=""
               data-ng-model="homeAnyField"
               placeholder="{{'anyPlaceHolder' | translate}}"
               data-typeahead="address for address in getAnySuggestions($viewValue)"
               data-typeahead-loading="anyLoading" class="form-control"
               data-typeahead-min-length="1"/>
        <span class="input-group-btn">
          <a class="btn btn-primary btn-lg"
                  type="button"
                  data-ng-href="#/search?any={{homeAnyField}}">
            <i class="fa fa-search"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8" data-ng-show="searchInfo.facet['topicCats']">
      <div class="panel panel-default">
        <div class="panel-heading" data-translate="">browseTopics</div>
          <div class="panel-body">
            <!-- Here is a facet with icon to do a first level
            filter
            Directive to display a first level of filter based on
            a facet which has to be available.

            An icon could be provided as a CSS class name or
            a pattern matching a URL resolving to an image.

            Properties
            <div data-flfilter="categories"
               data-title=""
               data-icon-path="../../images/category/{{['@name']}}.png">
            -->
          <div class="row">
            <div data-ng-repeat="(key, facet) in searchInfo.facet['topicCats']"
              class="col-xs-6 col-sm-4 col-lg-3">
              <a class="thumbnail gn-icon-bg" data-ng-href="#/search?topicCat={{facet['@name']}}">
                <i class="fa fa-3x fa-table gn-icon gn-icon-{{facet['@name']}}"></i><br/>
                <span class="gn-icon-label">{{facet['@label']}}</span>
                <span class="badge">{{facet['@count']}}</span>
              </a>
            </div>
            <!--<div data-ng-repeat="(key, facet) in searchInfo.facet['categories']">-->
              <!--<a class="thumbnail gn-icon-bg" data-ng-href="#/search?_cat={{facet['@name']}}">-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" data-ng-show="searchInfo.facet['types']">
      <div class="panel panel-default">
        <div class="panel-heading" data-translate="">browseTypes</div>
        <div class="panel-body">
          <div class="row">
            <div data-ng-repeat="(key, facet) in searchInfo.facet['types']"
                 data-ng-show="facet['@label']"
                 class="col-xs-6 col-sm-6 col-lg-5">
              <a class="thumbnail gn-icon-bg" data-ng-href="#/search?type={{facet['@name']}}">
                <i class="fa fa-3x fa-table gn-icon gn-icon-{{facet['@name']}}"></i><br/>
                <span class="gn-icon-label">{{facet['@label']}}</span>
                <span class="badge">{{facet['@count']}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
    <div class="row gn-row-info">
      <div class="col-xs-12">
        <tabset id="info-tabset">
          <tab heading="{{'lastRecords' | translate}}"
               active="infoTabs.lastRecords.active">
            <form class="form-horizontal"
                  role="nav"
                  data-ng-controller="gnsSearchLatestController"
                  data-ng-search-form=""
                  data-runSearch="true"
                  data-ng-show="searchResults.records.length > 0">

              <div data-gn-info-list=""></div>
            </form>
          </tab>
          <tab heading="{{'preferredRecords' | translate}}"
               active="infoTabs.preferredRecords.active">
            <form class="form-horizontal"
                  role="nav"
                  data-ng-controller="gnsSearchPopularController"
                  data-ng-search-form=""
                  data-runSearch="true"
                  data-ng-show="searchResults.records.length > 0">
              <div data-gn-info-list=""></div>
            </form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
