<div
  class="row gn-row-main hidden-print"
  data-ng-hide="gnCfg.mods.home.showSearch === false"
>
  <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
    <div class="col-sm-offset-6" data-gn-index-error-panel=""></div>

    <div class="col-md-3 well well-sm" data-ng-if="serviceMetadataForPortal != null">
      <p ng-bind-html="serviceMetadataForPortal.resourceAbstract | linky:'_blank'"></p>

      <p
        data-ng-if="serviceMetadataForPortal.contactForResource
                     && serviceMetadataForPortal.contactForResource.length > 0"
      >
        <span data-translate="">forMoreInformationContact</span>
        <span
          data-ng-repeat="c in serviceMetadataForPortal.contactForResource"
          data-ng-if="c.email != ''"
        >
          <a href="mailto:{{c.email}}">{{c.email}}</a>
          <span data-ng-if="!$last">,</span>
        </span>
      </p>
    </div>

    <div
      class="col-md-6"
      data-ng-class="{'col-md-offset-3': serviceMetadataForPortal == null}"
      data-ng-if="!showHealthIndexError"
    >
      <div class="input-group gn-form-any">
        <input
          type="text"
          role="combobox"
          class="form-control input-lg"
          autofocus=""
          autocomplete="off"
          data-ng-model="homeAnyField"
          data-ng-model-options="modelOptions"
          placeholder="{{'anyPlaceHolder' | translate}}"
          aria-label="{{'anyPlaceHolder' | translate}}"
          data-ng-keyup="$event.keyCode == 13 && goToSearch(homeAnyField)"
          data-typeahead="md.label as md.label for md in getAnySuggestions($viewValue, searchObj)"
          data-typeahead-template-url="../../catalog/templates/gn-typeahead-match.html"
          data-typeahead-loading="anyLoading"
          data-typeahead-min-length="1"
          data-typeahead-focus-first="false"
          data-typeahead-wait-ms="300"
        />
        <span class="input-group-btn">
          <a
            class="btn btn-default btn-lg"
            type="button"
            data-ng-disabled="searchInfo.hits.total.value == 0"
            data-ng-href="{{(gnCfg.mods.search.appUrl + '?any=' + homeAnyField) | setUrlPlaceholder}}"
          >
            <i class="fa fa-search"></i>
            <span class="sr-only" data-translate="">search</span>
          </a>
        </span>
      </div>

      <div
        data-translate=""
        class="search-over"
        data-translate-values="{records: '{{searchInfo.hits.total.value}}'}"
      >
        searchOver
      </div>
    </div>
  </div>
</div>
<!-- /.gn-row-main -->
<div
  data-ng-if="showMosaic"
  data-gn-record-mosaic="-cl_status.key:obsolete"
  size="9"
></div>

<form
  data-ng-if="showMaps"
  class="form-horizontal"
  role="form"
  data-ng-controller="gnsSearchTopEntriesController"
  data-ng-search-form=""
  data-runSearch="true"
  data-ng-show="searchResults.records.length > 0"
>
  <div class="row gn-top-records" role="row">
    <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
      <h1 data-translate="">topMaps</h1>

      <input type="hidden" name="_csrf" value="{{csrf}}" />

      <div
        data-ng-show="searchResults.records.length > 0"
        data-gn-results-container=""
        class="gn-info-list-blocks"
        data-search-results="searchResults"
        data-template-url="resultTemplate"
      ></div>
    </div>
  </div>
  <!-- /.gn-top-records -->
</form>

<div class="row" data-ng-show="searchInfo.hits.total.value == 0">
  <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
    <div class="col-md-offset-2 col-md-8 alert alert-warning">
      <span data-translate="">noDataInCatalog</span>
      <div data-gn-need-help="quick-start-home"></div>
    </div>
  </div>
</div>

<div
  class="gn-row-topics"
  data-ng-show="searchInfo.hits.total.value > 0 && searchInfo.aggregations"
>
  <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
    <div data-ng-show="homeFacet.list.length > 0">
      <div class="row" data-ng-show="homeFacet.list.length > 1">
        <h1 class="col-md-12">
          <span data-translate="">browseBy</span>
        </h1>
        <div class="gn-topic-select col-md-12">
          <label
            data-ng-repeat="facetKey in homeFacet.list"
            data-ng-init="agg = searchInfo.aggregations[facetKey]"
            data-ng-show="facetKey != homeFacet.lastKey"
          >
            <input
              type="radio"
              name="homeFacet"
              class="sr-only"
              data-ng-model="homeFacet.key"
              data-ng-value="facetKey"
            />
            <span data-translate="">{{::('facet-' + facetKey) | facetKeyTranslator}}</span
            >&nbsp;
          </label>
        </div>
      </div>
      <div class="row">
        <div
          data-ng-if="homeFacet"
          es-facet-cards="homeFacet.key"
          data-home-facet="homeFacet"
          data-search-info="searchInfo"
          data-agg-config="aggConfig"
        ></div>
      </div>
    </div>
    <div data-ng-show="searchInfo.aggregations[homeFacet.lastKey].buckets.length > 0">
      <div class="row">
        <h1 class="col-md-12" data-translate="">
          {{('facet-' + homeFacet.lastKey) | facetKeyTranslator}}
        </h1>
      </div>
      <div class="row">
        <div
          data-ng-if="homeFacet.lastKey"
          es-facet-cards="homeFacet.lastKey"
          data-home-facet="homeFacet"
          data-search-info="searchInfo"
          data-agg-config="aggConfig"
        ></div>
      </div>
    </div>
  </div>
</div>

<!-- /.gn-row-topics -->
<div
  class="row gn-row-info"
  data-ng-class="{
                    'gn-info-list-blocks': type === 'blocks' || type === undefined,
                    'gn-info-list-large': type === 'large',
                    'gn-info-list-small': type === 'small'
                  }"
  data-ng-show="searchInfo.hits.total.value > 0 && gnCfg.mods.home.info.length > 0"
>
  <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
    <div class="col-sm-12">
      <div
        id="info-toggle-buttons"
        data-ng-show="getActiveInfoTab().type == 'search'"
        class="btn-group pull-right hidden-print"
        data-toggle="buttons"
      >
        <button
          id="btn-toggle-blocks"
          type="button"
          class="btn btn-default"
          data-ng-click="toggleListType('blocks')"
          data-ng-model="type"
          data-ng-class="{'active': type === 'blocks' || type === undefined}"
          aria-label="{{'listTypeBlocks' | translate}}"
        >
          <i class="fa fa-th-large" aria-hidden="true"></i>
        </button>
        <button
          id="btn-toggle-large"
          type="button"
          class="btn btn-default"
          data-ng-click="toggleListType('large')"
          data-ng-model="type"
          data-ng-class="{'active': type === 'large'}"
          aria-label="{{'listTypeLarge' | translate}}"
        >
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <button
          id="btn-toggle-small"
          type="button"
          class="btn btn-default"
          data-ng-click="toggleListType('small')"
          data-ng-model="type"
          data-ng-class="{'active': type === 'small'}"
          aria-label="{{'listTypeSmall' | translate}}"
        >
          <i class="fa fa-align-justify" aria-hidden="true"></i>
        </button>
      </div>

      <tabset id="info-tabset" type="pills" justified="false" role="tablist">
        <tab
          data-ng-repeat="infoType in gnCfg.mods.home.info"
          data-ng-init="infoType.active = infoType.active || false"
          heading="{{(infoType.title || infoType.type) | translate}}"
          active="infoType.active"
        >
          <form
            data-ng-if="infoType.type == 'search'"
            class="form-horizontal"
            data-ng-init="searchObj = {
                            permalink: false,
                            internal: true,
                            filters: gnCfg.mods.search.filters,
                            state: {},
                            configId: 'home',
                            params: infoType.params
                          }"
            data-ng-controller="gnsHomeSearchController"
            data-ng-search-form=""
            data-runSearch="true"
            data-ng-show="searchResults.records.length > 0"
          >
            <input type="hidden" name="_csrf" value="{{csrf}}" />
            <div data-gn-info-list=""></div>
          </form>

          <form
            data-ng-if="infoType.type == 'featuredUserSearches'"
            class="form-horizontal"
          >
            <div data-gn-user-searches-list></div>
          </form>

          <form data-ng-if="infoType.type == 'Comments'" class="form-horizontal">
            <div class="data-gn-userfeedbacklasthome" data-nb-of-comments="10"></div>
          </form>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!-- /.gn-row-info -->
