<div class="col-md-12 gn-record gn-series">
  <div class="md-series-{{mdView.current.record.resourceType[0]}}">
    <div data-ng-if="mdView.current.record.relatedRecords"
         data-gn-record-mosaic=""
         records="mdView.current.record.relatedRecords.all" size="9"/>
    <h1>
      <i class="fa gn-icon-{{mdView.current.record.resourceType[0]}}"/>
      {{mdView.current.record.resourceTitle}}
      <span class="text-muted badge"
            data-ng-class="{'text-success': md.mdStatus == 2, 'text-warning': md.mdStatus == 4}"
            data-ng-if="user.isEditorOrMore() && md.mdStatus<50 && isMdWorkflowEnable">{{('mdStatus-' + md.mdStatus) | translate}}</span>
    </h1>
  </div>

  <div class="gn-margin-bottom"
       data-ng-bind-html="(mdView.current.record.resourceAbstract) | linky | newlines"></div>


  <!--<div data-ng-if="mdView.current.record.relatedRecords"
       data-gn-related-series-by-criteria="mdView.current.record.relatedRecords.children"
       data-title="{{'composedOf' | translate}}">
  </div>-->


  <div data-ng-if="mdView.current.record.relatedRecords"
       data-gn-related-series-by-criteria="mdView.current.record.relatedRecords.children"
       data-agg="mdView.current.record.relatedRecords.aggregations"
       data-agg-name="agg-spatialRepresentationType"
       data-title="{{'seriesComposedOf' | translate}}">
  </div>

  <div data-ng-if="mdView.current.record.relatedRecords"
       data-gn-related-series-by-criteria="mdView.current.record.relatedRecords.children"
       data-agg="mdView.current.record.relatedRecords.aggregations"
       data-agg-name="agg-creationYearForResource"
       data-title="{{'seriesCoveringPeriod' | translate}}">
  </div>


  <div data-gn-records-link="mdView.current.record.relatedRecords.all"
       labels="title,cl_status,format,Esri,view,download,file,atom"
       columns="resourceTitle,cl_status[0].key,format,link/ESRI:REST,link/OGC:WMS,link/OGC:WFS,link/WWW:DOWNLOAD,link/atom:feed"/>


  <div ng-include="'../../catalog/views/default/templates/recordView-common.html'"/>

</div>
