<form class="form-horizontal" role="form">
  <!--ANY full text search input-->
  <div class="row gn-top-search">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="input-group gn-form-search gn-form-any">

        <input type="text"
               class="form-control input-lg"
               id="gn-any-field"
               data-ng-model="searchObj.params.any"
               data-ng-model-options="modelOptionsForm"
               placeholder="{{'anyPlaceHolder' | translate}}"
               data-ng-keyup="$event.keyCode == 13 && triggerSearch()"
               data-typeahead="address for address in getAnySuggestions($viewValue)"
               data-typeahead-loading="anyLoading" class="form-control"
               data-typeahead-min-length="1"
               data-typeahead-focus-first="false">

        <div class="input-group-btn">

          <button type="button"
                  data-ng-click="resetSearch(searchObj.defaultParams);"
                  title="{{'ClearTitle' | translate}}"
                  class="btn btn-default btn-lg">
            <i class="fa fa-times"></i>
          </button>

          <button type="button"
                  data-ng-click="triggerSearch()"
                  class="btn btn-default btn-lg">
            <i class="fa fa-search"></i>
          </button>          

          <button type="button"
                  class="btn btn-link btn-lg"
                  data-ng-model="searchObj.advancedMode"
                  btn-checkbox=""
                  btn-checkbox-true="1"
                  btn-checkbox-false="0">
            <i class="fa fa-ellipsis-v"></i>

          </button>

        </div>
      </div>
    </div>
  </div>

  <!--Advanced search form-->
  <div data-ng-show="searchObj.advancedMode"
       class="gn-search-filter gn-search-panel-advanced row">
    <div class="col-md-4 col-sm-offset-2">
      <h3 data-translate="">what</h3>
      <div class="form-group">
        <label for="categoriesF"
               class="control-label"
               data-translate="">categories</label>
        <input type="text" id="categoriesF" value=""
               class="form-control"
               gn-typeahead="categoriesOptions"
               gn-values="searchObj.params._cat"/>
      </div>
      <div class="form-group">
        <label for="keywordsF"
               class="control-label"
               data-translate="">keywords</label>
        <input type="text" id="keywordsF" value=""
               class="form-control"
               gn-values="searchObj.params.keyword"
               gn-typeahead="keywordsOptions"/>
      </div>
      <div class="form-group">
        <label for="orgNameF"
               class="control-label"
               data-translate="">orgName</label>
        <input type="text" id="orgNameF" value=""
               class="form-control"
               gn-values="searchObj.params.orgName"
               gn-typeahead="orgNameOptions"/>
      </div>
    </div>

    <div class="col-md-4">
      <h3 data-translate="">when</h3>
      <div data-gn-period-chooser="resourcesCreatedTheLast"
           data-date-from="searchObj.params.creationDateFrom"
           data-date-to="searchObj.params.creationDateTo">
      </div>

      <div data-gn-period-chooser="recordsCreatedTheLast"
           data-date-from="searchObj.params.dateFrom"
           data-date-to="searchObj.params.dateTo">
      </div>
    </div>

  </div>
</form>
