<div class="row" data-ng-controller="GnOpenwisMonitoringController">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading" data-translate="">{{options[monitorType].name
				| translate}}</div>
			<div class="panel-body">
				<select data-ng-model="monitorType" name="monitorType"
					data-ng-change="updateData()">
					<option data-ng-repeat="option in options track by option.id"
						value="{{option.id}}" data-translate="">{{option.name}}</option>

				</select>
				<table data-datatable data-dt-options="dtOptions"
					data-dt-instance="dtInstance" data-dt-columns="dtColumns"
					class="row-border hover">
					<thead>
						<tr>
							<th
								data-ng-repeat="elem in dtColumns">{{elem.mData}}</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
					<tfoot>
						<tr>
							<th
								data-ng-repeat="elem in dtColumns">{{elem.mData}}</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
