<div class="row" data-ng-controller="GnOpenwisCacheController">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading" data-gn-slide-toggle="" data-translate="">openwis-cache</div>
			<div class="panel-body">
				<table data-datatable data-dt-options="dtOptions"
					data-dt-columns="dtColumns" class="row-border hover">
					<thead>
						<tr>
							<th>File name</th>
							<th>Urn</th>
							<th>Checksum</th>
							<th>Origin</th>
							<th>Insertion Date</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
					<tfoot>
						<tr>
							<th>File name</th>
							<th>Urn</th>
							<th>Checksum</th>
							<th>Origin</th>
							<th>Insertion Date</th>
							<th>&nbsp;</th>
						</tr>
					</tfoot>
				</table>


				<div id="viewCachedFile" class="modal fade" tabindex="-1"
					role="dialog" style="display: none">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title" data-translate="">Cached File</h3>
							</div>
							<div class="modal-body">
                                <div>
                                    <label class="col-sm-6">File name:</label> <input disabled="disabled" type="text"
                                        data-ng-model="selected.filename" />
                                </div>
                                <div>
                                    <label class="col-sm-6">Checksum:</label> <input disabled="disabled" type="text"
                                        data-ng-model="selected.checksum" />
                                </div>
                                <div>
                                    <label class="col-sm-6">Urn:</label> <input disabled="disabled" type="text"
                                        data-ng-model="selected.urn" />
                                </div>
                                <div>
                                    <label class="col-sm-6">Origin:</label> <input disabled="disabled" type="text"
                                        data-ng-model="selected.origin" />
                                </div>
                                <div>
                                    <label class="col-sm-6">Insertion Date:</label> <input disabled="disabled" type="text"
                                        data-ng-model="selected.insertion_date" />
                                </div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary" type="button"
									onclick="$('#viewCachedFile').modal('hide');"
									data-translate="">Close</button>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
