<div class="gn-editor-board"
     data-ng-controller="GnSearchController">
  <div class="row" data-ng-controller="GnEditorBoardSearchController">
    <div data-ng-class="fluidEditorLayout ? 'container-fluid' : 'container'">
      <div class="col-sm-12"
          data-ng-search-form=""
          data-runSearch="true"
          data-wait-for-user="true" >

        <div class="gn-sub-bar">
          <form class="form-horizontal"
                role="form">
            <input type="hidden" name="_csrf" value="{{csrf}}"/>
            <div class="row gn-top-search">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                <div class="input-group gn-form-any">

                <span class="input-group-addon">
                  <label>
                    <input type="checkbox" title="{{'onlyMyRecord' | translate}}" data-ng-model="onlyMyRecord.is">
                    <span data-translate="" class="hidden-xs hidden-sm">onlyMyRecord</span>
                  </label>
                </span>
                <input type="text"
                       class="form-control"
                       id="gn-any-field"
                       data-ng-model="searchObj.params.any"
                       data-ng-model-options="modelOptions"
                       placeholder="{{'anyPlaceHolder' | translate}}"
                       aria-label="{{'anyPlaceHolder' | translate}}"
                       data-typeahead="address for address in getAnySuggestions($viewValue)"
                       data-typeahead-loading="anyLoading" class="form-control"
                       data-typeahead-min-length="1">
                <div class="input-group-btn">
                  <button type="button"
                          data-ng-click="triggerSearch()"
                          title="{{'search' | translate}}"
                          class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                  <button type="button"
                          data-ng-click="setOnlyMyRecord();resetSearch(defaultSearchObj.defaultParams);"
                          title="{{'ClearTitle' | translate}}"
                          class="btn btn-default">
                    <i class="fa fa-times"></i>
                  </button>
                </div>

                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-right">
                <a href="#/create" class="btn btn-primary btn-truncate" title="{{'addRecord' | translate}}">
                  <i class="fa fa-fw fa-plus"/><span class=" hidden-sm" data-translate="">addRecord</span>
                </a>
                <a href="#/import" class="btn btn-default btn-truncate" title="{{'ImportRecord' | translate}}">
                  <i class="fa fa-fw fa-upload"/><span class="hidden-xs hidden-sm" data-translate="">ImportRecord</span>
                </a>
                <a href="#/directory" class="btn btn-default btn-truncate" title="{{'directoryManager' | translate}}"
                  ng-if="user.isEditorOrMore()">
                  <i class="fa fa-fw fa-bookmark"/><span class="hidden-xs hidden-sm hidden-md btn-truncate-lg" data-translate="">directoryManager</span>
                </a>
                <a href="#/batchedit" class="btn btn-default btn-truncate" title="{{'batchEditing' | translate}}"
                  ng-if="user.isEditorOrMore()">
                  <i class="fa fa-fw fa-pencil"/><span class="hidden-xs hidden-sm hidden-md" data-translate="">batchEditing</span>
                </a>
                <a href="#/accessManager" class="btn btn-default" title="{{'accessManager' | translate}}"
                  ng-if="user.isAdministratorOrMore() && healthCheck.IndexHealthCheck === true">
                  <i class="fa fa-fw fa-lock"/><span class="hidden-xs hidden-sm hidden-md" data-translate="">accessManager</span>
                </a>
              </div>
            </div>
          </form>
        </div>


        <div class="row">
          <div class="col-sm-3 col-md-3 gn-search-facet">

            <div data-search-filter-tags
                 data-dimensions="searchResults.dimension"
                 data-use-location-parameters="false"
                 ng-if="isFilterTagsDisplayed && searchResults.dimension"></div>

            <!-- Hierachical facet mode -->
            <div data-ng-show="searchResults.records.length > 0"
                data-gn-facet-dimension-list="searchResults.dimension"
                data-params="searchObj.params"
                data-facet-type="facetsSummaryType"
                data-current-facets="currentFacets">
            </div>
          </div>
          <div class="col-sm-9 col-md-9">

            <span class="loading fa fa-spinner fa-spin"
                  data-ng-show="searching"></span>

            <div class="alert alert-warning" role="alert"
                ng-if="!searching && searchResults.count == 0">
              <i class="fa fa-frown-o"></i>
              <span data-translate="">zarooResult</span>
            </div>

            <div class="row gn-margin-bottom"
                data-ng-show="searchResults.records.length > 0">
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 relative gn-nopadding-left">
                <div data-gn-selection-widget=""
                    data-results="searchResults"></div>


              </div>
              <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4 gn-nopadding-left gn-nopadding-right text-right">
                <div class="pull-right"
                    data-gn-pagination="paginationInfo"
                    data-hits-values="searchObj.hitsperpageValues"></div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 gn-nopadding-right text-right">
                <div class="pull-right"
                    data-sortby-combo=""
                    data-params="searchObj.params"
                    data-gn-sortby-values="searchObj.sortbyValues"></div>
              </div>
            </div>
            <div class="row gn-margin-bottom">
              <gn-batch-tasks-container data-task="'batch-etf-inspire'"
                                        data-task-status-lbl="'inspireValidation'"
                                        data-force-refresh-task="forceRefreshTask"/>
            </div>
            <div class="row">
              <div data-ng-show="searchResults.records.length > 0"
                  data-gn-results-container=""
                  data-search-results="searchResults"
                  data-template-url="resultTemplate"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
