<div>
  <div class="container">
   
    <div
      data-ng-include="'../../catalog/templates/editor/top-toolbar.html'">
    </div>
    <div class="gn-editor-container" data-ng-include="editorFormUrl" data-onload="onFormLoad()"></div>
    <div class="gn-editor-tools-container">

      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-picture-o"></i><span data-translate="">overviews</span>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-link"></i><span data-translate="">associatedResources</span>
        </div>
        <div class="panel-body">

          <a href=""
            data-toggle="modal" data-target="#addthumbnail-popup"> <i
            class="fa fa-picture-o"></i> <i class="icon-external-link"></i> <span
            data-translate="">Add a Thumbnail</span>
          </a> <br> <a href=""
            data-toggle="modal" data-target="#addonlinesrc-popup"> <i
            class="fa fa-archive"></i> <i class="icon-external-link"></i> <span
            data-translate="">Add online resource</span>
          </a> <br> <a href=""
            data-toggle="modal" data-target="#linkparent-popup">
            <i class="fa fa-sitemap"></i> <i class="icon-external-link"></i>
            <span data-translate="">Link to a parent</span>
          </a> <br> <a href=""
            data-toggle="modal" data-target="#linktoservice-popup">
            <i class="fa fa-share-square-o"></i> <i
            class="icon-external-link"></i> <span data-translate="">Link
              to a service</span>
          </a> <br> <a href=""
            data-toggle="modal" data-target="#linktodataset-popup">
            <i class="fa fa-files-o"></i> <i
            class="icon-external-link"></i> <span data-translate="">Link
              to a Dataset</span>
          </a> 
          
          <div gn-onlinesrc-list=""></div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-cogs"></i><span data-translate="">suggestions</span>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-check"></i><span data-translate="">validationReport</span>
        </div>
      </div>
    </div>
  </div>

  <div data-gn-modal="" class="onlinesrc-popup"
    data-gn-popup-options="{title:'Ajout de Thumbnail'}"
    id="addthumbnail-popup">
    <div data-gn-add-thumbnail="" class="add-thumbnail"></div>
  </div>

  <div data-gn-modal="" class="onlinesrc-popup"
    data-gn-popup-options="{title:'Ajout de resource en ligne'}"
    id="addonlinesrc-popup">
    <div data-gn-add-onlinesrc="" class="add-onlinesrc"></div>
  </div>

  <div data-gn-modal="" class="onlinesrc-popup"
    data-gn-popup-options="{title:'Ajout de resource en ligne'}"
    id="linkparent-popup">
    <div data-gn-link-parent-md="" class="link-parent-md"></div>
  </div>

  <div data-gn-modal="" class="onlinesrc-popup"
    data-gn-popup-options="{title:'Link to a Service'}"
    id="linktoservice-popup">
    <div data-gn-link-service-to-dataset="attachService" id="link-to-service"
      class="link-service-md"></div>
  </div>

  <div data-gn-modal="" class="onlinesrc-popup"
    data-gn-popup-options="{title:'Link to a Dataset'}"
    id="linktodataset-popup">
    <div data-gn-link-service-to-dataset="coupledResource" id="link-to-dataset"
      class="link-dataset-md"></div>
  </div>

</div>

