<div class="container">
  <div class="navbar navbar-default"
    data-ng-include="'../../catalog/templates/editor/top-toolbar.html'"> </div>

  <div class="row">
    <div class="col-lg-9">
      <div class="" data-ng-include="editorFormUrl"> </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading"
          data-translate="">relatedResources</div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"
          data-translate="">suggestions</div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading"
          data-translate="">validationReport</div>
      </div>
    </div>
  </div>

</div>
