<div class="gn-editor-board"
     data-ng-controller="GnSearchController">

  <div data-ng-controller="GnEditorBoardSearchController">

    <div data-ng-search-form=""
         data-runSearch="true">

      <div class="row gn-sub-bar clearfix">

        <div class="gn-top-search col-md-6">
          <form role="form">
            
            <div class="input-group gn-form-any">

              <span class="input-group-addon">
                <label>
                  <input type="checkbox" data-ng-model="onlyMyRecord"
                         data-ng-click="toggleOnlyMyRecord();triggerSearch();">
                  <span data-translate="">onlyMyRecord</span>
                </label>
              </span>

              <input type="text"
                     class="form-control"
                     id="gn-any-field"
                     data-ng-model="searchObj.params.any"
                     data-ng-model-options="modelOptions"
                     placeholder="{{'anyPlaceHolder' | translate}}"
                     data-typeahead="address for address in getAnySuggestions($viewValue)"
                     data-typeahead-loading="anyLoading" class="form-control"
                     data-typeahead-min-length="1">

              <div class="input-group-btn">
                <button type="button"
                        data-ng-click="triggerSearch()"
                        class="btn btn-default">
                  <i class="fa fa-search"></i>
                </button>
                <button type="button"
                        data-ng-click="onlyMyRecord = false;resetSearch(defaultSearchObj.params);"
                        title="{{'ClearTitle' | translate}}"
                        class="btn btn-link text-danger">
                  <i class="fa fa-times"></i>
                </button>
              </div>

            </div>

          </form>
        </div>
        <!-- /.gn-top-search -->
        <div class="col-md-6 clearfix gn-nopadding-left">
          <div class="pull-right">
            <a href="#/create" class="btn btn-default">
              <i class="fa fa-plus"/>&nbsp;<span data-translate="">addRecord</span>
            </a>
            <a href="#/import" class="btn btn-default">
              <i class="fa fa-upload"/>&nbsp;<span data-translate="">ImportRecord</span>
            </a>
            <a href="#/directory" class="btn btn-default"
               ng-if="user.isEditorOrMore()">
              <i class="fa fa-list-ul"/>&nbsp;<span data-translate="">directoryManager</span>
            </a>
            <a href="#/batchedit" class="btn btn-default"
               ng-if="user.isEditorOrMore()">
              <i class="fa fa-pencil"/>&nbsp;<span data-translate="">batchEditing</span>
            </a>
          </div>
        </div>
      </div>
      <!-- /.gn-sub-bar -->

      <div class="row">
        <div class="col-md-offset-4 col-md-6 relative">
          <p class="alert alert-info"
             data-translate="">editorBoardInfo</p>
        </div>
      </div>

      <div class="row gn-margin-bottom"
           data-ng-show="searchResults.records.length > 0">
        <div class="col-md-offset-4 col-md-2 relative">
          <div class="pull-left" 
               data-gn-selection-widget=""
               data-results="searchResults"></div>
        </div>
        <div class="col-md-2">
          <div class="center-block"
               data-gn-pagination="paginationInfo"
               data-hits-values="searchObj.hitsperpageValues"></div>
        </div>
        <div class="col-md-2">
          <div class="pull-right"
               data-sortby-combo=""
               data-params="searchObj.params"
               data-gn-sortby-values="searchObj.sortbyValues"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 col-md-offset-2 gn-search-facet">

          <!-- Hierachical facet mode -->
          <div data-ng-show="searchResults.records.length > 0"
               data-gn-facet-dimension-list="searchResults.dimension"
               data-params="searchObj.params"
               data-facet-type="facetsSummaryType"
               data-current-facets="currentFacets">
          </div>
        </div>
        <div class="col-md-6">
          <div class="gn-results-heading">
            <div data-gn-facet-breadcrumb="currentFacets"></div>
          </div>
          <span class="loading fa fa-spinner fa-spin"
                data-ng-show="searching"></span>

          <div class="alert alert-warning" role="alert"
               ng-if="!searching && searchResults.count == 0">
            <i class="fa fa-frown-o"></i>
            <span data-translate="">zarooResult</span>
          </div>

          <div data-ng-show="searchResults.records.length > 0"
               data-gn-results-container=""
               data-search-results="searchResults"
               data-template-url="resultTemplate"></div>
        </div>
      </div>
    </div>

  </div>
  <div data-ng-include="'../../catalog/templates/info.html'">
  </div>

  <div data-ng-include="'../../catalog/views/default/templates/footer.html'">
  </div>
</div>
