<div class="container" id="gn-import-container">
  <!-- TODO : add form constraints -->
  <div class="row">
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span data-translate="">ImportRecord</span>
        </div>

        <div class="panel-body">

          <!--Radio button to chose mode of import-->
          <div class="radio">
            <label>
              <input type="radio" data-ng-model="importMode" value="uploadFile"/>
              <span data-translate="">uploadFile</span>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" data-ng-model="importMode" value="uploadFileByUrl"/>
              <span data-translate="">uploadFileByUrl</span>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" data-ng-model="importMode" value="copyPaste"
                     name="insert_mode" value="0"/>
              <span data-translate="">copyPaste</span>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" data-ng-model="importMode" value="importFromDir"/>
              <span data-translate="">importFromDir</span>
            </label>
          </div>


          <form id="gn-import" class="form-horizontal" role="form"
                method="POST" enctype="{{enctype}}" action="{{action}}"
                data-file-upload="mdImportUploadOptions">

            <!-- Folder Path and subfolder options -->
            <div class="form-group" data-ng-if="importMode === 'importFromDir'">
              <label for="gn-io-directory"
                     class="col-sm-5 control-label"
                     data-translate="">directory</label>
              <div class="col-sm-7">
                <input type="text"
                       class="form-control"
                       id="gn-io-directory"
                       name="serverFolder"
                       data-ng-model="params.serverFolder"
                       placeholder="/tmp/metadata/to/import">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           name="recursiveSearch"
                           data-ng-model="params.recursiveSearch"/>
                    <span data-translate="">recursive</span>
                  </label>
                </div>
              </div>
            </div>

            <!-- Upload panel -->
            <div class="form-group" data-ng-show="importMode === 'uploadFile'">
              <label for="md-import-upload"
                     class="col-sm-5 control-label"></label>
              <div class="col-sm-7" id="md-import-upload">

                <div class="panel panel-default">
                  <div class="panel-body">

                <span class="btn btn-success btn-block fileinput-button">
                  <i class="fa fa-plus fa-white"/>
                  <span data-translate="">chooseOnlinesrc</span>
                  <input type="file"
                         multiple="true"
                         id="md-import-file"
                         name="file"/>
                </span>

                    <ul>
                      <li data-ng-repeat="file in queue">
                        <div class="preview" data-file-upload-preview="file"></div>
                        {{file.name}} ({{file.type}} / {{file.size | formatFileSize}})
                        <i class="fa fa-times" data-ng-click="clear(file)"/>
                      </li>
                    </ul>

                    <div class="alert alert-warning"
                         data-ng-show="unsupportedFile"
                         data-translate="">unsupportedFileExtension
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--copypaste metadata content-->
            <div class="form-group" data-ng-if="importMode === 'copyPaste'">
              <label for="gn-md-content"
                     class="col-sm-5 control-label"
                     data-translate="">metadataContent</label>
              <div class="col-sm-7">
                <textarea class="form-control" rows="8" id="gn-md-content"
                          placeholder="<xml..."
                          data-ng-model="params.xml">
                </textarea>
              </div>
            </div>

            <div class="form-group" data-ng-if="importMode === 'uploadFileByUrl'">
              <label for="gn-md-content"
                     class="col-sm-5 control-label"
                     data-translate="">metadataContent</label>
              <div class="col-sm-7">
                <input class="form-control" type="text"
                       placeholder="http://"
                       name="url"
                       data-ng-model="params.url">
                </input>
              </div>
            </div>


            <!--Type of record-->
            <div class="form-group">
              <label for="gn-typeOfRecord"
                     class="col-sm-5 control-label"
                     data-translate="">typeOfRecord</label>
              <div class="col-sm-7">
                <div id="gn-typeOfRecord"
                     gn-recordtypes-combo="params.metadataType"></div>

                <input type="text" class="hidden"
                       name="metadataType"
                       data-ng-model="params.metadataType">
              </div>
            </div>

            <div class="form-group">
              <label for="batchAction"
                     class="col-sm-5 control-label"
                     data-translate="">uuidAction</label>
              <div class="col-sm-7" id="batchAction">
                <div class="radio">
                  <label>
                    <input type="radio" name="uuidProcessing"
                           data-ng-model="params.uuidProcessing"
                           value="NOTHING"/>
                    <span data-translate="">none</span>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="uuidProcessing"
                           data-ng-model="params.uuidProcessing"
                           value="OVERWRITE"/>
                    <span data-translate="">overwrite</span>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="uuidProcessing"
                           data-ng-model="params.uuidProcessing"
                           value="GENERATEUUID"/>
                    <span data-translate="">generateUUID</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="gn-io-directory"
                     class="col-sm-5 control-label"
                     data-translate="">xsltToApply</label>
              <div class="col-sm-7">
                <div data-gn-import-xsl="params.transformWith"/>
                <input type="text"
                       data-ng-model="params.transformWith"
                       name="transformWith"
                       class="form-control hidden"/>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-5 col-sm-7">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           name="rejectIfInvalid"
                           data-ng-model="params.rejectIfInvalid"/>
                    <span data-translate="">validate</span>
                  </label>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-offset-5 col-sm-7">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           name="assignToCatalog"
                           data-ng-model="params.assignToCatalog"/>
                    <span data-translate="">assignToCatalog</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-5 control-label" for="md-import-group"
                     data-translate="">assignToGroup</label>
              <div class="col-sm-7">
                <div data-groups-combo=""
                     data-owner-group="params.group"
                     lang="lang"
                     data-groups="groups" data-exclude-special-groups="true"/>
                <input type="text"
                       data-ng-model="params.group"
                       name="group" id="md-import-group"
                       class="form-control hidden"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-5 control-label" for="md-import-cat"
                     data-translate="">assignToCategory</label>
              <div class="col-sm-7">
                <div data-gn-category="params.category"
                     data-lang="{{lang}}"/>
                <input type="text"
                       data-ng-model="params.category" id="md-import-cat"
                       name="category"
                       class="form-control hidden"/>
              </div>
            </div>


            <button type="button" class="btn btn-primary pull-right"
                    data-ng-click="importRecords('#gn-import')"
                    title="{{'import' | translate}}">
              <i class="fa fa-plus"/>&nbsp;<span data-translate="">importRecords</span>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="progress progress-striped active"
           data-ng-show="importing === true">
        <div class="progress-bar" style="width: 100%"/>
      </div>


      <div data-ng-repeat="report in reports track by $index">
        <div class="panel panel-default"
             data-ng-class="report.code || (report.errors && report.errors.length > 0) ?
                          'panel-danger' : 'panel-success'">
          <div class="panel-heading" data-translate="">importReport</div>
          <div class="panel-body">

            <p data-ng-show="report.message" translate="">
              {{report.message}}
            </p>
            <p>
              <div data-ng-repeat="(key, value) in report.infos">
                <span>{{value.message}}</span>
              </div>
              <!--id and uuid from single import-->
              <div data-ng-repeat="(key, value) in report.metadataInfos">
                <span>{{value[0].message}}</span>
                <a href='#/metadata/{{key}}' title="{{'edit' | translate}}">
                  <i class='fa fa-pencil'></i>
                </a>
              </div>
              <div data-ng-repeat="(key, value) in report.errors">
                <span>{{value.message}}</span>
              </div>
              <!--Only one exception from single import-->
              <span ng-show="report.code">{{report.description}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
