<nav class="navbar navbar-default navbar-fixed-top gn-top-bar" role="navigation"
     data-ng-if="!unsupportedSchema">
  <div>
    <ul class="gn-view-menu-button pull-left nav navbar-nav">
      <!-- An empty drown down updated when form is loaded -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-eye"></i>
          <b class="caret"/>
        </a>
      </li>
    </ul>
  </div>

  <p class="navbar-text gn-tooltip"
    data-ng-mouseover="getSaveStatus()" title="{{saveStatus}}">
    <span data-ng-class="saveError ? 'text-danger' : ''">{{savedStatus}}</span>
  </p>
  
  <div class="pull-right">
    <!--<button type="button" class="btn btn-primary navbar-btn gn-tooltip" data-ng-click="share()"
      data-title="{{'share-help' | translate}}" data-placement="bottom">
      <i class="fa fa-lock"/>
      <span data-translate="">share</span>
    </button>-->

    <div data-gn-metadata-group-updater="groupOwner"/>

    <button type="button" class="btn btn-default navbar-btn" data-ng-click="validate()">
      <i class="fa fa-check"/>&nbsp;
      <span class="visible-lg" data-translate=""
            title="{{'validate-help' | translate}}">validate</span>
    </button>
    <!-- TODO: automatic save status -->
    <button type="button" class="btn btn-default navbar-btn gn-tooltip" data-ng-click="cancel()" 
      data-ng-mouseover="getCancelStatus()" title="{{cancelStatus}}">
      <i class="fa fa-undo"/>&nbsp;
      <span class="visible-lg" data-translate="">cancel</span>
    </button>
    <button type="button" class="btn btn-default navbar-btn gn-tooltip" data-ng-click="close()">
      <i class="fa fa-sign-out"/>&nbsp;
      <span class="visible-lg" data-translate="">closeEditor</span>
    </button>
    <div class="btn-group">
      <button type="button"
              data-ng-click="save(true)"
              class="btn btn-primary">
        <i class="fa fa-save"/>&nbsp;
        <span class="visible-lg">{{(isTemplate() ? 'saveTemplate' : 'saveMetadata') | translate}}</span>
      </button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a href=""
               data-ng-click="switchTypeAndSave(true)">
          {{(isTemplate() ? 'saveAsMetadata' : 'saveAsTemplate') | translate}}
        </a></li>
      </ul>
    </div>

  </div>
</nav>
