<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="pull-left">
    <div class="form-group navbar-btn">
      <div class="btn-group">
        <button type="button" class="btn btn-default"
          data-ng-class="{'btn-primary': metadataType == 'n'}" data-ng-click="setTemplate(false)"
          >metadata</button>
        <button type="button" class="btn btn-default"
          data-ng-class="{'btn-primary': metadataType == 'y'}" data-ng-click="setTemplate(true)"
          >template</button>
      </div>
    </div>
  </div>

  <p class="navbar-text gn-tooltip" data-toggle="tooltip" data-placement="bottom"
    data-ng-mouseover="getSaveStatus()" data-title="{{getSaveStatus()}}">{{editorConfig.savedStatus}}</p>
  <div class="pull-right">
    <button type="button" class="btn btn-primary navbar-btn gn-tooltip" data-ng-click="share()"
      data-title="{{'share-help' | translate}}" data-placement="bottom">
      <i class="fa fa-lock"/>
      <span data-translate="">share</span>
    </button>
    <button type="button" class="btn btn-primary navbar-btn" data-ng-click="save()">
      <i class="fa fa-save"/>
      <span data-translate="">save</span>
    </button>
    <button type="button" class="btn navbar-btn" data-ng-click="validate()">
      <i class="fa fa-check"/>
      <span data-translate="" title="{{'validate-help' | translate}}">validate</span>
    </button>
    <!-- TODO: automatic save status -->
    <button type="button" class="btn btn-danger navbar-btn" data-ng-click="reset()">
      <i class="fa fa-cross"/>
      <span data-translate="">cancel</span>
    </button>
  </div>
</nav>
