Cython==0.29.24
pyproj==3.0.1
urllib3==1.22
OWSLib==0.25.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.3
dataclasses==0.8
flex==6.14.1
idna==3.2
importlib-metadata==4.8.1
importlib-resources==5.3.0
jsonpointer==2.1
pkg_resources==0.0.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
requests==2.26.0
rfc3987==1.3.8
shiv==0.5.2
six==1.16.0
strict-rfc3339==0.7
typing-extensions==3.10.0.2
validate-email==1.3
zipp==3.6.0
