<html>
    <div fmt-translate="">testString</div>
    <div fmt-translate="default">testString</div>
    <div fmt-translate=">file">testString</div>
    <div fmt-translate="default>file">testString</div>
    <div fmt-translate="codelist>name">testString</div>
    <div fmt-translate="codelist>desc>context1">testString</div>
    <div fmt-translate="codelist>desc>context2">testString</div>
    <div fmt-translate="node>name>context">testString</div>
    <div fmt-translate="node>desc">testString</div>
    <div fmt-translate="">{{key}}</div>
</html>