<form name="wfsFilterForm">

  <!--search input-->
  <div class="sxt-layertree-filter">
    <span class="fa fa-times-circle clear" ng-click="clearInput()" ng-hide="searchInput==''" title="{{'clear'|translate}}"></span>
    <input type="text" ng-model="searchInput" ng-model-options="{ debounce: 300 }"
           class="layerfilter form-control input-sm" placeholder="{{'filter'|translate}}">
  </div>

  <!--Facet count-->
  <div class="count"><span translate="">count</span>&nbsp;:&nbsp;{{count}}</div>

  <!--Facet fields-->
  <div class="gn-facet" data-ng-repeat="field in fields">
    <h5 gn-collapsible="field.collapsed" >
      <span class="fa fa-arrow-circle-o-right" ng-class="{'fa-rotate-90': !field.collapsed, 'gn-field-empty': !output[field.name]}"></span>
      {{field.label}}
    </h5>
    <div class="list-group" ng-class="{'collapse': field.collapsed}" sxt-custom-scroll>
      <div class="checkbox list-group-item" data-ng-repeat="facet in field.values | filter : searchInput"
           data-ng-click="onCheckboxClick(field.name, facet.value, field.type)" data-ng-class="{'selected': output[field.name].values[facet.value]}">
        <i class="fa" data-ng-class="output[field.name].values[facet.value] ? 'fa-check-square' : 'fa-square-o'"></i>{{::facet.value}}&nbsp;({{::facet.count}})
      </div>
    </div>
  </div>
  <button class="btn btn-success" data-gn-click-and-spin="filterWMS()"><i class="fa fa-filter"></i>&nbsp;<span translate="">filter</span></button>

  <button class="btn btn-primary"
          data-ng-show-todo="user.isEditorOrMore()"
          data-gn-click-and-spin="indexWFSFeatures()"
          data-translate="">indexWFSFeatures</button>
</form>