.olCursorWait {
    cursor: wait;
}

.print {
    background-image:url(images/map/icon_print.png) !important;
    height:20px !important;
    width:20px !important;
}
.addLayer {
    background-image:url(images/map/add_layer.png) !important;
    height:20px !important;
    width:20px !important;
}
.deleteLayer {
    background-image:url(images/map/delete_layer.png) !important;
    height:20px !important;
    width:20px !important;
}
.measure {
    background-image:url(images/map/icon_measure.png) !important;
    height:20px !important;
    width:20px !important;
}
.zoomin {
    background-image:url(images/map/icon_zoomin.png) !important;
    height:20px !important;
    width:20px !important;
}
.zoomout {
    background-image:url(images/map/icon_zoomout.png) !important;
    height:20px !important;
    width:20px !important;
}
.zoomfull {
    background-image:url(images/map/icon_zoomfull.png) !important;
    height:20px !important;
    width:20px !important;
}
.zoomlayer {
    background-image:url(images/map/icon_zoomlayer.png) !important;
    height:20px !important;
    width:20px !important;
}

.pan {
    background-image:url(images/map/icon_pan.png) !important;
    height:20px !important;
    width:20px !important;
}
.selextent {
    background-image:url(images/map/icon_selextent.png) !important;
    height:20px !important;
    width:20px !important;
}
.query {
    background-image:url(images/map/icon_featureinfo.png) !important;
    height:20px !important;
    width:20px !important;
}
.next {
    background-image:url(images/map/resultset_next.png) !important;
    height:20px !important;
    width:20px !important;
}
.back {
    background-image:url(images/map/resultset_previous.png) !important;
    height:20px !important;
    width:20px !important;
}
.savewmc {
    background-image:url(images/map/icon_savewmc.png) !important;
    height:20px !important;
    width:20px !important;
}
.wmsTime {
    background-image:url(images/map/wmstime.gif) !important;
    height:20px !important;
    width:20px !important;
}
.layerStyles {
    background-image:url(images/map/layerstyles.png) !important;
    height:20px !important;
    width:20px !important;
}
.layerOpacity {
    background-image:url(images/map/opacity.png) !important;
    height:20px !important;
    width:20px !important;
}
.wmsInfo {
    background-image:url(images/map/wmsinfo.png) !important;
    height:20px !important;
    width:20px !important;
}

.olControlLoadingPanel {
    background-image:url(images/map/indicator_medium.gif);
    background-position:center;
    background-repeat:no-repeat;
}

.loadwmc {
    background-image:url(images/map/icon_loadwmc.png) !important;
    height:20px !important;
    width:20px !important;
}
.selectfile {
    background:url(images/map/icon_selectfile.png)  no-repeat 0 0 !important;
}

.olControlMousePosition {
    font-family:tahoma,arial,verdana,sans-serif;
    font-size: 9pt;
    font-weight: bold;
}
.olControlScaleBar {
    bottom:25px;
    color:#000000;
    font-family:tahoma,arial,verdana,sans-serif;
    right:10px;
}
.olControlScaleBarBar {
    background-color:#000000;
    border: 1px solid #000000;
    height:5px;
    top:12px;
}
.olControlScaleBarBarAlt {
    background-color:#FFFFFF;
    border: 1px solid #000000;
    height:5px;
    top:12px;
}
.olControlScaleBarNumbersBox {
    font-size:9pt;
    top:19px;
    width:40px;
}
.olControlScaleBarLabelBox {
    font-size:9pt;
    height:15px;
    letter-spacing:0.1em;
    top:-5px;
}

.icon-measure-length  {
background:url("images/map/ruler.png") no-repeat scroll 0 0 transparent !important;
height:16px !important;
margin:0 !important;
width:16px !important;
}

.icon-measure-area  {
background:url("images/map/ruler_square.png") no-repeat scroll 0 0 transparent !important;
height:16px !important;
margin:0 !important;
width:16px !important;
}

div.map-overlay div.overlay-element {
display:inline;
float:left;
margin:5px;
}

.olControlScaleLine {
display: inline;
position: static;
font-family:tahoma,arial,helvetica,sans-serif;
font-size:xx-small;
bottom:15px;
left:10px;
}

.overlay-scaleline {
bottom:0;
left:0;
margin-top:0;
}

.overlay-scalechooser {
    width: 'auto';
    min-width: 170px;
}

.projchooser {
    width: 'auto';
    min-width: 170px;
}

.x-form-field {
    min-width: 150px;
}

div.map-overlay {
bottom:10px;
position:absolute;
right:10px;
z-index:1000;
//width: 250px; /* For IE */
}

.olControlScaleLineTop {
font-family:tahoma,arial,helvetica,sans-serif;
font-size:xx-small;
}
.olControlScaleLineBottom {
font-family:tahoma,arial,helvetica,sans-serif;
font-size:xx-small;
}

.x-collapsed-title{
color:#15428B;
font:bold 11px/15px tahoma,arial,verdana,sans-serif;
padding:2px 5px;
}

.x-tool {
float: left;
margin-right: 2px;
}
