<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" dest="out">
  <Properties>
    <Property name="log_dir">./logs</Property>
  </Properties>

  <Filters>
    <NoMarkerFilter onMatch="ACCEPT" onMismatch="NEUTRAL"/>
    <!-- filter by geonetwork module -->
    <Filters>
      <ThresholdFilter level="INFO" onMatch="NEUTRAL" onMismatch="DENY"/>
      <MarkerFilter marker="atom" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
      <MarkerFilter marker="databasemigration" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
      <MarkerFilter marker="encryptor" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
      <MarkerFilter marker="harvester" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
    </Filters>
    <Filters>
      <ThresholdFilter level="ERROR" onMatch="NEUTRAL" onMismatch="DENY"/>
      <MarkerFilter marker="geonetwork" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
      <MarkerFilter marker="jeeves" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
    </Filters>
  </Filters>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%date{ISO8601} %-5level %marker [%logger] - %message%n"/>
    </Console>
    <RollingFile name="File">
      <filename>${sys:log_dir:-log_dir}/geonetwork.log</filename>
      <filePattern>${sys:log_dir:-log_dir}/geonetwork.log-%i.log</filePattern>
      <PatternLayout pattern="%date{ISO8601} %-5level [%logger] - %message%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy max="3" fileIndex="min"/>
    </RollingFile>
    <Routing name="Harvester">
      <Routes pattern="$${ctx:logfile}">
        <!-- value dynamically determines the name of the log file. -->
        <Route>
          <File name="harvester-${ctx:harvester}" fileName="${sys:log_dir:-log_dir}/${ctx:logfile}">
            <PatternLayout>
              <pattern>%date{ISO8601}{${ctx:timeZone}} %-5level %marker [%logger] - %message%n</pattern>
            </PatternLayout>
          </File>
        </Route>
      </Routes>
    </Routing>
  </Appenders>

  <Loggers>
    <Logger name="org.fao.geonet" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
      <AppenderRef ref="Harvester"/>
    </Logger>
    <Logger name="jeeves" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
      <AppenderRef ref="Harvester"/>
    </Logger>

    <!--  Spring logging configuration -->
    <Logger name="org.springframework" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.springframework.beans" level="error"/>
    <Logger name="org.springframework.security" level="error"/>
    <Logger name="org.springframework.security.ldap" level="error"/>
    <Logger name="org.springframework.aop.framework.CglibAopProxy" level="error"/>

    <Logger name="com.k_int" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <!--  JZKIT logging configuration -->
    <Logger name="org.jzkit" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.jzkit.a2j" level="error"/>
    <Logger name="org.jzkit.search.impl.LRUCache" level="error"/>

    <Logger name="ro.isdc.wro.http" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <!-- Check domain/src/main/resources/config-spring-geonetwork.xml show_sql properties. -->
    <Logger name="org.hibernate.SQL" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.hibernate.type" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.hibernate.tool.hbm2ddl" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.xhtmlrenderer" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <Logger name="org.apache.camel" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <!-- Turn off logging except when explicitly declared above -->
    <Root level="off">
        <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
