<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">



    <!-- Appender Configurations -->
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] - %m%n" />
        </layout>
    </appender>
    <appender name="allConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="ALL" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] - %m%n" />
        </layout>
    </appender>
    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="ALL" />
        <param name="File" value="logs/geonetwork.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] - %m%n" />
        </layout>
    </appender>

    <!-- Geonetwork module (and submodule) logging -->
    <logger name="geonetwork">
        <level value="WARN" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>
    <logger name="geonetwork.search">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.editor">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.schemamanager">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.thesaurus-man">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.accessmanager">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.thesaurus">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.editorexpandelement">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.editorfillelement">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.LanguageDetector">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.index">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.csw">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.csw.search">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.formatter">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.harvester">
        <level value="WARN" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>
    <logger name="geonetwork.lucene">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.ldap">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.lucene.tracking">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.mef">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.z3950server">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.z3950">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.sru">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.sru.search">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.GeoServerPublisher">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.GeoServerRest">
        <level value="WARN" />
    </logger>
    <logger name="geonetwork.data.directory">
        <level value="WARN" />
    </logger>

    <!--  Jeeves module and submodule logger configuration -->
    <logger name="jeeves">
        <level value="DEBUG" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>
    <logger name="jeeves.dbms">
        <level value="WARN" />
    </logger>
    <logger name="jeeves.dbms.resourcetracking">
        <level value="WARN" />
    </logger>
    <logger name="jeeves.monitor">
        <level value="WARN" />
    </logger>
    <logger name="jeeves.engine">
        <level value="WARN" />
    </logger>
    <logger name="jeeves.dbmspool">
        <level value="WARN" />
    </logger>
    <logger name="jeeves.resources">
        <level value="WARN" />
    </logger>
    <logger name="jeeves.xlinkprocessor">
        <level value="WARN" />
    </logger>
    <logger name="jeeves.transformerFactory">
        <level value="WARN" />
    </logger>
    <logger name="jeeves.xmlresolver">
        <level value="WARN" />
    </logger>



    <!--  Spring logging configuration -->
    <logger name="org.springframework">
        <level value="WARN" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>
    <logger name="org.springframework.beans">
        <level value="WARN" />
        <appender-ref ref="fileAppender" />
    </logger>
    <logger name="org.springframework.security">
        <level value="WARN" />
    </logger>
    <logger name="org.springframework.security.ldap">
        <level value="WARN" />
    </logger>
    <logger name="org.springframework.aop.framework.CglibAopProxy">
        <level value="ERROR" />
    </logger>

    <!--  JZKIT logging configuration -->
    <logger name="com.k_int">
        <level value="WARN" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>
    <logger name="org.jzkit">
        <level value="WARN" />
    </logger>
    <logger name="org.jzkit.a2j">
        <level value="WARN" />
    </logger>
    <logger name="org.jzkit.search.impl.LRUCache">
        <level value="WARN" />
    </logger>
    <logger name="ro.isdc.wro.http">
        <level value="DEBUG" />
        <appender-ref ref="allConsoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>
    <logger name="org.hibernate.SQL">
        <level value="WARN" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>
    <logger name="org.hibernate.type">
        <level value="WARN" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>
    <logger name="org.hibernate.tool.hbm2ddl">
        <level value="WARN" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>
    <logger name="org.xhtmlrenderer">
        <level value="TRACE" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>


    <!-- Turn off logging except when explicitly declared below -->
    <root>
        <level value="OFF"></level>
        <appender-ref ref="consoleAppender"/>
    </root>
</log4j:configuration>
