<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" dest="out">
  <Properties>
    <Property name="log_dir">./logs</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%date{ISO8601} %-5level [%logger] - %message%n"/>
    </Console>
    <RollingFile name="File">
      <filename>${sys:log_dir:-log_dir}/geonetwork.log</filename>
      <filePattern>${sys:log_dir:-log_dir}/geonetwork.log-%i.log</filePattern>
      <PatternLayout pattern="%date{ISO8601} %-5level [%logger] - %message%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy max="3" fileIndex="min"/>
    </RollingFile>
    <Routing name="Harvester">
      <Routes pattern="$${ctx:logfile}">
        <!-- value dynamically determines the name of the log file. -->
        <Route>
          <File name="harvester-${ctx:harvester}" fileName="${sys:log_dir:-log_dir}/${ctx:logfile:-harvester_default.log}">
            <PatternLayout>
              <pattern>%date{ISO8601}{${ctx:timeZone}} %-5level [%logger] - %message%n</pattern>
            </PatternLayout>
          </File>
        </Route>
      </Routes>
    </Routing>
  </Appenders>
  <Loggers>
    <!-- Geonetwork module (and submodule) logging -->
    <Logger name="geonetwork" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
      <AppenderRef ref="Harvester"/>
    </Logger>
    <Logger name="geonetwork.accessmanager" level="error"/>
    <Logger name="geonetwork.atom" level="info"/>
    <Logger name="geonetwork.backup" level="error"/>
    <Logger name="geonetwork.camel-harvester" level="error"/>
    <Logger name="geonetwork.cors" level="error"/>
    <Logger name="geonetwork.csw" level="error"/>
    <Logger name="geonetwork.csw.search" level="error"/>
    <Logger name="geonetwork.data.directory" level="error"/>
    <Logger name="geonetwork.database" level="error"/>
    <Logger name="geonetwork.databasemigration" level="info"/>
    <Logger name="geonetwork.datamanager" level="error"/>
    <Logger name="geonetwork.domain" level="error"/>
    <Logger name="geonetwork.editor" level="error"/>
    <Logger name="geonetwork.editorexpandelement" level="error"/>
    <Logger name="geonetwork.editorfillelement" level="error"/>
    <Logger name="geonetwork.encryptor" level="info"/>
    <Logger name="geonetwork.formatter" level="error"/>
    <Logger name="geonetwork.geoserver.publisher" level="error"/>
    <Logger name="geonetwork.geoserver.rest" level="error"/>
    <Logger name="geonetwork.harvest.wfs.features" level="debug"/>
    <Logger name="geonetwork.harvester" level="info"/>
    <Logger name="geonetwork.harvester" level="info"/>
    <Logger name="geonetwork.index" level="error"/>
    <Logger name="geonetwork.ldap" level="error"/>
    <Logger name="geonetwork.lucene" level="error"/>
    <Logger name="geonetwork.mef" level="error"/>
    <Logger name="geonetwork.resources" level="error"/>
    <Logger name="geonetwork.schemamanager" level="error"/>
    <Logger name="geonetwork.search" level="error"/>
    <Logger name="geonetwork.security" level="error"/>
    <Logger name="geonetwork.spatineo" level="error"/>
    <Logger name="geonetwork.sru" level="error"/>
    <Logger name="geonetwork.sru.search" level="error"/>
    <Logger name="geonetwork.thesaurus" level="error"/>
    <Logger name="geonetwork.thesaurus-man" level="error"/>
    <Logger name="geonetwork.userwatchlist" level="error"/>
    <Logger name="geonetwork.wro4j" level="error"/>

    <!--  Jeeves module and submodule logger configuration -->
    <Logger name="geonetwork.engine" level="error"/>
    <Logger name="geonetwork.monitor" level="error"/>
    <Logger name="geonetwork.resources" level="error"/>
    <Logger name="geonetwork.security" level="error"/>
    <Logger name="geonetwork.transformerFactory" level="error"/>
    <Logger name="geonetwork.xlinkprocessor" level="error"/>
    <Logger name="geonetwork.xmlresolver" level="error"/>

    <!--  Spring logging configuration -->
    <Logger name="org.springframework" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.springframework.beans" level="error"/>
    <Logger name="org.springframework.security" level="error"/>
    <Logger name="org.springframework.security.ldap" level="error"/>
    <Logger name="org.springframework.aop.framework.CglibAopProxy" level="error"/>

    <Logger name="com.k_int" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <!--  JZKIT logging configuration -->
    <Logger name="org.jzkit" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.jzkit.a2j" level="error"/>
    <Logger name="org.jzkit.search.impl.LRUCache" level="error"/>

    <Logger name="ro.isdc.wro.http" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <!-- Check domain/src/main/resources/config-spring-geonetwork.xml show_sql properties. -->
    <Logger name="org.hibernate.SQL" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.hibernate.type" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.hibernate.tool.hbm2ddl" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.xhtmlrenderer" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <Logger name="org.apache.camel" level="error" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <!-- Turn off logging except when explicitly declared above -->
    <Root level="off">
        <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
