<div ngeo-map="map">
  <div class="btn-group-vertical">
    <button class="btn btn-default" data-ng-click="gnMap.zoom(map, 1)">
      <i class="fa fa-plus"></i>
    </button>
    <button class="btn btn-default" data-ng-click="locService.setMap()">
      <i class="fa fa-globe"></i>
    </button>
    <button class="btn btn-default" data-ng-click="maxExtent()">
      <i class="fa fa-arrows-alt"></i>
    </button>
    <button class="btn btn-default"  data-ng-click="gnMap.zoom(map, -1)">
      <i class="fa fa-minus"></i>
    </button>
  </div>
  <button class="btn btn-default" gn-draw-bbox-btn="{{gnDrawBboxBtn}}"
          gn-draw-bbox-extent="{{gnDrawBboxExtent}}" gi-btn data-ng-model="interaction.active">
    <i class="fa fa-pencil"></i>
  </button>
</div>
