<div class="gn-features-table" data-ng-show="ctrl.tables.length > 0">
  <ul class="nav nav-pills">
    <li data-ng-repeat="table in ctrl.tables"
        data-ng-class="{active: table == ctrl.currentTable}">
      <a role="tab" data-ng-click="ctrl.currentTable = table"
         title="{{::table.name}}">
        {{table.name}}
      </a>
    </li>
  </ul>

  <div class="tab-content" data-ng-if="ctrl.currentTable">
    <gn-features-table gn-features-table-loader="ctrl.currentTable.loader"></gn-features-table>
  </div>

</div>