@sxt-base-color-dark: #2F6383;
@sxt-base-color: lighten(@sxt-base-color-dark, 20%);
@sxt-base-color: #4BA2D9;
@sxt-base-color-light: lighten(@sxt-base-color-dark, 28%);
@sxt-base-color-light: #81BEE4;
@sxt-font-color: black;

.md-network-link-description {
  display: table-row !important;
  margin-bottom: 20px;
}
