@sxt-base-color-dark: #093564;
@sxt-base-color: #1A75AE;
@sxt-base-color-light: #CECECE;
@sxt-button-color: #1A75AE;
@sxt-button-color-light: #062240;
@sxt-button-color-disabled: #808080;

// resolve color conflict on CSV download button
.bootstrap-table .export>.dropdown-menu>li>a {
    color: white !important;
}

.gn-metadata-view {
  // Force size to abstract and list item to 14px
  p, ul > li {
    font-size: 14px !important;
  }
  dl > dt {
    overflow: auto;
  }
}
// https://gitlab.ifremer.fr/sextant/geonetwork/-/issues/138#note_22437
body > div > article .c_content, #body.fullscreen .c_content, .c_showlocation.fullscreen > .c_content > .c_body > div {
  overflow-y: auto;
  overflow-x: hidden;
}
