<ul class="list-group">
  <li data-ng-repeat="c in category"
      data-ng-init="path = buildPath(c); label = buildLabel(c); isSelected = isOnDrillDownPath(c)"
      data-ng-if="$index < maxItems"
      class="list-group-item">

    <label title="{{c['@label'] || c['@value']}}"
      data-ng-class="{'gn-facet-active': isSelected}">
      <span data-ng-click="toggleNode($event)"
            data-ng-dblclick="toggleAllNode($event)"
            class="fa fa-fw gn-facet-toggle"
            data-ng-class="c.category?(isSelected?'fa-minus-square':'fa-plus-square'):'invisible'"></span>

      <input type="checkbox"
            data-ng-checked="isInFilter(c)"
            data-ng-click="filter(c, $event)"/>&nbsp;
      <span class="gn-facet-label">{{(c['@label'] | translate) || c['@value']}}</span>&nbsp;
      <span class="gn-facet-count">({{c['@count']}})</span>
    </label>

    <div data-gn-facet-dimension-category="c.category"
         data-category-key="categoryKey"
         data-facet-config="facetConfig"
         data-path="path"
         data-params="params"
         data-ng-class="isSelected ? '' : 'hidden'"></div>
  </li>
  <li class="list-group-item facet-pagination">

    <button data-ng-click="addItems()"
            data-ng-if="getMorePageSize() > 0 && category.length - initialMaxItems > pageSize"
            class="btn btn-link"
            translate translate-values="{count: getMorePageSize()}">
      moreFacet
    </button>

    <span class="separator"
          data-ng-if="getLessPageSize() > 0 && category.length - initialMaxItems > pageSize">&nbsp;|&nbsp;</span>
    <button data-ng-click="removeItems()"
            data-ng-if="getLessPageSize() > 0 && category.length - initialMaxItems > pageSize"
            class="btn btn-link"
            translate translate-values="{count: getLessPageSize()}">
      lessFacet
    </button>

    <span class="separator"
          data-ng-if="maxItems < category.length">&nbsp;|&nbsp;</span>
    <button data-ng-click="showAllItems()"
            class="btn btn-link"
            data-ng-if="maxItems < category.length"
            translate translate-values="{count: category.length}">
      allFacet
    </button>

    <span class="separator"
          data-ng-if="maxItems > initialMaxItems">&nbsp;|&nbsp;</span>
    <button data-ng-click="showInitialItems()"
            class="btn btn-link"
            data-ng-if="maxItems > initialMaxItems"
            translate translate-values="{count: initialMaxItems}">
      initialFacet
    </button>

  </li>
</ul>
