<div class="gn-dimension-facet-recap alert alert-success small" ng-if="items.length">
  <a href class="alert-link dimension-category flex-row flex-wrap"
     title="{{'removeThisFacet' | translate}}"
     ng-repeat="item in items"
     ng-click="removeItem(item)">
    <span class="fa fa-times text-danger delete-icon"></span>
    <strong class="text-no-wrap text-uppercase" translate>{{item.dimensionLabel}}</strong>
    <div class="flex-spacer"></div>
    <span class="text-no-wrap text-ellipsis" translate>{{item.categoryLabel}}</span>
  </a>
</div>
