<div class="gn-facet" data-ng-show="facetResults[facet].length > 1">
  <h5 data-gn-collapsible="collapsed">
    <i class="fa" data-ng-class="collapsed ? 'fa-arrow-circle-right' : 'fa-arrow-circle-down'"></i>
    <span data-translate="">{{facet}}</span>
  </h5>
  <div class="list-group"
       data-ng-class="{'collapse': collapsed}">
    <a class="list-group-item"
       data-ng-repeat="f in facetResults[facet]"
       data-ng-click="add(f)"
       href=""
       data-ng-if="$index < maxItems">
      <span class="gn-facet-label">{{f['@label'] || f['@name']}}</span>
      <span class="badge">{{f['@count']}}</span>
    </a>
    <button data-ng-click="toggle()"
            data-ng-if="facetResults[facet].length-initialMaxItems > 0"
            class="btn btn-link">
      {{facetResults[facet].length-initialMaxItems}} {{ (facetResults[facet].length >= maxItems) ?
      ('more' | translate) : ('less' | translate) }}
    </button>
  </div>
</div>
