<div class="gn-facet" data-ng-show="facetObj">
  <h4>{{field | translate}}</h4>
  <div class="list-group">

    <div class="checkbox list-group-item" data-ng-repeat="f in facetObj"
            data-ng-click="updateSearch(f['@name'])">
      <label>
        <input data-ng-checked="isInSearch(f['@name'])" type="checkbox">
        <a data-ng-click="add(f)" href="" >
          <span class="badge">{{f['@count']}}</span>
          <span class="gn-facet-label">{{f['@label'] || f['@name']}}</span>
        </a>
      </label>
    </div>
  </div>
</div>
