<div class="gn-favourite-add">
  <label class="control-label gn-margin-bottom-sm" data-translate=""
    >Select a preferred list</label
  >
  <div class="list-group">
    <a href="#" class="list-group-item">
      <label class="list-group-item-heading">My Favourite MD 01</label>
      <p class="list-group-item-text">
        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
        risus varius blandit.
      </p>
    </a>
    <a href="#" class="list-group-item">
      <label class="list-group-item-heading">My Favourite MD 02</label>
      <p class="list-group-item-text">
        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
        risus varius blandit.
      </p>
    </a>
    <a href="#" class="list-group-item">
      <label class="list-group-item-heading">My Favourite MD 03</label>
      <p class="list-group-item-text">
        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
        risus varius blandit.
      </p>
    </a>
  </div>
  <label class="control-label gn-margin-bottom-sm" data-translate=""
    >Create a new list</label
  >
  <div class="input-group gn-padding-bottom-lg">
    <input type="text" class="form-control" placeholder="enter list name...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Create new list</button>
      </span>
  </div><!-- /input-group -->

  <div class="btn-toolbar">
    <button
      type="button"
      class="btn btn-success pull-right"
    >
      <i class="fa fa-fw fa-save"></i>
      <span data-translate="">Add</span>
    </button>
    <button type="button" class="btn btn-default pull-right">
      <span data-translate="">cancel</span>
    </button>
  </div>
</div>
