<div class="panel panel-default gn-favourites" data-ng-show="isUserSearchPanelEnabled()">
  <div class="panel-heading" data-gn-slide-toggle="true">
    <i class="fa fa-fw fa-thumb-tack" />&nbsp;
    <span data-translate="">Favourites</span>

    <div class="pull-right">
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-default btn-xs"
          title="{{'createUserSearch' | translate}}"
          data-ng-click="openSaveUserSearchPanel()"
        >
          <span class="fa fa-fw fa-plus"></span>
        </button>

        <button
          type="button"
          class="btn btn-default btn-xs"
          title="{{'manageUserSearches' | translate}}"
          data-ng-click="openAdminUserSearchPanel()"
          data-ng-show="canManageUserSearches()"
        >
          <span class="fa fa-fw fa-cog"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <input
      class="form-control"
      data-ng-show="userSearches.length > 10"
      data-ng-model="userSearchesSearch.$"
      autofocus=""
      placeholder="{{'filter' | translate}}"
    />

    <ul class="list-group">
      <li
        class="list-group-item clearfix"
        data-ng-repeat="search in userSearchesPageItems()"
      >
        <div class="gn-favourite pull-left">
          <span
            class="fa fa-star fa-fw text-warning"
            data-ng-show="canManageUserSearches() && search.featuredType !== ''"
            title="{{ 'featuredsearch' | translate }}"
          ></span>
          <span
            class="fa"
            data-ng-hide="canManageUserSearches() && search.featuredType !== ''"
          />

          <a data-ng-href="#/{{routeSearch}}?{{search.url}}">
            {{search.names[lang] || search.names['eng'] || ('userSearchNameMissing' |
            translate)}}

            <img
              data-ng-if="search.logo"
              data-ng-src="{{search.logo}}"
              class="gn-source-logo"
            />
          </a>
        </div>

        <div
          class="btn-group btn-group-sm pull-right"
          role="group"
          data-ng-if="canEditUserSearch(search)"
        >
          <!-- view -->
          <a
            href=""
            class="btn btn-default"
            title="{{'view' | translate}}"
            aria-label="{{'view' | translate}}"
          >
            <span class="fa fa-eye"></span>
          </a>
          <!-- publish -->
          <a
            href=""
            class="btn btn-default"
            title="{{'view' | translate}}"
            aria-label="{{'view' | translate}}"
          >
            <span class="fa fa-unlock"></span>
          </a>
          <!-- edit -->
          <a
            href=""
            class="btn btn-default"
            data-ng-click="editUserSearch(search)"
            title="{{'edit' | translate}}"
            aria-label="{{'edit' | translate}}"
          >
            <span class="fa fa-pencil"></span>
          </a>
          <!-- delete -->
          <a
            href=""
            class="btn btn-default"
            data-gn-click-and-spin="removeUserSearch(search)"
            data-gn-confirm-click="{{'deleteUserSearchConfirm' | translate}}"
            title="{{'delete' | translate}}"
            aria-label="{{'delete' | translate}}"
          >
            <span class="fa fa-remove text-danger"></span>
          </a>
        </div>
      </li>
    </ul>

    <span
      data-gn-pagination-list=""
      data-get-items-function-name="userSearchesPageItems"
      data-first-page-function-name="userSearchesFirstPage"
      data-items="userSearches | filter:userSearchesSearch | orderBy:'label'"
      data-cache="userSearches"
    />
  </div>
</div>
