<div>
  <p data-translate="">userSearchSaveHeader</p>

  <div class="form-group">
    <label class="control-label" data-translate="">userSearchName</label>
    <div gn-multilingual-field="{{langList}}"
         main-language="{{currentLangShown}}">
      <input data-ng-repeat="(lang3, lang2) in availableLangs" type="text"
             name="name" class="form-control" lang="{{lang2}}" maxlength="255"
             data-ng-model="userSearch.names[lang3]"/>
    </div>
  </div>

  <div class="form-group" data-ng-show="canSetFeatureTypeInSearch()">
    <label for="featured" data-translate="">userSearchFeatured</label>
    <input type="checkbox" id="featured" data-ng-checked="isFeaturedSearch()"
           data-ng-click="toggleFeaturedType()" />
  </div>


  <div class="form-group" data-ng-show="canSetFeatureTypeInSearch() && isFeaturedSearch()">
    <label for="featured" data-translate="">userSearchFeaturedDisplayIn</label>

    <select class="form-control" id="featuredType"
            data-ng-model="userSearch.featuredType">
      <option value="h" data-translate="">userSearchFeaturedDisplayInHomePage</option>
    </select>
  </div>

  <div class="form-group" data-ng-show="canSetFeatureTypeInSearch() && isFeaturedSearch()">
    <label for="logo" data-translate="">userSearchLogo</label>
    <input type="text" id="logo" class="form-control"
           data-ng-model="userSearch.logo" maxlength="255" />
  </div>

  <div class="form-group" data-ng-show="editMode">
    <label for="searchUrl" data-translate="">userSearchUrl</label>

    <div class="input-group">
      <input type="text" id="searchUrl" class="form-control" readonly="readonly"
             data-ng-model="userSearch.url" />

      <span class="input-group-btn">
          <button type="button"
                  data-ng-click="updateUrl()"
                  class="btn btn-default"
                  data-translate="">userSearchUpdateUrl</button>
    </span>
  </div>

</div>




 <!-- <div class="form-group" data-ng-show="editMode">
    <label for="updateUrl">Update search url</label>
    <input type="checkbox" id="updateUrl" class="form-control"
           data-ng-model="updateSearchUrl" />
  </div>-->

  <div class="gn-margin-top">
    <div data-gn-need-help="user-guide/publishing/index.html"
         data-icon-only="true"></div>

    <div class="btn-toolbar pull-right">
      <button type="button"
              class="btn btn-default"
              id="gn-share-btn-replace"
              data-gn-click-and-spin="saveUserSearch(true)">
        <i class="fa fa-fw fa-save"></i>
        <span data-translate="">save</span>
      </button>
    </div>
  </div>
</div>

