<div class="row" data-ng-controller="GnCSWVirtualController">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">virtualCSW</div>
      <div class="panel-body">
        <input class="form-control"
               data-ng-show="cswVirtual > 1"
               data-ng-model="virtualCSWSearch.$" autofocus=""
               placeholder="{{'filter' | translate}}"/>
        <input type="hidden" data-ng-model="virtualCSWSelected.id"/>
        <div class="list-group">
          <a href="" class="list-group-item"
             data-ng-repeat="v in pageItems()"
             data-ng-click="selectVirtualCSW(v)" title="{{v.description}}"> {{v.name}} </a>
          <span data-gn-pagination-list=""
                data-items="cswVirtual | filter:virtualCSWSearch | orderBy:'name'"
                data-cache="cswVirtual"/>
        </div>

        <button type="button" class="btn btn-primary btn-block" data-ng-click="addVirtualCSW()">
          <i class="fa fa-plus"/>
          <span data-translate="">newVirtualCSW</span>
        </button>
      </div>
    </div>
  </div>



  <div class="col-lg-8" data-ng-hide="virtualCSWSelected.id == null">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span data-ng-hide="virtualCSWSelected.id == ''" data-translate="">updateVirtualCSW</span>
        <span data-ng-hide="virtualCSWSelected.id != ''" data-translate="">newVirtualCSW</span>
        <strong>{{virtualCSWSelected.name}}</strong> (<a
          href="{{getCapabilitiesUrl(virtualCSWSelected)}}" data-translate="">capabilities</a>)

        <div class="btn-toolbar">
          <button type="button" class="btn btn-primary pull-right"
                  data-ng-disabled="!virtualCSWUpdated || gnVirtualCSWEdit.servicename.$error.pattern"
                  data-ng-click="saveVirtualCSW('#gn-virtualcsw-edit')">
            <i class="fa fa-save"></i>&nbsp;
            {{"saveVirtualCSW"|translate}}
          </button>
          <button type="button" class="btn btn-primary pull-right btn-danger"
                  data-ng-hide="virtualCSWSelected.id == ''"
                  data-ng-click="deleteVirtualCSW(virtualCSWSelected.id)" >
            <i class="fa fa-trash-o"></i>&nbsp;
            {{"deleteVirtualCSW"|translate}}
          </button>
        </div>
      </div>
      <div class="panel-body">
        <form id="gn-virtualcsw-edit" name="gnVirtualCSWEdit" class="form-horizontal"
              data-ng-keypress="updatingVirtualCSW()">
          <fieldset>
            <legend data-translate="">serviceDescription</legend>
            <input type="hidden" name="id" data-ng-model="virtualCSWSelected.id"
                   value="{{virtualCSWSelected.id}}"/>
            <div data-ng-class="gnVirtualCSWEdit.servicename.$valid != true ? 'has-error' : ''">
              <label data-translate="">virtualCSWName</label>
              <input type="text" id="servicename" name="servicename"
                     class="form-control" required=""
                     data-ng-pattern="/csw-[\d\w]{1,}/" data-ng-model="virtualCSWSelected.name"/>
              <p class="help-block" data-translate="">virtualCSWNameHelp</p>
              <p class="help-block error"
                 data-ng-show="gnVirtualCSWEdit.servicename.$error.pattern || gnVirtualCSWEdit.servicename.$error.required"
                 data-translate="">virtualCSWNamePattern</p>
            </div>

            <label data-translate="">virtualCSWNameDescription</label>
            <textarea name="servicedescription" class="form-control"
                      data-ng-model="virtualCSWSelected.description"/>
            <p class="help-block" data-translate="">virtualCSWNameDescriptionHelp</p>

            <label data-translate="">virtualCSWExplicitQuery</label>
              <small><a style="cursor: pointer" data-ng-click="showExplicitQuery = !showExplicitQuery" >{{(showExplicitQuery ? 'virtualCSWHideExplicitQuery' : 'virtualCSWShowExplicitQuery') | translate}}</a></small>
            <input data-ng-show="showExplicitQuery" name="serviceExplicitQuery" class="form-control"
                      data-ng-model="virtualCSWSelected.explicitQuery"/>
            <p class="help-block" data-ng-show="showExplicitQuery" data-translate="">virtualCSWExplicitQueryHelp</p>

            <input type="hidden" name="classname" class="form-control"
                   value=".services.main.CswDiscoveryDispatcher"/>
          </fieldset>

          <fieldset>
            <legend data-translate="">serviceFilter</legend>
            <div class="form-group"
                 data-ng-repeat="(key, value) in virtualCSWSelected.serviceParameters">
              <label class="col-md-3">
                <span data-translate="">{{key}}</span>
              </label>
              <div class="col-md-4">
                <input type="text" class="form-control"
                       data-ng-model="key"/>
                  <div class="well-sm">
                      <div class="dropdown">
                          <h5 data-toggle="dropdown" style="cursor: pointer">
                              <small>{{'virtualcswParamOccurOpt'+value.occur | translate}}</small>
                              <i class="fa fa-caret-down"></i>
                          </h5>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                              <li role="presentation" data-ng-repeat="occur in occurs"
                                  data-ng-hide="value.occur === occur">
                                  <a role="menuitem" data-ng-click="value.occur = occur" tabindex="-1">{{'virtualcswParamOccurOpt'+occur | translate}}</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <input type="text" name="{{key}}" class="form-control"
                         data-ng-model="value.value"/>
                  <div class="input-group-btn"
                       data-ng-show="key === '_cat' || key === '_groupPublished'">
                    <button type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      <li data-ng-repeat="c in categories"
                          data-ng-show="key === '_cat'">
                        <a href="" data-ng-click="setFilterValue('_cat', c.name)">
                          <span data-translate="">{{c.label[lang]}}</span>
                        </a>
                      </li>

                      <li data-ng-repeat="g in groupsFilter | orderBy:sortByLabel"
                          data-ng-show="key === '_groupPublished'">
                        <a href="" data-ng-click="setFilterValue('_groupPublished', g.name)">
                          <span data-translate="">{{g.label[lang]}}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-1">
                <button class="btn btn-default"
                        data-ng-click="removeFilter(key)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3">
                <span data-translate="">addNewFilter</span>
              </label>
              <div class="col-md-4">
                <div class="input-group">
                  <input type="text" class="form-control"
                         data-ng-model="newFilterField"/>
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      <li data-ng-repeat="f in filterHelper">
                        <a href="" data-ng-click="setFilter(f)">
                          <span data-translate="">{{f}}</span>
                        </a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <input type="text" name="{{key}}" class="form-control"
                       data-ng-model="newFilterValue"/>
              </div>
              <div class="col-md-1">
                <button class="btn btn-default"
                        data-ng-click="addFilter()">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>