<div class="row"
   data-ng-controller="GnLanguagesController">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">languages.manage</div>
      <div class="panel-body">
        <div class="well" data-translate="">languages.manage.help</div>
        <ul>
          <li data-ng-repeat="l in dbLanguages">
            {{l.name}} ({{l.id}})
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">translations.manage</div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
