<div class="row" data-ng-controller="GnMetadataUrnTemplatesController">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">manageUrnTemplates</div>
      <div class="panel-body">
        <div class="list-group">
          <ul class="list-group">
            <input class="form-control"
                   data-ng-show="urnTemplates.length > 1"
                   data-ng-model="urnTemplatesSearch.$" autofocus=""
                   placeholder="{{'filter' | translate}}"/>
            <a class="list-group-item"
               data-ng-class="urnTemplate.id === urnTemplateSelected.id ? 'active' : ''"
               data-ng-click="selectTemplate(urnTemplate)"
               data-ng-repeat="urnTemplate in urnTemplates | filter:urnTemplatesSearch | orderBy:'name'">{{urnTemplate.name}}</a>
          </ul>

          <button type="button" class="btn btn-primary btn-block"
                  data-ng-click="addMetadataUrnTemplate()">
            <i class="fa fa-plus"/>
            <span data-translate="">newMetadataUrnTemplate</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8" data-ng-hide="urnTemplateSelected.id == null">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{urnTemplateSelected.name}}
        <div class="btn-toolbar pull-right">
          <button type="button" class="btn btn-primary btn-danger"
                  data-ng-hide="urnTemplateSelected.id == ''"
                  data-ng-click="deleteMetadataUrnTemplate(urnTemplateSelected.id)">
            <i class="fa fa-times"></i>&nbsp;
            <span data-translate="">delete</span>
          </button>
          <button type="button" class="btn btn-primary pull-right fa fa-floppy-o"
                  data-ng-disabled="!gnMetadataUrnTemplateEdit.$valid && !gnMetadataUrnTemplateEdit.$valid"
                  data-ng-click="saveMetadataUrnTemplate()" data-translate="">save</button>
        </div>

      </div>
      <div class="panel-body">
        <form id="gn-metadata-urn-template-edit" name="gnMetadataUrnTemplateEdit" class="form-horizontal">
          <input type="hidden" name="id" data-ng-model="urnTemplateSelected.id"
                 value="{{urnTemplateSelected.id}}"/>

          <div class="form-group" data-ng-class="gnMetadataUrnTemplateEdit.name.$valid != true ? 'has-error' : ''">
            <label class="control-label col-sm-3" data-translate="">metadataUrnTemplateName</label>

            <div class="col-sm-9">
              <input type="text" id="name" name="name" class="form-control"

                     required="required"
                     data-ng-model="urnTemplateSelected.name"/>
            </div>
          </div>

          <div class="form-group" data-ng-class="gnMetadataUrnTemplateEdit.template.$valid != true ? 'has-error' : ''">
            <label class="control-label col-sm-3" data-translate="">metadataUrnTemplateTemplate</label>

            <div class="col-sm-9">
              <input type="text" id="template" name="template" class="form-control"
                     required="required"
                     data-ng-model="urnTemplateSelected.template"/>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>