<div class="row" data-ng-controller="GnSourcesController">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">manageSources</div>
      <div class="panel-body">
        <div class="list-group">
          <ul class="list-group">
            <input class="form-control"
                   data-ng-show="sources.length > 1"
                   data-ng-model="sourcesSearch.$" autofocus=""
                   placeholder="{{'filter' | translate}}"/>
            <a class="list-group-item"
               data-ng-class="source.uuid === sourcesSelected.uuid ? 'active' : ''"
               data-ng-click="selectSource(source)"
               data-ng-repeat="source in sources | filter:sourcesSearch | orderBy:'name'">{{source.name}}</a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8" data-ng-hide="!sourcesSelected">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{sourcesSelected.name}}
        <div class="btn-toolbar">
          <button type="button" class="btn btn-primary pull-right"
                  data-ng-click="saveSources()">
            <i class="fa fa-floppy-o"></i>&nbsp;
            <span data-translate="">save</span>
          </button>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr
            data-ng-repeat="(key, value) in sourcesSelected.label">
            <td>{{key | translate}}</td>
            <td><input type="text" class="form-control"
                       value="{{value}}"
                       data-ng-model="sourcesSelected.label[key]"
            /></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
