<div class="row">
  <div
    class="col-md-12"
    id="gn-uiconfig-container"
    data-ng-controller="GnSystemSettingsController"
  >
    <div
      class="well well-lg"
      data-ng-cloak=""
      data-ng-show="uiConfigurations.length === 0"
    >
      <div data-translate="">noConfigDefinedUsingTheDefault</div>
      <br />
      <a
        class="btn btn-primary"
        data-gn-click-and-spin="createDefaultUiConfig()"
        data-translate=""
        >createDefaultUiConfig</a
      >
    </div>

    <div
      class="navbar btn-toolbar gn-margin-bottom-lg"
      data-ng-show="uiConfigurations.length !== 0"
      id="gn-uiconfig-toolbar"
    >
      <div class="row">
        <div class="col-md-4 gn-nopadding-left">
          <label
            for="uiConfigurationList"
            title="{{'uiConfiguration-help' | translate}}"
            data-translate=""
            >chooseAUiConfiguration</label
          >
          <select
            id="uiConfigurationList"
            class="form-control"
            data-ng-options="c as c.id for c in uiConfigurations | orderBy: 'id'"
            data-ng-model="uiConfiguration"
          ></select>
        </div>

        <div class="col-md-8 gn-nopadding-left gn-nopadding-right">
          <label for="addUiSettings" data-translate="">addUiSettings</label>

          <div class="row">
            <!-- add UI config -->
            <div class="col-lg-6 gn-nopadding-left">
              <div class="input-group">
                <input
                  class="form-control"
                  type="text"
                  id="addUiSettings"
                  data-ng-model="uiConfigurationId"
                  data-ng-model-options="{debounce: 300}"
                  placeholder="{{'uiConfigurationName' | translate}}"
                />
                <span class="input-group-btn">
                  <button
                    class="btn btn-primary"
                    type="button"
                    data-ng-disabled="!uiConfigurationIdIsValid"
                    title="{{'createNewUiConfiguration' | translate}}"
                    data-ng-click="createOrUpdateUiConfiguration(false, uiConfigurationId)"
                  >
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>

            <!-- delete and save-->
            <div class="col-lg-6 gn-nopadding-left gn-nopadding-right">
              <div class="btn-toolbar pull-right">
                <button
                  type="submit"
                  class="btn btn-default btn-danger"
                  id="gn-btn-settings-delete"
                  data-ng-disabled="!uiConfiguration"
                  data-ng-click="deleteUiConfig()"
                  title="{{'deleteUiSettings'|translate}}"
                >
                  <span class="fa fa-fw fa-times"></span>
                  {{"deleteUiSettings"|translate}}
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  id="gn-btn-settings-save"
                  data-ng-disabled="!gnSettings.$valid"
                  data-ng-click="updateUiConfig()"
                  title="{{'saveSettings'|translate}}"
                >
                  <span class="fa fa-fw fa-save"></span>
                  {{"saveSettings"|translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="panel panel-default"
      data-ng-show="uiConfiguration.configuration !== undefined"
    >
      <div class="panel-heading">
        <h1><span data-translate="" class="gn-margin-right-sm">ui</span> <strong>{{uiConfiguration.id}}</strong></h1>

        <div data-gn-need-help="user-interface-configuration" class="pull-right"></div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 gn-nopadding-left height-70-px">
            <label for="filter-settings" data-translate="">filterSettings</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-filter" aria-hidden="true"></i>
              </span>
              <input
                class="form-control"
                type="text"
                id="filter-settings"
                placeholder="{{'filterPlaceHolder' | translate}}"
                data-ng-keyup="filterForm($event,'#gn-settings')"
              />
              <span class="input-group-btn">
                <button
                  class="btn btn-default"
                  type="button"
                  title="{{'filterReset' | translate}}"
                  data-ng-click="resetFilter('#gn-settings')"
                >
                  <i class="fa fa-close" aria-hidden="true"></i>
                </button>
              </span>
            </div>
          </div>
        </div>

        <form id="gn-settings" name="gnSettings" class="form-horizontal">
          <div data-gn-ui-config="uiConfiguration.configuration"></div>
        </form>
      </div>
    </div>

    <div
      gn-modal
      class="gn-confirm-delete"
      gn-popup-options="{title: 'confirmDialogTitle', confirmCallback: confirmDeleteUiConfig}"
      id="gn-confirm-remove-ui"
    >
      <p translate>confirmUiDelete</p>
    </div>
  </div>
</div>
