.emodnet.chemistry * legend, .emodnet.hydrography * legend {
    background-color: #FFFF99;
    width: 100%;
    text-align: center;
}
.gn-group-list {
    word-break: break-all;
}
body {
	font-family: Arial,Helvetica,Verdana,sans-serif;
	font-size: 11px;
	padding: 0;
}
button {
	padding:2px;
	font-weight: normal;
}
table, tbody, tr, td, th {
	vertical-align: top;
}

#main-viewport {
	background-color: white;
	height: 100%;
	width: 100%;
}
.bg_logo {
	margin-top: 50px;
	margin-left: auto;
    margin-right: auto;
}
.bg_logo_container {
	text-align: center;
}
.spinner {
	width:48px;
	height:48px;
	z-index: 100000;
	left: 50%;
	top:50%;
	margin-left:-24px;
	margin-top:-24px;
	position:absolute;
	visibility:hidden;
}
.west-panel .search-panel-header {
	border: none;
	font-family: Arial,Helvetica,sans-serif;
	background-color: #DEDEDE;
	background-image: none;
	color: #626262;
	font-size: 12px;
	font-weight:700;
	cursor: pointer;
	border-radius: 4px 4px 4px 4px;
}
.west-panel .search-panel-header .x-panel-header-text{
	padding-left:10px;
}

.west-panel .search-panel-header .x-panel-header-text a{
	color: #626262;
    font-size: 90%;
    font-weight: normal;
	font-family: Arial,Helvetica,sans-serif;
    float: right;
    padding-right: 25px;
    text-decoration:underline;
}
.west-panel .x-panel-header-text a:hover{
	color: #FF7930;
}
.search-form-panel .olMap {
    border-radius: 0;
}
.search-form-panel .where-toolbar .x-toolbar {
    border: none;
}
.search-form-panel .where-toolbar .x-toolbar-ct {
    padding-right:10px;
}

.search-form-panel {
	margin-bottom: 5px;
}
.search-panel .x-panel-footer .x-btn-text {
    font-family: Arial,Helvetica,sans-serif;
}
.search-panel .x-panel-footer {
	background-color: #DEDEDE;
}
.search-panel .x-panel-footer .search-btn .x-btn-text{
    background-image: url("../images/bg_button_default.gif");
    background-position: left bottom;
    background-repeat: repeat-x;
    font-family: Arial,Helvetica,sans-serif;
    border: 1px solid #000000;
    color: #000000;
    font-size: 13.2px;
    font-weight: normal;
    margin: 0 10px 5px 0;
    padding: 0 16px;
}
.search-panel .x-panel-footer .search-btn .x-btn-text:hover {
	background-image: url("../images/bg_button_active.gif");
	color: #FF7930;
	border-color: #FF7930;
}
.search-form-panel .x-panel-header {
    background: url("../images/ui-bg_inset-hard_75_999999_1x100.png") repeat-x scroll 50% 50% #999999;
    cursor: pointer;    
}
.search-form-panel-collapsed .x-panel-header {
    background: url("../images/ui-bg_glass_60_eeeeee_1x400.png") repeat-x scroll 50% 50% #EEEEEE;
}
.search-form-panel .x-panel-header {
 	border-top-left-radius: 4px;
    border: 1px solid #999999;
    border-top-right-radius: 4px;
}
.search-form-panel-collapsed .x-panel-header {
 	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-form-panel .x-panel-body {
 	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-form-panel .x-panel-header-text  {
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 0.8em;
    font-size: 1em;
    fonct-family:Arial,Helvetica,sans-serif;
}
.search-form-panel-collapsed .x-panel-header-text  {
	color: #F28033;
}
.search-form-panel .hidden hr {
	display: none;
}
	
.search-form-panel .x-tool {
 	background-image: url("../images/ui-icons_f28033_256x240.png");
}
.search-form-panel .x-tool-toggle {
	background-position: 0 0;
}
.search-form-panel-collapsed .x-tool-toggle {
	background-position: -36px 0;
}
.search-form-panel .x-panel-header {
	font-weight: bold;
}

.cat_layout, .cat_layout div div.x-border-layout-ct {
	background-color: #DEDEDE;
}

.cat_layout .x-layout-split-west .x-layout-mini {
	background-image: url("../images/icons/vertical_handle.gif");
    background-position: center center;
    background-repeat: no-repeat;
    margin-left:1px;
    width:11px;
}
.cat_layout .x-layout-split-east .x-layout-mini {
	background-image: url("../images/icons/vertical_handle.gif");
    background-position: center center;
    background-repeat: no-repeat;
    margin-left:-10px;
    width:11px;
}

.view-win .help {
	background-image: none;
}
.cat_layout .x-layout-cmini-west .x-layout-mini,
.cat_layout .x-layout-cmini-east .x-layout-mini {
	background-image: url("../images/icons/vertical_handle.gif");
}
.cat_layout .x-layout-split, .cat_layout .x-layout-collapsed {
	width:2px;
	background-color: transparent;
}
.cat_layout #center.sxt-layout-border-white {
	border-width: 1px;
	border-color: white;
	padding-left: 5px;
	border-radius: 4px 4px 4px 4px;
}
.cat_layout #west.sxt-layout-border-white,
.cat_layout #east.sxt-layout-border-white {
	border-width: 1px;
	border-color: white;
	border-radius: 4px 4px 4px 4px;
	padding-right:5px;
}

.search-panel-body {
	background-color: #DEDEDE;
}
.search_label label {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 	11.4px;
	color: #333333;
}

.search_label .x-form-text {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 	11.4px;
	color: #333333;
	line-height: normal;
	height: 17px;
}
.search_tree_noicon {
	display : none;
	background-image:url('../../js/ext/resources/images/default/s.gif') !important;
}
.search_label .cat-root-node{
	float: none !important;
}

.x-toolbar {
	background-image:none;
	border: none !important;
	background-color: #DEDEDE;
	
}
.x-toolbar td.x-toolbar-cell,
.x-toolbar label,
.x-toolbar .xtb-text,
.x-toolbar .x-btn-text {
	color: #626262;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight:700;
	text-shadow:inherit;
	background-image:none;
}
.x-panel-tbar {
	height:32px;
	background-color: #DEDEDE;
}


/* Editor style */
#editorWindow * .x-window-header {
  margin-bottom: 2px;
}
.metadata * fieldset {
  border-top : 1px solid #999;
  border-bottom : none;
  border-left : none;
  border-right : none;
  padding : 0px;
  margin : 0px;
}
.metadata * legend {
    width: 100%;
    background-color: #AAA;
    border: 1px solid #999;
    color: white;
    font-weight: bold;
    height: 15px;
    padding-left: 10px;
    padding-top: 5px;
}

.metadata fieldset * fieldset legend {
    background-color: #dbdbdb !important;
    border-color: #dbdbdb !important;
    color: #3B3C3C !important;
    padding-left: 23px;
}

.metadata fieldset * fieldset * fieldset legend {
    background-color: #f4f4f4 !important;
    border-color: #f4f4f4 !important;
    color: #3B3C3C !important;
    padding-left: 23px;
}

.metadata * legend a {
    color: #ffffff !important;
}
.metadata * input, .metadata * textarea, .metadata * select {
    border: 1px solid #dbdbdb;
}
.metadata * table.gn > tbody > tr > td, table.gn > tbody > tr > th {
  color: #333;
}

/** WHERE Panel **/
/*****************/
.where-toolbar .x-toolbar {
    background-image: none;
    background-color: #FFFFFF;
}
.where-toolbar .x-panel-tbar {
	background-color: white !important;
}
.where-toolbar .zoomfull {
    background-image: url("../images/icons/zoom-default_minimap.png") !important;
    background-position: 0 0;
    height: 16px !important;
    width: 16px !important;
}
.where-toolbar .zoomin {
    background-image: url("../images/icons/zoom-in_minimap.png") !important;
    background-position: 0 0;
    height: 16px !important;
    width: 16px !important;
}
.where-toolbar .zoomout {
    background-image: url("../images/icons/zoom-out_minimap.png") !important;
    background-position: 0 0;
    height: 16px !important;
    width: 16px !important;
}
.where-toolbar .zoomout {
    background-image: url("../images/icons/zoom-out_minimap.png") !important;
    background-position: 0 0;
    height: 16px !important;
    width: 16px !important;
}
.where-toolbar .pan {
    background-image: url("../images/icons/move_minimap.png") !important;
    background-position: 0 0;
    height: 16px !important;
    width: 16px !important;
}
.where-toolbar .selextent {
    background-image: url("../images/icons/select-add_minimap.png") !important;
    background-position: 0 0;
    height: 16px !important;
    width: 16px !important;
}
.where-toolbar .clearPolygon {
    background-image: url("../images/icons/select-remove_minimap.png") !important;
    background-position: 0 0;
    height: 16px !important;
    width: 16px !important;
}
.where-toolbar .x-btn-pressed .zoomin,
.where-toolbar .x-btn-pressed .zoomout,
.where-toolbar .x-btn-pressed .zoomfull,
.where-toolbar .x-btn-pressed .pan,
.where-toolbar .x-btn-pressed .selextent,
.where-toolbar .x-btn-pressed .clearPolygon,
.where-toolbar .x-btn-over .zoomin,
.where-toolbar .x-btn-over .zoomout,
.where-toolbar .x-btn-over .zoomfull,
.where-toolbar .x-btn-over .pan,
.where-toolbar .x-btn-over .selextent,
.where-toolbar .x-btn-over .clearPolygon {
    background-position: -16px 0;
}

.where-toolbar .x-toolbar .x-btn-pressed .x-btn-ml,
.where-toolbar .x-toolbar .x-btn-pressed .x-btn-mc,
.where-toolbar .x-toolbar .x-btn-pressed .x-btn-mr,
.where-toolbar .x-toolbar .x-btn-pressed .x-btn-tl,
.where-toolbar .x-toolbar .x-btn-pressed .x-btn-tc,
.where-toolbar .x-toolbar .x-btn-pressed .x-btn-tr,
.where-toolbar .x-toolbar .x-btn-pressed .x-btn-bl,
.where-toolbar .x-toolbar .x-btn-pressed .x-btn-bc,
.where-toolbar .x-toolbar .x-btn-pressed .x-btn-br {
    background-position: 500px 500px;
}

/** RESULT LIST **/
/*****************/
.result-list {
	padding-top:10px;
}
.result-list li.md-full {
	margin: 0 10px 10px;
    padding: 0.5em 0;
	background-color: #EFEFEF;
	border: 1px solid #AAAAAA;
	border-radius: 4px 4px 4px 4px;
	text-shadow: none;
	width: 97% !important;
	cursor:default;
}

.result-list li .content {
    padding-left: 12px;
    padding-right: 12px;
    font-family: Arial,Helvetica,sans-serif;
    vertical-align: inherit;
}
.result-list li .content div.md-contact {
    text-align: left;
}
.result-list li .content div.md-contact span {
    font-size: 11.4px !important;
    font-style: normal !important;
    color: #808080 !important;
}
.result-list li .content h1 {
    color: #F28033;
    text-decoration: underline;
    font-size: 14.4px;
    font-weight: bold;
    margin-bottom: 10px;
}
.result-list li .content h1 a {
    color: #333333;
}
.result-list li .content h1 a:hover {
    text-decoration: none;
}
.result-list li .content hr {
    background-color: #FFFFFF;
    color: #FFFFFF;
    height: 1px;
}
.result-list li.md-full div.thumbnail {
    padding-left:10px !important;
}
.result-list li.md-full div.thumbnail img {
    padding:0;
}

.result-list li.md-full div.md-links {
    margin-top:12px;
    padding-top: 15px;
    padding-bottom:8px;
    float:right;
    padding-right:15px;
}
.result-list li.md-full div.mdHiddenMenu {
    display:none !important;
}
.result-list li.md-full div.mdHiddenBtn {
    visibility: hidden !important;
}

.result-list li.md-full div.md-links div.wmsMenu, 
.result-list li.md-full div.md-links div.downloadMenu, 
div.md-action-menu {
    display:inline-block;
    zoom:1;
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    padding: 6px 12px 6px 12px;
    font-family: Arial,Helvetica,sans-serif;
    font-size:   12px;
    font-weight: 700;
    background-color:#F8F8F8;
    cursor:pointer;
    *display: inline; // IE hack to achieve inline-block behavior
}

.result-list li.md-full div.md-links div.btn-separator {
    background-image: url("../images/icons/button-separator.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline;
    padding: 6px 12px;
}
.result-list li.md-full div.wmsMenu span,
.result-list li.md-full div.downloadMenu span,
div.md-action-menu span {
	padding-left:13px;
}
div.md-action-menu span.icon{
    background-image: url("../images/icons/wrench.png");
    margin-right: 4px;
}
.result-list li.md-full div.wmsMenu span.icon{
    background-image: url("../images/icons/view.png");
    margin-right: 4px;
}
.result-list li.md-full div.wmsMenu:hover span.icon,
.result-list li.md-full div.downloadMenu:hover span.icon {
	background-position: -16px 0;
}

.result-list li.md-full div.one-elt span.list-icon {
	display:none;
}
.result-list li.md-full div.one-elt {
	padding: 6px 22px 6px 22px !important;
}

.result-list li.md-full div.downloadMenu span.icon{
    background-image: url("../images/icons/cart-add.png");
    margin-right: 4px;
}
.result-list li.md-full div.wmsMenu span.list-icon,
.result-list li.md-full div.downloadMenu span.list-icon,
div.md-action-menu span.list-icon {
    margin-left:4px;
    background-image: url("../images/ui-icons_f28033_256x240.png");
    background-position: 0 -2px;
}
.result-list li.md-full div.unabled {
	opacity: 0.35 !important;
	filter: alpha(opacity = 35);
	display: inline-block;
	background-image: none !important;
	cursor: default !important;
}
.result-list li.md-full div.unabled:hover span.icon {
	background-position: 0 0 !important;
}
.result-list li.md-full tbody{
	vertical-align:inherit;
}
.result-list li.md-full img.thumb-list-img {
	cursor: pointer;	
}
div.no-icon-menu a.x-menu-item {
    padding-left: 3px;
}

.x-window-tl,
.x-window-tc,
.x-window-tr {
	background-image: none;
	background-color: white;
	border-radius: 4px 4px 0 0;
}

.x-window-ml,
.x-window-mc,
.x-window-mr {
	background-image: none;
	background-color: white;
}

.x-window-bl,
.x-window-bc,
.x-window-br {
	background-image: none;
	background-color: white;
	border-radius: 0 0 4px 4px;
}

.x-window-header {
    padding: 6px 12px 3px;
    position: relative;
    height: 16px;
    background: url("../images/ui-bg_glass_35_dddddd_1x400.png") repeat-x scroll 50% 50% #DDDDDD;
    color: #444444;
    font-weight: bold;
    border-radius: 4px 4px 4px 4px;
    border: solid 1px #BBBBBB;
    margin-top: 2px;
}

.x-window-header span {
	font-family:Arial,​Helvetica,​sans-serif;
	font-size:12px;
	font-weight:700px;
	color: #444444;
	padding-left: 10px;
}
.x-window-header .x-tool {
    float: right;
    margin-right: 2px;
}
.x-window-header .x-tool-close {
    background-image: url("../images/ui-icons_999999_256x240.png");
    background-position: -96px -128px;
    height:16px;
    width:16px;
}
.x-window-header .x-tool-close-over {
    background-image: url("../images/ui-icons_616161_256x240.png")
}
.west-panel-body {
	background-color: #DFDFDF;
}

hr {
    background-color: #AAAAAA;
    border: medium none;
    color: #AAAAAA;
    height: 1px;
}
.x-btn-icon .md-mn-pdf {
  background-position: left !important;
  background-image : url("../images/icons/file-pdf.png") !important;
}
.x-btn-over .md-mn-pdf {
  background-position:-18px 0 !important;
}
.x-item-disabled .md-mn-pdf {
  background-position:-54px 0 !important;
}

.ext-el-mask {
    background: none repeat-x scroll 50% 50% #000000;
    opacity: 0.5;
}

p.abstract {
	font-size:12px;
}

div#privileges .record-6,
div#privileges .record-3 {
	display:none;
}

.x-date-picker button, button:hover{
	background-image:none;
	text-shadow:inherit;
}

.mdshow-tabpanel div.loading-indicator {
	 background-image: url("../images/spinner-large.gif");
	 position:fixed;
	 width:48px;
	 height:48px;
	 top:50%;
	 left:50%;
	 margin-left:-24px;
	 margin-top:-24px;
}

.sxt-popup .x-window-body {
	padding-top:25px;
	text-align:center;
	font-family:Arial,Helvetica,sans-serif;;
	font-size:12px;
}
.sxt-popup a {
	color:#F28033;
	text-decoration:underline;
}

.view-win .ext-el-mask {
	background: white;
	opacity: 1;
}
.mdviewer-mask-msg {
	background-image: url("../images/spinner-large.gif");
	background-color: white;
	border: none;
	width:48px;
	height:48px;
	padding: 0;
}
.mdviewer-mask-msg div {
	display: none;
}
.admin-btn-tbar {
	height:26px;
}
.admin-btn-tbar div.md-action-menu {
	position: absolute;
	left:50%;
	margin-left: -68px;
	display: block;
	margin-top: -2px;
}

div.x-tip-body div.help {
	background-image: none;
	border-bottom: none;
}

/**
 * In myocean view, do not display controls for alternate title which is mandatory 
 * in the editor > myocean view.
 * This could have been better in the XSD schema, but making a complete new ISO profile
 * is not an option.
 */
.myocean * .gmdalternateTitle span.buttons,
.myocean * .gmdcredit span.buttons,
.sdnProduct * .gmdalternateTitle span.buttons,
.sdnProduct * .gmdresolution span.buttons,
.sdnProduct * .gmduseLimitation span.buttons {
    display: none !important;
}
.sdnProduct * th.gmxAnchor + td > div.attr {
    display: none !important;
}

.myocean * .thesaurusInfo {
    display: none !important;
}
.myocean * .slidingWindow * input {
    float: none !important;
}
/* Do not display projection switcher in bounding box editor */
.myocean .map * label,
.myocean\.simple .map * label,
.sdnProduct .map * label {
    display: none;
}

.myocean .slidingWindow {
    width: 100%;
    display: inline-block;
}

.sdnProduct * .thesaurusInfo {
    display: none !important;
}
.sextant .titleContainer span {
font-size: 30px;
}
.sextant div#header div.titleContainer div.subtitle {
	font-size: 20px;
}

#privileges thead th p {
	position: absolute;
	margin-top: -20px;
}
#privileges thead th.padded-center p {
	padding-left:6px;
}
#privileges div.privilege_header {
	margin-top:18px;
}
.x-superboxselect-input input {
	margin-top: 1px;
	margin-bottom: 0px;
	background-image: none;
}
.x-superboxselect li {
	line-height: 12px;
    max-width: 167px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.x-superboxselect-item-close {
	top: -1px;
}
.sextant .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-size: 10px;
	padding: 0;
	padding-bottom: 2px;
}
.viewmd-panel div.gn-wiki ol, .result-list div.gn-wiki ol {
    list-style: decimal !important;
    padding-left: 20px;
}
.viewmd-panel div.gn-wiki ul, .result-list div.gn-wiki ul {
    list-style: circle !important;
    padding-left: 20px;
}

.viewmd-panel div.gn-wiki ol li, .result-list div.gn-wiki ol li,
.viewmd-panel div.gn-wiki ul li, .result-list div.gn-wiki ul li {
    float: none !important;
    overflow: visible !important;
}
body.x-body-masked .x-window-plain .x-window-mc {
	background-color: white;
}
.x-window-dlg button {
	background-image: none !important;
	background-color: transparent !important;
}

/* Position jumelles */
.x-panel-tl .searchIcon, .x-window-tl .searchIcon {
	background-position: 4px 4px;
}
.buttons a.findsub span, a.findsub.buttons span {
	background-position: 4px -2px;
}

/* liferay input size */
input[type="text"] {
	padding: 0;
	padding: 1px 3px;
	height:16px;
	background-image: none;
}

.gn table {
	clear: right;
}
.bold {
	font-weight: 700 !important;
}

/* Editor styling ajustments */
input.md {
    margin-right: 10px;
}
.metadata #editForm * label {
    margin-left: 5px;
    margin-right: 5px;
}
.slidingWindow select {
    margin-right: 20px;
    float: left;
}
.slidingWindow {
    padding-bottom: 8px;
}

.slidingWindow label{
    margin-top: 3px;
}

.thesaurusPicker * fieldset legend {
    padding-left: 0px;
}
.thesaurusPicker * .x-table-layout-cell > div.x-panel {
    padding-left: 5px;
    padding-right: 5px;
}

.sxt-glyph {
    float: right;
    font-size: 1.8em;
    color: #565656;
    margin-top: -3px;
    padding-right: 4px;
}