<div>
  <div class="row">
    <div class="col-md-6">
      <form id="gn-upload-onlinesrc"
            class="form-horizontal"
            role="form"
            method="POST">
        <div class="onlinesrc-container">

          <div data-ng-show="config.length > 1">
            <label class="radio-inline"
                   data-ng-repeat="c in config">
              <input type="radio"
                     name="linkType"
                     data-ng-model="params.linkType"
                     data-ng-value="c">
              <i class="{{c.icon}}"/>&nbsp;
              {{c.label | translate}}
            </label>
          </div>

          <!-- Protocol Combo -->
          <div class="form-group"
               data-ng-show="params.linkType.fields.protocol">
            <label class="col-sm-2 control-label">
              <span data-translate="">protocol</span>
            </label>
            <div class="col-sm-10">
              <div data-schema-info-combo="element"
                   data-selected-info="params.protocol"
                   data-gn-schema-info="protocol" lang="lang"></div>
            </div>
          </div>

          <!-- URL text field -->
          <div class="form-group">
            <label for="onlinesrcUrl"
                   class="col-sm-2 control-label"
                   data-translate="">url</label>
            <div class="col-sm-10">
              <input data-ng-model="params.url"
                     data-ng-model-options="{debounce:500}"
                     class=""
                     type="text"
                     data-ng-blur="loadWMSCapabilities()"
                     id="onlinesrcUrl"
                     placeholder="http://">
            </div>
          </div>


          <div class="form-group"
               data-ng-show="isImage">
            <label class="col-sm-2 control-label"
                   data-translate="">overview</label>
            <div class="col-sm-10">
              <img ng-src="{{params.url}}"
                   class="img-thumbnail">
            </div>
          </div>

          <!-- Name text Field -->
          <div class="form-group"
               data-ng-show="params.linkType.fields.name">
            <label for="onlinesrcName"
                   class="col-sm-2 control-label"
                   data-translate="">onlineResourceName</label>
            <div class="col-sm-10"
                 data-ng-if="!isMdMultilingual">
              <input ng-model="params.name"
                     name="name"
                     type="text"
                     id="onlinesrcName"
                     placeholder="Name">
            </div>
            <div class="col-sm-10"
                 data-ng-if="isMdMultilingual"
                 data-gn-multilingual-field="{{mdOtherLanguages}}"
                 data-main-language="{{mdLang}}"
                 expanded="false">
              <input data-ng-repeat="(key, val) in mdLangs"
                     class="form-control input-sm"
                     lang="{{val}}"
                     data-ng-model="params.name[val]" >
            </div>
          </div>


          <!-- Refresh Grid Button -->
          <button type="button"
                  class="btn navbar-btn btn-warning"
                  data-ng-click="loadWMSCapabilities(true)"
                  data-ng-show="isWMSProtocol">
            <i class="fa fa-refresh" />
          </button>

          <!-- Layers grid directive -->
          <div data-gn-layers-grid
               data-ng-show="isWMSProtocol"
               data-gn-selection-mode="multiple"
               data-layers="layers"
               data-selection="params.selectedLayers">
          </div>

          <!-- Description Text area -->
          <div class="form-group"
               data-ng-show="params.linkType.fields.desc">
            <label for="onlinesrcDescr"
                   class="col-sm-2 control-label"
                   data-translate="">Description</label>
            <div class="col-sm-10"
                 data-ng-if="!isMdMultilingual">
              <textarea rows="3"
                        data-gn-autogrow=""
                        data-ng-model="params.desc"
                        class="form-control input-sm"
                        id="onlinesrcDescr"
                        placeholder="Description"
                        name="description" />
            </div>
            <div class="col-sm-10"
                 data-ng-if="isMdMultilingual"
                 gn-multilingual-field="{{mdOtherLanguages}}"
                 data-main-language="{{mdLang}}"
                 expanded="false">
              <textarea data-ng-repeat="(key, val) in mdLangs"
                        rows="3"
                        lang="{{val}}"
                        data-ng-model="params.desc[val]"
                        class="form-control input-sm"
                        placeholder="Description"
                        name="description" />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"
             data-translate>fileStore</div>
        <div class="panel-body">
          <div data-gn-file-store="gnCurrentEdit.uuid"
           data-current="resource"
           data-filter="params.linkType.fileStoreFilter || ''"/>
        </div>
      </div>


      <div class="panel panel-default"
           data-ng-show="params.linkType.id == 'thumbnail'">
        <div class="panel-heading"
             data-translate="">createAThumbnail</div>
        <div class="panel-body">
          <div class="form-group gn-thumbnail-maker-panel">
            <div class="alert alert-warning"
                 data-ng-show="layers == undefined"
                 data-translate="">noLayersForThumbnail</div>
            <div data-ng-hide="layers == undefined">
            <textarea class="form-control hidden"
                      name="config">{{jsonSpec}}</textarea>
              <input type="hidden" name="rotation" value="90"/>
              <div class="row">
                <div class="col-xs-8">
                  <div id="{{mapId}}" class="map"></div>
                  <br/>
                  <a class="btn btn-success btn-block"
                     data-gn-click-and-spin="generateThumbnail()"
                     title="{{'generateThumbnail-help' | translate}}">
                    <i class="fa fa-cog"></i>&nbsp;
                    <span data-translate="">generateThumbnail</a>
                </div>
                <div class="col-xs-4">
                  <p class="help-block"
                     data-translate="">thumbnailMaker-help</p>
                  <div class="panel-body">
                    <div data-ga-print=""
                         data-layout="Thumbnail"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <button type="button"
            class="btn navbar-btn btn-success"
            data-gn-click-and-spin="addOnlinesrc()">
      <i class="fa gn-icon-onlinesrc" />
      <i class="icon-external-link"></i>&nbsp;
      <span data-translate="">addOnlinesrc</span>
    </button>
  </div>
</div>