<div>
  <form id="gn-upload-onlinesrc" class="form-horizontal" role="form"
     method="POST" enctype="multipart/form-data" action="resource.upload.and.link"
     data-file-upload="onlinesrcUploadOptions">
     
    <div class="onlinesrc-container">
      <div class="form-group" >
        <div class="btn-group col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-default"
            data-ng-class="{'btn-primary': mode == 'url'}"
            data-ng-click="mode = 'url'">{{'url' | translate}}</button>
          <button type="button" class="btn btn-default"
            data-ng-class="{'btn-primary': mode == 'upload'}"
            data-ng-click="mode = 'upload'">{{'upload' | translate}}</button>
        </div>
      </div>
      
      <!-- URL text field -->
      <div class="form-group" data-ng-show="mode == 'url'">
        <label for="onlinesrcUrl" class="col-sm-2 control-label"
            data-translate="">url</label>
        <div class="col-sm-10">
          <input data-ng-model="params.url" class="" type="text"
            id="onlinesrcUrl" placeholder="http://">
        </div>
      </div>
      
      <!-- Upload panel -->
      <div class="form-group" data-ng-show="mode == 'upload'">
        <label for="onlinesrcUrl" class="col-sm-2 control-label"
            data-translate="">upload</label>
        <div class="col-sm-10">
      
          <div class="panel panel-default">
            <div class="panel-body">
            
            <span
              class="btn btn-success btn-block fileinput-button" ng-class="{disabled: disabled}">
              <i class="fa fa-plus fa fa-white"/>
              <span data-translate="">chooseOnlinesrc</span>
              <input type="file" id="gn-onlinesrc-file" name="filename" multiple="false"
                data-ng-disabled="disabled"/>
            </span>
            
            <ul>
              <li data-ng-repeat="file in queue">{{file.name}} ({{file.type}} / {{file.size | formatFileSize}}) <i
                  class="fa fa-trash-o" data-ng-click="clear(file)"/>
              </li>
            </ul>
              <div class="checkbox">
                <label>overwrite <input type="checkbox" name="overwrite">
                </label>
              </div>
              <input name="process" value="onlinesrc-add" data-ng-hide="true"/>
            <input name="id" data-ng-model="metadataId" data-ng-hide="true"/>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Name text Field -->
      <div class="form-group" data-ng-show="mode == 'url' && schema !== 'dublin-core'">
        <label for="onlinesrcName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input ng-model="params.name" name="name" class="" type="text"
            id="onlinesrcName" placeholder="Name">
        </div>
      </div>
      
      <!-- Protocol Combo -->
      <div class="form-group" data-ng-show="mode == 'url' && schema !== 'dublin-core'">
        <label class="col-sm-2 control-label">
          <span data-translate="">Protocol</span>
        </label>
        <div class="col-sm-10">
          <div data-schema-info-combo="element"
               data-selected-info="params.protocol"
               data-gn-schema-info="protocol" lang="lang"></div>
        </div>
      </div>
      
      <!-- Description Text area -->
      <div class="form-group" data-ng-hide="schema === 'dublin-core'">
        <label for="onlinesrcDescr" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea rows="3" data-ng-model="params.desc"
            class="form-control input-sm" id="onlinesrcDescr"
            placeholder="Description" name="description" />
        </div>
      </div>

      <!-- Refresh Grid Button -->
      <button type="button" class="btn navbar-btn btn-warning"
        data-ng-click="loadWMSCapabilities()" data-ng-show="isWMSProtocol && mode == 'url'">
        <i class="fa fa-refresh" /> <span data-translate=""></span>
      </button>

      <!-- Layers grid directive -->
      <div data-gn-layers-grid 
        data-ng-show="isWMSProtocol && mode == 'url'"
        data-gn-selection-mode="multiple"
        data-layers="layers"
        data-selection="params.layers">
      </div>
    </div>
  </form>
  <div class="">
    <button type="button" class="btn navbar-btn btn-success"
      data-ng-click="addOnlinesrc()">
      <i class="fa fa-archive" /><i class="icon-external-link"></i>
      <span data-translate="">addOnlinesrc</span>
    </button>
  </div>

</div>