<div>
  <form class="form-horizontal" role="form"
    data-ng-search-form="">
    <div class="onlinesrc-container">
      <div class="form-group">
        <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i
              class="fa fa-search" /></span>
              <input class="form-control"
              data-ng-change="triggerSearch()"
              type="text" data-ng-model="searchObj.params.any"
              placeholder="{{'search' | translate}}" autofocus="" />
          </div>
        </div>
      </div>
      <div data-gn-search-form-results=""
        data-gn-search-form-results-mode="title"
        data-gn-search-form-results-selection-mode="local simple"
        data-search-results="searchResults"
        data-select-records="selectRecords"
        data-pagination-info="paginationInfo">
        </div>
    </div>
    <div class="">
      <button type="button" class="btn navbar-btn btn-success"
        data-ng-click="gnOnlinesrc.linkToMd(mode, selectRecords[0], popupid)"
        data-ng-class="{'disabled': (selectRecords.length < 1)}">
        <i class="fa" data-ng-class="btn.icon" />
        <i class="icon-external-link"></i>
        {{btn.label}}
      </button>
    </div>
  </form>
</div>