<div>
  <form class="form-horizontal" role="form" data-ng-search-form="">
    <input type="hidden" name="_csrf" value="{{csrf}}" />

    <div class="onlinesrc-container">
      <div class="form-group" data-ng-show="::config.sources.metadataStore">
        <label class="col-sm-2 control-label">
          <span
            >{{(config.sources.metadataStore.label || 'chooseACatalogRecord') |
            translate}}</span
          >
        </label>
        <div class="col-sm-10">
          <div class="input-group gn-margin-bottom">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input
              class="form-control"
              data-ng-change="updateParams();triggerSearch()"
              type="text"
              data-ng-model="searchObj.any"
              data-ng-model-options="modelOptions"
              autocomplete="off"
              placeholder="{{'anyPlaceHolder' | translate}}"
              aria-label="{{'anyPlaceHolder' | translate}}"
              autofocus=""
            />
          </div>

          <!-- $parent.selectRecords as data-ng-search-form introduces a new scope -->
          <div
            data-gn-search-form-results=""
            data-gn-search-form-results-mode="title"
            data-gn-search-form-results-selection-mode="local simple"
            data-search-results="searchResults"
            data-select-records="$parent.selectRecords"
            data-pagination-info="paginationInfo"
          ></div>
        </div>
      </div>

      <div
        class="form-group gn-nomargin-bottom"
        data-gn-doi-search-panel=""
        data-doi-url="config.sources['doiapi'].url"
        data-doi-prefix="config.sources['doiapi'].params.prefix"
        data-doi-query-pattern="config.sources['doiapi'].params.query"
        data-add-to-selection-cb="addToSelection(record)"
        data-remove-from-selection-cb="removeFromSelection(record)"
        data-ng-show="config.sources['doiapi']"
      ></div>

      <div
        data-gn-remote-record-selector=""
        data-ng-show="config.sources['remoteurl']"
      ></div>
    </div>
    <div class="">
      <button
        type="button"
        class="btn navbar-btn btn-success"
        data-gn-click-and-spin="gnOnlinesrc.linkToMd(mode, selectRecords[0], popupid)"
        ng-disabled="!canEnableLinkButton(selectRecords)"
      >
        <i class="fa gn-icon-{{mode}}"></i>
        <i class="icon-external-link"></i>&nbsp; {{btn.label || ('saveLinkToSibling' |
        translate)}}
      </button>
      <div data-gn-need-help="linking-records" class="pull-right"></div>
    </div>
  </form>
</div>
