<div data-ng-if="allowRemoteRecordLink">
  <form class="form-horizontal">
    <div class="form-group">
      <label
        ng-attr-for="{{ 'gnRemoteRecordUrl' + popupId }}"
        class="control-label col-sm-2"
        data-translate=""
        >orUseRemoteRecordUrl</label
      >
      <div class="col-sm-10">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="https://catalog.sdi.org/csw?REQUEST=GetRecordById&..."
            ng-attr-id="{{ 'gnRemoteRecordUrl' + popupId }}"
            autocomplete="off"
            data-ng-model="remoteRecord.remoteUrl"
            data-ng-model-options="{debounce: 300}"
            data-ng-focus="isTypingRemoteUrl = true;"
            data-ng-blur="isTypingRemoteUrl = false;"
            data-ng-change="checkLink()"
          />
          <span class="input-group-addon" data-ng-click="resetLink(true)">
            <i class="fa fa-fw fa-times text-danger"></i>
          </span>
        </div>
        <span class="help-block" data-ng-if="isTypingRemoteUrl" data-translate=""
          >remoteRecordUrl-help</span
        >
      </div>
    </div>
  </form>

  <div class="list-group" data-ng-if="remoteRecord.title">
    <li
      class="list-group-item"
      data-ng-click="updateSelection();triggerSearch();"
      data-ng-class="{'active' : selectionList[0].uuid === remoteRecord.uuid}"
    >
      {{remoteRecord.title}} ({{remoteRecord.uuid}})
    </li>
  </div>

  <div
    id="gn-addonlinesrc-add-alert"
    class="alert alert-warning"
    data-ng-show="!isRemoteRecordUrlOk"
  >
    <span data-translate="">remoteRecordUrlReturnedError</span>
    <a class="btn btn-link" target="_blank" data-ng-href="remoteRecord.remoteUrl">
      {{remoteRecord.remoteUrl}}
    </a>
  </div>
  <div
    id="gn-addonlinesrc-add-alert"
    class="alert alert-warning"
    data-ng-show="remoteRecord.remoteUrl != '' && isRemoteRecordUrlOk && !isRemoteRecordPropertiesExtracted"
  >
    <span data-translate="">remoteRecordPropertiesError</span>
    <a class="btn btn-link" target="_blank" data-ng-href="remoteRecord.remoteUrl">
      {{remoteRecord.remoteUrl}}
    </a>
  </div>
</div>
