# Default Logging Configuration
log4j.rootLogger = OFF

### GEONETWORK SETTINGS ########################################################

log4j.logger.geonetwork             = DEBUG, jeeves
log4j.logger.geonetwork.search      = OFF
log4j.logger.geonetwork.index       = OFF
log4j.logger.geonetwork.csw         = OFF
log4j.logger.geonetwork.mef         = OFF
log4j.logger.geonetwork.z3950server = OFF

### JEEVES SETTINGS ############################################################

log4j.logger.jeeves      = DEBUG, jeeves
log4j.logger.jeeves.dbms = OFF

### JEEVES APPENDER ############################################################

log4j.appender.jeeves            =org.apache.log4j.DailyRollingFileAppender
log4j.appender.jeeves.DatePattern='.'yyyy-MM-dd
log4j.appender.jeeves.file       = log/jeeves.log
log4j.appender.jeeves.layout     = org.apache.log4j.PatternLayout
log4j.appender.jeeves.layout.ConversionPattern=%d{ISO8601} %-5p [%c] - %m%n

### CONSOLE SETTINGS ###########################################################

log4j.appender.console        = org.apache.log4j.ConsoleAppender
log4j.appender.console.layout = org.apache.log4j.PatternLayout
log4j.appender.console.layout.ConversionPattern=%d{ISO8601} %-5p [%c] - %m%n
