<?xml version="1.0" encoding="ISO-8859-1"?>

<intermap>
	<!-- ====================================================================== -->

	<general>
		<profiles>user-profiles.xml</profiles>
		<debug>true</debug>
		<uploadDir>WEB-INF/data/tmp</uploadDir>
		<maxUploadSize>50</maxUploadSize> <!-- Size must be in megabyte (integer) -->
		<useProxy>false</useProxy>
		<proxyHost>10.11.0.1</proxyHost>
		<proxyPort>3128</proxyPort>
	</general>

	<!-- ====================================================================== -->

	<default>
		<service>main</service>
		<language>en</language>
		<localized>true</localized>
		<contentType>text/html; charset=UTF-8</contentType>
		
		<gui>
			<xml  name="strings" file ="xml/strings.xml" />
			<call name="session" class="jeeves.guiservices.session.Get" />
		</gui>

		<!-- service not found -->

		<error id="service-not-found" sheet="error.xsl">
			<xml name="error" file="xml/service-not-found-error.xml" />
		</error>

		<!-- no privileges to access the service -->

<!--		<error id="privileges" sheet="error.xsl">
			<xml name="error" file="xml/privileges-error.xml" />
		</error>
-->
		<!-- general error -->
		<error sheet="copy_error.xsl" contentType="text/xml; charset=UTF-8"/>			
		

<!--		<error sheet="error.xsl">
			<xml name="error" file="xml/error.xml" />
		</error>-->
		
	</default>

	<!-- ====================================================================== -->

	<resources>
	</resources>

	<!-- ====================================================================== -->

	<appHandler class="org.wfp.vam.intermap.Intermap">

		<param name="mapServers" value="WEB-INF/mapServers.xml" />
		<param name="axlRequests" value="WEB-INF/axl" />
		
		<!-- proxy server -->

		<param name="useProxy" value="false" />
		<param name="proxyHost" value="10.10.10.10" />
		<param name="proxyPort" value="80" />

		<!-- screen DPI -->
		<param value="96" name="screenDpi" />
		
		<!-- image size -->
		<param name="smallImageWidth" value="368" />
		<param name="smallImageHeight" value="276" />
		<param name="bigImageWidth" value="580" />
		<param name="bigImageHeight" value="435" />
		<param name="defaultImageSize" value="small" />

		<!-- temp files -->		
		<param name="tempDir"	value="../web/intermap/tmp/" />
		<param name="tempDeleteMinutes" value="15" />
		<param name="tempUrl" value="/intermap/tmp" />

		<!-- http cache -->
		<param name="httpCacheDir" value="../web/intermap/httpCache/" />
		<param name="httpCacheDeleteEvery" value="60" />
		<param name="useCache" value="true" />
					
	</appHandler>

	<!-- ====================================================================== -->

	<schedules package="org.fao.geonet">
	</schedules>

	<!-- ====================================================================== -->

	<services package="org.wfp.vam.intermap">

		<!--  Provides an HTML skeleton with no preloaded map image inside.  -->
		<service name="skel">
			<output sheet="index.xsl" />
		</service>
		
		<service name="main">
			<class name=".services.map.Update" />
			
<!--			<output test="/response/status/@empty='false'" sheet="index.xsl" />
			<output test="/response/status/@empty='true'" forward="mapContexts.get" />
-->
			<output sheet="index.xsl" />
			
			<error sheet="copy_error.xsl" contentType="text/xml; charset=UTF-8"/>			
		</service>

		<!-- ETj: return an XHTML to be embedded elsewhere -->
		
		<service name="map.getMain.embedded">			
			<output sheet="index-embedded.xsl" contentType="text/html; charset=UTF-8" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
<!-- 
		<service name="map.getFrames">
			<class name=".services.map.GetFrames" />
			
			<output test="/response/status/@empty='false'" sheet="im_frames.xsl" />
			<output test="/response/status/@empty='true'" forward="mapContexts.get" />
		</service>
 -->
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->		
		
		<service name="mapServers.getServices">
			<class name=".services.mapServers.GetServices" />
			
			<output sheet="im_get-services.xsl" />
			<error id="connect" sheet="error.xsl">
				<xml  name="error"   file="xml/connect-error.xml" />
			</error>
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->		

		<!-- ETj -->
		<service name="mapServers.getServices.embedded">
			<class name=".services.mapServers.GetServices" />
			
			<output sheet="im_get-services-embedded.xsl" />
			<error sheet="error-embedded.xsl">
				<xml name="error" file="xml/error.xml" />
			</error>
			
<!--			<error id="connect" sheet="error.xsl">
				<xml  name="error"   file="xml/connect-error.xml" />
			</error>-->
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="mapServers.getServicesExt">
			<output sheet="im_get-servicesExt.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<!-- ETj -->
		<service name="mapServers.getServices.xml">
			<class name=".services.mapServers.GetServices" />
		</service>		
			
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.addServices">
			<class name=".services.map.AddServices" />
			
			<output forward="map.getMain" />
		</service>

		<!-- ETj -->
		<service name="map.addServices.embedded">
			<class name=".services.map.AddServices" />

			<output sheet="im_get-layers-embedded.xsl" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.addServicesExt">
			<class name=".services.map.AddServices" />
			
			<output test="/response/status/@services='true' or not(/response/status/@services)" forward="map.getMain"/>
			<output  test="/response/status/@services='false'" forward="mapServers.getServicesExt" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="mapContexts.get">
			<class name=".services.mapContexts.Get" />
			
			<output sheet="im_get-contexts.xsl" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="mapServers.listServers">
			<class name=".services.mapServers.ListServers" />
			
			<output sheet="im_list-servers.xsl" />
		</service>

		<service name="mapServers.listServers.embedded">
			<class name=".services.mapServers.ListServers" />
			
			<output sheet="im_list-servers-embedded.xsl" />
		</service>
		
		<service name="mapServers.listServers.xml">
			<class name=".services.mapServers.ListServers" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
<!-- 
		<service name="map.get">
			<class name=".services.map.Get" />
			
			<output sheet="im_get-map.xsl" />
		</service>
 -->
		
		<!-- ====================================
			LAYERS
		===================================== -->
		
<!-- 
		<service name="map.getLayers">
			<class name=".services.map.GetLayers" />
			
			<output sheet="im_get-layers.xsl" />
		</service>
 -->

		<service name="map.getLayers.embedded">
			<class name=".services.map.layers.Get" />
			
			<output sheet="im_get-layers-embedded.xsl" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		
		<service name="map.layers.add">
			<class name=".services.map.layers.Add"/> <!-- return null -->
			
			<output forward="map.update" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.layers.deleteLayer">
			<class name=".services.map.DelService" />
			<output sheet="im_get-layers-embedded.xsl" />			
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
				
		<service name="map.layers.setOrder">
			<class name=".services.map.layers.SetOrder" />

			<output sheet="im_get-layers-embedded.xsl" />			
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.layers.moveUp">
			<class name=".services.map.layers.MoveUp" />			
			<output sheet="im_get-layers-embedded.xsl" />			
		</service>
	
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.layers.moveDown">
			<class name=".services.map.layers.MoveDown" />
			
			<output sheet="im_get-layers-embedded.xsl" />			
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.layers.getInfo">
			<class name=".services.map.layers.GetInfo" />
			
			<output sheet="im_get-layer-info.xsl" />			
			<error sheet="copy_error.xsl" contentType="text/xml; charset=UTF-8"/>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.layers.getStyles">
			<class name=".services.map.layers.GetStyles" />
			
			<output sheet="im_get-layer-styles.xsl" />			
			<error sheet="copy_error.xsl" contentType="text/xml; charset=UTF-8"/>
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="map.layers.setStyle">
			<class name=".services.map.layers.SetStyle" />

			<output sheet="im_get-layers-embedded.xsl" />
			<error sheet="copy_error.xsl" contentType="text/xml; charset=UTF-8"/>
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.layers.setTransparency">
			<class name=".services.map.layers.SetTransparency" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.layers.toggleVisibility">
			<class name=".services.map.layers.ToggleVisibility" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- return a full image response -->
		
		<service name="map.action">
			<class name=".services.map.Action" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.move">
			<class name=".services.map.Move" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- return a full image response -->
		
		<service name="map.setScale">
			<class name=".services.map.SetScale" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->		
		<!-- return a full image response -->
		
		<service name="map.update">
			<class name=".services.map.Update" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
<!-- 
		<service name="map.get">
			<class name=".services.map.Get" />
			
			<output sheet="im_get-map.xsl" />
		</service>
 -->

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- return new images params (size+bbox) -->
		
		<service name="map.fullExtent">
			<class name=".services.map.FullExtent" />
			
			<output forward="map.update" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- return a full image response -->
		
		<service name="map.zoomToService">
			<class name=".services.map.ZoomToService"/>
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.reset">
			<class name=".services.map.Reset" />			
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.identify">
			<class name=".services.map.Identify" />
			
			<output sheet="im_identify.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.service.getLegend">
			<class name=".services.map.GetLegend" />
			
			<output sheet="legend.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.service.wmsConfigForm">
			<class name=".services.map.WmsConfigForm" />
			
			<output sheet="im_wms-service-conf.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.service.wmsConfig">
			<class name=".services.map.WmsConfig" />
			
			<output sheet="im_close-on-load.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.service.showExtents">
			<class name=".services.map.ShowExtents" />
			
			<output sheet="im_show-extents.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.service.setExtents">
			<class name=".services.map.SetExtents" />
			
			<output sheet="im_close-on-load.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="map.service.showError">
			<class name=".services.map.ShowError" />
			
			<output sheet="im_show-error.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.service.wmsLayerInfo">
			<class name=".services.map.WmsLayerInfo" />
			
			<output sheet="im_wms-layer-info.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->				
<!-- 
		<service name="map.service.collapse">
			<class name=".services.map.CollapseService"/>
			
			<output forward="map.getLayers"/>
		</service>
 -->		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- 
		<service name="map.service.expand">
			<class name=".services.map.ExpandService"/>
			
			<output forward="map.getLayers"/>
		</service>
 -->
				
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.setContext"> <!-- ??? ETj -->
			<class name=".services.map.SetContext" />
			
			<output forward="map.getMain" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="map.getFeatures">
			<class name=".services.map.GetFeatures" />
			
			<output sheet="im_get-features.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="geonet.getGeonetRecords">
			<class name=".services.geonet.GetGeonetRecords"/>
			<output sheet="geonet-records.xsl" contentType="text/xml; charset=UTF-8" />
		</service>
				
		<!-- ====================================
			WMC
		===================================== -->		

		<service name="wmc.form">			
<!--			<class name=".services.wmc.GetWmcContext"/>-->
			<output sheet="im_wmc_form.xsl" contentType="text/html; charset=UTF-8" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="wmc.uploadContext">
			<class name=".services.wmc.UploadWmcContext"/>
			
			<output sheet="copy_response.xsl" contentType="text/xml; charset=UTF-8"/>							
			<error sheet="copy_error.xsl" contentType="text/xml; charset=UTF-8"/>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="wmc.setContext">
			<class name=".services.wmc.SetWmcContext"/>
			
			<output sheet="copy_response.xsl" contentType="text/xml; charset=UTF-8"/>							
			<error sheet="copy_error.xsl" contentType="text/xml; charset=UTF-8"/>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
				
		<!--  This service returns the WMC view context as an XML file. 
		         We are using a non-standard service name because at the moment jeeves provides no facilities 
		         to set a suggested filename to the user agent. 
		         The service name will be used as suggested filename to store the information sent. 
		   -->
<!--		<service name="wmc.getContext" contentType="application/vnd.ogc.context+xml; charset=UTF-8">-->
		<service name="context.cml" contentType="application/vnd.ogc.context+xml; charset=UTF-8">
			<class name=".services.wmc.GetWmcContext"/>
			<!-- contenttype is defined in 100 spec, but not in 110 -->
			<output sheet="im_wmc.xsl" contentType="application/vnd.ogc.context+xml; charset=UTF-8" />			
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="wmc.mailContext">
			
			<class name=".services.wmc.MailWmcContext">
				<param name="customstylesheet" value="../web/intermap/xsl/im_wmc_custom_mail.xsl"/>
				<!--<param name="mailserver" value=""/>--> <!-- PLEASE  SET THIS PARAM TO A VALID MAIL SERVER -->				
				<param name="gnurl" value="http://localhost:8080/geonetwork/srv/en/main.home"/> <!-- THIS PARAM HAS TO BE CONFIGURED BY THE INSTALLER -->				
			</class>
			
			<output sheet="copy_response.xsl" contentType="text/xml; charset=UTF-8"/>							
			<error sheet="copy_error.xsl" contentType="text/xml; charset=UTF-8"/>
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="wmc.setContextFromURL">
			<class name=".services.wmc.SetWmcFromURL"/>

			<output sheet="copy_response.xsl" contentType="text/xml; charset=UTF-8"/>							
			<error sheet="copy_error.xsl" contentType="text/xml; charset=UTF-8"/>
		</service>

		<!-- ====================================
			PDF
		===================================== -->
		
		<service name="static.form.pdf">			
			<output sheet="im_pdf_form.xsl" contentType="text/html; charset=UTF-8" />
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<service name="create.pdf">			
			<class name=".services.export.ExportPDF">
				<param name="northArrowImage" value="../web/intermap/images/northarrow.png" />
			</class>			
		</service>
		
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
	</services>
	
	<!-- ====================================================================== -->

</intermap>
