<div data-ng-show="citationAvailable">
  <div>
    <h2>
      <span data-translate="">cite.dataset</span>
      <a
        class="btn btn-xs"
        data-ng-repeat="(k, f) in formats"
        data-ng-click="getCitation(f.id)"
        title="{{::f.help}}"
        data-ng-class="currentFormat === f.id ? 'btn-primary' : 'btn-link'"
      >
        {{::f.label}}
      </a>
    </h2>
  </div>
  <div>
    <div
      class="gn-copy-to-clipboard-button-floatright"
      gn-copy-to-clipboard-button=""
      timeout="1000"
    ></div>
    <div data-ng-if="!isCode" ng-bind-html="citationText"></div>
    <pre data-ng-if="isCode">{{citationText}}</pre>
  </div>
</div>
