<div
  id="gn-editor-distribution-panel"
  class="panel panel-default"
  data-ng-class="getClass()"
>
  <div class="panel-heading" data-gn-slide-toggle="">
    <i class="fa fa-fw"></i>&nbsp;
    <span data-translate="">distributionPanel</span>
  </div>

  <div class="panel-body">
    <div data-ng-transclude="" class="row"></div>
    <div
      data-gn-distribution-resources-container="md"
      data-mode="mode"
      data-editor-config="editorConfig"
      data-related-config="relatedConfig"
    ></div>
  </div>
</div>
