<div>
  <h2>Download</h2>
  <hr/>

  <table class="table">
    <tbody>
      <tr data-ng-repeat="md in children">
        <td>{{md.resourceTitle}}</td>
        <td>{{md.cl_status[0].default}}</td>
        <td>{{md.licenseObject.default}} {{md.licenseObject[0].default}}</td>
        <td>
            <a href="{{l.url}}"
               rel="noopener noreferrer"
               target="_blank"
               class="btn btn-default"
               style="margin-right: 5px;"
               data-ng-repeat="l in md.link">{{l.protocol}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
