<div data-ng-show="data.length > 0">
  <table class="table table-condensed">
    <thead>
      <tr>
        <td data-ng-repeat="c in headers track by $index">{{c | translate}}</td>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="r in displayedRecords track by $index">
        <td data-ng-repeat="c in columnsConfig track by $index">
          <span data-ng-if="c === 'resourceTitle'">
            <a
              data-ng-hide="r.md.remoteUrl"
              gn-metadata-open="r.md"
              gn-formatter="formatter.defaultUrl"
              >{{r[c]}}</a
            >
            <a
              data-ng-show="r.md.remoteUrl"
              data-ng-href="{{r.md.remoteUrl}}"
              rel="noopener noreferrer"
              target="_blank"
              title="{{r[c]}}"
            >
              {{r[c]}}
            </a>
          </span>

          <span data-ng-if="c !== 'resourceTitle' && !isArray(r[c])">
            <div
              data-ng-if="c === 'mdStatus' && user.isEditorOrMore() && r.md.mdStatus < 50 && isMdWorkflowEnable"
              class="text-muted badge"
              data-ng-class="{'text-success': r.md.mdStatus == 2, 'text-warning': r.md.mdStatus == 4 }"
            >
              {{('status-' + r.md.mdStatus) | translate}}
            </div>
            <span data-ng-if="c !== 'mdStatus'"> {{r[c]}} </span>
          </span>

          <span data-ng-if="isArray(r[c])">
            <div
              data-ng-if="c !=='resourceType'
                              && !c.startsWith('link')
                              && !c.startsWith('cl')
                              && !c.startsWith('mdStatus')
                              && !c.startsWith('format')"
              data-ng-repeat="l in r[c]"
            >
              {l}}
            </div>

            <div data-ng-if="c === 'resourceType'">
              <i class="fa gn-icon-{{r.resourceType[0]}}"></i>
            </div>

            <div data-ng-if="c.startsWith('cl_status[0].key')" data-ng-repeat="l in r[c]">
              <span data-ng-if="l" class="gn-status gn-status-{{l}} gn-status-table"
                >{{l | translate}}</span
              >
            </div>

            <div
              data-ng-if="c.startsWith('cl') && !c.startsWith('cl_status[0].key')"
              data-ng-repeat="l in r[c]"
            >
              {{l | translate}}
            </div>

            <div
              data-ng-if="c.startsWith('format') "
              class="clearfix"
              data-ng-repeat="l in r[c]"
            >
              <span class="label label-primary">{{l}}</span>
            </div>

            <div
              data-ng-if="c.startsWith('link')"
              data-gn-record-links-button="r[c]"
              data-btn="dropdownOrButton"
              data-icon-mode="dropdownOnly"
              data-record="r.md"
            ></div>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
