<div data-ng-if="agg">
  <h2>{{title}}</h2>
  <p class="text-muted" translate="">filterHelp</p>
  <div data-ng-repeat="filter in filtersToProcess">
    <label
      >{{getFacetLabel(agg[filter]) || ('facet-' + filter) | facetKeyTranslator}}</label
    >
    <div>
      <button
        data-ng-repeat="(key, b) in agg[filter].buckets"
        data-ng-click="filterRecordsBy(filter, b.key)"
        data-ng-disabled="b.doc_count === children.length"
        type="button"
        class="btn btn-default btn-sm gn-margin-bottom-sm gn-margin-right-sm"
        data-ng-class="{'btn-primary': current === (filter + '-' + b.key)}"
      >
        {{(b.key | translate) || '&nbsp;'}} ({{b.doc_count}})
      </button>
    </div>
  </div>
</div>
