<div class="relatedMd" data-ng-show="relations.length > 0">
	<div data-ng-repeat="md in relations track by $index">
        <div data-ng-if="md['@type']!='thumbnail'" class="relatedRecord">
            <span data-related-tooltip title="{{md['@type']}}" class="fa fa-{{actions[md['@type']]['iconClass'](md)}}">&nbsp;</span>
            <span data-ng-click="exec(actions[md['@type']]['click'](md))"
                class="{{actions[md['@type']]['class'](md)}}">{{md.title["#text"] || md.title}} </span>
        </div>
	</div>
    <div style="clear: both"></div>
</div>