<div>
  <tabset class="info-tabset"
          data-ng-if="mode == 'tabset'">
    <tab data-ng-repeat="item in relatedConfigUI track by $index"
         data-ng-if="item.relationFound"
         heading="{{item.title | translate}}">
      <div data-gn-related="md"
           data-user="user"
           data-layout="{{item.layout}}"
           data-types="{{item.types}}"
           data-filter="{{item.filter}}"></div>
    </tab>
  </tabset>

  <div data-ng-if="mode != 'tabset'">
    <div
      data-ng-repeat="item in relatedConfigUI track by $index"
      data-gn-related="md"
      data-user="user"
      data-layout="{{item.layout}}"
      data-types="{{item.types}}"
      data-filter="{{item.filter}}"
      data-title="{{item.title | translate}}">
    </div>
  </div>
</div>
