<form name="myForm">
              <input type="hidden" name="_csrf" value="{{csrf}}"/>
  <div class="row">
    <div class="col-md-4">
      <!-- TODO: Status are disabled based on profiles and
      previous values. See https://github.com/geonetwork/core-geonetwork/blob/develop/web/src/main/webapp/xsl/metadata-status.xsl#L15 -->
      <div class="radio"
           data-ng-repeat="s in status | orderBy: 'displayorder'"
           data-ng-class="{disabled : cantStatus(s.id)}">
        <label>
          <input type="radio"
                 name="status"
                 value="{{::s.id}}"
                 data-ng-model="newStatus.value" data-ng-disabled="cantStatus(s.id)">
          {{s.label[lang]}}
        </label>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="gn-change-message"
               data-translate="">statusLogMessage</label>
        <textarea class="form-control"
                  id="gn-change-message"
                  data-ng-model="changeMessage"></textarea>
      </div>


      <div class="btn-toolbar">
        <button class="btn btn-default"
                data-gn-click-and-spin="updateStatus()">
          <i class="fa fa-bell"></i>&nbsp;
          <span data-translate="">updateStatus</span>
        </button>

        <div data-gn-need-help="user-guide/workflow/life-cycle.html"
             data-icon-only="true"></div>
      </div>
    </div>
  </div>
</form>
