<div class="row">
  <div class="col-md-12" data-ng-show="userGroupDefined">
    <p data-ng-if="ownerUserName">
      <span data-translate="">recordOwner</span>: <span>{{ ownerUserName }}</span>
    </p>
    <p data-ng-if="ownerGroupName">
      <span data-translate="">groupRecordOwner</span>: <span>{{ ownerGroupName }}</span>
    </p>

    <hr data-ng-if="ownerUserName || ownerGroupName" />

    <select
      class="form-control"
      data-ng-model="selectedUserGroup"
      data-ng-options="g.userName group by g.groupNameTranslated
                    for (key, g) in userGroups"
    ></select>
    <br />
  </div>

  <div class="btn-toolbar col-md-12" data-ng-show="userGroupDefined">
    <button
      type="button"
      class="btn btn-primary pull-right"
      data-gn-click-and-spin="save()"
      data-ng-disabled="!selectedUserGroup"
    >
      <i class="fa fa-save"></i>&nbsp
      <span data-translate="" class="ng-scope">save</span>
    </button>
  </div>

  <div class="col-md-12" data-ng-show="!groupsLoaded">
    <p class="text-center">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </p>
  </div>
  <div class="col-md-12" data-ng-show="groupsLoaded && !userGroupDefined">
    <span data-translate="">noUsers</span>
  </div>
</div>
