<div>
  <form role="form" data-ng-search-form="" data-runSearch="true">
    <input type="hidden" name="_csrf" value="{{csrf}}" />
    <div class="form-group">
      <div class="input-group gn-margin-bottom">
        <span class="input-group-addon">
          <i class="fa fa-search" />
        </span>
        <input
          class="form-control"
          data-ng-change="triggerSearch()"
          type="text"
          data-ng-model="searchObj.params.any"
          data-ng-model-options="modelOptions"
          aria-label="{{'search' | translate}}"
          placeholder="{{'search' | translate}}"
          autofocus=""
        />
      </div>

      <div
        data-sortby-combo=""
        data-params="searchObj.params"
        data-gn-sortby-values="searchObj.sortbyValues"
      ></div>
    </div>

    <div
      data-ng-show="searchResults.count >= 0 && searchResults.records.length === 0"
      class="alert alert-warning"
      data-translate=""
    >
      {{('noRecordFoundWithResourceRegistered' + mode) | translate}}
    </div>

    <ul class="gn-searchlayer-list list-group">
      <li
        class="gn-searchlayer list-group-item"
        data-ng-repeat="m in searchResults.records"
        data-ng-init="md = getMetadata(m)"
      >
        <h3>
          <a
            data-ng-if="mode === 'map'"
            href=""
            data-ng-click="loadMap(md.relevantMapLinks[0], md)"
            title="{{'addToMap' | translate}}"
          >
            {{md.resourceTitle}}
          </a>
          <span data-ng-if="mode !== 'map'"> {{md.resourceTitle}} </span>
          -
          <a
            class=""
            ng-href="#/metadata/{{md.uuid}}"
            title="{{'openRecord' | translate}}"
            translate
          >
            openRecord
          </a>
        </h3>

        <div class="row">
          <ul class="gn-nopadding-left">
            <li data-ng-repeat="link in md.relevantLinks">
              <a
                data-ng-click="addToMap(link, md)"
                href=""
                title="{{'addLayerPrefix' | translate}} {{link.name}} {{'addLayerPostfix' | translate}}"
                class="flex-row"
              >
                <span class="fa fa-fw fa-plus"></span>
                <span>{{link.description || link.name}}&nbsp;</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <br />
    <div data-ng-show="searchResults.records.length > 0">
      <div
        class="pull-right"
        data-gn-pagination="paginationInfo"
        data-hits-values="searchObj.hitsperpageValues"
      ></div>
    </div>
  </form>
</div>
