<div class="sxt-panier">

  <div class="sxt-main-tabs">

    <sxt-tab-switcher></sxt-tab-switcher>
    <button type="button" data-ng-show="panier.length > 0" class="btn btn-primary sxt-download-btn"
      data-toggle="modal" data-target="#panierModal">
      <i class="fa fa-download"></i>&nbsp;
      <span translate>Télécharger</span>
    </button>

  </div>

  <div class="panel-body">

    <!--Amount of layers in basket-->
    <div class="alert alert-warning" role="alert" data-ng-if="panier.length == 0">
      <span translate>nolayer</span>
      <span translate>inbasket</span>.
    </div>

    <!--Report Success-->
    <div ng-if="report && report.success" class="alert alert-success" role="alert">
      <button type="button" class="close" aria-label="Close" data-ng-click="resetReport()"><span aria-hidden="true">&times;</span></button>
      <span translate="">panierSuccessMsg</span>
    </div>

    <!--Report Error-->
    <div ng-if="report && !report.success" class="alert alert-danger" role="alert">
      <button type="button" class="close" aria-label="Close" data-ng-click="resetReport()"><span aria-hidden="true">&times;</span></button>
      <span translate="">panierErrorMsg</span>
    </div>

    <ul class="list-group">
      <li ng-repeat="elt in panier" class="list-group-item" sxt-panier-elt="formObj" sxt-panier-elt-md="elt.md"
          sxt-panier-elt-link="elt.link">
      </li>
    </ul>


    <div class="modal fade" id="panierModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Télécharger</h4>
          </div>

          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputNom" class="col-sm-2 control-label" translate>name</label>
                <div class="col-sm-10">
                  <input maxlength="80" data-ng-disabled="user.isConnected()" type="text" class="form-control" id="inputNom" placeholder="{{'name' | translate}}" ng-model="formObj.user.lastname">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPrenom" class="col-sm-2 control-label" translate>surname</label>
                <div class="col-sm-10">
                  <input maxlength="80" data-ng-disabled="user.isConnected()" type="text" class="form-control" id="inputPrenom" placeholder="{{'surname' | translate}}" ng-model="formObj.user.firstname">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label" translate>email</label>
                <div class="col-sm-10">
                  <input maxlength="50" data-ng-disabled="user.isConnected()" type="email" class="form-control" id="inputEmail" placeholder="{{'email' | translate}}" ng-model="formObj.user.mail">
                </div>
              </div>
              <div class="form-group">
                <label for="inputOrganisme" class="col-sm-2 control-label" translate>organism</label>
                <div class="col-sm-10">
                  <input type="text"  maxlength="500" class="form-control" id="inputOrganisme" placeholder="organism" ng-model="formObj.user.org">
                </div>
              </div>
              <div class="form-group">
                <label for="inputUse" class="col-sm-2 control-label" translate>usage</label>
                <div class="col-sm-10">
                  <textarea maxlength="500" rows="2" class="form-control" id="inputUse" placeholder="{{'usage' | translate}}" ng-model="formObj.user.usage" ></textarea>
                </div>
              </div>
            </form>
            <h4>Valider les limites/contraintes d'utilisation</h4>
            <ul class="list-group">
              <li ng-repeat="elt in panier" class="list-group-item">
                <label>
                  <input type="checkbox" ng-model="elt.validated" ng-change="validateDownload()"/>
                  {{elt.md.title || elt.md.defaultTitle}}
                </label>
                <a class="btn btn-link" data-toggle="collapse" data-target="#w{{elt.md.getUuid()}}" aria-expanded="false">
                  <i class="fa fa-angle-double-down"></i>
                </a>
                <div class="well collapse" id="w{{elt.md.getUuid()}}">
                  <h5>Limites d'utilisation :</h5>
                  <small>{{md.Constraints[1]}}</small>
                  <h5>Contraintes d'accès :</h5>
                  <small>{{md.Constraints[0]}}</small>
                  <h5>Contraintes d'utilisation :</h5>
                  <small>copyright</small>
                  <h5>Autres contraintes :</h5>
                  <small>{{md.Constraints[2]}}</small>
                  <small>{{md.Constraints[3]}}</small>
                </div>
              </li>
            </ul>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" ng-click="extract()" ng-disabled="downloadDisabled">Télécharger</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </div>

</div>
