<li class="list-group-item clearfix panier-element">
  <button type="button" class="btn btn-default sxt-panier-remove" ng-click="del(element, form)">
    <i class="fa fa-trash-o"></i>
  </button>

  <!--Map Draw Extent-->
  <div data-ng-if="!isCopyfile" class="col-md-5" gn-map-field="map" class=""
       gn-map-field-geom="prop.extent" gn-map-field-extent="extentCoords"
       template="../../catalog/views/sextant/templates/map/mapfield.html"></div>

  <div class="col-md-6">
    <h4>{{::(element.md.title || element.md.defaultTitle)}}</h4>
    <em>{{::(element.link.desc  || element.link.name)}}</em>
    <!--Panier Form-->
    <div class="form-group" data-ng-if="!isCopyfile">
      <label for="projectionPF" class="control-label" translate>Projection</label>&nbsp;:&nbsp;
      <select class="form-control input-sm" id="projectionPF" data-ng-model="form.output.epsg" sxt-select>
        <option data-ng-repeat="p in settings.projs" value="{{p.value}}"
        data-ng-selected="p.value == form.output.epsg">{{p.label}}</option>
      </select>
    </div>
    <div class="form-group" data-ng-if="!isCopyfile">
      <label for="formatPF" class="control-label" translate>format</label>&nbsp;:&nbsp;
      <select class="form-control input-sm" id="formatPF" data-ng-model="form.output.format" sxt-select>
        <option data-ng-repeat="f in formats" value="{{f.value}}"
        data-ng-selected="f.value == form.output.format">{{f.label}}</option>
      </select>
    </div>

    <div class="form-group sxt-active-filters dropdown" ng-if="element.filter.params || element.filter.any">
      <label ng-click="form.useFilters = !form.useFilters">
        <i class="fa sxt-layer-visibility text-primary"
          ng-class="form.useFilters ? 'fa-check-square' : 'fa-square'"/>
        <span translate>activeFilters</span>
      </label>
      <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        class="btn btn-default dropdown-toggle">
        <span translate class="ng-scope">activeFiltersDetails</span>&nbsp;
        <i class="fa fa-caret-down"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li ng-repeat="filter in element.filter.params">
          <a><i class="fa fa-search"/>&nbsp;{{filter.name}}&nbsp;=&nbsp;{{filter.value}}</a>
        </li>
        <li ng-if="element.filter.any">
          <a><i class="fa fa-search"/>&nbsp;<span translate>fullTextSearch</span>&nbsp;=&nbsp;{{element.filter.any}}</a>
        </li>
      </ul>
    </div>

    <div class="form-group sxt-processes-list" ng-show="element.processes && element.processes.length > 0">
      <label for="processesPF" class="control-label" translate>wpsIncludedProcesses</label>&nbsp;:&nbsp;
      <div ng-repeat="p in element.processes" class="sxt-process">
        <label ng-click="p.included = p.described && !p.included">
          <i ng-if="!p.described" class="fa fa-fw fa-spin fa-spinner"/>
          <i ng-if="p.described" class="fa fa-fw sxt-layer-visibility text-primary"
            ng-class="p.included ? 'fa-check-square' : 'fa-square'"/>
          <span class="wps-label">{{ p.desc || p.name }}</span>
        </label>
        <button type="button" data-ng-disabled="!p.included" class="btn btn-default" ng-click="editWPSForm(p)">
          <i class="fa fa-cogs"></i>&nbsp;
          <span translate="" class="ng-scope">{{ 'editWpsForm' | translate }}</span>
        </button>
        <div class="hidden">
          <gn-wps-process-form wps-link="p" wfs-link="wfsLink"
            map="map" described-callback="describedCallback(p)"
            cancel-previous="false">
          </gn-wps-process-form>
        </div>
      </div>
    </div>

  </div>


</li>
