<div class="container-fluid gn-search-page" data-ng-controller="GnSearchController">

  <form ng-search-form="" runsearch="true">
    <div class="row top-buffer">
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="fa fa-search"></i>
            <span data-translate>Search</span>
          </div>
          <div class="panel-body">
            <div data-ng-include="'../../catalog/templates/search/searchForm.html'"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div gn-results-tpl-switcher template-url="resultTemplate" class="pull-right"></div>
            <div sortby-combo params="searchObj.params"></div>
          </div>
          <div data-gn-facet-breadcrumb="currentFacets"></div>
          <div gn-results-container data-ng-class="{'bg-success' : searching}"
            search-results="searchResults" template-url="resultTemplate" map="map"></div>
          <div class="panel-footer">
            <div class="pull-right" hitsperpage-combo pagination-cfg="paginationInfo"></div>
            <div data-gn-pagination="paginationInfo"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <button class="btn btn-default active"><i class="fa fa-filter"></i></button>
            <span data-translate>Refine search</span>
          </div>
          <div class="panel-body"
            data-gn-facet-list="searchResults.facet"
            data-facet-config="facetsConfig"
            data-current-facets="currentFacets">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
