<div data-ng-controller="gocatSearchFormCtrl">

  <div class="form-horizontal" role="form">

    <!--Text search -- Any field-->
    <div class="form-group">
      <label for="fullF" class="col-md-3 col-sm-12 control-label">Text search</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" id="fullF" gn-search-suggest="anylight" gn-search-suggest-startswith="false"
               placeholder="{{'anyPlaceHolder' | translate}}" data-ng-model="searchObj.params.any">
      </div>
    </div>

    <!--Types Combo (from a local scope array) -->
    <div class="form-group">
      <label for="typeF" class="col-md-3 col-sm-12 control-label">Type</label>
      <div class="col-sm-9" id="typeF">
        <select class="form-control" data-ng-model="searchObj.params.type">
          <option data-ng-repeat="t in types">{{t}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="cantonF" class="col-md-3 col-sm-12 control-label">Cantons</label>
      <div class="col-sm-9">
        <input type="text" id="cantonF" value="" class="form-control" data-ng-model="searchObj.params.cantons" gn-region-multiselect="ocean" gn-callback="onCantonsSelect"/>
        {{searchObj.params.cantons}}
      </div>
    </div>

    <div class="form-group">
      <label for="keywordsF" class="col-md-3 col-sm-12 control-label">Keywords</label>
      <div class="col-sm-9">
        <input type="text" id="keywordsF" value="" class="form-control" data-ng-model="searchObj.params.keyword" gn-search-suggest="keyword" multi="true"/>
      </div>
    </div>
    <div class="form-group">
      <label for="orgNameF" class="col-md-3 col-sm-12 control-label">Organisation</label>
      <div class="col-sm-9">
        <input type="text" id="orgNameF" value="" class="form-control" data-ng-model="orgName" gn-search-suggest="orgName"/>
      </div>
    </div>

    <div class="form-group">
      <label for="datefromF" class="col-md-3 col-sm-12 control-label">From</label>
      <div class="col-sm-9">
        <input type="date" id="datefromF" value="" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <label for="categoriesF" class="col-md-3 col-sm-12 control-label">Categories</label>
      <div class="col-sm-9">
        <input type="text" id="categoriesF" value="" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 col-sm-12 control-label">Début</label>
      <div class="input-group date col-sm-9" data-date="" data-date-format="dd-mm-yyyy"
           gn-bootstrap-datepicker="searchObj.params.creationDateFrom">
        <input class="form-control" type="text">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 col-sm-12 control-label">Fin</label>
      <div class="input-group date col-sm-9" data-date="" data-date-format="dd-mm-yyyy"
           gn-bootstrap-datepicker="searchObj.params.creationDateTo">
        <input class="form-control" type="text">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>


    <div gn-map-field="map"></div>

    <button type="button" data-ng-click="resetSearch();" class="btn btn-primary" data-translate>Reset</button>
    <button type="button" data-ng-click="triggerSearch()" class="btn btn-primary" data-translate>Search</button>
<!--
    <input type="text" name="region-picker-input" class="form-control bootstrap-tagsinput"
           data-gn-region-picker-input=""
           gn-region-type="country" data-role="tagsinput" />
-->
  </div>
</div>
