<?xml version="1.0" encoding="UTF-8"?>

<strings>
	<site>Seite</site>
	<name>Name</name>
	<organ>Organisation</organ>
	
	<server>Server</server>
	<host>Host</host>
	<port>Port</port>
	<protocol>Protokoll</protocol>

	<intranet>Intranet</intranet>
	<network>Netzwerk</network>
	<netmask>Netzwerkmaske</netmask>
	
	<searchStats>Suchstatistik</searchStats>
	<threadedindexing>Multi-threaded Indexing</threadedindexing>
	<maxthreads>Anzahl der prozessierenden threads</maxthreads>
	<recommendedThreads>Empfohlen</recommendedThreads>
	<reasonForOne>Datenbank nicht getestet oder nicht unterstützt</reasonForOne>
	<reasonForMore>Von der Anzahl Prozessoren</reasonForMore>

    <multilingual>Mehrsprachige Einstellungen</multilingual>
    <autoDetectEnable>Aktivieren Sie die automatische Erkennung der Such-Sprache</autoDetectEnable>
    <requestedlanguageonly>Suche nur in der gewünschten Sprache</requestedlanguageonly>
    <requestedlanguagesorted>Suchergebnisse in der gewünschte Sprache sortieren</requestedlanguagesorted>
    <requestedlanguageignored>Ignorieren der gewünschten Sprache in der Suche</requestedlanguageignored>

	<selectionmanager>Suchresultate</selectionmanager>
	<maxrecords>Maximum der ausgewählten Einträge</maxrecords>

	<indexoptimizer>Lucene Index Optimizer</indexoptimizer>
		<at>Starten um</at>
		<atSpec>( Stunde : Minute Z.B. 23:15 )</atSpec>
		<interval>Startet immer wieder alle</interval>
		<hourintervals>
			<hour label="Stunden (nicht empfohlen)">1</hour>
			<hour label="3 Stunden">3</hour>
			<hour label="6 Stunden">6</hour>
			<hour label="12 Stunde">12</hour>
			<hour label="Tage">24</hour>
			<hour label="2 Tage">48</hour>
			<hour label="3 Tage">72</hour>
			<hour label="4 Tage">96</hour>
		</hourintervals>
		<hours>
			<hour label="0">0</hour>
			<hour label="1">1</hour>
			<hour label="2">2</hour>
			<hour label="3">3</hour>
			<hour label="4">4</hour>
			<hour label="5">5</hour>
			<hour label="6">6</hour>
			<hour label="7">7</hour>
			<hour label="8">8</hour>
			<hour label="9">9</hour>
			<hour label="10">10</hour>
			<hour label="11">11</hour>
			<hour label="12">12</hour>
			<hour label="13">13</hour>
			<hour label="14">14</hour>
			<hour label="15">15</hour>
			<hour label="16">16</hour>
			<hour label="17">17</hour>
			<hour label="18">18</hour>
			<hour label="19">19</hour>
			<hour label="20">20</hour>
			<hour label="21">21</hour>
			<hour label="22">22</hour>
			<hour label="23">23</hour>
		</hours>
		<minutes>
			<minute label="0">0</minute>
			<minute label="15">15</minute>
			<minute label="30">30</minute>
			<minute label="45">45</minute>
		</minutes>

	<z3950>Z39.50 Server</z3950>
	<enable>Aktiv</enable>
		
	<oai>OAI Provider</oai>
		<datesearch>Datumssuche</datesearch>
		<datesearchopt>
			<dsopt label="temporal extent">1</dsopt>
			<dsopt label="modification date">2</dsopt>
		</datesearchopt>
	
		<tokentimeout>ResumptionToken Timeout </tokentimeout>
		<cachesize>Cache Grösse</cachesize>

	<xlinkResolver>XLink Resolver</xlinkResolver>

    <inspire>INSPIRE</inspire>
	
	<harvester>Harvesting</harvester>
	<enableEditing>Bearbeiten von geharvesteten Daten erlauben</enableEditing>
	
	<downloadservice>Data-For-Download Service</downloadservice>
	<leave>Metadaten Verlinkung nutzen - keine Änderungen am Link vornehmen</leave>
	<simple>GeoNetwork "simple file download" Dienst nutzen (resources.get)</simple>
	<withdisclaimer>GeoNetwork "disclaimer and constraints service" nutzen (file.disclaimer)</withdisclaimer>

	<csw>CSW ISO Profil</csw>
	<contactId>Kontakt</contactId>
	<title>Titel</title>
	<abstract>Zusammenfassung</abstract>
	<fees>Gebühren</fees>
	<accessConstraints>Zugangsbeschränkungen</accessConstraints>
    <cswMetadataPublic>Eingefügte Metadaten sind öffentlich</cswMetadataPublic>

	<clickablehyperlinks>Anklickbare Hyperlinks</clickablehyperlinks>

	<localrating>Lokale Bewertung</localrating>
    <autofixing>Automatische Updates</autofixing>

	<proxy>Proxy</proxy>
	<use>Verwenden</use>
	<username>Benutzername</username>
	
	<feedback>Feedback</feedback>
	<email>E-Mail</email>
	<smtpHost>SMTP Host</smtpHost>
	<smtpPort>SMTP Port</smtpPort>
		
	<userSelfRegistration>Benutzerregistrierung</userSelfRegistration>
	
	<removedMetadata>Gelöschte Metadaten</removedMetadata>
	<dir>Verzeichnis</dir>

	<authentication>Authentifizierung</authentication>
	
	<loginuses>Login nutzt</loginuses>
	<otherlogins>Anderen Benutzern erlauben sich einzuloggen mit</otherlogins>

	<geonetworkdb>GeoNetwork Authentifizierung</geonetworkdb>
		
	<ldap>LDAP Authentifizierung</ldap>
	<defProfile>Voreingestelltes Profil</defProfile>
    <uidAttr>Uid attribute</uidAttr>
	<login>Login</login>
	<userDN>User DN</userDN>
	<distNames>Distinguished names</distNames>
	<baseDN>Base</baseDN>
	<usersDN>Users</usersDN>
	<userAttribs>Benutzerattribute</userAttribs>
	<password>Passwort</password>
	<profile>Profil</profile>
    <group>Gruppe</group>
    <defGroup>Default Gruppe</defGroup>

	<shib>Shibboleth Authentifizierung</shib>
	<path>Pfad</path>
	<attributes>Shibboleth Attributzuordnung</attributes>
	<surname>Nachname</surname>
	<firstname>Vorname</firstname>

    <metadataEnableInspireSearch>Enable search panel</metadataEnableInspireSearch>

    <metadataViews>Metadaten Ansichten</metadataViews>
    <metadataEnableSimpleView>Einfache Ansicht einschalten</metadataEnableSimpleView>
    <metadataEnableIsoView>ISO Ansicht einschalten</metadataEnableIsoView>
    <metadataEnableInspireView>INSPIRE Ansicht einschalten</metadataEnableInspireView>
    <metadataEnableXmlView>XML Ansicht einschalten</metadataEnableXmlView>
    <metadataDefaultView>Default Ansicht</metadataDefaultView>
    <metadataSimpleView>Einfache Ansicht</metadataSimpleView>
    <metadataIsoView>ISO Ansicht</metadataIsoView>
    <metadataInspireView>INSPIRE Ansicht</metadataInspireView>
    <metadataXmlView>XML Ansicht</metadataXmlView>
    <metadataAdvancedView>Erweiterte Ansicht</metadataAdvancedView>
	
	<metadataPrivs>Metadaten Privilegien</metadataPrivs>
	<md.usergrouponly>Nur Privilegien der Gruppe des Benutzers definieren</md.usergrouponly>
	<!-- Buttons -->
	
	<save>Speichern</save>
	<refresh>Neuladen</refresh>
	
	<!-- validator messages -->
	
	<validator>
		<length>
			<cannotBeEmpty>Das Feld '{NAME}' darf nicht leer sein</cannotBeEmpty>
			<invalidMinSize>Das Feld '{NAME}' muss mindestens {VALUE} Zeichen lang sein</invalidMinSize>
			<invalidMaxSize>Das Feld '{NAME}' darf hoechstens {VALUE} Zeichen lang sein</invalidMaxSize>
		</length>
		
		<integer>
			<notInt>Das Feld '{NAME}' muss ganzzahlig sein</notInt>
			<invalidMinValue>Das Feld '{NAME}' muss &gt;= {VALUE} sein</invalidMinValue>
			<invalidMaxValue>Das Feld '{NAME}' muss &lt;= {VALUE} sein</invalidMaxValue>
		</integer>		
		
		<alphanum>
			<notAlphaNumeric>Das Feld '{NAME}' muss alphanumerisch sein (mit Buchstabe beginnen)</notAlphaNumeric>
		</alphanum>
		
		<hostname>
			<notHostName>Das Feld '{NAME}' ist kein gueltiger host name</notHostName>
		</hostname>
		
		<url>
			<notURL>Das Feld '{NAME}' ist kein gueltiger URL</notURL>
		</url>
		
		<ipaddress>
			<notIP>Das Feld '{NAME}' ist keine gueltige IP address</notIP>
		</ipaddress>
	</validator>
	
	<!-- display messages -->
	
	<cannotGet>Kann die Systemkonfiguration nicht anzeigen</cannotGet>
	<cannotSave>Kann die Systemkonfiguration nicht speichern</cannotSave>
	<saveOk>Systemkonfiguration gespeichert.</saveOk>
	
	<!-- tooltips -->
	
	<tips>
		<tip id="site.name">
			Wird gebraucht um die Installation zu identifizieren.
		</tip>
		
		<!-- server -->
		
		<tip id="server.host">
			The server's <b>host</b> and <b>port</b> are used to create URLs to
			the GeoNetwork server. For example, they are used during metadata
			editing to create resource links and when returning the server's
			capabilities during a CS/W request.
			<br/>
			<b>Please note:</b> you should use the GAST tool to reflect this
			change inside the metadata.
		</tip>
		
		<!-- intranet -->
		
		<tip id="intranet.network">
			The <b>network</b> and <b>netmask</b> parameters are used to identify
			internal connections to GeoNetwork, that is, to identify the intranet
			group.
		</tip>
		
		<!-- Z39.50 -->
		
		<tip id="z3950.enable">
			If set, during startup GeoNetwork will start the Z39.50 server component.
			This component uses the ISO23950 protocol.
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		
		<tip id="z3950.port">
			Change the Z39.50 listening port.
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
	
		<!-- oai  -->
		
		<tip id="oai.mdmode">
			Influences the behaviour of OAI when parameters from or until are supplied.
			If set to temporal extent, the temporal extent of the date described by the metadata is searched.
			If set to modification date, the date at which the metadata was last modified is searched
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		
		<tip id="oai.tokentimeout">
			The number of seconds a OAI resultset stays in the cache and can be scrolled using the OAI resumptionToken
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		
		<tip id="oai.cachesize">
			The number of OAI resultSets that can be stored in the Cache.
		</tip>
	
		<!-- clickable hyperlinks -->
		
		<tip id="clickablehyperlinks.enable">
			Wenn aktiviert, werden URLs in den Metadaten als anklickbare Hyperlinks angezeigt.
		</tip>
	
		<!-- local rating -->
		<tip id="localrating.enable">
			Wenn aktiviert, wird GeoNetwork Ihre Bewertung nur für Metadaten in diesem Knoten berechnen. (Wird nicht auf andere GeoNetwork Knoten verteilt).
		</tip>
		
        <!-- automatic fixes -->
        <tip id="autofixing.enable">
            Wenn aktiviert, nimmt GeoNetwork automatisch bestimmte Korrekturen vor, wenn Sie Metadaten speichern.
        </tip>

		<!-- proxy -->
		
		<tip id="proxy.use">
			Wenn aktiviert, wird GeoNetwork die angegebenen Proxy-Einstellungen nutzen, um
			entfernte Knoten anzusprechen. Dies ist z.B. beim Harvesting der Fall.
		</tip>
		
		<!-- feedback -->
		
		<tip id="feedback.email">
			Dies ist die E-Mail Adresse des Administrators, sie wird genutzt um Feedbacks zu versenden.
		</tip>
		
		<tip id="feedback.mail.host">
			Die SMTP Parameter <b>host</b> and <b>port</b> werden genutzt um E-Mails an
			GeoNetwork-Benutzer zu senden, wenn eine Ressource heruntergeladen wird.
		</tip>
		
		<!-- removed metadata -->
		
		<tip id="removedMd.dir">
			Verzeichnis, worin die gelöschten Metadaten abgelegt werden (im MEF-Format).
		</tip>
		
		<!-- userSelfRegistration -->
		
		<tip id="userSelfRegistration.enable">
			Wenn aktiviert, können sich Benutzer selber registrieren. Diese
			Benutzer werden der "Gast"-Gruppe zugeordnet. Eine E-Mail mit
			Benutzername und Password wird von der Administratoren-Adresse aus
			versendet.
			<br/>
		</tip>

		<tip id="downloadservice.simple">
				Wenn das Metadaten-Protokoll "Daten zum download" ist, erlaubt es dieser Dienst, Daten von GeoNetwork herunterzuladen ohne weiteren user Input - das ist die einfachste Download-Oberfläche.
		</tip>
		<tip id="downloadservice.withdisclaimer">
				Wenn das Metadaten-Protokoll "Daten zum download" ist, erlaubt es dieser Dienst, Daten von GeoNetwork herunterzuladen, nachdem Disclamer und Einschränkungen akzeptiert worden sind. Die Ressource (Daten) werden zusammen mit den Metadaten (als MEF) und einer HTML Beschreibung der Einschränkungen in eine Zip-Datei gebunden.
		</tip>
		<tip id="downloadservice.leave">
				Wird diese Option gewählt, wird GeoNetwork keine Datei-Downloads verwalten.
		</tip>

		<!-- xlinkResolver -->

		<tip id="xlinkResolver.enable">
			Wenn aktiviert, werden XLinks zu Fragmenten in Metadaten aufgelöst.
		</tip>

		<!-- searchStats -->

		<tip id="searchStats.enable">
			Wenn aktiviert, wird eine Suchstatistik erhoben und in der Datenbank gespeichert.
		</tip>

        <!-- multilingual settings -->
        <tip id="autodetect.enable">
            Wenn gesetzt, wird die Suche Sprache automatisch erkannt. Beachten Sie, dass dies nicht sehr gut für kurze Suchbegriffe.
        </tip>
        <tip id="requestedlanguage.only">
            Nur Suchergebnisse zurück in der gewünschten Sprache.
        </tip>
        <tip id="requestedlanguage.sorted">
            Zurück Suchresultate in der gewünschten Sprache an der Spitze.
        </tip>
        <tip id="requestedlanguage.ignored">
            Ignorieren gewünschte Sprache für die Suchergebnisse.
        </tip>

    </tips>
	<data.dataDir>Datenverzeichnis:</data.dataDir>
	<data.resources>Ressourcenverzeichnis:</data.resources>
	<data.configDir>Verzeichnis konfigurieren:</data.configDir>
	<data.schemaPluginsDir>Schema plugin Verzeichnis:</data.schemaPluginsDir>
	<data.subversionPath>Subversion Verzeichnis:</data.subversionPath>
	<data.codeListDir>Thesaurus Verzeichnis:</data.codeListDir>
	<xslt.factory>XSLT factory:</xslt.factory>
	<java.vm.name>JVM name:</java.vm.name>
	<java.vm.vendor>JVM vendor:</java.vm.vendor>
	<java.version>JVM version:</java.version>
	<os.arch>System Architektur:</os.arch>
	<os.name>Systemname:</os.name>
	<mem.total>Total Speicher:</mem.total>
	<mem.free>Total freier Speicher:</mem.free>
	<index.size.lucene>Lucene index Grösse (ko):</index.size.lucene>
	<index.size>Total index Grösse (ko):</index.size>
	<index.path>Indexverzeichnis:</index.path>
	<index>Lucene index Information</index>
	<main>Systeminformation</main>
	<catalogue>Kataloginformation</catalogue>
	<database>Datenbankinformation</database>
	<system>Katalogkonfiguration</system>
	<siteId>Katalog Identifikator:</siteId>
	<version>Version:</version>
	<subVersion>Sub-version:</subVersion>
	<index.lucene.config>Lucene-Konfiguration:</index.lucene.config>
	<db.url>Databank URL:</db.url>	
	<db.openattempt>Databank Status:</db.openattempt>	
	<db.numactive>Databankverbindungen in Verwendung:</db.numactive>	
	<db.numidle>Databankverbindungen verfügbar:</db.numidle>	
	<db.maxactive>Maximale Anzahl Databankverbindungen:</db.maxactive>	
	<db.statserror>Databankstatistik:</db.statserror>
    <sequentialExecution>ThreadPool Sequential Execution Mode: </sequentialExecution>
</strings>