@import "../../../style/gn_bootstrap.less";
@import "gn_variables_default.less";

// row for the info lists
.gn-row-info {
  padding: 30px 20px 40px 20px;
  background-color: @gn-info-background-color;
  .nav-pills {
    text-align: left !important;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
}

// custom colors for the blocks in the info list
.gn-info-list-blocks {
  .gn-info-list {
    li {
      .resultcard {
        .title {
          background: @gn-resultcard-title-background-color;
          border: @gn-resultcard-title-border;
          border-bottom: 0;
          a {
            h4 {
              color: @gn-resultcard-title-color;
              font-size: 14px;
              font-weight: 700;
              &:hover {
                text-decoration: none !important;
              }
            }
            &:hover {
              text-decoration: none !important;
              h4 {
                color: #428bca !important;
                text-decoration: none !important;
              }
            }
          }
        }
      }
      .resultcard.hasThumbnail {
        &:hover {
          .title {
            transition: background-color ease 0.5s;
            background-color: @gn-resultcard-title-background-color-hover;
          }
        }
      }
      &:hover {
        .resultcard {
          .title {
            transition: background-color ease 0.5s;
            background-color: @gn-resultcard-title-background-color-hover;
          }
        }
      }
    }
  }
}