@import "../../../style/gn_search.less";

.gn-full {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

html, body {
  height:100%;
}

.container-fluid {
   margin-right: auto;
   margin-left: auto;
   padding-left: 0;
   padding-right: 0;
}

.gn-row-main {
  margin: 2em 0 4em;
}

.gn-row-info {}

.cookie-warning {
  .alert;
  .alert-info;
}