@import "../../../style/gn_login";
@import "gn_view.less";
// variables for manipulating the theme
@import "gn_variables_default.less"; // must be last

.panel-default > .panel-heading {
  h1 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: normal;
  }
}