.navbar {
  margin-bottom: 14px;
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 50px;
    font-size: 16px;
  }

  // handle hover dropdowns for editor and admin menu (only if not on mobile)
  @media (min-width: @screen-sm-min) {
    li.dropdown-hover {
      & > .dropdown-toggle {
        position: relative;
        &:after {
          font-family: FontAwesome;
          content: "\f0d7";
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translate(-50%, 0);
          font-size: 0.9em;
        }
      }
      &.open > .dropdown-toggle {
        background: none;
      }
      ul {
        display: none;
      }
      &:hover ul, &:focus ul, &:active ul {
        display: block;
      }
    }
  }

  .gn-user-info {
    display: inline-block;
    vertical-align: middle;
    margin: -6px 0px;
    line-height: 1em;
    .gn-user-role {
      text-transform: uppercase;
      opacity: 0.7;
      font-size: 0.8em;
    }
  }
}
.navbar-form {
  border:none;
  margin: 8px 0px;
}