@import "../../../style/gn_search.less";
// variables for manipulating the theme
@import "gn_variables_default.less"; // must be last

.gn-row-results {
  padding-top: 15px;
  background-color: @gn-results-background-color;
}
// search terms
.searchterm {
  margin: 0 5px 5px 0;
  max-width: 100%;
  span {
    max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
  }
  i {
    margin-top: -15px;
    margin-left: 5px;
  }
}

// styling for all search results
ul.gn-resultview {
  @thumbnail-width: 170px;
  margin-right: -15px;

  .metadata {
    position: absolute;
    top: 0;
    width: 100%;
    width: 100%;
    height: 100%;
    z-index: 2050;
  }
  li.list-group-item {
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: none;
    &:hover {
      background-color: rgba(10, 10, 10, 0.05);
      cursor: default;
    }
    .row:first-of-type {
      padding-left: 3px;
    }

    .gn-md-thumbnail {
      .gn-img-thumbnail {
        max-width: @thumbnail-width;
        height: auto;
      }
    }
    .media {
      a {
        margin-left: 0;
        &.gn-md-edit-btn {
          width: 12px;
          margin-left: 10px;

        }
      }
      h4 {
        margin-top: 0;
        font-weight: 700;
        a {
          color: rgb(51, 51, 51);
        }
      }
    }
  }

  .gn-md-title {
    margin-top: 2px;
    overflow: hidden;
    cursor: pointer;
    h3 {

      /* Leave space for selection checkbox */
      //padding-left: 20px;
      margin-top: 0px;
      a {
        //text-transform: uppercase;
        font-weight: normal;
        font-size: 80%;
        color: #333333;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
      }
      a:hover {
        color: #428bca;
        text-decoration: none;
      }
    }
  }
  .gn-source-logo {
    z-index: 10;
    height: 20px;
    float: right;
  }
  .gn-md-abstract {
    cursor: pointer;
    color: @gray-darker;
  }
  .gn-md-abstract.ellipsis:after {
    background: none;
  }

  li.gn-grid {
    @grid-bottom-margin: 2px;

    float: left;
    border: 1px solid @list-group-border;
    //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    min-width: 300px;
    max-width: 500px;
    width: calc(~"100% - 15px");
    height: 20.5em;
    padding: 14px;
    .gn-md-details {
      //margin-left: @thumbnail-width;
      color: #6a6a6a;
      max-height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    /* Properly align category icons */
    .fa img {
      vertical-align: text-bottom;
    }
    .gn-md-title {
      min-height: 3.5em;
      max-height: 3.5em;
      h3{
        a{
          max-height: 82px;
        }
      }
    }
    input {
      float: left;
    }
    .gn-md-links {
      //position: absolute;
      //bottom: @grid-bottom-margin;
      background: none;
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 5px;
    }

    .gn-md-thumbnail {
      //position: absolute;
      //top: 82px;
      //opacity: .8;
      overflow: hidden;
      cursor: pointer;
      .gn-img-thumbnail {
        max-width: @thumbnail-width;
        max-height: 140px;
        min-height: 40px;
        //margin: @grid-bottom-margin;
        height: auto;
      }
    }

    .gn-md-category {
      display: block;
      float: left;
      margin-left: 18px;
    }
  }
  li.gn-list {
    .gn-md-title {
      h1 {
        line-height: 1.3em;
        font-size: 20px;
        margin-top: 0;
        padding-top: 5px;
        a {
          color: #333;
          &:hover {
            color: #000;
          }
          .fa {
            display: inline;
          }
        }
        .md-title {
          display: block;
          float: right;
          width: calc(~"100% - 50px");
        }
      }
    }
    .gn-md-category {
      a {
        margin-left: 5px;
      }
    }
    .gn-md-logo {
      margin-top: 5px;
    }
    .gn-md-thumbnail {
      border-radius: 0;
      margin-top: 5px;
    }
    .gn-status {
      position: relative;
      border: 0;
      padding: 0;
      margin-top: 5px;
      top: auto;
      left: auto;
      transform: none;
      font-weight: 400;
      font-size: 95%;
      text-transform: uppercase;
      float: left;
      color: darken(@brand-info, 25%);
    }
    .gn-status-completed {
      color: darken(@brand-success, 20%);
    }
    .gn-status-historicalArchive {
      color: darken(@brand-warning, 20%);
    }
    .gn-status-obsolete {
      color: darken(@brand-danger, 20%);
    }
    
    // Same as before but with workflow statuses
    .gn-workflow-status {
      border: 2px solid darken(@brand-info, 5%);
      position: absolute;
      top: 95px;
      left: 115px;
      border-radius: 6px;
      padding: 2px;
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
      color: @brand-info;
      font-weight: bold;
      font-size: 80%;
      background-color: rgba(255, 255, 255 , 0.7);
      border-color: darken(@brand-success, 5%);
      color: @brand-success;
    }
    .gn-workflow-status-mdview {
      position: relative;
      top: 0;
      left: 0;
      display: inline-block;
      font-size: 100%;
      border-radius: 20px;
      padding: 8px 12px;
      font-weight: normal;
      font-size: 80%;
      transform: none;
    }
    /* Decide here which status should be displayed
    or not and with which colors */
    .gn-workflow-status-1 {
      border-color: darken(@brand-danger, 5%);
      color: @brand-danger;
    }
    .gn-md-abstract {
      p {
        font-size: 1em;
        color: @text-muted;
        &:empty {
          display: none;
        }
      }
      address {
        margin-bottom: 5px;
      }
      .collapse-text-toggle {
        columns: @brand-primary;
      }
    }    
    .gn-md-links {
      background: 0;
      margin-top: 10px;
      border-bottom: 1px solid @list-group-border;
      padding-bottom: 10px;
      line-height: 1em;
      .btn {
        margin-right: 5px;
        .caret {
          margin-left: 3px;
        }
      }
    }
    &:hover {
      background-color: rgba(240, 240, 240, 0.5)
    }
  }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  ul.gn-resultview li.gn-grid {
    width: calc(~"100% - 15px");
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

  ul.gn-resultview li.gn-grid {
    width: calc(~"50% - 15px");
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

  ul.gn-resultview li.gn-grid {
    //width: calc(~"33% - 15px");
  }
}
