// list of LESS variables to be used in GeoNetwork
// 
// this file must be first on the list of @import

// body background (image & color)
// 
// picture from https://unsplash.com/
// 
// when there is an empty string, no background image is used.
@gn-background-image: '';
@gn-background-color: @body-bg;

// menu bar
@gn-menubar-background: @navbar-default-bg;
@gn-menubar-background-active: @navbar-default-link-active-bg;
@gn-menubar-color: @navbar-default-link-color;
@gn-menubar-color-hover: @navbar-default-link-hover-color;
@gn-menubar-border-color: @navbar-default-border;

// bottombar
@gn-bottombar-background: @navbar-default-bg;
@gn-bottombar-border-color: @navbar-default-border;
@gn-bottombar-color: @navbar-default-link-color;
@gn-bottombar-color-hover: @navbar-default-link-hover-color;

// home page
// 
// ----- topics block
@gn-topics-background-color: @well-bg;
// ----- info block
@gn-info-background-color: @body-bg;
// ----- resultcards
@gn-resultcard-background-color: @body-bg;
@gn-resultcard-title-background-color: @gray-light;

// search results page
@gn-results-background-color: @body-bg;

// metadata page
@gn-md-view-background-color: @body-bg;