/* Defined here any custom style for the view
   which has to be applied for all apps
   (ie. admin, search, login, editor). */

@gn-spacing: 10px;

//  padding
.gn-padding-top {
  padding-top: @gn-spacing !important;
}
.gn-padding-right {
  padding-right: @gn-spacing !important;
}
.gn-padding-bottom {
  padding-bottom: @gn-spacing !important;
}
.gn-padding-left {
  padding-left: @gn-spacing !important;
}
// no padding
.gn-nopadding-top {
  padding-top: 0 !important;
}
.gn-nopadding-right {
  padding-right: 0 !important;
}
.gn-nopadding-bottom {
  padding-bottom: 0 !important;
}
.gn-nopadding-left {
  padding-left: 0 !important;
}
// margin
.gn-margin-top {
  margin-top: @gn-spacing !important;
}
.gn-margin-right {
  margin-right: @gn-spacing !important;
}
.gn-margin-bottom {
  margin-bottom: @gn-spacing !important;
}
.gn-margin-left {
  margin-left: @gn-spacing !important;
}
//border
.gn-noborder-top {
  border-top-width: 0 !important;
}
.gn-noborder-right {
  border-right-width: 0 !important;
}
.gn-noborder-bottom {
  border-bottom-width: 0 !important;
}
.gn-noborder-left {
  border-left-width: 0 !important;
}

.btn-round {
  border-radius: 50%;
  padding: 11px 15px;
}
.btn-truncate {
  span {
    display: inline-block;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
  }
}
