// list of LESS variables to be used in GeoNetwork
// 
// this file must be first on the list of @import

// menu bar
@gnMenubarBackground: #f8f8f8;
@gnMenubarBackgroundActive: #e7e7e7;
@gnMenubarColor: #777;
@gnMenubarColorHover: #333;

// bottombar
@gnBottombarBackground: #f8f8f8;
@gnBottombarBorderColor: #e7e7e7;
@gnBottombarColor: #777;
@gnBottombarColorHover: #333;