<?xml version="1.0" encoding="UTF-8"?>

<strings>
	<site>Site</site>
	<name>Name</name>
	<organ>Organization</organ>
	
	<server>Server</server>
	<host>Host</host>
	<port>Port</port>
	<protocol>Protocol</protocol>

	<intranet>Intranet</intranet>
	<network>Network</network>
	<netmask>Netmask</netmask>
	
	<searchStats>Search Statistics</searchStats>

    <multilingual>متعدد اللغات إعدادات</multilingual>
    <autoDetectEnable>تمكين صناعة السيارات في الكشف عن طلب بحث لغة</autoDetectEnable>
    <requestedlanguageonly>البحث فقط في اللغة المطلوبة</requestedlanguageonly>
    <requestedlanguagesorted>نتائج البحث في اللغة المطلوبة على أعلى مرتبة</requestedlanguagesorted>
    <requestedlanguageignored>تجاهل اللغة المطلوبة في البحث</requestedlanguageignored>

	<threadedindexing>Multi-threaded Indexing</threadedindexing>
	<maxthreads>Number of processing threads</maxthreads>
	<recommendedThreads>Recommended</recommendedThreads>
	<reasonForOne>Database not tested or doesn't support</reasonForOne>
	<reasonForMore>From number of processors</reasonForMore>

	<z3950>Z39.50 Server</z3950>
	<enable>Enable</enable>

	<oai>OAI Provider</oai>
		<datesearch>Datesearch</datesearch>
		<datesearchopt>
			<dsopt label="temporal extent">1</dsopt>
			<dsopt label="modification date">2</dsopt>
		</datesearchopt>
	
		<tokentimeout>ResumptionToken Timeout </tokentimeout>
		<cachesize>Cachesize</cachesize>

	<xlinkResolver>XLink Resolver</xlinkResolver>

    <inspire>INSPIRE</inspire>
    
	<harvester>Harvesting</harvester>
	<enableEditing>Allow editing on harvested records</enableEditing>
	
	<downloadservice>Data-For-Download Service</downloadservice>
	<leave>Use metadata linkage as is - no changes to linkage</leave>
	<simple>Use GeoNetwork simple file download service (resources.get)</simple>
	<withdisclaimer>Use GeoNetwork disclaimer and constraints service (file.disclaimer)</withdisclaimer>

	<selectionmanager>Metadata Search Results</selectionmanager>
	<maxrecords>Maximum selected records</maxrecords>

	<indexoptimizer>Lucene Index Optimizer</indexoptimizer>
		<at>Run at</at>
		<atSpec>( hour of day : minute eg. 23:15 )</atSpec>
		<interval>Will run again every</interval>
		<hourintervals>
			<hour label="1 hour (not recommended)">1</hour>
			<hour label="3 hours">3</hour>
			<hour label="6 hours">6</hour>
			<hour label="12 hours">12</hour>
			<hour label="1 day">24</hour>
			<hour label="2 days">48</hour>
			<hour label="3 days">72</hour>
			<hour label="4 days">96</hour>
		</hourintervals>
		<hours>
			<hour label="0">0</hour>
			<hour label="1">1</hour>
			<hour label="2">2</hour>
			<hour label="3">3</hour>
			<hour label="4">4</hour>
			<hour label="5">5</hour>
			<hour label="6">6</hour>
			<hour label="7">7</hour>
			<hour label="8">8</hour>
			<hour label="9">9</hour>
			<hour label="10">10</hour>
			<hour label="11">11</hour>
			<hour label="12">12</hour>
			<hour label="13">13</hour>
			<hour label="14">14</hour>
			<hour label="15">15</hour>
			<hour label="16">16</hour>
			<hour label="17">17</hour>
			<hour label="18">18</hour>
			<hour label="19">19</hour>
			<hour label="20">20</hour>
			<hour label="21">21</hour>
			<hour label="22">22</hour>
			<hour label="23">23</hour>
		</hours>
		<minutes>
			<minute label="0">0</minute>
			<minute label="15">15</minute>
			<minute label="30">30</minute>
			<minute label="45">45</minute>
		</minutes>

	<csw>CSW ISO Profile</csw>
	<contactId>Contact</contactId>
	<title>Title</title>
	<abstract>Abstract</abstract>
	<fees>Fees</fees>
	<accessConstraints>Access Constraints</accessConstraints>
    <cswMetadataPublic>Inserted metadata is public</cswMetadataPublic>
    
	<clickablehyperlinks>التشعبية القابلة للنقر عليها</clickablehyperlinks>
	
	<localrating>تصنيف المحلية</localrating>
	
    <autofixing>التلقائي إصلاحات</autofixing>
	
	<proxy>Proxy</proxy>
	<use>Use</use>
	<username>Username</username>
	
	<feedback>Feedback</feedback>
	<email>EMail</email>
	<smtpHost>SMTP Host</smtpHost>
	<smtpPort>SMTP Port</smtpPort>

	<userSelfRegistration>User Self-Registration</userSelfRegistration>
	
	<removedMetadata>Removed metadata</removedMetadata>
	<dir>Directory</dir>
		
	<authentication>Authentication</authentication>
	
	<otherlogins>Allow other users to login from</otherlogins>

	<shib>Shibboleth Authentication</shib>
	<path>Path</path>
	<attributes>Shibboleth attribute mapping</attributes>
	<surname>Surname</surname>
	<firstname>Firstname</firstname>

    <metadataEnableInspireSearch>Enable search panel</metadataEnableInspireSearch>

    <metadataViews>Metadata views</metadataViews>
    <metadataEnableSimpleView>Enable simple view</metadataEnableSimpleView>
    <metadataEnableIsoView>Enable ISO view</metadataEnableIsoView>
    <metadataEnableInspireView>Enable INSPIRE view</metadataEnableInspireView>
    <metadataEnableXmlView>Enable XML view</metadataEnableXmlView>
    <metadataDefaultView>Default view</metadataDefaultView>
    <metadataSimpleView>Simple view</metadataSimpleView>
    <metadataIsoView>ISO view</metadataIsoView>
    <metadataInspireView>INSPIRE view</metadataInspireView>
    <metadataXmlView>XML view</metadataXmlView>
    <metadataAdvancedView>Advanced view</metadataAdvancedView>
	
	<metadataPrivs>Metadata privileges</metadataPrivs>
	<md.usergrouponly>Only set privileges to user's groups</md.usergrouponly>
	<!-- Buttons -->
	
	<save>Save</save>
	<refresh>Refresh</refresh>
	
	<!-- validator messages -->
	
	<validator>
		<length>
			<cannotBeEmpty>The field '{NAME}' cannot be empty</cannotBeEmpty>
			<invalidMinSize>The field '{NAME}' must be at least {VALUE} character(s) long</invalidMinSize>
			<invalidMaxSize>The field '{NAME}' must be maximum {VALUE} character(s) long</invalidMaxSize>
		</length>
		
		<integer>
			<notInt>The field '{NAME}' must be an integer</notInt>
			<invalidMinValue>The field '{NAME}' must be &gt;= {VALUE}</invalidMinValue>
			<invalidMaxValue>The field '{NAME}' must be &lt;= {VALUE}</invalidMaxValue>
		</integer>		
		
		<alphanum>
			<notAlphaNumeric>The field '{NAME}' must be alphanumeric (starting with a letter)</notAlphaNumeric>
		</alphanum>
		
		<hostname>
			<notHostName>The field '{NAME}' is not a valid host name</notHostName>
		</hostname>
		
		<url>
			<notURL>The field '{NAME}' is not a valid URL</notURL>
		</url>
		
		<ipaddress>
			<notIP>The field '{NAME}' is not a valid IP address</notIP>
		</ipaddress>
	</validator>
	
	<!-- display messages -->
	
	<cannotGet>Unable to get the system configuration</cannotGet>
	<cannotSave>Unable to save the system configuration</cannotSave>
	<saveOk>System configuration saved.</saveOk>
	
	<!-- tooltips -->
	
	<tips>
		<tip id="site.name">
			Used to identify the installation.
		</tip>
		
		<!-- server -->
		
		<tip id="server.host">
			The server's <b>host</b> and <b>port</b> are used to create URLs to
			the GeoNetwork server. For example, they are used during metadata
			editing to create resource links and when returning the server's
			capabilities during a CS/W request.
			<br/>
			<b>Please note:</b> you should use the GAST tool to reflect this
			change inside the metadata.
		</tip>
		
		<!-- intranet -->
		
		<tip id="intranet.network">
			The <b>network</b> and <b>netmask</b> parameters are used to identify
			internal connections to GeoNetwork, that is, to identify the intranet
			group.
		</tip>
		
		<!-- Z39.50 -->
		
		<tip id="z3950.enable">
			If set, during startup GeoNetwork will start the Z39.50 server component.
			This component uses the ISO23950 protocol.
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		
		<tip id="z3950.port">
			Change the Z39.50 listening port.
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
	
		<!-- oai  -->
		
		<tip id="oai.mdmode">
			Influences the behaviour of OAI when parameters from or until are supplied.
			If set to temporal extent, the temporal extent of the date described by the metadata is searched.
			If set to modification date, the date at which the metadata was last modified is searched
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		
		<tip id="oai.tokentimeout">
			The number of seconds a OAI resultset stays in the cache and can be scrolled using the OAI resumptionToken
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		
		<tip id="oai.cachesize">
			The number of OAI resultSets that can be stored in the Cache.
		</tip>
		
		<!-- CSW -->
		<tip id="csw.enable">
			If set, this will enable the CSW ISO Profile server functionality. It will allow other catalogs to harvest it.
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		<tip id="csw.contactId">
			Configure CSW ISO Profile contact for GetCapabilities operation.
		</tip>
		<tip id="csw.title">Title</tip>
		<tip id="csw.abstract">Abstract</tip>
		<tip id="csw.fees">Fees</tip>
		<tip id="csw.accessConstraints">Access constraints</tip>
		
		<!-- clickable hyperlinks -->
		
		<tip id="clickablehyperlinks.enable">
			إذا كان تعيين ، سوف يعرض وصلات الشبكة الأرضية للنقر في الفوقية.
		</tip>
		
		<!-- local rating -->
		<tip id="localrating.enable">
			إذا كان تعيين وسوف الشبكة الأرضية للمستخدم حساب التصنيفات الفوقية من هذه العقدة فقط (وليس توزيعها بين العقدتين الشبكة الأرضية الأخرى).
		</tip>		
		
        <!-- automatic fixing -->
        <tip id="autofixing.enable">
            عند تمكين الشبكة الأرضية ينطبق تلقائيا إصلاحات معينة عند حفظ البيانات الوصفية.
        </tip>
                    <!-- proxy -->
		
		<tip id="proxy.use">
			If set, GeoNetwork will use the provided proxy parameters when accessing
			remote nodes. For example, this is used during the harvesting.
		</tip>
		
		<!-- feedback -->
		
		<tip id="feedback.email">
			This is the administrator's email address used to send feedback.
		</tip>
		
		<tip id="feedback.mail.host">
			The SMTP <b>host</b> and <b>port</b> parameters are used to send emails
			to GeoNetwork's users when a resource is downloaded.
		</tip>
		
		<!-- removed metadata -->
		
		<tip id="removedMd.dir">
			Directory used to store metadata (in MEF format) when they are deleted.
		</tip>

		<!-- userSelfRegistration -->
		
		<tip id="userSelfRegistration.enable">
			If set, users will be able to register themselves. Self-registered
			users are assigned to the GUEST group. An email is sent to the
			user with their username and password enclosed using the feedback
			email information.
			<br/>
		</tip>
		
		<tip id="downloadservice.simple">
				If metadata protocol is 'Data for download' then this service lets the user download the resource from GeoNetwork with no further user input - it is the simplest download interface
		</tip>
		<tip id="downloadservice.withdisclaimer">
				If metadata protocol is 'Data for download' then this service lets the user download the resource from GeoNetwork after they have agreed to accept any metadata constraints/generic disclaimer. The resource is bundled into a zip archive with an html description of the metadata constraints and a snapshot of the metadata record (as a MEF).
		</tip>
		<tip id="downloadservice.leave">
				Selecting this option means that GeoNetwork will not handle file downloads.
		</tip>

        <!-- multilingual settings -->
        <tip id="autodetect.enable">
            إذا مجموعة، ويتم الكشف عن تلقائيا لغة البحث. لاحظ أن هذا لا يعمل بشكل جيد جدا لشروط البحث القصير.
        </tip>
        <tip id="requestedlanguage.only">
            عودة فقط نتائج البحث في اللغة المطلوبة.
        </tip>
        <tip id="requestedlanguage.sorted">
            ترجع نتائج البحث في اللغة المطلوبة على القمة.
        </tip>
        <tip id="requestedlanguage.ignored">
            تجاهل اللغة المطلوبة لنتائج البحث.
        </tip>

		<!-- xlinkResolver -->

		<tip id="xlinkResolver.enable">
			If set, XLinks to metadata fragments in records will be resolved.
		</tip>

		<!-- searchStats -->

		<tip id="searchStats.enable">
			If set, Statistics on searches will be collected and stored in the database.
		</tip>
	</tips>
	<data.dataDir>Data directory:</data.dataDir>
	<data.resources>Resources directory:</data.resources>
	<data.configDir>Configuration directory:</data.configDir>
	<data.schemaPluginsDir>Schema plugin directory:</data.schemaPluginsDir>
	<data.subversionPath>Subversion directory:</data.subversionPath>
	<data.codeListDir>Thesaurus directory:</data.codeListDir>
	<xslt.factory>XSLT factory:</xslt.factory>
	<java.vm.name>JVM name:</java.vm.name>
	<java.vm.vendor>JVM vendor:</java.vm.vendor>
	<java.version>JVM version:</java.version>
	<os.arch>System architecture:</os.arch>
	<os.name>System name:</os.name>
	<mem.total>Total memory:</mem.total>
	<mem.free>Total free memory:</mem.free>
	<index.size.lucene>Lucene index size (ko):</index.size.lucene>
	<index.size>Total index size (ko):</index.size>
	<index.path>Index directory:</index.path>
	<index>Lucene index information</index>
	<main>System information</main>
	<catalogue>Catalogue information</catalogue>
	<database>Database information</database>
	<system>Catalogue configuration</system>
	<siteId>Catalogue identifier:</siteId>
	<version>Version:</version>
	<subVersion>Sub-version:</subVersion>
	<index.lucene.config>Lucene configuration:</index.lucene.config>
	<db.url>Database URL:</db.url>	
	<db.openattempt>Database Status:</db.openattempt>	
	<db.numactive>Database connections in use:</db.numactive>	
	<db.numidle>Database connections available:</db.numidle>	
	<db.maxactive>Maximum number of database connections:</db.maxactive>	
	<db.statserror>Database statistics:</db.statserror>
    <sequentialExecution>ThreadPool Sequential Execution Mode: </sequentialExecution>
</strings>

