<?xml version="1.0" encoding="UTF-8"?>

<strings>
	<username>Utilisateur</username>
	<removedMetadata>Sauvegarde des métadonnées lors de la suppression</removedMetadata>
	<dir>Répertoire</dir>
	<ldap>Authentification LDAP</ldap>
	<defProfile>Profil par défaut</defProfile>
    <uidAttr>Uid attribute</uidAttr>
	<login>Nom d'utilisateur</login>
	<userDN>User DN</userDN>
	<distNames>Distinguished names</distNames>
	<baseDN>Base</baseDN>
	<usersDN>Utilisateur</usersDN>
	<userAttribs>User's attributes</userAttribs>
	<password>Mot de passe</password>
	<profile>Profil</profile>
    <group>Groupe</group>
    <defGroup>Groupe par défaut</defGroup>
	<subtree>Search Subtree</subtree>
	<bindInfo>LDAP Bind Credentials</bindInfo>
	<anonBind>Anonymous Bind</anonBind>
	<bindDN>Bind DN</bindDN>
	<bindPW>Bind Password</bindPW>
	
	<tip id="ldap.anonBind">
		If set, the server does not need a valid set of credentials to connect to LDAP.
	</tip>
	<tip id="ldap.bindDN">
		A valid user to use on initial connection to LDAP.
	</tip>
	<tip id="ldap.bindPW">
		Password to use for initial connection to LDAP.
	</tip>
	<tip id="ldap.subtree">
		When set, searches for users in the entire subtree rooted at the location specified by the distinguished names.
	</tip>
	
	<site>Site</site>
	<name>Nom</name>
	<organ>Organisme</organ>
	<csw>Serveur CSW Profil ISO</csw>
	<contactId>Contact</contactId>
	<title>Titre</title>
	<abstract>Résumé</abstract>
	<fees>Frais</fees>
	<accessConstraints>Constraintes d'accès</accessConstraints>
    <cswMetadataPublic>Métadonnées insérées sont publiques</cswMetadataPublic>
	
	<userSelfRegistration>Enregistrement libre des internautes</userSelfRegistration>
	<shib>Authentification via Shibboleth </shib>
	<path>Chemin</path>
	<attributes>Attributs de configuration Shibboleth</attributes>
	<surname>Nom</surname>
	<firstname>Prénom</firstname>
	
	<threadedindexing>Indexation Multi-threaded</threadedindexing>
	<maxthreads>Nombre de processus</maxthreads>
	<recommendedThreads>Recommandé</recommendedThreads>
	<reasonForOne>Fonction non testée ou non supportée pour la base de données</reasonForOne>
	<reasonForMore>A partir du nombre de processeurs</reasonForMore>

    <multilingual>paramètres multilingues</multilingual>
    <autoDetectEnable>Activer l'auto-détection langage de requête de recherche</autoDetectEnable>
    <requestedlanguageonly>Rechercher uniquement dans la langue demandée</requestedlanguageonly>
    <requestedlanguagesorted>Résultats de la recherche dans la langue demandée triés sur le dessus</requestedlanguagesorted>
    <requestedlanguageignored>Ignorer la langue demandée à la recherche</requestedlanguageignored>

	<server>Serveur</server>
	<host>Hôte</host>
	<port>Port</port>
    <protocol>Protocol</protocol>

	<searchStats>Statistique sur les recherches</searchStats>

	<authentication>Authentification</authentication>
	
	<loginuses>Nom d'utilisateur utilisé</loginuses>
	<otherlogins>Autoriser les connexions d'autres utilisateurs depuis</otherlogins>

	<geonetworkdb>Authentification via GeoNetwork</geonetworkdb>
		
	<intranet>Intranet</intranet>
	<network>Réseau</network>
	<netmask>Masque de sous-réseau</netmask>

	<selectionmanager>Résultat de recherches</selectionmanager>
	<maxrecords>Nombre maximum d'items sélectionnés</maxrecords>

	<indexoptimizer>Optimisation de l'index Lucene</indexoptimizer>
		<at>Lancer à </at>
		<atSpec>( heure : minute eg. 23:15 )</atSpec>
		<interval>Sera relancé tous les </interval>
		<hourintervals>
			<hour label="1 heure (non recommandé)">1</hour>
			<hour label="3 heures">3</hour>
			<hour label="6 heures">6</hour>
			<hour label="12 heures">12</hour>
			<hour label="1 jour">24</hour>
			<hour label="2 jours">48</hour>
			<hour label="3 jours">72</hour>
			<hour label="4 jours">96</hour>
		</hourintervals>
		<hours>
			<hour label="0">0</hour>
			<hour label="1">1</hour>
			<hour label="2">2</hour>
			<hour label="3">3</hour>
			<hour label="4">4</hour>
			<hour label="5">5</hour>
			<hour label="6">6</hour>
			<hour label="7">7</hour>
			<hour label="8">8</hour>
			<hour label="9">9</hour>
			<hour label="10">10</hour>
			<hour label="11">11</hour>
			<hour label="12">12</hour>
			<hour label="13">13</hour>
			<hour label="14">14</hour>
			<hour label="15">15</hour>
			<hour label="16">16</hour>
			<hour label="17">17</hour>
			<hour label="18">18</hour>
			<hour label="19">19</hour>
			<hour label="20">20</hour>
			<hour label="21">21</hour>
			<hour label="22">22</hour>
			<hour label="23">23</hour>
		</hours>
		<minutes>
			<minute label="0">0</minute>
			<minute label="15">15</minute>
			<minute label="30">30</minute>
			<minute label="45">45</minute>
		</minutes>

	<z3950>Z39.50 Serveur</z3950>
	<enable>Activé</enable>

	<oai>Point d'accès OAI</oai>
	<datesearch>Recherche par date</datesearch>
	<datesearchopt>
		<dsopt label="Étendue temporelle">1</dsopt>
		<dsopt label="Date de modification">2</dsopt>
	</datesearchopt>
	
	<tokentimeout>Délai d'expiration du jeton de reprise (ResumptionToken)</tokentimeout>
	<cachesize>Taille du cache</cachesize>

	<xlinkResolver>Résolution des XLink</xlinkResolver>

    <inspire>INSPIRE</inspire>
	
	<harvester>Moissonnage</harvester>
	<enableEditing>Autoriser l'édition des métadonnées moissonnées</enableEditing>
	
	<downloadservice>Service de téléchargement</downloadservice>
	<leave>Utiliser les liens de la section distribution - sans changement</leave>
	<simple>Utiliser le service de téléchargement GeoNetwork (resources.get)</simple>
	<withdisclaimer>Utiliser le service analysant les contraintes d'accès GeoNetwork (file.disclaimer)</withdisclaimer>

	<feedback>Alerte par email</feedback>
	<email>Email</email>
	<smtpHost>Serveur SMTP</smtpHost>
	<smtpPort>Port SMTP</smtpPort>

	<clickablehyperlinks>Hyperliens cliquables</clickablehyperlinks>

	<localrating>Evaluation Local</localrating>
    <autofixing>Correction automatique</autofixing>
	
	<proxy>Proxy</proxy>
	<use>Activé</use>

    <metadataEnableInspireSearch>Activer le panneau de recherche</metadataEnableInspireSearch>

    <metadataViews>Affichage des métadonnées</metadataViews>
    <metadataEnableSimpleView>Activer la vue simple</metadataEnableSimpleView>
    <metadataEnableIsoView>Activer la vue ISO</metadataEnableIsoView>
    <metadataEnableInspireView>Activer la vue INSPIRE</metadataEnableInspireView>
    <metadataEnableXmlView>Activer la vue XML</metadataEnableXmlView>
    <metadataDefaultView>Vue par défaut</metadataDefaultView>
    <metadataSimpleView>Vue simple</metadataSimpleView>
    <metadataIsoView>Vue ISO</metadataIsoView>
    <metadataInspireView>Vue INSPIRE</metadataInspireView>
    <metadataXmlView>Vue XML</metadataXmlView>
    <metadataAdvancedView>Vue avancée</metadataAdvancedView>
	
	<metadataPrivs>Privilèges des métadonnées</metadataPrivs>
	<md.usergrouponly>Définir les privilèges uniquement pour les groupes de l'utilisateur</md.usergrouponly>
	<!-- Buttons -->

	<save>Sauvegarder</save>
	<refresh>Rafraîchir</refresh>

	<!-- validator messages -->

	<validator>
		<length>
			<cannotBeEmpty>
				Le champ '{NAME}' ne peut être vide
			</cannotBeEmpty>
			<invalidMinSize>
				Le champ '{NAME}' doit avoir au moins {VALUE}
				caractère(s)
			</invalidMinSize>
			<invalidMaxSize>
				Le champ '{NAME}' doit avoir au maximum {VALUE}
				caractère(s)
			</invalidMaxSize>
		</length>

		<integer>
			<notInt>Le champ '{NAME}' doit être un entier</notInt>
			<invalidMinValue>
				Le champ '{NAME}' doit être &gt;= {VALUE}
			</invalidMinValue>
			<invalidMaxValue>
				Le champ '{NAME}' doit être &lt;= {VALUE}
			</invalidMaxValue>
		</integer>

		<alphanum>
			<notAlphaNumeric>
				Le champ '{NAME}' doit être alphanumérique (commençant
				par une lettre)
			</notAlphaNumeric>
		</alphanum>

		<hostname>
			<notHostName>
				Le champ '{NAME}' n'est pas un nom d&apos;hôte valide
			</notHostName>
		</hostname>

		<url>
			<notURL>
				Le champ '{NAME}' n&apos;est pas une URL valide
			</notURL>
		</url>

		<ipaddress>
			<notIP>
				Le champ '{NAME}' n&apos;est pas une adresse IP valide
			</notIP>
		</ipaddress>
	</validator>

	<!-- display messages -->

	<cannotGet>
		Impossible d&apos;obtenir la configuration du système
	</cannotGet>
	<cannotSave>
		Impossible de sauver la configuration du système
	</cannotSave>
	<saveOk>Configuration du catalogue sauvegardée.</saveOk>

	<!-- tooltips -->

	<tips>
		<tip id="site.siteId">
			Identifiant du catalogue.
			Après changement de l'identifiant, il est nécessaire de mettre à jour l'index et redéfinir le logo
			à partir de l'interface d'administration.
		</tip>
		
		<tip id="site.name">Used to identify the installation.</tip>

		<!-- server -->

		<tip id="server.host">
			The server's
			<b>host</b>
			and
			<b>port</b>
			are used to create URLs to the GeoNetwork server. For
			example, they are used during metadata editing to create
			resource links and when returning the server's capabilities
			during a CS/W request.
			<br />
			<b>Please note:</b>
			you should use the GAST tool to reflect this change inside
			the metadata.
		</tip>

		<!-- intranet -->

		<tip id="intranet.network">
			The
			<b>network</b>
			and
			<b>netmask</b>
			parameters are used to identify internal connections to
			GeoNetwork, that is, to identify the intranet group.
		</tip>

		<!-- Z39.50 -->

		<tip id="z3950.enable">
			If set, during startup GeoNetwork will start the Z39.50
			server component. This component uses the ISO23950 protocol.
			<br />
			<b>Please note:</b>
			restart GeoNetwork to make this change active.
		</tip>

		<tip id="z3950.port">
			Change the Z39.50 listening port.
			<br />
			<b>Please note:</b>
			restart GeoNetwork to make this change active.
		</tip>
	
		<!-- oai  -->
		
		<tip id="oai.mdmode">
			Influences the behaviour of OAI when parameters from or until are supplied.
			If set to temporal extent, the temporal extent of the date described by the metadata is searched.
			If set to modification date, the date at which the metadata was last modified is searched
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		
		<tip id="oai.tokentimeout">
			The number of seconds a OAI resultset stays in the cache and can be scrolled using the OAI resumptionToken
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		
		<tip id="oai.cachesize">
			The number of OAI resultSets that can be stored in the Cache.
		</tip>
		
		<!-- clickable hyperlinks -->
		
		<tip id="clickablehyperlinks.enable">
			Si défini, GeoNetwork permet de trouver des hyperliens cliquables dans les métadonnées.
		</tip>
		
		<!-- local rating -->
		<tip id="localrating.enable">
			Si défini, GeoNetwork va calculer les cotes de l'utilisateur pour les métadonnées de ce nœud seulement (pas répartis entre les autres nœuds GeoNetwork).
		</tip>
		
		<!-- automatic fixes -->
		<tip id="autofixing.enable">
            Lorsqu'elle est activée, GeoNetwork s'applique automatiquement les correctifs de certains lorsque vous enregistrez des métadonnées.
        </tip>

		<!-- proxy -->

		<tip id="proxy.use">
			If set, GeoNetwork will use the provided proxy parameters
			when accessing remote nodes. For example, this is used
			during the harvesting.
		</tip>

		<!-- feedback -->

		<tip id="feedback.email">
			This is the administrator's email address used to send
			feedback.
		</tip>

		<tip id="feedback.mail.host">
			The SMTP
			<b>host</b>
			and
			<b>port</b>
			parameters are used to send emails to GeoNetwork's users
			when a resource is downloaded.
		</tip>
		<tip id="downloadservice.simple">
				If metadata protocol is 'Data for download' then this service lets the user download the resource from GeoNetwork with no further user input - it is the simplest download interface
		</tip>
		<tip id="downloadservice.withdisclaimer">
				If metadata protocol is 'Data for download' then this service lets the user download the resource from GeoNetwork after they have agreed to accept any metadata constraints/generic disclaimer. The resource is bundled into a zip archive with an html description of the metadata constraints and a snapshot of the metadata record (as a MEF).
		</tip>
		<tip id="downloadservice.leave">
				Selecting this option means that GeoNetwork will not handle file downloads.
		</tip>

		<!-- xlinkResolver -->

		<tip id="xlinkResolver.enable">
			If set, XLinks to metadata fragments in records will be resolved.
		</tip>

		<!-- searchStats -->

		<tip id="searchStats.enable">
			If set, Statistics on searches will be collected and stored in the database.
		</tip>

        <!-- multilingual settings -->
        <tip id="autodetect.enable">
            Si ensemble, la langue de recherche est automatiquement détecté. Notez que cela ne fonctionne pas très bien des termes de recherche de courte durée.
        </tip>
        <tip id="requestedlanguage.only">
            Seulement retourner des résultats de recherche dans la langue demandée.
        </tip>
        <tip id="requestedlanguage.sorted">
            Retour des résultats de recherche dans la langue demandée sur le dessus.
        </tip>
        <tip id="requestedlanguage.ignored">
            Ignorer la langue demandée pour les résultats de recherche.
        </tip>

    </tips>
	
	<data.dataDir>Répertoire des données :</data.dataDir>
	<data.resources>Répertoire des ressources (eg. logos):</data.resources>
	<data.configDir>Répertoire de la configuration locale :</data.configDir>
	<data.schemaPluginsDir>Répertoire des standards :</data.schemaPluginsDir>
	<data.subversionPath>Répertoire du dépôt de gestion des versions :</data.subversionPath>
	<data.codeListDir>Répertoire des thesaurus :</data.codeListDir>
	<xslt.factory>XSLT factory :</xslt.factory>
	<java.vm.name>JVM nom :</java.vm.name>
	<java.vm.vendor>JVM vendeur :</java.vm.vendor>
	<java.version>JVM version :</java.version>
	<os.arch>Système / architecture :</os.arch>
	<os.name>Système / nom :</os.name>
	<mem.total>Mémoire totale :</mem.total>
	<mem.free>Mémoire disponible :</mem.free>
	<index.size.lucene>Taille de l'index Lucene (ko):</index.size.lucene>
	<index.size>Taille totale de l'index (ko):</index.size>
	<index.path>Répertoire de l'index :</index.path>
	<index>Information sur l'index Lucene</index>
	<main>Information sur le système</main>
	<catalogue>Information sur le catalogue</catalogue>
	<database>Information sur la base de données</database>
	<system>Identification du catalogue</system>
	<siteId>Identifiant du catalogue :</siteId>
	<version>Version :</version>
	<subVersion>Sous-version :</subVersion>
	<index.lucene.config>Configuration Lucene :</index.lucene.config>
	<db.url>URL de connexion :</db.url>
	<db.openattempt>Status :</db.openattempt>	
  <db.numactive>Connexions utilisées :</db.numactive>	
  <db.numidle>Connexions disponibles :</db.numidle>	
  <db.maxactive>Nombre maximum de connexions :</db.maxactive>	
  <db.statserror>Statistique :</db.statserror>
    <sequentialExecution>ThreadPool Sequential Execution Mode: </sequentialExecution>
</strings>

