<?xml version="1.0" encoding="UTF-8"?><strings>
<setting label="System configuration" name="system"/>
<setting label="Language detection" name="autodetect"/>
<setting label="Activer l'auto-détection langage de requête de recherche" name="system/autodetect/enable">
			Si ensemble, la langue de recherche est automatiquement détecté. Notez que cela ne fonctionne pas très bien des termes de recherche de courte durée.
		</setting>
<setting label="Correction automatique" name="autofixing"/>
<setting label="Activé" name="system/autofixing/enable">
			Lorsqu'elle est activée, GeoNetwork s'applique automatiquement les correctifs de certains lorsque vous enregistrez des métadonnées.
		</setting>
<setting label="Hyperliens cliquables" name="clickablehyperlinks"/>
<setting label="Activé" name="system/clickablehyperlinks/enable">
			Si défini, GeoNetwork permet de trouver des hyperliens cliquables dans les métadonnées.
		</setting>
<setting label="Serveur CSW Profil ISO" name="csw"/>
<setting label="Contact" name="system/csw/contactId"/>
<setting label="Activé" name="system/csw/enable"/>
<setting label="Métadonnées insérées sont publiques" name="system/csw/metadataPublic"/>
<setting label="Service de téléchargement" name="downloadservice"/>
<setting label="Service de téléchargement" name="system/downloadservice"/>
<setting label="Utiliser les liens de la section distribution - sans changement" name="system/downloadservice/leave">
				Selecting this option means that GeoNetwork will not handle file downloads.
		</setting>
<setting label="Utiliser le service de téléchargement GeoNetwork (resources.get)" name="system/downloadservice/simple">
				If metadata protocol is 'Data for download' then this service lets the user download the resource from GeoNetwork with no further user input - it is the simplest download interface
		</setting>
<setting label="Utiliser le service analysant les contraintes d'accès GeoNetwork (file.disclaimer)" name="system/downloadservice/withdisclaimer">
				If metadata protocol is 'Data for download' then this service lets the user download the resource from GeoNetwork after they have agreed to accept any metadata constraints/generic disclaimer. The resource is bundled into a zip archive with an html description of the metadata constraints and a snapshot of the metadata record (as a MEF).
		</setting>
<setting label="Alerte par email" name="feedback"/>
<setting label="Email" name="system/feedback/email">
			This is the administrator's email address used to send
			feedback.
		</setting>
<setting label="Serveur SMTP" name="system/feedback/mailServer/host">
			The SMTP
			host
			and
			port
			parameters are used to send emails to GeoNetwork's users
			when a resource is downloaded.
		</setting>
<setting label="Port SMTP" name="system/feedback/mailServer/port"/>
<setting name="system/feedback/mailServer/ssl" label="Activé SSL"/>
<setting name="system/feedback/mailServer/username" label="Nom d'utilisateur"/>
<setting name="system/feedback/mailServer/password" label="Mot de passe"/>
<setting label="Moissonnage" name="harvester"/>
<setting label="Autoriser l'édition des métadonnées moissonnées" name="system/harvester/enableEditing"/>
<setting label="Metadata / ISO19139 / Nil reason attribute with held" name="hidewithheldelements"/>
<setting label="Cacher les éléments nécessitant autorisation (ie. withheld)" name="system/hidewithheldelements/enable"/>
<setting label="Conserver les éléments (sinon ils sont supprimés)" name="system/hidewithheldelements/keepMarkedElement"/>
<indexoptimizer>Optimisation de l'index Lucene</indexoptimizer>
<at>Lancer à </at>
<atSpec>(heure : minute eg. 23:15)</atSpec>
<interval>Sera relancé tous les </interval>
<hourintervals>
<hour label="1 hour (not recommended)">1</hour>
<hour label="3 hours">3</hour>
<hour label="6 hours">6</hour>
<hour label="12 hours">12</hour>
<hour label="1 day">24</hour>
<hour label="2 days">48</hour>
<hour label="3 days">72</hour>
<hour label="4 days">96</hour>
</hourintervals>
<hours>
<hour label="0">0</hour>
<hour label="1">1</hour>
<hour label="2">2</hour>
<hour label="3">3</hour>
<hour label="4">4</hour>
<hour label="5">5</hour>
<hour label="6">6</hour>
<hour label="7">7</hour>
<hour label="8">8</hour>
<hour label="9">9</hour>
<hour label="10">10</hour>
<hour label="11">11</hour>
<hour label="12">12</hour>
<hour label="13">13</hour>
<hour label="14">14</hour>
<hour label="15">15</hour>
<hour label="16">16</hour>
<hour label="17">17</hour>
<hour label="18">18</hour>
<hour label="19">19</hour>
<hour label="20">20</hour>
<hour label="21">21</hour>
<hour label="22">22</hour>
<hour label="23">23</hour>
</hours>
<minutes>
<minute label="0">0</minute>
<minute label="15">15</minute>
<minute label="30">30</minute>
<minute label="45">45</minute>
</minutes>
<setting label="Optimisation de l'index Lucene" name="indexoptimizer"/>
<setting label="Hour" name="system/indexoptimizer/at/hour"/>
<setting label="Sec" name="system/indexoptimizer/at/sec"/>
<setting label="Minutes" name="system/indexoptimizer/at/min"/>
<setting label="Activé" name="system/indexoptimizer/enable"/>
<setting label="Sera relancé tous les " name="system/indexoptimizer/interval"/>
<setting label="Day" name="system/indexoptimizer/interval/day"/>
<setting label="Hour" name="system/indexoptimizer/interval/hour"/>
<setting label="Min" name="system/indexoptimizer/interval/min"/>
<setting label="INSPIRE" name="inspire"/>
<setting label="Activé" name="system/inspire/enable"/>
<setting label="Activer le panneau de recherche" name="system/inspire/enableSearchPanel"/>
<setting label="Intranet" name="intranet"/>
<setting label="Réseau" name="system/intranet/netmask"/>
<setting label="Masque de sous-réseau" name="system/intranet/network">
			The
			network
			and
			netmask
			parameters are used to identify internal connections to
			GeoNetwork, that is, to identify the intranet group.
		</setting>
<setting label="Evaluation Local" name="localrating"/>
<setting label="Activé" name="system/localrating/enable">
			Si défini, GeoNetwork va calculer les cotes de l'utilisateur pour les métadonnées de ce nœud seulement (pas répartis entre les autres nœuds GeoNetwork).
		</setting>
<setting label="Affichage des métadonnées" name="metadata"/>
<setting label="Vue par défaut" name="system/metadata/defaultView"/>
<setting label="Vue INSPIRE" name="system/metadata/enableInspireView"/>
<setting label="Vue ISO" name="system/metadata/enableIsoView"/>
<setting label="Vue simple" name="system/metadata/enableSimpleView"/>
<setting label="Vue XML" name="system/metadata/enableXmlView"/>
<setting label="Privilèges des métadonnées" name="metadataprivs"/>
<setting label="Définir les privilèges uniquement pour les groupes de l'utilisateur" name="system/metadataprivs/usergrouponly"/>
<setting label="Point d'accès OAI" name="oai"/>
<setting label="Taille du cache" name="system/oai/cachesize">
			The number of OAI resultSets that can be stored in the Cache.
		</setting>
<setting label="Recherche par date" name="system/oai/mdmode">
			Influences the behaviour of OAI when parameters from or until are supplied.
			If set to temporal extent, the temporal extent of the date described by the metadata is searched.
			If set to modification date, the date at which the metadata was last modified is searched
			
			Please note: restart GeoNetwork to make this change active.
		</setting>
<datesearchopt>
<dsopt label="Étendue temporelle">1</dsopt>
<dsopt label="Date de modification">2</dsopt>
</datesearchopt>
<setting label="Délai d'expiration du jeton de reprise (ResumptionToken)" name="system/oai/tokentimeout">
			The number of seconds a OAI resultset stays in the cache and can be scrolled using the OAI resumptionToken
			
			Please note: restart GeoNetwork to make this change active.
		</setting>
<setting label="Proxy" name="proxy"/>
<setting label="Hôte" name="system/proxy/host">
			If set, GeoNetwork will use the provided proxy parameters
			when accessing remote nodes. For example, this is used
			during the harvesting.
		</setting>
<setting label="Password" name="system/proxy/password"/>
<setting label="Port" name="system/proxy/port"/>
<setting label="Activé" name="system/proxy/use"/>
<setting label="Utilisateur" name="system/proxy/username"/>
<setting label="Sauvegarde des métadonnées lors de la suppression" name="removedMetadata"/>
<setting label="Répertoire" name="system/removedMetadata/dir"/>

    <setting name="system/requestedLanguage/ignorechars" label="Characters to ignore during indexing"/>
<requestedlanguageonly>Search only in requested language</requestedlanguageonly>
<requestedlanguage_offonly>All documents in all languages (No
                preferences)</requestedlanguage_offonly>
<requestedlanguageprefer_locale>Prefer documents with translations requested
                language</requestedlanguageprefer_locale>
<requestedlanguageprefer_docLocale>Prefer documents whose language is the requested
                language</requestedlanguageprefer_docLocale>
<requestedlanguage_localeonly>Translations in requested
                language</requestedlanguage_localeonly>
<requestedlanguage_docLocaleonly>Document language is the requested
                language</requestedlanguage_docLocaleonly>
<requestedlanguage_prefer_ui_locale>Prefer documents having translations in the UI language</requestedlanguage_prefer_ui_locale>
<requestedlanguage_only_ui_locale>Only documents having translations in the UI language</requestedlanguage_only_ui_locale>
<requestedlanguage_prefer_ui_docLocale>Prefer documents having the same language as the UI language</requestedlanguage_prefer_ui_docLocale>
<requestedlanguage_only_ui_docLocale>Only documents having the same language as the UI language</requestedlanguage_only_ui_docLocale>


    <setting label="Search &amp; language" name="requestedLanguage"/>
<setting label="Rechercher uniquement dans la langue de la requête" name="system/requestedLanguage/only"/>
<setting label="Résultats de la recherche dans la langue demandée triés sur le dessus" name="system/requestedLanguage/sorted"/>
<setting label="" name="system/requestedLanguage/ignored"/>
<setting label="Statistique sur les recherches" name="searchStats"/>
<setting label="Activé" name="system/searchStats/enable">
			If set, Statistics on searches will be collected and stored in the database.
		</setting>
<setting label="Metadata Search Results" name="selectionmanager"/>
<setting label="Nombre maximum d'items sélectionnés" name="system/selectionmanager/maxrecords"/>
<setting label="Catalog server" name="server"/>
<setting label="Serveur" name="system/server"/>
<setting label="Hôte" name="system/server/host">
			The server's
			host
			and
			port
			are used to create URLs to the GeoNetwork server. For
			example, they are used during metadata editing to create
			resource links and when returning the server's capabilities
			during a CS/W request.
			
			Please note:
			you should use the GAST tool to reflect this change inside
			the metadata.
		</setting>
<setting label="Port" name="system/server/port"/>
<setting label="Protocole préféré" name="system/server/protocol"/>
<setting label="Port sécurisé" name="system/server/securePort"/>
<setting label="Authentification via Shibboleth " name="shib"/>
<setting label="Attributs de configuration Shibboleth" name="system/shib/attrib"/>
<setting label="Default group" name="system/shib/defaultGroup"/>
<setting label="Chemin" name="system/shib/path"/>
<setting label="Email" name="system/shib/email"/>
<setting label="Utilisateur" name="system/shib/username"/>
<setting label="Nom" name="system/shib/surname"/>
<setting label="Prénom" name="system/shib/firstname"/>
<setting label="Profile" name="system/shib/profile"/>
<setting label="Activé" name="system/shib/use"/>
<setting label="Site" name="site"/>
<setting label="Nom" name="system/site/name">Used to identify the installation.</setting>
<setting label="Organisme" name="system/site/organization"/>
<setting label="Site" name="system/site/siteId">
			Identifiant du catalogue.
			Après changement de l'identifiant, il est nécessaire de mettre à jour l'index et redéfinir le logo
			à partir de l'interface d'administration.
		</setting>
<recommendedThreads>Recommandé</recommendedThreads>
<reasonForOne>Fonction non testée ou non supportée pour la base de données</reasonForOne>
<reasonForMore>A partir du nombre de processeurs</reasonForMore>
<setting label="Indexing" name="threadedindexing"/>
<setting label="Nombre de processus" name="system/threadedindexing/maxthreads"/>
<setting label="Enregistrement libre des internautes" name="userSelfRegistration"/>
<setting label="Activé" name="system/userSelfRegistration/enable"/>
<setting label="Résolution des XLink" name="xlinkResolver"/>
<setting label="Activé" name="system/xlinkResolver/enable">
			If set, XLinks to metadata fragments in records will be resolved.
		</setting>
<setting label="Z39.50 Serveur" name="z3950"/>
<setting label="Activé" name="system/z3950/enable">
			If set, during startup GeoNetwork will start the Z39.50
			server component. This component uses the ISO23950 protocol.
			
			Please note:
			restart GeoNetwork to make this change active.
		</setting>
<setting label="Port" name="system/z3950/port">
			Change the Z39.50 listening port.
			
			Please note:
			restart GeoNetwork to make this change active.
		</setting>
<setting name="system/site/siteId">Site</setting>
<setting name="system/platform/version">Version :</setting>
<setting name="system/platform/subVersion">Sous-version :</setting>
<setting label="Subversion repository identifier" name="system/site/svnUuid"/>
<csw>Serveur CSW Profil ISO</csw>
<contactId>Contact</contactId>
<title>Titre</title>
<abstract>Résumé</abstract>
<fees>Frais</fees>
<accessConstraints>Contraintes d'accès</accessConstraints>
<cswMetadataPublic>Métadonnées insérées sont publiques</cswMetadataPublic>
<multilingual>paramètres multilingues</multilingual>
<autoDetectEnable>Activer l'auto-détection langage de requête de recherche</autoDetectEnable>
<dir>Répertoire</dir>
<authentication>Authentification</authentication>
<otherlogins>Autoriser les connexions d'autres utilisateurs depuis</otherlogins>
<shib>Authentification via Shibboleth </shib>
<metadataEnableInspireSearch>Activer le panneau de recherche</metadataEnableInspireSearch>
<metadataViews>Affichage des métadonnées</metadataViews>
<metadataEnableSimpleView>Activer la vue simple</metadataEnableSimpleView>
<metadataEnableIsoView>Activer la vue ISO</metadataEnableIsoView>
<metadataEnableInspireView>Activer la vue INSPIRE</metadataEnableInspireView>
<metadataEnableXmlView>Activer la vue XML</metadataEnableXmlView>
<metadataDefaultView>Vue par défaut</metadataDefaultView>
<metadataSimpleView>Vue simple</metadataSimpleView>
<metadataIsoView>Vue ISO</metadataIsoView>
<metadataInspireView>Vue INSPIRE</metadataInspireView>
<metadataXmlView>Vue XML</metadataXmlView>
<metadataAdvancedView>Vue avancée</metadataAdvancedView>
<save>Sauvegarder</save>
<refresh>Rafraîchir</refresh>
<tips/>
<data.dataDir>Répertoire des données :</data.dataDir>
<data.resources>Répertoire des ressources (eg. logos):</data.resources>
<data.configDir>Répertoire de la configuration locale :</data.configDir>
<data.schemaPluginsDir>Répertoire des standards :</data.schemaPluginsDir>
<data.subversionPath>Répertoire du dépôt de gestion des versions :</data.subversionPath>
<data.codeListDir>Répertoire des thesaurus :</data.codeListDir>
<xslt.factory>XSLT factory :</xslt.factory>
<java.vm.name>JVM nom :</java.vm.name>
<java.vm.vendor>JVM vendeur :</java.vm.vendor>
<java.version>JVM version :</java.version>
<os.arch>Système / architecture :</os.arch>
<os.name>Système / nom :</os.name>
<mem.total>Mémoire totale :</mem.total>
<mem.free>Mémoire disponible :</mem.free>
<index.size.lucene>Taille de l'index Lucene (ko):</index.size.lucene>
<index.size>Taille totale de l'index (ko):</index.size>
<index.path>Répertoire de l'index :</index.path>
<index>Information sur l'index Lucene</index>
<main>Information sur le système</main>
<catalogue>Information sur le catalogue</catalogue>
<database>Information sur la base de données</database>
<index.lucene.config>Configuration Lucene :</index.lucene.config>
<db.url>URL de connexion :</db.url>
<db.openattempt>Status :</db.openattempt>
<db.numactive>Connexions utilisées :</db.numactive>
<db.numidle>Connexions disponibles :</db.numidle>
<db.maxactive>Nombre maximum de connexions :</db.maxactive>
<db.statserror>Statistique :</db.statserror>
<sequentialExecution>ThreadPool Sequential Execution Mode: </sequentialExecution>
</strings>
