<div data-ng-controller="InspireConformityController">

    <fieldset>
        <legend data-translate="">conformity</legend>

        <div class="form-group">
            <label class="col-xs-3 control-label"><span data-translate="">updateElement</span>: </label>

            <div class="col-xs-9">
                <div data-ie9-select
                     data-options="data.conformity.allConformanceReports"
                     data-change="updateSelectedConformity()"
                     data-value="conformanceResultRef" data-title-func="updateConformanceResultTitle(lang)"
                     data-default-value="{{data.conformity.reportIndex}}" data-field="data.conformity.updateResultRef"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3 control-label"><span data-translate="">dataQualityScopeCode</span>: </label>
            <div class="col-xs-9" data-ng-class="validationClassString(data.conformity.scopeCode)">
                <div data-ie9-select
                     data-options="data.hierarchyLevelOptions"
                     data-value="name" data-title="title"
                     data-field="data.conformity.scopeCode"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label"><span data-translate="">levelDescription</span>: </label>
            <div class="col-xs-9"
                 data-ng-class="validationClassString(data.conformity.levelDescription)">
                <input id="levelDescription"
                       class="form-control"
                       data-ng-model="data.conformity.levelDescription" >
                </input>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3 control-label"><span data-translate="">pass</span>: </label>

            <div class="col-xs-9" data-ng-class="validationClassObject(data.conformity.pass)">
                <div data-ie9-select  data-keep-empty-el="true"
                     data-options="passOptions"
                     data-value="val" data-title="name"
                     data-field="data.conformity.pass"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3 control-label"><span data-translate="">title</span>: </label>

            <div class="col-xs-9" data-ng-class="data.conformity.isTitleSet ? '' : validationErrorClass">
                <div data-ie9-select data-keep-empty-el="true"
                     data-options="data.conformityTitleOptions" data-title="{{lang}}"
                     data-change="data.conformity.isTitleSet = true"
                     data-field="data.conformity.title"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label"><span data-translate="">explanation</span>: </label>
            <div class="col-xs-9"
                 data-ng-class="validationClassString(data.conformity.explanation)">
                <input id="conformityExplanation"
                        class="form-control"
                        data-ng-model="data.conformity.explanation" >
                </input>
            </div>
        </div>

        <div data-inspire-multilingual-text
             validation-class="{{validationErrorClass}}"
             data-title="lineageStatement"
             data-rows="5"
             data-main-lang="data.language"
             data-languages="data.otherLanguages"
             data-field="data.conformity.lineage.statement"/>

    </fieldset>
</div>