<div class="row" data-ng-controller="GnInspireController">


    <!-- Contact Modal dialog -->
    <div id="editContactModal" tabindex="-1" class="modal fade" data-ng-controller="InspireContactController">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >{{contactUnderEdit.title | translate}}</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control" type="search" placeholder="{{'search' | translate}}" ng-model="userSearch.search"/>
                    <div class="list-group well">
                        <a class="list-group-item"
                           data-ng-class="selectedSharedUser === user ? 'active' : ''"
                           data-ng-click="setSharedUser(user)"
                           data-ng-repeat="user in sharedUsers.validated | filter:userSearch:strict">
                            <i class="fa fa-check-circle-o" style="color: green"></i>
                            {{user.desc}}
                        </a>
                        <a class="list-group-item"
                           data-ng-class="selectedSharedUser === user ? 'active' : ''"
                           data-ng-click="setSharedUser(user)"
                           data-ng-repeat="user in sharedUsers.nonValidated | filter:userSearch:strict">
                            <i class="fa fa-circle-o" style="color: red"></i>
                            {{user.desc}}
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-translate="">cancel</button>
                    <button type="button" class="btn btn-default" data-ng-translate="" data-ng-click="updateContact()">createNew</button>
                    <button type="button" class="btn btn-primary" data-ng-translate=""
                            data-ng-disabled="!selectedSharedUser.id"
                            data-ng-click="linkToOtherContact()">update</button>
                </div>
            </div>
        </div>
    </div>

     <!-- End Contact dialogs -->

    <!-- Header/Action bar  -->

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img height="24" src="../../images/logos/logo.gif"></img></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-ng-translate="">inspire<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a data-ng-click="" data-ng-translate="">defaultView</a></li>
                            <li class="divider"></li>
                            <li><a data-ng-click="saveMetadata('metadata')" data-ng-translate="">metadata</a></li>
                            <li><a data-ng-click="saveMetadata('identification')" data-ng-translate="">identification</a></li>
                            <li><a data-ng-click="saveMetadata('maintenance')" data-ng-translate="">maintenance</a></li>
                            <li><a data-ng-click="saveMetadata('constraints')" data-ng-translate="">constraints</a></li>
                            <li><a data-ng-click="saveMetadata('spatial')" data-ng-translate="">spatialInfo</a></li>
                            <li><a data-ng-click="saveMetadata('refSys')" data-ng-translate="">referenceSystemInfo</a></li>
                            <li><a data-ng-click="saveMetadata('distribution')" data-ng-translate="">distribution</a></li>
                            <li><a data-ng-click="saveMetadata('dataQuality')" data-ng-translate="">dataQuality</a></li>
                            <li><a data-ng-click="saveMetadata('appSchInfo')" data-ng-translate="">appSchema</a></li>
                            <li><a data-ng-click="saveMetadata('porCatInfo')" data-ng-translate="">portrayalCatalogInfo</a></li>
                            <li><a data-ng-click="saveMetadata('contentInfo')" data-ng-translate="">contentInfo</a></li>
                            <li><a data-ng-click="saveMetadata('extensionInfo')" data-ng-translate="">extensionInfo</a></li>
                            <li><a data-ng-click="saveMetadata('legislationInformation')" data-ng-translate="">legislationInfo</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-ng-translate="">save<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a data-ng-click="saveMetadata()" data-ng-translate="">save</a></li>
                            <li><a data-ng-click="saveMetadataAndExit()" data-ng-translate="">saveAndExit</a></li>
                            <li><a data-ng-click="stopEditing()" data-ng-translate="">cancel</a></li>
                        </ul>
                    </li>
                    <li>
                        <form class="navbar-form navbar-left" role="language">
                            <div class="form-group pull-right" data-gn-language-switcher="lang" data-langs="langs"/>
                        </form>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <!-- End Header/Action bar  -->


    <!-- Main Form -->


    <form id="inspireForm" class="col-xs-12 form-horizontal" role="form" >
        <fieldset id="metadata">
            <legend data-translate="">metadata</legend>
            <div class="form-group">
                <label for="metadataLanguage" class="col-xs-3 control-label" ><span data-translate="">language</span>: </label>
                <div class="col-xs-9">
                    <select id="metadataLanguage" class="form-control" ng-model="data.language" data-ng-options="lang | translate for lang in languages">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"><span data-translate="">otherLanguages</span>: </label>
                <div class="col-xs-9">
                    <button data-ng-repeat="lang in languages"
                            data-ng-click="toggleLanguage(lang)"
                            class="btn btn-default btn-sm"
                            data-ng-class="{active: isOtherLanguage(lang)}">{{lang | translate}}</button>
                </div>
            </div>

            <div class="form-group">
                <label for="hierarchyLevel" class="col-xs-3 control-label"><span data-translate="">hierarchyLevel</span>: </label>
                <div class="col-xs-9">
                    <select id="hierarchyLevel" class="form-control" data-ng-model="data.hierarchyLevel" data-ng-options="opt for opt in data.hierarchyLevelOptions">
                    </select>
                </div>
            </div>
            <div class="form-group" data-ng-hide="data.hierarchyLevel.indexOf('dataset') != -1">
                <label for="hierarchyLevelName" class="col-xs-3 control-label"><span data-translate="">hierarchyLevelName</span>: </label>
                <div class="col-xs-9">
                    <input type="text" id="hierarchyLevelName" class="form-control" data-ng-model="data.hierarchyLevelName" >
                    </select>
                </div>
            </div>
            <div class="table-responsive col-xs-12">
                <table class="table table-condensed">
                    <tr data-ng-class="$first ? '' : 'col-xs-offset-3'"
                        data-ng-repeat="contact in data.contact">
                        <td>
                            <div data-inspire-contact data-contact="contact" data-title="contact"  data-show-title="{{$first ? 'true' : ''}}"
                                 data-role-options="data.roleOptions" data-edit-contact="editContact('contact', contact)"
                                 data-main-lang="data.language" data-languages="data.otherLanguages"></div>
                        </td>
                        <td width="24px">
                            <a class="inspire-input-group" data-ng-click="editContact('contact', contact)">
                                <i class="fa fa-edit fa-fw"></i>
                            </a>
                        </td>
                        <td width="24px">
                            <a class="inspire-input-group" data-ng-hide="$first" style="color: red" data-ng-click="deleteContact(data.contact, contact)">
                                <i class="fa fa-times fa-fw"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>

        <!-- ------------------------------  Identification Section   ---------------------------------- -->

        <fieldset id="identification">
            <legend data-translate="">identificationInfo</legend>
            <div class="form-group">
                <label for="identificationMetadataLanguage" class="col-xs-3 control-label" ><span data-translate="">metadataLanguage</span>: </label>
                <div class="col-xs-9">
                    <select id="identificationMetadataLanguage" class="form-control" ng-model="data.identification.language" data-ng-options="lang | translate for lang in languages">
                    </select>
                </div>
            </div>

            <div data-inspire-multilingual-text
                 data-title="title"
                 data-rows="1"
                 data-main-lang="data.language"
                 data-languages="data.otherLanguages"
                 data-field="data.identification.title"/>
            <div class="form-group">
                <label for="citationIdentifier" class="col-xs-3 control-label"><span data-translate="">citationIdentifier</span>: </label>
                <div class="col-xs-9">
                    <input id="citationIdentifier" class="form-control" data-ng-model="data.identification.citationIdentifier" />
                </div>
            </div>
            <div data-inspire-multilingual-text
                 data-title="abstract"
                 data-rows="5"
                 data-main-lang="data.language"
                 data-languages="data.otherLanguages"
                 data-field="data.identification.abstract"/>

            <div class="form-group">
                <label class="col-xs-3 control-label"><span data-translate="">date</span>: </label>
                <div class="col-xs-9">
                    <div data-inspire-date-picker="data.identification.date"
                         data-tag-name="{{data.identification.dateTagName}}"></div>
                </div>
                <div class="col-xs-offset-3 col-xs-9">
                    <select id="dateType" class="form-control" data-ng-model="data.identification.dateType" data-ng-options="opt for opt in data.dateTypeOptions">
                    </select>
                </div>
            </div>

            <div class="form-group" data-ng-show="!data.hierarchyLevel || data.hierarchyLevel.indexOf('dataset') != -1 || data.hierarchyLevel.indexOf('series') != -1">
                <label class="col-xs-3 control-label" ><span data-translate="">topicCategory</span>: </label>
                <div class="table-responsive col-xs-9">
                    <table class="table table-condensed">
                        <tr
                                data-ng-repeat="category in data.identification.topicCategory">
                            <td>
                                <select id="topicCategory{{$index}}" class="form-control" data-ng-model="category"
                                        data-ng-change="updateCategory($index, 'topicCategory'+$index)"
                                        data-ng-options="catOpt | translate for catOpt in data.topicCategoryOptions">
                                </select>
                            </td>
                            <td width="24px">

                            </td>
                            <td width="24px">
                                <a class="inspire-input-group" data-ng-hide="$first" style="color: red" data-ng-click="deleteTopicCategory(category)">
                                    <i class="fa fa-times fa-fw"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="table-responsive col-xs-12">
                <table class="table table-condensed">
                    <tr data-ng-class="$first ? '' : 'col-xs-offset-3'"
                        data-ng-repeat="contact in data.identification.pointOfContact">
                        <td>
                            <div data-inspire-contact data-contact="contact" data-title="pointOfContact" data-show-title="{{$first ? 'true' : ''}}"
                                 data-role-options="data.roleOptions" data-edit-contact="editContact('pointOfContact', contact)"
                                 data-main-lang="data.language" data-languages="data.otherLanguages"></div>
                        </td>
                        <td width="24px">
                            <a class="inspire-input-group" data-ng-click="editContact('pointOfContact', contact)">
                                <i class="fa fa-edit fa-fw"></i>
                            </a>
                        </td>
                        <td width="24px">
                            <a class="inspire-input-group" data-ng-hide="$first" style="color: red" data-ng-click="deleteContact(data.identification.pointOfContact, contact)">
                                <i class="fa fa-times fa-fw"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <!---------------------------   Keywords Section  ----------------------------------------------------------->
            <div data-ng-controller="InspireKeywordController">
                <div id="editKeywordModal" tabindex="-1" class="modal fade" >
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" data-ng-translate="">descriptiveKeyword</h4>
                            </div>
                            <div class="modal-body">
                                <input class="form-control" type="search"
                                       placeholder="{{'search' | translate}}" ng-model="keywordSearch.$"/>
                                <div class="list-group well">
                                    <a class="list-group-item"
                                       data-ng-repeat="keyword in keywords[data.identification.type] | filter:keywordSearch:strict"
                                       data-ng-class="selectedKeyword === keyword ? 'active' : ''"
                                       data-ng-click="selectKeyword(keyword)">
                                        {{keyword.words[lang]}}
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-translate="">cancel</button>
                                <button type="button" class="btn btn-primary" data-ng-translate=""
                                        data-ng-disabled="!selectedKeyword.uri"
                                        data-ng-click="linkToOtherKeyword()">update</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 control-label"><span data-translate="">descriptiveKeyword</span>: </label>
                    <div class="table-responsive col-xs-9">
                        <table class="table table-condensed">
                            <tr data-ng-class="$first ? '' : 'col-xs-offset-3'"
                                 data-ng-repeat="keyword in data.identification.descriptiveKeywords">
                                <td width="98%">
                                    <div data-inspire-multilingual-text
                                         data-rows="1"
                                         data-disabled="true"
                                         data-main-lang="data.language"
                                         data-languages="data.otherLanguages"
                                         data-field="keyword.words"/>
                                </td>
                                <td width="24px">
                                    <a class="inspire-input-group" data-ng-click="editKeyword(keyword)">
                                        <i class="fa fa-edit fa-fw"></i>
                                    </a>
                                </td>
                                <td width="24px">
                                    <a class="inspire-input-group" data-ng-hide="$first" style="color: red" data-ng-click="deleteKeyword(keyword)">
                                        <i class="fa fa-times fa-fw"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <!---------------------------   End Keywords Section  ----------------------------------------------------------->

            <!---------------------------   Extents Section  ----------------------------------------------------------->
            <div data-ng-controller="InspireExtentController">
                <div id="editExtentModal" tabindex="-1" class="modal fade" >
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" data-ng-translate="">extent</h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                    <input class="form-control" type="search"
                                           placeholder="{{'search' | translate}}"
                                           ng-keyup="$event.preventDefault(); ($event.keyCode == 13 && (extentSearch && extentSearch.length > 2) ? searchExtents(extentSearch) : null)"
                                           ng-model="extentSearch"/>

                                    <a id="extentSearchButton" class="input-group-addon"
                                       data-ng-class="(extentSearch && extentSearch.length > 2) ? 'extent-search-enabled' : 'extent-search-disabled'"
                                       data-ng-click="searchExtents(extentSearch)">
                                        <i class="fa fa-search fa-fw"></i>
                                    </a>
                                </div>
                                <div class="list-group well" data-ng-show="extents && extents.length > 0">
                                    <a class="list-group-item"
                                       data-ng-repeat="extent in extents"
                                       data-ng-class="selectedExtent === extent ? 'active' : ''"
                                       data-ng-click="selectExtent(extent)">
                                        <img data-ng-src="{{extentImgSrc(50, extent)}}" />
                                        {{extent.description[lang]}}
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-translate="">cancel</button>
                                <button type="button" class="btn btn-primary" data-ng-translate=""
                                        data-ng-disabled="!selectedExtent.geom"
                                        data-ng-click="linkToOtherExtent()">update</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-3 control-label"><span data-translate="">extent</span>: </label>
                    <div class="table-responsive col-xs-9">
                        <table class="table table-condensed">
                            <tr style="padding-bottom: 2em"
                                 data-ng-class="$first ? '' : 'col-xs-offset-3'"
                                 data-ng-repeat="extent in data.identification.extents">
                                <td>
                                    <div data-inspire-multilingual-text
                                         data-rows="3"
                                         data-disabled="true"
                                         data-main-lang="data.language"
                                         data-languages="data.otherLanguages"
                                         data-field="extent.description"/>
                                </td>
                                <td width="200px">
                                    <img data-ng-if="extent && extent.geom" data-ng-src="{{extentImgSrc(200, extent)}}">
                                </td>
                                <td width="24px">
                                    <a class="inspire-input-group" data-ng-click="editExtent(extent)">
                                        <i class="fa fa-edit fa-fw"></i>
                                    </a>
                                </td>
                                <td width="24px">
                                    <a data-ng-hide="$first" class="inspire-input-group" style="color: red" data-ng-click="deleteExtent(keyword)">
                                        <i class="fa fa-times fa-fw"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!---------------------------   End Extents Section  ----------------------------------------------------------->
        </fieldset>


        <!---------------------------   End Identification Section  ----------------------------------------------------------->
    </form>
</div>
