<div title="{{'browseThesaurus' | translate}}">
  <div data-gn-slide-toggle="true">{{'browseThesaurus' | translate}}</div>
  <ol class="breadcrumb">
    <li>
      <a
        class="btn btn-xs btn-link"
        title="{{'moveToTopConcept' | translate}}"
        ng-click="topConcept(concept.thesaurus)"
      >
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li ng-repeat="c in concept.previous.slice(1).reverse()">
      <a
        class="skos-concept-relation-previous"
        ng-click="navigateConcept(c, true, $index)"
      >
        <span
          role="menuitem"
          tabindex="-1"
          ng-if="prefLabel"
          skos-label="c"
          lang="{{language}}"
        ></span>
      </a>
    </li>
    <li class="active" data-ng-hide="concept.prefLabel['eng'] == 'topConcepts'">
      <span ng-if="prefLabel" skos-label="concept" lang="{{language}}"></span>
      <button
        class="skos-btn-icons btn-small btn-link"
        title="{{'addConcept' | translate}}"
        ng-click="addConcept(concept)"
      >
        <i class="fa fa-plus-circle"></i>
      </button>
    </li>
  </ol>

  <!-- TODO: use language, too -->
  <div ng-if="altLabel.length" class="skos-concept-altlabel">
    <ul>
      <li ng-repeat="alt in altLabel">
        <span ng-if="$index < 5" style="display: inline">{{alt}}</span>
        <span
          style="margin-left: -4px; margin-right: 3px"
          ng-if="$index < 4 && $index < altLabel.length-1"
          >,
        </span>
      </li>
    </ul>
  </div>

  <div
    class="row"
    data-ng-repeat="(key, value) in {broader: 'parent', narrower: 'moreSpecific', related: 'associated'}"
  >
    <div class="col-md-12" data-ng-if="concept[key].length">
      <label
        class="control-label"
        data-ng-show="concept.prefLabel['eng'] == 'topConcepts'"
        >{{'topConcepts' | translate}}</label
      >
      <label
        class="control-label"
        data-ng-hide="concept.prefLabel['eng'] == 'topConcepts'"
        >{{(value + 'Concept') | translate}}</label
      >
      <ul>
        <li
          ng-repeat="c in concept[key]"
          data-ng-mouseover="initConceptNavigationHelp(c)"
        >
          <a
            class="btn-small btn-link"
            ng-click="navigateConcept(c)"
            ng-mouseenter="c.over = true"
            ng-mouseleave="c.over = false"
          >
            <i title="{{c.help[key]}}"></i>
            <span title="{{'makeConceptCurrent' | translate}}">
              {{c.prefLabel[mainLanguage] || c.prefLabel['eng']}}
            </span>
          </a>
          <a
            class="skos-btn-icons btn-small btn-link"
            title="{{'addConcept' | translate}}"
            ng-click="addConcept(c)"
          >
            <i class="fa fa-plus-circle"></i> </a
          >&nbsp;
        </li>
      </ul>
    </div>
  </div>

  <div ng-if="!isEmptyObject(note)" style="margin-top: 10px">
    <div
      ng-repeat="note in note.en"
      style="width: 100%; padding: 4px 6px; border: 1px solid #ddd; margin-top: 8px"
    >
      <em>{{note}}</em>
    </div>
  </div>
</div>
