<div class="skos-concept-thesaurus">
  <ul ng-if="ancestors.length" class="ancestors">
    <span ng-if="inScheme" class="classification">{{inScheme}}</span>
    <li class="ancestor" ng-repeat="a in ancestors">
      <span skos-label="a" lang="{{language}}" ng-click="update(a);reload();"></span>
    </li>
  </ul>
  <div class="top top-classic">
    <span ng-if="notation" class="notation">{{notation[0]}}</span>
    <b><span skos-label="concept" lang="{{language}}"></span></b><a ng-if="notation" class="uri"
                                                                    href="{{uri}}">
    <span style="vertical-align:-10%" class="glyphicon glyphicon-globe"></span></a>
  </div>
  <div ng-if="altLabel.length" class="skos-concept-altlabel">
    <ul>
      <li ng-repeat="alt in altLabel">
        <span ng-if="$index < 5" style="display:inline">{{alt}}</span>
        <span style="margin-left:-4px;margin-right:3px;"
              ng-if="$index < 4 && $index < altLabel.length-1">, </span>
      </li>
    </ul>
  </div>
  <div ng-if="broader.length" class="skos-concept-thesaurus-relation">
    <b>Broader Terms:</b>
    <ul ng-repeat="b in broader">
      <li>
        <span skos-label="b" lang="{{language}}" ng-click="click(b)"/>
      </li>
    </ul>
  </div>
  <div ng-if="narrower.length" class="skos-concept-thesaurus-relation">
    <b>Narrower Terms:</b>
    <ul ng-repeat="n in narrower">
      <li>
        <span skos-label="n" lang="{{language}}" ng-click="click(n)"/>
      </li>
    </ul>
  </div>
  <div ng-if="related.length" class="skos-concept-thesaurus-relation">
    <b>Related Terms:</b>
    <ul ng-repeat="r in related">
      <li>
        <span skos-label="r" lang="{{language}}" ng-click="click(r)"/>
      </li>
    </ul>
  </div>
</div>
