<div class="gn-drawmap-panel">
  <div class="gn-editor-map-toolbar clearfix">
    <div class="pull-left">
      <label class="text-muted control-label" translate> selectFormatAndProjection</label>
      <br />
      <div class="flex-row width-100">
        <div class="flex-nogrow">
          <select
            ng-model="ctrl.currentFormat"
            ng-options="format for format in ctrl.formats"
            ng-change="ctrl.handleInputOptionsChange()"
          ></select>
        </div>
        <div class="flex-spacer"></div>
        <div class="flex-shrink">
          <select
            ng-model="ctrl.currentProjection"
            ng-options="proj.code as proj.label for proj in ctrl.projections"
            ng-change="ctrl.handleInputOptionsChange()"
          ></select>
        </div>
      </div>
    </div>

    <div class="pull-right" ng-if="!ctrl.readOnly">
      <div class="pull-right">
        <label class="text-muted control-label" translate>drawOnMap</label>
        <br />
        <div gi-btn-group>
          <div class="btn-group">
            <div class="btn-group">
              <button
                class="btn btn-default"
                gi-btn="active"
                ng-model="ctrl.drawInteraction.active"
              >
                <span class="fa fa-pencil"></span>&nbsp;
                <span translate>Polygon</span>
              </button>
              <button
                class="btn btn-default"
                gi-btn="active"
                ng-model="ctrl.drawLineInteraction.active"
              >
                <span class="fa fa-pencil"></span>&nbsp;
                <span translate>Line</span>
              </button>
            </div>
          </div>
          <button
            class="btn btn-default"
            gi-btn="active"
            ng-model="ctrl.modifyInteraction.active"
          >
            <span class="fa fa-pencil"></span>&nbsp;
            <span translate>modifyGeometry</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row gn-editor-map">
    <div class="col-md-12 gn-nopadding-right gn-nopadding-left" ol-map="ctrl.map"></div>
  </div>

  <div class="gn-editor-map-toolbar">
    <div
      ng-if="ctrl.dataOlProjection == null"
      class="alert alert-danger"
      data-translate=""
      data-translate-values="{srsName:'{{ctrl.dataProjection}}'}"
    >
      badGmlProjectionCode
    </div>

    <!-- input geometry field -->
    <div class="row">
      <div class="col-md-12 gn-nopadding-left gn-nopadding-right">
        <div
          class="has-feedback"
          ng-class="{ 'has-success': ctrl.fromTextInput && !ctrl.parseError, 'has-error': ctrl.parseError }"
        >
          <label class="text-muted control-label" translate>inputGeometryText</label>
          <textarea
            class="form-control"
            rows="4"
            ng-model="ctrl.inputGeometry"
            ng-model-options="{ debounce: 300 }"
            placeholder="{{'inputGeometryText' | translate}}"
            ng-change="ctrl.handleInputChange()"
            ng-readonly="ctrl.readOnly"
          ></textarea>
          <small class="text-danger" ng-show="ctrl.fromTextInput && ctrl.parseError">
            {{ 'inputGeometryIsInvalid' | translate}} {{ctrl.parseError}}</small
          >
          <small
            class="text-success"
            ng-show="ctrl.fromTextInput && !ctrl.parseError"
            translate
          >
            inputGeometryIsValid</small
          >
          <small
            class="text-muted"
            ng-show="!ctrl.fromTextInput && !ctrl.readOnly"
            translate
          >
            inputGeometryHint</small
          >
          <small class="text-muted" ng-show="ctrl.readOnly" translate>
            inputGeometryReadOnlyHint</small
          >
        </div>
      </div>
    </div>

    <!-- final output in GML -->
    <input name="{{ctrl.identifier}}" type="hidden" value="{{ctrl.outputPolygonXml}}" />
  </div>
</div>
