<!-- full width map -->
<div class="row">
  <div class="col-md-12" ngeo-map="ctrl.map"></div>
</div>

<div class="spacer" />

<!-- draw tool & select boxes -->
<div class="row">
  <div class="col-md-12 text-center form-inline">
    <gn-geometry-tool map="ctrl.map"
      geometry-type="Polygon" allow-modify allow-reset
      output="ctrl.outputGeometry" output-format="gml" output-crs="EPSG:4326"
      input="ctrl.inputGeometry"
      input-format="{{ctrl.currentFormat || 'gml'}}"
      input-crs="{{ctrl.currentProjection.code || 'EPSG:4326'}}"
      input-error-handler="ctrl.parseErrorHandler">
    </gn-geometry-tool>
    &nbsp;
    <select class="form-control" ng-model="ctrl.currentFormat"
      ng-options="format for format in ctrl.formats"
      ng-change="ctrl.parseError = null">
    </select>
    <select class="form-control" ng-model="ctrl.currentProjection"
      ng-options="proj.code as proj.label for proj in ctrl.projections"
      ng-change="ctrl.parseError = null">
    </select>
  </div>
</div>

<div class="spacer" />

<!-- input geometry field -->
<div class="row">
  <div class="col-md-12">
    <textarea class="form-control" rows="3" ng-model="ctrl.inputGeometry"
      ng-model-options="{ debounce: 300 }"
      placeholder="{{'outputGeometry' | translate}}"
      ng-change="ctrl.parseError = null"/>
      {{ ctrl.parseError }}
  </div>
</div>

<!-- final output in GML -->
<input name="output-geometry" type="hidden" value="{{ ctrl.outputGeometry }}"/>
