<div>
  <div class="form-group">
    <label class="control-label"
           data-translate="">registryUrl</label>
    <div class="input-group">

      <input type="url"
             data-ng-model="registryUrl"
             class="form-control"
             placeholder="https://"/>
      <span class="input-group-btn">
        <div class="btn btn-default"
                data-ng-click="setDefault()"
                data-translate="">registryUseInspireOne</div>
      </span>
    </div>
    <p class="help-block ng-scope" data-translate="">registry-help</p>
  </div>

  <div class="form-group">
    <label class="form-label"
           data-translate="">
      registryChooseLanguages
    </label>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li data-ng-repeat="l in languages">
            <label><input type="checkbox"
                          name="registryLanguage"
                          data-ng-model="selectedLanguages[l.key]"
                          value="{{l.key}}"/> {{l.label}}</label>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <p class="help-block ng-scope" data-translate="">registryChooseLanguages-help</p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label"
           data-translate="">
    registryChooseType
    </label>
    <select class="form-control"
            data-ng-options="t as t.label for t in itemClass track by t.key"
            data-ng-model="selectedClassUrl"/>
  </div>

  <div class="form-group"
       data-ng-show="!isSimple">
    <label class="form-label"
           data-translate="">
      registryChooseItem
    </label>
    <i class="fa fa-spinner fa-spin" data-ng-show="loadingCollection"/>
    <select class="form-control"
            data-ng-hide="loadingCollection"
            data-ng-options="i[selectedClass].id as i[selectedClass].label.text for i in itemCollection track by i[selectedClass].id"
            data-ng-model="selectedCollection"/>
  </div>

  <input type="hidden" name="registryUrl" value="{{selectedCollection}}">

</div>
