<div class="container-fluid" data-ng-controller="GnLoginController">
  <div class="row">

    <div class="col-sm-8 col-sm-offset-2">
      <p class="alert alert-info" data-translate="">newAccountInfo</p>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading" data-translate="">needAnAccount</div>
        <div class="panel-body">
          <form id="userinfo">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label" data-translate="">email</label>
                  <input type="email" name="email"
                         data-ng-model="userInfo.username"
                         autofocus="" class="form-control"/>
                </div>
                <div class="form-group">
                  <label class="control-label" for="inputName" translate="">name</label>
                  <input type="text" class="form-control"
                         data-ng-model="userInfo.name"
                         id="inputName" name="name"/>
                </div>
                <div class="form-group">
                  <label class="control-label" for="inputUsername" translate="">surname</label>
                  <input type="text" class="form-control"
                         data-ng-model="userInfo.surname"
                         id="inputUsername" name="surname"/>
                </div>
                <div class="form-group">
                  <label class="control-label" data-translate="">organisation</label>
                  <input type="text" name="org"
                         data-ng-model="userInfo.organisation"
                         class="form-control"/>
                </div>
                <div class="form-group">
                  <label class="control-label" data-translate="">requestedProfile</label>
                  <select name="profile"
                          data-ng-model="userInfo.profile"
                          class="form-control">
                    <option data-ng-repeat="p in profiles" value="{{p}}">{{p | translate}}</option>
                  </select>
                </div>
              </div>
              <!-- /.col-sm-6 -->
              <div class="col-sm-6">

                <div class="form-group">
                  <label class="control-label" data-translate="">address</label>
                  <input type="text" name="address"
                         data-ng-model="userInfo.addresses[0].address"
                         class="form-control"/>
                </div>
                <div class="form-group">
                  <label class="control-label" data-translate="">zip</label>
                  <input type="text" name="zip" class="form-control"
                         data-ng-model="userInfo.addresses[0].zip"/>
                </div>
                <div class="form-group">
                  <label class="control-label" data-translate="">state</label>
                  <input type="text" name="state" class="form-control"
                         data-ng-model="userInfo.addresses[0].state"/>
                </div>
                <div class="form-group">
                  <label class="control-label" data-translate="">city</label>
                  <input type="text" name="city" class="form-control"
                         data-ng-model="userInfo.addresses[0].city"/>
                </div>
                <div class="form-group">
                  <label class="control-label" data-translate=""
                         data-ng-model="userInfo.addresses[0].country">country</label>
                  <!-- TODO : Add country list -->
                  <input type="text" name="country" class="form-control"/>
                </div>
              </div>
              <!-- /.col-sm-6 -->
            </div>
          </form>
          
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
          <button data-ng-click="register('#userinfo')" class="btn btn-default"
                  data-translate="">register
          </button>
        </div>
        <!-- /.panel-footer -->
      </div>
      <!-- /.panel -->
    </div>

  </div>
</div>
