<div class="container" data-ng-controller="GnLoginController">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">updatePassword</div>
      <div class="panel-body">
        <form class="form-horizontal" id="userinfo" name="gnUserEdit">
          <input type="hidden" name="changeKey" value="{{changeKey}}"/>

          <div class="form-group">
            <label class="control-label col-lg-4" data-translate="">username</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" disabled="" data-ng-model="userToRemind"/>
              <!-- Hidden field to be sent - the other one is disabled-->
              <input type="hidden" name="username" value="{{userToRemind}}"/>
            </div>
          </div>

          <!-- Password are disabled when updating user -->
          <div class="form-group"
            data-ng-class="gnUserEdit.password.$valid != true ? 'has-error' : ''">
            <label class="control-label col-lg-4" data-translate="">password</label>
            <div class="col-lg-8">
              <input type="password" id="gn-user-password" name="password" class="form-control"
                data-ng-minlength="6" data-ng-model="password"/>
            </div>
            <p class="help-block">
              <span class="error" ng-show="gnUserEdit.password.$error.minlength" data-translate=""
                >passwordMinlength</span>
            </p>
          </div>
          <div class="form-group"
            data-ng-class="gnUserEdit.password.$valid == false || 
                        (passwordCheck !== password) ? 'has-error' : ''">
            <label class="control-label col-lg-4" data-translate="">passwordRepeat</label>
            <div class="col-lg-8">
              <input type="password" id="gn-user-password2" name="password2" class="form-control"
                data-ng-model="passwordCheck"/>
            </div>
            <p class="help-block">
              <span class="error"
                ng-show="gnUserEdit.password.$valid 
                                && passwordCheck != password"
                data-translate="">passwordNotMatching</span>
            </p>
          </div>
        </form>
        <button data-ng-click="updatePassword('#userinfo')" class="btn btn-primary btn-block">
          <i class="fa fa-save"/>
          <span data-translate="">updatePassword</span>
        </button>
        <p data-ng-show="passwordUpdated">
          <span data-translate="">passwordUpdated</span>
        </p>
      </div>
    </div>
  </div>
</div>
