<div class="container-fluid" data-ng-controller="GnLoginController">
  <div class="row gn-row-main">
    <div class="col-sm-4 col-sm-offset-2">
    <div class="panel panel-default" >
      <div class="panel-heading" data-translate="">
        {{'signIn' | translate}}
      </div>
      <div class="panel-body">
          

          <form class="form-vertical" name="gnSigninForm" action="{{formAction}}"
                method="post" role="form" data-ng-if="::user">
            <div class="form-group">
              <label class="control-label"
                     for="inputUsername" data-translate="">username</label>
              <input type="text" class="form-control" id="inputUsername" name="username" autofocus=""
                     placeholder="{{'username' | translate}}" data-ng-model="signinUsername"
                     required=""/>
            </div>

            <div class="form-group">
              <label class="control-label"
                     for="inputPassword" data-translate="">password</label>
              <input type="password" class="form-control" id="inputPassword" name="password"
                     autocomplete="off"
                     data-ng-model="signinPassword" placeholder="{{'password' | translate}}"
                     required=""/>
            </div>

            <input type="hidden" name="redirectUrl" data-ng-model="redirectUrl" value="{{redirectUrl}}"/>
            <!--<div class="checkbox">
                      <label class="checkbox">
                          <input type="checkbox"/><span translate>rememberMe</span>
                      </label>
                  </div>-->

            <button type="submit" class="btn btn-default"
                    data-ng-disabled="!gnSigninForm.$valid">
              <span data-translate="">signIn</span>
            </button>
          </form>

          <p class="alert alert-danger"
             data-ng-show="signinFailure">
            <strong data-translate="">signinFailure</strong>
            <a type="submit"
               class="btn btn-link btn-danger"
               data-ng-click="setSendPassword(true)">
              <span
                data-translate="">recoverPassword</span> ?
            </a>
          </p>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-sm-4 -->

    <div class="col-sm-4" data-ng-show="gnConfig['system.feedback.mailServer.hostIsDefined']">
      <div class="panel panel-default" >
        <div class="panel-heading" data-translate="">needAnAccount</div>
        <div class="panel-body">
          <p data-translate="">needAnAccountInfo</p>
          <p>
            <a class="btn btn-default" href="new.account" data-translate="">createAnAccount</a>
          </p>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      <div class="panel panel-default"
           data-ng-show="gnConfig['system.feedback.mailServer.hostIsDefined']">
        <div class="panel-heading" data-translate="">forgetDetails</div>
        <div class="panel-body">
          <div data-ng-show="sendPassword === false">
            <p data-translate="">forgetDetailsInfo</p>
            <p>
              <a type="submit" class="btn btn-default" data-ng-click="setSendPassword(true)"
                 data-translate="">recoverPassword</a>
            </p>
          </div>
          <div data-ng-show="sendPassword === true">
            <div>
              <form class="form-horizontal" id="userinfo" name="gnUserinfo">
                <div class="form-group">
                  <label class="control-label col-lg-3" data-translate="">username</label>
                  <div class="col-lg-8">
                    <input type="text" name="username" id="username"
                           data-ng-model="usernameToRemind"
                           data-ng-required="" class="form-control"/>
                  </div>
                </div>
                <a type="submit" class="btn btn-default"
                   data-ng-disabled="usernameToRemind == ''"
                   data-ng-click="remindMyPassword('#userinfo')">
                  <i class="fa fa-question-sign"/>
                  <span data-translate="">sendPasswordLinkToMyEmail</span>
                </a>
              </form>
            </div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  </div>
</div>
