<?xml version="1.0" encoding="UTF-8"?>
<geonet>
	<!-- ====================================================================== -->

	<general>
		<profiles>../../../web/geonetwork/WEB-INF/user-profiles.xml</profiles>
		<uploadDir>../../../data/tmp</uploadDir>
		<maxUploadSize>100</maxUploadSize> <!-- Size must be in megabyte (integer) -->
		<debug>true</debug>
	</general>

	<!-- ====================================================================== -->

	<default>
		<service>main.home</service>
		<language>eng</language>
		<localized>true</localized>
		<contentType>text/html; charset=UTF-8</contentType>

		<gui>
			<xml name="strings" file="xml/strings.xml" />
			<xml name="countries" file="xml/countries.xml" />

			<xml name="iso19115" base="xml/schemas/iso19115/loc" file="labels.xml" />
			<xml name="iso19115" base="xml/schemas/iso19115/loc" file="codelists.xml" />
			<xml name="iso19139" base="xml/schemas/iso19139/loc" file="labels.xml" />
			<xml name="iso19139" base="xml/schemas/iso19139/loc" file="codelists.xml" />
			<xml name="fgdc-std" base="xml/schemas/fgdc-std/loc" file="labels.xml" />
			<xml name="dublin-core" base="xml/schemas/dublin-core/loc" file="labels.xml" />
			<xml name="csw-record" base="xml/schemas/csw-record/loc" file="labels.xml" />
			<call name="session" class="jeeves.guiservices.session.Get" />
			<call name="env" class="org.fao.geonet.guiservices.util.Env" />
			<call name="results" class="org.fao.geonet.guiservices.search.GetResultsInfo" />
		</gui>

		<!-- service not found -->

		<error id="service-not-found" sheet="error.xsl">
			<xml name="error" file="xml/service-not-found-error.xml" />
		</error>

		<!-- no privileges to access the service -->

		<error id="service-not-allowed" sheet="error.xsl">
			<xml name="error" file="xml/privileges-error.xml" />
		</error>

		<!-- data in upload too big -->

		<error id="file-upload-too-big" sheet="error.xsl">
			<xml name="error" file="xml/file-too-big-error.xml" />
		</error>

		<!-- general error -->

		<error sheet="error.xsl">
			<xml name="error" file="xml/error.xml" />
		</error>

	</default>

	<!-- ====================================================================== -->

	<resources>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- mckoi standalone -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<resource enabled="true">
			<name>main-db</name>
			<provider>jeeves.resources.dbms.DbmsPool</provider>
			<config>
				<user>geonetwork</user>
				<password>geonetwork</password>
				<driver>com.mckoi.JDBCDriver</driver>
				<url>jdbc:mckoi://localhost:9157/</url>
				<poolSize>10</poolSize>
			</config>


		<activator class="org.fao.geonet.activators.McKoiActivator"><configFile>../../test/resources/config/mckoi.conf</configFile></activator></resource>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- mysql -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<resource enabled="false">
			<name>main-db</name>
			<provider>jeeves.resources.dbms.DbmsPool</provider>
			<config>
				<user>admin</user>
				<password>admin</password>
				<driver>com.mysql.jdbc.Driver</driver>
				<url>jdbc:mysql://$WEBSERVER_HOST/geonetwork</url>
				<poolSize>10</poolSize>
				<reconnectTime>3600</reconnectTime>
			</config>
		</resource>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- oracle -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<resource enabled="false">
			<name>main-db</name>
			<provider>jeeves.resources.dbms.DbmsPool</provider>
			<config>
				<user>admin</user>
				<password>admin</password>
				<driver>oracle.jdbc.driver.OracleDriver</driver>
				<url>jdbc:oracle:thin:@IP:1521:fs</url>
				<poolSize>10</poolSize>
			</config>
		</resource>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- DB2 -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<resource enabled="false">
			<name>main-db</name>
			<provider>jeeves.resources.dbms.DbmsPool</provider>
			<config>
				<user>admin</user>
				<password>admin</password>
				<driver>com.ibm.db2.jcc.DB2Driver</driver>
				<url>jdbc:db2:geonet</url>
				<poolSize>10</poolSize>
			</config>
		</resource>

	</resources>

	<!-- ====================================================================== -->

	<appHandler class="org.fao.geonet.Geonetwork">
		<param name="luceneDir" value="WEB-INF/lucene" />
		<param name="htmlCacheDir" value="htmlCache" />
        <param name="languageProfilesDir" value="resources/language-profiles" />
		<param name="schemaMappings" value="schema-mappings.xml" />
		<param name="dataDir" value="../../data" />
		<param name="licenseDir" value="WEB-INF/licenses" />
		<param name="thesauriDir" value="WEB-INF/gsthesauri" />
		<param name="codeListDir" value="xml/codelist" />
	    <param name="summaryConfig" value="WEB-INF/config-summary.xml" />
		<param name="guiConfig" value="WEB-INF/config-gui.xml" />
		<param name="jzkitConfig" value="JZkitApplicationContext.xml" />
	</appHandler>

	<!-- ====================================================================== -->

	<services package="org.fao.geonet">

		<service name="main.home">
			<output sheet="main-page.xsl">
				<call name="searchDefaults" class=".guiservices.search.GetDefaults" />
				<call name="keywords" class=".guiservices.keywords.Get" />
				<call name="groups" class=".guiservices.groups.GetMine" />
				<call name="services" class="jeeves.guiservices.services.Get" />
				<call name="categories" class=".services.category.List" />
				<call name="regions" class=".guiservices.regions.Get" />
				<call name="sources" class=".guiservices.util.Sources" />

				<call name="latestUpdated" class=".guiservices.metadata.GetLatestUpdated">
					<param name="maxItems" value="10" />
					<param name="timeBetweenUpdates" value="10" />
				</call>

				<call name="featured" class=".guiservices.metadata.GetRandom">
					<param name="maxItems" value="1" />
					<param name="timeBetweenUpdates" value="10" />
					<!-- Restrict to a geographic area. Default is global overlap -->
					<param name="relation" value="overlaps" />
					<param name="northBL" value="90" />
					<param name="southBL" value="-90" />
					<param name="eastBL" value="180" />
					<param name="westBL" value="-180" />
				</call>

				<xml name="repositories" file="xml/repositories.xml" localized="false" />
				<xml name="searchProfiles" file="xml/search-profiles.xml" localized="false" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="main.search">
			<class name=".services.main.Search">
				<param name="maxSummaryKeys" value="10" />
			</class>

			<output forward="main.present" />
		</service>

 		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
 		<!-- ETj: this service provides a page similar to main.search, made simpler to be embedded elsewhere-->

 		<service name="main.search.embedded">
 			<class name=".services.main.Search">
 				<param name="maxSummaryKeys" value="10" />
 			</class>

 			<output forward="main.present.embedded" />
 		</service>

		<service name="main.present.embedded">
 			<class name=".services.main.Result">
 				<param name="maxRecords" value="10" />
 				<param name="syntax" value="f" />
 			</class>

 			<output sheet="search-results-xhtml.xsl" contentType="text/xml; charset=UTF-8">
				<call name="searchDefaults" class=".guiservices.search.GetDefaults" />
 				<call name="groups" class=".guiservices.groups.GetMine" />
 				<call name="sources" class=".guiservices.util.Sources" />
 				<call name="services" class="jeeves.guiservices.services.Get" />
 				<xml name="repositories" file="xml/repositories.xml" localized="false" />
 			</output>

 		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="main.searchform.advanced.embedded">
			<output sheet="searchform_advanced.xsl">
				<call name="searchDefaults" class=".guiservices.search.GetDefaults" />
				<call name="keywords" class=".guiservices.keywords.Get" />
				<call name="groups" class=".guiservices.groups.GetMine" />
				<call name="services" class="jeeves.guiservices.services.Get" />
				<call name="categories" class=".services.category.List" />
				<call name="regions" class=".guiservices.regions.Get" />
				<call name="sources" class=".guiservices.util.Sources" />

				<xml name="repositories" file="xml/repositories.xml" localized="false" />
				<xml name="searchProfiles" file="xml/search-profiles.xml" localized="false" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="main.searchform.simple.embedded">
			<output sheet="searchform_simple.xsl">
				<call name="searchDefaults" class=".guiservices.search.GetDefaults" />
				<call name="keywords" class=".guiservices.keywords.Get" />
				<call name="groups" class=".guiservices.groups.GetMine" />
				<call name="services" class="jeeves.guiservices.services.Get" />
				<call name="categories" class=".services.category.List" />
				<call name="regions" class=".guiservices.regions.Get" />
				<call name="sources" class=".guiservices.util.Sources" />

				<xml name="repositories" file="xml/repositories.xml" localized="false" />
				<xml name="searchProfiles" file="xml/search-profiles.xml" localized="false" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="rating.popup">
			<output sheet="rating-popup.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="main.present">
			<class name=".services.main.Result">
				<param name="maxRecords" value="10" />
				<param name="syntax" value="f" />
			</class>

			<output sheet="search-results.xsl">
				<call name="searchDefaults" class=".guiservices.search.GetDefaults" />
				<call name="groups" class=".guiservices.groups.GetMine" />
				<call name="sources" class=".guiservices.util.Sources" />
				<call name="services" class="jeeves.guiservices.services.Get" />
				<xml name="repositories" file="xml/repositories.xml" localized="false" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="remote.show">
			<class name=".services.main.RemoteShow">
				<param name="syntax" value="f" />
			</class>

			<output sheet="remote-show.xsl">
				<call name="services" class="jeeves.guiservices.services.Get" />
				<call name="currTab" class=".guiservices.util.GetCurrentMDTab" />
				<xml name="repositories" file="xml/repositories.xml" localized="false" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="feedback">
			<output sheet="feedback.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="links">
			<output sheet="page.xsl">
				<xml name="page" file="xml/links.xml" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="about">
			<output sheet="page.xsl">
				<xml name="page" file="xml/about.xml" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.region.get">
			<class name=".services.region.Get" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Selection search services for filtering -->

		<service name="selection.search">
			<class name=".services.main.SelectionSearch" />
			<output forward="main.present.embedded" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Feedback services                                             -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="feedback.insert">
			<class name=".services.feedback.Insert" />

			<output sheet="info.xsl">
				<xml name="info" file="xml/feedback-sent.xml" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Utility services                                              -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="util.ping">
			<class name="jeeves.services.Ping" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="util.import">
			<class name=".services.metadata.ImportFromDir" />

			<output sheet="metadata-insert-results.xsl" />

			<error sheet="error.xsl">
				<xml name="error" file="xml/validation-error.xml" />
				<xml name="validation" file="xml/metadata-validate.xml" />
			</error>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- User services                                                 -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.list">
			<class name=".services.user.List" />

			<output sheet="user-list.xsl">
				<xml name="strings" file="xml/confirm.xml" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.get">
			<class name=".services.user.Get" />

			<output sheet="user-new.xsl">
				<call name="groups" class=".guiservices.groups.GetMine" />
				<call name="profiles" class="jeeves.guiservices.profiles.Get" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.edit">
			<class name=".services.user.Get" />

			<output sheet="user-update.xsl">
				<call name="groups" class=".guiservices.groups.GetMine" />
				<call name="profiles" class="jeeves.guiservices.profiles.Get" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.resetpw">
			<class name=".services.user.Get" />

			<output sheet="user-resetpw.xsl">
				<call name="groups" class=".guiservices.groups.GetMine" />
				<call name="profiles" class="jeeves.guiservices.profiles.Get" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.update">
			<class name=".services.user.Update" />
			<output forward="user.list" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.remove">
			<class name=".services.user.Remove" />
			<output forward="user.list" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.pwedit">
			<class name=".services.user.Get" />

			<output sheet="user-pwupdate.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.pwupdate">
			<class name=".services.user.PwUpdate" />

			<output sheet="info.xsl">
				<xml name="info" file="xml/password-changed.xml" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.infoedit">
			<class name=".services.user.Get" />

			<output sheet="user-infoupdate.xsl">
				<call name="groups" class=".guiservices.groups.GetMine" />
				<call name="profiles" class="jeeves.guiservices.profiles.Get" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.infoupdate">
			<class name=".services.user.InfoUpdate" />

			<output sheet="info.xsl">
				<xml name="info" file="xml/info-changed.xml" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- User self-registration services                               -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.register.get">
			<output sheet="user-selfregistration.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.register.submit">
			<class name=".services.register.SelfRegister" />
			<output sheet="registration-info.xsl">
				<xml name="info" file="xml/registration-sent.xml" />
			</output>
			<error sheet="registration-error.xsl">
				<xml name="error" file="xml/registration-error.xml" />
			</error>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Group services                                                -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="group.list">
			<class name=".services.group.List" />

			<output sheet="group-list.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="group.get">
			<class name=".services.group.Get" />

			<output sheet="group-update.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="group.update">
			<class name=".services.group.Update" />
			<output forward="group.list" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="group.remove">
			<class name=".services.group.Remove" />
			<output forward="group.list" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.group.update">
			<class name=".services.group.XmlUpdate" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Category services                                             -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="category.list">
			<class name=".services.category.List" />

			<output sheet="category-list.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="category.get">
			<class name=".services.category.Get" />

			<output sheet="category-update.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="category.update">
			<class name=".services.category.Update" />
			<output forward="category.list" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="category.remove">
			<class name=".services.category.Remove" />
			<output forward="category.list" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.category.update">
			<class name=".services.category.XmlUpdate" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!--                   Login services                              -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.login">
			<class name=".services.login.Login" />

			<output forward="main.home" />

			<error id="user-login" sheet="error.xsl">
				<xml name="error" file="xml/login-error.xml" />
			</error>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="shib.user.login">
			<class name=".services.login.ShibLogin" />

			<output forward="main.home" />

			<error id="user-login" sheet="error.xsl">
				<xml name="error" file="xml/login-error.xml" />
			</error>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="user.logout">
			<class name=".services.login.Logout" />
			<output forward="main.home" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Administration services                                       -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="admin">
			<output sheet="admin.xsl">
				<call name="services" class="jeeves.guiservices.services.Get" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- System configuration                                          -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="config">
			<output sheet="config/config.xsl">
				<xml name="config" file="xml/config.xml" />
				<call name="users" class="jeeves.services.db.Select">
					<param name="db" value="main-db" />
					<param name="query" value="SELECT * FROM Users ORDER BY name" />
				</call>
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.config.get">
			<class name=".services.config.Get" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.config.set">
			<class name=".services.config.Set" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Localization                                                  -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="localization">
			<output sheet="localization/localization.xsl">
				<call name="languages" class=".guiservices.languages.Get" />
				<xml name="localiz" file="xml/localization.xml" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.operation.update">
			<class name=".services.operation.Update" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.region.update">
			<class name=".services.region.Update" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Help services                                                 -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="help">
			<output sheet="page.xsl">
				<xml name="page" file="xml/help.xml" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.schema.info">
			<class name=".services.schema.Info" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Resources management services                                 -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="file.disclaimer">
			<output sheet="file-download-disclaimer.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="file.download">
			<class name=".services.feedback.Insert" />

			<output sheet="file-download.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="prepare.file.download">
			<class name=".services.metadata.PrepareFileDownload" />
			<output sheet="file-download-list.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="graphover.show">
			<output sheet="graphover-show.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="resources.get.archive">
			<class name=".services.resources.DownloadArchive" />

			<error id="file-not-found" sheet="error-embedded.xsl">
				<xml name="error" file="xml/file-not-found-error.xml" />
			</error>

			<output file="true" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="resources.get">
			<class name=".services.resources.Download" />

			<error id="file-not-found" sheet="error-embedded.xsl">
				<xml name="error" file="xml/file-not-found-error.xml" />
			</error>

			<output file="true" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="resources.upload">
			<class name=".services.resources.Upload" />
			<output sheet="file-upload-results.xsl" />

			<error sheet="error-modal.xsl">
				<xml name="error" file="xml/file-upload-unsuccessful.xml" />
			</error>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="resources.prepare.upload">
			<output sheet="file-upload.xsl" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="resources.del">
			<class name=".services.resources.Remove" />

			<error id="file-not-found" sheet="error.xsl">
				<xml name="error" file="xml/file-not-found-error.xml" />
			</error>

			<output forward="metadata.edit" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- XML services -->

		<service name="xml.user.login">
			<class name=".services.login.Login" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.user.logout">
			<class name=".services.login.Logout" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.search">
			<class name=".services.main.XmlSearch" />

			<output sheet="portal-present.xsl" contentType="application/xml; charset=UTF-8" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.metadata.get">
			<class name=".services.metadata.Show">
				<param name="skipPopularity" value="y" />
			</class>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.info">
			<class name=".services.main.Info" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.forward">
			<class name=".services.main.Forward" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- GeoNetwork Mapping Application XML services  -->

		<service name="xml.user.list">
			<class name=".services.user.List" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.usergroups.list">
			<class name=".services.user.UserGroups" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.group.list">
			<class name=".services.group.List" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.metadata.insert">
			<class name=".services.metadata.Insert" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="xml.metadata.delete">
			<class name=".services.metadata.Delete" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Catalogue Services for the Web -->

		<service name="csw">
			<class name=".services.main.CswDispatcher" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Open Archive Initiative, Protocol for Metadata Harvesting -->

		<service name="oaipmh">
			<class name=".services.main.OaiPmhDispatcher" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- RSS services -->

		<service name="rss.latest">
			<output sheet="rss-latest.xsl" contentType="application/rss+xml; charset=UTF-8">
				<call name="latestUpdated" class=".guiservices.metadata.GetLatestUpdated">
					<param name="maxItems" value="20" />
					<param name="timeBetweenUpdates" value="10" />
				</call>
				<call name="siteURL" class=".guiservices.util.GetSiteURL" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="rss.search">
			<class name=".services.main.Search">
				<param name="maxSummaryKeys" value="10" />
			</class>
			<output sheet="rss-search.xsl" contentType="application/rss+xml; charset=UTF-8">
				<call name="rssItems" class=".services.main.Result" />
				<call name="siteURL" class=".guiservices.util.GetSiteURL" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="rss.present">
			<class name=".services.main.Result" />

			<output sheet="rss-search.xsl" contentType="application/rss+xml; charset=UTF-8">
				<call name="siteURL" class=".guiservices.util.GetSiteURL" />
			</output>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- KML services -->

		<!-- Show WMS service in GE -->
		<service name="google.kml">
			<class name=".services.metadata.Show" />
			<output sheet="kml.xsl" contentType="application/kml; charset=UTF-8">
				<call name="services" class="jeeves.guiservices.services.Get" />
				<xml name="sources" file="xml/sources.xml" localized="false" />
			</output>
			<error id="operation-not-allowed" sheet="error.xsl">
				<xml name="error" file="xml/privileges-error.xml" />
			</error>
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- MEF services -->

		<service name="mef.import">
			<class name=".services.mef.Import" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<service name="mef.export">
			<class name=".services.mef.Export" />

			<output file="true" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- relation services -->

		<service name="xml.relation.get">
			<class name=".services.relations.Get" />

			<output sheet="portal-present.xsl" contentType="text/xml; charset=UTF-8">
				<call name="sources" class=".guiservices.util.Sources" />
			</output>
		</service>

		<service name="xml.relation.insert">
			<class name=".services.relations.Insert" />
		</service>

		<service name="xml.relation.delete">
			<class name=".services.relations.Remove" />
		</service>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Thesaurus services                                             -->
		<!-- Search Keywords services -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- Thesaurus services                                             -->
		<!-- Search Keywords services -->
		<service name="keywords.getselected">
		  <class name=".services.thesaurus.GetSelectedKeywords" />
		  <!--		<output sheet="keywords-list.xsl" />-->
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="keywords.sort" type="xml">
		  <class name=".services.thesaurus.SortKeywords" />
		  <output sheet="thesaurus-search-results.xsl" />
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="keywords.select" type="xml">
		  <class name=".services.thesaurus.SelectKeywords" />
		</service>
		<service name="keywords.search" type="xml">
		  <class name=".services.thesaurus.GetKeywords" />
		  <output sheet="thesaurus-search-results.xsl" />
		</service>
	   <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="xml.search.keywords" type="xml">
		  <class name=".services.thesaurus.GetKeywords" />
		  <output sheet="thesaurus-autosearchlist.xsl" />
		</service>
		<service name="xml.search.keywordlink" type="xml">
		  <class name=".services.thesaurus.GetNarrowerBroader" />
		  <output sheet="thesaurus-autosearchlist.xsl" />
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="keywords.editsearch">
		  <class name=".services.thesaurus.List">
			<param name="type" value="all-thesauri" />
		  </class>
		  <output sheet="thesaurus-edit.xsl" />
		</service>
		<!-- Thesaurus services -->
		<service name="thesaurus.admin">
		  <class name=".services.thesaurus.List">
			<param name="type" value="all-thesauri" />
		  </class>
		  <output sheet="thesaurus-admin.xsl">
			<call name="importStyleSheets" class=".guiservices.util.GetImportXSLs" />
			<call name="thesaurusCategory" class=".services.thesaurus.List">
			  <param name="type" value="upload-directories" />
			</call>
		  </output>
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="thesaurus.upload">
		  <class name=".services.thesaurus.Upload" />
		  <output forward="thesaurus.admin" />
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="thesaurus.download">
		  <class name=".services.thesaurus.Download" />
		  <error id="file-not-found" sheet="error.xsl">
			<xml name="error" file="xml/file-not-found-error.xml" />
		  </error>
		  <output file="true" />
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="thesaurus.delete">
		  <class name=".services.thesaurus.Delete" />
		  <output forward="thesaurus.admin" />
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="thesaurus.view">
		  <class name=".services.thesaurus.List">
			<param name="type" value="update-thesauri" />
		  </class>
		  <output sheet="thesaurus-edit.xsl" />
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="thesaurus.add" type="xml">
		  <class name=".services.thesaurus.Add" />
		  <!--  <output forward="thesaurus.admin"/>-->
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="thesaurus.edit">
		  <class name=".services.thesaurus.List">
			<param name="type" value="all-thesauri" />
		  </class>
		  <output sheet="thesaurus-edit.xsl" />
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="thesaurus.update">
		  <class name=".services.thesaurus.List">
			<param name="type" value="update-thesauri" />
		  </class>
		  <output sheet="thesaurus-search-results.xsl" />
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="thesaurus.editelement">
		  <class name=".services.thesaurus.EditElement" />
		  <output sheet="thesaurus-edit-element.xsl">
		  		  <call name="languages" class=".guiservices.languages.Get" />
		  </output>
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="thesaurus.addelement">
		  <class name=".services.thesaurus.AddElement" />
		  <!--<output forward="thesaurus.edit"/>-->
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="thesaurus.updateelement">
		  <class name=".services.thesaurus.UpdateElement" />
		  <!--  <output forward="thesaurus.edit"/>-->
		</service>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<service name="thesaurus.deleteelement" type="xml">
		  <class name=".services.thesaurus.DeleteElement" />
		  <!--<output forward="thesaurus.edit"/>-->
		</service>


	</services>

    <!-- For now include from web dir, but these could be local files only for services tested and
    without e.g. XSL-transformed output-->
    <include>../../../web/geonetwork/WEB-INF/config-csw.xml</include>
    <include>../../../web/geonetwork/WEB-INF/config-harvesting.xml</include>

	<!-- ======================================================================

	<include>config-metadata.xml</include>
	<include>config-harvesting.xml</include>
	<include>config-portal.xml</include>
	<include>config-export.xml</include>
	<include>config-test.xml</include>
	<include>config-csw.xml</include>         -->

	<!-- ====================================================================== -->

</geonet>
