<ul class="list-group gn-resultview gn-resultview-sumup">
  <li class="list-group-item gn-grid sxt-col-md-6 sxt-col-lg-4"
      data-ng-repeat="md in searchResults.records"
      data-sxt-fix-mdlinks=""
      data-gn-displayextent-onhover=""
      data-gn-zoomto-onclick="">

      <div class="gn-grid-item">


          <!--Edit button-->
          <!-- <a class="gn-md-edit-btn" data-ng-show="user.canEditRecord(md)" data-ng-href="catalog.edit#/metadata/{{md['geonet:info'].id}}" title="{{'edit' | translate}}"> -->
          <!--   <i class="fa fa-pencil"></i> -->
          <!-- </a> -->

        <div class="row gn-md-title">

          <!--Icon for types - usually only one-->
          <span class="fa" data-ng-class="::md.icon.cls"
                title="{{::md.icon.title | translate}}"></span>

          <h4 title="{{::md.resourceTitle}}">
            <a gn-metadata-open="::md" sxt-truncate>
              {{::(md.resourceTitle)}}</a>
          </h4>

        </div>


        <div class="gn-md-details" title="{{::md.resourceAbstract | striptags}}">

            <!-- Thumbnail -->
            <div class="gn-md-thumbnail" ng-class="::{'gn-md-emptythumbnail': !md.thumbnail}">
              <img gn-img-modal="md" class="gn-img-thumbnail"
                   data-ng-src="{{::md.overview[0].url}}?size=140"
                   data-ng-if="::md.overview[0]"/>
            </div>

            <div class="text-justify md-abstract ellipsis">
              <div>
                <p>{{::md.resourceAbstract | striptags}}</p>
              </div>
            </div>

            <p data-ng-if="::md.resourceCredit[0]"
               class="gn-md-source"
               title="{{::md.resourceCredit[0]}}">
              <!--<h5 data-translate="">contacts</h5>-->
              Source: {{::md.resourceCredit[0] | characters : 50}}
            </p>

          </div>


      <div class="sx-md-footer">
        <div class="btn-group pull-left md-admin"
             ng-if="::user.canEditRecord(md)"
             sxt-popover-dropdown placement="bottom"
             container=".gn-grid-item" className="sxt-popover-grid" >
          <!--admin button-->
            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" title="{{::'toAdmin' | translate}}">
              <span class="fa fa-gear"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu small-dropdown" role="menu">
              <li>
                <!-- Force CERSAT record to use UI in english. -->
                <a ng-show="md.standardName === 'ISO 19115-3:2018 - Remote Sensing'" ng-href="{{::gnUrl}}../eng/catalog.edit#/metadata/{{::md.id}}" target="_blank">
                  <i class="fa fa-pencil"></i>
                  <span translate>edit</span>
                </a>
                <a ng-hide="md.standardName === 'ISO 19115-3:2018 - Remote Sensing'" ng-href="{{::gnUrl}}catalog.edit#/metadata/{{::md.id}}" target="_blank">
                  <i class="fa fa-pencil"></i>
                  <span translate>edit</span>
                </a>
              </li>

              <li data-ng-if="::(user.profile != 'Editor')">
                <a data-gn-click-and-spin="mdService.deleteMd(md)"
                   data-gn-confirm-click="{{'deleteRecordConfirm' | translate:md}}">
                  <i class="fa fa-trash-o"></i>&nbsp;
                  <span translate>delete</span>
                </a>
              </li>
              <li data-ng-if="::(user.profile == 'Editor')" class="disabled"><a href=""><i class="fa fa-trash-o"></i>&nbsp;<span translate>delete</span></a></li>

              <li><a ng-href="" data-ng-click="mdService.duplicate(md)"><i class="fa fa-copy"></i>&nbsp;<span translate>duplicate</span></a></li>
              <li><a ng-href="" data-ng-click="mdService.createChild(md)"><i class="fa fa-sitemap"></i>&nbsp;<span translate>createChild</span></a></li>

              <li data-ng-if="::(user.profile != 'Editor')"><a ng-href="" data-ng-click="mdService.openPrivilegesPanel(md, getCatScope())"><i class="fa fa-key"></i>&nbsp;<span translate>privileges</span></a></li>
              <li data-ng-if="::(user.profile == 'Editor')" class="disabled"><a ng-href=""><i class="fa fa-key"></i>&nbsp;<span translate>privileges</span></a></li>

              <!--
                Workflow:
                See https://github.com/geonetwork/core-geonetwork/pull/3600
                Editor
                - if status is 'Draft' (mdStatus = 1) -> label = 'Submit for review'
                - if status <> 'Draft' hide the menu
                - data submitted by user - cancel approval
                Reviewer
                - 3 options in menu:
                  1. Approve metadata (id = 2)
                  2. Reject metadata (id = 5)
                  3. Retire metadata (id = 3)
              -->
              <li role="menuitem" class="divider"
                  data-ng-show="isMdWorkflowEnable && (md.mdStatus == 1 || md.mdStatus == 4)">
              </li>
              <li role="menuitem"
                  class="dropdown-header"
                  data-ng-show="isMdWorkflowEnable && md.mdStatus">
                <span data-translate="">workflow</span>
                ({{::('mdStatus-' + md.mdStatus) | translate}})
              </li>
              <!-- user = editor, status = 1, statusToSelect = 4 -->
              <li role="menuitem"
                  data-ng-if="user.canEditRecord(md) && (user.isAdmin() ||
          user.isEditorForGroup(md.groupOwner)) && md.mdStatus == 1 && isMdWorkflowEnable && md.isWorkflowEnabled()">
                <a data-ng-href=""
                   data-ng-click="mdService.openUpdateStatusPanel(getScope(), 'workflow', null, 4, 14)">
                  <i class="fa fa-fw fa-file-o"></i>&nbsp;
                  <span data-translate="">mdStatusTitle-14</span>
                </a>
              </li>
              <li role="menuitem"
                  data-ng-if="user.canEditRecord(md) && (user.isAdmin() ||
          user.isEditorForGroup(md.groupOwner)) && md.mdStatus == 3 && isMdWorkflowEnable && md.isWorkflowEnabled()">
                <a data-ng-href=""
                   data-ng-click="mdService.openUpdateStatusPanel(getScope(), 'workflow', null, 1, 31)">
                  <i class="fa fa-fw fa-file-o"></i>&nbsp;
                  <span data-translate="">mdStatusTitle-31</span>
                </a>
              </li>
              <!-- user = editor, status = 4, statusToSelect = 1 -->
              <li role="menuitem"
                  data-ng-if="user.canEditRecord(md) && !user.isReviewerForGroup(md.groupOwner) &&
          user.isEditorForGroup(md.groupOwner) && md.mdStatus == 4  && isMdWorkflowEnable && md.isWorkflowEnabled()">
                <a data-ng-href=""
                   data-ng-click="mdService.openUpdateStatusPanel(getScope(), 'workflow', null, 1, 41)">
                  <i class="fa fa-fw fa-undo"></i>&nbsp;
                  <span data-translate="">mdStatusTitle-41</span>
                </a>
              </li>
              <!-- user = reviewer, status = 4, statusToSelect = 2 -->
              <li role="menuitem"
                  data-ng-if="user.canEditRecord(md) && (user.isAdmin() || user.isReviewerForGroup(md.groupOwner)) &&
          md.mdStatus == 4  && isMdWorkflowEnable && md.isWorkflowEnabled()">
                <a data-ng-href=""
                   data-ng-click="mdService.openUpdateStatusPanel(getScope(), 'workflow', null, 2, 42)">
                  <i class="fa fa-fw fa-thumbs-o-up"></i>&nbsp;
                  <span data-translate="">mdStatusTitle-42</span>
                </a>
              </li>
              <li role="menuitem"
                  data-ng-if="user.canEditRecord(md) && (user.isAdmin() || user.isReviewerForGroup(md.groupOwner)) &&
          md.mdStatus == 1  && isMdWorkflowEnable && md.isWorkflowEnabled()">
                <a data-ng-href=""
                   data-ng-click="mdService.openUpdateStatusPanel(getScope(), 'workflow', null, 2, 12)">
                  <i class="fa fa-fw fa-thumbs-o-up"></i>&nbsp;
                  <span data-translate="">mdStatusTitle-12</span>
                </a>
              </li>
              <!-- user = reviewer, status = 4, statusToSelect = 5 -->
              <li role="menuitem"
                  data-ng-if="user.canEditRecord(md) && (user.isAdmin() || user.isReviewerForGroup(md.groupOwner)) &&
          md.mdStatus == 4  && isMdWorkflowEnable && md.isWorkflowEnabled()">
                <a data-ng-href=""
                   data-ng-click="mdService.openUpdateStatusPanel(getScope(), 'workflow', null, 1, 411)">
                  <i class="fa fa-fw fa-thumbs-o-down"></i>&nbsp;
                  <span data-translate="">mdStatusTitle-411</span>
                </a>
              </li>
              <!-- user = reviewer, status = 4, statusToSelect = 3 -->
              <li role="menuitem"
                  data-ng-if="user.canEditRecord(md) && (user.isAdmin() || user.isReviewerForGroup(md.groupOwner)) &&
          md.mdStatus == 4  && isMdWorkflowEnable && md.isWorkflowEnabled()">
                <a data-ng-href=""
                   data-ng-click="mdService.openUpdateStatusPanel(getScope(), 'workflow', null, 3, 33)">
                  <i class="fa fa-fw fa-archive"></i>&nbsp;
                  <span data-translate="">mdStatusTitle-33</span>
                </a>
              </li>
              <li data-ng-if="isMdWorkflowEnable && user.canEditRecord(md) && !md.isWorkflowEnabled()">
                <a role="menuitem"
                   data-ng-href=""
                   data-ng-click="mdService.startWorkflow(md, getCatScope())">
                  <i class="fa fa-fw fa-code-fork"></i>&nbsp;
                  <span data-translate="">enableWorkflow</span>
                </a>
              </li>

            </ul>
        </div>

        <sxt-links-btn></sxt-links-btn>
        <div gn-grid-related gn-grid-related-uuid="::md.uuid" class="gn-md-relations pull-right"
             template="../../catalog/views/sextant/templates/grid-related.html"></div>



      </div> <!-- .sx-md-footer -->

      </div>

    </div>
  </li>
</ul>
