<ul class="list-group gn-resultview gn-resultview-sumup">
  <li class="list-group-item gn-grid sxt-col-md-6 sxt-col-lg-4"
      data-ng-repeat="md in searchResults.records"
      data-sxt-fix-mdlinks=""
      data-gn-displayextent-onhover=""
      data-gn-zoomto-onclick="">

      <div class="gn-grid-item">


          <!--Edit button-->
          <!-- <a class="gn-md-edit-btn" data-ng-show="user.canEditRecord(md)" data-ng-href="catalog.edit#/metadata/{{md['geonet:info'].id}}" title="{{'edit' | translate}}"> -->
          <!--   <i class="fa fa-pencil"></i> -->
          <!-- </a> -->

        <div class="row gn-md-title">

          <!--Icon for types - usually only one-->
          <span class="fa" data-ng-class="::md.icon.cls"
                title="{{::md.icon.title | translate}}"></span>

          <h4 title="{{::md.title || md.defaultTitle}}">
            <a gn-metadata-open="::md" sxt-truncate>
              {{::(md.title || md.defaultTitle)}}</a>
          </h4>

        </div>


        <div class="gn-md-details" title="{{::(md.abstract || md.defaultAbstract) | striptags}}">

            <!-- Thumbnail -->
            <div class="gn-md-thumbnail" ng-class="::{'gn-md-emptythumbnail': !md.thumbnail}">
              <img gn-img-modal="md" class="gn-img-thumbnail" data-ng-src="{{::md.thumbnail}}" data-ng-if="::md.thumbnail"/>
            </div>

            <div class="text-justify md-abstract ellipsis">
              <div>
                <p>{{::(md.abstract || md.defaultAbstract) | striptags}}</p>
              </div>
            </div>

            <p data-ng-if="::md.getCredits()" class="gn-md-source" title="{{::md.getCredits()}}">
              <!--<h5 data-translate="">contacts</h5>-->
              Source: {{::md.getCredits() | characters : 50}}
            </p>

          </div>


      <div class="sx-md-footer">
        <div class="btn-group pull-left md-admin"
             ng-if="::user.canEditRecord(md)"
             sxt-popover-dropdown
             placement="bottom"
             container=".gn-grid-item"
             className="sxt-popover-grid" >
          <div sxt-md-manage-actions-menu="md"></div>
        </div>

        <sxt-links-btn></sxt-links-btn>
        <div gn-grid-related gn-grid-related-uuid="::md.getUuid()" class="gn-md-relations pull-right"
             template="../../catalog/views/sextant/templates/grid-related.html"></div>



      </div> <!-- .sx-md-footer -->

      </div>

    </div>
  </li>
</ul>
