<ul class="list-group gn-resultview gn-resultview-sumup">
  <li class="list-group-item gn-grid sxt-col-md-6 sxt-col-lg-4"
      data-ng-repeat="md in searchResults.records"
      data-sxt-fix-mdlinks=""
      data-gn-displayextent-onhover=""
      data-gn-zoomto-onclick="">

      <div class="gn-grid-item">


          <!--Edit button-->
          <!-- <a class="gn-md-edit-btn" data-ng-show="user.canEditRecord(md)" data-ng-href="catalog.edit#/metadata/{{md['geonet:info'].id}}" title="{{'edit' | translate}}"> -->
          <!--   <i class="fa fa-pencil"></i> -->
          <!-- </a> -->

        <div class="row gn-md-title">

          <!--Icon for types - usually only one-->
          <span class="fa" data-ng-class="md.icon.cls"
                title="{{md.icon.title | translate}}"></span>

          <h4 title="{{md.title || md.defaultTitle}}">
            <a  href="md.viewer#/full_view/{{md.getUuid()}}" gn-metadata-open="md">
              {{(md.title || md.defaultTitle) | characters : 70}}</a>
          </h4>

        </div>


        <div class="gn-md-details" title="{{(md.abstract || md.defaultAbstract) | striptags}}">

            <!-- Thumbnail -->
            <div class="gn-md-thumbnail" ng-class="{'gn-md-emptythumbnail': !md.getThumbnails().small }">
              <img gn-img-modal="md" class="gn-img-thumbnail" data-ng-src="{{md.getThumbnails().small}}" data-ng-if="md.getThumbnails().small"/>
            </div>

            <div class="text-justify md-abstract ellipsis">
              <div>
                <p>{{(md.abstract || md.defaultAbstract) | striptags}}</p>
              </div>
            </div>

            <p data-ng-if="md.getCredits()" class="gn-md-source" title="{{::md.getCredits()}}">
              <!--<h5 data-translate="">contacts</h5>-->
              Source: {{::md.getCredits() | characters : 70}}
            </p>

          </div>


      <div class="sx-md-footer">
        <div class="btn-group pull-left md-admin">
          <!--admin button-->
          <div class="btn-group md-actions" ng-if="user.canEditRecord(md)">
            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" title="{{'admin' | translate}}">
              <span class="fa fa-gear"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <!-- Open Ext or Angular editor based on standard name -->
              <li data-ng-if="md.standardName.indexOf('MedSea') >= 0"><a ng-href="catalog.edit#/metadata/{{md['geonet:info'].id}}" target="_blank"><i class="fa fa-pencil"></i><span translate>edit</span></a></li>
              <li data-ng-if="!md.standardName || md.standardName.indexOf('MedSea') < 0"><a ng-href="../../apps/sextant/?edit={{md['geonet:info'].id}}" target="_blank"><i class="fa fa-pencil"></i><span translate>edit</span></a></li>

              <li><a ng-click="mdService.deleteMd(md)"><i class="fa fa-trash-o"></i><span translate>delete</span></a></li>
              <li><a ng-href="" data-ng-click="mdService.duplicate(md)"><i class="fa fa-copy"></i><span translate>duplicate</span></a></li>
              <li><a ng-href="" data-ng-click="mdService.createChild(md)"><i class="fa fa-sitemap"></i><span translate>createChild</span></a></li>
              <li><a ng-href="" data-ng-click="mdService.openPrivilegesPanel(md, getCatScope())"><i class="fa fa-key"></i><span translate>privileges</span></a></li>
            </ul>
          </div>
        </div>

        <sxt-links-btn></sxt-links-btn>
        <div class="gn-md-relations" ng-if="md.type == 'series'">
          <div gn-related="md" types="parent|children"
               template="../../catalog/views/sextant/templates/related.html"></div>
         </div>



      </div> <!-- .sx-md-footer -->

      </div>

    </div>
  </li>
</ul>
