<div class="panel panel-default metadata" sxt-fix-mdlinks="">
  <div class="panel-heading">

    <div class="container">

      <div class="row gn-md-view-header">

        <div class="col-md-8 gn-title" title="{{md.resourceTitle}}">
          <span class="fa gn-icon-{{md.resourceType[0]}}"
                title="{{md.resourceType[0] | translate}}"></span>
          {{md.resourceTitle}}
        </div>

        <div class="col-md-4 gn-links pull-right text-right">
          <div ng-if="::user.canManagePrivileges(md)"
               sxt-md-manage-actions-menu="md"></div>

          <div sxt-md-actions-menu="md"></div>

          <button class="btn btn-default" ng-click="dismiss()">
            <i class="fa fa-share fa-flip-horizontal"></i>&nbsp;
            <span translate>sxtBack</span>
          </button>&nbsp;

        </div>

      </div>
    </div>
  </div>
  <div class="panel-body"></div>
</div>
