<div class="container gn-md-view" data-ng-controller="GnMdViewController">

  <button class="btn btn-primary" data-ng-click="closeRecord(mdView.current.record)">
    <i class="fa fa-search"></i>
    <span>{{'backTo' + (fromView || 'search') | translate}}</span>
  </button>

  <button class="btn btn-link"
    data-ng-class="mdView.current.index === 0 ? 'disabled' : ''"
    data-ng-show="mdView.records.length > 1"
    data-ng-click="previousRecord()">
    <i class="fa fa-angle-left"></i>
    <span data-translate="">previous</span>
  </button>
  <button class="btn btn-link"
    data-ng-class="mdView.current.index === mdView.records.length-1 ? 'disabled' : ''"
    data-ng-show="mdView.records.length > 1"
    data-ng-click="nextRecord()">
    <span data-translate="">next</span>
    <i class="fa fa-angle-right"></i>
  </button>

  <div class="btn-group md-actions gn-md-actions-btn pull-right">
    <button type="button"
      class="btn btn-default dropdown-toggle"
      data-toggle="dropdown"
      aria-expanded="false">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a data-ng-href="" data-ng-click="gnMetadataActions.getPermalink(mdView.current.record)">
          <i class="fa fa-link"/>&nbsp;
          <span data-translate="">permalink</span>
        </a>
      </li>
      <li>
        <a data-ng-href="xml.metadata.get?uuid={{mdView.current.record.getUuid()}}" target="_blank">
          <i class="fa fa-file-code-o"></i>&nbsp;
          <span data-translate="">exportXML</span>
        </a>
      </li>
      <li>
        <a data-ng-href="" data-ng-click="gnMetadataActions.metadataPrint(mdView.current.record.getUuid())">
          <i class="fa fa-file-pdf-o"></i>&nbsp;
          <span data-translate="">exportPDF</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="btn-group pull-right">
    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-eye"></i>&nbsp;
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li data-ng-class="{'disabled' : !currentFormatter}">
        <a href="" data-ng-click="format()" translate>simpleView</a>
      </li>
      <li data-ng-repeat="f in formatter.list" data-ng-class="{'disabled' : f == currentFormatter}">
        <a href="" data-ng-click="format(f)">{{f.label | translate}}</a>
      </li>
    </ul>
  </div>

  <div data-ng-show="usingFormatter" id="gn-metadata-display" class="gn-metadata-display">
  </div>



  <div data-ng-show="!usingFormatter" class="gn-metadata-display">

    <div class="col-md-9 gn-record">
      <h2>
        <!-- <i class="fa gn-icon-{{mdView.current.record.type[0]}}"/> -->
        {{mdView.current.record.title || mdView.current.record.defaultTitle}}
      </h2>

      <div class="pull-right">
        <i class="fa fa-calendar"></i>
        <span data-translate="">updatedOn</span>
        <span data-gn-humanize-time="{{mdView.current.record['geonet:info'].changeDate}}"
          data-from-now=""></span>
      </div>

      <div class="gn-md-links">

        <div class="btn-group " ng-if="mdView.current.record.getLinksByType('LINK').length > 0">
          <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" title="Liens">
            <span class="fa fa-link"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="link in mdView.current.record.getLinksByType('LINK')">
              <a href="{{link.url}}" target="_blank">{{link.desc}}</a></li>
          </ul>
        </div>

        <div class="btn-group " ng-if="mdView.current.record.getLinksByType('DOWNLOAD', '#FILE', '#DB', '#COPYFILE', 'WFS').length > 1">
          <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" title="Télécharger">
            <span class="fa fa-download"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="link in mdView.current.record.getLinksByType('DOWNLOAD', '#FILE', '#DB', '#COPYFILE', 'WFS')">
              <a href="" ng-click="resultviewFns.addMdLayerToPanier(link, md)">
                <span class="fa fa-file-zip-o" ng-if="link.contentType=='application/zip'"></span>
                {{link.desc || (link.name + ' - ' + link.contentType) }} </a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default btn-sm "
                ng-if="mdView.current.record.getLinksByType('DOWNLOAD', '#FILE', '#DB', '#COPYFILE', 'WFS').length == 1" ng-click="resultviewFns.addMdLayerToPanier(mdView.current.record.getLinksByType('DOWNLOAD', '#FILE', '#DB', '#COPYFILE', 'WFS')[0], md)" title="Télécharger">
          <span class="fa fa-download"></span>
        </button>


        <div class="btn-group " ng-if="mdView.current.record.getLinksByType('OGC').length > 1 ">
          <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" title="Visualiser">
            <span class="fa fa-globe"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="layer in mdView.current.record.getLinksByType('OGC')"><a href="" ng-click="resultviewFns.addMdLayerToMap(layer, md)">
              <span class="fa fa-google" ng-if="layer.contentType=='application/vnd.google-earth.kml+xml'"></span>
              <span class="fa fa-globe" ng-if="layer.contentType=='application/vnd.ogc.wms_xml'"></span>
              {{layer.desc}} </a></li>
            <li class="divider"></li>
            <li><a href="#">Add all mdView.current.record.getLinksByType('OGC')</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default btn-sm "
                ng-if="mdView.current.record.getLinksByType('OGC').length == 1" ng-click="resultviewFns.addMdLayerToMap(mdView.current.record.getLinksByType('OGC')[0], md)" title="Visualiser">
          <span class="fa fa-globe"></span>
        </button>

      </div>

      <dl class="dl-horizontal">

        <dt data-ng-if="mdView.current.record.creationDate ||
          mdView.current.record.publicationDate ||
          mdView.current.record.revisionDate" translate>Date(s)</dt>
        <dd>
          <p ng-if="mdView.current.record.creationDate">
            <span data-gn-humanize-time="{{mdView.current.record.creationDate}}"
              data-format="YYYY-MM-DD">
            </span>
            (<span data-translate>creationDate</span>)
          </p>
          <p data-ng-if="mdView.current.record.publicationDate">
            <span data-gn-humanize-time="{{mdView.current.record.publicationDate}}"
              data-format="YYYY-MM-DD">
            </span>
            (<span data-translate>publicationDate</span>)
          </p>
          <p data-ng-if="mdView.current.record.revisionDate">
            <span data-gn-humanize-time="{{mdView.current.record.revisionDate}}"
              data-format="YYYY-MM-DD">
            </span>
            (<span data-translate>revisionDate</span>)
          </p>
        </dd>

        <dt data-ng-if="mdView.current.record.abstract" data-translate="">abstract</dt>
        <dd data-ng-if="mdView.current.record.abstract">
          {{mdView.current.record.abstract | striptags}}
        </dd>

        <dt data-ng-if="mdView.current.record.keyword" data-translate="">keywords</dt>
        <dd data-ng-if="mdView.current.record.keyword">
          {{mdView.current.record.keyword.join(', ')}}
        </dd>

        <dt data-ng-if="mdView.current.record.credit" data-translate>credit</dt>
        <dd data-ng-if="mdView.current.record.credit">
          {{mdView.current.record.credit}}
        </dd>

        <dt data-ng-if="mdView.current.record.contacts.resource" translate>contact</dt>
        <dd data-ng-if="mdView.current.record.contacts.resource">
          {{mdView.current.record.contacts.resource}}
        </dd>

        <dt data-ng-if="mdView.current.record.crs" translate>crs</dt>
        <dd data-ng-if="mdView.current.record.crs">{{mdView.current.record.crs}}</dd>

        <dt data-ng-if="mdView.current.record.format" data-translate="">format</dt>
        <dd data-ng-if="mdView.current.record.format">
          {{mdView.current.record.format.split(', ')}}
        </dd>

        <dt data-ng-if="mdView.current.record.lineage" translate>lineage</dt>
        <dd data-ng-if="mdView.current.record.lineage">
          {{mdView.current.record.lineage}}
          <div data-gn-related="{{mdView.current.record['geonet:info'].uuid}}"
            data-types="source"
            data-title="{{'sourceDatasets' | translate}}">
          </div>
        </dd>

        <dt data-ng-if="mdView.current.record.status_text" translate>status</dt>
        <dd data-ng-if="mdView.current.record.status_text">{{mdView.current.record.status_text}}</dd>

        <dt data-ng-if="mdView.current.record.updateFrequency" translate>updateFrequency</dt>
        <dd data-ng-if="mdView.current.record.updateFrequency">{{mdView.current.record.updateFrequency}}</dd>

      </dl>

    </div>

    <div class="col-md-3 gn-md-side">

      <section data-ng-if="mdView.current.record.overviews.length > 0">
        <!-- TODO caroussel on each thumbnails-->
        <p data-ng-repeat="img in mdView.current.record.overviews">
          <img class="gn-img-thumbnail img-thumbnail" alt="{{img.label}}" data-ng-src="{{img.url}}"/>
        </p>
      </section>

      <section data-ng-if="mdView.current.record.geoBox.length > 0">
        <!-- TODO: use map config -->
        <p data-ng-repeat="bbox in mdView.current.record.geoBox">
          <img class="gn-img-thumbnail img-thumbnail gn-img-extent"
            data-ng-src="region.getmap.png?mapsrs=EPSG:3857&width=250&background=osm&geomsrs=EPSG:4326&geom={{mdView.current.record.getBoxAsPolygon($index)}}"/>
        </p>
      </section>

      <section>
        <div class="well">
          <h4>
            <i class="fa fa-fw"></i>
            <span data-translate="">sourceCatalog</span>
          </h4>
          <img ng-src="../../images/logos/{{mdView.current.record.source}}.png" class="gn-source-logo"/>
        </div>
      </section>

      <section>
        <div class="well">
          <h4>
            <i class="fa fa-share-square"></i>
            <span data-translate="">shareOn</span>
          </h4>
          <a data-ng-href="https://plus.google.com/share?url={{mdView.current.record.encodedUrl}}"
            class="btn btn-link"><i class="fa fa-google-plus"></i></a>
          <a data-ng-href="https://twitter.com/share?url={{mdView.current.record.encodedUrl}}"
            class="btn btn-link"><i class="fa fa-twitter"></i></a>
          <a data-ng-href="https://www.facebook.com/sharer.php?u={{mdView.current.record.encodedUrl}}"
            class="btn btn-link"><i class="fa fa-facebook"></i></a>
        </div>
      </section>

    </div>

  </div>
</div>
