<div>
  <div ng-if="loadingAnnotation">
    <i class="fa fa-spinner fa-spin" /> <span translate>pleaseWait</span>
  </div>
  <div ng-if="!loadingAnnotation && !currentAnnotation">
    <p translate>noAnnotationsFound</p>
    <a href ng-click="initAnnotation(annotationsUuid)" translate>
      initAnnotations
    </a>
  </div>
  <div ng-show="currentAnnotation">
    <div class="gn-draw-styleform"
         gn-draw="" map="map"
         vector="annotationsLayer"
         save-callback="updateAnnotationGeometry(json)">
    </div>
  </div>
</div>
