<div class="form-group">
  <div class="col-xs-12">
      <p class="input-group">
          <input type="text"
                 class="form-control"
                 datepicker-popup="{{format}}"
                 ng-model="dt"
                 is-open="opened"
                 datepicker-options="dateOptions"
                 close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
              </span>
      </p>
  </div>
</div>
