<div class="col-lg-5 gn-nopadding-left">
  <label class="control-label" translate>mapConfigContext</label>
</div>

<div class="col-lg-7" data-ng-controller="GnSearchController">
  <div data-ng-search-form="" data-ng-controller="GnMapContextRecordController">
    <div class="input-group dropdown" id="serviceList">
      <input type="text" class="form-control" data-ng-model="mCfg[key]['context']" />

      <div class="input-group-btn">
        <button
          type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          data-ng-click="updateParams();triggerSearch();"
          type="text"
        >
          <i class="fa fa-search"></i>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <input
              class="form-control"
              onClick="window.event.stopPropagation()"
              data-ng-change="updateParams();triggerSearch();"
              type="text"
              data-toggle="dropdown"
              data-ng-model="searchObj.any"
              data-ng-model-options="{debounce: 200}"
              placeholder="{{'search' | translate}}"
            />
          </li>
          <li data-ng-repeat="md in searchResults.records">
            <a href="" data-ng-click="mCfg[key]['context'] = md.linkUrlProtocolOGCOWSC">
              {{md.resourceTitleObject.default}}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <p class="help-block">{{('mapConfigContext-help') | translate}}</p>
  </div>
</div>

<div class="col-lg-5 gn-nopadding-left">
  <label class="control-label" translate>mapConfigExtent</label>
</div>

<div class="col-lg-7">
  <div class="input-group">
    <span class="input-group-addon">MinX</span>
    <input
      type="number"
      step="any"
      class="form-control"
      data-ng-model="mCfg[key]['extent'][0]"
    />
    <span class="input-group-addon">MinY</span>
    <input
      type="number"
      step="any"
      class="form-control"
      data-ng-model="mCfg[key]['extent'][1]"
    />
    <span class="input-group-addon">MaxX</span>
    <input
      type="number"
      step="any"
      class="form-control"
      data-ng-model="mCfg[key]['extent'][2]"
    />
    <span class="input-group-addon">MaxY</span>
    <input
      type="number"
      step="any"
      class="form-control"
      data-ng-model="mCfg[key]['extent'][3]"
    />
  </div>
</div>

<div class="col-lg-5 gn-nopadding-left">
  <label class="control-label" translate>mapConfigLayers</label>
</div>

<div class="col-lg-7">
  <table class="table table-striped table-bordered">
    <tr data-ng-repeat="layer in mCfg[key]['layers'] track by $index">
      <td>
        <gn-json-edit height="50" model="layer"></gn-json-edit>
      </td>
      <td class="w-30-px">
        <a
          class="btn btn-link text-danger"
          title="{{'remove' | translate}}"
          data-ng-click="removeItem(mCfg[key]['layers'], $index)"
        >
          <i class="fa fa-times text-danger"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a
          class="btn btn-default"
          title="{{'add' | translate}}"
          data-ng-click="addItem(mCfg[key]['layers'], {type: 'osm'})"
        >
          <i class="fa fa-fw fa-plus"></i>
          <span translate="">add</span>
        </a>
      </td>
    </tr>
  </table>
</div>
