.ux-rating-reset,.ux-rating-star{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden;}
.ux-rating-reset,.ux-rating-reset a{background:url(../images/delete.gif) no-repeat 0 -16px!important;}
.ux-rating-star,.ux-rating-star a{background:url(../images/star.gif) no-repeat 0 0!important;}
.ux-rating-reset a,.ux-rating-star a{display:block;width:16px;height:100%;background-position:0 0;}
.ux-rating-star-on a{background-position:0 -16px!important;}
.ux-rating-star-hover a{background-position:0 -32px!important;}
.ux-rating-reset-hover a{background-position:0 -16px!important;}
.ux-rating-disabled a{cursor:default!important;}
.ux-rating-star{background:transparent!important;overflow:hidden!important;}
.ux-menu-rating-item{padding:0 21px 3px 27px;line-height:16px;}
.ext-ie .ux-rating-clearfix{zoom:1;}
.ux-rating-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}@charset "utf-8";.x-superboxselect{position:relative;height:auto!important;margin:0;overflow:hidden;padding:2px;display:block;outline:none!important;}
.x-superboxselect input[disabled]{background-color:transparent;}
;.x-superboxselect ul{overflow:hidden;cursor:text;}
.x-superboxselect-display-btns{padding-right:33px!important;}
.x-superboxselect-btns{position:absolute;right:1px;top:0;overflow:hidden;padding:2px;}
.x-superboxselect-btns div{float:left;width:16px;height:16px;margin-top:4px;}
.x-superboxselect-btn-clear{background:url(../images/clear.png) no-repeat scroll left 0;}
.x-superboxselect-btn-expand{background:url(../images/expand.png) no-repeat scroll left 0;}
.x-superboxselect-btn-over{background-position:left -16px;}
.x-superboxselect-btn-hide{display:none;}
.x-superboxselect li{float:left;margin:1px 1px 2px 1px;padding:0;line-height:18px;}
.x-superboxselect-stacked li{float:none!important;}
.x-superboxselect-input input{border:none;outline:none;margin-top:4px;margin-bottom:4px;}
body.ext-ie .x-superboxselect-input input{background:none;border:none;margin-top:3px;}
.x-superboxselect-item{position:relative;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;o-border-radius:6px;khtml-border-radius:6px;border:1px solid #CAD8F3;background-color:#DEE7F8;padding:1px 15px 1px 5px!important;}
body.ext-ie7 .x-superboxselect-item{margin:2px 1px 2px 1px;line-height:1.2em;padding:2px 17px 4px 5px!important;}
body.ext-ie6 .x-superboxselect-item{margin:2px 1px 2px 1px;line-height:1.2em;padding:2px 19px 4px 5px!important;}
.x-superboxselect-item-hover{background:#BBCEF1;border:1px solid #6D95E0;}
.x-superboxselect-item-focus{border-color:#598BEC;background:#598BEC;color:#fff;}
.x-superboxselect-item-close{background:url(../images/close.png) no-repeat scroll left 0;border:none;cursor:default;font-size:1px;height:16px;padding:0;position:absolute;right:0;top:2px;width:13px;display:block;cursor:pointer;}
.x-superboxselect-item-close:hover,.x-superboxselect-item-close:active{background-position:left -12px;}
.x-superboxselect-item-focus .x-superboxselect-item-close{background-position:left -24px;}
.x-item-disabled .x-superboxselect-item-close{background-position:left -36px;}/*!* Ext Core Library */ #ux-lightbox{position:absolute;left:0;width:100%;z-index:15000;text-align:center;line-height:0;}
#ux-lightbox img{width:auto;height:auto;}
#ux-lightbox a img{border:none;}
#ux-lightbox-outerImageContainer{position:relative;background-color:#f3efec;width:250px;height:250px;margin:0 auto;}
#ux-lightbox-imageContainer{padding:10px;}
#ux-lightbox-loading{position:absolute;top:40%;left:0;height:25%;width:100%;text-align:center;line-height:0;background:url(../images/lb-load.gif) no-repeat center 15%;}
#ux-lightbox-hoverNav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10;}
#ux-lightbox-imageContainer>#ux-lightbox-hoverNav{left:0;}
#ux-lightbox-hoverNav a{outline:none;}
#ux-lightbox-navPrev,#ux-lightbox-navNext{width:49%;height:100%;background-image:url(data:../image/gif;base64,AAAA);display:block;}
#ux-lightbox-navPrev{left:0;float:left;}
#ux-lightbox-navNext{right:0;float:right;}
#ux-lightbox-navPrev:hover,#ux-lightbox-navPrev:visited:hover{background:url(../images/lb-prev.png) left 33% no-repeat;}
#ux-lightbox-navNext:hover,#ux-lightbox-navNext:visited:hover{background:url(../images/lb-next.png) right 33% no-repeat;}
#ux-lightbox-outerDataContainer{margin:0 auto;width:100%;}
#ux-lightbox-dataContainer{font:10px Verdana,Helvetica,sans-serif;background-color:#f3efec;overflow:auto;line-height:1.4em;}
#ux-lightbox-data{padding:0 10px;color:#666;}
#ux-lightbox-data #ux-lightbox-details{width:80%;float:left;text-align:left;}
#ux-lightbox-data #ux-lightbox-caption{font-weight:bold;}
#ux-lightbox-data #ux-lightbox-imageNumber{display:block;clear:left;padding-bottom:1.0em;}
#ux-lightbox-data #ux-lightbox-navClose{background:url(../images/lb-close.gif) no-repeat;width:22px;height:22px;float:right;padding-bottom:.7em;outline:none;}
#ux-lightbox-data #ux-lightbox-navClose:hover{background-image:url(../images/lb-close.gif);}
#ux-lightbox-overlay,#ux-lightbox-shim{border:0;position:absolute;top:0;left:0;z-index:14999;width:100%;height:500px;background-color:#000;padding:0;margin:0;}
#ux-lightbox-shim{z-index:89;background-color:transparent;filter:alpha(opacity=0);}.ux-mselect{overflow:auto;background:white;position:relative;zoom:1;overflow:auto;}
.ux-mselect-item{font:normal 10px tahoma,arial,helvetica,sans-serif;padding:2px;border:1px solid #fff;white-space:nowrap;cursor:pointer;}
.ux-mselect-selected{border:1px dotted #a3bae9!important;background:#DFE8F6;cursor:pointer;}.x-form-file-wrap{position:relative;height:22px;}
.x-form-file-wrap .x-form-file{position:absolute;right:0;-moz-opacity:0;filter:alpha(opacity:0);opacity:0;z-index:2;height:22px;}
.x-form-file-wrap .x-form-file-btn{position:absolute;right:0;z-index:1;}
.x-form-file-wrap .x-form-file-text{position:absolute;left:0;z-index:3;color:#777;}