<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">
  <appender name="console"
            class="org.apache.log4j.ConsoleAppender">
    <param name="Target"
           value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d [%-15.15t] %-5p %-30.30c{1} - %10.10X{camel.exchangeId}#%-24.24X{camel.routeId} - %m%n"/>
    </layout>
  </appender>

  <logger name="org.apache.camel" additivity="true">
    <level value="DEBUG"/>
  </logger>
  <logger name="org.springframework" additivity="true">
    <level value="WARN"/>
  </logger>
  <logger name="harvester.wfsfeature">
    <level value="DEBUG"/>
  </logger>

  <root>
    <level value="OFF"/>
    <appender-ref ref="console" />
  </root>
</log4j:configuration>