@import "gn.less";

.nav-pills > li > a {
  border-radius: 4px;
}

#inspireForm .nav > li > a {
  padding: 2px 5px;
  margin-top: 2px;
  font-size: 8px;
}

.gn-date-picker > input.gn-date {
  width: 50%
}

.inspire-input-group {
  background-color: #ffffff;
  border: 0px solid #ccc;
  vertical-align: top;
  cursor: hand;
}

.modal-body .list-group {
  max-height: 20em;
  overflow-y: auto;
}