.gn-top-bar,
.gn-bottom-bar {
  display: block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  li {
    display: block;
    list-style: none;
    text-align: center;
    font-size: 24px;
  }
  a {
    text-decoration: none;
    color: #000000;
  }

  button {
    display: none;
  }
}
.gn-metadata-view {
  /*Mailto links are not created by flying saucer */
  a[href^="mailto:"] {
    text-decoration: none;
    color: #000000;
  }

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
    line-height: 1.1;
  }
  h1 {
    font-size: 24px;
  }
  h3 {
    color: #3071a9;
    font-size: 18px;
    font-weight: normal;
    font-family: "Arial Bold", "Helvetica Bold", Arial, Helvetica, sans-serif;
  }
  a {
    color: #3071a9;
  }
  .toggler {
    display: none;
  }
  div.md-text {
    display: table;
    width: 100%;
    border-spacing: 10px 0;
    dd,
    dt {
      display: table-cell;
    }
  }
  blockquote {
    margin-left: 0;
    em {
      margin-bottom: 5px;
    }
  }
  /*
  Extent is already displayed in main view usually.
  Social and associated resources require JS.
  So hidden from side bar in PDF output. */
  .gn-md-side-extent,
  .gn-md-side-social,
  .gn-md-side-associated,
  .gn-md-side-access {
    display: none;
  }
  dl {
    margin: 0;
    border-top: 1px solid #999999;
  }
  dt,
  dd {
    line-height: 1.428571429;
    padding: 10px 0;
    min-height: 24px;
  }
  dt {
    clear: left;
    width: 300px;
    font-weight: 500;
    font-size: 13px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
  }
  dd {
    display: block;
    margin-left: 300px;
    padding-left: 10px;
    border-left: 1px solid #999999;
    font-size: 13px;
    ul {
      padding-left: 01.5em;
      margin: 0;
    }
    p {
      margin: 8px 0;
    }
  }
  .overview dd {
    margin-left: 1em;
  }
  .entry {
    margin: 10px 0 20px 0;
  }
  // div.md-text {
  //   border-spacing: 10px 0;
  // }
  ul.container-list {
    list-style-type: none;
    background: #eeeeee;
    border-left: 1px solid #999999 !important;
    padding-left: 1em;
    margin-left: 1em;
  }
  ul.md-value-list > li {
    list-style-type: none;
    border-left: 1px solid #999999;
    padding-left: 1em;
    background: #eeeeee;
  }
  .gn-contact {
    border-top: 1px solid #999999;
    padding: 10px 0;
    line-height: 1.5em;
  }
  table {
    width: 100%;
  }
  td {
    vertical-align: top;
    width: 50%;
  }
  a > img.graphic-overview {
    display: none;
  }
  .extent {
    page-break-before: always;
    img {
      border: 1px solid #ccc;
      margin-top: 20px;
      max-width: 100%;
      display: block;
      clear: both;
    }
    .coord {
      float: left;
      display: block;
      border: 2px solid #ccc;
      background: #fff;
      margin-right: 20px;
      margin-bottom: 20px;
      pointer-events: none;
      input {
        text-align: left;
        border: 0;
        padding: 10px;
        margin: 0;
        // width: 100px;
        background: #fff;
      }
      span.input-group-addon {
        background-color: #eeeeee;
        border-left: 1px solid #ccc;
        padding: 15px;
        width: 15px;
        text-align: center;
        float: right;
        font-weight: bold;
      }
    }
  }
}
