@import "gn_infolist.less";
@import "gn_badge_categories.less";

@import "../lib/bootstrap.ext/tagsinput/bootstrap-tagsinput.less";

@import "gn.less";
@import "gn_viewer.less";

@panel-heading-height: 2.8em;

.gn-facet {
  @facet-hover: darken(@text-color, 50%);

  opacity: 0.83;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }

  .gn-facet-item {
    position: relative;
    .fa-close {
      color: @brand-danger;
    }
    .fa-check {
      color: @brand-success;
    }
    .facet-invert {
      display: none;
      position: absolute;
      right: 0;
      background-color: #fff;
      padding-left: 5px;
    }
    &:hover .facet-invert {
      display: block;
    }
  }
  //.gn-facet-root-container {
  //  input.gn-facet-filter {
  //    margin-left: 18px;
  //    width: calc(~"100% - 18px");
  //    border-color: @panel-default-border;
  //  }
  //}
  .gn-facet-container {
    .gn-facet-container {
      margin-left: 20px;
    }
    margin-top: 5px;
    margin-bottom: 5px;
    a {
      text-decoration: none;
      .fa {
        margin-right: 3px;
      }
      div.gn-facet-image {
        background-size: cover !important;
        width: 20px;
        height: 20px;
        margin-right: 3px;
      }
      * {
        transition: color 0.1s;
      }
      span {
        color: @gray-dark;
      }
      &:hover * {
        color: @facet-hover;
      }
      &.gn-facet-collapse-toggle * {
        color: @brand-primary;
      }
      &.gn-facet-collapse-toggle:hover * {
        color: darken(@brand-primary, 10%);
      }
      &.gn-facet-checked * {
        color: @brand-success;
      }
      &.gn-facet-checked:hover * {
        color: darken(@brand-success, 10%);
      }
      &.gn-facet-checked-inverted * {
        color: @brand-danger;
      }
      &.gn-facet-checked-inverted:hover * {
        color: darken(@brand-danger, 10%);
      }
    }
    .gn-facet-collapse-toggle {
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translate(0, -50%);
    }
    .gn-facet-label {
      color: @gray-dark;
    }
    .gn-facet-count {
      margin-left: 3px;
      &:before {
        content: "(";
      }
      &:after {
        content: ")";
      }
      &.gn-facet-count-0 {
        display: none;
      }
    }
  }
  .gn-facet-header {
    color: @gray-dark;
    text-decoration: none;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 3px;
    transition: color 0.1s;
    &:hover {
      color: @facet-hover;
    }
    &.gn-facet-panel-active {
      color: @brand-primary;
    }
  }
  .gn-facet-more,
  .gn-facet-less {
    margin-left: 15px;
  }
  .gn-facet-input-group {
    margin-left: 18px;
    input,
    .input-group-addon,
    .btn {
      background: none;
      border: none;
      border-bottom: 1px solid #d3d3d3;
      border-radius: 0;
      box-shadow: none;
    }
    .input-group-addon {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .input-daterange {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .gn-graph {
    overflow-x: hidden;
    max-height: none;
    position: relative;
  }
  .gn-graph-buttons {
    font-size: 1.2em;
    position: absolute;
    left: 0.2em;
    top: 0;
  }
  .ui-timeline {
    .zoomBtn {
      text-decoration: none;
    }
    .axis {
      font-size: 10px;
    }
  }
  .facet-pagination .separator:first-child {
    display: none;
  }
  .gn-facet-breadcrumb {
    margin-top: 8px;
    li > a:hover {
      color: darkred;
      text-decoration: line-through;
    }
  }
}

/*HOME*/
.search-over {
  color: #707070;
  text-align: center;
  margin-top: 5px;
  strong {
    color: #333;
  }
}
.gn-form-any {
  input.input-lg {
    height: 46px;
    border-radius: 3px;
  }
  .input-group-btn a {
    border-radius: 3px;
  }
  .dropdown-menu {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    li a {
      .text-overflow();
    }
  }
  .dropdown-menu.dropdown-auto {
    width: auto;
  }
  [data-gn-user-searches-list] .dropdown-menu {
    width: auto;
  }
}
.gn-icon-bg {
  height: 130px;

  text-align: center;
  .gn-icon-label {
    font-size: 70%;
  }
  .badge {
    background-color: #428bca;
  }
  :hover {
    color: #fff;
    background-color: #428bca;
    text-decoration: none;
    .badge {
      background-color: #ffffff;
      color: #428bca;
    }
  }
}

// fix sort-by combo case
.gn-sort-by .btn.dropdown-toggle {
  background-color: #fff;
  &:first-letter {
    text-transform: uppercase;
  }
}

/* TODO: Deprecate due to change in gn-pager and gn-sort-by */
[sortby-combo],
[hitsperpage-combo] {
  display: inline-block;
  vertical-align: top;
  select {
    .input-sm;
  }
}

.top-buffer {
  margin-top: 2em;
}

[data-gn-facet-list] {
  h4 {
    font-size: 14px;
  }
}

/* typeahead styles */
.twitter-typeahead {
  width: 100%;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
  pointer-events: none;
}

.tt-menu {
  margin-top: 7px;
  margin-left: -7px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  max-height: 350px;
  overflow-y: auto;
  width: calc(~"100% + 14px");
}

.tt-suggestion {
  padding: 3px 10px;
}

.tt-suggestion p {
  margin: 0;
  margin-top: 2px;
  line-height: normal;
}
.tt-hint {
  color: #999;
  width: 100% !important;
  border: none !important;
}
.bootstrap-tagsinput .tt-input {
  width: 100% !important;
  border: none !important;
}
/** Enf of typeahead styles */
.bootstrap-tagsinput {
  width: 100%;
  .tag-content {
    display: inline-block;
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.tagsinput-clear,
.tagsinput-trigger {
  position: absolute;
  top: 4px;
  right: 26px;
}
.tagsinput-trigger {
  top: 0.575em;
  right: 20px;
  font-size: 16px;
  font-weight: normal;
}

[gn-bootstrap-datepicker].input-group[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

//removes some artifacts that prevent clicks on the datepicker
.datepicker-dropdown.datepicker-orient-bottom,
.datepicker-dropdown.datepicker-orient-top {
  &:before,
  &:after {
    display: none;
  }
}

[gn-collapsible],
[data-gn-collapsible] {
  cursor: pointer;
}
.gn-searchform {
  .backtonormal {
    margin-bottom: -20px;
  }
  font-size: 90%;
  label {
    font-weight: normal;
  }
  input[type="text"],
  select {
    .input-sm;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .bootstrap-tagsinput {
    padding: 0;
  }
  .advanced .bootstrap-tagsinput {
    margin-bottom: 0;
  }
  .tt-menu {
    left: 6px !important;
    width: 100%;
  }
  legend {
    font-size: 1em;
    font-style: italic;
    padding-top: 0.4em;
    margin-bottom: 12px;
  }
  .bootstrap-tagsinput {
    .label {
      .label-primary;
      font-size: 12px;
      font-weight: normal;
      margin: 2px;
    }
  }
}

[gn-selection-widget] {
  display: inline-block;
  position: relative;
  .md-checkbox {
    position: absolute;
    z-index: 10;
    top: 0.7em;
    left: 0.9em;
  }
  .btn-group [type="checkbox"] {
    visibility: hidden;
    pointer-events: none;
  }
}

[ol-map] {
  width: 100%;
  height: 250px;
}

.collapse-text-toggle {
  color: grey;
}

[search-results] {
  h4 {
    font-size: 15px;
  }
  .list-group {
    margin-bottom: 0;
  }
  .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    &:first-of-type {
      border-top-width: 0;
    }
    &:last-of-type {
      border-bottom-width: 0;
    }
  }
}

.gn-resultview {
  .gn-score {
    .hidden();
    .text-muted();
    font-style: italic;
  }
  .gn-md-links,
  .gn-md-related {
    margin: 4px 0 0 0;
    .dropdown-menu {
      max-width: 500px;
      li a {
        padding: 8px 20px;
        line-height: normal;
        min-width: unset;
        .text-overflow();
        display: block;
      }
    }
  }
  h4 {
    font-size: 14px;
  }
  blockquote {
    padding: 6px 20px;
    margin: 0;
    font-size: 90%;
    color: #666;
  }
  li:hover {
    background-color: #f5f5f5;
    transition: background-color ease 0.5s;
    cursor: pointer;
  }
  .invisible {
    display: none;
  }
}

.gn-top-records {
  /* Make a wide div with an horizontal scroll */
  [data-gn-results-container] {
    overflow-x: auto;
    overflow-y: hidden;

    .gn-resultview {
      display: flex;
    }
  }
}

.gn-img-thumbnail-caption {
  text-align: center;
  font-style: italic;
  color: @text-muted;
}

[data-ng-search-form],
[ng-search-form],
.gn-search-page {
  .whidden,
  [class*="col-md"] {
    transition: width ease 0.25s;
    transition-property: width, margin;
  }
  .whidden {
    width: 0;
    overflow-x: hidden;
  }

  .filter {
    .pull-right();
    margin: 0.8em -0.3em 0 0.8em;
  }

  .input-group.gn-form-any {
    .btn {
      border-radius: 0px;
    }
  }

  .panel-heading {
    padding: 0 15px;
    height: @panel-heading-height;
    line-height: @panel-heading-height;
    [sortby-combo],
    [hitsperpage-combo] {
      vertical-align: middle;
    }
  }

  [gn-map-field],
  [data-gn-map-field] {
    .gn-draw-btn,
    .btn-group-vertical {
      top: 4px;
      position: absolute;
      z-index: 10;
    }
    .btn-group-vertical {
      right: 4px;
    }

    .gn-draw-btn {
      left: 4px;
    }
  }
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.relatedMd {
  .relatedRecord {
    float: left;
    padding: 8px;
    cursor: pointer;
  }
}

.cookie-warning {
  text-align: center;
  width: 100%;
  span {
    font-weight: bolder;
    font-color: #428bca;
    cursor: pointer;
  }
}

.application-banner {
  background-color: #fff8c5;
  border: 1px solid #d4a72c66;
  margin: 15px;
  padding: 15px;
  border-radius: 4px;
  color: #000;
}

button:focus [role="tooltip"],
button:hover [role="tooltip"] {
  clip: auto;
  right: 2.8em;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.2em 0.5em;
  margin-top: -0.2em;
  border-radius: 0.2em 0 0 0.2em;
  text-shadow: 0 0 1px #000;
  z-index: 9000;
}
button.active [role="tooltip"] {
  display: none;
}

.gn-close-btn {
  cursor: pointer;
  &:hover {
    color: grey;
  }
}

[gn-share] {
  .clearfix();
  @media (min-width: @screen-md) {
    min-width: 600px;
  }
  .gn-searchgroup-input {
    padding-left: 0;
    max-width: 400px;
  }
  .gn-share-grid {
    overflow: auto;
    margin-bottom: 5px;
    tbody {
      max-height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    td,
    th {
      text-align: center;
      width: 7em;
      &:first-child {
        width: 15em;
        text-align: left;
      }
      td {
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
  }
}
.gn-privileges-popup {
  position: fixed !important;
  max-width: 750px;
  .gn-popup-content {
    vertical-align: top;
    max-height: 750px;
    .gn-share-grid {
      tbody {
        max-height: 45vh;
      }
    }
  }
}
.gn-popup-title {
  span {
    display: inline-block;
    max-width: 660px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.gn-required > label:after,
.gn-mandatory > label:after {
  content: " *";
  color: #a94442;
  font-weight: normal;
}

//datepicker highlight
.gn-date-hl {
  text-decoration: underline;
}
.datepicker-dropdown.datepicker-orient-bottom:before {
  border: none;
}
.gn-related-list {
  padding: 2px 0;
  list-style: none;
  > li {
    &:hover {
      text-decoration: none;
      color: #262626;
      background-color: transparent;
    }
    &.gn-related-type {
      padding-left: 15px;
      padding-bottom: 1px;
      min-width: 250px;
      &:hover {
        background-color: transparent;
        cursor: default !important;
      }
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}

.hidden-nojs {
  display: none !important;
}

.gn-nojs [role="main"] {
  background-color: white;
  padding-top: 15px;
}

.search-filter-tags {
  .panel-body {
    font-size: 14px;
    padding-left: 0px;
  }
  .gn-filter-negative {
    color: @brand-danger;
    text-decoration: line-through;
  }
  a.filter-group,
  .remove-all-link > a {
    font-weight: initial;
    word-break: break-word;
    &:hover,
    &:focus {
      text-decoration: underline;
      .fa {
        text-decoration: none;
      }
    }
  }
  .filter-group {
    position: relative;
    line-height: 1.1em;
    &:not(:last-child) {
      margin-bottom: 0.8em;
    }
    .delete-icon {
      line-height: 1em;
      opacity: 0;
    }
    &:hover,
    &:focus {
      .delete-icon {
        opacity: 1;
      }
    }
  }
  .remove-all {
    color: @panel-danger-text;
  }
}
