<div data-ng-if="hasExtent" ol-map="map"></div>

<div class="row">
  <div class="col-md-3 gn-nopadding-left gn-padding-top-lg">
    <div
      data-gn-wfs-filter-facets=""
      data-layer="currentLayer"
      data-display-table-on-load="true"
      data-boot-mode="index"
    ></div>
  </div>
  <div class="col-md-9 gn-nopadding-right gn-padding-top-lg">
    <gn-features-tables
      gn-features-tables-map="map"
      data-show-close="false"
      data-height="400"
    ></gn-features-tables>
  </div>
</div>
