<div
  data-ng-repeat="(key, t) in allKeywords"
  data-ng-if="thesaurus && thesaurus.indexOf(key) !== -1"
  title="{{t.multilingualTitle.default || t.title}}"
  class="row"
>
  <div
    class="col-md-12"
    data-ng-init="keywordList = key === 'th_regions'
                     ? record.getKeywordsGroupedByUriBase('th_regions', '(.*\/C19|.*#[A-Za-z]*).*')
                     : t.keywords"
  >
    <div
      data-ng-repeat="k in keywordList | orderBy:getOrderByConfig(key) track by $index"
      gn-popover=""
      gn-popover-placement="bottom"
      class="pull-left"
    >
      <button gn-popover-anchor="" class="btn btn-default btn-xs">{{::k.default}}</button>
      <div gn-popover-content="">
        <a data-ng-href="{{::k.link}}" data-ng-if="::!!k.link">
          <i class="fa fa-fw fa-info"></i>
          <span data-translate="">keywordAnchorLink</span>
          <span>{{::k.default}}</span>
        </a>
        <br data-ng-if="::!!k.link" />

        <div data-gn-search-filter-link="tag.\\*" data-filter="k.default">
          {{k.default}}
        </div>
      </div>
    </div>
  </div>
</div>
