<div data-ng-repeat="(key, t) in allKeywords"
     data-ng-if="mainThesaurus && mainThesaurus.indexOf(key) !== -1">
  <a data-ng-repeat="k in t.keywords track by $index"
     href=""
     class="btn btn-default btn-xs"
     title="{{'clickToFilterOn' | translate}} {{::k.default | capitalize}}"
     aria-label="{{'clickToFilterOn' | translate}} {{::k.default | capitalize}}"
     data-ng-click="filterBy('tag.default', k.default)">
    {{::k.default | capitalize}}
    <i class="fa fa-search"/>
  </a>
</div>
