<div data-ng-if="similarDocuments.length > 2"
     class="gn-info-list-blocks gn-margin-bottom">
  <h2 data-translate="">moreLikeThis</h2>

  <ul class="row list-group gn-info-list">
    <gn-metadata-card data-ng-repeat="md in similarDocuments"
                      md="md"
                      formatter-url="formatter.defaultUrl"/>
  </ul>

  <button data-ng-if="size < maxSize
                   && similarDocuments.length == size"
          class="btn btn-link"
          data-ng-click="moreRecords()">
    <span data-translate="">viewMore</span>
  </button>
</div>
