<div data-ng-if="similarDocuments.length > 2"
     class="gn-info-list-blocks">
  <h4>
    <i class="fa fa-fw fa-copy"></i>
    <span data-translate="">moreLikeThis</span>
  </h4>


  <ul class="row list-group gn-info-list">
    <gn-metadata-card data-ng-repeat="md in similarDocuments"
                      md="md"
                      formatter-url="formatter.defaultUrl"/>
  </ul>

  <button data-ng-if="size < maxSize
                   && similarDocuments.length == size"
          class="btn btn-link btn-xs"
          data-ng-click="moreRecords()">
    <i class="fa fa-fw fa-ellipsis-h"/>
  </button>
</div>
