<div>
  <h4>
    <i class="fa fa-fw fa-copy"></i>
    <span data-translate="">moreLikeThis</span>
  </h4>
  <div class="list-group">
    <a data-ng-repeat="record in similarDocuments.hits"
       href="#/metadata/{{record._source.uuid}}"
       class="list-group-item flex-row flex-align-center"
       data-ng-hide="md.uuid === record._source.uuid">
      <span>
        {{record._source.resourceTitleObject.default}}<br/>
        <div data-ng-if="record._source.cl_status_text.length > 0"
             title="{{record._source.cl_status_text[0]}}"
             class="gn-status gn-status-{{record._source.cl_status[0]}}">{{record._source.cl_status_text[0]}}
        </div>
      </span>
      <div class="flex-spacer flex-grow"></div>
      <img data-ng-if="record._source.overview"
           style="max-width: 95px;"
           data-ng-src="{{record._source.overview.url || record._source.overview[0].url}}?size=95">
    </a>
  </div>
</div>
