<li data-ng-class='::!isParentNode ? "leaf" : ""'>
  <div class="flex-col">
    <div class="flex-row width-100 flex-align-stretch">
      <div class="flex-col flex-grow">
        <a
          href=""
          class="truncate"
          data-ng-click="isParentNode ? toggleNode($event) : addLayer(null, $event)"
          title="{{member.Title || member.title}}"
        >
          <i
            class="fa fa-fw"
            data-ng-class='::isParentNode ? "fa-folder-open-o" : "fa-map-o"'
          ></i>
          {{member.Title || member.title}}
          <span data-ng-if="member.Style.length === 1">
            &nbsp;({{member.Style[0].Title}})
          </span>
        </a>
      </div>
      <div class="gn-layer-toolbar btn-group btn-group-xs">
        <div
          class="gn-layer-actions pull-right"
          data-ng-if="!isParentNode && member.Style.length > 1"
        >
          <div
            data-gn-layer-styles="member.Style"
            data-gn-layer-styles-on-click="addLayer(style)"
          ></div>
        </div>
        <button
          type="button"
          class="btn btn-default"
          data-ng-click="isParentNode ? toggleNode($event) : addLayer(null, $event)"
          data-ng-if="!isParentNode"
          class="btn btn-default btn-xs"
          title="{{(isParentNode ? 'showGroupLayers' : 'addToMap') | translate}}"
        >
          <i class="fa fa-fw fa-plus"></i>
        </button>
      </div>
      <!-- /.gn-layer-toolbar -->
    </div>
    <!-- /.flex-row width-100 flex-align-stretch -->
  </div>
</li>
