<div data-ng-show="styles.length > 1">
  <!-- dropdown -->
  <div data-ng-hide="layout === 'select'" class="dropdown">
    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
      <span class="fa fa-paint-brush"></span>
      <span class="caret"></span>
    </button>
    <ul
      class="dropdown-menu"
      data-ng-class="{'dropdown-menu-right': dropdownDirection === 'right'}"
    >
      <li class="dropdown-header" data-translate="">selectStyle</li>
      <li data-ng-repeat="s in styles | orderBy:'Title'">
        <div class="flex-row">
          <div class="flex-col flex-grow-4">
            <a
              href=""
              data-ng-click="clickFn(s)"
              class="gn-padding-left gn-padding-right"
              data-ng-disabled="current.Name === s.Name"
              title="{{::'addToMap' | translate}}"
            >
              {{::s.Title || s.Name}}
            </a>
          </div>
          <div class="flex-col gn-padding-right">
            <a
              href=""
              class="btn btn-xs btn-link"
              data-gn-img-modal="{url: s.LegendURL[0].OnlineResource, title: (s.Title || s.Name), id: s.Name}"
              title="{{'previewLegend' | translate}}"
            >
              <i class="fa fa-image"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- (traditional) select -->
  <select
    class="form-control"
    data-ng-show="layout === 'select'"
    data-ng-model="data.currentStyle"
    data-ng-options="(s.Title || s.Name) for s in styles track by s.Name"
    title="{{styles.length + ('layerStylesAvailable' | translate)}}"
  >
    <option value="" disabled="disabled">
      {{styles.length + ('layerStylesAvailable' | translate)}}
    </option>
  </select>
</div>
