<div class="cookie-warning ng-cloak"
     data-ng-show="showCookieWarning()" >

  <p class="cookie-warning-header"
     data-translate="">cookieWarning</p>
  <p class="cookie-warning-link ng-cloak" data-ng-if="cookieWarningMoreInfoLink">
    <a data-ng-href="{{cookieWarningMoreInfoLink}}" target="cookie_law"
       data-translate="">moreOnCookie</a>
  </p>
  <p class="cookie-warning-actions">
    <span data-ng-click="acceptCookies()" data-translate="">acceptCookie</span>&nbsp;
    <span data-translate="">or</span>&nbsp;
    <span data-ng-click="goAway()" data-translate="">rejectCookie</span>
  </p>
</div>
