<div class="cookie-warning" 
     data-ng-show="{{showCookieWarning}}"
     data-ng-controller="CookieWarningController">

  <p class="{showCookieWarning}" 
     data-translate="">cookieWarning</p>
  <p>
    <a href="http://sitebeam.net/cookielaw/" target="cookie_law" 
       data-translate="">moreOnCookie</a>
  </p>
  <p>
    <span data-ng-click="close()" data-translate="">acceptCookie</span>
    <span data-translate="">or</span>
    <span  data-ng-click="goAway()" data-translate="">rejectCookie</span>
  </p>
</div>