<div class="gn-data-view">
  <ul class="nav nav-pills">
    <li data-ng-repeat="layer in layers"
        data-ng-if="layer.background != true"
        data-ng-class="{active: layer == currentLayer}">
      <a role="tab" data-ng-click="setLayer(layer)"
         title="{{layer.get('label')}}">
        {{layer.get('label') | limitTo:15}}
        <span data-ng-show="layer.get('featureCount')">
          ({{layer.get('featureCount')}}&nbsp;
          {{'features' | translate}})
        </span>
      </a>
    </li>
  </ul>

  <div class="tab-content" data-ng-show="currentLayer">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div data-gn-wfs-download="currentLayer" data-map="map" class="pull-right">
      </div>

      <div class="row">
        <div class="col-md-2">
          <div data-gn-wfs-filter-facets=""
               data-layer="currentLayer"
               data-boot-mode="solr"></div>
        </div>
        <div class="col-md-10">
          <div data-gn-data-table="currentLayer.get('solrQ')"
               data-gn-data-table-solr-type="WfsFilter"
               data-gn-data-table-solr-name="facets"
               data-exclude-cols="excludeCols"></div>
        </div>
      </div>
    </div>
  </div>
</div>