<div class="gn-md-links">
  <!--Downloads to panier button-->
  <div
    class="btn-group pull-right"
    ng-if="downloads.length > 1"
    sxt-popover-dropdown
    placement="bottom"
    container="{{container}}"
    className="sxt-popover-grid"
  >
    <button
      type="button"
      class="btn btn-default dropdown-toggle btn-sm"
      title="{{'download' | translate}}"
      data-ng-disabled="!md.download"
    >
      <span class="fa fa-download"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu small-dropdown" role="menu">
      <li ng-repeat="link in downloads">
        <a
          href=""
          ng-click="resultviewFns.addMdLayerToPanier(link, md, $event)"
          title="{{link.description || (link.name + ' - ' + link.contentType)}}"
        >
          <span
            class="fa fa-file-zip-o"
            ng-if="link.contentType=='application/zip'"
          ></span>
          {{link.description || (link.name + (link.contentType ? ' - ' + link.contentType
          : '')) }}
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="" data-ng-click="resultviewFns.addAllMdLayersToPanier(downloads, md)">
          <i class="fa fa-plus"></i>&nbsp;
          <span
            data-translate=""
            data-translate-values="{number: '{{downloads.length}}'}"
          >
            addAllLayersToPanier</span
          >
        </a>
      </li>
    </ul>
  </div>
  <button
    type="button"
    class="btn btn-default btn-sm pull-right"
    data-ng-disabled="!md.download"
    ng-if="downloads.length == 1"
    ng-click="resultviewFns.addMdLayerToPanier(downloads[0], md, $event)"
    title="{{'download' | translate}}"
  >
    <span class="fa fa-download"></span>
  </button>

  <!--Layers to map button-->
  <div
    class="btn-group pull-right"
    ng-if="isMap && layers.length > 1 "
    sxt-popover-dropdown
    placement="bottom"
    container="{{container}}"
    className="sxt-popover-grid"
  >
    <button
      type="button"
      class="btn btn-default dropdown-toggle btn-sm"
      title="{{'view' | translate}}"
      data-ng-disabled="!md.dynamic"
    >
      <span class="fa fa-globe"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu small-dropdown" role="menu">
      <li ng-repeat="layer in layers">
        <a
          href=""
          ng-click="resultviewFns.addMdLayerToMap(layer, md, $event)"
          title="{{layer.desc || layer.name}}"
        >
          <span
            class="fsxt"
            ng-if="layer.protocol =='OGC:WMTS' || layer.protocol =='OGC:WMS'"
            >c</span
          >
          <span class="fa fa-globe" ng-if="layer.protocol=='OGC:OWS-C'"></span>
          {{layer.description || layer.desc || layer.name}}
        </a>
      </li>
      <li class="divider" ng-if="!hasExternalViewer()"></li>
      <li ng-if="!hasExternalViewer() && getMapLayersCount(layers) > 1">
        <a href="" data-ng-click="resultviewFns.addAllMdLayersToMap(layers, md, $event)">
          <i class="fa fa-plus"></i>
          <span
            data-translate=""
            data-translate-values="{number: '{{getMapLayersCount(layers)}}'}"
          >
            addAllLayersToMap</span
          >
        </a>
      </li>
    </ul>
  </div>
  <button
    type="button"
    class="btn btn-default btn-sm pull-right"
    data-ng-disabled="!md.dynamic"
    ng-if="isMap && layers.length == 1"
    ng-click="resultviewFns.addMdLayerToMap(layers[0], md, $event)"
    title="{{'view' | translate}}"
  >
    <span class="fa fa-globe"></span>
  </button>

  <div
    class="btn-group pull-right"
    ng-if="links.length > 0"
    sxt-popover-dropdown
    placement="bottom"
    container="{{container}}"
    className="sxt-popover-grid"
  >
    <button
      type="button"
      class="btn btn-default dropdown-toggle btn-sm"
      title="{{'links' | translate}}"
    >
      <span class="fa fa-link"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu small-dropdown" role="menu">
      <li ng-repeat="link in links">
        <a
          href="{{link.url}}"
          target="_blank"
          title="{{::(link.description || link.name || link.url)}}"
        >
          {{::(link.description || link.name || link.url)}}
        </a>
      </li>
    </ul>
  </div>
</div>
