<a
  data-ng-href="https://plus.google.com/share?url={{socialMediaLink | encodeURIComponent}}"
  target="_blank"
  class="btn btn-default"
  ><i class="fa fa-fw fa-google-plus"></i></a
>&nbsp;
<a
  data-ng-href="https://twitter.com/share?url={{socialMediaLink | encodeURIComponent}}"
  target="_blank"
  class="btn btn-default"
  ><i class="fa fa-fw fa-twitter"></i></a
>&nbsp;
<a
  data-ng-href="https://www.facebook.com/sharer.php?u={{socialMediaLink | encodeURIComponent}}"
  target="_blank"
  class="btn btn-default"
  ><i class="fa fa-fw fa-facebook"></i></a
>&nbsp;
<a
  data-ng-href="mailto:?subject={{mdView.current.record.resourceTitle}}&amp;body={{socialMediaLink | encodeURIComponent}}"
  class="btn btn-default"
  ><i class="fa fa-fw fa-envelope-o"></i
></a>
