<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" dest="out">
    <Properties>
      <Property name="logs_dir">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{HH:mm:ss.SSS} %-6level [%logger{2}] - %msg%n"/>
        </Console>
        <Routing name="Harvester">
          <Routes pattern="$${ctx:logfile}">
            <!-- value dynamically determines the name of the log file. -->
            <Route>
              <File name="harvester-${ctx:harvester}" fileName="${sys:log_dir:-${logs_dir}}/${ctx:logfile:-harvester_default.log}">
                <PatternLayout>
                  <pattern>%date{ISO8601}{${ctx:timeZone}} %-5level [%logger] - %message%n</pattern>
                </PatternLayout>
              </File>
            </Route>
          </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.aop.framework.CglibAopProxy" level="error"/>
        <Logger name="net.sf.ehcache.config.ConfigurationFactory" level="error"/>
        <Logger name="org.apache.commons.jcs3.auxiliary" level="error"/>
        <Logger name="org.hibernate" level="error"/>
        <Logger name="org.hibernate.SQL" level="warn"/>

        <Logger name="org.fao.geonet.database" level="warn"/>
        <Logger name="org.fao.geonet.type" level="warn"/>
        <Logger name="org.fao.geonet.formatter" level="warn"/>
        <Logger name="org.xhtmlrenderer" level="off"/>

        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
