<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2001-2016 Food and Agriculture Organization of the
  ~ United Nations (FAO-UN), United Nations World Food Programme (WFP)
  ~ and United Nations Environment Programme (UNEP)
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or (at
  ~ your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but
  ~ WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
  ~
  ~ Contact: Jeroen Ticheler - FAO - Viale delle Terme di Caracalla 2,
  ~ Rome - Italy. email: geonetwork@osgeo.org
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
  <appender name="CA" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/>
    </layout>
  </appender>
  <category name="org.springframework.aop.framework.CglibAopProxy">
    <priority value="ERROR"/>
  </category>
  <category name="net.sf.ehcache.config.ConfigurationFactory">
    <priority value="ERROR"/>
  </category>
  <category name="org.apache.jcs.auxiliary">
    <priority value="ERROR"/>
  </category>
  <category name="org.hibernate">
    <priority value="ERROR"/>
  </category>
  <category name="org.hibernate.SQL">
    <priority value="WARN"/>
  </category>
  <category name="org.fao.geonet.database">
    <priority value="WARN"/>
  </category>
  <category name="org.hibernate.type">
    <priority value="WARN"/>
  </category>
  <category name="geonetwork.formatter">
    <priority value="WARN"/>
  </category>
  <category name="org.xhtmlrenderer">
    <priority value="OFF"/>
  </category>
  <root>
    <level value="WARN"/>
    <appender-ref ref="CA"/>
  </root>
</log4j:configuration>
