<div class="panel panel-default"
     data-ng-class="processReportWarning ? 'panel-warning' : 'panel-success'">
  <div class="panel-heading">
    <span data-translate="">processReportFor</span> {{processReport.processId | translate}}<br/>
    <p> {{numberOfRecordsProcessed}}
      <span data-translate="">recordsProcessed</span>
      ({{processReport.startDate.dateAndTime}}
            <span data-ng-show="processReport.running == 'true'"
            >...</span>
            <span data-ng-show="processReport.running != 'true'"> -
              {{processReport.reportDate}}</span>) </p>
  </div>
  <div class="panel-body">
    <div class="progress progress-striped active"
         data-ng-show="processReport.running == 'true'">
      <div class="progress-bar" style="width: 100%"/>
    </div>

    <table class="table table-striped">
      <tr>
        <td>{{('processReportTotalRecords') | translate}}</td>
        <td class="text-right">{{processReport.totalRecords}}</td>
      </tr>
      <tr>
        <td>{{('processReportProcessedRecords') | translate}}</td>
        <td class="text-right">{{processReport.processedRecords}}</td>
      </tr>
      <tr>
        <td>{{('processReportNullRecords') | translate}}</td>
        <td class="text-right">{{processReport.nullRecords}}</td>
      </tr>
      <tr>
        <td>{{('processReportErrors') | translate}}</td>
        <td class="text-right">{{processReport.metadataErrorReport.metadataErrorReport.length}}</td>
      </tr>
      <tr>
        <td>{{('processReportNoProcessFound') | translate}}</td>
        <td class="text-right">{{processReport.notProcessFound}}</td>
      </tr>
      <tr>
        <td>{{('processReportNotOwner') | translate}}</td>
        <td class="text-right">{{processReport.notOwner}}</td>
      </tr>
    </table>

    <div data-ng-hide="processReport.metadataErrorReport.metadataErrorReport.length == 0">
      <h2 data-translate="">metadataErrorReport</h2>
      <table class="table table-striped">
        <tr>
          <th data-transalte="">identifier</th>
          <th data-translate="">error</th>
        </tr>
        <tr data-ng-repeat="m in processReport.metadataErrorReport.metadataErrorReport">
          <td>{{m.value.id}}</td>
          <td>
            <h4>{{m.value.message}}</h4>
            <pre>{{m.value.stack}}</pre>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>