<a href=""
	 data-ng-href="catalog.search#/{{(draft.draft == 'y')?'metadraf':'metadata'}}/{{metadata['geonet:info'].uuid}}"
	 class="see-draft-pill">
<small>
  <small class="valid-status{{draft.valid}} md-type-{{draft.isTemplate}}"
	  title="{{(('draft') | translate)}}: {{(('validStatus-' + draft.valid) | translate)}}"
	  ng-switch="draft.isTemplate">
	  <i class="fa fa-fw fa-file" ng-switch-when="y" />
	  <i class="fa fa-fw fa-pencil" ng-switch-when="n" />
	  <i class="fa fa-fw fa-bookmark" ng-switch-when="s" />
	  <i class="fa fa-fw fa-bookmark-o" ng-switch-when="t" />
	  <i class="fa fa-fw fa-question" ng-switch-default />
	</small> 
	<label title="{{'seeDraft' | translate}}">{{(('draft') | translate)}}</label>
</small>
</a>