<span class="gn-providedby-logo">
  <img
    data-ng-if="isPreferGroupLogo && recordGroup.logo"
    data-ng-src="{{gnUrl}}../images/harvesting/{{recordGroup.logo}}"
    title="{{recordGroup.label | gnLocalized}}"
    aria-label="{{recordGroup.label | gnLocalized}}"
    class="gn-source-logo"
  />
  <img
    data-ng-if="!isPreferGroupLogo"
    data-ng-src="{{gnUrl}}../images/logos/{{md.sourceCatalogue}}.png"
    aria-label="{{'sourceCatalog' | translate}}"
    class="gn-source-logo"
  />
  <span>{{recordGroup.label | gnLocalized}}</span>
</span>
