<div class="input-group">
  <div class="input-group-btn">
    <button type="button"
      class="btn btn-default dropdown-toggle"
      data-toggle="dropdown">
      {{regionType.label}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li data-ng-repeat="regionObj in gnRegionService.regionsList">
        <a href="" data-ng-click="setRegion(regionObj)">
          <span data-translate="">{{regionObj.name}}</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- /btn-group -->
  <input type="text" name="regionpicker" class="form-control"
    data-gn-region-picker-input=""
    placeholder="{{'chooseRegion' | translate}}"/>
</div>
