<div class="input-group gn-field">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      {{(regionType.label || regionType.name) | translate}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li data-ng-repeat="regionObj in regionTypes">
        <a href="" data-ng-click="setRegion(regionObj)">
          {{regionObj.label || regionObj.name}}
        </a>
      </li>
    </ul>
  </div>
  <!-- /btn-group -->
  <input
    type="text"
    name="regionpicker"
    class="form-control"
    autocomplete="off"
    data-gn-region-picker-input=""
    data-lang="{{lang}}"
    placeholder="{{'chooseRegion' | translate}}"
  />
  <span class="fa fa-spinner fa-spin" data-ng-show="regionLoading"></span>
  <span class="fa fa-times-circle" data-ng-click="resetRegion()"></span>
</div>
