<div
  class="valid-status{{metadata.valid}} md-type-{{metadata.isTemplate}}"
  title="{{('isTemplate' + metadata.isTemplate) | translate}} ({{('validStatus-' + metadata.valid) | translate}})"
  ng-switch="metadata.isTemplate"
>
  <i class="fa fa-fw fa-file" ng-switch-when="y"></i>
  <i class="fa fa-fw fa-file-text" ng-switch-when="n"></i>
  <i class="fa fa-fw fa-bookmark" ng-switch-when="s"></i>
  <i class="fa fa-fw fa-bookmark-o" ng-switch-when="t"></i>
  <i class="fa fa-fw fa-question" ng-switch-default></i>
</div>
