<div class="wrapper" data-ng-controller="gnViewerController as ctrl"
  ng-class="{'leftBarExpanded': isContainerOpened()}">
  <div class="sxt-main-tabs">

    <sxt-tab-switcher />
  </div>
  <div id="map" ol-map="map" class="map"></div>
  <div gn-gfi="" dismiss=".popover" map="map"></div>
  <gn-features-tables gn-features-tables-map="map"
    gn-active="isContainerOpened()"></gn-features-tables>

  <!-- profile graph (data will come through the service) -->
  <gn-profile map="map"></gn-profile>

  <!-- Left buttons - Tools-->
  <div class="tools main-tools" ng-show="isMenuVisible()" ng-class="{'activeTool': isContainerOpened()}">

    <div gi-btn-group class="sxt-panel-button">
      <button class="btn btn-default" ng-model="activeTools.layers" type="submit" rel="#layers" gi-btn="active">
        <span class="fsxt">c</span>
        <span role="tooltip" data-translate="">Layers</span>
      </button>
      <button class="btn btn-default" ng-model="activeTools.import" type="submit" rel="#importLayer" gi-btn="active">
        <span class="fsxt">d</span>
        <span role="tooltip" data-translate="">add</span>
      </button>
      <button class="btn btn-default" ng-model="activeTools.layerOrder" type="submit" rel="#layerOrder" gi-btn="active">
        <span class="fa fa-sort"></span>
        <span role="tooltip" data-translate="">layerOrder</span>
      </button>
      <button class="btn btn-default" ng-model="activeTools.contexts" type="submit" rel="#contexts" gi-btn="active">
        <span class="fa fa-bookmark"></span>
        <span role="tooltip" data-translate="">Contexts</span>
      </button>
      <button class="btn btn-default" ng-model="activeTools.print" type="submit" rel="#print" gi-btn="active">
        <span class="fa fa-print"></span>
        <span role="tooltip" data-translate="">Print</span>
      </button>
      <button gi-btn="active" class="btn btn-default" type="submit" ng-model="mInteraction.active" rel="#measures">
        <span class="fsxt">a</span>
        <span role="tooltip" data-translate="">Measure</span>
      </button>
      <button gi-btn="active" class="btn btn-default" type="submit" rel="#draw" ng-model="drawVector.active">
        <span class="fa fa-pencil"></span>
        <span role="tooltip" data-translate="">Annotations</span>
      </button>
      <button ng-if="benthique" gi-btn="active" class="btn btn-default" type="submit" rel="#benthique" ng-model="activeTools.benthique">
        <span class="fa fa-anchor"></span>
        <span role="tooltip" data-translate="">Espèces benthiques</span>
      </button>

      <button ng-if="::processes && processes.length == 1" gi-btn="active"
        class="btn btn-default" ng-model="activeTools.processes" type="submit"
        rel="#process-panel">
        <span class="fa fa-cogs"></span>
        <span role="tooltip" data-translate>wpsProcess</span>
      </button>

      <!--Hidden btn to bind activeTools.processes in thg gi-btn-grp-->
      <button ng-if="::processes && processes.length > 1" gi-btn
              class="hidden" ng-model="activeTools.processes"></button>
      <div class="btn-group" role="group" sxt-popover-dropdown placement="bottom"
        className="sxt-popover-grid" container="{{container}}"
        ng-if="::processes && processes.length > 1">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
          ng-class="{active: activeTools.processes}">
          <span class="fa fa-cogs"></span>
          <span role="tooltip" data-translate>wpsProcesses</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right text-left">
          <li data-ng-repeat="p in ::processes">
            <a ng-click="selectProcess(p, true)">
              <span class="fa fa-cog"></span>
              {{ ::getProcessLabel(p) }}
            </a>
          </li>
        </ul>
      </div>


    </div>
    <div class="panel-tools-container" ng-class="{'sxt-tab-open': isContainerOpened() }">

      <!--Layer tree & background layers-->
      <div class="panel panel-default panel-tools" id="layers" gnv-layermanager-btn ng-show="activeTools.layers">
        <div class="layers flex-col flex-align-stretch">

          <div class="sxt-layertree flex-grow flex-shrink">
            <div gn-baselayerswitcher="" gn-baselayerswitcher-map="map"></div>
            <div gn-terrain-switcher="ol3d"
                 ng-show="is3dEnabled"></div>
            <div sxt-layertree="map"></div>
          </div>

          <sxt-layer-menu ng-if="hasActiveLayer()"
                          class="flex-no-shrink"
                          layer="activeLayer"
                          map="map"
                          user="user"
                          on-close="clearActiveLayer()">
          </sxt-layer-menu>
        </div>
      </div>

      <!--Layer order-->
      <div class="panel panel-default panel-tools"
           id="layerOrder"
           ng-show="activeTools.layerOrder">
        <br>
        <div gn-layerorder-panel="map"></div>
      </div>

      <!--Import layer WMS,WMTS,KML-->
      <div class="panel panel-default panel-tools" id="importLayer" gnv-layermanager-btn ng-show="activeTools.import">
        <div class="panel-body">

          <div class="btn-group flux">
            <button type="button" class="btn btn-default" data-translate="">LayerWMS</button>
            <button type="button" class="btn btn-default" data-translate="">LayerWMTS</button>
            <button type="button" class="btn btn-default" data-translate="">LayerKML</button>
          </div>

          <div class="panel-carousel-window">
            <div class="panel-carousel-container">
              <div class="panel-carousel" gn-wms-import="wms" gn-wms-import-map="map" gn-wms-import-url=""></div>
              <div class="panel-carousel" gn-wms-import="wmts" gn-wms-import-map="map" gn-wms-import-url=""></div>
              <div class="panel-carousel" gn-kml-import="" gn-kml-import-map="map"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default panel-tools" id="contexts" ng-show="activeTools.contexts">

      <div class="panel-body">
        <div gn-ows-context="" map="map"
          template="../../catalog/views/sextant/templates/owscontext/owscontext.html">
        </div>
      </div>
    </div>

      <!--Measure Info Panel-->
      <div class="panel panel-default panel-tools" id="measures" ng-show="mInteraction.active">
        <div class="panel-body panel-sm">
          <div class="gn-measure-text">
            <div class="alert alert-warning hidden-print" translate>measure_instruction</div>
            <dl class="dl-horizontal">
              <dt>{{'Distance' | translate}}</dt>
              <dd>{{measureObj.distance}}</dd>
              <dt>{{'Surface' | translate}}</dt>
              <dd ng-bind-html="measureObj.surface"></dd>
            </dl>
          </div>
        </div>
      </div>

      <!--Draw Panel-->
      <div class="panel panel-default panel-tools" id="draw" ng-show="drawVector.active">
        <div class="panel-body">
          <div class="gn-draw-styleform" gn-draw="" map="map" vector="drawVector">
          </div>
        </div>
      </div>

      <!--Espece benthique panel-->
      <div ng-if="benthique" class="panel panel-default panel-tools" id="benthique" ng-show="activeTools.benthique">
        <div class="panel-body">
          <h5 data-translate="">benthiqueSpicies</h5>
          <div class="sxt-benthique" sxtb-panel="map">
          </div>
        </div>
      </div>

      <!--process panel-->
      <div class="panel panel-default panel-tools" id="process-panel" ng-show="activeTools.processes">
        <div class="panel-body">
          <gn-wps-process-form ng-if="activeTools.processes" map="map"
            wps-link="selectedProcess"/>
        </div>
      </div>

    <div class="panel panel-default panel-tools" id="print" ng-show="activeTools.print">

      <div class="panel-body">
        <div gn-mapprint="" print-active="activeTools.print" map="map"></div>
      </div>
    </div>

      </div>

  </div>


  <div class="sx-toolbar tools flex-row flex-align-start">
    <!--Top right buttons - Navigation-->
    <div ng-if="hasGeoSearch" class="btn-group" gn-localisation-input map="map"></div>

    <div class="btn-group sxt-adminbtn" ng-if="allowLogin && !authenticated">
      <a type="button" class="btn btn-default"
         href="{{getSignInUrl()}}"
         title="{{'signIn'|translate}}">
        <i class="fa fa-sign-in"></i>
      </a>
    </div>
  </div>

  <!--Top right buttons - Navigation-->
  <div class="tools control-tools">
    <button class="btn btn-default btn-zoomin" type="submit" data-ng-click="zoom(map,1)">
      <span class="fa fa-plus"></span>
      <span role="tooltip" data-translate="">Zoom</span>
    </button>
    <button class="btn btn-default btn-maxextent" type="submit" data-ng-click="zoomToMaxExtent(map)">
      <span class="fa fa-globe"></span>
      <span role="tooltip" data-translate="">maxExtentZoom</span>
    </button>
    <button class="btn btn-default btn-zoomout" type="submit" data-ng-click="zoom(map,-1)">
      <span class="fa fa-minus"></span>
      <span role="tooltip" data-translate="">ZoomOut</span>
    </button>

    <!-- graticule: hidden if no layer info given -->
    <button gn-graticule-btn="map" class="btn btn-default" type="submit"
      ng-if="graticuleOgcService" graticule-ogc-service="graticuleOgcService">
    </button>

    <button ng-if="profileTool" class="btn btn-default btn-profiletool" type="submit" sxt-profile-tool="map"
            wps-link="profileTool">
      <span class="fa fa-area-chart"></span>
      <span role="tooltip" translate>profileToolTooltip</span>
    </button>

    <button class="btn btn-default" type="submit" sxt-full-screen="map">
      <span class="fa fa-expand"></span>
      <span role="tooltip" data-translate="">fullScreen</span>
    </button>
    <button class="btn btn-default" type="submit"
            data-ng-if="is3DModeAllowed"
            data-ng-click="switch2D3D(map)">
      <span class="fa fa-cube"
            data-ng-class="is3dEnabled ? 'fa-cube' : 'fa-square-o'"/>
      <span role="tooltip" data-translate="">switchFrom2DTo3D</span>
    </button>
  </div>


  <footer ng-class="{'leftBarExpanded': isContainerOpened()}">
    <div sxt-mouse-position></div>
  </footer>

</div>
