<div class="wrapper" data-ng-controller="gnViewerController">

  <div data-gn-alert-manager=""></div>
  <div id="map" ngeo-map="map" class="map"></div>
  <div gn-gfi="" map="map" ng-class="{'leftBarExpanded': active.tool}"></div>


  <button class="btn btn-default sxt-side-btn sxt-search-btn" data-ng-click="locService.setSearch()" >
    <span translate>Catalogue</span>
    <i class="fa fa-play"></i>
  </button>

  <!-- Left buttons - Tools-->
  <div class="tools main-tools" ng-class="{'activeTool': active.tool }" gi-btn-group gnv-close-panel data-ng-controller="toolsController">
    <button sxt-tool class="btn btn-default" ng-model="activeTools.layers" type="submit" rel="#layers" gi-btn gnv-tools-btn>
      <span class="fa fa-tasks"></span>
      <span role="tooltip" data-translate="">Layers</span>
    </button>
    <button sxt-tool class="btn btn-default" ng-model="activeTools.import" type="submit" rel="#importLayer" gi-btn gnv-tools-btn>
      <span class="fa fa-plus-square-o"></span>
      <span role="tooltip" data-translate="">Import</span>
    </button>
    <button sxt-tool class="btn btn-default" ng-model="activeTools.contexts" type="submit" rel="#contexts" gi-btn gnv-tools-btn>
      <span class="fa fa-book"></span>
      <span role="tooltip" data-translate="">Contexts</span>
    </button>
    <button sxt-tool class="btn btn-default" ng-model="activeTools.print" type="submit" rel="#print" gi-btn gnv-tools-btn>
      <span class="fa fa-print"></span>
      <span role="tooltip" data-translate="">Print</span>
    </button>
    <button sxt-tool gi-btn class="btn btn-default" type="submit" ng-model="mInteraction.active" rel="#measures" gnv-tools-btn>
      <span class="fa fa-expand"></span>
      <span role="tooltip" data-translate="">Measure</span>
    </button>
    <button sxt-tool gi-btn class="btn btn-default" type="submit" rel="#draw" ng-model="drawVector.inmap" gnv-tools-btn>
      <span class="fa fa-pencil"></span>
      <span role="tooltip" data-translate="">Annotations</span>
    </button>
    <button sxt-tool gi-btn class="btn btn-default" type="submit" rel="#benthique" ng-model="activeTools.benthique" gnv-tools-btn>
      <span class="fa fa-anchor"></span>
      <span role="tooltip" data-translate="">Espèces benthiques</span>
    </button>
  </div>


  <!--Top right buttons - Navigation-->
  <div class="btn-group sx-toolbar tools" gn-localisation-input map="map"></div>
  <div class="btn-group sx-toolbar tools">
    <button class="btn btn-default" type="submit" data-ng-click="gotoPanier()">
      <span class="fa fa-shopping-cart"></span>
      <span role="tooltip" data-translate="">Basket</span>
    </button>
  </div>
  <div class="btn-group control-tools tools sxt-fullscreen">
    <button class="btn btn-default" type="submit" sxt-full-screen="map">
      <span class="fa fa-desktop"></span>
      <span role="tooltip" data-translate="">Fullscreen</span>
    </button>
  </div>

  <!--Top right buttons - Navigation-->
  <div class="tools control-tools">
    <button class="btn btn-default" type="submit" data-ng-click="zoom(map,1)">
      <span class="fa fa-plus"></span>
      <span role="tooltip" data-translate="">Zoom</span>
    </button>
    <button class="btn btn-default" type="submit" data-ng-click="zoomToMaxExtent(map)">
      <span class="fa fa-arrows-alt"></span>
      <span role="tooltip" data-translate="">Localisation</span>
    </button>
    <button class="btn btn-default" type="submit" data-ng-click="zoom(map,-1)">
      <span class="fa fa-minus"></span>
      <span role="tooltip" data-translate="">ZoomOut</span>
    </button>
    <button gn-graticule-btn="map" class="btn btn-default" type="submit">
    </button>
  </div>

  <div class="panel-tools-container" ng-class="{'open': active.tool }">

    <!--Layer tree & background layers-->
    <div class="panel panel-default force-hide panel-tools" id="layers" gnv-layermanager-btn>
      <div class="layers" ng-class="{'layers-tools-expanded': active.layersTools}">

        <div class="panel-body">
          <button type="button" class="btn btn-default close" sxt-close-tool>
            &times;
          </button>
          <h5 data-translate="">ThemeLayers</h5>
        </div>

        <div class="sxt-layertree">
          <div gn-baselayerswitcher="" gn-baselayerswitcher-map="map"></div>
          <div sxt-layertree="map"></div>
        </div>

        <div ng-if="active.NCWMS" class="panel panel-default panel-ncwms-container">
          <div class="panel-heading">
          <button type="button" class="btn btn-default close" ng-click="active.NCWMS = null">
              &times;
            </button>
            <h5>{{active.NCWMS.get('label')}}</h5>
          </div>
          <div gn-ncwms-transect="" map="map" layer="active.NCWMS"></div>
        </div>

        <div class="panel-body layers-tools" ng-class="{'layers-tools-expanded': active.layersTools}" sxt-layers-tools>
          <div class="btn-group flux">
            <button type="button" class="btn btn-default active" translate>legends</i></button>
            <button type="button" class="btn btn-default" translate>sort</i></button>
            <button type="button" class="btn btn-default" translate>sources</button>
          </div>

          <div class="panel-carousel-window">
            <div class="panel-carousel-container">
            <div class="panel-carousel" gn-legend-panel="map"></div>
            <div class="panel-carousel" gn-layerorder-panel="map"></div>
            <div class="panel-carousel" gn-layersources-panel="map"></div>
          </div>
        </div>
      </div>

      </div>
    </div>

    <!--Import layer WMS,WMTS,KML-->
    <div class="panel panel-default force-hide panel-tools" id="importLayer" gnv-layermanager-btn>
      <div class="panel-body">
        <button type="button" class="btn btn-default close" sxt-close-tool>
          &times;
        </button>
        <h5 data-translate="">AddALayer</h5>

        <div class="btn-group flux">
          <button type="button" class="btn btn-default" data-translate="">LayerWMS</button>
          <button type="button" class="btn btn-default" data-translate="">LayerWMTS</button>
          <button type="button" class="btn btn-default" data-translate="">LayerKML</button>
        </div>

        <div class="panel-carousel-window">
          <div class="panel-carousel-container">
            <div class="panel-carousel" gn-wms-import="wms" gn-wms-import-map="map"></div>
            <div class="panel-carousel" gn-wms-import="wmts" gn-wms-import-map="map"></div>
            <div class="panel-carousel" gn-kml-import="" gn-kml-import-map="map"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default force-hide panel-tools" id="contexts">

    <div class="panel-body">
      <button type="button" class="btn btn-default close" sxt-close-tool>
        &times;
      </button>
      <h5 data-translate="">MapContexts</h5>
      <div gn-ows-context="" map="map"></div>
    </div>
  </div>

  <!--Measure Info Panel-->
  <div class="panel panel-default force-hide panel-tools" id="measures">
    <div class="panel-body panel-sm">
      <button type="button" class="btn btn-default close" sxt-close-tool>
        &times;
      </button>
      <h5 data-translate="">Measures</h5>
      <div class="gn-measure-text">
        <div class="alert alert-warning hidden-print" translate>measure_instruction</div>
        <dl class="dl-horizontal">
          <dt>{{'Distance' | translate}}</dt>
          <dd>{{measureObj.distance | measure}}</dd>
          <dt>{{'Surface' | translate}}</dt>
          <dd>{{measureObj.surface | measure:'area':['km&sup2', ' m&sup2']}}</dd>
        </dl>
      </div>
    </div>
  </div>

    <!--Draw Panel-->
    <div class="panel panel-default force-hide panel-tools" id="draw">
      <div class="panel-body">
        <button type="button" class="btn btn-default close" sxt-close-tool>
          &times;
        </button>
        <h5 data-translate="">Annotations</h5>
        <div class="gn-draw-text" gn-draw="" map="map" vector="drawVector">
        </div>
      </div>
    </div>

    <!--Espece benthique panel-->
    <div class="panel panel-default force-hide panel-tools" id="benthique">
      <div class="panel-body">
        <button type="button" class="btn btn-default close" sxt-close-tool>
          &times;
        </button>
        <h5 data-translate="">benthiqueSpicies</h5>
        <div class="sxt-benthique" sxtb-panel="map">
        </div>
      </div>
    </div>

  <div class="panel panel-default force-hide panel-tools" id="print">

    <div class="panel-body">
      <button type="button" class="btn btn-default close" sxt-close-tool>
        &times;
      </button>
      <h5 data-translate="">Print</h5>
      <div gn-mapprint="" print-active="activeTools.print" map="map"></div>
    </div>
  </div>

    </div>

  <footer ng-class="{'leftBarExpanded': active.tool}">
    <div sxt-mouse-position></div>
  </footer>

</div>
