<table class="table gn-results-editor">
  <tr data-ng-repeat="md in searchResults.records">
    <td>
      <input class="gn-selectrecord"
             data-gn-selection-md type="checkbox"
             data-ng-model="md['geonet:info'].selected"
             data-ng-change="change()"/>
    </td>
    <td>
      <span class="gn-recordtype"
        data-ng-class="md.valid == 1 ? 'text-success' : (md.valid == 0 ? 'text-danger' : 'text-muted')">
        <i class="fa"
           data-ng-class="'gn-recordtype-' + md.isTemplate"
           data-ng-show="user.isReviewerOrMore()"
           title="{{('isTemplate' + md.isTemplate) | translate}} ({{('validStatus-' + md.valid) | translate}})"></i>
      </span>
    </td>
    <td>
      <h1>
        <a href=""
           data-ng-show="md.isTemplate != 's'"
           data-ng-href="catalog.search#/metadata/{{md.getUuid()}}"
           title="{{md.abstract}}">{{md.title || md.defaultTitle}}</a>
        <span data-ng-show="md.isTemplate == 's'">{{md.title || md.defaultTitle}}</span>
      </h1>
      <div class="clearfix">
        <div class="gn-record-details pull-left">
          <span title="{{'metadataAuthor' | translate}}">{{md.getOwnername()}}</span>
          <span class="pull-right text-muted"
                data-ng-class="{'text-success': md.mdStatus == 2, 'text-warning': md.mdStatus == 4}"
                data-ng-show="md.mdStatus">{{('status-' + md.mdStatus) | translate}}</span>
        </div>
        <div class="btn-group pull-right" role="group">
          <a class="btn btn-default"
             data-ng-href=""
             data-ng-if="user.canEditRecord(md) && user.isEditorOrMore()"
             data-ng-click="mdService.openPrivilegesPanel(md, getCatScope())"
             title="{{'privileges' | translate}}">
            <i class="fa text-muted"
               data-ng-class="md.isPublished() ? 'fa-unlock' : 'fa-lock'"></i>
          </a>

          <!-- TODO: subtemplate link for editing is different -->
          <a class="btn btn-default"
             data-ng-show="user.canEditRecord(md) && md.isTemplate != 's'"
             data-ng-href="#/metadata/{{md['geonet:info'].id}}"
             title="{{'edit' | translate}}">
            <i class="fa fa-pencil"></i>
          </a>

          <a class="btn btn-default"
             data-ng-show="user.canEditRecord(md) && md.isTemplate != 's'"
             data-gn-click-and-spin="deleteRecord(md)"
             data-gn-confirm-click="{{'deleteRecordConfirm' | translate:md}}"
             title="{{'delete' | translate}}">
            <i class="fa fa-trash-o text-danger"></i>
          </a>

          <a class="btn btn-default"
             data-ng-show="md.isTemplate != 's'"
             data-ng-href="#/create?from={{md['geonet:info'].id}}"
             title="{{'duplicate' | translate}}">
            <i class="fa fa-copy text-muted"></i>
          </a>

          <a class="btn btn-default"
             data-ng-show="user.canEditRecord(md) && md.isTemplate != 's'"
             data-ng-href="#/create?childOf={{md['geonet:info'].id}}"
             title="{{'createChild' | translate}}">
            <i class="fa fa-sitemap text-muted"></i>
          </a>
        </div>
      </div>
    </td>
  </tr>
</table>
