<ul class="list-group gn-resultview">
  <li class="list-group-item result" data-ng-repeat="md in searchResults.records" gn-displayextent-onhover="" gn-zoomto-onclick
      gc-fix-mdlinks="">

    <div class="media">

      <div class="media-body">
        <div class="pull-right btn-group md-actions">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-href="" gn-metadata-open="md" gn-metadata-open-selector=".gn-resultview"><i class="fa fa-eye"/><span translate>View</span></a></li>
            <li><a ng-href="" ng-click="mdService.getPermalink(md)"><i class="fa fa-link"/><span translate>permalink</span></a></li>
            <li><a ng-href="" data-ng-click="zoomToMdExtent(md,map)"><i class="fa fa-globe"></i><span translate>zoomto</span></a></li>
            <li ng-if="user['@authenticated'] == 'true'"><a ng-href="catalog.edit#/metadata/{{md['geonet:info'].id}}" target="_blank"><i class="fa fa-pencil"></i><span translate>edit</span></a></li>
            <li ng-if="user['@authenticated'] == 'true'"><a ng-click="mdService.deleteMd(md)"><i class="fa fa-trash-o"></i><span translate>delete</span></a></li>
            <li ng-if="user['@authenticated'] == 'true'" >
              <a ng-click="mdService.publish(md)">
                <i class="fa" data-ng-class="md.isPublished() ? 'fa-lock' : 'fa-unlock'"></i>
                <span data-ng-if="md.isPublished()" translate>unpublish</span>
                <span data-ng-if="!md.isPublished()" translate>publish</span>
              </a>
            </li>
            <li ng-if="user['@authenticated'] == 'true'" class="dropdown-submenu">
              <a tabindex="-1" href="" translate>Other</a>
              <ul class="dropdown-menu ">
                <li><a ng-href="" data-ng-click="mdService.duplicate(md)"><i class="fa fa-copy"></i><span translate>duplicate</span></a></li>
                <li><a ng-href="" data-ng-click="mdService.createChild(md)"><i class="fa fa-sitemap"></i><span translate>createChild</span></a></li>
                <li><a ng-href="" data-ng-click="mdService.openPrivilegesPanel(md, getCatScope())"><i class="fa fa-key"></i><span translate>privileges</span></a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="" translate>Export</a>
              <ul class="dropdown-menu ">
                <li><a ng-href="xml.metadata.get?uuid={{md.getUuid()}}" target="_blank"><i class="fa fa-file-code-o"></i><span translate>exportXML</span></a></li>
                <li><a ng-href="xml_iso19139?uuid={{md.getUuid()}}" target="_blank"><i class="fa fa-file-code-o"></i><span translate>exportcheXML</span></a></li>
                <li><a ng-href="gm03.xml?uuid={{md.getUuid()}}" target="_blank"><i class="fa fa-file-code-o"></i><span translate>exportGM03</span></a></li>
                <li><a ng-href="" data-ng-click="mdService.metadataRDF(md.getUuid())"><i class="fa fa-file-text-o"></i><span translate>exportRDF</span></a></li>
                <li><a ng-href="" data-ng-click="mdService.metadataPrint(md.getUuid())"><i class="fa fa-file-pdf-o"></i><span translate>exportPDF</span></a></li>
                <li><a ng-href="" data-ng-click="mdService.metadataMEF(md.getUuid())"><i class="fa fa-file-zip-o"></i><span translate>exportMEF</span></a></li>
              </ul>
            </li>
          </ul>
        </div>
        <h4>
          <input gn-selection-md type="checkbox" ng-model="md['geonet:info'].selected" ng-change="change()"/>
          <span data-placement="right" gn-tooltip ng-if="md.type.indexOf('dataset')>=0" class="fa fa-database" title="dataset"></span>
          <span data-placement="right" gn-tooltip ng-if="md.type.indexOf('software')>=0" class="fa fa-hdd-o" title="software"></span>
          <span data-placement="right" gn-tooltip ng-if="md.type.indexOf('basicgeodata')>=0" class="fa fa-globe" title="geodata"></span>
          <span data-placement="right" gn-tooltip ng-if="md.type.indexOf('service')>=0" class="fa fa-globe" title="service"></span>
          <a href="" gn-metadata-open="md" gn-metadata-open-selector=".gn-resultview" title="{{md.title || md.defaultTitle}}">{{md.title || md.defaultTitle}}</a>
        </h4>

        <a class="pull-left">
          <img ng-src="../../images/logos/{{md.source}}.gif" class="media-object"/>
        </a>
        <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350" dd-text-collapse-text="{{md.abstract}}"></p>
        <p class="md-date" ng-if="showDate.date">(<i translate>{{showDate.type}}</i> : {{showDate.date}})</p>
        <p class="md-owner">
          (<i translate>owner</i> : <a href="{{pages.admin}}#/organization/users" target="_blank">{{md.getOwnername()}}</a>)</p>
      </div>
    </div>

    <div class="md-links">

      <div class="well well-sm" ng-if="md.category.length > 0 && md.category[0]">
        Categories:
        <i data-ng-repeat="cat in md.category" class="fa" data-ng-class="catIcons[cat]" title="{{cat}}">&nbsp;</i>
      </div>

      <div class="btn-group clearfix" ng-if="links.length > 0">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-link"></span>
          {{links.length}}
          <ng-pluralize count="links.length" when="{'one': 'link', 'other': 'links'}"></ng-pluralize>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="link in links">
            <a href="{{link.url}}" target="_blank">{{link.desc}}</a></li>
        </ul>
      </div>

      <div class="btn-group clearfix" ng-if="downloads.length > 0">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-download"></span>
          {{downloads.length}}
          <ng-pluralize count="downloads.length" when="{'one': 'download', 'other': 'downloads'}"></ng-pluralize>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="link in downloads">
            <a href="{{link.url}}" download="{{link.desc}}">
              <span class="fa fa-file-zip-o" ng-if="link.contentType=='application/zip'"></span>
              {{link.desc}} </a></li>
        </ul>
      </div>

      <div class="btn-group clearfix" ng-if="layers.length > 0">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-globe"></span>
          {{layers.length}}
          <ng-pluralize count="layers.length" when="{'one': 'layer', 'other': 'layers'}"></ng-pluralize>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="layer in layers"><a href="" ng-click="resultviewFns.addMdLayerToMap(layer)">
            <span class="fa fa-google" ng-if="layer.contentType=='application/vnd.google-earth.kml+xml'"></span>
            <span class="fa fa-globe" ng-if="layer.contentType=='application/vnd.ogc.wms_xml'"></span>
            {{layer.desc}} </a></li>
          <li class="divider"></li>
          <li><a href="#">Add all layers</a></li>
        </ul>
      </div>

    </div>

  </li>
</ul>
