<ul class="list-group gn-resultview gn-resultview-sumup">
  <li
    class="list-group-item gn-grid panel panel-default gn-card"
    data-ng-repeat="md in searchResults.records"
    data-gn-displayextent-onhover=""
    data-gn-zoomto-onclick=""
  >
    <div
      class="panel-heading gn-card-heading"
      data-ng-class="{'gn-record-selected': md.selected}"
    >
      <div class="gn-md-title">
        <div class="gn-md-select" data-ng-if="showBatchDropdown">
          <input
            data-gn-selection-md="md"
            data-bucket="searchResults.selectionBucket"
            data-results="searchResults"
            type="checkbox"
            data-ng-model="md.selected"
            aria-label="{{'clickToSelect' | translate}}"
          />
        </div>
        <span
          class="fa gn-icon-{{md.resourceType[0]}}"
          title="{{md.resourceType[0] | translate}}"
        ></span>
        <h1>
          <a
            href=""
            gn-metadata-open="md"
            gn-records="searchResults.records"
            gn-formatter="formatter.defaultUrl"
            title="{{md.resourceTitle}}"
            class="gn-break"
          >
            <i data-ng-show="md.resourceTitle.trim()=='' || md.resourceTitle===undefined"
              >{{'missingTitle' | translate}}</i
            >
            {{(md.resourceTitle) | characters:80}}
          </a>
        </h1>
      </div>
    </div>
    <!-- /.gn-card-heading -->

    <div class="panel-body gn-card-body">
      <div
        title="{{(md.resourceAbstract) | striptags}}"
        class="gn-md-contents"
        gn-metadata-open="md"
        gn-records="searchResults.records"
        gn-formatter="formatter.defaultUrl"
      >
        <!-- Thumbnail -->
        <div
          class="gn-md-thumbnail"
          data-ng-class="{'gn-md-no-thumbnail': !md.overview[0]}"
        >
          <img
            class="gn-img-thumbnail"
            alt="{{md.resourceTitle}}"
            data-ng-src="{{md.overview[0].data || (md.overview[0].url | thumbnailUrlSize)}}"
            data-ng-if="md.overview[0]"
          />
        </div>

        <div class="gn-md-details">
          <div class="gn-md-abstract text-muted">
            <div class="ellipsis">
              <p>{{md.resourceAbstract.split('\n')[0] | striptags}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="gn-md-contact">
        <!-- Handle string and array results -->
        {{[].concat(md[searchResultContact || 'OrgForResource'])[0]}}
      </div>
    </div>
    <!-- /.gn-card-body -->

    <div
      class="panel-footer gn-card-footer clearfix"
      data-ng-class="[{
            'gn-status-bg': showStatusFooterFor && showStatusFooterFor.length > 0
          },
          showStatusFooterFor.indexOf(md.cl_status[0].key) !== -1 ? 'gn-status-' + md.cl_status[0].key + '-bg' : '']"
    >
      <div data-gn-status-badge="md" />
      <div class="gn-toolbar">
        <gn-links-btn class="pull-right"></gn-links-btn>
        <!-- <div data-gn-related-dropdown="md" data-user="user"></div>-->
      </div>
    </div>
    <!-- /.gn-card-footer -->
  </li>
  <!-- /.gn-card -->
</ul>
