<ul class="row gn-info-list">
  <li data-ng-repeat="md in searchResults.records"
      data-gn-fix-mdlinks="">

    <section class="resultcard clearfix"
             data-ng-class="md.getThumbnails().list[0].url ? 'hasThumbnail' : 'noThumbnail'">

      <div class="title">
        <a ng-href="#/metadata/{{md.getUuid()}}">
          <h4>{{md.title || md.defaultTitle}}&nbsp;</h4>
        </a>
      </div>
      
      <div class="gn-md-thumbnail">
        <a href="">
          <div class="gn-img-thumbnail"
               ng-click="resultviewFns && resultviewFns.loadMap ? resultviewFns.loadMap(maps[0], md) : loadMap(maps[0], md)"
               ng-style="{ 'background-image': md.getThumbnails().list[0].url && 'url(' + md.getThumbnails().list[0].url + ')' }">
          </div>
        </a>
      </div>
      
      <div class="content">
        <div class="abstract">
          {{md.abstract || defaultAbstract}}
        </div>
      </div>
    </section>
  </li>
</ul>
