<ul class="list-group gn-resultview gn-resultview-sumup">
  <li class="list-group-item gn-grid"
      data-ng-repeat="md in searchResults.records"
      data-gn-fix-mdlinks=""
      data-gn-displayextent-onhover=""
      data-gn-zoomto-onclick="">

    <!--start top row-->
    <div class="row">
      <input data-gn-selection-md type="checkbox"
             data-ng-model="md['geonet:info'].selected"
             aria-label="{{'clickToSelect' | translate}}"
             data-ng-change="change()"/>

      <!--Source catalog Logo-->
      <a data-ng-if="md.groupWebsite"
         href="{{md.groupWebsite}}"
         target="_blank">
        <img data-ng-src="{{gnUrl}}..{{md.logo}}"
             alt="{{'siteLogo' | translate}}"
             class="gn-source-logo"/>
      </a>
      <img data-ng-if="!md.groupWebsite && md.logo"
           data-ng-src="{{gnUrl}}..{{md.logo}}"
           alt="{{'siteLogo' | translate}}"
           class="gn-source-logo"/>

      <div class="gn-md-category"
           data-ng-class="md.category.length > 0 ||
                            md.topicCat.length > 0 ||
                            md.inspirethemewithac.length > 0 ? '' : 'invisible'">
        <span data-translate="">listOfCategories</span>
        <a data-ng-repeat="cat in ::md.category"
           title="{{('cat-' + cat) | translate}}"
           aria-label="{{('cat-' + cat) | translate}}"
           data-ng-href="#/search?_cat={{cat}}">
          <i class="fa">
            <span class="fa gn-icon-{{cat}}"></span>
          </i>
        </a>
        <a data-ng-repeat="t in md.inspirethemewithac"
           data-ng-href="#/search?inspiretheme={{t.split('|')[1]}}">
          <i class="fa" title="{{t.split('|')[1]}}">
            <span class="fa iti-{{t.split('|')[0]}}"></span>
          </i>
        </a>
        <a data-ng-repeat="t in md.topicCat"
           data-ng-href="#/search?topicCat={{t}}"
           title="{{t | translate}}"
           aria-label="{{t | translate}}">
          <i class="fa">
            <span class="fa gn-icon-{{t}}"></span>
          </i>
        </a>
      </div>
      <div data-gn-metadata-rate="md"
           data-readonly="true"
           class="pull-right"/>
    </div>
    <!--end top row-->
    <div class="row gn-md-title">
      <h3>
        <a href=""
           gn-metadata-open="md"
           gn-records="searchResults.records"
           gn-formatter="formatter.defaultUrl"
           title="{{md.title || md.defaultTitle}}">

          <i class="fa gn-icon-{{md.type[0]}}" title="{{md.type[0] | translate}}"/>
          {{(md.title || md.defaultTitle) | characters:80}}</a>
      </h3>
    </div>

    <!--start middle row-->
    <div title="{{(md.abstract || md.defaultAbstract) | striptags}}"
         gn-metadata-open="md"
         gn-records="searchResults.records"
         gn-formatter="formatter.defaultUrl">
      <!-- Thumbnail -->
      <div class="gn-md-thumbnail">
        <div class="gn-md-no-thumbnail"
             data-ng-if="!md.getThumbnails().list[0].url"></div>
        <img class="gn-img-thumbnail"
             alt="{{md.title || md.defaultTitle}}"
             data-ng-src="{{md.getThumbnails().list[0].url}}"
             data-ng-if="md.getThumbnails().list[0].url"/>
       
      </div>
      

      <div style="float:left; display:block; width: calc(100% - 162px)">

        <div class="text-justify gn-md-abstract ellipsis">
          <div>
            <p>{{(md.abstract || md.defaultAbstract) | striptags}}</p>
          </div>
        </div>

        <div class="row gn-md-details">
          <p ng-if="::!md.getAllContacts().resource">&nbsp;</p>
          <p data-ng-repeat="c in ::md.getAllContacts().resource">
            <img data-ng-if="::c.logo"
                 data-ng-src="{{::c.logo}}"
                 class="gn-source-logo"
                 title="{{::c.name}} ({{::c.role}})"/>
            {{::c.name}}
          </p>
        </div>
      </div>

    </div>
    <!--end middle row-->

    <!--start bottom row-->
    <div>
      <!-- Display the first metadata status (apply to ISO19139 record) -->
      <div data-ng-if="md.status_text.length > 0"
           title="{{md.status_text[0]}}"
           class="gn-status gn-status-{{md.status[0]}}">{{md.status_text[0]}}
      </div> 
      <div class="gn-toolbar">
        <gn-links-btn class="pull-right"></gn-links-btn>
        <div gn-grid-related gn-grid-related-uuid="::md.getUuid()"
             class="pull-right"
             template="../../catalog/views/default/templates/gridRelated.html"></div>
        <div data-ng-if="md.draft == 'e'"
             title="{{'workingCopy' | translate}}"
             class="gn-workingcopy-status pull-right">
          <i class="fa fa-pencil"></i>
          <span>{{'workingCopy' | translate}}</span>
        </div>
      </div>
    </div>

    <!--end bottom row-->
    <div style="clear: both;"></div>
  </li>
</ul>
