<ul class="list-group gn-resultview gn-resultview-sumup">
  <li class="list-group-item gn-grid panel panel-default gn-card"
      data-ng-repeat="md in searchResults.records"
      data-gn-fix-mdlinks=""
      data-gn-displayextent-onhover=""
      data-gn-zoomto-onclick="">

    <div class="panel-heading gn-card-heading">
      <div class="gn-md-title">
        <div class="gn-md-select">
          <input data-gn-selection-md 
                 type="checkbox"
                 data-ng-model="md.selected"
                 aria-label="{{'clickToSelect' | translate}}"
                 data-ng-change="change()"/>
        </div>
        <span class="fa gn-icon-{{md.resourceType[0]}}" title="{{md.resourceType[0] | translate}}"></span>
        <h1>
          <a href=""
             gn-metadata-open="md"
             gn-records="searchResults.records"
             gn-formatter="formatter.defaultUrl"
             title="{{md.resourceTitle}}">
            {{(md.resourceTitle) | characters:50}}
          </a>
        </h1>
      </div>
    </div>
    <!-- /.gn-card-heading -->

    <div class="panel-body gn-card-body">
      <div title="{{(md.resourceAbstract) | striptags}}"
           class="gn-md-contents"
           gn-metadata-open="md"
           gn-records="searchResults.records"
           gn-formatter="formatter.defaultUrl">
        <!-- Thumbnail -->
        <div class="gn-md-thumbnail"
             data-ng-class="{'gn-md-no-thumbnail': !md.overview[0]}">
          <img class="gn-img-thumbnail"
               alt="{{md.resourceTitle}}"
               data-ng-src="{{md.overview[0].url}}?size=140"
               data-ng-if="md.overview[0]"/>
        </div>

        <div class="gn-md-details">
          <div class="gn-md-abstract ">
            <div class="ellipsis">
              <p>{{md.resourceAbstract | striptags}}</p>
            </div>
            <p class="text-muted">
              {{md.OrgForResource[0]}}
            </p>
          </div>
        </div>

      </div>
    </div>
    <!-- /.gn-card-body -->

    <div class="panel-footer gn-card-footer clearfix">
      <div data-ng-if="md.status_text.length > 0"
           title="{{md.status_text[0]}}"
           class="gn-status gn-status-{{md.status[0]}}">{{md.status_text[0]}}
      </div>
      <div class="gn-toolbar">
        <gn-links-btn class="pull-right"></gn-links-btn>
        <div gn-grid-related gn-grid-related-uuid="::md.uuid"
             class="pull-right"
             template="../../catalog/views/default/templates/gridRelated.html"></div>
        <div data-ng-if="md.draft == 'e'"
             title="{{'workingCopy' | translate}}"
             class="gn-workingcopy-status pull-right">
          <i class="fa fa-pencil"></i>
          <span>{{'workingCopy' | translate}}</span>
        </div>
      </div>
    </div>
    <!-- /.gn-card-footer -->
  </li>
  <!-- /.gn-card -->
</ul>
