<ul class="list-group gn-resultview">
  <li
    class="list-group-item gn-list panel panel-default gn-card"
    data-ng-repeat="md in searchResults.records"
    gn-displayextent-onhover=""
    gn-zoomto-onclick=""
  >
    <div
      class="panel-heading gn-card-heading"
      data-ng-class="{'gn-record-selected': md.selected}"
    >
      <div class="gn-md-select" data-ng-if="showBatchDropdown">
        <input
          data-gn-selection-md="md"
          data-bucket="searchResults.selectionBucket"
          data-results="searchResults"
          type="checkbox"
          data-ng-model="md.selected"
          aria-label="{{'clickToSelect' | translate}}"
        />
      </div>

      <div class="gn-md-title">
        <i
          class="fa gn-icon-{{md.resourceType[0]}}"
          title="{{md.resourceType[0] | translate}}"
        ></i>
        <h1>
          <a
            href=""
            gn-metadata-open="md"
            gn-index="$index"
            gn-records="searchResults.records"
            gn-formatter="formatter.defaultUrl"
            title="{{md.title || md.defaultTitle}}"
            aria-label="{{md.resourceTitle}}"
            class="gn-break"
          >
            {{md.resourceTitle}}</a
          >
        </h1>
      </div>
    </div>
    <!-- /.gn-card-heading -->
    <div class="panel-body gn-card-body">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3">
          <div class="gn-md-thumbnail">
            <div class="gn-md-no-thumbnail" data-ng-if="!md.overview[0].url"></div>
            <img
              class="gn-img-thumbnail"
              alt="{{md.title || md.defaultTitle}}"
              data-ng-src="{{md.overview[0].data || (md.overview[0].url | thumbnailUrlSize)}}"
              data-ng-if="md.overview[0].url"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="gn-md-abstract text-muted">
            <p title="{{md.resourceAbstract}}">
              {{md.resourceAbstract.split('\n')[0] | striptags}}
            </p>

            <div
              class="gn-margin-top"
              data-gn-related-list="md"
              data-user="user"
              data-title="{{::('associatedResources' | translate)}}"
            ></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-3">
          <div class="gn-md-contact">
            <p
              data-ng-repeat="c in ::md.getAllContacts().resource | limitTo: 4 track by $index"
              data-ng-if="searchResultContact == 'OrgForResource'"
            >
              <img
                data-ng-if="::c.logo"
                data-ng-src="{{::c.logo}}"
                class="gn-source-logo"
                title="{{::c.organisation}} ({{::c.role}})"
              />
              {{::c.organisation}} ({{::c.role | translate}})
            </p>

            <p
              data-ng-repeat="c in ::md.getAllContacts().distribution | limitTo: 4 track by $index"
              data-ng-if="searchResultContact == 'OrgForDistribution'"
            >
              <img
                data-ng-if="::c.logo"
                data-ng-src="{{::c.logo}}"
                class="gn-source-logo"
                title="{{::c.organisation}} ({{::c.role}})"
              />
              {{::c.organisation}} ({{::c.role | translate}})
            </p>

            <p
              data-ng-repeat="c in ::md.getAllContacts().metadata | limitTo: 4 track by $index"
              data-ng-if="searchResultContact == 'Org'"
            >
              <img
                data-ng-if="::c.logo"
                data-ng-src="{{::c.logo}}"
                class="gn-source-logo"
                title="{{::c.organisation}} ({{::c.role}})"
              />
              {{::c.organisation}} ({{::c.role | translate}})
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.gn-card-body -->
    <div
      class="panel-footer gn-card-footer clearfix"
      data-ng-class="{
         'gn-status-bg': showStatusFooterFor && showStatusFooterFor.length > 0,
         'gn-status-bg-default gn-status-{{md.cl_status[0].key}}-bg':
          showStatusFooterFor.indexOf(md.cl_status[0].key) !== -1
          }"
    >
      <div
        data-ng-if="md.cl_status.length > 0"
        title="{{md.cl_status[0].key | translate}}"
        class="gn-status gn-status-{{md.cl_status[0].key}}"
      >
        {{md.cl_status[0].key | translate}}
      </div>
      <div class="gn-toolbar">
        <div
          class="pull-left gn-md-category"
          title="{{'listOfCategories' | translate}}"
          data-ng-class="md.cat.length > 0 ||
                            md.cl_topic.length > 0 ||
                            md.inspireThemeUri.length > 0 ? '' : 'invisible'"
        >
          <i
            data-ng-repeat="cat in ::md.cat"
            class="fa text-primary gn-icon-{{cat}}"
            title="{{('cat-' + cat) | translate}}"
            aria-label="{{('cat-' + cat) | translate}}"
          >
          </i>
          <i
            data-ng-repeat="t in md.inspireThemeUri track by $index"
            data-ng-init="code = t.slice(t.lastIndexOf('/') + 1)"
            class="fa text-primary iti-{{::code}}"
            title="{{::(md.inspireTheme_syn && md.inspireTheme_syn[$index]) || code}}"
          >
          </i>
          <i
            data-ng-repeat="t in md.cl_topic"
            title="{{t.key | translate}}"
            aria-label="{{t.key | translate}}"
            class="fa text-primary gn-icon-{{t.key}}"
          >
          </i>
        </div>

        <gn-links-btn class="pull-right"></gn-links-btn>
        <!-- <div class="pull-right" data-gn-related-dropdown="md" data-user="user"></div>-->
      </div>
    </div>
    <!-- /.gn-card-footer -->
  </li>
</ul>
