<ul class="list-group gn-resultview gn-resultview-title">
  <li class="list-group-item" data-ng-repeat="md in searchResults.records">
    <input data-gn-selection-md="md"
           data-bucket="searchResults.selectionBucket"
           data-results="searchResults"
           type="checkbox"
           data-ng-model="md.selected"
           aria-label="{{'clickToSelect' | translate}}"/>
    <i class="fa text-muted" data-ng-class="'gn-recordtype-' + md.isTemplate"
       data-ng-show="user.isReviewerOrMore()"
       title="{{('isTemplate' + md.isTemplate) | translate}}"></i>
    <a href=""
       data-ng-href="catalog.search#/metadata/{{md.uuid}}"
       title="{{md.resourceAbstract}}">{{md.resourceTitle}}</a>
  </li>
</ul>
