<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
            version="2.4">
            
    <display-name>geonetwork</display-name>
  
    <!-- H2 DB starter configuration / remove if you don't use H2 -->
    <listener>
      <listener-class>org.h2.server.web.DbStarter</listener-class>
    </listener>
  
    <!-- shut down java cache used for xlinks and spatial index -->
    <listener>
        <listener-class>
            org.apache.jcs.utils.servlet.JCSServletContextListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>gn-servlet</servlet-name>
        <servlet-class>jeeves.server.sources.http.JeevesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

        <!-- Servlet proxy -->
    <servlet>
        <servlet-name>HttpProxy</servlet-name>
        <servlet-class>org.geonetwork.http.proxy.HttpProxyServlet</servlet-class>
        
        <!-- List of allowed content types -->
    <init-param>
      <param-name>AllowedContentTypes</param-name>
      <param-value>
          application/xml,text/xml,
          text/html,
          text/plain,
          application/vnd.ogc.se_xml,
          application/vnd.ogc.se+xml,
          application/vnd.ogc.success+xml,
          application/vnd.ogc.wms_xml,
          application/vnd.ogc.context+xml,
          application/vnd.ogc.gml,
          application/vnd.ogc.sld+xml,
          application/vnd.google-earth.kml+xml,
          application/json
      </param-value>
    </init-param>

    <!-- List of host alloed to be accesed by the proxy: If not specified or empty, any hosts is allowed -->
    <init-param>
        <param-name>AllowedHosts</param-name>
        <param-value />
    </init-param>

    <!-- Default proxy url if none is provided -->
    <init-param>
        <param-name>DefaultProxyUrl</param-name>
        <param-value>http://www.openlayers.org</param-value>
    </init-param>

    <load-on-startup>0</load-on-startup>
    </servlet>

    <!-- Print servlet -->
    <servlet>
        <servlet-name>mapfish.print</servlet-name>
        <servlet-class>org.mapfish.print.servlet.MapPrinterServlet</servlet-class>
        <init-param>
              <param-name>config</param-name>
              <param-value>print-config.yaml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>mapfish.print</servlet-name>
        <url-pattern>/pdf/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HttpProxy</servlet-name>
        <url-pattern>/proxy</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>gn-servlet</servlet-name>
        <url-pattern>/srv/*</url-pattern>
    </servlet-mapping>

    <!-- Web map context servlet -->
    <servlet>
        <servlet-name>wmc</servlet-name>
        <servlet-class>org.geonetwork.map.wmc.WmcServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>wmc</servlet-name>
        <url-pattern>/wmc/*</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <!-- 3 hours -->
        <session-timeout>180</session-timeout>
    </session-config>
</web-app>
