<div class="gn-search-filter col-lg-12 advancedSearchForm">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h3 data-translate="">what</h3>
      <div class="form-group">
        <div class="col-sm-12">
          <label for="categoriesF"
                class="control-label">
            <span data-translate="" class="control-label-span">categories</span>
            <input type="text" id="categoriesF" value=""
                  class="form-control"
                  gn-typeahead="categoriesOptions"
                  gn-values="searchObj.params._cat"/>
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <label for="keywordsF"
                class="control-label">
            <span data-translate="" class="control-label-span">keywords</span>
            <input type="text" id="keywordsF" value=""
                  class="form-control"
                  gn-values="searchObj.params.keyword"
                  gn-typeahead="keywordsOptions"/>
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <label for="orgNameF"
                class="control-label">
            <span data-translate="" class="control-label-span">orgName</span>
            <input type="text" id="orgNameF" value=""
                  class="form-control"
                  gn-values="searchObj.params.orgName"
                  gn-typeahead="orgNameOptions"/>
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-5 gn-search-filter-datepickers">
      <h3 data-translate="">when</h3>
      <div data-gn-period-chooser="resourcesCreatedTheLast"
           data-date-from="searchObj.params.creationDateFrom"
           data-date-to="searchObj.params.creationDateTo"
           class="gn-search-filter-datepicker">
      </div>

      <div data-gn-period-chooser="recordsCreatedTheLast"
           data-date-from="searchObj.params.dateFrom"
           data-date-to="searchObj.params.dateTo"
           class="gn-search-filter-datepicker">
      </div>
    </div>
  </div>
</div>
