<div data-ng-controller="GnSearchSolrController" class="container">

  <div class="row">

    <div class="col-md-8 col-md-offset-2 panel panel-info search">
      <div class="panel-heading">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..."
            data-ng-keyup="$event.keyCode == 13 && search()"
            ng-model="anyField"
            data-ng-model-options="{debounce: 300}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="search()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div><!-- /.col-lg-6 -->

  </div>

  <div class="row results-row">

    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <a href="#">All ({{count}})</a>
        </li>
        <li role="presentation" ng-repeat="f in facets[0].values">
          <a ng-click="filter(f.value)">{{f.value}} ({{f.count}})</a>
        </li>
      </ul>

      <div
        ng-repeat="r in results"
        gn-solr-result record="r" collection="collection"></div>

    </div>

    <div class="col-md-4 results-map-col">

      <div class="sticky">
        <div ngeo-map="searchMap" class="map"></div>

        <div class="table-wrapper"
          ng-if="feature && feature.get('docType') == 'feature'">
          <table class="table table-striped feature-table">
            <tr ng-repeat="(key,value) in feature.getProperties()" ng-if="validProperty(key)">
              <td>{{key.substr(3)}}</td>
              <td title="{{value}}">{{value}}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>
