<?xml version="1.0" encoding="UTF-8"?><strings>
<setting label="System configuration" name="system"/>
<setting label="Language detection" name="autodetect"/>
<setting label="Abilita riconoscimento automatico della lingue di richiesta" name="system/autodetect/enable">
		Se impostato, la lingua di ricerca è rilevata automaticamente. Nota che che ciò non funziona molto bene per termini di ricerca troppo corti.
		</setting>
<setting label="Correzioni automatiche" name="autofixing"/>
<setting label="Abilita" name="system/autofixing/enable">
			Se abilitato, GeoNetwork applicherà automaticamente alcune correzioni quando si salvano i metadati.
		</setting>
<setting label="Hyperlink cliccabili" name="clickablehyperlinks"/>
<setting label="Abilita" name="system/clickablehyperlinks/enable">
			Se abilitato, GeoNetwork visualizzerà gli hyperlinks cliccabili nei metadati.
		</setting>
<setting label="CSW ISO Profile" name="csw"/>
<setting label="Contatto" name="system/csw/contactId"/>
<setting label="Abilita" name="system/csw/enable"/>
<setting label="Il metadato inserito è pubblico" name="system/csw/metadataPublic"/>
<setting label="Servizio Dati Download" name="downloadservice"/>
<setting label="Servizio Dati Download" name="system/downloadservice"/>
<setting label="Usa il collegamento ai metadati così com'è - nessuna modifica" name="system/downloadservice/leave">
				Selezionando questa opzione Geonetwork non gestirà lo scaricamento dei file.
		</setting>
<setting label="Usa il servizio di scaricamento di file di GeoNetwork (resources.get)" name="system/downloadservice/simple">
				Se il protocollo dei metadati è 'Dati per lo scaricamento', allora questo servizio consente all'utente di scaricare la risorsa da Geonetwork senza ulteriori input - è l'interfaccia di scaricamento più semplice
		</setting>
<setting label="Usa il servizio di GeoNetwork di non responsabilità e vincoli (file.disclaimer)" name="system/downloadservice/withdisclaimer">
				e il protocollo dei metadati è 'Dati per lo scaricamento', allora questo servizio consente all'utente lo scaricamento della risorsa da Geonetwork dopo aver accettato i vincoli sui metadati e il disclaimer generico. La risorsa è inserita in un archivio ZIP con un html descrittivo dei vincoli sui metadati e uno snapshot del record dei metadati (come un MEF).
		</setting>
<setting label="Feedback" name="feedback"/>
<setting label="EMail" name="system/feedback/email">
			E' la email dell'amministratore usata per spedire messaggi di feedback.
		</setting>
<setting label="Host SMTP" name="system/feedback/mailServer/host">
			I parametri SMTP host e port sono usati per spedire email agli utenti di Geonetwork quando è scaricata una risorsa.
		</setting>
<setting label="Porta SMTP" name="system/feedback/mailServer/port"/>
<setting name="system/feedback/mailServer/ssl" label="Use SSL"/>
<setting name="system/feedback/mailServer/username" label="User name"/>
<setting name="system/feedback/mailServer/password" label="Password"/>
<setting label="Harvesting" name="harvester"/>
<setting label="Permetti la modifica dei metadati caricati tramite harvesting" name="system/harvester/enableEditing"/>
<setting label="Metadata / ISO19139 / Nil reason attribute with held" name="hidewithheldelements"/>
<setting label="Hide Withheld Elements" name="system/hidewithheldelements/enable"/>
<setting label="Keep Marked Element" name="system/hidewithheldelements/keepMarkedElement"/>
<indexoptimizer>Ottimizzatore dell'indice Lucene</indexoptimizer>
<at>Esegui a</at>
<atSpec>( ora del giorno : minuti es. 23:15 )</atSpec>
<interval>Verrà eseguito ancora ogni</interval>
<hourintervals>
<hour label="1 hour (not recommended)">1</hour>
<hour label="3 hours">3</hour>
<hour label="6 hours">6</hour>
<hour label="12 hours">12</hour>
<hour label="1 day">24</hour>
<hour label="2 days">48</hour>
<hour label="3 days">72</hour>
<hour label="4 days">96</hour>
</hourintervals>
<hours>
<hour label="0">0</hour>
<hour label="1">1</hour>
<hour label="2">2</hour>
<hour label="3">3</hour>
<hour label="4">4</hour>
<hour label="5">5</hour>
<hour label="6">6</hour>
<hour label="7">7</hour>
<hour label="8">8</hour>
<hour label="9">9</hour>
<hour label="10">10</hour>
<hour label="11">11</hour>
<hour label="12">12</hour>
<hour label="13">13</hour>
<hour label="14">14</hour>
<hour label="15">15</hour>
<hour label="16">16</hour>
<hour label="17">17</hour>
<hour label="18">18</hour>
<hour label="19">19</hour>
<hour label="20">20</hour>
<hour label="21">21</hour>
<hour label="22">22</hour>
<hour label="23">23</hour>
</hours>
<minutes>
<minute label="0">0</minute>
<minute label="15">15</minute>
<minute label="30">30</minute>
<minute label="45">45</minute>
</minutes>
<setting label="Ottimizzatore dell'indice Lucene" name="indexoptimizer"/>
<setting label="Hour" name="system/indexoptimizer/at/hour"/>
<setting label="Sec" name="system/indexoptimizer/at/sec"/>
<setting label="Minutes" name="system/indexoptimizer/at/min"/>
<setting label="Abilita" name="system/indexoptimizer/enable"/>
<setting label="Verrà eseguito ancora ogni" name="system/indexoptimizer/interval"/>
<setting label="Day" name="system/indexoptimizer/interval/day"/>
<setting label="Hour" name="system/indexoptimizer/interval/hour"/>
<setting label="Min" name="system/indexoptimizer/interval/min"/>
<setting label="INSPIRE" name="inspire"/>
<setting label="Abilita" name="system/inspire/enable"/>
<setting label="Abilita pannello di ricerca" name="system/inspire/enableSearchPanel"/>
<setting label="Intranet" name="intranet"/>
<setting label="Network" name="system/intranet/netmask"/>
<setting label="Netmask" name="system/intranet/network">
			I parametri di network e netmask sono usati per identificare le connessioni interne a Geonetwork, ovvero per identificare il gruppo intranet.
		</setting>
<setting label="Valutazione Locale" name="localrating"/>
<setting label="Abilita" name="system/localrating/enable">
			Se abilitato, GeoNetwork calcolerà la valutazione dell'utente solamente da questo nodo (non distribuita tra altri nodi di GeoNetwork).
		</setting>
<setting label="Viste metadati" name="metadata"/>
<setting label="Vista di default" name="system/metadata/defaultView"/>
<setting label="Vista INSPIRE" name="system/metadata/enableInspireView"/>
<setting label="Vista ISO" name="system/metadata/enableIsoView"/>
<setting label="Vista base" name="system/metadata/enableSimpleView"/>
<setting label="Vista XML" name="system/metadata/enableXmlView"/>
<setting label="Privilegi dei metadati" name="metadataprivs"/>
<setting label="Imposta i privilegi soltanto al gruppo dell'utente" name="system/metadataprivs/usergrouponly"/>
<setting label="Registro OAI" name="oai"/>
<setting label="Dimensione della cache" name="system/oai/cachesize">
			Il numero di risultati OAI che possono essere salvati nella cache.
		</setting>
<setting label="Ricerca per data" name="system/oai/mdmode">
			Influenza il comportamento di OAI quando i parametri da o fino sono forniti.
			Se impostato su estensione temporale, è ricercata quella della data descritta dai metadati.
			Se impostato su data di modifica, è ricercata la data di ultima modifica dei metadati.
			
			Nota: ricarica GeoNetwork per rendere attive le modifiche.
		</setting>
<datesearchopt>
<dsopt label="estensione temporale">1</dsopt>
<dsopt label="data di modifica">2</dsopt>
</datesearchopt>
<setting label="Scadenza del ResumptionToken" name="system/oai/tokentimeout">
			Numero dei secondi durante i quali un insieme di risultati OAI stanno nella cache e possono essere visionati usando il metodo OAI resumptionToken
			
			Nota: ricarica GeoNetwork per rendere attive le modifiche.
		</setting>
<setting label="Proxy" name="proxy"/>
<setting label="Host" name="system/proxy/host">
			Se abilitato, GeoNetwork userà il proxy indicato per accedere ai nodi remoti. Ad esempio è usato durante l'harvesting.
		</setting>
<setting label="Password" name="system/proxy/password"/>
<setting label="Porta" name="system/proxy/port"/>
<setting label="Usa" name="system/proxy/use"/>
<setting label="Nome Utente" name="system/proxy/username"/>
<setting label="Metadata rimosso" name="removedMetadata"/>
<setting label="Directory" name="system/removedMetadata/dir">
			Directory usata per salvare i metadati in (nel formato MEF) quando sono cancellati.
		</setting>
    <setting name="system/requestedLanguage/ignorechars" label="Characters to ignore during indexing"/>
<requestedlanguageonly>Search only in requested language</requestedlanguageonly>
<requestedlanguage_offonly>All documents in all languages (No
                preferences)</requestedlanguage_offonly>
<requestedlanguageprefer_locale>Prefer documents with translations requested
                language</requestedlanguageprefer_locale>
<requestedlanguageprefer_docLocale>Prefer documents whose language is the requested
                language</requestedlanguageprefer_docLocale>
<requestedlanguage_localeonly>Translations in requested
                language</requestedlanguage_localeonly>
<requestedlanguage_docLocaleonly>Document language is the requested
                language</requestedlanguage_docLocaleonly>
<requestedlanguage_prefer_ui_locale>Prefer documents having translations in the UI language</requestedlanguage_prefer_ui_locale>
<requestedlanguage_only_ui_locale>Only documents having translations in the UI language</requestedlanguage_only_ui_locale>
<requestedlanguage_prefer_ui_docLocale>Prefer documents having the same language as the UI language</requestedlanguage_prefer_ui_docLocale>
<requestedlanguage_only_ui_docLocale>Only documents having the same language as the UI language</requestedlanguage_only_ui_docLocale>


    <setting label="Search &amp; language" name="requestedLanguage"/>
<setting label="Search only in requested language" name="system/requestedLanguage/only"/>
<setting label="Mostra per primi i risultati nella lingua della richiesta" name="system/requestedLanguage/sorted"/>
<setting label="" name="system/requestedLanguage/ignored"/>
<setting label="Statistiche di ricerca" name="searchStats"/>
<setting label="Abilita" name="system/searchStats/enable">
			If set, Statistics on searches will be collected and stored in the database.
		</setting>
<setting label="Metadata Search Results" name="selectionmanager"/>
<setting label="Numero massimo di record selezionati" name="system/selectionmanager/maxrecords"/>
<setting label="Catalog server" name="server"/>
<setting label="Server" name="system/server"/>
<setting label="Host" name="system/server/host">
			I valori host e port sono usati per creare l'URL al server di Geonetwork. Per esempio, sono usati durante la modifica dei metadati per creare i link alle risorse e per creare il documento di capabilities per il servizio CS/W.
			
			Attenzione: dovreste usare GAST per rispecchiare questo cambiamento nei metadati.
		</setting>
<setting label="Porta" name="system/server/port"/>
<setting label="Preferred Protocollo" name="system/server/protocol"/>
<setting label="Secure Port" name="system/server/securePort"/>
<setting label="Shibboleth" name="shib"/>
<setting label="Mappaggio attributi Shibboleth" name="system/shib/attrib"/>
<setting label="Default group" name="system/shib/defaultGroup"/>
<setting label="Percorso" name="system/shib/path"/>
<setting label="EMail" name="system/shib/email"/>
<setting label="Nome Utente" name="system/shib/username"/>
<setting label="Cognome" name="system/shib/surname"/>
<setting label="Nome" name="system/shib/firstname"/>
<setting label="Profile" name="system/shib/profile"/>
<setting label="Abilita" name="system/shib/use"/>
<setting label="Sito" name="site"/>
<setting label="Nome" name="system/site/name">
			Usato per identificare l'installazione.
		</setting>
<setting label="Organizzazione" name="system/site/organization"/>
<setting label="Sito" name="system/site/siteId">
			Identificatore unico del catalogo.
			Dopo la modifica dell'identificatore, aggiornare l'indice ed il logo 
			dal pannello di amministrazione.
		</setting>
<recommendedThreads>Numero di thread consigliato</recommendedThreads>
<reasonForOne>Database non testato o supportato</reasonForOne>
<reasonForMore>Dal numero di processori</reasonForMore>
<setting label="Indexing" name="threadedindexing"/>
<setting label="Numero di thread" name="system/threadedindexing/maxthreads"/>
<setting label="utente &#9;&#9;auto-registrazione" name="userSelfRegistration"/>
<setting label="Abilita" name="system/userSelfRegistration/enable">
			Se impostata gli utenti saranno abilitati a registrarsi da sè. Questi utenti
			sono assegnati al gruppo GUEST. Una email è inviata all'utente con il relativo nome utente e password mediante l'informazione di email di feedback.
			
		</setting>
<setting label="Risolutore XLink" name="xlinkResolver"/>
<setting label="Abilita" name="system/xlinkResolver/enable">
			Se impostato, verranno risolti gli XLinks ai frammenti di metadati.
		</setting>
<setting label="Server Z39.50" name="z3950"/>
<setting label="Abilita" name="system/z3950/enable">
			Se abilitato, durante l'avvio di Geonetwork, verrà attivata la componente Z39.50 del server. Questo componente usa il protocollo ISO23950.
			
			Attenzione: ricarica Geonetwork per rendere attivi i cambiamenti.
		</setting>
<setting label="Porta" name="system/z3950/port">
			Cambia la porta di ingresso Z39.50.
			
			Attenzione: ricarica Geonetwork per rendere attivi i cambiamenti.
		</setting>
<setting name="system/site/siteId">Sito</setting>
<setting name="system/platform/version">Versione:</setting>
<setting name="system/platform/subVersion">Sub-versione:</setting>
<setting label="Subversion repository identifier" name="system/site/svnUuid"/>
<multilingual>Impostazioni per multilinguismo</multilingual>
<autoDetectEnable>Abilita riconoscimento automatico della lingue di richiesta</autoDetectEnable>
<csw>CSW ISO Profile</csw>
<contactId>Contatto</contactId>
<title>Titolo</title>
<abstract>Sunto</abstract>
<fees>Tariffe</fees>
<accessConstraints>Vincoli di accesso</accessConstraints>
<cswMetadataPublic>Il metadato inserito è pubblico</cswMetadataPublic>
<dir>Directory</dir>
<authentication>Autenticazione</authentication>
<otherlogins>Permetti agli utenti di effettuare il login da</otherlogins>
<shib>Shibboleth</shib>
<metadataEnableInspireSearch>Abilita pannello di ricerca</metadataEnableInspireSearch>
<metadataViews>Viste metadati</metadataViews>
<metadataEnableSimpleView>Abilita vista base</metadataEnableSimpleView>
<metadataEnableIsoView>Abilita vista ISO</metadataEnableIsoView>
<metadataEnableInspireView>Abilita vista INSPIRE</metadataEnableInspireView>
<metadataEnableXmlView>Abilita vista XML</metadataEnableXmlView>
<metadataDefaultView>Vista di default</metadataDefaultView>
<metadataSimpleView>Vista base</metadataSimpleView>
<metadataIsoView>Vista ISO</metadataIsoView>
<metadataInspireView>Vista INSPIRE</metadataInspireView>
<metadataXmlView>Vista XML</metadataXmlView>
<metadataAdvancedView>Vista avanzata</metadataAdvancedView>
<save>Salva</save>
<refresh>Ricarica</refresh>
<tips>
<tip id="csw.enable">
			Se impostato, abilita la funzionalità di server CSW ISO Profile. Permette ad altri cataloghi di raccogliere dati da esso.
			<br/>
			<b>Nota:</b> ricarica GeoNetwork per rendere attive le modifiche.
		</tip>
<tip id="csw.contactId">
			Configura il contatto CSW ISO Profile per l'operazione di GetCapabilities..
		</tip>
<tip id="csw.title">Titolo</tip>
<tip id="csw.abstract">Riassunto</tip>
<tip id="csw.fees">Tariffe</tip>
<tip id="csw.accessConstraints">Vincoli di accesso</tip>
</tips>
<data.dataDir>Cartella dati:</data.dataDir>
<data.resources>Cartella risorse:</data.resources>
<data.configDir>Cartella di configurazione:</data.configDir>
<data.schemaPluginsDir>Cartella dei plugin di schema:</data.schemaPluginsDir>
<data.subversionPath>Cartella per subversion:</data.subversionPath>
<data.codeListDir>Cartella dei thesaurus:</data.codeListDir>
<xslt.factory>XSLT factory:</xslt.factory>
<java.vm.name>Nome della JVM:</java.vm.name>
<java.vm.vendor>Vendor della JVM:</java.vm.vendor>
<java.version>Versione della JVM:</java.version>
<os.arch>Architettura del SO:</os.arch>
<os.name>Nome del sistema:</os.name>
<mem.total>Memoria totale:</mem.total>
<mem.free>Memoria totale libera:</mem.free>
<index.size.lucene>Dimensione dell'indice di Lucene (ko):</index.size.lucene>
<index.size>Dimensione totale degli indici (ko):</index.size>
<index.path>Cartella degli indici:</index.path>
<index>Informazioni sul'indice di Lucene</index>
<main>Informazioni sul sistema</main>
<catalogue>Informazioni sul catalogo</catalogue>
<database>Informazioni sul database</database>
<index.lucene.config>Configurazione di Lucene:</index.lucene.config>
<db.url>URL del database:</db.url>
<db.openattempt>Stato del database:</db.openattempt>
<db.numactive>Numero connessioni al db in uso:</db.numactive>
<db.numidle>Numero connessioni al db disponibili:</db.numidle>
<db.maxactive>Massimo numero di connessioni al db:</db.maxactive>
<db.statserror>Statistiche sul db:</db.statserror>
<sequentialExecution>Modalità di esecuzione sequenziale del pool di thread: </sequentialExecution>
</strings>
