<?xml version="1.0" encoding="UTF-8"?>

<strings>
	<setting name="autodetect" label="Language detection"/>
	<setting name="system/autodetect/enable" label="Enable auto-detecting search request language">
		If set, the search language is automatically detected. Note that this doesn't work very well for short search terms.
	</setting>
	
	<setting name="autofixing" label="Metadata update"/>
	<setting name="system/autofixing/enable" label="Automatic Fixes">
		When enabled, GeoNetwork automatically applies certain fixes when you save metadata.
	</setting>
	
	<setting name="clickablehyperlinks" label="Link in metadata records"/>
	<setting name="system/clickablehyperlinks/enable" label="Clickable hyperlinks">If set, GeoNetwork will display clickable hyperlinks in the metadata.</setting>
	
	
	<setting name="csw" label="Catalog Service for the Web (CSW)"/>
	<setting name="system/csw/contactId" label="Contact"/>
	<setting name="system/csw/enable" label="CSW enabled"/>
	<setting name="system/csw/metadataPublic" label="Inserted metadata is public"/>
	
	<setting name="downloadservice" label="Download service"></setting>
	<setting name="system/downloadservice" label="Data-For-Download Service"/>
	<setting name="system/downloadservice/leave" label="Use metadata linkage as is - no changes to linkage">
		Selecting this option means that GeoNetwork will not handle file downloads.
	</setting>
	<setting name="system/downloadservice/simple" label="Use GeoNetwork simple file download service (resources.get)">
		If metadata protocol is 'Data for download' then this service lets the user download the resource from GeoNetwork with no further user input - it is the simplest download interface
	</setting>
	<setting name="system/downloadservice/withdisclaimer" label="Use GeoNetwork disclaimer and constraints service (file.disclaimer)">
		If metadata protocol is 'Data for download' then this service lets the user download the resource from GeoNetwork after they have agreed to accept any metadata constraints/generic disclaimer. The resource is bundled into a zip archive with an html description of the metadata constraints and a snapshot of the metadata record (as a MEF).
	</setting>
	
	
	
	
	<setting name="feedback" label="Feedback"/>
	<setting name="system/feedback/email" label="Email">
		This is the administrator's email address used to send feedback.
	</setting>
	<setting name="system/feedback/mailServer/host" label="SMTP host">
		The SMTP <b>host</b> and <b>port</b> parameters are used to send emails
		to GeoNetwork's users when a resource is downloaded.
	</setting>
	<setting name="system/feedback/mailServer/port" label="SMTP port"/>
	<setting name="system/feedback/mailServer/ssl" label="Use SSL"/>
	<setting name="system/feedback/mailServer/username" label="User name"/>
	<setting name="system/feedback/mailServer/password" label="Password"/>
	
	
	
	<setting name="harvester" label="Harvesters"/>
	<setting name="system/harvester/enableEditing" label="Allow editing on harvested records"/>
	
	
	<setting name="harvesting" label="Harvester notification"/>
	<setting name="system/harvesting/mail/recipient" label="Send to"/>
	<setting name="system/harvesting/mail/template" label="Default template"/>
	<setting name="system/harvesting/mail/templateError" label="Error template"/>
	<setting name="system/harvesting/mail/templateWarning" label="Warning template"/>
	<setting name="system/harvesting/mail/enabled" label="Activate"/>
	<setting name="system/harvesting/mail/subject" label="Subject"/>
	<setting name="system/harvesting/mail/level1" label="Send on Success"/>
	<setting name="system/harvesting/mail/level2" label="Send on Warning"/>
	<setting name="system/harvesting/mail/level3" label="Send on Error"/>
	
	
	<setting name="hidewithheldelements" label="Metadata / ISO19139 / Nil reason attribute with held"/>
	<setting name="system/hidewithheldelements/enable" label="Hide Withheld Elements"/>
	<setting name="system/hidewithheldelements/keepMarkedElement" label="Keep Marked Element"/>
	
	
	
	<indexoptimizer>Lucene Index Optimizer</indexoptimizer>
	<at>Run at</at>
	<atSpec>( hour of day : minute eg. 23:15 )</atSpec>
	<interval>Will run again every</interval>
	<hourintervals>
		<hour label="1 hour (not recommended)">1</hour>
		<hour label="3 hours">3</hour>
		<hour label="6 hours">6</hour>
		<hour label="12 hours">12</hour>
		<hour label="1 day">24</hour>
		<hour label="2 days">48</hour>
		<hour label="3 days">72</hour>
		<hour label="4 days">96</hour>
	</hourintervals>
	<hours>
		<hour label="0">0</hour>
		<hour label="1">1</hour>
		<hour label="2">2</hour>
		<hour label="3">3</hour>
		<hour label="4">4</hour>
		<hour label="5">5</hour>
		<hour label="6">6</hour>
		<hour label="7">7</hour>
		<hour label="8">8</hour>
		<hour label="9">9</hour>
		<hour label="10">10</hour>
		<hour label="11">11</hour>
		<hour label="12">12</hour>
		<hour label="13">13</hour>
		<hour label="14">14</hour>
		<hour label="15">15</hour>
		<hour label="16">16</hour>
		<hour label="17">17</hour>
		<hour label="18">18</hour>
		<hour label="19">19</hour>
		<hour label="20">20</hour>
		<hour label="21">21</hour>
		<hour label="22">22</hour>
		<hour label="23">23</hour>
	</hours>
	<minutes>
		<minute label="0">0</minute>
		<minute label="15">15</minute>
		<minute label="30">30</minute>
		<minute label="45">45</minute>
	</minutes>
	
	<setting name="indexoptimizer" label="Index optimization"/>
	<setting name="system/indexoptimizer/at/hour" label="Hour"/>
	<setting name="system/indexoptimizer/at/sec" label="Sec"/>
	<setting name="system/indexoptimizer/at/min" label="Minutes"/>
	
	<setting name="system/indexoptimizer/enable" label="Enable index optimzer"/>
	<setting name="system/indexoptimizer/interval" label="Interval"/>
	<setting name="system/indexoptimizer/interval/day" label="Day"/>
	<setting name="system/indexoptimizer/interval/hour" label="Hour"/>
	<setting name="system/indexoptimizer/interval/min" label="Min"/>
	
	
	<setting name="inspire" label="INSPIRE Directive configuration"/>
	<setting name="system/inspire/enable" label="INSPIRE"/>
	<setting name="system/inspire/enableSearchPanel" label="INSPIRE search panel"/>
	
	<setting name="intranet" label="Intranet"/>
	<setting name="system/intranet/netmask" label="Network"/>
	<setting name="system/intranet/network" label="Netmask">
		The <b>network</b> and <b>netmask</b> parameters are used to identify
		internal connections to GeoNetwork, that is, to identify the intranet
		group.
	</setting>
	
	
	<setting name="localrating" label="Metadata rating"/>
	<setting name="system/localrating/enable" label="Local rating">
		If set, GeoNetwork will calculate user ratings for metadata from this node only (not distributed among other GeoNetwork nodes).
	</setting>
	
	
	<setting name="metadata" label="Metadata views"/>
	<setting name="system/metadata/defaultView" label="Default view"/>
	<setting name="system/metadata/enableInspireView" label="INSPIRE view"/>
	<setting name="system/metadata/enableIsoView" label="ISO view"/>
	<setting name="system/metadata/enableSimpleView" label="Simple view"/>
	<setting name="system/metadata/enableXmlView" label="XML view"/>
	
	
	<setting name="metadataprivs" label="Metadata privileges"/>
	<setting name="system/metadataprivs/usergrouponly" label="Only set privileges to user's groups"/>
	
	<setting name="oai" label="Open Archive Initiative (OAI-PMH) Provider"/>
	<setting name="system/oai/cachesize" label="Cachesize">
		The number of OAI resultSets that can be stored in the Cache.
	</setting>
	<setting name="system/oai/mdmode" label="Datesearch">
		Influences the behaviour of OAI when parameters from or until are supplied.
		If set to temporal extent, the temporal extent of the date described by the metadata is searched.
		If set to modification date, the date at which the metadata was last modified is searched.
		Please note: restart GeoNetwork to make this change active.
	</setting>
	
	<datesearchopt>
		<dsopt label="Temporal extent">1</dsopt>
		<dsopt label="Modification date">2</dsopt>
	</datesearchopt>
	
	<setting name="system/oai/tokentimeout" label="ResumptionToken Timeout">
		The number of seconds a OAI resultset stays in the cache and can be scrolled using the OAI resumptionToken
		<b>Please note:</b> restart GeoNetwork to make this change active.
	</setting>
	
	<setting name="platform" label="Catalog"/>
	<setting name="system/platform/subVersion" label="Minor version"/>
	<setting name="system/platform/svnUuid" label="SVN UUID"/>
	<setting name="system/platform/version" label="Version"/>
	
	
	
	<setting name="proxy" label="Proxy server"/>
	<setting name="system/proxy/host" label="Proxy Host">
		If set, GeoNetwork will use the provided proxy parameters when accessing
		remote nodes. For example, this is used during the harvesting.
	</setting>
	<setting name="system/proxy/password" label="Proxy user password"/>
	<setting name="system/proxy/port" label="Proxy port"/>
	<setting name="system/proxy/use" label="Use proxy"/>
	<setting name="system/proxy/username" label="Proxy username"/>
	
	<setting name="removedMetadata" label="Removed metadata"/>
	<setting name="system/removedMetadata/dir" label="Directory">
		Directory used to store metadata (in MEF format) when they are deleted.
    </setting>

    <setting name="system/requestedLanguage/ignorechars" label="Characters to ignore during indexing"/>
    <requestedlanguageonly>Search only in requested language</requestedlanguageonly>
    <requestedlanguage_offonly>All documents in all languages (No preferences)</requestedlanguage_offonly>
    <requestedlanguageprefer_locale>Prefer documents with translations requested language</requestedlanguageprefer_locale>
    <requestedlanguageprefer_docLocale>Prefer documents whose language is the requested language</requestedlanguageprefer_docLocale>
    <requestedlanguage_localeonly>Translations in requested language</requestedlanguage_localeonly>
    <requestedlanguage_docLocaleonly>Document language is the requested language</requestedlanguage_docLocaleonly>
    <requestedlanguage_prefer_ui_locale>Prefer documents having translations in the UI language</requestedlanguage_prefer_ui_locale>
    <requestedlanguage_only_ui_locale>Only documents having translations in the UI language</requestedlanguage_only_ui_locale>
    <requestedlanguage_prefer_ui_docLocale>Prefer documents having the same language as the UI language</requestedlanguage_prefer_ui_docLocale>
    <requestedlanguage_only_ui_docLocale>Only documents having the same language as the UI language</requestedlanguage_only_ui_docLocale>


	<setting name="requestedLanguage" label="Search &amp; language"/>
	<setting name="system/requestedLanguage/only" label="Search only in requested language"/>
	<setting name="system/requestedLanguage/sorted" label="Search results in requested language sorted on top"/>
	<setting name="system/requestedLanguage/ignored" label="Ignore requested language for search results."/>
	
	
	<setting name="searchStats" label="Search statistics"/>
	<setting name="system/searchStats/enable" label="Enable">
		If set, Statistics on searches will be collected and stored in the database.
	</setting>
	
	
	<setting name="selectionmanager" label="Metadata Search Results"/>
	<setting name="system/selectionmanager/maxrecords" label="Maximum selected records"/>
	
	<setting name="server" label="Catalog server"/>
	<setting name="system/server" label="Server"/>
	<setting name="system/server/host" label="Host">The server's <b>host</b> and <b>port</b> are used to create URLs to
		the GeoNetwork server. For example, they are used during metadata
		editing to create resource links and when returning the server's
		capabilities during a CS/W request.</setting>
	<setting name="system/server/port" label="Port"/>
	<setting name="system/server/protocol" label="Preferred Protocol"/>
	<setting name="system/server/securePort" label="Secure Port"/>
	
	
	<setting name="shib" label="Shibboleth"/>
	<setting name="system/shib/attrib" label="Shibboleth attribute mapping"/>
	<setting name="system/shib/defaultGroup" label="Default group"/>
	<setting name="system/shib/email" label="Email"/>
	<setting name="system/shib/firstname" label="Firstname"/>
	<setting name="system/shib/fullName" label="Fullname"/>
	<setting name="system/shib/group" label="Group"/>
	<setting name="system/shib/organizationName" label="Organization"/>
	<setting name="system/shib/path" label="Path"/>
	<setting name="system/shib/phone" label="Phone"/>
	<setting name="system/shib/postalAddress" label="Address"/>
	<setting name="system/shib/profile" label="Profile"/>
	<setting name="system/shib/surname" label="Surname"/>
	<setting name="system/shib/use" label="Enable Shibboleth"/>
	<setting name="system/shib/username" label="Username"/>
	
	<setting name="site" label="Catalog"/>
	<setting name="system/site/name" label="Name">Used to identify the installation.</setting>
	<setting name="system/site/organization" label="Organization"/>
	<setting name="system/site/siteId" label="Site">Unique catalogue identifier.
		After changing the site identifier, user should update the index and the logo
		from the administration panel.</setting>
	<setting name="system/site/svnUuid" label="SVN UUID"/>
	
	
	<recommendedThreads>Recommended</recommendedThreads>
	<reasonForOne>Database not tested or doesn't support</reasonForOne>
	<reasonForMore>From number of processors</reasonForMore>
	
	<setting name="threadedindexing" label="Indexing"></setting>
	<setting name="system/threadedindexing/maxthreads" label="Number of indexing threads"/>
	
	
	
	<tip id="userSelfRegistration.enable">
		If set, users will be able to register themselves. Self-registered
		users are assigned to the GUEST group. An email is sent to the
		user with their username and password enclosed using the feedback
		email information.
		<br/>
	</tip>
	
	
	<setting name="userSelfRegistration" label="User self-registration"/>
	<setting name="system/userSelfRegistration/enable" label="Enable self-registration"/>
	
	
	<setting name="xlinkResolver" label="Metadata XLink"></setting>
	<setting name="system/xlinkResolver/enable" label="Enable XLink resolution">
		If set, XLinks to metadata fragments in records will be resolved.
	</setting>

	<setting name="z3950" label="Z39.50"></setting>
	<setting name="system/z3950/enable" label="Enable Z39.50 Server">
		If set, during startup GeoNetwork will start the Z39.50 server component.
		This component uses the ISO23950 protocol.
	</setting>
	<setting name="system/z3950/port" label="Port">
		Change the Z39.50 listening port.
		Please note: restart GeoNetwork to make this change active.
	</setting>
	
	
	<shib>Shibboleth</shib>
	
	
	<multilingual>Multilingual settings</multilingual>
	<autoDetectEnable>Enable auto-detecting search request language</autoDetectEnable>
	


	

	
	<csw>CSW ISO Profile</csw>
	<contactId>Contact</contactId>
	<title>Title</title>
	<abstract>Abstract</abstract>
	<fees>Fees</fees>
	<accessConstraints>Access Constraints</accessConstraints>
	<cswMetadataPublic>Inserted metadata is public</cswMetadataPublic>


	<dir>Directory</dir>

	<authentication>Authentication</authentication>

	<otherlogins>Allow other users to login from</otherlogins>

	<metadataEnableInspireSearch>Enable search panel</metadataEnableInspireSearch>

	<metadataViews>Metadata views</metadataViews>
	<metadataEnableSimpleView>Enable simple view</metadataEnableSimpleView>
	<metadataEnableIsoView>Enable ISO view</metadataEnableIsoView>
	<metadataEnableInspireView>Enable INSPIRE view</metadataEnableInspireView>
	<metadataEnableXmlView>Enable XML view</metadataEnableXmlView>
	<metadataDefaultView>Default view</metadataDefaultView>
	<metadataSimpleView>Simple view</metadataSimpleView>
	<metadataIsoView>ISO view</metadataIsoView>
	<metadataInspireView>INSPIRE view</metadataInspireView>
	<metadataXmlView>XML view</metadataXmlView>
	<metadataAdvancedView>Advanced view</metadataAdvancedView>

	<!-- Buttons -->

	<save>Save</save>
	<refresh>Refresh</refresh>


	<!-- tooltips -->

	<tips>
		<!-- CSW ISO Profile -->
		<tip id="csw.enable">
			If set, this will enable the CSW ISO Profile server functionality. It will allow other catalogs to harvest it.
			<br/>
			<b>Please note:</b> restart GeoNetwork to make this change active.
		</tip>
		<tip id="csw.contactId">
			Configure CSW ISO Profile contact for GetCapabilities operation.
		</tip>
		<tip id="csw.title">Title</tip>
		<tip id="csw.abstract">Abstract</tip>
		<tip id="csw.fees">Fees</tip>
		<tip id="csw.accessConstraints">Access constraints</tip>
	</tips>

	<data.dataDir>Data directory:</data.dataDir>
	<data.resources>Resources directory:</data.resources>
	<data.configDir>Configuration directory:</data.configDir>
	<data.schemaPluginsDir>Schema plugin directory:</data.schemaPluginsDir>
	<data.subversionPath>Subversion directory:</data.subversionPath>
	<data.codeListDir>Thesaurus directory:</data.codeListDir>
	<xslt.factory>XSLT factory:</xslt.factory>
	<java.vm.name>JVM name:</java.vm.name>
	<java.vm.vendor>JVM vendor:</java.vm.vendor>
	<java.version>JVM version:</java.version>
	<os.arch>System architecture:</os.arch>
	<os.name>System name:</os.name>
	<mem.total>Total memory:</mem.total>
	<mem.free>Total free memory:</mem.free>
	<index.size.lucene>Lucene index size (ko):</index.size.lucene>
	<index.size>Total index size (ko):</index.size>
	<index.path>Index directory:</index.path>
	<index>Lucene index information</index>
	<main>System information</main>
	<catalogue>Catalogue information</catalogue>
	<settings>Catalogue configuration</settings>
	<database>Database information</database>
	<setting name="system/site/siteId">Catalogue identifier:</setting>
	<setting name="system/platform/version">Version:</setting>
	<setting name="system/platform/subVersion">Sub-version:</setting>
	<index.lucene.config>Lucene configuration:</index.lucene.config>
	<db.url>Database URL:</db.url>
	<db.openattempt>Database Status:</db.openattempt>
	<db.numactive>Database connections in use:</db.numactive>
	<db.numidle>Database connections available:</db.numidle>
	<db.maxactive>Maximum number of database connections:</db.maxactive>
	<db.statserror>Database statistics:</db.statserror>
	<sequentialExecution>ThreadPool Sequential Execution Mode: </sequentialExecution>
</strings>