<li
  data-ng-class="{'dropdown': isSubmenu}"
  role="menuitem"
  data-ng-hide="isSubmenu && page.pages.length < 1"
>
  <a
    data-ng-if="isSubmenu && section!='record_view_menu'"
    class="dropdown-toggle gn-menuheader-xs"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="true"
  >
    <span
      data-ng-show="page.icon && page.icon.length > 0"
      class="fa fa-fw {{page.icon}}"
    ></span>
    <span>{{page.label}}</span>
    <span class="caret hidden-xs"></span>
  </a>

  <button
    data-ng-if="section=='record_view_menu'"
    type="button"
    class="btn btn-default dropdown-toggle"
    data-toggle="dropdown"
    aria-label="{{'additionalLinks' | translate}}"
    aria-expanded="false"
  >
    <span data-translate="" class="hidden-sm hidden-xs">{{page.label}}</span>
    <span class="caret"></span>
  </button>
  <ul data-ng-if="isSubmenu" class="dropdown-menu gn-menu-xs clearfix">
    <li
      data-ng-repeat="page in page.pages"
      class="gn-menuitem-xs"
      role="menuitem"
      data-ng-init="submenuExternalLink = (page.format == 'LINK' || page.format == 'EMAILLINK' || page.format == 'HTMLPAGE');"
    >
      <a
        data-ng-show="submenuExternalLink"
        title="{{page.label}}"
        href="{{page.link | replaceLinkPlaceholders:context}}"
        target="{{page.link.indexOf('http') === 0 ? '_blank' : '_self'}}"
      >
        <span
          data-ng-show="page.icon && page.icon.length > 0"
          class="fa fa-fw {{page.icon}}"
        ></span>
        <span>{{page.label}}</span>
      </a>
      <a
        data-ng-show="!submenuExternalLink"
        data-gn-active-tb-item="{{gnCfg.mods.page.appUrl + '/' + page.pageId}}?page={{page.pageId}}"
        title="{{page.pageId}}"
        data-ng-click="changePage($event)"
      >
        <span
          data-ng-show="page.icon && page.icon.length > 0"
          class="fa fa-fw {{page.icon}}"
        ></span>
        <span>{{page.label}}</span>
      </a>
    </li>
  </ul>
  <a
    data-ng-if="!isSubmenu && page"
    data-ng-show="isExternalLink"
    title="{{page.label}}"
    href="{{page.link | replaceLinkPlaceholders:context}}"
    target="_blank"
  >
    <span
      data-ng-show="page.icon && page.icon.length > 0"
      class="fa fa-fw {{page.icon}}"
    ></span>
    <span>{{page.label}}</span>
  </a>
  <a
    data-ng-if="!isSubmenu && page"
    data-ng-show="!isExternalLink"
    data-gn-active-tb-item="{{gnCfg.mods.page.appUrl + '/' + page.pageId}}?page={{page.pageId}}"
    title="{{page.pageId}}"
    data-ng-click="changePage($event)"
  >
    <span
      data-ng-show="page.icon && page.icon.length > 0"
      class="fa fa-fw {{page.icon}}"
    ></span>
    <span>{{page.label}}</span>
  </a>
</li>
