<li data-ng-repeat="page in pagesList">
  <a data-ng-show="{{page.format=='LINK'}}" title="{{page.linkText}}" href="{{page.link}}" target="_blank" >
    <i class="fa fa-fw hidden-sm"></i>
    <span>{{page.linkText}}</span>
  </a>
  <a data-ng-show="{{page.format!='LINK'}}" data-gn-active-tb-item="{{gnCfg.mods.page.appUrl + '/' + page.linkText}}?page={{page.linkText}}" title="{{page.linkText}}" data-ng-click="changePage($event)">
    <i class="fa fa-fw hidden-sm"></i>
    <span>{{page.linkText}}</span>
  </a>
</li>
