<div gi-btn-group>
  <div class="btn-group flux" >
    <button gi-btn="active" class="btn btn-default" ng-model="drawPoint.active">Point</button>
    <button gi-btn="active" class="btn btn-default" ng-model="drawLine.active">Linestring</button>
    <button gi-btn="active" class="btn btn-default" ng-model="drawPolygon.active">Polygon</button>
    <button gi-btn="active" class="btn btn-default" ng-model="drawText.active">Text</button>
  </div>
  <input ng-show="drawText.active" ng-model="text">
  <div gn-style-form="featureStyleCfg" gn-style-type="getActiveDrawType()"></div>

  <div class="btn-group flux" >
    <button gi-btn="active" class="btn btn-default"
            data-ng-class="{disabled:vector.getSource().getFeatures().length <= 0}"
            ng-model="modifying">Modify</button>
    <button gi-btn="active" class="btn btn-default"
            data-ng-class="{disabled:vector.getSource().getFeatures().length <= 0}"
            ng-model="deleteF.active">Effacer</button>
  </div>
  <div class="alert alert-warning" role="alert">
    <span class="fa fa-info-circle"></span>
    draw_instruction
  </div>
</div>
