<div >
	<section>
		<h2>
			<span data-translate="">rate</span>
		</h2>		

	</section>

	<section class="gn-userfeedback-sidebar" data-ng-show="fewCommentsList.length">
		<h1>{{rating.ratingAverage}} / 5 <span class="fa fa-fw fa-star">&nbsp;</span></h1>
		<p data-ng-show="fewCommentsList">from {{rating.ratingCount}} ratings</p>

		<ul class="gn-userfeedback-list">
			<li class="gn-userfeedback-item"
				data-ng-repeat="row in fewCommentsList" data-ng-show="row.comment">
				<div class="gn-userfeedback-comment gn-arrow-bottom"> <p>{{row.comment}}</p> 
				on {{row.date | date:'medium'}}
				</div>
				<div class="gn-userfeedback-user">
					<span><strong>{{row.authorName}}</strong></span> <span>{{row.authorOrganization}}</span>
				</div>
			</li>
		</ul>
	</section>

</div>
