# This file has been generated automatically at {{ env("CURRENT_DATE_TIME" , "") }}

# source database URL
# database URLs take the format of:
#   postgres://user:password@host:port/dbname
#
# we recommend a command which outputs a database URL
# so sensitive information is not included in this file
#
# we *highly recommend* you use sslmode=verify-full when possible
# see https://ankane.org/postgres-sslmode-explained for more info
from: postgres://{{ env("PGSYNC_SOURCE_USER", "") }}:{{ env("PGSYNC_SOURCE_PASSWORD", "") }}@{{ env("PGSYNC_SOURCE_HOST", "") }}:{{ env("PGSYNC_SOURCE_PORT", "5432") }}/{{ env("PGSYNC_SOURCE_DBNAME", "") }}

# destination database URL
to: postgres://{{ env("PGSYNC_TARGET_USER", "") }}:{{ env("PGSYNC_TARGET_PASSWORD", "") }}@{{ env("PGSYNC_TARGET_HOST", "") }}:{{ env("PGSYNC_TARGET_PORT", "5432") }}/{{ env("PGSYNC_TARGET_DBNAME", "") }}

groups:
  metadata:
    metadata: "where uuid = '{1}'"
    operationallowed: "where metadataid in (select id from metadata where uuid = '{1}')"
    metadataindicator:  "where metadata_id in (select id from metadata where uuid = '{1}')"

# exclude tables
# exclude:
#   - table1
#   - table2

# define groups
# groups:
#   group1:
#     - table1
#     - table2

# sync specific schemas
# schemas:
#   - public

# protect sensitive information
#data_rules:
#  email: unique_email
#  phone: unique_phone
#  last_name: random_letter
#  birthday: random_date
#  encrypted_*: null