<div class="btn-group baselayer" data-ng-class="dropup ? 'dropup' : ''" data-ng-show="layers.length > 1" sxt-popover-dropdown placement="bottom" fixed-height="false">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span data-translate="">backgroundMap</span>&nbsp;<span class="baselayer-title">{{map.getLayers().item(0).get('title')}}&nbsp;<span class="caret"></span></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="layer in layers">
      <a href="" ng-click="setBgLayer(layer)">
        <span class="fa" ng-class="(layer==map.getLayers().item(0)) ? 'fa-dot-circle-o' : 'fa-circle-o'"></span>
        {{layer.get('title')}}
      </a>
    <li>
  </ul>
</div>
