
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sextant Catalogue service - Metadata &amp; Data - EMODnet Bathymetry</title>
  <meta name="description" content="Developing and providing a harmonised Digital Terrain Model (DTM) for the European sea regions" />
  <meta name="keywords" content="wrecks,hydrography,bathymetry,underwater" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="http://www.emodnet-bathymetry.eu/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="http://www.emodnet-bathymetry.eu/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="http://www.emodnet-bathymetry.eu/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon-precomposed" href="http://www.emodnet-bathymetry.eu/touch-icon-iphone-precomposed.png" />
  <link rel="stylesheet" type="text/css" href="http://www.emodnet-bathymetry.eu/css/style.css" />
  <link rel="stylesheet" type="text/css" href="http://www.emodnet-bathymetry.eu/css/sextant.css" />

  <link rel="icon" href="http://www.emodnet-bathymetry.eu/favicon.ico" type="image/x-icon" />
</head>
<body id="top">
<header><div id="topbar"><div class="logo"><a href="http://www.emodnet.eu" target="_blank">EMODnet Bathymetry</a></div><div class="to-portal"><p class="btn"><a href="http://www.emodnet-bathymetry.eu">Go to website</a></p><div class="header-title"><h2>Portal for Bathymetry</h2><h3>Sextant Catalogue service </h3></div></div></div></header><main><div class="wrapper clearfix">					<div ng-app="gn_search_sextant" ng-controller="GnCatController" class="gn sxt-max-md" sxt-size="auto " ng-include="'../../catalog/views/sextant/templates/index.html'"></div>
  <script type="text/javascript">
    var sxtSettings = {
      langDetector: {
        fromHtmlTag: true,
        regexp: '^\/([a-z]+)\/',
        lang: 'fre'
      },
      configWhat: 'EMODNET_HYDROGRAPHY_CPRD',
      tabOverflow : {
        search: true
      },
      theme: 'emodnet-bathymetry'
    };
  </script>

  <script src="//localhost:8080/geonetwork/static/lib.js"></script>
  <script src="//localhost:8080/geonetwork/static/gn_search_sextant.js"></script>

</div></main></body>
</html>
