<div class="btn-group" ng-if="relations.length > 0">
  <button type="button" class="btn dropdown-toggle btn-sm" data-toggle="dropdown" title="Relations">
    <span class="fa fa-sitemap"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="r in relations | gnRelationsFilter:'parent'">
      <a href="#/metadata/{{r['geonet:info']['uuid']}}" title="{{getTitle(r)}}">
        {{getTitle(r)}}
      </a>
    </li>
    <li data-ng-if="getByTypes('parent').length > 0 && getByTypes('children').length > 0" role="presentation" class="divider"></li>
    <li ng-repeat="r in ::relations | gnRelationsFilter:'children'">
      <a href="#/metadata/{{r['geonet:info']['uuid']}}" title="{{getTitle(r)}}">
        {{getTitle(r)}}
      </a>
    </li>
  </ul>
</div>
