<div class="btn-group" ng-if="relationFound" sxt-popover-dropdown placement="bottom" container="{{container}}" className="sxt-popover-grid">
  <button type="button"
          class="btn dropdown-toggle btn-sm btn-default"
          data-toggle="dropdown"
          title="Relations">
    <span class="fa fa-code-fork"></span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" sxt-custom-scroll>
    <li data-ng-repeat="r in ::relations.parent track by $index">
      <a href="#/metadata/{{r.id}}"
         title="{{r.title | gnLocalized: lang}}">
        {{r.title | gnLocalized: lang}}
      </a>
    </li>
    <li data-ng-if="relations.parent.length > 0 && relations.children.length > 0"
        role="presentation"
        class="divider"></li>
    <li data-ng-repeat="r in ::relations.children track by $index">
      <a href="#/metadata/{{r.id}}"
         title="{{r.title | gnLocalized: lang}}">
        {{r.title | gnLocalized: lang}}
      </a>
    </li>
  </ul>
</div>
