<div data-ng-controller="gnsSextantSearchForm">

  <div class="form-horizontal" role="form">

    <!--any field-->
    <div class="input-group gn-search-input">
      <input type="text" ng-model="searchObj.params.any" placeholder="{{'anyPlaceHolder' | translate}}"
             typeahead="address for address in getAnySuggestions($viewValue)" typeahead-focus-first="false" typeahead-loading="anyLoading" class="form-control"
             typeahead-min-length="1" id="anySearchField" autocomplete="off">
      <i ng-show="anyLoading" class="fa fa-refresh inner-spinner"></i>
        <span class="input-group-btn">
          <button type="submit" data-ng-click="triggerSearch()" class="btn btn-default">
            <i class="fa fa-search"></i>
          </button>
          <button type="submit" data-ng-click="resetSearch()" class="btn btn-default">
           <span class="close">x</span>
          </button>
        </span>
    </div>

    <!--Map field-->
    <div gn-map-field="searchObj.searchMap" gn-map-field-geom="searchObj.params.geometry"></div>

    <!--multi facets groups-->
    <div gn-facet-multiselect="_groupPublished" gn-facet-multiselect-collapsed="true"></div>

    <!--Category Tree-->
    <div class="gn-facet">
      <h5 gn-collapse="{{categorytreeCollapsed}}">
        <span class="fa fa-arrow-circle-o-right" ng-class="{'fa-rotate-90': !collapsed}"></span>
        {{'sextantThemes' | translate}}
      </h5>
      <div sxt-category-tree class="sxt-categorytree" ng-class="{'collapse': categorytreeCollapsed}" sxt-category-tree-conf="thesaurus[0]"></div>
    </div>

    <!--TEST FACET MULTI-->
    <div gn-facet-multiselect="inspireTheme" gn-facet-multiselect-collapsed="true"></div>
    <div gn-facet-multiselect="keyword" gn-facet-multiselect-collapsed="true"></div>
    <div gn-facet-multiselect="orgName" gn-facet-multiselect-collapsed="true"></div>
    <div gn-facet-multiselect="createDateYear" gn-facet-multiselect-collapsed="true"></div>

    <!--downloadable / visualisable checkboxes-->
    <div class="form-group" ng-if="advanced">
      <label for="groupF" class="col-md-4 col-sm-12 control-label" translate>dataset</label>
      <div class="col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox"> <span translate>visualizable</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> <span translate>downloadable</span>
          </label>
        </div>
      </div>
    </div>

    <fieldset ng-if="advanced">
      <legend translate>Who</legend>

      <!--Organisation-->
      <div class="form-group">
        <label for="orgNameF" class="col-md-4 col-sm-12 control-label" translate>organisation</label>
        <div class="col-sm-8">
          <input type="text" id="orgNameF" value="" class="form-control" gn-values="searchObj.params.orgName" gn-typeahead="orgNameOptions"/>
        </div>
      </div>
    </fieldset>

    <fieldset ng-if="advanced">

      <legend translate>When</legend>

      <div class="form-group">
        <label class="col-md-4 col-sm-12 control-label" translate>from</label>
        <div class="input-group date col-sm-8" data-date="" data-date-format="dd-mm-yyyy"
          gn-bootstrap-datepicker="searchObj.params.creationDateFrom">
          <input class="form-control" type="text">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 col-sm-12 control-label" translate>to</label>
        <div class="input-group date col-sm-8" data-date="" data-date-format="dd-mm-yyyy"
          gn-bootstrap-datepicker="searchObj.params.creationDateTo">
          <input class="form-control" type="text">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>

    </fieldset>
  </div>
</div>
