<div data-ng-controller="gnsSextantSearchForm" class="form-horizontal" role="form">

  <!--any field-->
  <div class="input-group gn-search-input">
    <input type="text" placeholder="{{'anyPlaceHolder' | translate}}"
      class="form-control" id="anySearchField" autocomplete="off"
      ng-model="searchObj.params.any"
      typeahead="address for address in getAnySuggestions($viewValue)"
      typeahead-focus-first="false"
      typeahead-loading="anyLoading"
      typeahead-min-length="1"
      typeahead-wait-ms="300">
    <i ng-show="anyLoading" class="fa fa-refresh inner-spinner"></i>
      <span class="input-group-btn">
        <button type="submit" data-ng-click="triggerSearch()" class="btn btn-default search-btn">
          <i class="fa fa-search"></i>
        </button>
      </span>
  </div>

  <!--Map field-->
  <div gn-map-field="searchObj.searchMap" gn-map-field-geom="searchObj.params.geometry" gn-map-field-opt="mapfieldOpt"
       template="../../catalog/views/sextant/templates/map/mapfield.html"></div>

  <div class="sxt-searchform-content">

    <div data-ng-repeat="facet in ::facetConfig">

      <!--Standard multi facet panel-->
      <div data-ng-if="::!facet.tree" gn-facet-multiselect="{{::facet.langs[lang] || facet.key}}" gn-facet-multiselect-title="{{facet.labels[lang]}}"
           gn-facet-multiselect-filter="{{::facet.filter}}"
           gn-facet-multiselect-collapsed="{{::facet.opened !== true && isFacetsCollapse(facet.langs[lang] || facet.index || facet.key)}}"></div>

      <!--Tree facets-->
      <div data-ng-if="::facet.tree" sxt-facet-tree="{{::facet.langs[lang] || facet.key}}" sxt-facet-tree-title="{{facet.labels[lang]}}"
           sxt-facet-tree-filter="{{::facet.filter}}"
           sxt-facet-tree-collapsed="{{::facet.opened !== true && isFacetsCollapse(facet.langs[lang] || facet.index || facet.key)}}"></div>

    </div>
  </div>
</div>

<button type="submit" data-ng-click="resetSearch()" class="btn btn-default sxt-reset-btn" data-ng-disabled="!searchObj.canReset" translate>resetFilter</button>
