<div class="gn-sort-by">
  <div class="pull-left">
    <span translate>sortBy</span>&nbsp;:&nbsp;
  </div>
  <div class="btn-group pull-right">
    <button type="button"
            class="btn btn-link dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="false">
      <span>{{params.sortBy | translate}}</span>&nbsp;
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li data-ng-repeat="v in ::values"
          data-ng-class="v.sortBy === params.sortBy ? 'disabled' : ''">
        <a data-ng-click="sortBy(v)">{{v.sortBy | translate}}</a></li>
    </ul>
  </div>
</div>
