<div class="row gn-env">
  <div
    class="col-lg-12"
    data-ng-repeat="section in infoSection"
    data-ng-show="(info[section.key] | json) != '{}'"
  >
    <div class="panel panel-default">
      <div class="panel-heading" data-gn-slide-toggle="">
        {{(section.label || (section.key + 'Information')) | translate}}
      </div>
      <div class="panel-body">
        <span>
          <table class="table">
            <tr data-ng-repeat="(key, value) in info[section.key]">
              <td>{{key | translate}}</td>
              <td>
                <strong>{{value}}</strong>
              </td>
            </tr>
          </table>
        </span>

        <div data-ng-if="section.help" data-gn-need-help="{{section.help}}"></div>
      </div>
    </div>
  </div>
</div>
