<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"
           data-gn-slide-toggle=""
           data-translate="">catalogInformation
      </div>
      <div class="panel-body">
        <span>
          <table class="table">
            <tr data-ng-repeat="(key, value) in info.catalogue">
              <td>{{key | translate}}</td>
              <td>
                <strong>{{value}}</strong>
              </td>
            </tr>
          </table>
        </span>

        <div data-gn-need-help="maintainer-guide/index.html"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"
           data-gn-slide-toggle=""
           data-translate="">dbInformation
      </div>
      <div class="panel-body">
        <span>
          <table class="table">
            <tr data-ng-repeat="(key, value) in info.database">
              <td>{{key | translate}}</td>
              <td>
                <strong>{{value}}</strong>
              </td>
            </tr>
          </table>
        </span>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"
           data-gn-slide-toggle=""
           data-translate="">systemInformation
      </div>
      <div class="panel-body">
        <span>
          <table class="table">
            <tr data-ng-repeat="(key, value) in info.main">
              <td>{{key | translate}}</td>
              <td>
                <strong>{{value}}</strong>
              </td>
            </tr>
          </table>
        </span>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"
           data-gn-slide-toggle=""
           data-translate="">versionInformation
      </div>
      <div class="panel-body">
        <span>
          <table class="table">
            <tr data-ng-repeat="(key, value) in info.version">
              <td>{{key | translate}}</td>
              <td>
                <strong>{{value}}</strong>
              </td>
            </tr>
          </table>
        </span>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"
           data-gn-slide-toggle=""
           data-translate="">indexInformation
      </div>
      <div class="panel-body">
        <span>
          <table class="table">
            <tr data-ng-repeat="(key, value) in info.index">
              <td>{{key | translate}}</td>
              <td>
                <span data-ng-switch="" data-on="key">
                  <pre data-ng-switch-when="index.lucene.config">
                                    {{value}}
                                </pre>
                  <strong data-ng-switch-default="">{{value}}</strong>
                </span>
              </td>
            </tr>
          </table>
        </span>
      </div>
    </div>
  </div>
</div>
