<div class="row" data-ng-controller="GnDashboardStatusController">
  <div class="col-lg-4">
    <div class="panel panel-default" data-ng-hide="healthy === undefined"
      data-ng-class="healthy ? 'panel-success' : 'panel-danger'">
      <div class="panel-heading" data-translate="">systemStatus</div>

      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" data-ng-repeat="info in healthcheck">
            <span class="badge"
              data-ng-class="info.status === 'OK' ? 'badge-success' : 'badge-danger'">
              {{info.status}} </span>
            <h4 class="list-group-item-heading"> {{info.name}} </h4>
            <p class="list-group-item-text" data-ng-hide="!info.msg">{{info.msg}}</p>
            <p class="list-group-item-text" data-ng-hide="!info.exception">{{info.exception}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">databaseStatus</div>
      <div class="panel-body">
        <span id="g1" class="gn-chart-small" data-gn-gauge="{{'dbPoolActive' | translate}}"
          data-gn-gauge-max="info.database['db.maxactive']"
          data-gn-gauge-value="info.database['db.numactive']" data-ng-model="info"/>
        <span id="g2" class="gn-chart-small" data-gn-gauge="{{'dbPoolIdle' | translate}}"
          data-gn-gauge-max="info.database['db.maxactive']"
          data-gn-gauge-value="info.database['db.numidle']" data-ng-model="info"/>
      </div>
    </div>
  </div>
  <div class="col-lg-12" data-ng-hide="mdWithIndexingError">
    <div class="panel panel-default panel-danger">
      <div class="panel-heading" data-translate="">metadataWithIndexingErrors</div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr data-ng-repeat="md in mdWithIndexingError">
            <td>{{md.title}}</td>
            <td>{{md.idxMsg}}</td>
            <td>
              <button type="button" class="btn btn-small"
                data-ng-click="metadataEdit(md['geonet:info'].uuid)" data-translate="">edit</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
