<div class="row" data-ng-controller="GnDashboardContentStatController">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">mainContentStatistics</div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr data-ng-repeat="(key, value) in statistics.md.mainStatistics track by $index">
            <td>{{key | translate}}</td>
            <td class="text-right">{{value}}</td>
          </tr>
        </table>

        <button type="button" class="btn btn-small"
          data-ng-click="csvExport([statistics.md.mainStatistics], $event)" data-translate=""
          >csvExport</button>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">mostPopularRecords</div>
      <div class="panel-body">
        <div data-ng-controller="GnDashboardContentStatControllerPopularity">
          <h2 data-translate="">mostPopular</h2>
          <form class="form-horizontal" role="form"
                data-ng-search-form="" runSearch="true">
            <table class="table table-striped">
              <tr data-ng-repeat="md in searchResults.records">
                <td>{{md.title || md.defaultTitle}}</td>
                <td class="text-right">{{md.popularity}}</td>
                <td>
                  <a data-ng-href="../../?uuid={{md['geonet:info'].uuid}}">
                    <i class="fa fa-eye"/>
                  </a>
                </td>
              </tr>
            </table>
            <div data-gn-pagination="paginationInfo"></div>
          </form>
        </div>
        <div data-ng-controller="GnDashboardContentStatControllerRating">
          <h2 data-translate="">bestRated</h2>
          <form class="form-horizontal" role="form"
                data-ng-search-form="" runSearch="true">
            <table class="table table-striped">
              <tr data-ng-repeat="md in searchResults.records">
                <td>{{md.title || md.defaultTitle}}</td>
                <td class="text-right">{{md.rating}}</td>
                <td>
                  <a data-ng-href="../../?uuid={{md['geonet:info'].uuid}}">
                    <i class="fa fa-eye"/>
                  </a>
                </td>
              </tr>
            </table>
            <div data-gn-pagination="paginationInfo"></div>
          </form>
        </div>
        <h2>
          <span data-translate="">recordsBy</span>
          <select class="form-control" data-ng-model="currentIndicator"
            data-ng-options="(key | translate) for (key, value) in searchInfo.facet"> </select>
        </h2>

        <svg id="gn-stat-md-by-facet" class="gn-chart"/>

        <div class="help-block" data-ng-translate="">facetIndicatorHelp</div>

        <h2 data-translate="">recordsByCategory</h2>
        <svg id="gn-stat-md-by-category" class="gn-chart"/>
      </div>
    </div>
  </div>


  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">recordsAuthor</div>
      <div class="panel-body">
        <h2 data-translate="">byOwner</h2>
        <svg id="gn-stat-md-by-owner" class="gn-chart"/>

        <h2 data-translate="">byGroupOwner</h2>
        <svg id="gn-stat-md-by-groupowner" class="gn-chart"/>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">recordsState</div>
      <div class="panel-body">
        <h2 data-translate="">byStatus</h2>
        <svg id="gn-stat-md-by-status" class="gn-chart"/>

        <h2 data-translate="">byValidity</h2>
        <svg id="gn-stat-md-by-validity" class="gn-chart"/>
      </div>
    </div>
  </div>


  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">recordsType</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <h3 data-translate="">byTemplate</h3>
            <svg id="gn-stat-md-by-template" class="gn-chart"/>
          </div>

          <div class="col-lg-6">
            <h3 data-translate="">bySchema</h3>
            <svg id="gn-stat-md-by-schema" class="gn-chart"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
