<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate="">versionHistory</div>
      <div class="panel-body" data-ng-controller="GnVcsController">

        <!-- Record events -->
        <div data-gn-history=""></div>

        <!-- VCS history - old features not much supported now. -->
        <section>
          <h2><i class="fa fa-fw fa-chevron-left"/><span data-translate="">vcshistory</span></h2>

          <div class="panel-body" data-ng-controller="GnVcsController">
            <div class="alert alert-info"
                 data-ng-show="logs.length === 0"
                 data-translate="">
              noCommitAvailable
            </div>
            <ul class="gn-history">
              <li data-ng-repeat="log in logs.entry">
                {{log.title}}
                was <strong>{{log.action}}</strong>
                by <strong>{{log.user}}</strong> {{log.date | gnFromNow}}
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
