<div class="panel panel-default">
  <div class="panel-heading" data-gn-slide-toggle="">
    <i class="fa fa-lightbulb"></i>&nbsp; <span data-translate="">suggestions</span>&nbsp;
  </div>
  <div class="panel-body">
    <div class="btn-toolbar" role="toolbar">
      <button type="button" class="btn btn-default btn-xs" data-ng-click="load()">
        <i data-ng-hide="loading" class="fa fa-fw fa-refresh"></i>
        <i data-ng-show="loading" class="fa fa-fw fa-spinner fa-spin"></i>
        <span data-translate="">suggestions</span>
      </button>
    </div>
    <!-- /.btn-toolbar -->
    <div class="list-group gn-margin-top" data-ng-show="suggestions.length !== 0">
      <a
        href=""
        class="list-group-item"
        data-ng-repeat="sugg in suggestions | orderBy:'name'"
        data-ng-click="gnSuggestion.onSuggestionClick(sugg)"
      >
        {{sugg.name}}
      </a>
    </div>
  </div>
</div>
