<div>
  <div class="alert alert-info">{{currentSuggestion.name}}</div>
  <form class="form-horizontal" role="form">
    <input type="hidden" name="_csrf" value="{{csrf}}"/>
    <div class="form-group" data-ng-repeat="(key,param) in processParams">
      <label
        data-ng-if="param.type == 'string' || param.type == 'textarea' || param.type == 'expression' || param.type == 'codelist'"
        class="col-sm-4 control-label">
        {{key | translate}}
      </label>
      <div data-ng-if="param.type == 'string'" class="col-sm-8">
        <input type="text"
               data-ng-model="params[key]"/>
      </div>
      <div data-ng-if="param.type == 'textarea'" class="col-sm-8">
        <textarea class="form-control"
                  data-gn-autogrow=""
                  data-ng-model="params[key]"></textarea>
      </div>
      <div data-ng-if="param.type == 'expression'" class="col-sm-8">
        <input type="text"
               data-ng-model="params[key]"/>
      </div>
      <div data-ng-if="param.type == 'codelist'" class="col-sm-8">
        <div class="form-control"
             data-schema-info-combo="codelist"
             data-selected-info="params[key]"
             data-gn-schema-info="{{param.codelist}}"
             lang="lang">
        </div>
      </div>
      <div data-ng-if="param.type == 'boolean'" class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" data-ng-model="params[key]" data-ng-true-value="'1'" data-ng-false-value="'0'"/>
            {{key | translate}}
          </label>
        </div>
      </div>
    </div>
  </form>
  <button type="button" class="btn navbar-btn btn-success"
          data-ng-click="runProcess()"
          data-ng-disabled="processing">
    <i class="fa fa-play"/>&nbsp;
    <span data-translate="">process</span>&nbsp;
    <i data-ng-if="processing" class="fa fa-spinner fa-spin"/>
  </button>
</div>
